Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, pylint

eslint:
  name: ESLint
  language: system
  entry: ./.bin/pre-commit-lint.sh

pylint:
  name: pylint
  entry: pylint
  language: system
  require_serial: true
  args:
  - --source-roots=./bc_obps
  - --recursive=y

chore: debug playwright and zap owasp
  .github/workflows/test.yaml
Due: none

chore: add zap owasp backend
  .github/workflows/test.yaml
Due: none

chore: bring back detached flag
  .github/actions/local-app-run/action.yml
Due: none

chore: debug playwright and zap owasp
  .github/actions/local-app-run/action.yml
Due: none

chore: debug playwright and zap owasp
  .github/actions/local-app-run/action.yml
  .github/workflows/test.yaml
Due: none

chore: fix caching issue and remove docker detached flag
  .github/actions/dev-env-setup/action.yml
  .github/actions/local-app-run/action.yml
Due: none

docs: add e2e test docs
  README.md
  client/playwright.config.ts
  docs/README.md
  docs/developer-guide.md
Due: eslint

chore: cleanup
  .github/workflows/test.yaml
Due: none

chore: add yarn audit to CI
  .github/workflows/test.yaml
  client/package.json
  client/yarn.lock
Due: none

docs: update README file for e2e setup
  docs/developer-environment-setup.md
Due: none

chore: bypass sonar issue
  client/e2e/example.spec.ts
Due: eslint

chore: create operation endpoint
  bc_obps/bc_obps/api.py
  bc_obps/bc_obps/urls.py
Due: pylint

chore: create operation endpoint
  bc_obps/registration/api.py
Due: pylint

chore: create operation endpoint
  bc_obps/bc_obps/api.py
  bc_obps/bc_obps/urls.py
  bc_obps/registration/api.py
Due: pylint

Path conditions:
  eslint: any of: \.(j|t)sx?$
  pylint: any of: \.py$
