Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy

eslint:
  name: ESLint
  language: system
  entry: ./.bin/pre-commit-lint.sh

mypy:
  name: Mypy
  language: system
  entry: ./.bin/pre-commit-mypy.sh

chore: add reporting fixtures for compliance use
  bc_obps/reporting/fixtures/mock/facility_report.json
  bc_obps/reporting/fixtures/mock/raw_report_activity_data.json
  bc_obps/reporting/fixtures/mock/report_activity.json
  bc_obps/reporting/fixtures/mock/report_emission.json
  bc_obps/reporting/fixtures/mock/report_fuel.json
  bc_obps/reporting/fixtures/mock/report_product.json
  bc_obps/reporting/fixtures/mock/report_product_emission_allocation.json
  bc_obps/reporting/fixtures/mock/report_source_type.json
  bc_obps/reporting/fixtures/mock/report_unit.json
  bc_obps/reporting/fixtures/mock/report_version.json
  bc_obps/reporting/management/commands/load_reporting_fixtures.py
Due: mypy

chore: fix compliance fixtures
  bc_obps/compliance/fixtures/mock/compliance_obligations.json
  bc_obps/compliance/fixtures/mock/compliance_products.json
  bc_obps/compliance/fixtures/mock/compliance_summaries.json
Due: none

chore: created additional reporting fixtures + compliance fixtures
  bc_obps/common/management/commands/custom_migrate.py
  bc_obps/compliance/fixtures/mock/compliance_obligations.json
  bc_obps/compliance/fixtures/mock/compliance_products.json
  bc_obps/compliance/fixtures/mock/compliance_summaries.json
  bc_obps/registration/fixtures/mock/address.json
  bc_obps/registration/fixtures/mock/operation.json
  bc_obps/reporting/fixtures/mock/report.json
  bc_obps/reporting/fixtures/mock/report_emission_allocation.json
  bc_obps/reporting/fixtures/mock/report_product.json
  bc_obps/reporting/fixtures/mock/report_product_emission_allocation.json
  bc_obps/reporting/management/commands/load_reporting_fixtures.py
Due: mypy

chore: fix id in compliance
  bc_obps/compliance/fixtures/mock/compliance_obligations.json
  bc_obps/compliance/fixtures/mock/compliance_products.json
Due: none

chore: add credited emissions data
  bc_obps/compliance/fixtures/mock/compliance_products.json
  bc_obps/compliance/fixtures/mock/compliance_summaries.json
  bc_obps/reporting/fixtures/mock/facility_report.json
  bc_obps/reporting/fixtures/mock/report_activity.json
  bc_obps/reporting/fixtures/mock/report_emission.json
  bc_obps/reporting/fixtures/mock/report_fuel.json
  bc_obps/reporting/fixtures/mock/report_product_emission_allocation.json
  bc_obps/reporting/fixtures/mock/report_source_type.json
  bc_obps/reporting/fixtures/mock/report_unit.json
Due: none

chore: fix no credit no excess emission
  bc_obps/compliance/fixtures/mock/compliance_summaries.json
Due: none

chore: remove unnecessary product
  bc_obps/reporting/fixtures/mock/report_product.json
Due: none

chore: fix report version error
  bc_obps/reporting/fixtures/mock/report_version.json
  bc_obps/reporting/management/commands/load_reporting_fixtures.py
Due: mypy

chore: simplify load_reporting_fixtures
  bc_obps/reporting/management/commands/load_reporting_fixtures.py
Due: mypy

chore: added migration for email template for BORO ID issuance
  bc_obps/common/migrations/0043_boro_id_issuance_email_template.py
Due: mypy

chore: migrations to update email templates
  bc_obps/common/migrations/0044_boro_id_issuance_email_template.py
  bc_obps/common/migrations/0045_access_request_emails.py
  bc_obps/common/migrations/0046_access_request_emails.py
  bc_obps/common/migrations/0047_registration_submission_email.py
Due: mypy

chore: removed opted_in flag from send_boro_id_application_email logic - no longer needed
  bc_obps/registration/emails.py
  bc_obps/registration/tests/test_emails.py
Due: mypy

chore: fixed sonarcloud smell; fixed email template retrieval by name typing issue
  bc_obps/registration/tests/models/test_operation.py
  bc_obps/service/data_access_service/email_template_service.py
  bc_obps/service/tests/test_operation_service.py
Due: mypy

chore: tweak email functions and enums
  bc_obps/registration/emails.py
  bc_obps/registration/enums/enums.py
  bc_obps/registration/tests/test_emails.py
  bc_obps/service/data_access_service/email_template_service.py
  bc_obps/service/operation_service.py
  bc_obps/service/user_operator_service.py
Due: mypy

chore: function to get operation reps for an operation
  bc_obps/registration/models/operation.py
  bc_obps/registration/tests/models/test_operation.py
Due: mypy

chore: updated test_send_reg_and_boro_id_email working; refactored TestSendOperatorAccessRequestEmail for consistency
  bc_obps/registration/tests/test_emails.py
Due: mypy

chore: rename update_status endpoint to submit
  bc_obps/registration/api/_operations/_operation_id/_registration/submission.py
  bc_obps/service/operation_service.py
  bc_obps/service/tests/test_operation_service.py
Due: mypy

chore: fixed failing pytest for get_operation_representatives
  bc_obps/registration/tests/models/test_operation.py
  bc_obps/service/data_access_service/email_template_service.py
Due: mypy

chore: renamed migration files to fix multi leaf nodes error
  bc_obps/common/migrations/0045_boro_id_issuance_email_template.py
  bc_obps/common/migrations/0046_access_request_emails.py
  bc_obps/common/migrations/0047_access_request_emails.py
  bc_obps/common/migrations/0048_registration_submitted_email_template.py
Due: mypy

chore: trying to fix one failing pytest... still failing
  bc_obps/registration/tests/models/test_operation.py
Due: mypy

chore: added reg submission acknowledgement as new email template; updated some pytests
  bc_obps/common/migrations/0047_registration_submitted_email_template.py
  bc_obps/common/tests/models/test_common_initial_data.py
  bc_obps/registration/tests/endpoints/_user_operators/_user_operator_id/test_user_operator_update_status.py
  bc_obps/service/tests/test_operation_service.py
Due: mypy

chore: added pytests to ensure emails are being sent at the right time and not at the wrong times. One test is failing
  bc_obps/registration/tests/test_emails.py
  bc_obps/service/application_access_service.py
  bc_obps/service/tests/test_application_access_service.py
  bc_obps/service/tests/test_operation_service.py
  bc_obps/service/tests/test_user_operator_service.py
Due: mypy

chore: implemented PR review feedback (in progress)
  bc_obps/common/migrations/0047_boro_id_issuance_email_template.py
  bc_obps/common/migrations/0048_admin_access_request_emails.py
  bc_obps/common/migrations/0049_access_request_emails.py
  bc_obps/common/migrations/0050_registration_submitted_email_template.py
  bc_obps/service/application_access_service.py
Due: mypy

chore: upped migration versions post-rebase. One pytest still erroring
  bc_obps/common/migrations/0046_boro_id_issuance_email_template.py
  bc_obps/common/migrations/0047_access_request_emails.py
  bc_obps/common/migrations/0048_access_request_emails.py
  bc_obps/common/migrations/0049_registration_submitted_email_template.py
  bc_obps/service/tests/test_application_access_service.py
  bc_obps/service/tests/test_user_operator_service.py
Due: mypy

chore: reverted name change back to update_status; fixed logic of when registration confirmation email is sent out
  bc_obps/registration/api/_operations/_operation_id/_registration/submission.py
  bc_obps/service/operation_service.py
  bc_obps/service/tests/test_operation_service.py
Due: mypy

chore: implemented code feedback on email_template_service
  bc_obps/service/data_access_service/email_template_service.py
Due: mypy

chore: removed unnecessary whitespace from email templates
  bc_obps/common/migrations/0048_admin_access_request_emails.py
  bc_obps/common/tests/models/test_common_initial_data.py
  bc_obps/service/tests/test_user_operator_service.py
Due: mypy

chore: implemented more PR review feedback
  bc_obps/registration/emails.py
  bc_obps/registration/enums/enums.py
  bc_obps/registration/tests/test_emails.py
  bc_obps/service/data_access_service/email_template_service.py
  bc_obps/service/operation_service.py
  bc_obps/service/tests/test_application_access_service.py
  bc_obps/service/tests/test_operation_service.py
Due: mypy

chore: implemented code review feedback for stringifying email template names
  bc_obps/common/models/email_notification_template.py
  bc_obps/registration/emails.py
Due: mypy

chore: fixed python unit test that was failing because I made another stupid mistake
  bc_obps/service/tests/test_user_operator_service.py
Due: mypy

chore: removed status=Active filter from operations search on transferDetail.ts
  bciers/apps/registration/app/data/jsonSchema/transfer/transferDetail.ts
Due: eslint

chore: saving in progress - nothing useful here yet
  bc_obps/service/operation_service.py
Due: mypy

chore: Transfers page calls new GET /operations endpoint, Operations grid calls renamed /operations-timelines endpoint
  bc_obps/common/tests/endpoints/auth/constants.py
  bc_obps/registration/api/operations.py
  bc_obps/registration/schema/operation.py
  bc_obps/registration/tests/endpoints/test_operations.py
  bc_obps/service/data_access_service/operation_service.py
  bc_obps/service/operation_service.py
  bciers/libs/actions/src/api/fetchOperationsPageData.ts
Due: eslint, mypy

chore: spec work
  bciers/apps/administration/app/components/facilities/fetchFacilitiesPageData.ts
  bciers/apps/registration/app/components/operations/registration/FacilityInformationForm.tsx
  bciers/apps/registration/app/components/operations/registration/NewFacilityForm.tsx
Due: eslint

chore: spec work
  bciers/apps/registration/app/components/operations/registration/FacilityInformationForm.tsx
  bciers/apps/registration/app/components/operations/registration/NewFacilityForm.tsx
  bciers/libs/components/src/form/MultiStepBase.tsx
  bciers/libs/utils/src/customTransformErrors.ts
Due: eslint

chore: spec work
  bciers/apps/registration/app/components/operations/registration/NewFacilityForm.tsx
  bciers/libs/components/src/form/MultiStepBase.tsx
Due: eslint

chore: spec work
  bciers/apps/registration/app/components/operations/registration/FacilityInformationForm.tsx
Due: eslint

chore: path to revalidate
  bciers/apps/administration/app/components/facilities/fetchFacilitiesPageData.ts
Due: eslint

chore: split out python unit tests for list_operations and list_operations_timelines
  bc_obps/registration/tests/endpoints/test_operations.py
Due: mypy

Path conditions:
  eslint: any of: \.(j|t)sx?$
  mypy: any of: \.py$
