Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3 # Use the sha or tag you want to point at
    hooks:
      - id: prettier
        name: Prettier
        stages: [commit]

  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        language: system
        files: \.(j|t)sx?$
        entry: ./.bin/pre-commit-lint.sh
      - id: mypy
        name: Mypy
        language: system
        types: [python]
        entry: ./.bin/pre-commit-mypy.sh

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-vcs-permalinks
      - id: check-yaml
        exclude: (^helm/.*/templates/)
      - id: end-of-file-fixer
        exclude: (^erd_diagrams/)
      - id: trailing-whitespace
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        types: [python]
        args: ["--config", "bc_obps/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.2
    hooks:
      - id: ruff
        args: ["bc_obps/", "--fix"]

  - repo: https://github.com/python-poetry/poetry
    rev: 1.6.1
    hooks:
      - id: poetry-check
        args: ["-C", "./bc_obps"]
      - id: poetry-lock
        args: ["-C", "./bc_obps", "--check"] # --check to ensure lock file is up to date without updating it

  - repo: https://github.com/PyCQA/bandit
    rev: "1.7.5"
    hooks:
      - id: bandit
        args: ["-c", "bc_obps/bandit.yaml"]

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.2.5
    hooks:
      - id: gitleaks

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.16.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]

chore: update migration after review and rebase
  bc_obps/registration/migrations/0118_bcghg_ids_to_sfo_facilities.py
Due: mypy

chore: update mock data so we have an SFO without a BCGHG ID
  bc_obps/registration/fixtures/mock/facility.json
  bc_obps/registration/fixtures/mock/operation.json
Due: none

chore: add BCGHG ID field to SFO form
  bciers/apps/administration/app/data/jsonSchema/facilitiesSfo.ts
  bciers/apps/registration/tests/components/operations/registration/FacilitySfoForm.test.tsx
Due: eslint

chore: add BCGHG ID field to facility form
  bciers/apps/administration/app/components/facilities/FacilityForm.tsx
  bciers/apps/administration/tests/components/facilities/FacilityForm.test.tsx
  bciers/apps/registration/tests/components/operations/registration/FacilitySfoForm.test.tsx
  bciers/libs/components/src/form/widgets/BcghgIdWidget.tsx
Due: eslint

chore: update migrations
  bc_obps/registration/migrations/0119_bcghg_ids_to_sfo_facilities.py
Due: mypy

chore: pytest for operation policies, not working yet
  bc_obps/registration/tests/models/test_operation.py
Due: mypy

chore: add helm chart to deploy db and restore backup
  helm/migration-test/cas-obps-postgres-migration-test/.helmignore
  helm/migration-test/cas-obps-postgres-migration-test/Chart.yaml
  helm/migration-test/cas-obps-postgres-migration-test/templates/_helpers.tpl
  helm/migration-test/cas-obps-postgres-migration-test/templates/gcs-secret.yaml
  helm/migration-test/cas-obps-postgres-migration-test/templates/pgbackrest-config.yaml
  helm/migration-test/cas-obps-postgres-migration-test/templates/postgres-cluster.yaml
  helm/migration-test/cas-obps-postgres-migration-test/values.yaml
Due: none

chore: fixups to the helm chart (to merge)
  helm/migration-test/cas-obps-postgres-migration-test/templates/cronjob.yaml
  helm/migration-test/cas-obps-postgres-migration-test/templates/gcs-secret.yaml
  helm/migration-test/cas-obps-postgres-migration-test/templates/postgres-cluster.yaml
Due: none

chore: add job to check if DB has been restored
  helm/migration-test/cas-obps-postgres-migration-test/templates/cronjob.yaml
  helm/migration-test/cas-obps-postgres-migration-test/templates/networkPolicy.yaml
Due: none

WIP -- Add backend migration test chart
  helm/migration-test/cas-obps-backend-migration-test/.helmignore
  helm/migration-test/cas-obps-backend-migration-test/Chart.yaml
  helm/migration-test/cas-obps-backend-migration-test/_helpers.tpl
  helm/migration-test/cas-obps-backend-migration-test/templates/NetworkPolicy/backend-allow-from-openshift-ingress.yaml
  helm/migration-test/cas-obps-backend-migration-test/templates/NetworkPolicy/backendPostgresIngress.yaml
  helm/migration-test/cas-obps-backend-migration-test/templates/NetworkPolicy/postgresBackendIngress.yaml
  helm/migration-test/cas-obps-backend-migration-test/templates/NetworkPolicy/postgresJobIngress.yaml
  helm/migration-test/cas-obps-backend-migration-test/templates/backend/deployment.yaml
  helm/migration-test/cas-obps-backend-migration-test/templates/backend/hpa.yaml
  helm/migration-test/cas-obps-backend-migration-test/templates/backend/job/add-django-admin.yaml
  helm/migration-test/cas-obps-backend-migration-test/templates/backend/job/reset-database.yaml
  helm/migration-test/cas-obps-backend-migration-test/templates/backend/route.yaml
  helm/migration-test/cas-obps-backend-migration-test/templates/backend/secret.yaml
  helm/migration-test/cas-obps-backend-migration-test/templates/backend/service.yaml
  helm/migration-test/cas-obps-backend-migration-test/values.yaml
Due: none

test: mock useContext
  bciers/libs/testConfig/src/global.tsx
  bciers/libs/testConfig/src/mocks.ts
Due: eslint

test: sessionUtils vitest
  bciers/libs/utils/src/sessionUtils.test.ts
Due: eslint

chore: policy for address
  bc_obps/registration/models/rls_configs/address.py
Due: mypy

chore: update compliance invoice branding
  bc_obps/compliance/api/invoice.py
  bc_obps/compliance/service/invoice_service.py
  bc_obps/compliance/templates/invoice.html
Due: mypy

refactor: replace Paper in AlertNote for improved styling
  bciers/apps/compliance/src/app/components/compliance-summaries/ComplianceSummariesPage.tsx
Due: eslint

refactor: simplify ComplianceStepButtons component by removing unused props and updating styles
  bciers/apps/compliance/src/app/components/ComplianceStepButtons.tsx
Due: eslint

test: add unit tests for ComplianceNavigationPage component
  bciers/apps/compliance/src/tests/components/compliance-navigation/ComplianceNavigationPage.test.tsx
Due: eslint

test: add unit tests for ComplianceSummariesPage component
  bciers/apps/compliance/src/tests/components/compliance-summaries/ComplianceSummariesPage.test.tsx
Due: eslint

refactor: replace Paper in AlertNote for improved styling
  bciers/libs/components/src/form/components/AlertNote.tsx
Due: eslint

refactor: remove unused taskListElements prop from ComplianceUnitsApplyComponent
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/apply-compliance-units/ComplianceUnitsApplyComponent.tsx
Due: eslint

refactor: move pdf generation service out of compliance module
  bc_obps/compliance/api/_compliance_report_versions/_compliance_report_version_id/invoice.py
  bc_obps/compliance/service/compliance_invoice_service.py
  bc_obps/compliance/service/invoice_service.py
  bc_obps/service/pdf/pdf_generator_service.py
  bc_obps/service/tests/test_pdf_generator_service.py
  bciers/apps/compliance/src/app/api/invoice/[id]/route.ts
Due: eslint, mypy

refactor: add margin-bottom to Alert component in AlertNote for improved spacing
  bciers/libs/components/src/form/components/AlertNote.tsx
Due: eslint

refactor: remove redundant code
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/review-compliance-summary/ComplianceSummaryReviewComponent.tsx
Due: eslint

refactor: add value formatting for equivalent emission and value columns in compliance units data grid
  bciers/apps/compliance/src/app/components/datagrid/models/compliance-units/complianceUnitsColumns.tsx
Due: eslint

test: enhance invoice generation test for ComplianceSummaryReviewComponent
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/review-compliance-summary/ComplianceSummaryReviewComponent.test.tsx
Due: eslint
