Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3 # Use the sha or tag you want to point at
    hooks:
      - id: prettier
        name: Prettier
        stages: [commit]
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        language: system
        files: \.(j|t)sx?$
        entry: ./.bin/pre-commit-lint.sh

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-vcs-permalinks
      - id: check-yaml
        exclude: (^helm/.*/templates/)
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: debug-statements
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: bash -c "cd bc_obps && poetry run pylint --rcfile=.pylintrc *.py"
        language: system
        types: [python]
        require_serial: true

  - repo: https://github.com/python-poetry/poetry
    rev: 1.6.1
    hooks:
      - id: poetry-check
        args: ["-C", "./bc_obps"]
      - id: poetry-lock
        args: ["-C", "./bc_obps", "--check"] # --check to ensure lock file is up to date without updating it

  - repo: https://github.com/PyCQA/bandit
    rev: "1.7.5"
    hooks:
      - id: bandit
        args: ["-c", "bc_obps/bandit.yaml"]

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.2.5
    hooks:
      - id: gitleaks

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v8.0.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]

refactor: backend deployment targets the proper secret
  helm/cas-registration/templates/backend/deployment.yaml
  helm/cas-registration/templates/backend/secret.yaml
Due: none

chore: remove references to feature branch
  .github/workflows/test.yaml
  deploy.sh
Due: none

chore: change the secret name required by pod
  helm/cas-registration/templates/backend/deployment.yaml
Due: none

chore: swap the secret name
  helm/cas-registration/templates/backend/deployment.yaml
  helm/cas-registration/templates/backend/secret.yaml
Due: none

refactor: use tsconfig to import registration type changes
  bciers/apps/reporting/tsconfig.json
  client/app/utils/getUserFullName.ts
Due: eslint

feat: add tailwindcss config to monorepo
  bciers/apps/reporting/src/app/global.css
  bciers/apps/reporting/tailwind.config.js
  bciers/libs/shared/styles/README.md
  bciers/libs/shared/styles/project.json
  bciers/libs/shared/styles/src/index.ts
  bciers/libs/shared/styles/src/lib/colors.ts
  bciers/tailwind-workspace-preset.js
  bciers/tsconfig.base.json
Due: eslint

chore: eslint
  .github/workflows/test.yaml
  bc_obps/reporting/apps.py
  bc_obps/reporting/migrations/0001_initial.py
  bc_obps/reporting/models.py
  bciers/.prettierignore
  bciers/apps/reporting/src/app/(authenticated)/authenticated/page.tsx
  bciers/apps/reporting/src/app/global.css
Due: eslint, pylint

chore: eslint
  bciers/apps/reporting/src/app/api/auth/[...nextauth]/route.ts
  bciers/apps/reporting/src/app/api/hello/route.ts
  bciers/libs/shared/components/src/lib/sample/Sample.tsx
  bciers/libs/shared/components/tsconfig.lib.json
Due: eslint

chore: eslint
  bciers/apps/reporting-e2e/playwright.config.ts
  bciers/jest.preset.js
Due: eslint

deps: nx generate Tailwind CSS for reporting
  bciers/apps/reporting/postcss.config.js
  bciers/apps/reporting/tailwind.config.js
  bciers/package.json
  bciers/yarn.lock
Due: eslint

deps: add mui to monorepo
  bciers/package.json
  bciers/yarn.lock
Due: none

chore: create base next config
  bciers/apps/reporting/next.config.js
  bciers/next.config.base.js
Due: eslint

fix: next css not working without id
  bciers/apps/reporting/src/app/layout.tsx
Due: eslint

deps: update tailwind to allow for 'import'
  bciers/package.json
  bciers/yarn.lock
Due: none

chore: add theme provider to monorepo
  bciers/apps/reporting/src/app/layout.tsx
  bciers/libs/shared/components/src/index.ts
  bciers/libs/shared/components/src/lib/theme/EmotionCache.tsx
  bciers/libs/shared/components/src/lib/theme/ThemeRegistry.tsx
  bciers/libs/shared/components/src/lib/theme/theme.ts
  bciers/package.json
  bciers/yarn.lock
Due: eslint

chore: match some base monorepo tsconfig to reporting
  bciers/tsconfig.base.json
Due: none

chore: add image assets as lib to nx
  bciers/apps/reporting/src/app/page.tsx
  bciers/libs/shared/img/README.md
  bciers/libs/shared/img/project.json
  bciers/libs/shared/img/src/favicon.ico
  bciers/libs/shared/img/src/lib/BCID_CleanBC_rev_tagline_colour.svg
  bciers/tsconfig.base.json
Due: eslint

deps: update nx to latest versions
  bciers/package.json
  bciers/yarn.lock
Due: none

style: match prettier config with reporting
  bciers/.prettierrc
  bciers/apps/reporting-e2e/playwright.config.ts
  bciers/apps/reporting-e2e/src/example.spec.ts
  bciers/apps/reporting/index.d.ts
  bciers/apps/reporting/jest.config.ts
  bciers/apps/reporting/next.config.js
  bciers/apps/reporting/postcss.config.js
  bciers/apps/reporting/src/app/api/auth/[...nextauth]/authOptions.ts
  bciers/apps/reporting/src/app/api/auth/[...nextauth]/route.ts
  bciers/apps/reporting/src/app/api/auth/token/route.ts
  bciers/apps/reporting/src/app/api/hello/route.ts
  bciers/apps/reporting/src/middleware.ts
  bciers/apps/reporting/src/middlewares/withReportingAuthorization.ts
  bciers/apps/reporting/tailwind.config.js
  bciers/jest.config.ts
  bciers/libs/shared/components/src/index.ts
  bciers/libs/shared/components/src/lib/theme/theme.ts
  bciers/libs/shared/styles/src/index.ts
  bciers/next.config.base.js
  bciers/tailwind-workspace-preset.js
Due: eslint

chore: remove unnecessary file
  bciers/libs/shared/img/README.md
Due: none

docs: add monorepo component generation descriptions
  bciers/nx.json
  docs/nx-monorepo.md
Due: none

refactor: integrate Main component into monorepo
  bciers/apps/reporting/src/app/(authenticated)/authenticated/page.tsx
  bciers/libs/shared/components/src/lib/layout/Main.spec.tsx
  bciers/libs/shared/components/src/lib/layout/Main.tsx
  bciers/libs/shared/components/src/server.ts
  bciers/tsconfig.base.json
Due: eslint
