Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy

eslint:
  name: ESLint
  language: system
  entry: ./.bin/pre-commit-lint.sh

mypy:
  name: Mypy
  language: system
  entry: ./.bin/pre-commit-mypy.sh

fix: ensure file fetch works locally
  bc_obps/bc_obps/storage_backends.py
  bc_obps/registration/utils.py
Due: mypy

chore: simplify storage backend usage
  bc_obps/bc_obps/settings.py
  bc_obps/bc_obps/storage_backends.py
  bc_obps/registration/models/document.py
  bc_obps/service/data_access_service/document_service.py
Due: mypy

chore: update output of management command
  bc_obps/registration/management/commands/check_document_file_status.py
Due: mypy

chore: pass file scanning status from backend to frontend
  bc_obps/registration/models/operation.py
  bc_obps/registration/utils.py
  bciers/libs/components/src/form/widgets/FileWidget.tsx
Due: eslint, mypy

feat: add cronjob to check scanned documents every minute
  helm/cas-bciers/templates/cronJobs/check-file-status.yaml
Due: none

feat: display message in file widget depending on file scan status
  bciers/libs/components/src/form/widgets/FileWidget.tsx
Due: eslint

chore: remove conditions on user_operator access requests for irc users
  bc_obps/registration/api/user_operators.py
  bc_obps/service/data_access_service/user_operator_service.py
  bc_obps/service/tests/data_access_service/test_data_access_user_operator_service.py
  bc_obps/service/user_operator_service.py
Due: mypy

chore: fe work
  bciers/apps/administration/app/components/datagrid/models/userOperators/userOperatorColumns.ts
  bciers/apps/administration/app/components/datagrid/models/userOperators/userOperatorGroupColumns.ts
  bciers/apps/administration/app/components/userOperators/cells/UserOperatorRoleCell.tsx
Due: eslint

chore: be work
  bc_obps/registration/schema/user_operator.py
Due: mypy

chore: exploration
  bciers/apps/reporting/src/app/components/operations/OperationReviewForm.tsx
  bciers/apps/reporting/src/app/components/operations/OperationReviewPage.tsx
  bciers/apps/reporting/src/app/components/taskList/1_operationInformation.ts
Due: eslint

chore: types
  .vscode/settings.json
  bciers/apps/reporting/src/app/components/taskList/flow_sfo.ts
  bciers/apps/reporting/src/app/components/taskList/pageList.ts
  bciers/apps/reporting/src/app/components/taskList/taskList.ts
  bciers/apps/reporting/src/app/components/taskList/types.ts
Due: eslint

chore: a
  bciers/apps/reporting/src/app/components/operations/OperationReviewForm.tsx
  bciers/apps/reporting/src/app/components/operations/OperationReviewPage.tsx
  bciers/apps/reporting/src/app/components/operations/reviewFacilities/ReviewFacilitiesForm.tsx
  bciers/apps/reporting/src/app/components/operations/reviewFacilities/ReviewFacilitiesPage.tsx
  bciers/apps/reporting/src/app/components/taskList/1_operationInformation.ts
  bciers/apps/reporting/src/app/components/taskList/2_facilitiesInformation.ts
  bciers/apps/reporting/src/app/components/taskList/navigationInformation.ts
  bciers/apps/reporting/src/app/components/taskList/pageElementFactory.ts
  bciers/apps/reporting/src/app/components/taskList/reportingFlows.ts
  bciers/apps/reporting/src/app/components/taskList/types.ts
Due: eslint

chore: adding method to derive flow
  bciers/apps/reporting/src/app/components/operations/OperationReviewForm.tsx
  bciers/apps/reporting/src/app/components/operations/OperationReviewPage.tsx
  bciers/apps/reporting/src/app/components/operations/personResponsible/PersonResponsiblePage.tsx
  bciers/apps/reporting/src/app/components/taskList/1_operationInformation.ts
  bciers/apps/reporting/src/app/components/taskList/flow_sfo.ts
  bciers/apps/reporting/src/app/components/taskList/headerElementFactory.ts
  bciers/apps/reporting/src/app/components/taskList/navigationInformation.ts
  bciers/apps/reporting/src/app/components/taskList/pageElementFactory.ts
  bciers/apps/reporting/src/app/components/taskList/reportingFlows.ts
  bciers/apps/reporting/src/app/components/taskList/types.ts
Due: eslint

chore: resolving the flow
  bciers/apps/reporting/src/app/components/taskList/reportingFlows.ts
Due: eslint

chore: experiment
  bciers/apps/reporting/src/app/components/taskList/flow_sfo.ts
  bciers/apps/reporting/src/app/components/taskList/pageList.ts
  bciers/apps/reporting/src/app/components/taskList/taskList.ts
  bciers/apps/reporting/src/app/components/taskList/types.ts
Due: eslint

chore: option to allow elements to display above the tasklist
  bciers/apps/reporting/src/app/components/activities/ActivityInit.tsx
  bciers/apps/reporting/src/app/components/taskList/2_facilitiesInformation.ts
  bciers/apps/reporting/src/app/components/taskList/navigationInformation.ts
  bciers/apps/reporting/src/app/components/taskList/types.ts
Due: eslint

chore: work for activities
  bciers/apps/reporting/src/app/components/activities/ActivityForm.tsx
  bciers/apps/reporting/src/app/components/activities/ActivityInit.tsx
  bciers/apps/reporting/src/app/components/operations/OperationReviewPage.tsx
  bciers/apps/reporting/src/app/components/operations/reviewFacilities/ReviewFacilitiesForm.tsx
  bciers/apps/reporting/src/app/components/operations/reviewFacilities/ReviewFacilitiesPage.tsx
  bciers/apps/reporting/src/app/components/taskList/1_operationInformation.ts
  bciers/apps/reporting/src/app/components/taskList/2_facilitiesInformation.ts
  bciers/apps/reporting/src/app/components/taskList/headerElementFactory.ts
  bciers/apps/reporting/src/app/components/taskList/navigationInformation.ts
  bciers/apps/reporting/src/app/components/taskList/pageElementFactory.ts
  bciers/apps/reporting/src/app/components/taskList/types.ts
Due: eslint

chore: refactor emission allocation and prod data pages
  bciers/apps/reporting/src/app/components/facility/FacilityEmissionAllocationForm.tsx
  bciers/apps/reporting/src/app/components/facility/FacilityEmissionAllocationPage.tsx
  bciers/apps/reporting/src/app/components/products/ProductionDataForm.tsx
  bciers/apps/reporting/src/app/components/products/ProductionDataPage.tsx
Due: eslint

chore: making activities page work
  bciers/apps/reporting/src/app/components/facility/FacilityReviewForm.tsx
  bciers/apps/reporting/src/app/components/facility/FacilityReviewPage.tsx
  bciers/apps/reporting/src/app/components/taskList/2_facilitiesInformation.ts
  bciers/apps/reporting/src/app/components/taskList/navigationInformation.ts
Due: eslint

chore: refactoring non-attr emissions page and facility emissions summary page
  bciers/apps/reporting/src/app/components/facility/FacilityEmissionSummaryForm.tsx
  bciers/apps/reporting/src/app/components/facility/FacilityEmissionSummaryPage.tsx
  bciers/apps/reporting/src/app/components/reportInformation/nonAttributableEmissions/NonAttributableEmissionsForm.tsx
  bciers/apps/reporting/src/app/components/reportInformation/nonAttributableEmissions/NonAttributableEmissionsPage.tsx
  bciers/apps/reporting/src/app/components/taskList/1_operationInformation.ts
Due: eslint

chore: end of report page
  bciers/apps/reporting/src/app/components/operations/OperationReviewPage.tsx
  bciers/apps/reporting/src/app/components/reportInformation/endOfFacility/EndOfFacilityForm.tsx
  bciers/apps/reporting/src/app/components/reportInformation/endOfFacility/EndOfFacilityPage.tsx
  bciers/apps/reporting/src/app/components/reportInformation/facilities/FacilitiesDataGrid.tsx
  bciers/apps/reporting/src/app/components/reportInformation/facilities/FacilitiesPage.tsx
  bciers/apps/reporting/src/app/components/reportInformation/facilities/types.ts
  bciers/apps/reporting/src/app/components/taskList/2_facilitiesInformation.ts
  bciers/apps/reporting/src/app/components/taskList/navigationInformation.ts
  bciers/apps/reporting/src/app/components/taskList/pageElementFactory.ts
  bciers/apps/reporting/src/app/components/taskList/reportingFlows.ts
  bciers/apps/reporting/src/app/components/taskList/types.ts
Due: eslint

chore: compliance summary pages
  bciers/apps/reporting/src/app/components/complianceSummary/ComplianceSummaryForm.tsx
  bciers/apps/reporting/src/app/components/complianceSummary/ComplianceSummaryPage.tsx
  bciers/apps/reporting/src/app/components/taskList/4_complianceSummary.ts
  bciers/apps/reporting/src/app/components/taskList/5_signOffSubmit.ts
  bciers/apps/reporting/src/app/components/taskList/navigationInformation.ts
  bciers/apps/reporting/src/app/components/taskList/pageElementFactory.ts
Due: eslint

chore: refactoring all signoff pages
  bciers/apps/reporting/src/app/components/attachments/AttachmentsForm.tsx
  bciers/apps/reporting/src/app/components/attachments/AttachmentsPage.tsx
  bciers/apps/reporting/src/app/components/finalReview/FinalReviewPage.tsx
  bciers/apps/reporting/src/app/components/signOff/SignOffForm.tsx
  bciers/apps/reporting/src/app/components/signOff/SignOffPage.tsx
  bciers/apps/reporting/src/app/components/taskList/2_facilitiesInformation.ts
  bciers/apps/reporting/src/app/components/taskList/navigationInformation.ts
  bciers/apps/reporting/src/app/components/taskList/pageElementFactory.ts
  bciers/apps/reporting/src/app/components/taskList/types.ts
  bciers/apps/reporting/src/app/components/verification/VerificationForm.tsx
  bciers/apps/reporting/src/app/components/verification/VerificationPage.tsx
Due: eslint

chore: additional information pages
  bciers/apps/reporting/src/app/components/additionalInformation/additionalReportingData/AdditionalReportingDataForm.tsx
  bciers/apps/reporting/src/app/components/additionalInformation/additionalReportingData/AdditionalReportingDataPage.tsx
  bciers/apps/reporting/src/app/components/additionalInformation/newEntrantInformation/NewEntrantInformationForm.tsx
  bciers/apps/reporting/src/app/components/additionalInformation/newEntrantInformation/NewEntrantInformationPage.tsx
  bciers/apps/reporting/src/app/components/additionalInformation/operationEmissionSummary/OperationEmissionSummaryForm.tsx
  bciers/apps/reporting/src/app/components/additionalInformation/operationEmissionSummary/OperationEmissionSummaryPage.tsx
  bciers/apps/reporting/src/app/components/taskList/3_additionalInformation.ts
  bciers/apps/reporting/src/app/components/taskList/navigationInformation.ts
  bciers/apps/reporting/src/app/components/taskList/pageElementFactory.ts
  bciers/apps/reporting/src/app/components/taskList/types.ts
Due: eslint

chore: fixing missing key in react sibling elements
  bciers/libs/components/src/form/NavigationForm.tsx
Due: eslint

chore: sign off submit pages
  bciers/apps/reporting/src/app/components/finalReview/FinalReviewForm.tsx
  bciers/apps/reporting/src/app/components/finalReview/FinalReviewPage.tsx
  bciers/apps/reporting/src/app/components/taskList/5_signOffSubmit.ts
  bciers/apps/reporting/src/app/components/taskList/headerElementFactory.ts
  bciers/apps/reporting/src/app/components/taskList/navigationInformation.ts
  bciers/apps/reporting/src/app/components/taskList/pageElementFactory.ts
  bciers/apps/reporting/src/app/components/taskList/types.ts
Due: eslint

chore: page name
  bciers/apps/reporting/src/app/components/operations/OperationReviewPage.tsx
  bciers/apps/reporting/src/app/components/taskList/1_operationInformation.ts
  bciers/apps/reporting/src/app/components/taskList/2_facilitiesInformation.ts
  bciers/apps/reporting/src/app/components/taskList/reportingFlows/lfoFlow.ts
  bciers/apps/reporting/src/app/components/taskList/reportingFlows/lfoReportingOnlyFlow.ts
  bciers/apps/reporting/src/app/components/taskList/reportingFlows/sfoFlow.ts
  bciers/apps/reporting/src/app/components/taskList/reportingFlows/sfoReportingOnlyFlow.ts
  bciers/apps/reporting/src/app/components/taskList/reportingFlows/simpleReportFlow.ts
  bciers/apps/reporting/src/app/components/taskList/types.ts
Due: eslint

chore: refactoring flow resolution logic to include new entrant
  bciers/apps/reporting/src/app/components/taskList/reportingFlows.ts
Due: eslint

chore: sample flows
  bciers/apps/reporting/src/app/components/taskList/reportingFlows.ts
  bciers/apps/reporting/src/app/components/taskList/reportingFlows/sfoReportingOnlyFlow.ts
  bciers/apps/reporting/src/app/components/taskList/reportingFlows/simpleReportFlow.ts
  bciers/apps/reporting/src/app/components/taskList/types.ts
Due: eslint

chore: refactoring flows and headers
  bciers/apps/reporting/src/app/components/operations/OperationReviewForm.tsx
  bciers/apps/reporting/src/app/components/operations/personResponsible/PersonResponsibleForm.tsx
  bciers/apps/reporting/src/app/components/operations/personResponsible/PersonResponsiblePage.tsx
  bciers/apps/reporting/src/app/components/operations/reviewFacilities/ReviewFacilitiesForm.tsx
  bciers/apps/reporting/src/app/components/taskList/navigationInformation.ts
  bciers/apps/reporting/src/app/components/taskList/reportingFlows.ts
  bciers/apps/reporting/src/app/components/taskList/reportingFlows/lfoFlow.ts
  bciers/apps/reporting/src/app/components/taskList/reportingFlows/lfoReportingOnlyFlow.ts
  bciers/apps/reporting/src/app/components/taskList/reportingFlows/sfoFlow.ts
  bciers/apps/reporting/src/app/components/taskList/types.ts
Due: eslint

chore: refactoring how header steps are generated
  bciers/apps/reporting/src/app/components/activities/ActivityForm.tsx
  bciers/apps/reporting/src/app/components/activities/ActivityInit.tsx
  bciers/apps/reporting/src/app/components/additionalInformation/additionalReportingData/AdditionalReportingDataForm.tsx
  bciers/apps/reporting/src/app/components/additionalInformation/newEntrantInformation/NewEntrantInformationForm.tsx
  bciers/apps/reporting/src/app/components/additionalInformation/operationEmissionSummary/OperationEmissionSummaryForm.tsx
  bciers/apps/reporting/src/app/components/attachments/AttachmentsForm.tsx
  bciers/apps/reporting/src/app/components/complianceSummary/ComplianceSummaryForm.tsx
  bciers/apps/reporting/src/app/components/facility/FacilityEmissionAllocationForm.tsx
  bciers/apps/reporting/src/app/components/facility/FacilityEmissionSummaryForm.tsx
  bciers/apps/reporting/src/app/components/facility/FacilityReviewForm.tsx
  bciers/apps/reporting/src/app/components/finalReview/FinalReviewForm.tsx
  bciers/apps/reporting/src/app/components/products/ProductionDataForm.tsx
  bciers/apps/reporting/src/app/components/reportInformation/endOfFacility/EndOfFacilityForm.tsx
  bciers/apps/reporting/src/app/components/reportInformation/facilities/FacilitiesDataGrid.tsx
  bciers/apps/reporting/src/app/components/reportInformation/nonAttributableEmissions/NonAttributableEmissionsForm.tsx
  bciers/apps/reporting/src/app/components/signOff/SignOffForm.tsx
  bciers/apps/reporting/src/app/components/taskList/multiStepHeaderConfig.ts
  bciers/apps/reporting/src/app/components/taskList/types.ts
  bciers/apps/reporting/src/app/components/verification/VerificationForm.tsx
Due: eslint

chore: tests
  bciers/apps/reporting/src/app/components/additionalInformation/additionalReportingData/AdditionalReportingDataForm.tsx
  bciers/apps/reporting/src/app/components/additionalInformation/additionalReportingData/AdditionalReportingDataPage.tsx
  bciers/apps/reporting/src/tests/components/activities/ActivityForm.test.tsx
  bciers/apps/reporting/src/tests/components/additionalInformation/AdditionalReportingData.test.tsx
  bciers/apps/reporting/src/tests/components/additionalInformation/NewEntrantInformation.test.tsx
  bciers/apps/reporting/src/tests/components/additionalInformation/OperationEmissionSummary.test.tsx
  bciers/apps/reporting/src/tests/components/attachments/AttachmentPage.test.tsx
  bciers/apps/reporting/src/tests/components/attachments/AttachmentsForm.test.tsx
  bciers/apps/reporting/src/tests/components/complianceSummary/ComplianceSummaryForm.test.tsx
  bciers/apps/reporting/src/tests/components/complianceSummary/ComplianceSummaryPage.test.tsx
  bciers/apps/reporting/src/tests/components/facility/FacilityEmissionAllocationForm.test.tsx
  bciers/apps/reporting/src/tests/components/facility/FacilityEmissionAllocationPage.test.tsx
  bciers/apps/reporting/src/tests/components/facility/FacilityEmissionSummaryPage.test.tsx
  bciers/apps/reporting/src/tests/components/facility/FacilityReviewForm.test.tsx
  bciers/apps/reporting/src/tests/components/finalReview/FinalReviewForm.test.tsx
  bciers/apps/reporting/src/tests/components/operations/OperationReviewForm.test.tsx
  bciers/apps/reporting/src/tests/components/operations/OperationReviewPage.test.tsx
  bciers/apps/reporting/src/tests/components/operations/personResponsible/PersonResponsibleForm.test.tsx
  bciers/apps/reporting/src/tests/components/operations/personResponsible/PersonResponsiblePage.test.tsx
  bciers/apps/reporting/src/tests/components/operations/reviewFacilities/ReviewFacilities.test.tsx
  bciers/apps/reporting/src/tests/components/products/ProductionDataForm.test.tsx
  bciers/apps/reporting/src/tests/components/products/ProductionDataPage.test.tsx
  bciers/apps/reporting/src/tests/components/reportInformation/NonAttributableEmissions.test.tsx
  bciers/apps/reporting/src/tests/components/signOff/SignOffForm.test.tsx
  bciers/apps/reporting/src/tests/components/taskList/utils.ts
  bciers/apps/reporting/src/tests/components/verification/VerificationForm.test.tsx
  bciers/apps/reporting/src/tests/components/verification/VerificationPage.test.tsx
Due: eslint

chore: User sees error when trying to submit a form wiht no activities
  bciers/apps/reporting/src/app/components/activities/ActivityForm.tsx
Due: eslint

chore: fixing verification requirementslogic
  bciers/apps/reporting/src/app/components/finalReview/FinalReviewPage.tsx
  bciers/apps/reporting/src/app/components/signOff/SignOffPage.tsx
  bciers/apps/reporting/src/app/components/taskList/navigationInformation.ts
  bciers/apps/reporting/src/app/components/taskList/types.ts
Due: eslint

test: testing navigation information factory
  bciers/apps/reporting/src/app/components/taskList/navigationInformation.ts
  bciers/apps/reporting/src/app/components/taskList/pageElementFactory.ts
  bciers/apps/reporting/src/app/components/taskList/taskListPages/pageElementFactory.ts
  bciers/apps/reporting/src/app/components/taskList/taskListPages/pageFactories.ts
  bciers/apps/reporting/src/tests/components/taskList/navigationInformation.test.ts
Due: eslint

chore: reorganising files
  .vscode/settings.json
  bciers/apps/reporting/src/app/components/activities/ActivityInit.tsx
  bciers/apps/reporting/src/app/components/taskList/headerElementFactory.ts
  bciers/apps/reporting/src/app/components/taskList/navigationInformation.ts
  bciers/apps/reporting/src/app/components/taskList/pageElementFactory.ts
  bciers/apps/reporting/src/app/components/taskList/taskListPages/1_operationInformation.ts
  bciers/apps/reporting/src/app/components/taskList/taskListPages/2_facilitiesInformation.ts
  bciers/apps/reporting/src/app/components/taskList/taskListPages/3_additionalInformation.ts
  bciers/apps/reporting/src/app/components/taskList/taskListPages/4_complianceSummary.ts
  bciers/apps/reporting/src/app/components/taskList/taskListPages/5_signOffSubmit.ts
  bciers/apps/reporting/src/app/components/taskList/types.ts
  bciers/apps/reporting/src/tests/components/complianceSummary/ComplianceSummaryPage.test.tsx
  bciers/apps/reporting/src/tests/components/operations/personResponsible/PersonResponsiblePage.test.tsx
  bciers/apps/reporting/src/tests/components/verification/VerificationPage.test.tsx
Due: eslint

chore: update mock data
  bc_obps/registration/fixtures/mock/user_operator.json
Due: none

chore: colour-coded text
  bciers/apps/administration/app/components/userOperators/cells/UserOperatorRoleCell.tsx
  bciers/libs/utils/src/enums.ts
Due: eslint

chore: colour-coded text
  bciers/apps/administration/app/components/userOperators/cells/UserOperatorRoleCell.tsx
Due: eslint

chore: spec work
  bciers/apps/administration/app/components/buttons/Review.tsx
  bciers/apps/administration/app/components/userOperators/UserOperatorReviewForm.tsx
  bciers/apps/administration/app/components/userOperators/cells/UserOperatorRoleCell.tsx
  bciers/apps/administration/app/data/jsonSchema/userOperator.ts
Due: eslint

Path conditions:
  eslint: any of: \.(j|t)sx?$
  mypy: any of: \.py$
