Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3 # Use the sha or tag you want to point at
    hooks:
      - id: prettier
        name: Prettier
        stages: [commit]

  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        language: system
        files: \.(j|t)sx?$
        entry: ./.bin/pre-commit-lint.sh
      - id: mypy
        name: Mypy
        language: system
        types: [python]
        entry: ./.bin/pre-commit-mypy.sh

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-vcs-permalinks
      - id: check-yaml
        exclude: (^helm/.*/templates/)
      - id: end-of-file-fixer
        exclude: (^erd_diagrams/)
      - id: trailing-whitespace
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        types: [python]
        args: ["--config", "bc_obps/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.2
    hooks:
      - id: ruff
        args: ["bc_obps/", "--fix"]

  - repo: https://github.com/python-poetry/poetry
    rev: 1.6.1
    hooks:
      - id: poetry-check
        args: ["-C", "./bc_obps"]
      - id: poetry-lock
        args: ["-C", "./bc_obps", "--check"] # --check to ensure lock file is up to date without updating it

  - repo: https://github.com/PyCQA/bandit
    rev: "1.7.5"
    hooks:
      - id: bandit
        args: ["-c", "bc_obps/bandit.yaml"]

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.2.5
    hooks:
      - id: gitleaks

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.16.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]

chore: put reg e2e job back into CI
  .github/workflows/main.yaml
Due: none

chore: comment out accessibility fails
  bciers/apps/registration-e2e/tests/register-an-operation.spec.ts
Due: eslint

test: update user operator service tests
  bc_obps/service/tests/test_user_operator_service.py
Due: mypy

chore: update user_operator creation service
  bc_obps/service/user_operator_service.py
Due: mypy

test: select operator e2e test
  bciers/apps/administration-e2e/poms/operator.ts
  bciers/apps/administration-e2e/tests/workflows/industry_user/select-operator-with-beforeAll.spec.ts
  bciers/apps/administration-e2e/tests/workflows/industry_user/select-operator-with-beforeEach.spec.ts
  bciers/apps/administration-e2e/tests/workflows/industry_user_operator/operator-with-beforeAll.spec.ts
  bciers/apps/administration-e2e/tests/workflows/select-operator.spec.ts
  bciers/apps/administration-e2e/utils/enums.ts
  bciers/libs/e2e/src/utils/enums.ts
Due: eslint

chore: add admin-e2e job to CI
  .github/workflows/main.yaml
Due: none

test: add test for deleting child report_products on removal from set
  bc_obps/service/tests/test_report_service.py
Due: mypy

chore: uncomment failing accessiblity scans
  bciers/apps/dashboard-e2e/tests/dashboards.spec.ts
  bciers/apps/registration-e2e/tests/register-an-operation.spec.ts
Due: eslint

test: fix broken test
  bc_obps/reporting/tests/api/test_facility_report_api.py
Due: mypy

chore: update attachment tests
  bc_obps/reporting/tests/api/test_report_attachment_api.py
  bc_obps/reporting/tests/integration/test_report_attachments.py
Due: mypy

chore: update attachment form
  bciers/apps/reporting/src/app/components/attachments/AttachmentsForm.tsx
  bciers/apps/reporting/src/app/components/attachments/AttachmentsPage.tsx
  bciers/libs/components/src/form/MultiStepWrapperWithTaskList.tsx
  bciers/libs/components/src/icons/AlertIcon.tsx
Due: eslint

chore: reoreganize compliance services directories
  bc_obps/compliance/api/compliance_summary.py
  bc_obps/compliance/signals.py
  bc_obps/service/compliance/compliance_dashboard_service.py
  bc_obps/service/compliance/compliance_obligation_service.py
  bc_obps/service/compliance/compliance_period_service.py
  bc_obps/service/compliance/compliance_summary_service.py
  bc_obps/service/compliance/elicensing/elicensing_api_client.py
  bc_obps/service/compliance/elicensing/elicensing_link_service.py
  bc_obps/service/compliance/elicensing/operator_elicensing_service.py
  bc_obps/service/tests/compliance/elicensing/test_elicensing_api_client.py
  bc_obps/service/tests/compliance/elicensing/test_elicensing_link_service.py
  bc_obps/service/tests/compliance/test_compliance_obligation_service.py
  bc_obps/service/tests/compliance/test_compliance_summary_service.py
  bc_obps/service/tests/compliance/test_operator_elicensing_service.py
Due: mypy

fix: creating a user_operator contact only checks for duplication on email and operator id
  bc_obps/service/user_operator_service.py
Due: mypy

test: pytest for contacts and users bug
  bc_obps/service/tests/test_user_operator_service.py
Due: mypy

chore: cleanup
  bc_obps/reporting/api/report_attachments.py
  bc_obps/reporting/enums/enums.py
  bc_obps/reporting/migrations/0085_reportattachment_confirm_supplementary_existing_attachments_relevant_and_more.py
  bc_obps/reporting/models/__init__.py
  bc_obps/reporting/models/report_attachment.py
  bc_obps/reporting/models/report_attachment_confirmation.py
  bc_obps/reporting/models/rls_configs/report_attachment_confirmation.py
  bc_obps/reporting/schema/report_attachment.py
  bc_obps/reporting/service/report_attachment_service.py
  bc_obps/reporting/service/report_validation/validators/__init__.py
  bc_obps/reporting/service/report_validation/validators/validate_supplementary_attachments.py
  bc_obps/reporting/tests/models/test_report_attachment.py
  bc_obps/reporting/tests/models/test_report_attachment_confirmation.py
  bciers/apps/reporting/src/app/components/attachments/AttachmentsForm.tsx
  bciers/apps/reporting/src/app/utils/reportValidationMessages.ts
Due: eslint, mypy

chore: added migration for email template for BORO ID issuance
  bc_obps/common/migrations/0043_boro_id_issuance_email_template.py
Due: mypy

chore: migrations to update email templates
  bc_obps/common/migrations/0044_boro_id_issuance_email_template.py
  bc_obps/common/migrations/0045_access_request_emails.py
  bc_obps/common/migrations/0046_access_request_emails.py
  bc_obps/common/migrations/0047_registration_submission_email.py
Due: mypy

chore: removed opted_in flag from send_boro_id_application_email logic - no longer needed
  bc_obps/registration/emails.py
  bc_obps/registration/tests/test_emails.py
Due: mypy

chore: updated test_send_reg_and_boro_id_email working; refactored TestSendOperatorAccessRequestEmail for consistency
  bc_obps/registration/tests/test_emails.py
Due: mypy

chore: tweak email functions and enums
  bc_obps/registration/emails.py
  bc_obps/registration/enums/enums.py
  bc_obps/registration/tests/test_emails.py
  bc_obps/service/data_access_service/email_template_service.py
  bc_obps/service/operation_service.py
  bc_obps/service/user_operator_service.py
Due: mypy

chore: rename update_status endpoint to submit
  bc_obps/registration/api/_operations/_operation_id/_registration/submission.py
  bc_obps/service/operation_service.py
  bc_obps/service/tests/test_operation_service.py
Due: mypy

chore: fixed sonarcloud smell; fixed email template retrieval by name typing issue
  bc_obps/registration/tests/models/test_operation.py
  bc_obps/service/data_access_service/email_template_service.py
  bc_obps/service/tests/test_operation_service.py
Due: mypy

chore: function to get operation reps for an operation
  bc_obps/registration/models/operation.py
  bc_obps/registration/tests/models/test_operation.py
Due: mypy

chore: added reg submission acknowledgement as new email template; updated some pytests
  bc_obps/common/migrations/0047_registration_submitted_email_template.py
  bc_obps/common/tests/models/test_common_initial_data.py
  bc_obps/registration/tests/endpoints/_user_operators/_user_operator_id/test_user_operator_update_status.py
  bc_obps/service/tests/test_operation_service.py
Due: mypy

chore: fixed failing pytest for get_operation_representatives
  bc_obps/registration/tests/models/test_operation.py
  bc_obps/service/data_access_service/email_template_service.py
Due: mypy

chore: added pytests to ensure emails are being sent at the right time and not at the wrong times. One test is failing
  bc_obps/registration/tests/test_emails.py
  bc_obps/service/application_access_service.py
  bc_obps/service/tests/test_application_access_service.py
  bc_obps/service/tests/test_operation_service.py
  bc_obps/service/tests/test_user_operator_service.py
Due: mypy

chore: upped migration versions post-rebase. One pytest still erroring
  bc_obps/common/migrations/0046_boro_id_issuance_email_template.py
  bc_obps/common/migrations/0047_access_request_emails.py
  bc_obps/common/migrations/0048_access_request_emails.py
  bc_obps/common/migrations/0049_registration_submitted_email_template.py
  bc_obps/service/tests/test_application_access_service.py
  bc_obps/service/tests/test_user_operator_service.py
Due: mypy

chore: trying to fix one failing pytest... still failing
  bc_obps/registration/tests/models/test_operation.py
Due: mypy

chore: renamed migration files to fix multi leaf nodes error
  bc_obps/common/migrations/0045_boro_id_issuance_email_template.py
  bc_obps/common/migrations/0046_access_request_emails.py
  bc_obps/common/migrations/0047_access_request_emails.py
  bc_obps/common/migrations/0048_registration_submitted_email_template.py
Due: mypy

chore: fixed the miserable failing pytest that was created by my stupid error
  bc_obps/service/tests/test_user_operator_service.py
Due: mypy

fix: disallow 'e' in number fields
  bciers/libs/components/src/form/widgets/TextWidget.tsx
Due: eslint

chore: regenrate lock file
  bc_obps/poetry.lock
Due: none

chore: reverting django to 5.0
  bc_obps/poetry.lock
  bc_obps/pyproject.toml
Due: none
