Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3 # Use the sha or tag you want to point at
    hooks:
      - id: prettier
        name: Prettier
        stages: [commit]
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        language: system
        files: \.(j|t)sx?$
        entry: ./.bin/pre-commit-lint.sh

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-vcs-permalinks
      - id: check-yaml
        exclude: (^helm/.*/templates/)
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: debug-statements
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: bash -c "cd bc_obps && poetry run pylint --rcfile=.pylintrc *.py"
        language: system
        types: [python]
        require_serial: true

  - repo: https://github.com/python-poetry/poetry
    rev: 1.6.1
    hooks:
      - id: poetry-check
        args: ["-C", "./bc_obps"]
      - id: poetry-lock
        args: ["-C", "./bc_obps", "--check"] # --check to ensure lock file is up to date without updating it

  - repo: https://github.com/PyCQA/bandit
    rev: "1.7.5"
    hooks:
      - id: bandit
        args: ["-c", "bc_obps/bandit.yaml"]

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.2.5
    hooks:
      - id: gitleaks

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v8.0.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]

chore: added fields to report class, deleted views file, consolidated migrations into one
  bc_obps/reporting/migrations/0001_initial.py
  bc_obps/reporting/migrations/0002_report.py
  bc_obps/reporting/migrations/0003_profile.py
  bc_obps/reporting/models.py
  bc_obps/reporting/views.py
Due: pylint

chore: prettier
  client/e2e/poms/profile.ts
Due: eslint

chore: add reporting app and model in django
  bc_obps/bc_obps/settings.py
  bc_obps/reporting/__init__.py
  bc_obps/reporting/admin.py
  bc_obps/reporting/apps.py
  bc_obps/reporting/migrations/0001_initial.py
  bc_obps/reporting/migrations/0002_report.py
  bc_obps/reporting/migrations/0003_profile.py
  bc_obps/reporting/migrations/__init__.py
  bc_obps/reporting/models.py
  bc_obps/reporting/tests.py
  bc_obps/reporting/views.py
Due: pylint

chore: reorganize library structure
  bciers/libs/shared/components/.eslintrc.json
  bciers/libs/shared/components/README.md
  bciers/libs/shared/components/project.json
  bciers/libs/shared/components/src/index.ts
  bciers/libs/shared/components/tsconfig.json
  bciers/libs/shared/components/tsconfig.lib.json
  bciers/shared_components/README.md
  bciers/shared_components/project.json
  bciers/shared_components/src/server.ts
  bciers/tsconfig.base.json
Due: eslint

chore: fix syntax on db_table name
  bc_obps/reporting/migrations/0001_initial.py
  bc_obps/reporting/models.py
Due: pylint

chore: add an error component to the shared component library
  .gitignore
  bciers/libs/shared/components/src/lib/error/Error.module.css
  bciers/libs/shared/components/src/lib/error/Error.spec.tsx
  bciers/libs/shared/components/src/lib/error/Error.tsx
Due: eslint

chore: add a sample shared error component
  bciers/libs/shared/components/src/lib/error/Error.tsx
  bciers/libs/shared/components/tsconfig.lib.json
  bciers/package.json
  bciers/yarn.lock
Due: eslint

chore: add sample shared component
  bciers/apps/reporting/src/app/page.tsx
  bciers/libs/shared/components/src/lib/error/Error.module.css
Due: eslint

chore: delete Error component
  bciers/libs/shared/components/src/index.ts
  bciers/libs/shared/components/src/lib/error/Error.module.css
  bciers/libs/shared/components/src/lib/error/Error.spec.tsx
  bciers/libs/shared/components/src/lib/error/Error.tsx
Due: eslint

chore: add sample component to page
  bciers/apps/reporting/src/app/page.tsx
  bciers/libs/shared/components/src/index.ts
  bciers/libs/shared/components/src/lib/sample/Sample.module.css
  bciers/libs/shared/components/src/lib/sample/Sample.spec.tsx
  bciers/libs/shared/components/src/lib/sample/Sample.tsx
Due: eslint

chore: adding giraffe branch to ci
  .github/workflows/codeql.yaml
  .github/workflows/scan-code-trivy.yaml
  .github/workflows/test.yaml
Due: none

chore: removing extra files and cloud connection
  bciers/.github/workflows/ci.yml
  bciers/.vscode/extensions.json
  bciers/nx.json
  bciers/package-lock.json
Due: none

chore: optimize installing browsers
  .github/workflows/test.yaml
Due: none

chore: revert
  .github/workflows/test.yaml
Due: none

fix: hide prime admin review when operator is declined
  client/app/components/form/UserOperatorReviewForm.tsx
  client/app/components/routes/access-requests/form/UserOperatorReview.tsx
Due: eslint

chore: add new operator fixtures and update user operators
  bc_obps/registration/fixtures/mock/operator.json
  bc_obps/registration/fixtures/mock/userOperator.json
Due: none

chore: cache setup
  .github/workflows/test.yaml
Due: none

chore: add new make target and logic for shipit.yml
  Makefile
  helm/cas-registration/values-giraffe.yaml
  shipit.yml
Due: none

chore: fix new operator fixtures documents error
  bc_obps/registration/fixtures/mock/operator.json
Due: none

chore: cache re-run
  .github/workflows/test.yaml
Due: none

chore: cache
  .github/workflows/test.yaml
Due: none

feat: add happo e2e finalize job
  .github/workflows/test.yaml
Due: none

choe: update dev data to add declined operation
  bc_obps/registration/fixtures/mock/operation.json
Due: none

test: OperationPOM and helpers
  client/e2e/poms/dashboard.ts
  client/e2e/poms/operations.ts
  client/e2e/utils/helpers.ts
Due: eslint

chore: check if industry user fails CI too
  client/e2e/workflows/bceidbusiness/industry_user_admin.spec.ts
Due: eslint

test: cas_admin operations tile e2e test
  client/e2e/workflows/idir/cas_admin.spec.ts
Due: eslint

Revert "chore: check if industry user fails CI too"
  client/e2e/workflows/bceidbusiness/industry_user_admin.ts
Due: eslint

chore: add a mock file for e2e testing purposes
  bc_obps/registration/fixtures/mock/mock_file.pdf
  bc_obps/registration/schema/operation.py
  bc_obps/registration/tests/test_utils.py
Due: pylint

test: add e2e test helper util
  client/e2e/utils/helpers.ts
Due: eslint

test: cas_admin tests operations tile
  client/e2e/poms/dashboard.ts
  client/e2e/poms/operations.ts
  client/e2e/workflows/idir/cas_admin.spec.ts
Due: eslint

chore: add data test id and fix aria label names
  client/app/components/button/RequestChanges.tsx
  client/app/components/modal/Modal.tsx
  client/app/components/routes/operations/form/Operation.tsx
Due: eslint

refactor: add more generic functions to pom and more refactor
  client/e2e/poms/operations.ts
  client/e2e/utils/enums.ts
  client/e2e/utils/helpers.ts
  client/e2e/workflows/idir/cas_admin.spec.ts
Due: eslint

chore: add more fixtures for e2e testing purposes
  bc_obps/registration/fixtures/mock/operator.json
  bc_obps/registration/fixtures/mock/user.json
  bc_obps/registration/fixtures/mock/userOperator.json
Due: none

chore: using correct data model to get the status
  bc_obps/registration/api/user_operator.py
Due: pylint

test: add operators and operations workflow e2e tests for cas_admin
  client/e2e/poms/dashboard.ts
  client/e2e/poms/operations.ts
  client/e2e/poms/operators.ts
  client/e2e/utils/enums.ts
  client/e2e/utils/helpers.ts
  client/e2e/workflows/idir/cas_admin.spec.ts
Due: eslint

chore: spec work
  bc_obps/registration/middleware/current_user_middleware.py
Due: pylint
