Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy

eslint:
  name: ESLint
  language: system
  entry: ./.bin/pre-commit-lint.sh

mypy:
  name: Mypy
  language: system
  entry: ./.bin/pre-commit-mypy.sh

test: broken tests part 3
  bc_obps/reporting/tests/service/test_report_activity_save_service/infrastructure.py
  bc_obps/reporting/tests/service/test_report_activity_save_service/test_save_report_activity.py
  bc_obps/reporting/tests/service/test_report_activity_save_service/test_save_report_emission.py
  bc_obps/reporting/tests/service/test_report_activity_save_service/test_save_report_fuel.py
  bc_obps/reporting/tests/service/test_report_activity_save_service/test_save_report_methodology.py
  bc_obps/reporting/tests/service/test_report_activity_save_service/test_save_report_source_type.py
  bc_obps/reporting/tests/service/test_report_activity_save_service/test_save_report_unit.py
Due: mypy

chore: update opt-in text Table 1 -> Table 2
  bc_obps/registration/models/opted_in_operation_detail.py
  bciers/apps/registration/app/data/jsonSchema/operationRegistration/optedInOperationText.tsx
Due: eslint, mypy

test: update vitests for opt-in form Table 1 -> Table 2
  bciers/apps/administration/tests/components/operations/OperationInformationForm.test.tsx
  bciers/apps/registration/tests/components/operations/registration/OptedInOperationForm.test.tsx
Due: eslint

chore: structure for frontend schemas
  bc_obps/reporting/json_schemas/2024/ng_non_compression/ng_pneumatic_pump_venting.json
  bc_obps/reporting/migrations/0049_natural_gas_non_compression_configuration.py
  bciers/apps/reporting/src/app/components/activities/uiSchemas/ngNonCompressionUiSchema.ts
Due: eslint, mypy

chore: add triggers to missed timestamped models
  bc_obps/registration/migrations/0072_add_audit_triggers_to_timestamped_models.py
  bc_obps/registration/models/event/event_base_model.py
  bc_obps/registration/models/event/restart_event.py
  bc_obps/registration/models/event/temporary_shutdown_event.py
  bc_obps/registration/models/event/transfer_event.py
Due: mypy

chore: finished data entry for all source types
  bc_obps/reporting/json_schemas/2024/ng_non_compression/10_other_venting_sources.json
  bc_obps/reporting/json_schemas/2024/ng_non_compression/11_other_fugitive_sources.json
  bc_obps/reporting/json_schemas/2024/ng_non_compression/12_third_party_line_hits_with_release_of_gas.json
  bc_obps/reporting/json_schemas/2024/ng_non_compression/1_ng_pneumatic_high_bleed_device_venting.json
  bc_obps/reporting/json_schemas/2024/ng_non_compression/2_ng_pneumatic_pump_venting.json
  bc_obps/reporting/json_schemas/2024/ng_non_compression/3_ng_pneumatic_low_bleed_device_venting.json
  bc_obps/reporting/json_schemas/2024/ng_non_compression/4_ng_pneumatic_intermittent_device_venting.json
  bc_obps/reporting/json_schemas/2024/ng_non_compression/5_blowdown_venting.json
  bc_obps/reporting/json_schemas/2024/ng_non_compression/6_flare_stacks.json
  bc_obps/reporting/json_schemas/2024/ng_non_compression/7_equipment_leaks_detected_using_leak_detection.json
  bc_obps/reporting/json_schemas/2024/ng_non_compression/8_population_count_sources.json
  bc_obps/reporting/json_schemas/2024/ng_non_compression/9_transmission_storage_tanks.json
  bc_obps/reporting/migrations/0049_natural_gas_non_compression_configuration.py
  bciers/apps/reporting/src/app/components/activities/uiSchemas/common.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/ngNonCompressionUiSchema.ts
Due: eslint, mypy

chore: update opt-in text Table 1 -> Table 2
  bc_obps/registration/migrations/0072_alter_historicaloptedinoperationdetail_meets_producing_gger_schedule_a1_regulated_product_and_more.py
  bc_obps/registration/models/opted_in_operation_detail.py
  bciers/apps/registration/app/data/jsonSchema/operationRegistration/optedInOperationText.tsx
Due: eslint, mypy

2613 opt in text (#2777)
  bc_obps/registration/migrations/0072_alter_historicaloptedinoperationdetail_meets_producing_gger_schedule_a1_regulated_product_and_more.py
  bc_obps/registration/models/opted_in_operation_detail.py
  bciers/apps/administration/tests/components/operations/OperationInformationForm.test.tsx
  bciers/apps/registration/app/data/jsonSchema/operationRegistration/optedInOperationText.tsx
  bciers/apps/registration/tests/components/operations/registration/OptedInOperationForm.test.tsx
Due: eslint, mypy

fix: Disable scrolling behavior on global form number inputs
  bciers/libs/styles/src/globals.css
Due: none

chore: Add migration to add missing CEMS methodology in reporting GSC activities
  bc_obps/reporting/migrations/0044_alter_gcs_add_CEMS.py
Due: mypy

chore: Add fuelDescription field to GSC excluding and GSC non-compression forms
  bc_obps/reporting/json_schemas/2024/gsc_excluding_line_tracing/with_useful_energy.json
  bc_obps/reporting/json_schemas/2024/gsc_excluding_line_tracing/without_useful_energy.json
  bc_obps/reporting/json_schemas/2024/gsc_solely_for_line_tracing/with_useful_energy.json
  bc_obps/reporting/json_schemas/2024/gsc_solely_for_line_tracing/without_useful_energy.json
  bciers/apps/reporting/src/app/components/activities/uiSchemas/gscUiSchema.ts
Due: eslint

chore: edit reporting migration just added for rebase
  bc_obps/reporting/migrations/0045_alter_gcs_add_CEMS.py
Due: mypy

feat: Calculate annual fuel amount in Mobile Equipment activity
  bc_obps/reporting/json_schemas/2024/fuel_combustion_mobile/combustion_by_equipment.json
  bc_obps/reporting/migrations/0046_alter_gcs_add_CEMS.py
  bciers/apps/reporting/src/app/components/activities/ActivityForm.tsx
  bciers/apps/reporting/src/app/components/activities/uiSchemas/gscUiSchema.ts
  bciers/libs/utils/src/customReportingActivityFormCalculations.test.ts
  bciers/libs/utils/src/customReportingActivityFormCalculations.ts
Due: eslint, mypy

test: Update tests for the CEMS methodology option
  bc_obps/reporting/tests/models/program_configuration_tests/test_gsc_excluding_line_tracing_2024.py
  bc_obps/reporting/tests/models/program_configuration_tests/test_gsc_non_compression_non_processing_2024.py
  bc_obps/reporting/tests/models/program_configuration_tests/test_gsc_other_than_non_compression_2024.py
  bc_obps/reporting/tests/models/program_configuration_tests/test_gsc_solely_for_line_tracing_2024.py
Due: mypy

chore: edit calculateMobileAnnualAmount for better sonarcloud reliability rating
  bciers/libs/utils/src/customReportingActivityFormCalculations.ts
Due: eslint

chore: update reporting migration 46->49
  bc_obps/reporting/migrations/0049_alter_gcs_add_CEMS.py
Due: mypy

chore: increase compliance app resources for dev and test
  helm/cas-bciers/values-dev.yaml
  helm/cas-bciers/values-test.yaml
Due: none

chore: increase compliance app resources for dev and test (#2779)
  helm/cas-bciers/values-dev.yaml
  helm/cas-bciers/values-test.yaml
Due: none

feat: report verification for LFO
  bc_obps/registration/tests/models/test_user.py
  bc_obps/reporting/api/report_verification.py
  bc_obps/reporting/migrations/0045_remove_reportverification_other_facility_coordinates_and_more.py
  bc_obps/reporting/models/__init__.py
  bc_obps/reporting/models/report_verification.py
  bc_obps/reporting/models/report_verification_visit.py
  bc_obps/reporting/schema/report_verification.py
  bc_obps/reporting/service/report_verification_service.py
  bc_obps/reporting/tests/api/test_report_verification_api.py
  bc_obps/reporting/tests/models/test_report_verification.py
  bc_obps/reporting/tests/service/test_report_verification_service.py
  bc_obps/reporting/tests/utils/baker_recipes.py
Due: mypy

chore: update verification RJSF schemas
  bciers/apps/reporting/src/app/components/verification/VerificationForm.tsx
  bciers/apps/reporting/src/app/components/verification/VerificationPage.tsx
  bciers/apps/reporting/src/app/components/verification/createVerificationSchema.ts
  bciers/apps/reporting/src/app/components/verification/createVerificationUiSchema.ts
  bciers/apps/reporting/src/data/jsonSchema/verification/verification.tsx
  bciers/apps/reporting/src/tests/components/facility/FacilityEmissionAllocationPage.test.tsx
  bciers/apps/reporting/src/tests/components/verification/VerificationForm.test.tsx
  bciers/apps/reporting/src/tests/components/verification/VerificationPage.test.tsx
Due: eslint

tests: update verification api/service test
  bc_obps/reporting/migrations/0046_remove_reportverification_other_facility_coordinates_and_more.py
  bc_obps/reporting/models/report_verification_visit.py
  bc_obps/reporting/tests/api/test_report_verification_api.py
  bc_obps/reporting/tests/service/test_report_verification_service.py
Due: mypy

chore: add verification properties to initial data
  bc_obps/registration/tests/models/test_user.py
  bc_obps/reporting/api/report_verification.py
  bc_obps/reporting/migrations/0046_remove_reportverification_other_facility_coordinates_and_more.py
  bc_obps/reporting/models/report_verification_visit.py
  bc_obps/reporting/schema/report_verification.py
  bc_obps/reporting/service/report_verification_service.py
  bc_obps/reporting/tests/api/test_report_verification_api.py
  bc_obps/reporting/tests/models/test_report_verification.py
  bc_obps/reporting/tests/utils/baker_recipes.py
  bciers/apps/reporting/src/app/components/verification/VerificationForm.tsx
  bciers/apps/reporting/src/app/components/verification/VerificationPage.tsx
  bciers/apps/reporting/src/app/components/verification/createVerificationSchema.ts
  bciers/apps/reporting/src/data/jsonSchema/verification/verification.ts
  bciers/apps/reporting/src/data/jsonSchema/verification/verification.tsx
  bciers/apps/reporting/src/tests/components/verification/VerificationForm.test.tsx
  bciers/apps/reporting/src/tests/components/verification/VerificationPage.test.tsx
Due: eslint, mypy

tests: verification page
  bc_obps/reporting/api/report_verification.py
  bc_obps/reporting/schema/report_verification.py
  bc_obps/reporting/service/report_verification_service.py
  bc_obps/reporting/tests/api/test_report_verification_api.py
  bciers/apps/reporting/src/tests/components/verification/VerificationForm.test.tsx
  bciers/apps/reporting/src/tests/components/verification/VerificationPage.test.tsx
  bciers/libs/testConfig/src/helpers/expectField.ts
Due: eslint, mypy

chore: verification data handling functions
  bciers/apps/reporting/src/app/components/verification/VerificationForm.tsx
  bciers/apps/reporting/src/app/components/verification/VerificationPage.tsx
  bciers/apps/reporting/src/app/components/verification/createVerificationSchema.ts
  bciers/apps/reporting/src/app/utils/verification/extendVerificationData.test.ts
  bciers/apps/reporting/src/app/utils/verification/extendVerificationData.ts
  bciers/apps/reporting/src/app/utils/verification/handleVerificationData.test.ts
  bciers/apps/reporting/src/app/utils/verification/handleVerificationData.ts
  bciers/apps/reporting/src/app/utils/verification/mergeVerificationData.ts
  bciers/apps/reporting/src/data/jsonSchema/verification/verification.tsx
Due: eslint

Path conditions:
  eslint: any of: \.(j|t)sx?$
  mypy: any of: \.py$
