Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy

eslint:
  name: ESLint
  language: system
  entry: ./.bin/pre-commit-lint.sh

mypy:
  name: Mypy
  language: system
  entry: ./.bin/pre-commit-mypy.sh

chore: fix build
  bc_obps/compliance/schema/compliance_report_version.py
  bciers/apps/compliance/src/app/utils/getComplianceSummary.tsx
  bciers/apps/compliance/src/app/utils/getComplianceUnitsApplyData.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/track-status-of-issuance/IssuanceStatusApprovedNote.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/track-status-of-issuance/IssuanceStatusAwaitingNote.test.tsx
  bciers/apps/compliance/src/tests/utils/issuanceStatusNoteTestUtils.ts
Due: eslint, mypy

chore: fix build
  bciers/apps/administration/tests/components/operations/OperationInformationForm.test.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/request-issuance-of-earned-credits/RequestIssuanceOfEarnedCreditsPage.tsx
  bciers/libs/components/src/form/FormBase.test.tsx
Due: eslint

chore: fix migration dependencies
  bc_obps/compliance/migrations/0004_issuancerequest_and_more.py
Due: mypy

chore: fix build
  bc_obps/common/tests/endpoints/auth/constants.py
  bc_obps/registration/tests/models/test_user.py
Due: mypy

chore: fix build
  bc_obps/common/tests/endpoints/auth/constants.py
Due: mypy

chore: add compliance earned credits model
  bc_obps/compliance/enums.py
  bc_obps/compliance/migrations/0004_compliance_earned_credits.py
  bc_obps/compliance/models/__init__.py
  bc_obps/compliance/models/compliance_earned_credits.py
  bc_obps/compliance/models/rls_configs/compliance_earned_credits.py
Due: mypy

chore: migrations are dependent on reporting
  bc_obps/compliance/migrations/0001_initial.py
  bc_obps/compliance/migrations/0004_compliance_earned_credits.py
Due: mypy

test: add test for earned credits model
  bc_obps/compliance/tests/models/test_compliance_earned_credits.py
Due: mypy

test: update broken tests
  bc_obps/compliance/models/compliance_earned_credits.py
  bc_obps/registration/tests/models/test_user.py
  bc_obps/reporting/tests/models/test_report_version.py
  bc_obps/service/tests/test_report_version_service.py
Due: mypy

chore: fixed date in reports table page
  bciers/apps/reporting/src/app/components/operations/OperationsPage.tsx
Due: eslint

chore: added space after comma
  bciers/apps/reporting/src/app/components/operations/OperationsPage.tsx
Due: eslint

fix: manually redirect after signout
  bciers/libs/components/src/auth/SessionTimeoutHandler.tsx
Due: eslint

test: update vitests with manual redirect
  bciers/libs/components/src/auth/SessionTimeoutHandler.test.tsx
Due: eslint

chore: fixed methodology name
  bc_obps/reporting/migrations/0106_update_electricity_generation.py
  bc_obps/reporting/tests/models/program_configuration_tests/test_electricity_generation_2024.py
Due: mypy

chore: add basic get api for earned credits
  bc_obps/compliance/api/_compliance_report_version/_compliance_report_version_id/earned_credits.py
  bc_obps/compliance/api/_compliance_report_version/_compliance_report_version_id/issuance.py
  bc_obps/compliance/service/compliance_dashboard_service.py
  bc_obps/compliance/service/earned_credits_service.py
Due: mypy

chore: register ComplianceReportVersion and ReportComplianceSummary in django admin
  bc_obps/compliance/admin.py
  bc_obps/reporting/admin.py
Due: mypy

chore: add s to compliance report version endpoints
  bc_obps/compliance/api/__init__.py
  bc_obps/compliance/api/_compliance_report_versions/_compliance_report_version_id/issuance.py
  bc_obps/compliance/api/_compliance_report_versions/compliance_report_version_id.py
Due: mypy

chore: update compliance report version schema with new fields and aliases
  bc_obps/compliance/schema/compliance_report_version.py
Due: mypy

chore: delete demo tasklist component
  bciers/apps/reporting/src/app/demo/page.tsx
Due: eslint

chore: remove unnecessary initial data checks in ComplianceSummaries component
  bciers/apps/compliance/src/app/components/compliance-summaries/ComplianceSummaries.tsx
Due: eslint

chore: rename column key for compliance status in summary group
  bciers/apps/compliance/src/app/components/datagrid/models/compliance-summaries/complianceSummaryGroupColumns.tsx
Due: eslint

chore: add "use client" directive to PageTaskListItem and SectionTaskListItem components
  bciers/libs/components/src/navigation/reportingTaskList/items/PageTaskListItem.tsx
  bciers/libs/components/src/navigation/reportingTaskList/items/SectionTaskListItem.tsx
Due: eslint

chore: simplify outstanding balance calculation in ComplianceReportVersionService
  bc_obps/compliance/service/compliance_report_version_service.py
Due: mypy

chore: move CompliancePageLayout to compliance app src
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/apply-compliance-units/ComplianceUnitsApplyComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/review-compliance-summary/ComplianceSummaryReviewComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/request-issuance-of-earned-credits/RequestIssuanceOfEarnedCreditsComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/review-compliance-summary/RequestIssuanceReviewComponent.tsx
  bciers/apps/compliance/src/app/components/layout/CompliancePageLayout.tsx
Due: eslint

chore: update compliance summaries data structure and improve column headers
  bciers/apps/compliance/src/app/components/compliance-summaries/ComplianceSummariesPage.tsx
  bciers/apps/compliance/src/app/components/compliance-summaries/fetchComplianceSummariesPageData.ts
  bciers/apps/compliance/src/app/components/compliance-summaries/types.ts
  bciers/apps/compliance/src/app/components/datagrid/models/compliance-summaries/complianceSummaryColumns.tsx
  bciers/apps/compliance/src/app/components/datagrid/models/compliance-summaries/complianceSummaryGroupColumns.tsx
  bciers/libs/components/src/navigation/complianceSummaryTaskList/ComplianceSummaryTaskList.tsx
Due: eslint

chore: update API endpoint for compliance issuance summary retrieval
  bciers/apps/compliance/src/app/utils/getRequestIssuanceComplianceSummaryData.tsx
Due: eslint

chore: optimize path segment transformation logic in Bread component
  bciers/libs/components/src/navigation/Bread.tsx
Due: eslint

chore: remove redundant init file
  bc_obps/compliance/schema/__init__.py
Due: mypy

chore: dedicated endpoint and component to show operation name as page heading
  bc_obps/compliance/api/_compliance_report_versions/_compliance_report_version_id/operation.py
  bciers/apps/compliance/src/app/components/layout/CompliancePageHeading.tsx
  bciers/apps/compliance/src/app/utils/getOperationByComplianceSummaryId.ts
Due: eslint, mypy

chore: add BC Carbon Registry link to urls
  bciers/libs/utils/src/urls.ts
Due: eslint

chore: update import path for getRequestIssuanceData
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/request-issuance-of-earned-credits/RequestIssuanceOfEarnedCreditsPage.tsx
Due: eslint

chore: add compliance api tags as a constant
  bc_obps/compliance/constants.py
Due: mypy

chore: revert changes
  bciers/libs/components/src/navigation/reportingTaskList/items/SectionTaskListItem.tsx
Due: eslint

feat: add endpoint to get bccr account details
  bc_obps/compliance/api/_bccr/_accounts/account_id.py
Due: mypy

chore: refactor RequestIssuanceReview components to keep its own props
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/review-compliance-summary/RequestIssuanceReviewComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/review-compliance-summary/RequestIssuanceReviewContent.tsx
Due: eslint

chore: adjust database connection max age based on environment
  bc_obps/bc_obps/settings.py
Due: mypy

chore: add ComplianceFormHeading component for form title display
  bciers/apps/compliance/src/app/components/compliance-summary/ComplianceHeading.tsx
  bciers/apps/compliance/src/app/components/layout/ComplianceFormHeading.tsx
Due: eslint

chore: add BccrAccountDetailsResponse interface for BCCR account details
  bciers/apps/compliance/src/app/components/compliance-summaries/types.ts
Due: eslint

Path conditions:
  eslint: any of: \.(j|t)sx?$
  mypy: any of: \.py$
