Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, mypy

prettier:
  name: Prettier
  language: system
  entry: ./.bin/pre-commit-format.sh

eslint:
  name: ESLint
  language: system
  entry: ./.bin/pre-commit-lint.sh

mypy:
  name: Mypy
  language: system
  entry: ./.bin/pre-commit-mypy.sh

fix: copy methodology name not id when cloning reports
  bc_obps/reporting/service/report_supplementary_version_service/report_supplementary_cloning.py
Due: mypy

chore: added regression tests for emission categories
  bc_obps/reporting/tests/service/test_report_supplementary_service/test_report_supplementary_cloning.py
Due: mypy

chore: added more cases to regression test
  bc_obps/reporting/tests/service/test_report_supplementary_service/test_report_supplementary_cloning.py
Due: mypy

Free-text search for numeric filters on internal attachments list (#5289)
  bc_obps/reporting/schema/report_attachment.py
  bc_obps/reporting/tests/endpoints/test_report_attachment_internal_endpoint.py
  bc_obps/reporting/tests/service/test_report_attachment_service.py
Due: mypy

chore: update poetry lock file
  bc_obps/poetry.lock
Due: none

fix: copy methodology name not id when cloning reports (#5297)
  bc_obps/reporting/service/report_supplementary_version_service/report_supplementary_cloning.py
  bc_obps/reporting/tests/service/test_report_supplementary_service/test_report_supplementary_cloning.py
Due: mypy

test: add TaskListForm and ContactForm test cases to validate layout, data submission, and error handling
  bciers/apps/administration/tests/components/contacts/ContactForm.test.tsx
  bciers/libs/components/src/form/TaskListForm.test.tsx
Due: prettier, eslint

fix: flatten contact schema structure and integrate SectionHeaderFieldTemplate
  bciers/apps/administration/app/components/contacts/ContactForm.tsx
  bciers/apps/administration/app/components/contacts/createContactSchema.ts
  bciers/apps/administration/app/data/jsonSchema/contact.ts
  bciers/libs/components/src/form/TaskListForm.tsx
  bciers/libs/components/src/form/fields/SectionHeaderFieldTemplate.tsx
  bciers/libs/components/src/form/fields/index.ts
Due: prettier, eslint

feat: bump tailwindcss to v4.3.3
  bciers/apps/administration/postcss.config.js
  bciers/apps/administration/tailwind.config.js
  bciers/apps/compliance/postcss.config.js
  bciers/apps/compliance/src/app/components/datagrid/cells/ApplyComplianceUnitCell.tsx
  bciers/apps/compliance/src/app/data/jsonSchema/manageObligation/internal/PenaltyCalculatorSchema.tsx
  bciers/apps/compliance/tailwind.config.js
  bciers/apps/dashboard/postcss.config.js
  bciers/apps/dashboard/tailwind.config.js
  bciers/apps/registration/postcss.config.js
  bciers/apps/registration/tailwind.config.js
  bciers/apps/reporting/postcss.config.js
  bciers/apps/reporting/src/app/components/attachments/attachmentsList/columns.tsx
  bciers/apps/reporting/src/app/components/changeReview/templates/ReasonForChange.tsx
  bciers/apps/reporting/src/app/components/changeReview/utils/activityRenderUtils.tsx
  bciers/apps/reporting/src/app/components/finalReview/templates/ActivityView.tsx
  bciers/apps/reporting/src/app/components/reportInformation/facilities/FacilitiesDataGrid.tsx
  bciers/apps/reporting/tailwind.config.js
  bciers/eslint.config.js
  bciers/libs/components/src/form/MultiStepBase.tsx
  bciers/libs/components/src/form/components/MultiStepHeader.tsx
  bciers/libs/components/src/form/fields/BiogenicEmissionsSplitFieldTemplate.tsx
  bciers/libs/components/src/form/fields/NestedArrayFieldTemplate.tsx
  bciers/libs/components/src/form/widgets/BcghgIdWidget.tsx
  bciers/libs/components/src/form/widgets/FileWidget.tsx
  bciers/libs/components/src/layout/Header.tsx
  bciers/libs/components/src/layout/Main.tsx
  bciers/libs/components/src/navigation/complianceSummaryTaskList/ComplianceSummaryTaskList.tsx
  bciers/libs/components/src/navigation/reportingTaskList/ReportingTaskList.tsx
  bciers/libs/styles/src/globals.css
  bciers/package.json
  bciers/tailwind-workspace-preset.js
  bciers/yarn.lock
Due: prettier, eslint

chore: attempt to fix happo diffs
  bciers/apps/administration/app/components/userOperators/SelectOperatorReceivedPage.tsx
  bciers/apps/reporting/src/app/components/attachments/AttachmentsForm.tsx
  bciers/apps/reporting/src/app/components/changeReview/templates/AdditionalReportingData.tsx
  bciers/apps/reporting/src/app/components/changeReview/templates/ComplianceSummary.tsx
  bciers/apps/reporting/src/app/components/changeReview/templates/ElectricityImportData.tsx
  bciers/apps/reporting/src/app/components/changeReview/templates/EmissionAllocationChangeView.tsx
  bciers/apps/reporting/src/app/components/changeReview/templates/NewEntrantChanges.tsx
  bciers/apps/reporting/src/app/components/changeReview/templates/OperationEmissionSummary.tsx
  bciers/apps/reporting/src/app/components/changeReview/templates/ReviewChanges.tsx
  bciers/libs/components/src/form/fields/BasicFieldTemplate.tsx
Due: prettier, eslint

chore: make sonarqube happy
  .sonarcloud.properties
Due: none

chore: attempt to fix happo diffs by updating header text
  bciers/libs/components/src/layout/Header.tsx
Due: prettier, eslint

chore: fix build
  bciers/libs/components/src/form/fields/BasicFieldTemplate.tsx
Due: prettier, eslint

docs: update docs
  docs/frontend/css-theme-guide.md
  docs/frontend/developer-guide.md
Due: prettier

chore: standardize deleted item styles across ActivityView and activityRenderUtils
  bciers/apps/reporting/src/app/components/changeReview/utils/activityRenderUtils.tsx
  bciers/apps/reporting/src/app/components/finalReview/templates/ActivityView.tsx
Due: prettier, eslint

fix: typo
  bciers/apps/reporting/src/app/components/facility/facilityEmissionAllocation/validatePulpAndPaper.ts
Due: prettier, eslint

fix: typo (#5305)
  bciers/apps/reporting/src/app/components/facility/facilityEmissionAllocation/validatePulpAndPaper.ts
Due: prettier, eslint

chore: add engage.dev.yml
  engage.dev.yaml
Due: none

chore: run yarn dedupe
  bciers/yarn.lock
Due: none

chore: add engage.dev.yml (#5308)
  engage.dev.yaml
Due: none

chore: added 'thread' and 'comment' models
  bc_obps/reporting/enums/enums.py
  bc_obps/reporting/migrations/0213_thread_comment_thread_set_created_audit_columns_and_more.py
  bc_obps/reporting/models/__init__.py
  bc_obps/reporting/models/comment.py
  bc_obps/reporting/models/rls_configs/comment.py
  bc_obps/reporting/models/rls_configs/thread.py
  bc_obps/reporting/models/thread.py
  bciers/apps/reporting/src/app/components/comments/Comment.tsx
  bciers/apps/reporting/src/app/components/comments/CommentComponent.tsx
  bciers/apps/reporting/src/app/components/comments/CommentsDrawer.tsx
  bciers/apps/reporting/src/app/components/comments/CommentsSidebar.tsx
  bciers/apps/reporting/src/app/components/comments/NewThreadComponent.tsx
  bciers/apps/reporting/src/app/components/comments/ThreadComponent.tsx
  bciers/apps/reporting/src/app/components/comments/ThreadFrame.tsx
  bciers/apps/reporting/src/app/components/comments/types.ts
  bciers/apps/reporting/src/app/components/layout/withReportComments.tsx
  bciers/apps/reporting/src/app/idir/cas_director/reports/[version_id]/annual-report/page.tsx
Due: prettier, eslint, mypy

chore: event handlers
  bc_obps/reporting/api_v2/__init__.py
  bc_obps/reporting/api_v2/_reports/_report_id/comment_schema.py
  bc_obps/reporting/api_v2/_reports/_report_versions/_report_version_id/threads.py
  bc_obps/reporting/enums/enums.py
  bc_obps/reporting/migrations/0213_comment_and_thread.py
  bc_obps/reporting/models/__init__.py
  bc_obps/reporting/models/comment.py
  bc_obps/reporting/models/comment_thread.py
  bc_obps/reporting/models/rls_configs/comment_thread.py
  bciers/apps/reporting/src/app/components/comments/CommentsSidebar.tsx
  bciers/apps/reporting/src/app/components/comments/NewThreadComponent.tsx
  bciers/apps/reporting/src/app/components/comments/ThreadComponent.tsx
  bciers/apps/reporting/src/app/components/comments/types.ts
  bciers/apps/reporting/src/app/components/layout/withReportComments.tsx
  bciers/apps/reporting/src/app/idir/cas_analyst/reports/[version_id]/annual-report/page.tsx
  bciers/apps/reporting/src/app/utils/getCommentThreads.ts
  bciers/apps/reporting/src/app/utils/typesApiV2.ts
Due: prettier, eslint, mypy

feat: internal users can add comments to a report version
  bciers/apps/reporting/src/app/components/comments/Comment.tsx
  bciers/apps/reporting/src/app/components/comments/CommentsDrawer.tsx
  bciers/apps/reporting/src/app/components/layout/withReportComments.tsx
Due: prettier, eslint

chore: new thread API
  bc_obps/reporting/api_v2/_reports/_report_id/comment_schema.py
  bc_obps/reporting/api_v2/_reports/_report_versions/_report_version_id/threads.py
  bc_obps/reporting/constants.py
Due: mypy

chore: generic payload for response builder
  bc_obps/reporting/api_v2/response_builder.py
Due: mypy

test: get threads api endpoint tests
  bc_obps/reporting/api_v2/_reports/_report_id/comment_thread_schema.py
  bc_obps/reporting/api_v2/_reports/_report_versions/_report_version_id/threads.py
  bc_obps/reporting/tests/api_v2/reports/test_threads_endpoints.py
  bc_obps/reporting/tests/utils/baker_recipes.py
  bciers/apps/reporting/src/app/components/comments/types.ts
Due: prettier, eslint, mypy

chore: update comment and thread response schemas to conform to frontend
  bc_obps/reporting/api_v2/__init__.py
  bc_obps/reporting/api_v2/_report_versions/_report_version_id/threads.py
  bc_obps/reporting/api_v2/_reports/_report_id/comment_thread_schema.py
  bc_obps/reporting/tests/api_v2/report_versions/test_threads_endpoints.py
  bc_obps/reporting/tests/api_v2/reports/test_threads_endpoints.py
  bciers/apps/reporting/src/app/components/comments/CommentsSidebar.tsx
  bciers/apps/reporting/src/app/components/comments/types.ts
  bciers/apps/reporting/src/app/components/layout/withReportComments.tsx
  bciers/apps/reporting/src/app/utils/getCommentThreads.ts
  bciers/apps/reporting/src/tests/components/comments/CommentsSidebar.test.tsx
Due: prettier, eslint, mypy

chore: post new thread
  bc_obps/reporting/api_v2/_reports/_report_id/comment_thread_schema.py
  bciers/apps/reporting/src/app/components/comments/CommentsSidebar.tsx
  bciers/apps/reporting/src/app/components/comments/NewThreadComponent.tsx
  bciers/apps/reporting/src/app/components/comments/types.ts
  bciers/apps/reporting/src/app/utils/postCommentThread.ts
Due: prettier, eslint, mypy

test: comments sidebar
  bc_obps/reporting/migrations/0214_comment_and_thread.py
  bciers/apps/reporting/src/app/components/comments/CommentComponent.tsx
  bciers/apps/reporting/src/tests/components/comments/CommentThreadComponent.test.tsx
  bciers/apps/reporting/src/tests/components/comments/CommentsSidebar.test.tsx
  bciers/apps/reporting/src/tests/components/comments/NewThreadComponent.test.tsx
Due: prettier, eslint, mypy

chore: date display matches wireframe
  bciers/apps/reporting/src/app/components/comments/CommentComponent.tsx
  bciers/apps/reporting/src/tests/components/comments/CommentThreadComponent.test.tsx
Due: prettier, eslint

chore: adding the comments sidebar on submitted and facility internal views
  bciers/apps/reporting/src/app/idir/cas_admin/reports/[version_id]/annual-report/facility/[facility_id]/page.tsx
  bciers/apps/reporting/src/app/idir/cas_admin/reports/[version_id]/annual-report/page.tsx
  bciers/apps/reporting/src/app/idir/cas_admin/reports/[version_id]/submitted/facility/[facility_id]/page.tsx
  bciers/apps/reporting/src/app/idir/cas_admin/reports/[version_id]/submitted/page.tsx
  bciers/apps/reporting/src/app/idir/cas_analyst/reports/[version_id]/annual-report/facility/[facility_id]/page.tsx
  bciers/apps/reporting/src/app/idir/cas_analyst/reports/[version_id]/submitted/facility/[facility_id]/page.tsx
  bciers/apps/reporting/src/app/idir/cas_analyst/reports/[version_id]/submitted/page.tsx
  bciers/apps/reporting/src/app/idir/cas_director/reports/[version_id]/annual-report/facility/[facility_id]/page.tsx
  bciers/apps/reporting/src/app/idir/cas_director/reports/[version_id]/submitted/facility/[facility_id]/page.tsx
  bciers/apps/reporting/src/app/idir/cas_director/reports/[version_id]/submitted/page.tsx
Due: prettier, eslint

test: add date formatting to front end test
  bc_obps/reporting/api_v2/_report_versions/_report_version_id/threads.py
  bciers/apps/reporting/src/app/components/comments/CommentsSidebar.tsx
  bciers/apps/reporting/src/app/components/comments/NewThreadComponent.tsx
  bciers/apps/reporting/src/tests/components/comments/CommentThreadComponent.test.tsx
  bciers/apps/reporting/src/tests/components/comments/NewThreadComponent.test.tsx
Due: prettier, eslint, mypy

chore: forbid submitting empty comment
  bciers/apps/reporting/src/app/components/comments/NewThreadComponent.tsx
  bciers/apps/reporting/src/tests/components/comments/NewThreadComponent.test.tsx
Due: prettier, eslint

chore: disallow empty comment on the server side
  bc_obps/reporting/api_v2/_reports/_report_id/comment_thread_schema.py
  bciers/apps/reporting/src/app/components/comments/NewThreadComponent.tsx
Due: prettier, eslint, mypy

test: comment and thread model tests
  bc_obps/common/tests/endpoints/auth/constants.py
  bc_obps/registration/tests/models/test_facility.py
  bc_obps/registration/tests/models/test_user.py
  bc_obps/reporting/migrations/0214_comment_and_thread.py
  bc_obps/reporting/models/comment.py
  bc_obps/reporting/models/comment_thread.py
  bc_obps/reporting/tests/models/test_comment.py
  bc_obps/reporting/tests/models/test_comment_thread.py
  bc_obps/reporting/tests/models/test_report.py
  bc_obps/reporting/tests/models/test_report_version.py
Due: mypy

chore: on delete
  bc_obps/reporting/migrations/0214_comment_and_thread.py
  bc_obps/reporting/models/comment.py
  bc_obps/reporting/models/comment_thread.py
Due: mypy

Prefetch for backend GET
  bc_obps/reporting/api_v2/_report_versions/_report_version_id/threads.py
Due: mypy

chore: timezone is always vancouver
  bciers/apps/reporting/src/app/components/comments/CommentComponent.tsx
Due: prettier, eslint

chore: permissions
  bc_obps/common/tests/endpoints/auth/constants.py
  bc_obps/reporting/api_v2/_report_versions/_report_version_id/threads.py
Due: mypy

Path conditions:
  prettier: any of: \.(j|t)sx?$|\.json$|\.md$|\.css$|\.scss$, but not: (\.next/|node_modules/|dist/|build/|coverage/|\.nx/cache/)
  eslint: any of: \.(j|t)sx?$, but not: (\.next/|node_modules/|dist/|build/|coverage/|\.nx/cache/|tests/performance/)
  mypy: any of: \.py$
