Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy

eslint:
  name: ESLint
  language: system
  entry: ./.bin/pre-commit-lint.sh

mypy:
  name: Mypy
  language: system
  entry: ./.bin/pre-commit-mypy.sh

chore: removing note from operation review section
  bciers/apps/reporting/src/app/components/finalReview/reviewDataFactory/operationReviewFactoryItem.ts
Due: eslint

chore: tests
  bciers/apps/reporting/src/app/components/finalReview/FinalReviewForm.tsx
  bciers/apps/reporting/src/tests/components/finalReview/FinalReviewForm.test.tsx
  bciers/apps/reporting/src/tests/components/verification/VerificationForm.test.tsx
  bciers/libs/components/src/form/MultiStepWrapperWithTaskList.tsx
  bciers/libs/components/src/form/components/ReportingStepButtons.tsx
Due: eslint

chore: add util to format decimals
  bc_obps/common/utils.py
Due: mypy

chore: remove redundant pages
  bciers/apps/registration/app/bceidbusiness/industry_user/event/page.tsx
  bciers/apps/registration/app/bceidbusiness/industry_user_admin/event/page.tsx
  bciers/apps/registration/app/idir/cas_admin/event/page.tsx
  bciers/apps/registration/app/idir/cas_analyst/event/page.tsx
  bciers/apps/registration/app/idir/cas_director/event/page.tsx
  bciers/apps/registration/app/idir/cas_view_only/event/page.tsx
Due: eslint

chore: generate random id for data grid
  bciers/apps/registration/app/components/transfers/fetchTransferEventsPageData.ts
Due: eslint

chore: make local pytest happy when `BYPASS_ROLE_ASSIGNMENT` is set to True
  bc_obps/registration/tests/endpoints/v1/user/test_user_profile.py
  bc_obps/registration/tests/endpoints/v2/user/test_user_profile.py
Due: mypy

chore: improve simple modal component
  bciers/apps/reporting/src/app/components/operations/OperationReviewForm.tsx
  bciers/libs/components/src/modal/SimpleModal.tsx
Due: eslint

chore: add more transfer event fixture
  bc_obps/registration/fixtures/mock/transfer_event.json
Due: none

chore: fix clearing functionality of date widget - was not triggering the form error
  bciers/libs/components/src/form/widgets/DateWidget.test.tsx
  bciers/libs/components/src/form/widgets/DateWidget.tsx
Due: eslint

chore: fix typing
  bciers/apps/registration/app/components/transfers/types.ts
Due: eslint

feat: update and delete transfer events
  bc_obps/registration/api/v2/__init__.py
  bc_obps/registration/api/v2/_transfer_events/transfer_id.py
  bc_obps/registration/schema/v2/transfer_event.py
  bc_obps/service/data_access_service/transfer_event_service.py
  bc_obps/service/transfer_event_service.py
  bciers/apps/registration/app/components/transfers/TransferDetailForm.tsx
  bciers/apps/registration/app/components/transfers/TransferPage.tsx
  bciers/apps/registration/app/components/transfers/TransfersDataGrid.tsx
  bciers/apps/registration/app/components/transfers/enums.ts
  bciers/apps/registration/app/components/transfers/getTransferEvent.ts
  bciers/apps/registration/app/components/transfers/types.ts
  bciers/apps/registration/app/data/jsonSchema/transfer/transferDetail.ts
  bciers/apps/registration/app/idir/cas_analyst/transfers/[transferId]/page.tsx
Due: eslint, mypy

chore: fix existing types
  bciers/apps/administration/app/components/facilities/types.ts
Due: eslint

chore: remove second from timestamp util
  bciers/libs/utils/src/formatTimestamp.ts
Due: eslint

chore: make mypy happy
  bc_obps/registration/schema/v2/transfer_event.py
Due: mypy

chore: fix existing tests
  bc_obps/registration/tests/endpoints/v2/test_transfer_events.py
  bciers/apps/registration/tests/components/transfers/TransferPage.test.tsx
Due: eslint, mypy

chore: add new make target to run pytests in parallel mode
  bc_obps/Makefile
Due: none

test: add endpoint permission tests
  bc_obps/common/tests/endpoints/auth/test_endpoint_permissions.py
  bc_obps/registration/api/v2/_transfer_events/transfer_id.py
Due: mypy

chore: minor naming tweak
  bciers/apps/registration/app/components/transfers/TransferDetailForm.tsx
Due: eslint

chore: remove redundant code
  bc_obps/registration/api/v2/_transfer_events/transfer_id.py
  bc_obps/registration/tests/endpoints/v2/test_transfer_events.py
Due: mypy

chore: make sonar happy
  bciers/apps/registration/app/components/transfers/fetchTransferEventsPageData.ts
Due: eslint

chore: add mocks and helpers for test
  bc_obps/registration/tests/utils/helpers.py
  bciers/apps/registration/tests/components/transfers/mocks.ts
Due: eslint, mypy

Path conditions:
  eslint: any of: \.(j|t)sx?$
  mypy: any of: \.py$
