Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, pylint

eslint:
  name: ESLint
  language: system
  entry: ./.bin/pre-commit-lint.sh

pylint:
  name: pylint
  entry: bash -c "cd bc_obps && poetry run pylint --rcfile=.pylintrc *.py"
  language: system
  require_serial: true

chore: add parent_company fixture
  bc_obps/registration/fixtures/mock/parent_operator.json
Due: none

chore: add a swrs_organisation_id field to the operator table
  bc_obps/registration/migrations/0003_historicaloperator_swrs_organisation_id_and_more.py
  bc_obps/registration/models.py
Due: pylint

chore: update import script to handle uuid primary keys
  data_import/obps_import_swrs_data_from_fdw.sql
Due: none

chore: add swrs_organisation_id to import script
  data_import/obps_import_swrs_data_from_fdw.sql
Due: none

chore: update job template with uuid-ossp extension
  data_import/import-job-template.yaml
Due: none

chore: make prettier happy
  bc_obps/registration/models.py
Due: pylint

tests: update model test
  bc_obps/registration/tests/test_models.py
Due: pylint

Fix: changed mock child_operator from id to uuid
  bc_obps/registration/fixtures/mock/parent_operator.json
Due: none

Fix: changed mock child_operator from id to uuid (#965)
  bc_obps/registration/fixtures/mock/parent_operator.json
Due: none

chore: update operator form text
  client/app/components/form/UserOperatorForm.tsx
Due: eslint

chore: fix types
  client/app/components/datagrid/Note.tsx
Due: eslint

chore: update operator addresses
  bc_obps/registration/api/user_operator.py
  bc_obps/registration/api/utils/handle_operator_addresses.py
  bc_obps/registration/schema/user_operator.py
Due: pylint

chore: comment about multiple operator addresses
  bc_obps/registration/api/operation.py
Due: pylint

chore: spec work
  bc_obps/registration/api/user_operator.py
  bc_obps/registration/api/utils/handle_operator_addresses.py
  bc_obps/registration/api/utils/handle_parent_operators.py
  bc_obps/registration/schema/parent_operator.py
  bc_obps/registration/schema/user_operator.py
Due: pylint

test: user operator helpers tests
  bc_obps/registration/tests/test_utils.py
Due: pylint

chore: debug tests
  bc_obps/registration/api/user_operator.py
  bc_obps/registration/api/utils/handle_operator_addresses.py
  bc_obps/registration/api/utils/handle_parent_operators.py
  bc_obps/registration/tests/test_utils.py
  bc_obps/registration/utils.py
Due: pylint

chore: circular import
  bc_obps/registration/api/user_operator.py
  bc_obps/registration/api/utils/raise_401.py
  bc_obps/registration/api/utils/save_operator.py
  bc_obps/registration/tests/test_utils.py
  bc_obps/registration/utils.py
Due: pylint

chore: fix circular import issue
  bc_obps/registration/api/user_operator.py
  bc_obps/registration/api/utils/__init__.py
  bc_obps/registration/api/utils/operator_utils.py
  bc_obps/registration/api/utils/parent_operator_utils.py
  bc_obps/registration/api/utils/raise_401.py
  bc_obps/registration/api/utils/save_operator.py
  bc_obps/registration/tests/test_utils.py
  bc_obps/registration/utils.py
Due: pylint

chore: debugging
  bc_obps/registration/api/utils/operator_utils.py
Due: pylint

chore: debugging
  bc_obps/registration/api/utils/parent_operator_utils.py
Due: pylint

chore: cleanup
  bc_obps/registration/schema/parent_operator.py
Due: pylint

Path conditions:
  eslint: any of: \.(j|t)sx?$
  pylint: any of: \.py$
