Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3 # Use the sha or tag you want to point at
    hooks:
      - id: prettier
        name: Prettier
        stages: [commit]

  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        language: system
        files: \.(j|t)sx?$
        entry: ./.bin/pre-commit-lint.sh
      - id: mypy
        name: Mypy
        language: system
        types: [python]
        entry: ./.bin/pre-commit-mypy.sh

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-vcs-permalinks
      - id: check-yaml
        exclude: (^helm/.*/templates/)
      - id: end-of-file-fixer
        exclude: (^erd_diagrams/)
      - id: trailing-whitespace
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        types: [python]
        args: ["--config", "bc_obps/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.2
    hooks:
      - id: ruff
        args: ["bc_obps/", "--fix"]

  - repo: https://github.com/python-poetry/poetry
    rev: 1.6.1
    hooks:
      - id: poetry-check
        args: ["-C", "./bc_obps"]
      - id: poetry-lock
        args: ["-C", "./bc_obps", "--check"] # --check to ensure lock file is up to date without updating it

  - repo: https://github.com/PyCQA/bandit
    rev: "1.7.5"
    hooks:
      - id: bandit
        args: ["-c", "bc_obps/bandit.yaml"]

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.2.5
    hooks:
      - id: gitleaks

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.16.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]

chore: update values based on sonar recs
  helm/migration-test/cas-obps-backend-migration-test/templates/backend/deployment.yaml
Due: none

chore: correct jq usage
  dags/bc_obps_test_migrations.py
Due: mypy

chore: tune PGO pvc claim size
  helm/migration-test/cas-obps-postgres-migration-test/templates/postgres-cluster.yaml
Due: none

chore: adding network policy
  helm/cas-bciers/templates/NetworkPolicy/postgresDataWarehouseIngress.yaml
  helm/cas-bciers/values-dev.yaml
  helm/cas-bciers/values-prod.yaml
  helm/cas-bciers/values-test.yaml
  helm/cas-bciers/values.yaml
Due: none

chore: reporter does not see delete contact button
  bciers/apps/administration/app/components/contacts/ContactForm.tsx
Due: eslint

test: vitest to make sure only allowed roles can see delete contact button
  bciers/apps/administration/tests/components/contacts/ContactForm.test.tsx
Due: eslint

chore: update modal text
  bciers/apps/administration/app/components/contacts/ContactForm.tsx
  bciers/apps/administration/tests/components/contacts/ContactForm.test.tsx
Due: eslint

chore: apply suggestions from code review
  bciers/apps/administration/app/components/contacts/ContactForm.tsx
  bciers/apps/administration/tests/components/contacts/ContactForm.test.tsx
Due: eslint

chore: apply compliance units page changes
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/apply-compliance-units/ApplyComplianceUnitsComponent.tsx
  bciers/apps/compliance/src/app/data/jsonSchema/manageObligation/applyComplianceUnitsSchema.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/apply-compliance-units/ApplyComplianceUnitsComponent.test.tsx
  bciers/apps/compliance/tsconfig.tsbuildinfo
Due: eslint

chore: cleanup
  bciers/apps/compliance/tsconfig.tsbuildinfo
Due: none

chore: made contact email validation case-insensitive
  bc_obps/service/contact_service.py
  bc_obps/service/tests/test_contact_service.py
Due: mypy

chore: made contact email validation case-insensitive (#3580)
  bc_obps/service/contact_service.py
  bc_obps/service/tests/test_contact_service.py
Due: mypy

chore: updated equivalent emission in report raw activity data json
  bc_obps/reporting/migrations/0114_update_report_raw_activity_data_equivalent_emission.py
  bc_obps/reporting/service/report_activity_save_service.py
Due: mypy

chore: added test
  bc_obps/reporting/migrations/0119_update_report_raw_activity_data_equivalent_emission.py
  bc_obps/reporting/tests/migration/test_0119_update_report_raw_activity_data_equivalent_emission.py
Due: mypy

chore: fixed final review page
  bc_obps/reporting/api/report_final_review.py
  bc_obps/reporting/schema/report_final_review.py
  bciers/apps/reporting/src/app/components/finalReview/FinalReviewForm.tsx
  bciers/apps/reporting/src/app/components/finalReview/finalReviewFields.ts
  bciers/apps/reporting/src/app/components/finalReview/reportTypes.ts
  bciers/apps/reporting/src/app/components/finalReview/templates/FieldDisplay.tsx
  bciers/apps/reporting/src/app/components/finalReview/templates/SectionReview.tsx
Due: eslint, mypy

chore: fix duplication in fields
  bciers/apps/reporting/src/app/components/finalReview/finalReviewFields.ts
Due: eslint

chore: added small fix
  bc_obps/reporting/service/report_activity_save_service.py
Due: mypy

chore: fixed decimal fields in final review
  bciers/apps/reporting/src/app/components/finalReview/finalReviewFields.ts
  bciers/apps/reporting/src/app/components/finalReview/templates/FieldDisplay.tsx
  bciers/apps/reporting/src/app/components/finalReview/templates/SectionReview.tsx
Due: eslint

chore: fix numbers on new entrant and EIO form
  bciers/apps/reporting/src/data/jsonSchema/eio.ts
  bciers/apps/reporting/src/data/jsonSchema/newEntrantInformation/newEntrantInformationSchema.tsx
Due: eslint

chore: fix styling on facility allocation page
  bciers/apps/reporting/src/data/jsonSchema/facility/facilityEmissionAllocation.tsx
Due: eslint

chore: fix required fields on EIO form
  bciers/apps/reporting/src/data/jsonSchema/eio.ts
  bciers/apps/reporting/src/tests/components/eio/ElectricityInformationForm.test.tsx
Due: eslint

chore: fix new entrant types in schema
  bc_obps/reporting/schema/report_new_entrant.py
Due: mypy

chore: fix number formatting on new final review page
  bciers/apps/reporting/src/app/components/finalReview/formCustomization/FinalReviewStringField.tsx
  bciers/apps/reporting/src/app/components/finalReview/reportTypes.ts
  bciers/apps/reporting/src/app/components/finalReview/templates/FieldDisplay.tsx
Due: eslint

chore: fix pytests
  bc_obps/reporting/tests/api/test_report_new_entrant_endpoint.py
Due: mypy

chore: in progress. No longer appear with commas in UI. Error adding new wells.
  bc_obps/registration/fixtures/mock/facility.json
  bc_obps/registration/fixtures/mock/well_authorization_number.json
  bc_obps/registration/schema/facility.py
  bc_obps/service/facility_service.py
  bciers/apps/administration/app/data/jsonSchema/facilitiesLfo.ts
Due: eslint, mypy

chore: in progress. Vitests failing. New fixture file added for well auth nums
  bc_obps/common/management/commands/load_fixtures.py
  bc_obps/registration/fixtures/mock/well_authorization_number.json
  bc_obps/registration/schema/facility.py
  bc_obps/registration/tests/endpoints/_facilities/test_facility_id.py
  bc_obps/registration/tests/endpoints/_operations/_operation_id/test_facilities.py
  bc_obps/registration/tests/integration/test_operation_registration.py
  bc_obps/service/facility_service.py
  bc_obps/service/tests/test_facility_service.py
  bciers/apps/administration/app/data/jsonSchema/facilitiesLfo.ts
  bciers/apps/administration/tests/components/facilities/FacilityForm.test.tsx
  bciers/apps/administration/tests/components/facilities/FacilityPage.test.tsx
  bciers/apps/registration/tests/performance/scenarios/backend/facility.js
  bciers/libs/components/src/form/SingleStepTaskListForm.test.tsx
Due: eslint, mypy

chore: reverted change - no longer needed
  bc_obps/service/facility_service.py
Due: mypy

chore: fixed errors in pytests; fixed some failures
  bc_obps/registration/tests/constants.py
  bc_obps/registration/tests/endpoints/_facilities/test_facility_id.py
  bc_obps/registration/tests/models/event/test_closure.py
  bc_obps/registration/tests/models/event/test_restart.py
  bc_obps/registration/tests/models/event/test_temporary_shutdown.py
  bc_obps/registration/tests/models/event/test_transfer.py
  bc_obps/registration/tests/models/test_facility.py
  bc_obps/service/tests/test_facility_service.py
Due: mypy

chore: converted list of strs to set of ints in Facility Service
  bc_obps/registration/schema/facility.py
  bc_obps/service/facility_service.py
Due: mypy

chore: fixed failing python tests
  bc_obps/registration/schema/facility.py
  bc_obps/registration/tests/endpoints/_facilities/test_facility_id.py
Due: mypy

chore: lots of debugging and an attempt to fix FacilityOut
  bc_obps/registration/models/facility.py
  bc_obps/registration/schema/facility.py
  bc_obps/registration/tests/endpoints/_facilities/test_facility_id.py
  bc_obps/registration/tests/utils/helpers.py
  bc_obps/service/data_access_service/facility_service.py
  bc_obps/service/facility_service.py
Due: mypy

chore: in progress. Added option for ariaLabels to InlineArrayFieldTemplate component
  bciers/apps/administration/app/data/jsonSchema/facilitiesLfo.ts
  bciers/apps/administration/tests/components/facilities/FacilityForm.test.tsx
  bciers/libs/components/src/form/fields/InlineArrayFieldTemplate.tsx
Due: eslint

chore: fixed 1 failing test re: well auth numbers; report allocation emission tests still failing
  bc_obps/registration/tests/endpoints/_facilities/test_facility_id.py
  bc_obps/reporting/tests/service/test_report_emission_allocation_service.py
  bc_obps/service/facility_service.py
Due: mypy

chore: fixed failing vitests for well auth numbers
  bciers/apps/administration/tests/components/facilities/FacilityForm.test.tsx
  bciers/libs/components/src/form/fields/InlineArrayFieldTemplate.tsx
Due: eslint

chore: fixed FacilityOut model schema; most pytests working
  bc_obps/registration/schema/facility.py
  bc_obps/registration/tests/endpoints/_facilities/test_facility_id.py
Due: mypy

chore: removed print statements from API - no longer needed. All pythontests passing now despite changing nothing about emission allocations...
  bc_obps/registration/schema/facility.py
  bc_obps/registration/tests/endpoints/_facilities/test_facility_id.py
  bc_obps/registration/tests/utils/helpers.py
  bc_obps/reporting/tests/service/test_report_emission_allocation_service.py
Due: mypy

chore: cleaned up code
  bc_obps/registration/tests/endpoints/_facilities/test_facility_id.py
  bciers/apps/administration/tests/components/facilities/FacilityForm.test.tsx
  bciers/libs/components/src/form/fields/InlineArrayFieldTemplate.tsx
Due: eslint, mypy

chore: removed aria-label stuff in InlineArrayFieldTemplate - it's not working
  bciers/apps/administration/app/data/jsonSchema/facilitiesLfo.ts
  bciers/libs/components/src/form/fields/InlineArrayFieldTemplate.tsx
Due: eslint

chore: use ID instead of created_at for ordering report versions in SupplementaryReportVersionService
  bc_obps/compliance/service/supplementary_version_service.py
Due: mypy

test: pytest for missing emission category mappings
  bc_obps/reporting/tests/models/test_emission_category_mapping.py
Due: mypy
