Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy

eslint:
  name: ESLint
  language: system
  entry: ./.bin/pre-commit-lint.sh

mypy:
  name: Mypy
  language: system
  entry: ./.bin/pre-commit-mypy.sh

chore: fixing operation review after rebase
  bciers/apps/reporting/src/app/components/operations/OperationReview.tsx
Due: eslint

chore: fixing ability to reset form data on submit
  bciers/libs/components/src/form/NavigationForm.tsx
Due: eslint

chore: missing key on component
  bciers/libs/components/src/form/NavigationForm.tsx
Due: eslint

chore: fixing sticky errors on activity form
  bciers/apps/reporting/src/app/components/activities/ActivityForm.tsx
Due: eslint

chore: remove dry-run from make install command
  Makefile
Due: none

chore: add backend label to cronjob template
  helm/cas-bciers/templates/cronJobs/process-due-transfer-events.yaml
Due: none

chore: add migration for status model change
  bc_obps/reporting/migrations/0042_alter_reportversion_status.py
Due: mypy

feat: Add status column to reporting operation table
  bc_obps/reporting/models/report_version.py
  bciers/apps/reporting/src/app/components/datagrid/models/operations/operationColumns.tsx
  bciers/apps/reporting/src/app/components/datagrid/models/operations/operationGroupColumns.ts
  bciers/apps/reporting/src/app/components/operations/cells/ReportingOperationStatusCell.tsx
  bciers/libs/utils/src/enums.ts
Due: eslint, mypy

test: update test after adding status column to reporting table
  bciers/apps/reporting/src/tests/components/dataGrid/model/operations/operationColumns.test.tsx
Due: eslint

chore: fix tests and add missing precommit change
  bc_obps/service/tests/test_report_service.py
  bciers/apps/reporting/src/app/components/operations/cells/ReportingOperationStatusCell.tsx
  bciers/apps/reporting/src/tests/components/dataGrid/model/operations/operationColumns.test.tsx
Due: eslint, mypy

chore: edit migration name after rebase
  bc_obps/reporting/migrations/0043_alter_reportversion_status.py
Due: mypy

refactor: refactor op group column file purely for sonarcloud
  bciers/apps/reporting/src/app/components/datagrid/models/operations/operationGroupColumns.ts
Due: eslint

chore: Implement 'nitpick' suggestions
  bciers/apps/reporting/src/app/components/datagrid/models/operations/operationColumns.tsx
  bciers/apps/reporting/src/app/components/datagrid/models/operations/operationGroupColumns.ts
  bciers/apps/reporting/src/tests/components/dataGrid/model/operations/operationColumns.test.tsx
  bciers/libs/components/src/datagrid/createColumnGrid.tsx
Due: eslint

chore: precommit eslint changes
  bciers/libs/components/src/datagrid/createColumnGrid.tsx
Due: eslint

fix: replace , with & in sourceType join aggregation to build_schema to avoid undefined type
  bciers/apps/reporting/src/app/components/activities/ActivityForm.tsx
Due: eslint

style: Move smeltertechtype on alumina page below the annual emissions
  bc_obps/reporting/service/report_verification_service.py
  bc_obps/reporting/tests/service/test_report_verification_service.py
  bciers/apps/reporting/src/app/components/activities/uiSchemas/aluminumUiSchema.ts
Due: eslint, mypy

chore: we don't need process event dag as chart dependency
  helm/cas-bciers/Chart.yaml
Due: none

chore: update transfer fixture to make sure dag is working - also using operation 5 instead of 3
  bc_obps/registration/fixtures/mock/transfer_event.json
Due: none

chore: use cas_analyst by default if `BYPASS_ROLE_ASSIGNMENT` is set
  bc_obps/service/user_profile_service.py
Due: mypy

chore: make facility lat and long optional in backend
  bc_obps/registration/migrations/0067_alter_facility_latitude_of_largest_emissions_and_more.py
  bc_obps/registration/models/facility.py
  bc_obps/registration/schema/v1/facility.py
Due: mypy

feat: small aggregate facility requires fewer fields
  bciers/apps/administration/app/data/jsonSchema/facilitiesLfo.ts
  bciers/apps/administration/app/data/jsonSchema/facilitiesSfo.ts
  bciers/apps/administration/tests/components/facilities/FacilityForm.test.tsx
  bciers/apps/registration/app/components/operations/registration/FacilityInformationForm.tsx
  bciers/apps/registration/app/data/jsonSchema/operationRegistration/facilityInformation.ts
  bciers/apps/registration/tests/components/operations/registration/FacilityInformationForm.test.tsx
Due: eslint

Path conditions:
  eslint: any of: \.(j|t)sx?$
  mypy: any of: \.py$
