Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, pylint

eslint:
  name: ESLint
  language: system
  entry: ./.bin/pre-commit-lint.sh

pylint:
  name: pylint
  entry: bash -c "cd bc_obps && poetry run pylint --rcfile=.pylintrc *.py"
  language: system
  require_serial: true

chore: use relative imports
  client/app/components/operations/Operation.tsx
  client/app/components/operations/OperationDataGrid.tsx
  client/app/components/operations/types.ts
  client/app/components/routes/operations/Page.tsx
  client/app/components/routes/operators/Page.tsx
  client/app/components/routes/profile/Page.tsx
  client/app/components/routes/select-operator/Page.tsx
  client/app/components/userOperators/AccessRequests.tsx
  client/app/components/userOperators/OperatorDataGrid.tsx
  client/app/components/userOperators/UserOperatorDataGrid.tsx
  client/app/components/userOperators/UserOperatorForm.tsx
Due: eslint

chore: add ruff package
  bc_obps/poetry.lock
  bc_obps/pyproject.toml
Due: none

chore: add directory to ruff
  .pre-commit-config.yaml
Due: none

chore: add ruff to pre-commit
  .pre-commit-config.yaml
Due: none

chore: first round of ruff fixes
  .pre-commit-config.yaml
  bc_obps/.pylintrc
  bc_obps/bc_obps/settings.py
  bc_obps/common/service/email/email_service.py
  bc_obps/common/tests/test_email_service.py
  bc_obps/registration/api/_operations/_operation_id/update_status.py
  bc_obps/registration/api/operations.py
  bc_obps/registration/api/reporting_activities.py
  bc_obps/registration/api/user/user_profile.py
  bc_obps/registration/api/user_operator/is_approved_admin_user_operator.py
  bc_obps/registration/api/user_operator/user_operator_id.py
  bc_obps/registration/api/users.py
  bc_obps/registration/schema/__init__.py
  bc_obps/registration/schema/operation.py
  bc_obps/registration/schema/operator.py
  bc_obps/registration/tests/endpoints/test_operations_endpoints.py
  bc_obps/registration/tests/endpoints/test_operator_endpoints.py
  bc_obps/registration/tests/endpoints/test_operator_has_admin_endpoints.py
  bc_obps/registration/tests/endpoints/test_user_profile_endpoints.py
  bc_obps/registration/tests/test_middleware.py
  bc_obps/registration/tests/test_utils.py
  bc_obps/registration/tests/utils/bakers.py
  bc_obps/registration/tests/utils/helpers.py
  bc_obps/registration/utils.py
  bc_obps/reporting/admin.py
  bc_obps/reporting/tests.py
  bc_obps/service/data_access_service/operator_service.py
  bc_obps/service/data_access_service/user_operator_service.py
  bc_obps/service/operator_service.py
Due: pylint

chore: fix hook working directory
  .pre-commit-config.yaml
Due: none

chore: remove pylint
  bc_obps/poetry.lock
  bc_obps/pyproject.toml
Due: none

chore: handle ruff linting errors
  bc_obps/manage.py
  bc_obps/registration/api/operations.py
  bc_obps/registration/tests/endpoints/test_operator_access_declined_endpoints.py
  bc_obps/registration/tests/endpoints/test_operator_endpoints.py
  bc_obps/service/operator_service.py
  bc_obps/service/user_operator_service.py
Due: pylint

chore: resolve rebase conflicts
  bc_obps/registration/api/__init__.py
  bc_obps/registration/api/_operations/operation_id.py
  bc_obps/service/operator_service.py
Due: pylint

docs: add documentation on secure secret automation with cas-pipeline
  docs/helm-secrets-cas-pipeline.md
Due: none

chore: bump auth version, update configs and calls
  bciers/libs/shared/testConfig/src/setup/global.tsx
  bciers/libs/shared/testConfig/src/setup/mocks.ts
  client/app/(authenticated)/dashboard/page.tsx
  client/app/(authenticated)/dashboard/profile/page.tsx
  client/app/api/auth/[...nextauth]/route.ts
  client/app/components/navigation/Profile.tsx
  client/app/components/operations/Operations.tsx
  client/app/components/routes/operations/Page.tsx
  client/app/components/routes/profile/Page.tsx
  client/app/components/routes/select-operator/Page.tsx
  client/app/components/userOperators/UserOperator.tsx
  client/app/layout.tsx
  client/auth.config.ts
  client/auth.ts
  client/package.json
  client/tests/setup/global.tsx
  client/tests/setup/mocks.ts
  client/yarn.lock
  docs/growthbook.md
Due: eslint

fix: fix passing redundant arg to `file_to_data_url` function
  bc_obps/registration/schema/operation.py
Due: pylint

chore: config login logout login diferent IDs
  client/auth.config.ts
Due: eslint

chore: isolate auth in auth folder
  bciers/libs/shared/testConfig/src/setup/global.tsx
  client/app/(authenticated)/dashboard/page.tsx
  client/app/api/auth/[...nextauth]/route.ts
  client/app/components/operations/Operations.tsx
  client/app/components/routes/select-operator/Page.tsx
  client/app/components/userOperators/UserOperator.tsx
  client/auth/auth.config.ts
  client/auth/index.ts
Due: eslint

chore: replace pytz with zoneinfo
  bc_obps/poetry.lock
  bc_obps/pyproject.toml
  bc_obps/registration/api/_operations/_operation_id/update_status.py
  bc_obps/registration/api/operations.py
  bc_obps/registration/tests/endpoints/test_operations_endpoints.py
  bc_obps/registration/utils.py
  bc_obps/service/operator_service.py
  bc_obps/service/user_operator_service.py
Due: pylint

chore: update code after rebase
  bc_obps/poetry.lock
  bc_obps/registration/api/_operations/operation_id.py
Due: pylint

chore: release v1.5.0
  CHANGELOG.md
  package.json
Due: none

chore: update changelog
  CHANGELOG.md
  bc_obps/common/migrations/0005_V1_5_0.py
  bc_obps/registration/migrations/0014_V1_5_0.py
Due: pylint

chore: delete type
  client/app/api/auth/token/route.ts
  client/app/types/next-auth.d.ts
  client/app/utils/actions.ts
Due: eslint

chore: auth header consistency
  bc_obps/registration/api/user/user_app_role.py
  bc_obps/registration/api/user_operator/is_approved_admin_user_operator.py
  bc_obps/registration/tests/endpoints/user_operator/test_authorization.py
  bc_obps/registration/tests/endpoints/user_operator/test_is_approved_admin_user_operator.py
  client/app/utils/actions.ts
Due: eslint, pylint

chore: fix conflict
  bc_obps/registration/api/user/user_profile.py
Due: pylint

chore: auth route api calls documentation
  bc_obps/registration/api/user/user_app_role.py
  bc_obps/registration/api/user/user_profile.py
  bc_obps/registration/api/user_operator/is_approved_admin_user_operator.py
  client/app/api/auth/[...nextauth]/route.ts
Due: eslint, pylint

chore: implemented review suggestions
  bc_obps/registration/api/user/user_app_role.py
  bc_obps/registration/api/user/user_profile.py
  bc_obps/registration/api/user_operator/is_approved_admin_user_operator.py
Due: pylint

Path conditions:
  eslint: any of: \.(j|t)sx?$
  pylint: any of: \.py$
