Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3 # Use the sha or tag you want to point at
    hooks:
      - id: prettier
        name: Prettier
        stages: [commit]

  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        language: system
        files: \.(j|t)sx?$
        entry: ./.bin/pre-commit-lint.sh
      - id: mypy
        name: Mypy
        language: system
        types: [python]
        entry: ./.bin/pre-commit-mypy.sh

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-vcs-permalinks
      - id: check-yaml
        exclude: (^helm/.*/templates/)
      - id: end-of-file-fixer
        exclude: (^erd_diagrams/)
      - id: trailing-whitespace
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        types: [python]
        args: ["--config", "bc_obps/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.2
    hooks:
      - id: ruff
        args: ["bc_obps/", "--fix"]

  - repo: https://github.com/python-poetry/poetry
    rev: 1.6.1
    hooks:
      - id: poetry-check
        args: ["-C", "./bc_obps"]
      - id: poetry-lock
        args: ["-C", "./bc_obps", "--check"] # --check to ensure lock file is up to date without updating it

  - repo: https://github.com/PyCQA/bandit
    rev: "1.7.5"
    hooks:
      - id: bandit
        args: ["-c", "bc_obps/bandit.yaml"]

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.2.5
    hooks:
      - id: gitleaks

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.16.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]

chore: fixed issues in test setup that were causing test_report_retrieval_after_transfer to fail
  bc_obps/registration/tests/utils/baker_recipes.py
  bc_obps/reporting/tests/service/test_reporting_dashboard_service.py
  bc_obps/service/data_access_service/operation_service.py
Due: mypy

chore: remove modal
  bciers/apps/reporting/src/app/components/operations/cells/ActionCell.tsx
Due: eslint

chore: services to fetch operations owned in the current reporting year
  bc_obps/reporting/service/reporting_dashboard_service.py
  bc_obps/service/data_access_service/operation_designated_operator_timeline_service.py
  bc_obps/service/data_access_service/operation_service.py
Due: mypy

test: pytest services to retrieve operations for current reporting year
  bc_obps/reporting/tests/api/test_reporting_dashboard_endpoints.py
  bc_obps/reporting/tests/service/test_reporting_dashboard_service.py
  bc_obps/service/tests/data_access_service/test_data_access_operation_designated_operator_timeline.py
Due: mypy

update dashboard e2e
  bciers/apps/dashboard-e2e/utils/enums.ts
Due: eslint

chore: force happo
  bciers/apps/dashboard/app/dashboard/declined/page.tsx
  bciers/apps/dashboard/app/onboarding/page.tsx
Due: eslint

chore: refactor code
  bciers/apps/dashboard-e2e/poms/dashboard.ts
  bciers/apps/dashboard-e2e/tests/external/dashboard.spec.ts
  bciers/apps/dashboard-e2e/tests/internal/dashboard.spec.ts
  bciers/libs/e2e/src/utils/helpers.ts
Due: eslint

chore: add past reports for external user
  bciers/apps/dashboard-e2e/utils/enums.ts
Due: eslint

chore: update dashboard e2e
  bciers/apps/dashboard-e2e/tests/external/dashboard.spec.ts
  bciers/apps/dashboard-e2e/tests/internal/dashboard.spec.ts
  bciers/apps/dashboard-e2e/utils/enums.ts
  bciers/apps/dashboard/app/onboarding/page.tsx
Due: eslint

chore: fix failing admin e2e test
  bciers/apps/dashboard-e2e/utils/enums.ts
Due: eslint

chore: fix failing admin e2e test
  bciers/apps/dashboard/app/dashboard/declined/page.tsx
Due: eslint

chore: force e2e
  bciers/apps/dashboard/app/dashboard/declined/page.tsx
Due: eslint

test: hardcode routes in middleware tests
  bciers/apps/compliance/src/middlewares/withRuleHasComplianceRouteAccessBCeID.test.ts
Due: eslint

chore: change reg purpose e2e
  bciers/apps/administration-e2e/poms/operation.ts
  bciers/apps/administration-e2e/tests/workflows/change-registration-purpose.spec.ts
  bciers/apps/administration-e2e/utils/enums.ts
  bciers/apps/registration-e2e/poms/registration.ts
  bciers/libs/e2e/src/docs/test.pdf
  bciers/libs/e2e/src/utils/helpers.ts
Due: eslint

chore: force e2e run
  bciers/apps/administration/app/components/operations/OperationInformationForm.tsx
  bciers/apps/registration/app/data/jsonSchema/operationInformation/registrationPurpose.ts
Due: eslint

chore: change reg purpose e2e
  bciers/apps/administration-e2e/poms/operation.ts
  bciers/apps/administration-e2e/tests/workflows/change-registration-purpose.spec.ts
  bciers/apps/administration-e2e/utils/enums.ts
Due: eslint

chore: simplify codes
  bciers/apps/administration-e2e/poms/operation.ts
  bciers/apps/administration-e2e/tests/workflows/change-registration-purpose.spec.ts
  bciers/libs/e2e/src/utils/helpers.ts
Due: eslint

chore: fix broken e2e files
  bciers/libs/e2e/src/utils/helpers.ts
Due: eslint

chore: simplify codes
  bciers/apps/administration-e2e/poms/operation.ts
  bciers/apps/administration-e2e/tests/workflows/change-registration-purpose.spec.ts
Due: eslint

chore: cleanup
  bciers/apps/registration-e2e/poms/registration.ts
Due: eslint

chore: implement code review suggestions
  bciers/apps/administration-e2e/poms/operation.ts
  bciers/apps/administration-e2e/tests/workflows/change-registration-purpose.spec.ts
  bciers/apps/registration-e2e/poms/registration.ts
  bciers/libs/e2e/src/utils/helpers.ts
Due: eslint

chore: cleanup
  bciers/apps/administration-e2e/tests/workflows/change-registration-purpose.spec.ts
Due: eslint

chore: simplify codes, add new test
  bc_obps/registration/fixtures/mock/operation.json
  bciers/apps/administration-e2e/poms/operation.ts
  bciers/apps/administration-e2e/tests/workflows/change-registration-purpose.spec.ts
  bciers/apps/administration-e2e/utils/enums.ts
  bciers/libs/e2e/src/utils/helpers.ts
Due: eslint

chore: remove added codes to force e2e
  bciers/apps/administration/app/components/operations/OperationInformationForm.tsx
  bciers/apps/dashboard/app/dashboard/declined/page.tsx
  bciers/apps/registration/app/data/jsonSchema/operationInformation/registrationPurpose.ts
Due: eslint

chore: migration to add obligation reminder email template
  bc_obps/common/migrations/0089_reminder_of_obligation_due_email_template.py
Due: mypy

feat: services to send obligation reminder email
  bc_obps/compliance/emails.py
  bc_obps/compliance/service/elicensing/elicensing_obligation_service.py
  bc_obps/compliance/tasks.py
Due: mypy

test: pytests for obligation reminder emails
  bc_obps/compliance/tests/service/elicensing/test_elicensing_obligation_service.py
  bc_obps/compliance/tests/test_emails.py
Due: mypy

chore: create _prepare_obligation_context helper
  bc_obps/compliance/emails.py
Due: mypy

chore: post-rebase updates
  bc_obps/common/migrations/0090_reminder_of_obligation_due_email_template.py
Due: mypy

test: pytests for obligation reminder emails
  bc_obps/compliance/tests/service/elicensing/test_elicensing_obligation_service.py
Due: mypy

chore: apply suggestions from code review
  bc_obps/common/migrations/0091_reminder_of_obligation_due_email_template.py
  bc_obps/compliance/service/elicensing/elicensing_obligation_service.py
  bc_obps/compliance/tasks.py
Due: mypy

chore: update DecreasedObligationHandler
  bc_obps/compliance/service/supplementary_version_service.py
  bc_obps/compliance/tests/service/test_supplementary_version_service.py
Due: mypy

chore: update tests
  bc_obps/compliance/dataclass.py
  bc_obps/compliance/service/supplementary_version_service.py
  bc_obps/compliance/tests/service/test_supplementary_version_service.py
Due: mypy

chore: backend work for invoice grid for industry users
  bc_obps/compliance/service/elicensing_invoice_service.py
Due: mypy

test: pytest for backend work for invoice grid for industry users
  bc_obps/compliance/tests/service/test_elicensing_invoice_service.py
Due: mypy

feat: invoice grid for external users
  bciers/apps/compliance/src/app/bceidbusiness/industry_user/compliance-administration/invoices/page.tsx
  bciers/apps/compliance/src/app/bceidbusiness/industry_user/compliance-administration/transactions/page.tsx
  bciers/apps/compliance/src/app/components/compliance-navigation/ComplianceNavigationPage.tsx
  bciers/apps/compliance/src/app/components/datagrid/models/elicensingInvoices/elicensingInvoiceColumns.tsx
  bciers/apps/compliance/src/app/components/elicensing-invoices/ElicensingInvoicesDataGrid.tsx
  bciers/apps/compliance/src/app/components/elicensing-invoices/ElicensingInvoicesPage.tsx
  bciers/apps/compliance/src/app/types.ts
Due: eslint

test: vitest for external invoices grid
  bciers/apps/compliance/src/tests/components/elicensing-invoices/ElicensingInvoicesDataGrid.test.tsx
  bciers/apps/compliance/src/tests/components/elicensing-invoices/ElicensingInvoicesPage.test.tsx
Due: eslint

chore: post-rebase updates
  bc_obps/compliance/service/elicensing_invoice_service.py
  bc_obps/compliance/tests/service/test_elicensing_invoice_service.py
  bciers/apps/compliance/src/app/types.ts
Due: eslint, mypy
