Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy

eslint:
  name: ESLint
  language: system
  entry: ./.bin/pre-commit-lint.sh

mypy:
  name: Mypy
  language: system
  entry: ./.bin/pre-commit-mypy.sh

chore: add a test migration
  bc_obps/registration/migrations/0134_historicaloperation_test_field_operation_test_field.py
  bc_obps/registration/models/operation.py
Due: mypy

chore: modify existing migration
  bc_obps/registration/migrations/0002_prod_data.py
Due: mypy

Revert "chore: release v3.16.0"
  CHANGELOG.md
  bc_obps/common/migrations/0071_V3_16_0.py
  bc_obps/registration/migrations/0133_V3_16_0.py
  bc_obps/reporting/migrations/0127_V3_16_0.py
  bc_obps/rls/migrations/0025_V3_16_0.py
  bc_obps/task_scheduler/migrations/0002_V3_16_0.py
  package.json
Due: mypy

chore: create permissions class for compliance
  bc_obps/compliance/api/permissions.py
Due: mypy

test: pytest for compliance permissions class
  bc_obps/compliance/tests/api/test_permissions.py
Due: mypy

chore: add permissions class to endpoints with compliance_report_version_id
  bc_obps/compliance/api/_bccr/_accounts/_account_id/_compliance_report_versions/_compliance_report_version_id/compliance_units.py
  bc_obps/compliance/api/_bccr/_compliance_report_versions/_compliance_report_version_id/applied_compliance_units.py
  bc_obps/compliance/api/_compliance_report_versions/_compliance_report_version_id/_obligation/payments.py
  bc_obps/compliance/api/_compliance_report_versions/_compliance_report_version_id/automatic_overdue_penalty.py
  bc_obps/compliance/api/_compliance_report_versions/_compliance_report_version_id/earned_credits.py
  bc_obps/compliance/api/_compliance_report_versions/_compliance_report_version_id/invoice.py
  bc_obps/compliance/api/_compliance_report_versions/_compliance_report_version_id/obligation.py
  bc_obps/compliance/api/_compliance_report_versions/_compliance_report_version_id/operation.py
  bc_obps/compliance/api/_compliance_report_versions/_compliance_report_version_id/payment_instructions.py
  bc_obps/compliance/api/_compliance_report_versions/compliance_report_version_id.py
Due: mypy

chore: do permission with report.operator instead of timeline
  bc_obps/compliance/api/permissions.py
  bc_obps/compliance/tests/api/test_permissions.py
Due: mypy

test: update existing pytests to mock auth
  bc_obps/compliance/tests/api/_bccr/_accounts/_account_id/_compliance_report_versions/_compliance_report_version_id/test_compliance_units.py
  bc_obps/compliance/tests/api/_bccr/_compliance_report_versions/_compliance_report_version_id/test_applied_compliance_units.py
  bc_obps/compliance/tests/api/_compliance_report_versions/_compliance_report_version_id/_obligation/test_payments.py
  bc_obps/compliance/tests/api/_compliance_report_versions/_compliance_report_version_id/automatic_overdue_penalty/test_aop_invoice.py
  bc_obps/compliance/tests/api/_compliance_report_versions/_compliance_report_version_id/test_automatic_overdue_penalty.py
  bc_obps/compliance/tests/api/_compliance_report_versions/_compliance_report_version_id/test_earned_credits.py
  bc_obps/compliance/tests/api/_compliance_report_versions/_compliance_report_version_id/test_invoice.py
  bc_obps/compliance/tests/api/_compliance_report_versions/_compliance_report_version_id/test_obligation.py
  bc_obps/compliance/tests/api/_compliance_report_versions/_compliance_report_version_id/test_operation.py
Due: mypy

chore: refactor common.permissions for mocking
  bc_obps/common/permissions.py
Due: mypy

chore: apply suggestions from code review
  bc_obps/common/tests/endpoints/auth/constants.py
  bc_obps/compliance/api/__init__.py
  bc_obps/compliance/api/_bccr/_accounts/_account_id/_compliance_report_versions/_compliance_report_version_id/account_id.py
  bc_obps/compliance/api/_compliance_report_versions/_compliance_report_version_id/_automatic_overdue_penalty/invoice/pdf.py
  bc_obps/compliance/api/_compliance_report_versions/_compliance_report_version_id/penalty.py
  bc_obps/compliance/tests/api/_bccr/_accounts/test_account_id.py
  bc_obps/compliance/tests/api/_compliance_report_versions/_compliance_report_version_id/automatic_overdue_penalty/test_aop_invoice.py
  bc_obps/compliance/tests/api/_compliance_report_versions/_compliance_report_version_id/test_penalty.py
  bc_obps/compliance/tests/api/test_permissions.py
  bc_obps/reporting/tests/api/test_permissions.py
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/apply-compliance-units/ApplyComplianceUnitsComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/request-issuance-of-earned-credits/RequestIssuanceOfEarnedCreditsComponent.tsx
  bciers/apps/compliance/src/app/types.ts
  bciers/apps/compliance/src/app/utils/bccrAccountHandlers.ts
  bciers/apps/compliance/src/app/widgets/BccrHoldingAcountWidget.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/apply-compliance-units/ApplyComplianceUnitsComponent.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/request-issuance-of-earned-credits/RequestIssuanceOfEarnedCreditsComponent.test.tsx
  bciers/apps/compliance/src/tests/components/widgets/BccrHoldingAccountWidget.test.tsx
Due: eslint, mypy

chore: fix migration dependency
  bc_obps/registration/migrations/0133_historicaloperation_test_field_operation_test_field.py
Due: mypy

docs: add note about check-migrations check
  docs/devops/release.md
Due: none

chore: adding delete endpoints for bcghgid
  bc_obps/registration/api/_facilities/_facility_id/bcghg_id.py
  bc_obps/registration/api/_operations/_operation_id/bcghg_id.py
  bc_obps/registration/migrations/0132_alter_bcgreenhousegasid_id_and_more.py
  bc_obps/registration/models/operation.py
  bc_obps/registration/tests/endpoints/_facilities/_facility_id/test_facility_bcghg_id.py
  bc_obps/registration/tests/endpoints/_operations/_operation_id/test_bcghg_id.py
  bc_obps/service/facility_service.py
  bc_obps/service/operation_service.py
  bc_obps/service/tests/operation_service/test_operation_service_bcghgid.py
  bc_obps/service/tests/test_facility_service.py
Due: mypy

tests: api and services
  bc_obps/common/tests/endpoints/auth/constants.py
  bc_obps/registration/tests/endpoints/_facilities/_facility_id/test_facility_bcghg_id.py
  bc_obps/registration/tests/endpoints/_operations/_operation_id/test_bcghg_id.py
  bc_obps/service/tests/operation_service/test_operation_service_bcghgid.py
  bc_obps/service/tests/test_facility_service.py
Due: mypy

chore: remove unused code and update type
  bc_obps/compliance/service/elicensing/elicensing_api_client.py
  bc_obps/compliance/service/elicensing/elicensing_obligation_service.py
  bc_obps/compliance/service/elicensing/schema.py
  bciers/apps/compliance/src/app/types.ts
  bciers/apps/compliance/src/app/utils/getObligation.ts
Due: eslint, mypy

chore: remove transaction_type and method from monetary payments grid
  bciers/apps/compliance/src/app/components/datagrid/models/monetary-payments/monetaryPaymentsColumns.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/automatic-overdue-penalty/pay-penalty-track-payments/PenaltyTrackPaymentsComponent.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/automatic-overdue-penalty/pay-penalty-track-payments/PenaltyTrackPaymentsPayPage.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/pay-obligation-track-payments/ObligationTrackPaymentsComponent.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/pay-obligation-track-payments/ObligationTrackPaymentsPayPage.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/review-compliance-summary/MonetaryPaymentsGrid.test.tsx
Due: eslint

chore: clear bcghg id button
  bciers/libs/components/src/form/widgets/BcghgIdWidget.tsx
Due: eslint

fix: update outstanding balance calculation to support four decimal digits
  bc_obps/compliance/service/compliance_report_version_service.py
  bc_obps/compliance/tests/service/test_compliance_report_version_service.py
Due: mypy

refactor: simplify logic and optimize code
  bc_obps/compliance/service/supplementary_version_service.py
Due: mypy

chore: use OBPS Administrative Penalty for elicensing penalty fee profile
  bc_obps/compliance/service/penalty_calculation_service.py
Due: mypy

fix: correctly set actioncell text on compliance version status
  bciers/apps/compliance/src/app/components/compliance-summaries/cells/ActionCell.tsx
Due: eslint

test: add/update tests for the fix
  bciers/apps/compliance/src/tests/components/compliance-summaries/cells/ActionCell.test.tsx
Due: eslint

chore: add route (met-obligation)\review-compliance-summary
  bciers/apps/compliance/src/app/bceidbusiness/industry_user/compliance-summaries/[compliance_report_version_id]/(met-obligation)/review-obligation-summary/page.tsx
  bciers/apps/compliance/src/app/bceidbusiness/industry_user_admin/compliance-summaries/[compliance_report_version_id]/(met-obligation)/review-obligation-summary/page.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/met-obligation/review-compliance-summary/ComplianceSummaryReviewComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/met-obligation/review-compliance-summary/ComplianceSummaryReviewPage.tsx
  bciers/apps/compliance/src/app/data/jsonSchema/metObligation/complianceSummaryReviewSchema.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/met-obligation/review-obligation-summary/ComplianceSummaryReviewComponent.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/met-obligation/review-obligation-summary/ComplianceSummaryReviewPage.test.tsx
Due: eslint

chore: redirect from /reports to current-reports
  bciers/apps/reporting/src/app/bceidbusiness/industry_user/reports/page.tsx
  bciers/apps/reporting/src/app/bceidbusiness/industry_user_admin/reports/page.tsx
Due: eslint

chore: changed redirect to permanent
  bciers/apps/reporting/src/app/bceidbusiness/industry_user/reports/page.tsx
  bciers/apps/reporting/src/app/bceidbusiness/industry_user_admin/reports/page.tsx
Due: eslint

test: add redirect test for /reports page
  bciers/apps/reporting/src/tests/pages/reports_redirect.test.tsx
Due: eslint

chore: release v3.16.0
  CHANGELOG.md
  bc_obps/common/migrations/0072_V3_16_0.py
  bc_obps/registration/migrations/0133_V3_16_0.py
  bc_obps/reporting/migrations/0127_V3_16_0.py
  bc_obps/rls/migrations/0025_V3_16_0.py
  bc_obps/task_scheduler/migrations/0002_V3_16_0.py
  package.json
Due: mypy

Deploying to gh-pages from @ bcgov/cas-registration@7a1c73368b18c53e41620430de86acbc93edd525 🚀
  schemaspy/common/columns.html
  schemaspy/common/constraints.html
  schemaspy/common/default.common.xml
  schemaspy/common/deletionOrder.txt
  schemaspy/common/diagrams/orphans/orphans.dot
  schemaspy/common/diagrams/orphans/orphans.png
  schemaspy/common/diagrams/tables/retry_task.1degree.dot
  schemaspy/common/diagrams/tables/retry_task.1degree.png
  schemaspy/common/diagrams/tables/scheduled_task.1degree.dot
  schemaspy/common/diagrams/tables/scheduled_task.1degree.png
  schemaspy/common/index.html
  schemaspy/common/info-html.txt
  schemaspy/common/insertionOrder.txt
  schemaspy/common/orphans.html
  schemaspy/common/tables/retry_task.html
  schemaspy/common/tables/scheduled_task.html
  schemaspy/erc/columns.html
  schemaspy/erc/index.html
  schemaspy/erc/info-html.txt
  schemaspy/erc_history/columns.html
  schemaspy/erc_history/index.html
  schemaspy/erc_history/info-html.txt
  schemaspy/index.html
Due: none

chore: filter out versions that are supplementary with status no obligation no credits
  bc_obps/compliance/service/compliance_dashboard_service.py
Due: mypy

test: pytest compliance dashboard service
  bc_obps/compliance/tests/service/test_compliance_dashboard_service.py
Due: mypy

chore: fix test in CI
  bc_obps/compliance/tests/service/test_compliance_dashboard_service.py
Due: mypy

chore: backend work to make compliance tile only available ifuser has registered and regulated operations
  bc_obps/common/fixtures/dashboard/bciers/dev/external.json
  bc_obps/common/migrations/0072_update_dashboard_data.py
  bc_obps/common/tests/endpoints/auth/constants.py
  bc_obps/registration/api/__init__.py
  bc_obps/registration/api/_user_operators/_current/has_registered_regulated_operation.py
  bc_obps/service/data_access_service/operation_service.py
  bciers/apps/compliance/src/middlewares/withRuleHasComplianceRouteAccess.ts
  bciers/libs/actions/src/api/hasRegisteredRegulatedOperationForCurrentUser.ts
Due: eslint, mypy

test: tests for compliance tile and backend work
  bc_obps/registration/tests/endpoints/_user_operators/_current/test_has_registered_regulated_operation.py
  bc_obps/service/tests/operation_service/test_operation_service.py
  bciers/apps/compliance/src/middlewares/withRuleHasComplianceRouteAccess.test.ts
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/apply-compliance-units/ApplyComplianceUnitsComponent.test.tsx
Due: eslint, mypy

chore: fix migrations after rebase
  bc_obps/common/migrations/0073_update_dashboard_data.py
Due: mypy

chore: apply suggestions from code review
  bciers/apps/compliance/src/middlewares/withRuleHasComplianceRouteAccess.test.ts
  bciers/apps/compliance/src/middlewares/withRuleHasComplianceRouteAccess.ts
Due: eslint

Path conditions:
  eslint: any of: \.(j|t)sx?$
  mypy: any of: \.py$
