Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, pylint

eslint:
  name: ESLint
  language: system
  entry: ./.bin/pre-commit-lint.sh

pylint:
  name: pylint
  entry: pylint
  language: system
  require_serial: true
  args:
  - --source-roots=./bc_obps
  - --recursive=y

test: update example test
  client/e2e/example.spec.ts
Due: eslint

chore: fix pre-commit issue
  client/.eslintrc.js
  client/tsconfig.json
Due: eslint

chore: add start command to local-app-run
  .github/actions/local-app-run/action.yml
Due: none

style: linting
  client/playwright.config.ts
Due: eslint

chore: debug playwright
  client/playwright.config.ts
Due: eslint

chore: debug playwright
  .github/actions/dev-env-setup/action.yml
  .github/workflows/test.yaml
Due: none

chore: debug playwright
  .github/workflows/test.yaml
Due: none

chore: use existing server if exists
  client/playwright.config.ts
Due: eslint

chore: debug playwright
  .github/actions/dev-env-setup/action.yml
Due: none

chore: cleanup
  .github/workflows/test.yaml
Due: none

chore: debug playwright
  .github/actions/local-app-run/action.yml
  bc_obps/Dockerfile
Due: none

chore: running gcs conditionally
  bc_obps/bc_obps/settings.py
Due: pylint

chore: debug playwright
  bc_obps/Dockerfile
Due: none

chore: debug playwright
  .github/workflows/test.yaml
  bc_obps/bc_obps/settings.py
Due: pylint

Path conditions:
  eslint: any of: \.(j|t)sx?$
  pylint: any of: \.py$
