Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, pylint

eslint:
  name: ESLint
  language: system
  entry: ./.bin/pre-commit-lint.sh

pylint:
  name: pylint
  entry: bash -c "cd bc_obps && poetry run pylint --rcfile=.pylintrc *.py"
  language: system
  require_serial: true

chore: post-rebase updates
  client/app/components/form/OperationsForm.tsx
  client/app/components/routes/operations/form/Operation.tsx
  client/app/utils/jsonSchema/operations.ts
Due: eslint

chore: spec work on adding application lead
  bc_obps/registration/api/operation.py
  bc_obps/registration/fixtures/appRole.json
  bc_obps/registration/fixtures/businessRole.json
  bc_obps/registration/fixtures/mock/operation.json
  bc_obps/registration/migrations/0001_initial.py
  bc_obps/registration/models.py
  bc_obps/registration/schema.py
  bc_obps/registration/utils.py
  client/app/components/form/OperationsForm.tsx
  client/app/utils/jsonSchema/operations.ts
Due: eslint, pylint

feat: user can add application lead
  bc_obps/registration/api/operation.py
  bc_obps/registration/fixtures/appRole.json
  bc_obps/registration/fixtures/businessRole.json
  bc_obps/registration/fixtures/mock/user.json
  bc_obps/registration/models.py
  bc_obps/registration/schema.py
  bc_obps/registration/tests/test_models.py
  client/app/components/form/OperationsForm.tsx
  client/app/components/routes/operations/form/Operation.tsx
  client/app/utils/jsonSchema/operations.ts
Due: eslint, pylint

Chore: fixed 500 backend error. Can now submit operation w/o application lead
  bc_obps/registration/api/operation.py
Due: pylint

chore: cleanup
  bc_obps/registration/api/operation.py
  bc_obps/registration/fixtures/mock/user.json
  bc_obps/registration/models.py
  bc_obps/registration/schema.py
  client/app/components/form/OperationsForm.tsx
  client/app/components/routes/operations/form/Operation.tsx
  client/app/utils/jsonSchema/operations.ts
Due: eslint, pylint

chore: fix tests and mock data
  bc_obps/registration/fixtures/appRole.json
  bc_obps/registration/fixtures/businessRole.json
  bc_obps/registration/migrations/0001_initial.py
  bc_obps/registration/tests/test_endpoints.py
  bc_obps/registration/tests/test_models.py
Due: pylint

chore: post-rebase updates
  bc_obps/registration/api/__init__.py
  bc_obps/registration/schema.py
  bc_obps/registration/schema/__init__.py
  bc_obps/registration/schema/contact.py
  bc_obps/registration/schema/operation.py
  bc_obps/registration/schema/regulated_products.py
  bc_obps/registration/schema/reporting_activities.py
Due: pylint

chore: apply suggestions from code review
  bc_obps/registration/api/operation.py
  bc_obps/registration/migrations/0001_initial.py
  bc_obps/registration/models.py
  bc_obps/registration/schema/operation.py
  bc_obps/registration/tests/test_endpoints.py
  bc_obps/registration/tests/test_utils.py
  bc_obps/registration/utils.py
  client/app/components/form/OperationsForm.tsx
  client/app/utils/jsonSchema/operations.ts
Due: eslint, pylint

chore: cleanup
  bc_obps/registration/tests/test_endpoints.py
Due: pylint

chore: post-rebase updates (remove naics category)
  bc_obps/registration/api/naics.py
  bc_obps/registration/api/operation.py
  bc_obps/registration/schema/operation.py
  bc_obps/registration/tests/test_endpoints.py
  client/app/components/routes/operations/form/Operation.tsx
Due: eslint, pylint

chore: create fixtures for real reg products and reporting activities
  bc_obps/registration/fixtures/real/regulatedProduct.json
  bc_obps/registration/fixtures/real/reportingActivity.json
  bc_obps/registration/fixtures/regulatedProduct.json
  bc_obps/registration/fixtures/reportingActivity.json
Due: none

chore: post-rebase updates
  bc_obps/registration/api/operation.py
  bc_obps/registration/fixtures/real/naicsCode.json
  bc_obps/registration/migrations/0001_initial.py
  bc_obps/registration/models.py
  bc_obps/registration/tests/test_models.py
  client/app/components/routes/operations/form/Operation.tsx
Due: eslint, pylint

chore: fix tests
  bc_obps/registration/fixtures/mock/operation.json
  bc_obps/registration/tests/test_models.py
Due: pylint

refactor: move use effect inside error component
  client/app/(authenticated)/error.tsx
  client/app/(onboarding)/error.tsx
  client/app/components/Error.tsx
  client/app/error.tsx
Due: eslint

feat: add error boundary component
  client/app/(authenticated)/error.tsx
  client/app/(onboarding)/error.tsx
  client/app/components/Error.tsx
Due: eslint

fix: rename functions named 'error'
  client/app/(authenticated)/error.tsx
  client/app/(onboarding)/error.tsx
  client/app/components/Error.tsx
  client/app/error.tsx
Due: eslint

chore: add email and url formatting to json schemas
  client/app/utils/jsonSchema/operations.ts
  client/app/utils/jsonSchema/operators.ts
  client/app/utils/jsonSchema/userOperator.ts
Due: eslint

✨ User profile form with GET;POST;PUT API
  bc_obps/registration/api/user.py
  bc_obps/registration/schema/user.py
  bc_obps/registration/tests/test_endpoints.py
  client/app/(authenticated)/dashboard/profile/page.tsx
  client/app/api/auth/[...nextauth]/route.ts
  client/app/api/auth/token/route.ts
  client/app/components/loading/SkeletonSpinner.tsx
  client/app/components/navigation/Profile.tsx
  client/app/components/routes/profile/User.tsx
  client/app/components/routes/profile/form/UserForm.tsx
  client/app/loading.tsx
  client/app/utils/actions.ts
  client/app/utils/auth/actions.ts
  client/app/utils/jsonSchema/user.ts
  client/e2e/.env.local.example
  client/e2e/auth/auth-setup.ts
  client/middlewares/withAuthorization.tsx
Due: eslint, pylint

chore: prettier
  client/app/(authenticated)/dashboard/profile/page.tsx
  client/app/components/form/SubmitButton.tsx
  client/app/components/navigation/Profile.tsx
  client/app/components/routes/profile/User.tsx
  client/app/components/routes/profile/form/UserForm.tsx
  client/app/utils/auth/actions.ts
  client/app/utils/jsonSchema/user.ts
Due: eslint

chore: FE build
  client/app/components/form/formDataTypes.ts
  client/app/components/navigation/Profile.tsx
  client/app/components/routes/profile/User.tsx
  client/app/components/routes/profile/form/UserForm.tsx
  client/e2e/.env.local.example
  client/e2e/auth/auth-setup.ts
  client/e2e/auth/authentication.spec.ts
  client/playwright/index.html
Due: eslint

tech debt: new user signout/signin trigger
  client/app/components/routes/profile/form/UserForm.tsx
Due: eslint

chore: secure user_guid
  client/app/types/next-auth.d.ts
Due: eslint

refactor: unify operation status enums
  bc_obps/registration/models.py
Due: pylint

refactor: remove capitalize string function from operations dashboard
  client/app/components/routes/operations/Operations.tsx
Due: eslint

Path conditions:
  eslint: any of: \.(j|t)sx?$
  pylint: any of: \.py$
