Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3 # Use the sha or tag you want to point at
    hooks:
      - id: prettier
        name: Prettier
        stages: [commit]

  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        language: system
        files: \.(j|t)sx?$
        entry: ./.bin/pre-commit-lint.sh
      - id: mypy
        name: Mypy
        language: system
        types: [python]
        entry: ./.bin/pre-commit-mypy.sh

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-vcs-permalinks
      - id: check-yaml
        exclude: (^helm/.*/templates/)
      - id: end-of-file-fixer
        exclude: (^erd_diagrams/)
      - id: trailing-whitespace
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        types: [python]
        args: ["--config", "bc_obps/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.2
    hooks:
      - id: ruff
        args: ["bc_obps/", "--fix"]

  - repo: https://github.com/python-poetry/poetry
    rev: 1.6.1
    hooks:
      - id: poetry-check
        args: ["-C", "./bc_obps"]
      - id: poetry-lock
        args: ["-C", "./bc_obps", "--check"] # --check to ensure lock file is up to date without updating it

  - repo: https://github.com/PyCQA/bandit
    rev: "1.7.5"
    hooks:
      - id: bandit
        args: ["-c", "bc_obps/bandit.yaml"]

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.2.5
    hooks:
      - id: gitleaks

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.16.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]

chore: fix conditionality
  bc_obps/service/operation_service.py
Due: mypy

chore: apply suggestions from code review
  bc_obps/registration/utils.py
  bc_obps/service/operation_service.py
Due: mypy

feat: implement Apply Compliance Units feature with data models and UI components
  bc_obps/compliance/api/_bccr/_accounts/_account_id/_compliance_report_versions/_compliance_report_version_id/compliance_units.py
  bc_obps/compliance/dataclass.py
  bc_obps/compliance/schema/apply_compliance_units.py
  bc_obps/compliance/service/apply_compliance_units_service.py
  bc_obps/compliance/service/bc_carbon_registry/bc_carbon_registry_service.py
  bc_obps/compliance/service/bc_carbon_registry/schema.py
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/apply-compliance-units/ApplyComplianceUnitsAlertNote.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/apply-compliance-units/ApplyComplianceUnitsComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/apply-compliance-units/ApplyComplianceUnitsPage.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/apply-compliance-units/ApplyComplianceUnitsSuccessAlertNote.tsx
  bciers/apps/compliance/src/app/components/datagrid/cells/ApplyComplianceUnitCell.tsx
  bciers/apps/compliance/src/app/components/datagrid/models/apply-compliance-units/applyComplianceUnitsColumns.tsx
  bciers/apps/compliance/src/app/data/jsonSchema/manageObligation/applyComplianceUnitsSchema.tsx
  bciers/apps/compliance/src/app/types.ts
  bciers/apps/compliance/src/app/utils/bccrAccountHandlers.ts
  bciers/apps/compliance/src/app/widgets/ApplyComplianceUnitsWidget.tsx
  bciers/apps/compliance/src/app/widgets/BccrHoldingAcountWidget.tsx
  bciers/libs/components/src/form/theme/readOnlyTheme.ts
  bciers/libs/components/src/form/widgets/index.ts
Due: eslint, mypy

chore: add compliance account retrieval and refactor API endpoint usage
  bc_obps/compliance/service/bc_carbon_registry/bc_carbon_registry_api_client.py
Due: mypy

chore: add readOnlyNumberField helper function for consistent number field configuration
  bciers/apps/compliance/src/app/data/jsonSchema/helpers.ts
Due: eslint

chore: remove redundant import and added new one
  bc_obps/compliance/api/__init__.py
Due: mypy

chore: update AlertNote component style
  bciers/libs/components/src/form/components/AlertNote.tsx
Due: eslint

refactor: refactor BCCarbonRegistry client to use service layer for account details retrieval
  bc_obps/compliance/api/_bccr/_accounts/account_id.py
Due: mypy

chore: rename compliance unit components for consistency
  bciers/apps/compliance/src/app/bceidbusiness/industry_user_admin/compliance-summaries/[compliance_summary_id]/(manage-obligation)/apply-compliance-units/page.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/apply-compliance-units/ComplianceUnitsApplyComponent.tsx
  bciers/apps/compliance/src/app/data/jsonSchema/manageObligation/complianceUnitsApplySchema.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/apply-compliance-units/ComplianceUnitsApplyComponent.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/apply-compliance-units/ComplianceUnitsApplyPage.test.tsx
Due: eslint

chore: rename BCCRHoldingAccountWidget to BccrHoldingAccountWidget for consistency
  bciers/apps/compliance/src/tests/components/widgets/BCCRHoldingAccountWidget.test.tsx
Due: eslint

chore: update RequestIssuanceOfEarnedCreditsComponent for account ID validation and rename fields for consistency
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/request-issuance-of-earned-credits/RequestIssuanceOfEarnedCreditsComponent.tsx
  bciers/apps/compliance/src/app/data/jsonSchema/requestIssuance/requestIssuanceOfEarnedCreditsSchema.tsx
Due: eslint

chore: rename BCCRHoldingAccountWidget to BccrHoldingAccountWidget for consistency
  bciers/apps/compliance/src/app/utils/getComplianceUnitsApplyData.tsx
Due: eslint

chore: enhance ComplianceStepButtons component with additional props and type support
  bciers/apps/compliance/src/app/components/ComplianceStepButtons.tsx
Due: eslint

chore: update ExceptionHandler to provide a more informative error message for BCCarbonRegistryError
  bc_obps/service/error_service/handle_exception.py
Due: mypy

chore: add RLS to Contact model
  bc_obps/registration/models/rls_configs/contact.py
Due: mypy

test: create testing helpers for RLS
  bc_obps/rls/tests/helpers.py
Due: mypy

chore: add RLS to report attachment model
  bc_obps/reporting/models/rls_configs/report_attachment.py
Due: mypy

test: test Contact RLS
  bc_obps/registration/tests/models/test_contact.py
Due: mypy

chore: add/implement RLS policy helpers and managers
  bc_obps/rls/utils/helpers.py
  bc_obps/rls/utils/m2m.py
  bc_obps/rls/utils/manager.py
  bc_obps/rls/utils/policy.py
Due: mypy

chore: modified contact RLS wip
  bc_obps/registration/models/rls_configs/contact.py
Due: mypy

test: report attachment RLS test
  bc_obps/reporting/tests/models/test_report_attachment.py
  bc_obps/reporting/tests/utils/report_rls_test_infrastructure.py
Due: mypy

chore: connect reg and reporting RLS
  bc_obps/registration/models/rls_configs/contact.py
  bc_obps/reporting/models/rls_configs/report_attachment.py
  bc_obps/reporting/tests/models/test_report_attachment.py
  bc_obps/rls/utils/helpers.py
  bc_obps/rls/utils/m2m.py
  bc_obps/rls/utils/policy.py
Due: mypy

chore: functions to drop policies
  bc_obps/rls/utils/manager.py
  bc_obps/rls/utils/policy.py
Due: mypy

test: test apply_policy function
  bc_obps/rls/tests/utils/test_policy.py
Due: mypy

chore: connect reg and reporting RLS
  bc_obps/registration/models/rls_configs/contact.py
Due: mypy

test: test manager.py
  bc_obps/rls/tests/utils/test_manager.py
Due: mypy

test: test apply_policy and drop_policy
  bc_obps/rls/tests/utils/test_policy.py
Due: mypy

chore: remove contact work
  bc_obps/registration/models/rls_configs/contact.py
  bc_obps/registration/tests/models/test_contact.py
Due: mypy

chore: add RLS for Operation model
  bc_obps/registration/models/rls_configs/operation.py
Due: mypy

test: update tests after implementing RLS
  bc_obps/registration/tests/endpoints/_operations/_operation_id/_registration/test_new_entrant_application.py
  bc_obps/registration/tests/endpoints/_operations/_operation_id/_registration/test_operation.py
  bc_obps/registration/tests/endpoints/_operations/_operation_id/_registration/test_operation_representative.py
  bc_obps/registration/tests/endpoints/_operations/_operation_id/_registration/test_opted_in_operation.py
  bc_obps/registration/tests/endpoints/_operations/_operation_id/_registration/test_submission.py
  bc_obps/registration/tests/endpoints/_operations/test_operation_id.py
  bc_obps/registration/tests/integration/test_operation_registration.py
  bc_obps/registration/tests/models/test_operation.py
  bc_obps/reporting/tests/api/test_validate_user_reporting_access_api.py
  bc_obps/reporting/tests/models/test_report_attachment.py
  bc_obps/rls/tests/helpers.py
  bc_obps/rls/tests/test_rls_operations.py
Due: mypy

test: update more tests after implementing RLS
  bc_obps/common/models/scanned_file_storage_mixin.py
  bc_obps/compliance/tests/api/_compliance_report_versions/_compliance_report_version_id/test_operation.py
  bc_obps/reporting/tests/api/test_report_history_endpoint.py
  bc_obps/reporting/tests/api/test_report_supplementary_version_api.py
  bc_obps/reporting/tests/api/test_reporting_operations.py
  bc_obps/reporting/tests/models/test_report_attachment.py
Due: mypy

test: update grants tests
  bc_obps/rls/tests/test_rls_operations.py
Due: mypy

chore: cleanup
  bc_obps/registration/tests/integration/test_operation_registration.py
  bc_obps/registration/tests/models/test_operation.py
  bc_obps/rls/tests/utils/test_policy.py
Due: mypy

chore: make pre-commit happy
  bc_obps/service/error_service/handle_exception.py
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/apply-compliance-units/ApplyComplianceUnitsComponent.tsx
  bciers/apps/compliance/src/app/data/jsonSchema/requestIssuance/requestIssuanceOfEarnedCreditsSchema.tsx
  bciers/apps/compliance/src/app/widgets/ApplyComplianceUnitsWidget.tsx
  bciers/apps/compliance/src/app/widgets/BccrHoldingAcountWidget.tsx
Due: eslint, mypy

chore: update message on error boundary
  bciers/libs/components/src/error/ErrorBoundary.tsx
Due: eslint

chore: refactor ErrorBoundary component
  bciers/libs/components/src/error/ErrorBoundary.tsx
  bciers/libs/components/src/error/ErrorBox.tsx
Due: eslint

feat: middleware to allow keycloak token rotation
  bciers/apps/dashboard/auth/auth.config.ts
  bciers/apps/dashboard/middleware.ts
  bciers/apps/dashboard/middlewares/withTokenRefresh.ts
Due: eslint

test: testing the middleware
  bciers/apps/dashboard/middleware.ts
  bciers/apps/dashboard/middlewares/withAuthorizationDashboard.test.ts
  bciers/apps/dashboard/middlewares/withTokenRefresh.test.ts
  bciers/apps/dashboard/middlewares/withTokenRefresh.ts
Due: eslint

test: ci exception
  bciers/apps/dashboard/middleware.ts
Due: eslint

chore: remove duplicated types
  bciers/apps/compliance/src/app/components/ComplianceStepButtons.tsx
Due: eslint
