Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, pylint

eslint:
  name: ESLint
  language: system
  entry: ./.bin/pre-commit-lint.sh

pylint:
  name: pylint
  entry: pylint
  language: system
  require_serial: true
  args:
  - --source-roots=./bc_obps
  - --recursive=y

chore: replace request access related pages
  client/app/(authenticated)/dashboard/select-operator/page.tsx
  client/app/(authenticated)/dashboard/select-operator/request-access/confirm/[id]/page.tsx
  client/app/(authenticated)/dashboard/select-operator/request-access/received/[id]/page.tsx
  client/app/(authenticated)/dashboard/select-operator/request-access/user-operator/[id]/page.tsx
  client/app/select-operator/page.tsx
  client/app/select-operator/request-access/confirm/[id]/page.tsx
  client/app/select-operator/request-access/received/[id]/page.tsx
  client/app/select-operator/request-access/user-operator/[id]/page.tsx
Due: eslint

chore: remove leftovers and redundant files
  client/app/auth/page.tsx
  client/app/components/PageBar.tsx
Due: eslint

chore: styling tweaks
  client/app/(onboarding)/home/page.tsx
  client/app/components/form/ConfirmSelectedOperatorForm.tsx
  client/app/components/form/SubmitButton.tsx
  client/app/components/layout/Header.tsx
  client/app/components/routes/select-operator/form/SelectOperator.tsx
Due: eslint

chore: fix links after replacing pages
  client/app/components/form/ConfirmSelectedOperatorForm.tsx
  client/app/components/form/SelectOperatorForm.tsx
  client/app/components/form/UserOperatorForm.tsx
  client/app/components/routes/select-operator/form/ConfirmSelectedOperator.tsx
Due: eslint

chore: add temp link to show case request access page
  client/app/(onboarding)/home/page.tsx
Due: eslint

chore: minor tweaks to breadcrumb
  client/app/components/navigation/Bread.tsx
Due: eslint

chore: add sonarcloud properties to exclude migration files
  .sonarcloud.properties
Due: none

chore: update sonar cloud exclusion path
  .sonarcloud.properties
Due: none

chore: move bc provinces to a json file
  client/app/data/provinces.json
  client/app/utils/jsonSchema/userOperator.ts
Due: eslint

Chore: resolved rebasing conflict
  bc_obps/registration/api.py
  client/app/components/form/OperationsForm.tsx
  client/app/components/routes/operations/form/Operation.tsx
  client/app/components/routes/operations/form/Review.tsx
  client/app/utils/actions.ts
Due: eslint, pylint

chore: implement PR review suggestions
  bc_obps/registration/schema.py
  bc_obps/registration/tests/test_endpoints.py
  bc_obps/registration/tests/test_models.py
  client/app/components/form/formDataTypes.ts
  client/app/components/routes/select-operator/form/types.ts
  client/app/utils/jsonSchema/userOperator.ts
  erd.md
Due: eslint, pylint

chore: fix issue on setting the same mailing address
  bc_obps/registration/api.py
Due: pylint

Test CI e2e
  bc_obps/bc_obps/settings.py
  bc_obps/registration/api.py
  bc_obps/registration/fixtures/contact.json
  bc_obps/registration/fixtures/document.json
  bc_obps/registration/fixtures/operator.json
  bc_obps/registration/management/commands/load_fixtures.py
  bc_obps/registration/management/commands/truncate_all_tables.py
  bc_obps/registration/migrations/0001_initial.py
  bc_obps/registration/models.py
  bc_obps/registration/tests.py
  bc_obps/registration/tests/test_endpoints.py
  bc_obps/registration/tests/test_models.py
  client/aftersubmit.png
  client/beforesubmit.png
  client/e2e/operations.spec.ts
Due: eslint, pylint

Feat: Approve/Reject buttons in GUI change status of operation in DB. Still needs cleanup
  bc_obps/registration/api.py
  client/app/components/routes/operations/form/Review.tsx
  client/app/types.ts
  client/app/utils/actions.ts
Due: eslint, pylint

🧪 unit tests- Header; Footer
  client/app/components/layout/__tests__/Footer.test.tsx
  client/app/components/layout/__tests__/Header.test.tsx
Due: eslint

🗒️ Update to Run Playwright Specs test steps
  docs/developer-guide.md
Due: none

chore: install release-it & configure
  .tool-versions
  Makefile
  package.json
  yarn.lock
Due: none

docs: add release documentation
  docs/release.md
Due: none

docs: remove mention of sqitch from docs
  docs/release.md
Due: none

docs: add information on Sonarcloud and debugging with Shell Plus
  docs/developer-guide.md
Due: none

chore: add ui flag to playwright command
  client/package.json
Due: none

test: create operations e2e test
  client/e2e/helpers.ts
  client/e2e/operations.spec.ts
Due: eslint

chore: debug ci
  client/e2e/operations.spec.ts
Due: eslint

test: set up django fixtures in playwright
  bc_obps/Makefile
  bc_obps/clear_db.sql
  client/e2e/operations.spec.ts
Due: eslint

Path conditions:
  eslint: any of: \.(j|t)sx?$
  pylint: any of: \.py$
