Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy

eslint:
  name: ESLint
  language: system
  entry: ./.bin/pre-commit-lint.sh

mypy:
  name: Mypy
  language: system
  entry: ./.bin/pre-commit-mypy.sh

refactor: remove hardcoded operationName from compliance units data
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/apply-compliance-units/ComplianceUnitsApplyPage.tsx
Due: eslint

test: add unit tests for various compliance summary components and widgets
  bciers/apps/compliance/src/tests/components/ComplianceStepButtons.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summaries/ComplianceSummariesDataGrid.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summaries/cells/ActionCell.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/apply-compliance-units/ComplianceUnitsApplyComponent.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/apply-compliance-units/ComplianceUnitsApplyPage.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/download-payment-instructions/PaymentInstructionsDownloadPage.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/pay-obligation-track-payments/ObligationTrackPaymentsPayPage.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/review-compliance-summary/ComplianceSummaryReviewComponent.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/review-compliance-summary/ComplianceUnitsGrid.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/review-compliance-summary/MonetaryPaymentsAlertNote.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/review-compliance-summary/MonetaryPaymentsGrid.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/request-issuance-of-earned-credits/CarbonRegistryAccountInfo.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/request-issuance-of-earned-credits/RequestIssuanceOfEarnedCreditsComponent.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/request-issuance-of-earned-credits/RequestIssuanceOfEarnedCreditsContent.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/request-issuance-of-earned-credits/RequestIssuanceOfEarnedCreditsPage.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/review-compliance-summary/ComplianceSummaryReviewComponent.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/review-compliance-summary/ComplianceSummaryReviewPage.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/review-compliance-summary/EarnedCredits.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/review-compliance-summary/EarnedCreditsAlertNote.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/review-compliance-summary/RequestIssuanceReviewContent.test.tsx
  bciers/apps/compliance/src/tests/components/layout/CompliancePageHeading.test.tsx
  bciers/apps/compliance/src/tests/components/layout/CompliancePageLayout.test.tsx
  bciers/apps/compliance/src/tests/components/taskLists/1_manageObligationTaskList.test.ts
  bciers/apps/compliance/src/tests/components/taskLists/2_requestIssuanceTasklist.test.ts
  bciers/apps/compliance/src/tests/components/widgets/BCCRHoldingAccountWidget.test.tsx
  bciers/libs/components/src/form/components/AlertNote.test.tsx
  bciers/libs/components/src/form/widgets/readOnly/ReadOnlyWidget.test.tsx
Due: eslint

refactor: implement service method for fetching operation by compliance report version
  bc_obps/compliance/api/_compliance_report_versions/_compliance_report_version_id/operation.py
  bc_obps/compliance/service/compliance_report_version_service.py
Due: mypy

refactor: streamline compliance API imports and clean up unused code
  bc_obps/compliance/api/__init__.py
  bc_obps/compliance/api/_compliance_report_versions/_compliance_report_version_id/payments.py
  bc_obps/compliance/api/_compliance_report_versions/compliance_report_version_id.py
  bc_obps/compliance/api/compliance_report_versions.py
  bc_obps/compliance/schema/compliance_report_version.py
Due: mypy

refactor: rename compliance_status column to status
  bciers/apps/compliance/src/app/components/datagrid/models/compliance-summaries/complianceSummaryGroupColumns.tsx
Due: eslint

refactor: update PaymentInstructionsDownloadPage and ObligationTrackPaymentsPayPage to use paragraph tags for better formatting
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/download-payment-instructions/PaymentInstructionsDownloadPage.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/pay-obligation-track-payments/ObligationTrackPaymentsPayPage.tsx
Due: eslint

refactor: add value formatting for equivalent emission and value columns in compliance units data grid
  bciers/apps/compliance/src/app/components/datagrid/models/compliance-units/complianceUnitsColumns.tsx
Due: eslint

test: add unit tests for compliance report version endpoints
  bc_obps/compliance/tests/api/_compliance_report_versions/_compliance_report_version_id/test_earned_credits.py
  bc_obps/compliance/tests/api/_compliance_report_versions/_compliance_report_version_id/test_invoice.py
  bc_obps/compliance/tests/api/_compliance_report_versions/_compliance_report_version_id/test_payments.py
  bc_obps/compliance/tests/api/_compliance_report_versions/test_compliance_report_version_id.py
  bc_obps/compliance/tests/api/test_compliance_report_versions.py
  bc_obps/compliance/tests/service/test_compliance_invoice_service.py
Due: mypy

chore: make pre-commit happy
  bc_obps/compliance/api/_compliance_report_versions/_compliance_report_version_id/earned_credits.py
  bc_obps/compliance/api/_compliance_report_versions/_compliance_report_version_id/invoice.py
  bc_obps/compliance/api/_compliance_report_versions/compliance_report_version_id.py
  bc_obps/compliance/schema/compliance_earned_credits.py
  bc_obps/compliance/service/compliance_invoice_service.py
  bc_obps/compliance/tests/api/_compliance_report_versions/_compliance_report_version_id/test_earned_credits.py
  bc_obps/compliance/tests/api/_compliance_report_versions/_compliance_report_version_id/test_invoice.py
  bc_obps/compliance/tests/api/_compliance_report_versions/_compliance_report_version_id/test_payments.py
  bc_obps/compliance/tests/api/_compliance_report_versions/test_compliance_report_version_id.py
  bc_obps/compliance/tests/api/test_compliance_report_versions.py
  bc_obps/compliance/tests/service/test_compliance_invoice_service.py
  bc_obps/service/tests/test_pdf_generator_service.py
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/pay-obligation-track-payments/ObligationTrackPaymentsPayPage.tsx
Due: eslint, mypy

test: enhance invoice generation test for ComplianceSummaryReviewComponent
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/review-compliance-summary/ComplianceSummaryReviewComponent.test.tsx
Due: eslint

chore: add compliance report version earned credits endpoint and schema
  bc_obps/common/tests/endpoints/auth/constants.py
  bc_obps/compliance/api/_compliance_report_versions/_compliance_report_version_id/earned_credits.py
  bc_obps/compliance/schema/compliance_earned_credits.py
Due: mypy

refactor: remove redundant code
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/review-compliance-summary/ComplianceSummaryReviewComponent.tsx
Due: eslint

chore: exclude compliance frontend tests from sonar cpd
  .sonarcloud.properties
Due: none

feat: add review and action ec request
  bciers/apps/compliance/src/app/components/ComplianceStepButtons.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/internal-review-by-director/InternalDirectorReviewApprovalNote.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/internal-review-by-director/InternalDirectorReviewChangesNote.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/internal-review-by-director/InternalReviewByDirectorComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/internal-review-by-director/InternalReviewByDirectorPage.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/internal-review-credits-issuance-request/AnnualEmissionsReportButton.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/internal-review-credits-issuance-request/InternalReviewCreditsIssuanceRequestAttachmentElement.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/internal-review-credits-issuance-request/InternalReviewCreditsIssuanceRequestComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/internal-review-credits-issuance-request/InternalReviewCreditsIssuanceRequestPage.tsx
  bciers/apps/compliance/src/app/components/taskLists/internal/2_internalRequestIssuanceSchema.ts
  bciers/apps/compliance/src/app/data/jsonSchema/helpers.ts
  bciers/apps/compliance/src/app/data/jsonSchema/requestIssuance/internalReviewByDirectorSchema.tsx
  bciers/apps/compliance/src/app/data/jsonSchema/requestIssuance/internalReviewCreditsIssuanceRequestSchema.tsx
  bciers/apps/compliance/src/app/idir/cas_analyst/compliance-summaries/[compliance_summary_id]/(request-issuance)/review-by-director/page.tsx
  bciers/apps/compliance/src/app/idir/cas_analyst/compliance-summaries/[compliance_summary_id]/(request-issuance)/review-credits-issuance-request/page.tsx
  bciers/apps/compliance/src/app/idir/cas_analyst/compliance-summaries/page.tsx
  bciers/apps/compliance/src/app/utils/getCreditsIssuanceRequestData.tsx
  bciers/apps/compliance/src/app/utils/getDirectorReviewData.tsx
  bciers/apps/compliance/src/app/widgets/DirectorReviewAlertWidget.tsx
  bciers/apps/compliance/src/app/widgets/TwoStateWidget.tsx
Due: eslint

chore: cleanup
  bc_obps/compliance/service/compliance_invoice_service.py
  bc_obps/compliance/service/compliance_report_version_service.py
  bc_obps/compliance/templates/invoice.html
  bciers/apps/compliance/src/app/bceidbusiness/industry_user_admin/compliance-summaries/page.tsx
  bciers/apps/compliance/src/app/components/compliance-summaries/ComplianceSummariesPage.tsx
Due: eslint, mypy

chore: update fixture for compliance credit
  bc_obps/reporting/fixtures/mock/report_emission.json
  bc_obps/reporting/fixtures/mock/report_fuel.json
  bc_obps/reporting/fixtures/mock/report_product.json
  bc_obps/reporting/fixtures/mock/report_product_emission_allocation.json
  bc_obps/reporting/fixtures/mock/report_raw_activity_data.json
Due: none

chore: not working
  bc_obps/registration/models/rls_configs/address.py
  bc_obps/registration/models/rls_configs/bc_greenhouse_gas_id.py
  bc_obps/registration/tests/models/test_operation.py
  bc_obps/rls/utils/helpers.py
Due: mypy

refactor: rename ComplianceEarnedCredits to ComplianceEarnedCredit for consistency
  bc_obps/compliance/api/_compliance_report_versions/_compliance_report_version_id/earned_credits.py
  bc_obps/compliance/enums.py
  bc_obps/compliance/migrations/0005_complianceearnedcredit_and_more.py
  bc_obps/compliance/models/__init__.py
  bc_obps/compliance/models/compliance_earned_credit.py
  bc_obps/compliance/models/rls_configs/compliance_earned_credit.py
  bc_obps/compliance/schema/compliance_earned_credits.py
  bc_obps/compliance/service/compliance_report_version_service.py
  bc_obps/compliance/service/earned_credits_service.py
  bc_obps/compliance/tests/api/_compliance_report_versions/_compliance_report_version_id/test_earned_credits.py
  bc_obps/compliance/tests/models/test_compliance_earned_credits.py
  bc_obps/compliance/tests/service/test_compliance_earned_credits_service.py
  bc_obps/compliance/tests/service/test_compliance_report_version_service.py
  bc_obps/compliance/tests/utils/baker_recipes.py
  bc_obps/registration/tests/models/test_user.py
  bc_obps/reporting/tests/models/test_report_version.py
  bc_obps/service/tests/test_report_version_service.py
Due: mypy

chore: fix backend test and pre-commit issue
  bc_obps/compliance/service/earned_credits_service.py
  bc_obps/registration/tests/models/test_user.py
Due: mypy

chore: spec work working!
  bc_obps/registration/models/rls_configs/operation.py
  bc_obps/registration/tests/models/test_operation.py
  bc_obps/rls/utils/helpers.py
  bc_obps/rls/utils/manager.py
  bc_obps/rls/utils/policy.py
Due: mypy

chore: spec work working!
  bc_obps/registration/tests/models/test_operation.py
Due: mypy

chore: fixed cas regsitry number in final review page
  bciers/apps/reporting/src/app/components/finalReview/reviewDataFactory/activityFactoryItem.ts
  bciers/libs/components/src/form/fields/GasTypeCasNumberFieldTemplate.tsx
Due: eslint

chore: added changes
  bciers/apps/reporting/src/app/components/finalReview/reviewDataFactory/activityFactoryItem.ts
  bciers/libs/components/src/form/fields/GasTypeCasNumberFieldTemplate.tsx
Due: eslint

test: cas role helper
  bc_obps/registration/tests/models/test_operation.py
  bc_obps/rls/tests/helpers.py
Due: mypy

chore: fixed context
  bciers/apps/reporting/src/app/components/finalReview/reviewDataFactory/activityFactoryItem.ts
Due: eslint

Path conditions:
  eslint: any of: \.(j|t)sx?$
  mypy: any of: \.py$
