Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3 # Use the sha or tag you want to point at
    hooks:
      - id: prettier
        name: Prettier
        stages: [commit]
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        language: system
        files: \.(j|t)sx?$
        entry: ./.bin/pre-commit-lint.sh

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-vcs-permalinks
      - id: check-yaml
        exclude: (^helm/.*/templates/)
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: debug-statements
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: bash -c "cd bc_obps && poetry run pylint --rcfile=.pylintrc *.py"
        language: system
        types: [python]
        require_serial: true

  - repo: https://github.com/python-poetry/poetry
    rev: 1.6.1
    hooks:
      - id: poetry-check
        args: ["-C", "./bc_obps"]
      - id: poetry-lock
        args: ["-C", "./bc_obps", "--check"] # --check to ensure lock file is up to date without updating it

  - repo: https://github.com/PyCQA/bandit
    rev: "1.7.5"
    hooks:
      - id: bandit
        args: ["-c", "bc_obps/bandit.yaml"]

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.2.5
    hooks:
      - id: gitleaks

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v8.0.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]

test: test for adding a mailing address
  bc_obps/registration/tests/test_utils.py
Due: pylint

feat: e2e test for dashboard tiles
  client/app/components/layout/__tests__/Footer.test.tsx
  client/app/components/navigation/Tiles.tsx
  client/e2e/pages/authenticated/dashboard/page.spec.ts
  client/e2e/pages/authenticated/dashboard/page.spec.ts-snapshots/Test-Dashboard-for-cas-admin-Test-Selfie-1-chromium-linux.png
  client/e2e/pages/authenticated/dashboard/page.spec.ts-snapshots/Test-Dashboard-for-cas-admin-Test-Selfie-1-firefox-linux.png
  client/e2e/pages/authenticated/dashboard/page.spec.ts-snapshots/Test-Dashboard-for-cas-admin-Test-Selfie-1-webkit-linux.png
  client/e2e/pages/authenticated/dashboard/page.spec.ts-snapshots/Test-Dashboard-for-cas-analyst-Test-Selfie-1-chromium-linux.png
  client/e2e/pages/authenticated/dashboard/page.spec.ts-snapshots/Test-Dashboard-for-cas-analyst-Test-Selfie-1-firefox-linux.png
  client/e2e/pages/authenticated/dashboard/page.spec.ts-snapshots/Test-Dashboard-for-cas-analyst-Test-Selfie-1-webkit-linux.png
  client/e2e/pages/authenticated/dashboard/page.spec.ts-snapshots/Test-Dashboard-for-cas-pending-Test-Selfie-1-chromium-linux.png
  client/e2e/pages/authenticated/dashboard/page.spec.ts-snapshots/Test-Dashboard-for-cas-pending-Test-Selfie-1-firefox-linux.png
  client/e2e/pages/authenticated/dashboard/page.spec.ts-snapshots/Test-Dashboard-for-cas-pending-Test-Selfie-1-webkit-linux.png
  client/e2e/pages/authenticated/dashboard/page.spec.ts-snapshots/Test-Dashboard-for-industry-user-Test-Selfie-1-chromium-linux.png
  client/e2e/pages/authenticated/dashboard/page.spec.ts-snapshots/Test-Dashboard-for-industry-user-Test-Selfie-1-firefox-linux.png
  client/e2e/pages/authenticated/dashboard/page.spec.ts-snapshots/Test-Dashboard-for-industry-user-Test-Selfie-1-webkit-linux.png
  client/e2e/pages/authenticated/dashboard/page.spec.ts-snapshots/Test-Dashboard-for-industry-user-admin-Test-Selfie-1-chromium-linux.png
  client/e2e/pages/authenticated/dashboard/page.spec.ts-snapshots/Test-Dashboard-for-industry-user-admin-Test-Selfie-1-firefox-linux.png
  client/e2e/pages/authenticated/dashboard/page.spec.ts-snapshots/Test-Dashboard-for-industry-user-admin-Test-Selfie-1-webkit-linux.png
  client/e2e/pages/authenticated/dashboard/profile/page.spec.ts
  client/e2e/pages/onboarding/home/page.spec.ts
  client/e2e/poms/dashboard.ts
  client/e2e/poms/profile.ts
  client/e2e/utils/enums.ts
  client/e2e/utils/queries.ts
  client/e2e/workflows/bceidbusiness/new_user.spec.ts
Due: eslint

chore: fix uuid conflict
  client/e2e/pages/authenticated/dashboard/page.spec.ts
  client/e2e/pages/onboarding/home/page.spec.ts
  client/e2e/utils/enums.ts
  client/e2e/utils/queries.ts
Due: eslint

chore: icon, profile submit, signout
  client/app/components/routes/profile/form/UserForm.tsx
  client/app/layout.tsx
  client/e2e/pages/authenticated/dashboard/page.spec.ts
  client/e2e/pages/onboarding/home/page.spec.ts
  client/e2e/utils/queries.ts
  client/public/img/favicon.ico
Due: eslint

chore: add favico
  client/e2e/pages/authenticated/dashboard/page.spec.ts
  client/public/img/favicon.ico
Due: eslint

fix: next auth signOut
  client/app/components/navigation/Profile.tsx
  client/e2e/pages/authenticated/dashboard/page.spec.ts
  client/e2e/pages/authenticated/dashboard/profile/page.spec.ts
  client/e2e/pages/onboarding/home/page.spec.ts
  client/e2e/utils/enums.ts
  client/e2e/utils/queries.ts
Due: eslint

fix: disable submit only on loading
  client/app/components/routes/profile/form/UserForm.tsx
Due: eslint

chore: troubleshoot CI snapshots
  client/app/components/navigation/Profile.tsx
  client/e2e/pages/authenticated/dashboard/page.spec.ts
Due: eslint

chore: prettier
  client/app/components/routes/profile/form/UserForm.tsx
Due: eslint

fix: global db setup for auth roles
  client/e2e/pages/authenticated/dashboard/page.spec.ts
  client/e2e/setup/global.ts
Due: eslint

chore: refactor cas user login for future tests
  client/e2e/pages/onboarding/home/page.spec.ts
  client/e2e/setup/global.ts
  client/e2e/utils/queries.ts
Due: eslint

fix: auth token refresh
  client/app/api/auth/[...nextauth]/route.ts
  client/e2e/utils/queries.ts
Due: eslint

fix: nextauth
  client/app/api/auth/[...nextauth]/route.ts
Due: eslint

fix: profile all roles
  client/app/api/auth/[...nextauth]/route.ts
  client/e2e/pages/authenticated/dashboard/profile/page.spec.ts
  client/e2e/utils/queries.ts
Due: eslint

chore: defer jwt refresh solution to #971
  client/app/api/auth/[...nextauth]/route.ts
Due: eslint

chore: prettier
  client/app/api/auth/[...nextauth]/route.ts
Due: eslint

fix: the PUT endpoint for updating an operator is restricted to admins
  bc_obps/registration/api/user_operator.py
Due: pylint

chore: define redirects for draft & isnew vs draft & not isnew
  client/app/components/routes/select-operator/Page.tsx
Due: eslint

test: update / add useroperator backend tests
  bc_obps/registration/tests/endpoints/test_useroperator_endpoints.py
Due: pylint

chore: make prettier happy
  bc_obps/registration/tests/endpoints/test_useroperator_endpoints.py
  client/app/components/routes/select-operator/Page.tsx
Due: eslint, pylint

test: simplify test
  bc_obps/registration/tests/endpoints/test_useroperator_endpoints.py
Due: pylint
