Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3 # Use the sha or tag you want to point at
    hooks:
      - id: prettier
        name: Prettier
        stages: [commit]

  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        language: system
        files: \.(j|t)sx?$
        entry: ./.bin/pre-commit-lint.sh
      - id: mypy
        name: Mypy
        language: system
        types: [python]
        entry: ./.bin/pre-commit-mypy.sh

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-vcs-permalinks
      - id: check-yaml
        exclude: (^helm/.*/templates/)
      - id: end-of-file-fixer
        exclude: (^erd_diagrams/)
      - id: trailing-whitespace
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        types: [python]
        args: ["--config", "bc_obps/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.2
    hooks:
      - id: ruff
        args: ["bc_obps/", "--fix"]

  - repo: https://github.com/python-poetry/poetry
    rev: 1.6.1
    hooks:
      - id: poetry-check
        args: ["-C", "./bc_obps"]
      - id: poetry-lock
        args: ["-C", "./bc_obps", "--check"] # --check to ensure lock file is up to date without updating it

  - repo: https://github.com/PyCQA/bandit
    rev: "1.7.5"
    hooks:
      - id: bandit
        args: ["-c", "bc_obps/bandit.yaml"]

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.2.5
    hooks:
      - id: gitleaks

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.16.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]

chore: e2e test
  bc_obps/service/compliance/elicensing/elicensing_api_client.py
  bc_obps/service/compliance/elicensing/operator_elicensing_service.py
Due: mypy

chore: e2e test2
  bc_obps/service/compliance/elicensing/operator_elicensing_service.py
Due: mypy

chore: fix tests
  bc_obps/reporting/tests/models/test_reporting_year.py
  bc_obps/service/tests/compliance/elicensing/test_elicensing_api_client.py
  bc_obps/service/tests/compliance/elicensing/test_operator_elicensing_service.py
Due: mypy

chore: fix tests
  bc_obps/reporting/tests/models/test_reporting_year.py
Due: mypy

chore: fix tests
  bc_obps/service/tests/compliance/elicensing/test_elicensing_api_client.py
Due: mypy

feat(compliance): creates fee and invoice record in eLicensing (#3119)
  bc_obps/Makefile
  bc_obps/compliance/enums.py
  bc_obps/compliance/migrations/0006_complianceobligation_fee_amount_dollars_and_more.py
  bc_obps/compliance/migrations/0007_seed_compliance_charge_rates.py
  bc_obps/compliance/models/__init__.py
  bc_obps/compliance/models/compliance_charge_rate.py
  bc_obps/compliance/models/compliance_obligation.py
  bc_obps/compliance/models/rls_configs/compliance_charge_rate.py
  bc_obps/registration/tests/models/test_user.py
  bc_obps/reporting/tests/models/test_reporting_year.py
  bc_obps/service/compliance/compliance_charge_rate_service.py
  bc_obps/service/compliance/compliance_obligation_service.py
  bc_obps/service/compliance/compliance_period_service.py
  bc_obps/service/compliance/compliance_summary_service.py
  bc_obps/service/compliance/elicensing/elicensing_api_client.py
  bc_obps/service/compliance/elicensing/elicensing_link_service.py
  bc_obps/service/compliance/elicensing/obligation_elicensing_service.py
  bc_obps/service/compliance/elicensing/operator_elicensing_service.py
  bc_obps/service/tests/compliance/elicensing/test_elicensing_api_client.py
  bc_obps/service/tests/compliance/elicensing/test_obligation_elicensing_service.py
  bc_obps/service/tests/compliance/elicensing/test_operator_elicensing_service.py
  bc_obps/service/tests/compliance/test_compliance_charge_rate_service.py
  bc_obps/service/tests/compliance/test_compliance_obligation_service.py
  bc_obps/service/tests/compliance/test_operator_elicensing_service.py
Due: mypy

chore: fix env variables and imports
  bc_obps/registration/api/e2e_test_setup.py
  bciers/libs/e2e/src/utils/constants.ts
  bciers/libs/e2e/src/utils/helpers.ts
  bciers/libs/e2e/src/utils/queries.ts
  bciers/libs/e2e/src/utils/test-nx-app-landing-page.ts
Due: eslint, mypy

chore: put reg e2e job back into CI
  .github/workflows/main.yaml
  .github/workflows/test-nx-project-e2e.yaml
  bc_obps/bc_obps/settings.py
  bc_obps/registration/api/e2e_test_setup.py
  bc_obps/rls/utils/manager.py
Due: mypy

chore: skip malware scan locally and in CI
  bc_obps/service/operation_service.py
Due: mypy

docs: write strategy for reg e2e tests
  docs/frontend/testing/playwright.md
Due: none

chore: standarsize opt-in capitalization
  bciers/apps/registration/app/components/operations/OperationRegistrationPage.tsx
  bciers/apps/registration/app/components/operations/registration/enums.ts
Due: eslint

test: add description arg to analyzeAccessibility
  bciers/apps/registration-e2e/tests/register-an-operation.spec.ts
  bciers/libs/e2e/src/utils/helpers.ts
Due: eslint

test: e2e for register an operation workflow
  bciers/apps/registration-e2e/docs/test.pdf
  bciers/apps/registration-e2e/poms/registration.ts
  bciers/apps/registration-e2e/tests/example.spec.ts
  bciers/apps/registration-e2e/tests/register-an-operation.spec.ts
  bciers/libs/e2e/src/utils/helpers.ts
Due: eslint

chore: comment out accessibility fails
  bciers/apps/registration-e2e/tests/register-an-operation.spec.ts
Due: eslint

chore: apply suggestions from code review
  bc_obps/rls/utils/manager.py
  bciers/apps/registration-e2e/poms/registration.ts
  bciers/apps/registration-e2e/tests/register-an-operation.spec.ts
  bciers/libs/e2e/src/utils/helpers.ts
Due: eslint, mypy

chore: put reg e2e job back into CI
  .github/workflows/main.yaml
Due: none

chore: debug CI
  bc_obps/bc_obps/settings.py
  bc_obps/service/tests/test_operation_service.py
Due: mypy

test: mock ENV variables for document scanning tests
  bc_obps/service/tests/test_operation_service.py
Due: mypy

chore: changed Back to Dashboard redirect to main dashboard instead of Reg sub-dashboard
  bciers/apps/registration/app/components/operations/registration/Success.tsx
Due: eslint

chore: changed Back to Dashboard redirect to main dashboard instead of Reg sub-dashboard (#3247)
  bciers/apps/registration/app/components/operations/registration/Success.tsx
Due: eslint

chore: add Google Fonts and set A4 landscape page size in invoice
  bc_obps/compliance/templates/invoice.html
Due: none

refactor: enhance invoice PDF generation with error handling and logo retrieval
  bc_obps/compliance/services/invoice_service.py
Due: mypy

chore: streamline Dockerfile by removing font installation
  bc_obps/Dockerfile
Due: none

test: select operator e2e test
  bciers/apps/administration-e2e/poms/operator.ts
  bciers/apps/administration-e2e/tests/workflows/industry_user/select-operator-with-beforeAll.spec.ts
  bciers/apps/administration-e2e/tests/workflows/industry_user/select-operator-with-beforeEach.spec.ts
  bciers/apps/administration-e2e/tests/workflows/industry_user_operator/operator-with-beforeAll.spec.ts
  bciers/apps/administration-e2e/tests/workflows/select-operator.spec.ts
  bciers/apps/administration-e2e/utils/enums.ts
  bciers/libs/e2e/src/utils/enums.ts
Due: eslint

chore: add admin-e2e job to CI
  .github/workflows/main.yaml
Due: none

chore: update wording in FileWidget
  bciers/apps/administration/tests/components/operations/OperationInformationForm.test.tsx
  bciers/apps/registration/tests/components/operations/registration/NewEntrantOperationForm.test.tsx
  bciers/libs/components/src/form/widgets/FileWidget.test.tsx
  bciers/libs/components/src/form/widgets/FileWidget.tsx
  bciers/libs/components/src/form/widgets/readOnly/ReadOnlyFileWidget.test.tsx
Due: eslint

chore: custom error wording in customTranformErrors
  bciers/libs/components/src/form/FormBase.tsx
  bciers/libs/utils/src/customTransformErrors.ts
Due: eslint

chore: fix error styling in select operator form
  bciers/libs/components/src/form/fields/FieldTemplateWithSubmitButton.tsx
Due: eslint

chore: custom error in operation form
  bciers/apps/registration/app/components/operations/registration/OperationInformationForm.tsx
Due: eslint

test: update vitests
  bciers/apps/administration/tests/components/contacts/ContactForm.test.tsx
  bciers/apps/administration/tests/components/facilities/FacilityForm.test.tsx
  bciers/apps/administration/tests/components/operations/OperationInformationForm.test.tsx
  bciers/apps/administration/tests/components/operators/OperatorForm.test.tsx
  bciers/apps/administration/tests/components/userOperators/SelectOperatorForm.test.tsx
  bciers/apps/registration/tests/components/operations/registration/NewEntrantOperationForm.test.tsx
  bciers/apps/registration/tests/components/operations/registration/NewOperationRepresentativeForm.test.tsx
  bciers/apps/registration/tests/components/operations/registration/OperationInformationForm.test.tsx
  bciers/libs/components/src/form/FormBase.test.tsx
  bciers/libs/components/src/form/SingleStepTaskListForm.test.tsx
  bciers/libs/components/src/form/widgets/CheckboxWidget.test.tsx
  bciers/libs/components/src/form/widgets/ComboBox.test.tsx
  bciers/libs/components/src/form/widgets/DateWidget.test.tsx
  bciers/libs/components/src/form/widgets/EmailWidget.test.tsx
  bciers/libs/components/src/form/widgets/FileWidget.test.tsx
  bciers/libs/components/src/form/widgets/MultiSelectWidget.test.tsx
  bciers/libs/components/src/form/widgets/OperatorSearchWidget.test.tsx
  bciers/libs/components/src/form/widgets/PhoneWidget.test.tsx
  bciers/libs/components/src/form/widgets/PostalCodeWidget.test.tsx
  bciers/libs/components/src/form/widgets/RadioWidget.test.tsx
  bciers/libs/components/src/form/widgets/SelectWidget.test.tsx
  bciers/libs/components/src/form/widgets/TextAreaWidget.test.tsx
  bciers/libs/components/src/form/widgets/TextWidget.test.tsx
  bciers/libs/utils/src/customTransformErrors.test.ts
Due: eslint

chore: test: update vitests
  bciers/apps/administration/tests/components/facilities/FacilityForm.test.tsx
  bciers/libs/utils/src/customTransformErrors.test.ts
Due: eslint

chore: cleanup
  bciers/apps/administration/tests/components/userOperators/SelectOperatorForm.test.tsx
  bciers/libs/components/src/form/FormBase.tsx
  bciers/libs/components/src/form/fields/FieldTemplateWithSubmitButton.tsx
  bciers/libs/utils/src/customTransformErrors.ts
Due: eslint

chore: fix attachment error language
  bciers/apps/registration/tests/components/operations/registration/NewEntrantOperationForm.test.tsx
  bciers/libs/utils/src/customTransformErrors.test.ts
  bciers/libs/utils/src/customTransformErrors.ts
Due: eslint

chore: apply suggestions from code review
  bciers/apps/administration/tests/components/facilities/FacilityForm.test.tsx
  bciers/libs/components/src/form/SingleStepTaskListForm.test.tsx
  bciers/libs/utils/src/customTransformErrors.test.ts
  bciers/libs/utils/src/customTransformErrors.ts
Due: eslint

refactor: uncouple report sign-off data type from api
  bc_obps/reporting/api/submit.py
  bc_obps/reporting/schema/report_sign_off.py
  bc_obps/reporting/service/report_sign_off_service.py
  bc_obps/reporting/service/report_submission_service.py
  bc_obps/reporting/tests/service/test_report_sign_off_service.py
  bc_obps/reporting/tests/service/test_report_submission_service.py
Due: mypy

refactor: simplify report sign-off data structure by using dataclasses
  bc_obps/reporting/api/submit.py
  bc_obps/reporting/service/report_sign_off_service.py
Due: mypy

chore: log unexpected errors and capture them using sentry
  bc_obps/service/error_service/handle_exception.py
Due: mypy
