Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, pylint

eslint:
  name: ESLint
  language: system
  entry: ./.bin/pre-commit-lint.sh

pylint:
  name: pylint
  entry: bash -c "cd bc_obps && poetry run pylint --rcfile=.pylintrc *.py"
  language: system
  require_serial: true

chore: apply suggestions from code review
  bc_obps/registration/fixtures/mock/operator.json
  client/app/components/routes/access-requests/form/UserOperatorReview.tsx
Due: eslint

chore: apply suggestions from code review
  bc_obps/registration/api/user_operator.py
  bc_obps/registration/migrations/0001_initial.py
  bc_obps/registration/models.py
Due: pylint

chore: remove console logs
  client/app/components/button/Review.tsx
Due: eslint

add: e2e tests for role based page interactions
  client/e2e/onboarding/home/page.spec.ts
Due: eslint

add: e2e tests for role based page interactions
  bc_obps/registration/fixtures/mock/user.json
  client/app/components/auth/SessionProvider.tsx
  client/app/layout.tsx
  client/app/utils/jsonSchema/user.ts
  client/e2e/.env.local.example
  client/e2e/auth/auth-setup.ts
  client/e2e/auth/authentication.spec.ts
  client/e2e/authenticated/dashboard/page.spec.ts
  client/e2e/authenticated/dashboard/profile/page.spec.ts
  client/e2e/setup/global.ts
  client/e2e/utils/enums.ts
  client/playwright.config.ts
  docs/css-theme-guide.md
  docs/developer-environment-setup.md
  docs/developer-guide.md
Due: eslint

fix: conflict
  bc_obps/registration/fixtures/mock/user.json
Due: none

doco
  docs/developer-guide.md
Due: none

chore: release v0.1.1-beta-2
  CHANGELOG.md
  package.json
Due: none

chore: fix dev data
  bc_obps/registration/fixtures/mock/user.json
Due: none

✨ add:e2e tests for role based page interactions
  bc_obps/registration/fixtures/mock/user.json
  client/app/api/auth/[...nextauth]/route.ts
  client/app/components/auth/SessionProvider.tsx
  client/app/layout.tsx
  client/app/utils/jsonSchema/user.ts
  client/e2e/.env.local.example
  client/e2e/auth/auth-setup.ts
  client/e2e/auth/authentication.spec.ts
  client/e2e/pages/authenticated/dashboard/page.spec.ts
  client/e2e/pages/authenticated/dashboard/profile/page.spec.ts
  client/e2e/pages/onboarding/home/page.spec.ts
  client/e2e/setup/global.ts
  client/e2e/utils/enums.ts
  client/e2e/utils/helpers.ts
  client/playwright.config.ts
  docs/developer-environment-setup.md
  docs/developer-guide.md
Due: eslint

add:e2e workflow folders
  client/e2e/pages/authenticated/dashboard/page.spec.ts
  client/e2e/pages/authenticated/dashboard/profile/page.spec.ts
  client/e2e/pages/onboarding/home/page.spec.ts
  client/e2e/setup/global.ts
  client/e2e/utils/enums.ts
  client/e2e/utils/helpers.ts
  client/e2e/workflows/bceidbusiness/industry_user.spec.ts
  client/e2e/workflows/bceidbusiness/industry_user_admin.spec.ts
  client/e2e/workflows/bceidbusiness/new_user.spec.ts
  client/e2e/workflows/idir/cas_admin.spec.ts
  client/e2e/workflows/idir/cas_analyst.spec.ts
  client/e2e/workflows/idir/cas_pending.spec.ts
  docs/developer-guide.md
Due: eslint

add: e2e tests for role based page interactions and workflow stories
  client/app/components/auth/SessionProvider.tsx
  client/app/layout.tsx
  client/app/utils/jsonSchema/user.ts
  client/e2e/.env.local.example
  client/e2e/auth/auth-setup.ts
  client/e2e/auth/authentication.spec.ts
  client/e2e/pages/authenticated/dashboard/page.spec.ts
  client/e2e/pages/authenticated/dashboard/profile/page.spec.ts
  client/e2e/pages/onboarding/home/page.spec.ts
  client/e2e/setup/global.ts
  client/e2e/utils/enums.ts
  client/e2e/utils/helpers.ts
  client/e2e/workflows/bceidbusiness/industry_user.spec.ts
  client/e2e/workflows/bceidbusiness/industry_user_admin.spec.ts
  client/e2e/workflows/bceidbusiness/new_user.spec.ts
  client/e2e/workflows/idir/cas_admin.spec.ts
  client/e2e/workflows/idir/cas_analyst.spec.ts
  client/e2e/workflows/idir/cas_pending.spec.ts
  client/playwright.config.ts
  docs/developer-environment-setup.md
  docs/developer-guide.md
Due: eslint

modify: increased keycloak request timeout
  client/app/api/auth/[...nextauth]/route.ts
Due: eslint

chore: debugging and comments
  bc_obps/registration/api/user_operator.py
  client/app/(authenticated)/dashboard/page.tsx
  client/app/api/auth/[...nextauth]/route.ts
Due: eslint, pylint

chore: clarify app_role and role enums
  bc_obps/registration/enums/enums.py
  bc_obps/registration/tests/endpoints/test_operator_endpoints.py
  client/app/(authenticated)/dashboard/page.tsx
  client/app/api/auth/[...nextauth]/route.ts
  client/app/components/routes/operations/Page.tsx
  client/app/utils/enums.ts
Due: eslint, pylint

chore: remove industry_user_admin app_role from fixtures
  bc_obps/registration/fixtures/mock/user.json
  bc_obps/registration/fixtures/real/appRole.json
Due: none

fix: handle form state externally to prevent data loss on error
  client/app/components/form/FormBase.tsx
Due: eslint

refactor: remove form state in user operator fomrs
  client/app/components/form/UserOperatorContactForm.tsx
  client/app/components/form/UserOperatorMultiStepForm.tsx
Due: eslint

feat: add reset error prop to form base
  client/app/components/form/FormBase.tsx
  client/app/components/form/MultiStepFormBase.tsx
  client/app/components/form/OperationsForm.tsx
  client/app/components/form/UserOperatorContactForm.tsx
  client/app/components/form/UserOperatorMultiStepForm.tsx
Due: eslint

chore: add UserOperator.role protections to authorization functions
  bc_obps/registration/decorators.py
  bc_obps/registration/tests/test_utils.py
  bc_obps/registration/utils.py
Due: pylint

chore: add UserOperator.role protections to authorization functions
  bc_obps/registration/decorators.py
  bc_obps/registration/tests/endpoints/test_operations_endpoints.py
  bc_obps/registration/tests/test_models.py
  bc_obps/registration/utils.py
Due: pylint

chore: update endpoints with new authorization protections
  bc_obps/registration/api/business_structure.py
  bc_obps/registration/api/naics.py
  bc_obps/registration/api/operation.py
  bc_obps/registration/api/operator.py
  bc_obps/registration/api/regulated_products.py
  bc_obps/registration/api/reporting_activities.py
  bc_obps/registration/api/user.py
  bc_obps/registration/api/user_operator.py
  bc_obps/registration/migrations/0001_initial.py
  bc_obps/registration/models.py
Due: pylint

chore: update endpoints with new authorization protections
  bc_obps/registration/api/user_operator.py
Due: pylint

chore: change industry_user_reporter client endpoints
  client/app/(authenticated)/bceidbusiness/industry_user_reporter/dashboard/select-operator/(request-access)/confirm/[id]/page.tsx
  client/app/(authenticated)/bceidbusiness/industry_user_reporter/dashboard/select-operator/(request-access)/received/[step]/[id]/page.tsx
  client/app/(authenticated)/bceidbusiness/industry_user_reporter/dashboard/select-operator/(request-access)/user-operator/[id]/page.tsx
  client/app/(authenticated)/bceidbusiness/industry_user_reporter/dashboard/select-operator/(request-access)/user-operator/create/[formSection]/page.tsx
  client/app/(authenticated)/bceidbusiness/industry_user_reporter/dashboard/select-operator/page.tsx
  client/app/(authenticated)/dashboard/page.tsx
  client/app/api/auth/[...nextauth]/route.ts
Due: eslint

🧹 cleanup & refactoring
  bc_obps/registration/fixtures/mock/user.json
  client/app/utils/jsonSchema/user.ts
  client/e2e/.env.local.example
  client/e2e/pages/authenticated/dashboard/page.spec.ts
  client/e2e/pages/authenticated/dashboard/profile/page.spec.ts
  client/e2e/pages/onboarding/home/page.spec.ts
  client/e2e/setup/global.ts
  client/e2e/utils/helpers.ts
  client/e2e/utils/pool.ts
  client/e2e/workflows/bceidbusiness/industry_user.spec.ts
  client/e2e/workflows/bceidbusiness/industry_user_admin.spec.ts
  client/e2e/workflows/bceidbusiness/new_user.spec.ts
  client/e2e/workflows/idir/cas_admin.spec.ts
  client/e2e/workflows/idir/cas_analyst.spec.ts
  client/e2e/workflows/idir/cas_pending.spec.ts
  client/playwright.config.ts
Due: eslint

chore: prettier
  client/e2e/pages/authenticated/dashboard/page.spec.ts
  client/e2e/pages/onboarding/home/page.spec.ts
  client/e2e/setup/global.ts
  client/e2e/utils/helpers.ts
Due: eslint

fix: handle timing issues
  client/e2e/pages/authenticated/dashboard/profile/page.spec.ts
Due: eslint

chore: change industry_user_reporter client endpoints
  client/app/(authenticated)/dashboard/page.tsx
  client/app/data/dashboard/industry_user_reporter.json
  client/e2e/.env.local.example
  client/e2e/auth/authentication.spec.ts
Due: eslint

chore: remove industry_user_admin role from tests
  bc_obps/registration/tests/endpoints/test_naicscode_endpoints.py
  bc_obps/registration/tests/endpoints/test_operations_endpoints.py
  bc_obps/registration/tests/endpoints/test_regulated_products_endpoints.py
  bc_obps/registration/tests/endpoints/test_reporting_activities_endpoints.py
  bc_obps/registration/tests/test_models.py
Due: pylint

chore: remove industry_user_admin role from tests
  bc_obps/registration/tests/endpoints/test_operator_endpoints.py
Due: pylint

Path conditions:
  eslint: any of: \.(j|t)sx?$
  pylint: any of: \.py$
