Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy

eslint:
  name: ESLint
  language: system
  entry: ./.bin/pre-commit-lint.sh

mypy:
  name: Mypy
  language: system
  entry: ./.bin/pre-commit-mypy.sh

chore: update existing failing tests
  bc_obps/compliance/tests/api/_bccr/_accounts/test_account_id.py
  bc_obps/compliance/tests/service/bc_carbon_registry/test_bc_carbon_registry_api_client.py
  bc_obps/service/tests/test_handle_exception.py
Due: mypy

chore: rename BCCRHoldingAccountWidget to BccrHoldingAccountWidget for consistency
  bciers/apps/compliance/src/app/utils/getComplianceUnitsApplyData.tsx
Due: eslint

chore: make pre-commit happy
  bc_obps/service/error_service/handle_exception.py
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/apply-compliance-units/ApplyComplianceUnitsComponent.tsx
  bciers/apps/compliance/src/app/data/jsonSchema/requestIssuance/requestIssuanceOfEarnedCreditsSchema.tsx
  bciers/apps/compliance/src/app/widgets/ApplyComplianceUnitsWidget.tsx
  bciers/apps/compliance/src/app/widgets/BccrHoldingAcountWidget.tsx
Due: eslint, mypy

chore: update ExceptionHandler to provide a more informative error message for BCCarbonRegistryError
  bc_obps/service/error_service/handle_exception.py
Due: mypy

chore: remove duplicated types
  bciers/apps/compliance/src/app/components/ComplianceStepButtons.tsx
Due: eslint

chore: enhance ComplianceStepButtons component with additional props and type support
  bciers/apps/compliance/src/app/components/ComplianceStepButtons.tsx
Due: eslint

chore: remove unused alias "@" from vitest configuration
  bciers/apps/administration/vitest.config.mts
  bciers/apps/compliance/vitest.config.mts
  bciers/apps/registration/vitest.config.mts
Due: none

chore: update compliance units component and related types for improved type safety
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/apply-compliance-units/ApplyComplianceUnitsComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/request-issuance-of-earned-credits/RequestIssuanceOfEarnedCreditsComponent.tsx
  bciers/apps/compliance/src/app/data/jsonSchema/requestIssuance/requestIssuanceOfEarnedCreditsSchema.tsx
  bciers/apps/compliance/src/app/types.ts
  bciers/apps/compliance/src/app/utils/bccrAccountHandlers.ts
  bciers/apps/compliance/src/app/widgets/BccrHoldingAcountWidget.tsx
Due: eslint

chore: rename file to BccrHoldingAcountWidget.test for consistency
  bciers/apps/compliance/src/tests/components/widgets/BccrHoldingAccountWidget.test.tsx
Due: eslint

test: add frontend unit tests for ApplyComplianceUnits components
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/apply-compliance-units/ApplyComplianceUnitsComponent.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/apply-compliance-units/ApplyComplianceUnitsPage.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/apply-compliance-units/ComplianceUnitsApplyComponent.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/request-issuance-of-earned-credits/RequestIssuanceOfEarnedCreditsComponent.test.tsx
  bciers/apps/compliance/src/tests/components/datagrid/cells/ApplyComplianceUnitCell.test.tsx
  bciers/apps/compliance/src/tests/components/widgets/ApplyComplianceUnitsWidget.test.tsx
  bciers/apps/compliance/src/tests/components/widgets/BccrHoldingAccountWidget.test.tsx
  bciers/libs/components/src/form/components/AlertNote.test.tsx
  bciers/libs/components/src/form/widgets/index.ts
Due: eslint

chore: make pre-commit happy
  bc_obps/compliance/tests/api/_bccr/_accounts/test_account_id.py
  bc_obps/compliance/tests/service/bc_carbon_registry/test_bc_carbon_registry_api_client.py
  bc_obps/service/tests/test_handle_exception.py
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/apply-compliance-units/ApplyComplianceUnitsComponent.test.tsx
Due: eslint, mypy

fix: improve canSubmit logic in ApplyComplianceUnitsComponent
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/apply-compliance-units/ApplyComplianceUnitsComponent.tsx
Due: eslint

chore: updating django-storages
  bc_obps/poetry.lock
  bc_obps/pyproject.toml
Due: none

chore: external access request tests
  bc_obps/registration/fixtures/mock/user_operator.json
  bciers/apps/administration-e2e/poms/users-access-request.ts
  bciers/apps/administration-e2e/tests/workflows/contacts.spec.ts
  bciers/apps/administration-e2e/tests/workflows/select-operator.spec.ts
  bciers/apps/administration-e2e/tests/workflows/users-and-access-requests.spec.ts
  bciers/apps/administration-e2e/utils/enums.ts
  bciers/libs/e2e/src/utils/helpers.ts
Due: eslint

chore: remove extra code
  bciers/libs/e2e/src/utils/helpers.ts
Due: eslint

chore: rename variable
  bciers/apps/registration/app/components/operations/registration/OperationInformationForm.tsx
  bciers/apps/registration/tests/components/operations/registration/OperationInformationForm.test.tsx
Due: eslint

chore: spec work
  bc_obps/registration/migrations/0122_alter_historicalwellauthorizationnumber_well_authorization_number_and_more.py
  bc_obps/registration/models/well_authorization_number.py
Due: mypy

chore: updated equivalent emission in report raw activity data json
  bc_obps/reporting/migrations/0114_update_report_raw_activity_data_equivalent_emission.py
  bc_obps/reporting/service/report_activity_save_service.py
Due: mypy

chore: updated logging chart version
  helm/cas-bciers/Chart.lock
  helm/cas-bciers/Chart.yaml
Due: none

chore: remove resolve method for excess emissions
  bc_obps/compliance/schema/compliance_report_version.py
  bc_obps/compliance/tests/test_compliance_report_version_schema.py
Due: mypy

chore: remove resolve method for excess emissions
  bc_obps/compliance/tests/test_compliance_report_version_schema.py
Due: mypy

chore: notes
  bciers/apps/reporting/src/data/jsonSchema/complianceSummary.ts
  bciers/apps/reporting/src/data/jsonSchema/emissionSummary.ts
  bciers/libs/components/src/form/widgets/TextWidget.tsx
Due: eslint

chore: add chart for testing backend migrations
  helm/migration-test/cas-obps-backend-migration-test/.helmignore
  helm/migration-test/cas-obps-backend-migration-test/Chart.yaml
  helm/migration-test/cas-obps-backend-migration-test/templates/NetworkPolicy/backendPostgresIngress.yaml
  helm/migration-test/cas-obps-backend-migration-test/templates/NetworkPolicy/postgresBackendIngress.yaml
  helm/migration-test/cas-obps-backend-migration-test/templates/NetworkPolicy/postgresJobIngress.yaml
  helm/migration-test/cas-obps-backend-migration-test/templates/_helpers.tpl
  helm/migration-test/cas-obps-backend-migration-test/templates/backend/deployment.yaml
  helm/migration-test/cas-obps-backend-migration-test/templates/backend/secret.yaml
  helm/migration-test/cas-obps-backend-migration-test/templates/backend/service.yaml
  helm/migration-test/cas-obps-backend-migration-test/values.yaml
Due: none

chore: add job to check if DB has been restored
  helm/migration-test/cas-obps-postgres-migration-test/templates/cronjob.yaml
  helm/migration-test/cas-obps-postgres-migration-test/templates/networkPolicy.yaml
Due: none

chore: add helm chart to deploy db and restore backup
  helm/migration-test/cas-obps-postgres-migration-test/.helmignore
  helm/migration-test/cas-obps-postgres-migration-test/Chart.yaml
  helm/migration-test/cas-obps-postgres-migration-test/templates/_helpers.tpl
  helm/migration-test/cas-obps-postgres-migration-test/templates/gcs-secret.yaml
  helm/migration-test/cas-obps-postgres-migration-test/templates/pgbackrest-config.yaml
  helm/migration-test/cas-obps-postgres-migration-test/templates/postgres-cluster.yaml
  helm/migration-test/cas-obps-postgres-migration-test/values.yaml
Due: none

chore: add cronjob to test django migration
  helm/migration-test/cas-obps-backend-migration-test/templates/cronjob.yaml
Due: none

chore: add shortname for chart use to avoid network name errors
  helm/migration-test/cas-obps-backend-migration-test/templates/_helpers.tpl
  helm/migration-test/cas-obps-backend-migration-test/values.yaml
  helm/migration-test/cas-obps-postgres-migration-test/values.yaml
Due: none

chore: explicitly set env to TEST (will always be triggered there)
  helm/migration-test/cas-obps-backend-migration-test/values.yaml
Due: none

chore: add backend functions to dag
  dags/bc_obps_test_migrations.py
Due: mypy

chore: add partial dag to install postgres from chart
  dags/bc_obps_test_migrations.py
Due: mypy

Path conditions:
  eslint: any of: \.(j|t)sx?$
  mypy: any of: \.py$
