Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        language: system
        files: \.(j|t)sx?$|\.json$|\.md$|\.css$|\.scss$
        exclude: (\.next/|node_modules/|dist/|build/|coverage/|\.nx/cache/)
        entry: ./.bin/pre-commit-format.sh
      - id: eslint
        name: ESLint
        language: system
        files: \.(j|t)sx?$
        exclude: (\.next/|node_modules/|dist/|build/|coverage/|\.nx/cache/|tests/performance/)
        entry: ./.bin/pre-commit-lint.sh
      - id: mypy
        name: Mypy
        language: system
        types: [python]
        entry: ./.bin/pre-commit-mypy.sh

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-vcs-permalinks
      - id: check-yaml
        exclude: (^helm/.*/templates/)
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
      - id: black
        types: [python]
        args: ["--config", "bc_obps/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.6
    hooks:
      - id: ruff
        args: ["bc_obps/", "--fix"]

  - repo: https://github.com/python-poetry/poetry
    rev: 2.2.1
    hooks:
      - id: poetry-check
        args: ["-C", "./bc_obps"]
      - id: poetry-lock
        args: ["-C", "./bc_obps"]

  - repo: https://github.com/PyCQA/bandit
    rev: "1.9.2"
    hooks:
      - id: bandit
        additional_dependencies: [pbr]
        args: ["-c", "bc_obps/bandit.yaml"]

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.29.1
    hooks:
      - id: gitleaks

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.23.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]

chore: update BCIERS schema definitions for elicensing response objects
  bc_obps/compliance/service/elicensing/schema.py
Due: mypy

chore: release v5.18.1
  CHANGELOG.md
  bc_obps/common/migrations/0136_V5_18_1.py
  bc_obps/compliance/migrations/0064_V5_18_1.py
  bc_obps/registration/migrations/0190_V5_18_1.py
  bc_obps/reporting/migrations/0207_V5_18_1.py
  bc_obps/rls/migrations/0067_V5_18_1.py
  bc_obps/task_scheduler/migrations/0039_V5_18_1.py
  helm/cas-bciers/Chart.yaml
  helm/migration-test/cas-obps-backend-migration-test/Chart.yaml
  package.json
Due: prettier, mypy

chore: update migration-test chart version
  helm/migration-test/cas-obps-postgres-migration-test/Chart.yaml
Due: none

fix: manage obligation layout crash
  bciers/apps/compliance/src/app/utils/getElicensingLastRefreshedMetaData.ts
  bciers/libs/actions/src/safeFetchApi.ts
  bciers/libs/utils/src/safeFetchApi.test.ts
Due: prettier, eslint

fix: dags should have static start dates
  dags/bc_obps_reset_data.py
  dags/bc_obps_test_migrations.py
  dags/cas_bciers_dags.py
Due: mypy

chore: change imports to non-depricated package (per ruff)
  dags/bc_obps_reset_data.py
  dags/bc_obps_test_migrations.py
  dags/cas_bciers_dags.py
Due: mypy

chore: add prek ruff hook for dags
  prek.toml
Due: none

fix: display broken errors on responsible, review, and additional pages
  bciers/apps/reporting/src/app/components/changeReview/ChangeReviewForm.tsx
  bciers/apps/reporting/src/data/jsonSchema/newEntrantInformation/newEntrantInformationSchema.tsx
  bciers/apps/reporting/src/data/jsonSchema/personResponsible.ts
  bciers/libs/utils/src/customTransformErrors.ts
Due: prettier, eslint

chore: change reason_for_change for test after form update
  bciers/apps/reporting/src/tests/components/changeReview/ChangeReviewForm.test.tsx
Due: prettier, eslint

chore: remove unnecessary empty string check on change review form
  bciers/apps/reporting/src/app/components/changeReview/ChangeReviewForm.tsx
Due: prettier, eslint

feat: external user can see penalty amount if obligation is not yet paid
  bc_obps/compliance/api/__init__.py
  bc_obps/compliance/api/_compliance_report_versions/_compliance_report_version_id/_obligation/accruing_penalties.py
  bc_obps/compliance/schema/accruing_penalties.py
  bc_obps/compliance/service/automated_process/compliance_handlers.py
  bc_obps/compliance/service/penalty_calculation_service.py
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/review-compliance-summary/ComplianceSummaryReviewComponent.tsx
  bciers/apps/compliance/src/app/data/jsonSchema/manageObligation/complianceSummaryReviewSchema.tsx
  bciers/apps/compliance/src/app/types.ts
  bciers/apps/compliance/src/app/utils/fetchComplianceSummaryReviewPageData.ts
  bciers/apps/compliance/src/app/utils/getAccruingPenalties.ts
Due: prettier, eslint, mypy

test: add missing endpoint test
  bc_obps/common/tests/endpoints/auth/constants.py
Due: mypy

test: add tests for accruing penalties display
  bc_obps/compliance/tests/api/_compliance_report_versions/_compliance_report_version_id/_obligation/test_accruing_penalties.py
  bc_obps/compliance/tests/service/penalty/test_accruing_penalty_data.py
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/review-compliance-summary/ComplianceSummaryReviewComponent.test.tsx
Due: prettier, eslint, mypy

chore: remove redundant faa_interest guard
  bc_obps/compliance/service/penalty_calculation_service.py
Due: mypy

chore(ci): raise backend healthcheck budget and unify compose files
  .github/actions/run-docker-compose/action.yml
  .github/workflows/main.yaml
  .github/workflows/nightly.yaml
  .github/workflows/test-nx-project-e2e.yaml
  .github/workflows/zap-owasp.yaml
  bciers/docker-compose-bciers-apps.yaml
  bciers/docker-compose-nx-app.yaml
  bciers/docker-compose.yaml
Due: none

chore: try sync approach instead of flag
  bciers/apps/registration/app/components/transfers/TransferForm.tsx
Due: prettier, eslint

chore(e2e): fix transfer form flaky behaviour
  bciers/apps/registration/app/components/transfers/TransferForm.tsx
Due: prettier, eslint

refactor: replace form stale-change guards with synchronous clearing
  bciers/apps/registration/app/components/transfers/TransferForm.tsx
Due: prettier, eslint

chore: run yarn dedupe
  bciers/yarn.lock
Due: none

chore: make prek happy
  bc_obps/poetry.lock
Due: none

feat: line items can now have an 'Interest' type
  bc_obps/compliance/models/elicensing_line_item.py
  bc_obps/compliance/tests/models/test_elicensing_line_item.py
Due: mypy

test: update tests to include distribution sum for payments
  bc_obps/compliance/tests/service/elicensing/test_elicensing_data_refresh_service.py
Due: mypy

chore: elicensing refresh service parses all fees depending on type
  bc_obps/compliance/service/elicensing/elicensing_data_refresh_service.py
  bc_obps/compliance/tests/service/elicensing/test_elicensing_data_refresh_service.py
Due: mypy

chore: refresh service sums the distributions to compute amount
  bc_obps/compliance/service/elicensing/elicensing_data_refresh_service.py
Due: mypy

chore: only FEE payments and adjustments considered for penalty calc
  bc_obps/compliance/service/penalty_calculation_service.py
Due: mypy

test: test exclusion of INTEREST fees in penalty calculation
  bc_obps/compliance/tests/service/test_penalty_calculation_service.py
Due: mypy

chore: copilot review
  bc_obps/compliance/migrations/0065_alter_elicensinglineitem_line_item_type_and_more.py
  bc_obps/compliance/service/elicensing/elicensing_data_refresh_service.py
  bc_obps/compliance/tests/models/test_elicensing_line_item.py
  bc_obps/compliance/tests/service/elicensing/test_elicensing_data_refresh_service.py
Due: mypy

chore: use safeClientGet to prevent silent client crashes
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/apply-compliance-units/ApplyComplianceUnitsComponent.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/apply-compliance-units/ApplyComplianceUnitsComponent.test.tsx
  bciers/libs/actions/src/actions.ts
Due: prettier, eslint

fix: allow all authed internal users to view manual handling page
  bc_obps/compliance/api/_compliance_report_versions/_compliance_report_version_id/manual_handling.py
Due: mypy

chore: update tests related to the manual handling auth changes
  bc_obps/common/tests/endpoints/auth/constants.py
  bc_obps/compliance/tests/api/_compliance_report_versions/_compliance_report_version_id/test_manual_handling.py
Due: mypy

chore: update admin event requests
  bciers/apps/administration/app/components/buttons/CancelAccessRequest.tsx
  bciers/apps/administration/app/components/userOperators/SelectOperatorForm.tsx
  bciers/apps/administration/app/components/userOperators/cells/ActionColumnCell.tsx
  bciers/apps/administration/app/components/users/cells/ActionColumnCell.tsx
  bciers/apps/administration/tests/components/userOperators/AccessRequestDataGrid.test.tsx
  bciers/apps/administration/tests/components/userOperators/SelectOperatorForm.test.tsx
  bciers/apps/administration/tests/components/users/InternalAccessRequestDataGrid.test.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/apply-compliance-units/ApplyComplianceUnitsComponent.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/apply-compliance-units/ApplyComplianceUnitsComponent.test.tsx
  bciers/apps/reporting/src/app/components/operations/cells/ActionCell.tsx
  bciers/apps/reporting/src/app/components/operations/cells/MoreActionsCell.tsx
  bciers/apps/reporting/src/tests/components/dataGrid/model/operations/operationColumns.test.tsx
  bciers/apps/reporting/src/tests/components/dataGrid/model/pastReports/pastReportsColumns.test.tsx
  bciers/apps/reporting/src/tests/components/operations/cells/ActionCell.test.tsx
  bciers/apps/reporting/src/tests/components/operations/cells/MoreActionCell.test.tsx
  bciers/libs/actions/src/actions.ts
  bciers/libs/components/src/form/widgets/OperatorSearchWidget.tsx
  bciers/libs/testConfig/src/helpers/TestErrorBoundary.tsx
  bciers/libs/testConfig/src/index.ts
Due: prettier, eslint

chore: update reporting proxies to display error
  bc_obps/reporting/api/reports.py
  bciers/apps/dashboard/app/dashboard/error/page.tsx
  bciers/apps/dashboard/app/layout.tsx
  bciers/apps/reporting/src/proxies/constants.ts
  bciers/apps/reporting/src/proxies/withRuleHasReportRouteAccess.ts
  bciers/apps/reporting/src/tests/components/dataGrid/model/pastReports/pastReportsColumns.test.tsx
Due: prettier, eslint, mypy

chore: update registration proxies to display error
  bc_obps/registration/api/_user_operators/_current/has_required_fields.py
  bciers/apps/compliance/src/proxies/constants.ts
  bciers/apps/compliance/src/proxies/withRuleHasComplianceRouteAccessBCeID.test.ts
  bciers/apps/compliance/src/proxies/withRuleHasComplianceRouteAccessBCeID.ts
  bciers/apps/registration/proxies/withRulesAppliedReg.test.ts
  bciers/apps/registration/proxies/withRulesAppliedReg.ts
  bciers/apps/reporting/src/proxies/constants.ts
  bciers/apps/reporting/src/proxies/withRuleHasReportRouteAccess.ts
  bciers/libs/actions/src/api/fetchApi.ts
  bciers/libs/proxies/src/constants.ts
  bciers/libs/proxies/src/withAuthorization.ts
Due: prettier, eslint, mypy

chore: update admin proxies to display error
  bc_obps/registration/api/_user_operators/_current/has_required_fields.py
  bc_obps/reporting/api/reports.py
  bciers/apps/administration/proxies/withRulesAppliedAdmin.ts
  bciers/apps/compliance-e2e/poms/compliance-summaries.ts
  bciers/apps/compliance/src/app/components/compliance-summaries/cells/ActionCell.tsx
  bciers/apps/compliance/src/proxies/withRuleHasComplianceRouteAccessBCeID.test.ts
  bciers/apps/compliance/src/proxies/withRuleHasComplianceRouteAccessBCeID.ts
  bciers/apps/compliance/src/proxies/withRuleHasComplianceRouteAccessIDIR.test.ts
  bciers/apps/compliance/src/proxies/withRuleHasComplianceRouteAccessIDIR.ts
  bciers/apps/compliance/src/tests/components/compliance-summaries/ComplianceSummariesDataGrid.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summaries/cells/ActionCell.test.tsx
  bciers/apps/registration/proxies/withRulesAppliedReg.test.ts
  bciers/apps/registration/proxies/withRulesAppliedReg.ts
  bciers/apps/reporting/src/tests/components/dataGrid/model/pastReports/pastReportsColumns.test.tsx
  bciers/libs/proxies/src/constants.ts
  bciers/libs/proxies/src/withAuthorization.ts
Due: prettier, eslint, mypy

chore: refactoring aggressive error squashing
  bciers/apps/administration/app/components/profile/ProfilePage.tsx
  bciers/apps/administration/app/components/userOperators/getInternalUsersPageData.ts
  bciers/apps/compliance/src/app/utils/getComplianceSummaryPayments.ts
  bciers/apps/compliance/src/app/utils/getElicensingInvoices.ts
  bciers/apps/compliance/src/app/utils/getManualHandlingData.ts
  bciers/apps/reporting/src/app/components/validation/ValidationPage.tsx
Due: prettier, eslint

chore: fixing deleted file content
  bciers/apps/reporting/src/app/components/validation/ValidationPage.tsx
Due: prettier, eslint

chore: unnecessary errors batch 1
  bciers/apps/administration/app/components/contacts/ContactPage.tsx
  bciers/apps/administration/app/components/operators/OperatorDetailsPage.tsx
  bciers/apps/administration/app/components/operators/OperatorPage.tsx
  bciers/apps/administration/app/components/operators/OperatorsPage.tsx
  bciers/apps/administration/app/components/operators/getOperatorConfirmationInfo.ts
  bciers/apps/administration/app/components/operators/getOperatorHasAdmin.ts
  bciers/apps/administration/app/components/profile/ProfilePage.tsx
  bciers/apps/administration/app/components/userOperators/AccessRequestsPage.tsx
  bciers/apps/administration/app/components/userOperators/SelectOperatorConfirmPage.tsx
  bciers/apps/administration/app/components/userOperators/SelectOperatorForm.tsx
  bciers/apps/administration/app/components/userOperators/SelectOperatorReceivedPage.tsx
  bciers/apps/administration/app/components/userOperators/UserOperatorPage.tsx
  bciers/apps/administration/app/components/userOperators/UserOperatorsPage.tsx
  bciers/apps/administration/app/components/userOperators/getAccessRequests.ts
  bciers/apps/administration/app/components/userOperators/getCurrentUserOperator.ts
  bciers/apps/compliance/src/app/utils/bccrAccountHandlers.ts
  bciers/apps/compliance/src/app/utils/fetchComplianceSummariesPageData.ts
  bciers/apps/compliance/src/app/utils/getAutomaticOverduePenalty.ts
  bciers/apps/compliance/src/app/utils/getComplianceSummary.ts
  bciers/apps/compliance/src/app/utils/getComplianceSummaryPayments.ts
  bciers/apps/compliance/src/app/utils/getCurrentCompliancePenaltyRate.ts
Due: prettier, eslint
