Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3 # Use the sha or tag you want to point at
    hooks:
      - id: prettier
        name: Prettier
        stages: [commit]
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        language: system
        files: \.(j|t)sx?$
        entry: ./.bin/pre-commit-lint.sh

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-vcs-permalinks
      - id: check-yaml
        exclude: (^helm/.*/templates/)
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: debug-statements
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: bash -c "cd bc_obps && poetry run pylint --rcfile=.pylintrc *.py"
        language: system
        types: [python]
        require_serial: true

  - repo: https://github.com/python-poetry/poetry
    rev: 1.6.1
    hooks:
      - id: poetry-check
        args: ["-C", "./bc_obps"]
      - id: poetry-lock
        args: ["-C", "./bc_obps", "--check"] # --check to ensure lock file is up to date without updating it

  - repo: https://github.com/PyCQA/bandit
    rev: "1.7.5"
    hooks:
      - id: bandit
        args: ["-c", "bc_obps/bandit.yaml"]

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.2.5
    hooks:
      - id: gitleaks

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v8.0.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]

chore: e2e report
  .github/workflows/test.yaml
Due: none

chore: apply suggestions from code review
  .github/workflows/test.yaml
Due: none

refactor: base model in common app
  bc_obps/common/constants.py
  bc_obps/common/models.py
  bc_obps/registration/constants.py
  bc_obps/registration/models.py
  bc_obps/registration/schema/operator.py
  bc_obps/registration/schema/user_operator.py
  erd_diagrams/erd_registration.md
  erd_diagrams/erd_reporting.md
Due: pylint

feat: adding models for reporting objects
  bc_obps/reporting/admin.py
  bc_obps/reporting/migrations/0002_historicalreportinggastype_and_more.py
  bc_obps/reporting/models/__init__.py
  bc_obps/reporting/models/report.py
  bc_obps/reporting/models/reportingGasType.py
  bc_obps/reporting/models/reportingMethodology.py
  bc_obps/reporting/models/reportingSourceType.py
Due: pylint

chore: adding more models for configuration
  bc_obps/reporting/models/configuration.py
  bc_obps/reporting/models/configuration_element.py
Due: pylint

chore: adding sample configuration items
  bc_obps/reporting/migrations/0004_configurationelement_unique_per_config.py
  bc_obps/reporting/migrations/0005_sample_configuration_data.py
  bc_obps/reporting/migrations/data/configuration_data.py
  bc_obps/reporting/migrations/data/gas_type_data.py
  bc_obps/reporting/migrations/data/methodology_data.py
  bc_obps/reporting/models/configuration_element.py
Due: pylint

chore: adding configuration tables
  bc_obps/reporting/migrations/0003_configuration_configurationelement.py
  bc_obps/reporting/models/__init__.py
  bc_obps/reporting/models/configuration.py
  bc_obps/reporting/models/configuration_element.py
  erd_diagrams/erd_reporting.md
Due: pylint

feat: sample table data
  bc_obps/reporting/migrations/0004_sample_configuration_data.py
  bc_obps/reporting/migrations/data/gas_type_data.py
  bc_obps/reporting/migrations/data/methodology_data.py
  bc_obps/reporting/migrations/data/source_type_data.py
Due: pylint

test: check that newly created operations are visible
  bciers/apps/registration/e2e/poms/operations.ts
  bciers/apps/registration/e2e/utils/enums.ts
  bciers/apps/registration/e2e/workflows/bceidbusiness/industry_user_admin.spec.ts
Due: eslint

chore: debug CI
  bciers/apps/registration/e2e/poms/operations.ts
  bciers/apps/registration/e2e/workflows/bceidbusiness/industry_user_admin.spec.ts
Due: eslint

chore: debug CI
  bciers/apps/registration/e2e/poms/operations.ts
Due: eslint

fail: e2e report
  .github/workflows/test.yaml
  bciers/apps/registration/e2e/pages/onboarding/home/page.spec.ts
Due: eslint

chore: revert e2e queries env path
  bciers/apps/registration/e2e/utils/queries.ts
Due: eslint

chore: fix nx registration e2e
  bciers/.gitignore
  bciers/apps/registration/e2e/utils/pool.ts
  bciers/apps/registration/e2e/utils/queries.ts
  bciers/apps/registration/project.json
  bciers/package.json
Due: eslint

chore: fix assertion for submission confirmation message
  bciers/apps/registration/e2e/poms/operation.ts
Due: eslint

chore: remove attachments for CI
  bc_obps/registration/schema/operation.py
Due: pylint

chore: update commands to run playwright report
  bciers/apps/registration/project.json
  bciers/package.json
  docs/developer-guide.md
Due: none

chore: use github CI variable
  .github/actions/local-app-run/action.yml
  bc_obps/bc_obps/settings.py
  bc_obps/registration/schema/operation.py
  bciers/apps/registration/e2e/poms/operation.ts
Due: eslint, pylint

chore: cleanup
  bc_obps/registration/schema/operation.py
  bc_obps/test_media/documents/test.pdf
  bciers/apps/registration/e2e/poms/operation.ts
  bciers/apps/registration/e2e/poms/operations.ts
  bciers/apps/registration/tsconfig.json
Due: eslint, pylint

chore: apply suggestions from code review
  bc_obps/registration/schema/operation.py
  bc_obps/registration/tests/utils/helpers.py
  bc_obps/test_media/documents/test.pdf
  bciers/apps/registration/e2e/utils/enums.ts
Due: eslint, pylint

chore: release v1.5.2
  CHANGELOG.md
  bc_obps/common/migrations/0009_V1_5_2.py
  bc_obps/registration/migrations/0017_V1_5_2.py
  package.json
Due: pylint

docs: initial docs on handling parts 1 and 2
  docs/parts1and2.md
Due: none

chore: apply suggestions from code review
  docs/parts1and2.md
Due: none

docs: add docs for reg part 2 backend
  docs/registration_part_2/backend-structure.md
Due: none
