Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        language: system
        files: \.(j|t)sx?$|\.json$|\.md$|\.css$|\.scss$
        exclude: (\.next/|node_modules/|dist/|build/|coverage/|\.nx/cache/)
        entry: ./.bin/pre-commit-format.sh
      - id: eslint
        name: ESLint
        language: system
        files: \.(j|t)sx?$
        exclude: (\.next/|node_modules/|dist/|build/|coverage/|\.nx/cache/|tests/performance/)
        entry: ./.bin/pre-commit-lint.sh
      - id: mypy
        name: Mypy
        language: system
        types: [python]
        entry: ./.bin/pre-commit-mypy.sh

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-vcs-permalinks
      - id: check-yaml
        exclude: (^helm/.*/templates/)
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
      - id: black
        types: [python]
        args: ["--config", "bc_obps/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.6
    hooks:
      - id: ruff
        args: ["bc_obps/", "--fix"]

  - repo: https://github.com/python-poetry/poetry
    rev: 2.2.1
    hooks:
      - id: poetry-check
        args: ["-C", "./bc_obps"]
      - id: poetry-lock
        args: ["-C", "./bc_obps"]

  - repo: https://github.com/PyCQA/bandit
    rev: "1.9.2"
    hooks:
      - id: bandit
        additional_dependencies: [pbr]
        args: ["-c", "bc_obps/bandit.yaml"]

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.29.1
    hooks:
      - id: gitleaks

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.23.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]

chore: e2e update http mocks
  bc_obps/compliance/api/e2e_integration_stub/mocking/http_mocks.py
  bc_obps/compliance/api/e2e_integration_stub/scenarios/submit_report.py
  bciers/apps/compliance-e2e/poms/manage-obligation/obligation-invoice.ts
  bciers/apps/compliance-e2e/tests/workflows/manage-obligation/supplementary/decrease.spec.ts
  bciers/apps/compliance-e2e/utils/constants.ts
  bciers/libs/e2e/src/utils/constants.ts
Due: prettier, eslint, mypy

chore: e2e add supplementary obligation decrease
  bciers/apps/compliance-e2e/poms/compliance-setup.ts
  bciers/apps/compliance-e2e/poms/compliance-summaries.ts
  bciers/apps/compliance-e2e/poms/manage-obligation/review-compliance-obligation.ts
  bciers/apps/compliance-e2e/tests/workflows/manage-obligation/report-compliance-obligation.spec.ts
  bciers/apps/compliance-e2e/tests/workflows/manage-obligation/report-compliance/obligation.spec.ts
  bciers/apps/compliance-e2e/tests/workflows/manage-obligation/supplementary/decrease.spec.ts
  bciers/apps/compliance-e2e/tests/workflows/no-obligation/report-compliance/no-obligation-no-earned-credits.spec.ts
  bciers/apps/compliance-e2e/tests/workflows/request-issuance/report-compliance/earned-credits.spec.ts
  bciers/apps/compliance-e2e/utils/constants.ts
  bciers/apps/compliance-e2e/utils/enums.ts
  bciers/apps/reporting-e2e/poms/current-reports.ts
  bciers/apps/reporting-e2e/poms/report-setup.ts
  bciers/apps/reporting-e2e/utils/constants.ts
  bciers/apps/reporting-e2e/utils/enums.ts
  bciers/package.json
  bciers/yarn.lock
Due: prettier, eslint

chore: e2e add pdf-parse for obligation invoice
  bciers/apps/compliance-e2e/poms/manage-obligation/obligation-invoice.ts
  bciers/apps/compliance-e2e/tests/workflows/manage-obligation/supplementary/decrease.spec.ts
  bciers/libs/e2e/src/utils/helpers.ts
Due: prettier, eslint

chore: e2e update http mocks
  bc_obps/compliance/api/e2e_integration_stub/mocking/http_mocks.py
  bc_obps/compliance/api/e2e_integration_stub/scenarios/submit_report.py
  bciers/apps/compliance-e2e/poms/manage-obligation/obligation-invoice.ts
  bciers/apps/compliance-e2e/poms/manage-obligation/review-compliance-obligation.ts
  bciers/apps/compliance-e2e/tests/workflows/manage-obligation/supplementary/decrease.spec.ts
  bciers/apps/compliance-e2e/utils/constants.ts
  bciers/libs/e2e/src/utils/constants.ts
  bciers/libs/e2e/src/utils/helpers.ts
Due: prettier, eslint, mypy

chore: printing traceback when debug is True
  bc_obps/service/error_service/handle_exception.py
Due: mypy

test: updating env var in the test
  bc_obps/service/tests/test_handle_exception.py
Due: mypy

feat: adding new table to track overrides for naics regulatory values
  bc_obps/reporting/enums/enums.py
  bc_obps/reporting/migrations/0152_create_naics_regulatory_override_table.py
  bc_obps/reporting/migrations/0153_populate_naics_regulatory_override.py
  bc_obps/reporting/models/__init__.py
  bc_obps/reporting/models/naics_regulatory_override.py
  bc_obps/reporting/models/rls_configs/naics_regulatory_override.py
Due: mypy

chore: compliance summary has fields for regulatory values overrides
  bc_obps/registration/tests/models/test_naics_code.py
  bc_obps/registration/tests/models/test_regulated_product.py
  bc_obps/reporting/migrations/0154_compliance_summary_product_override_values.py
  bc_obps/reporting/models/report_compliance_summary_product.py
Due: mypy

chore: refactor compliance service to resolve the proper things
  bc_obps/reporting/service/compliance_service/_README.md
  bc_obps/reporting/service/compliance_service/__init__.py
  bc_obps/reporting/service/compliance_service/compliance_service.py
  bc_obps/reporting/service/compliance_service/industrial_process.py
  bc_obps/reporting/service/compliance_service/parameters.py
  bc_obps/reporting/service/compliance_service/regulatory_values.py
  bc_obps/reporting/tests/service/test_compliance_service/test_resolve_compliance_parameters.py
Due: prettier, mypy

chore: cleanup override data logic
  bc_obps/reporting/migrations/0153_create_naics_regulatory_override_table.py
  bc_obps/reporting/migrations/0154_populate_naics_regulatory_override.py
  bc_obps/reporting/migrations/0155_compliance_summary_product_override_values.py
  bc_obps/reporting/service/compliance_service/__init__.py
  bc_obps/reporting/service/compliance_service/compliance_service.py
  bc_obps/reporting/service/compliance_service/industrial_process.py
  bc_obps/reporting/service/compliance_service/parameters.py
  bc_obps/reporting/service/compliance_service/regulatory_values.py
Due: mypy

chore: refactor compliance service into pieces
  bc_obps/reporting/service/compliance_service/__init__.py
  bc_obps/reporting/service/compliance_service/compliance_service.py
  bc_obps/reporting/service/compliance_service/emission_allocation.py
  bc_obps/reporting/service/compliance_service/industrial_process.py
  bc_obps/reporting/service/compliance_service/parameters.py
  bc_obps/reporting/service/compliance_service/regulatory_values.py
  bc_obps/reporting/tests/service/test_compliance_service/test_compliance_service_class.py
  bc_obps/reporting/tests/service/test_compliance_service/test_compliance_service_static.py
  bc_obps/reporting/tests/service/test_compliance_service/test_emission_allocation.py
  bc_obps/reporting/tests/service/test_compliance_service/test_industrial_process.py
  bc_obps/reporting/tests/service/test_compliance_service/test_regulatory_values.py
  bc_obps/reporting/tests/service/test_compliance_service/test_resolve_compliance_parameters.py
  bc_obps/reporting/tests/service/test_compliance_service/~$compliance_class_manual_calcs.xlsx
  bc_obps/reporting/tests/utils/baker_recipes.py
Due: mypy

test: compliance excel
  bc_obps/reporting/migrations/0154_populate_naics_regulatory_override.py
  bc_obps/reporting/service/compliance_service/_README.md
  bc_obps/reporting/service/compliance_service/compliance_service.py
  bc_obps/reporting/service/compliance_service/industrial_process.py
  bc_obps/reporting/service/emission_category_service.py
  bc_obps/reporting/tests/service/test_compliance_service/compliance_class_manual_calcs.xlsx
  bc_obps/reporting/tests/service/test_compliance_service/infrastructure.py
  bc_obps/reporting/tests/service/test_compliance_service/test_compliance_service_class.py
  bc_obps/reporting/tests/service/test_compliance_service/~$compliance_class_manual_calcs.xlsx
Due: prettier, mypy

chore: tests for industrial process calculations
  bc_obps/reporting/migrations/0158_create_naics_regulatory_override_table.py
  bc_obps/reporting/migrations/0159_populate_naics_regulatory_override.py
  bc_obps/reporting/migrations/0160_compliance_summary_product_override_values.py
  bc_obps/reporting/schema/compliance_data.py
  bc_obps/reporting/service/compliance_service/compliance_service.py
  bc_obps/reporting/service/compliance_service/industrial_process.py
  bc_obps/reporting/tests/models/test_report_compliance_summary_product.py
  bc_obps/reporting/tests/service/test_compliance_service/test_industrial_process.py
Due: mypy

chore: industrial process emissions now fetches the biogenic split
  bc_obps/reporting/service/compliance_service/industrial_process.py
Due: mypy

tests: testing biogenic split from activity record
  bc_obps/reporting/schema/compliance_data.py
  bc_obps/reporting/schema/report_final_review.py
  bc_obps/reporting/service/compliance_service/industrial_process.py
  bc_obps/reporting/tests/schema/test_compliance_data_schema.py
  bc_obps/reporting/tests/service/test_compliance_service/infrastructure.py
  bc_obps/reporting/tests/service/test_compliance_service/test_industrial_process.py
Due: mypy

feat: replace hardcoded due date with compliance period's compliance_deadline through new endpoint
  bc_obps/compliance/api/__init__.py
  bc_obps/compliance/api/compliance_period.py
  bc_obps/compliance/schema/compliance_period.py
  bciers/apps/compliance/src/app/components/compliance-summaries/ComplianceSummariesPage.tsx
  bciers/apps/compliance/src/app/utils/constants.ts
  bciers/libs/actions/src/api/getCompliancePeriod.ts
  bciers/libs/actions/src/api/index.ts
Due: prettier, eslint, mypy

test: updated tests related to compliance_deadline on compliance summaries page
  bc_obps/common/tests/endpoints/auth/constants.py
  bc_obps/compliance/api/compliance_period.py
  bc_obps/compliance/schema/compliance_period.py
  bciers/apps/compliance/src/tests/components/compliance-summaries/ComplianceSummariesPage.test.tsx
  bciers/libs/actions/src/api/getCompliancePeriod.ts
Due: prettier, eslint, mypy

chore: use Intl months for more safety and maintainability
  bciers/apps/compliance/src/app/components/compliance-summaries/ComplianceSummariesPage.tsx
  bciers/apps/compliance/src/app/utils/constants.ts
Due: prettier, eslint

chore: add cronjob to check age of DB backups
  helm/migration-test/cas-obps-postgres-migration-test/templates/cronJobs/test-pgbackup-age.yaml
Due: none

chore: add dag task to trigger db age check
  dags/bc_obps_test_migrations.py
Due: mypy

refactor: simplify data fetched to ease parsing
  helm/migration-test/cas-obps-postgres-migration-test/templates/cronJobs/test-pgbackup-age.yaml
Due: none

chore: fixed bchghid generation logic
  bc_obps/registration/models/utils/generate_unique_bcghg_id_for_operation_or_facility.py
  bc_obps/registration/tests/endpoints/_facilities/_facility_id/test_facility_bcghg_id.py
  bc_obps/registration/tests/endpoints/_operations/_operation_id/test_bcghg_id.py
  bc_obps/registration/tests/models/utils/test_generate_unique_bcghg_id_for_operation_or_facility.py
Due: mypy

chore: add invoice_number field to compliance_obligation model
  bc_obps/compliance/migrations/0028_complianceobligation_add_invoice_number_and_populate.py
  bc_obps/compliance/models/compliance_obligation.py
Due: mypy

test: update tests to include create_fees() checks
  bc_obps/compliance/tests/service/elicensing/test_elicensing_obligation_service.py
Due: mypy

chore: add try-except for elicensing operations in process_obligation_integration
  bc_obps/compliance/service/elicensing/elicensing_obligation_service.py
Due: mypy

chore: do not create fees if obligation.invoice_number has been populated
  bc_obps/compliance/service/elicensing/elicensing_obligation_service.py
Due: mypy

chore: fix migrations after rebase
  bc_obps/compliance/migrations/0029_complianceobligation_add_invoice_number_and_populate.py
Due: mypy

test: update model test
  bc_obps/compliance/tests/models/test_compliance_obligation.py
Due: mypy

fix: populate obligation.invoice_number immediately on create_invoice() success
  bc_obps/compliance/service/elicensing/elicensing_obligation_service.py
Due: mypy

test: update tests for new functionality in process_obligation_integration
  bc_obps/compliance/tests/service/elicensing/test_elicensing_obligation_service.py
Due: mypy

test: add test for migration function that populates new field
  bc_obps/compliance/tests/migration/test_populate_obligation_invoice_number.py
Due: mypy

chore: only send emails if transaction is successful
  bc_obps/compliance/service/elicensing/elicensing_obligation_service.py
Due: mypy

test: update python tests to mock transaction commit after changes
  bc_obps/compliance/tests/service/elicensing/test_elicensing_obligation_service.py
Due: mypy

chore(deps): bump release-it version and add tagName prop
  package.json
  yarn.lock
Due: prettier

chore: add optional fields to our schemas for fields added to the test environment for poss8 prior to release
  bc_obps/compliance/service/elicensing/schema.py
Due: mypy

test: tweaks to the test helper
  bc_obps/compliance/tests/utils/compliance_test_helper.py
Due: mypy

test: refactor tests part 1
  bc_obps/compliance/tests/service/test_compliance_dashboard_service.py
Due: mypy

chore: pre-commit
  bc_obps/compliance/tests/service/test_compliance_dashboard_service.py
Due: mypy

test: finish refactoring test
  bc_obps/compliance/tests/service/test_compliance_dashboard_service.py
Due: mypy
