Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3 # Use the sha or tag you want to point at
    hooks:
      - id: prettier
        name: Prettier
        stages: [commit]

  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        language: system
        files: \.(j|t)sx?$
        entry: ./.bin/pre-commit-lint.sh
      - id: mypy
        name: Mypy
        language: system
        types: [python]
        entry: ./.bin/pre-commit-mypy.sh

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-vcs-permalinks
      - id: check-yaml
        exclude: (^helm/.*/templates/)
      - id: end-of-file-fixer
        exclude: (^erd_diagrams/)
      - id: trailing-whitespace
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        types: [python]
        args: ["--config", "bc_obps/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.2
    hooks:
      - id: ruff
        args: ["bc_obps/", "--fix"]

  - repo: https://github.com/python-poetry/poetry
    rev: 1.6.1
    hooks:
      - id: poetry-check
        args: ["-C", "./bc_obps"]
      - id: poetry-lock
        args: ["-C", "./bc_obps", "--check"] # --check to ensure lock file is up to date without updating it

  - repo: https://github.com/PyCQA/bandit
    rev: "1.7.5"
    hooks:
      - id: bandit
        args: ["-c", "bc_obps/bandit.yaml"]

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.2.5
    hooks:
      - id: gitleaks

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.16.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]

chore: remove healthcheck
  bc_obps/compliance/api/__init__.py
  bc_obps/compliance/api/health.py
Due: mypy

chore: apply some feedback
  bc_obps/compliance/fixtures/mock/compliance_obligations.json
  bc_obps/compliance/migrations/0003_remove_complianceobligation_amount_and_more.py
  bc_obps/compliance/models/compliance_obligation.py
  bc_obps/compliance/schema/compliance_summary.py
  bc_obps/compliance/service/compliance_service.py
  bc_obps/compliance/tests/api/test_compliance_summary.py
  bc_obps/compliance/tests/service/test_compliance_service.py
Due: mypy

chore: move get_compliance_summary_by_id tp service
  bc_obps/compliance/api/compliance_summary.py
  bc_obps/compliance/service/compliance_dashboard_service.py
Due: mypy

chore: break down compliance service
  bc_obps/compliance/migrations/0004_remove_compliancesummary_compliance_status_and_more.py
  bc_obps/compliance/models/compliance_obligation.py
  bc_obps/compliance/models/compliance_period.py
  bc_obps/compliance/service/compliance_obligation_service.py
  bc_obps/compliance/service/compliance_period_service.py
  bc_obps/compliance/service/compliance_service.py
  bc_obps/compliance/service/compliance_summary_service.py
  bc_obps/compliance/tests/service/test_compliance_summary_service.py
  bc_obps/reporting/service/report_submission_service.py
Due: mypy

chore: update obligation status
  bc_obps/compliance/models/compliance_obligation.py
  bc_obps/compliance/models/compliance_summary.py
  bc_obps/compliance/service/compliance_service.py
  bc_obps/compliance/tests/api/test_compliance_summary.py
  bc_obps/compliance/tests/service/test_compliance_service.py
Due: mypy

chore: replace compliance status with a synamic property
  bc_obps/compliance/models/compliance_obligation.py
  bc_obps/compliance/models/compliance_summary.py
Due: mypy

chore: fix tests
  bc_obps/compliance/tests/api/test_compliance_summary.py
  bc_obps/compliance/tests/utils/__init__.py
  bc_obps/compliance/tests/utils/baker_recipes.py
  docker-compose.yaml
Due: mypy

chore: create compliance period seeding
  bc_obps/compliance/fixtures/README.md
  bc_obps/compliance/migrations/0002_seed_compliance_periods.py
  bc_obps/compliance/models/compliance_period.py
  bc_obps/compliance/service/compliance_period_service.py
  bc_obps/compliance/service/compliance_summary_service.py
Due: mypy

chore: fix fixtures
  bc_obps/compliance/fixtures/mock/compliance_obligations.json
  bc_obps/compliance/fixtures/mock/compliance_periods.json
  bc_obps/compliance/fixtures/mock/compliance_summaries.json
Due: none

chore: improve comp summaries query
  bc_obps/compliance/migrations/0001_initial.py
  bc_obps/compliance/migrations/0002_complianceobligation_penalty_status_and_more.py
  bc_obps/compliance/migrations/0003_remove_complianceobligation_amount_and_more.py
  bc_obps/compliance/migrations/0004_remove_compliancesummary_compliance_status_and_more.py
  bc_obps/compliance/service/compliance_dashboard_service.py
Due: mypy

chore: added events app that uses signal
  bc_obps/bc_obps/settings.py
  bc_obps/common/apps.py
  bc_obps/common/signals.py
  bc_obps/compliance/service/compliance_summary_service.py
  bc_obps/compliance/signals.py
  bc_obps/events/README.md
  bc_obps/events/__init__.py
  bc_obps/events/admin.py
  bc_obps/events/apps.py
  bc_obps/events/migrations/__init__.py
  bc_obps/events/models.py
  bc_obps/events/signals.py
  bc_obps/events/tests.py
  bc_obps/events/views.py
  bc_obps/reporting/service/report_submission_service.py
Due: mypy

chore: post is complete
  bc_obps/registration/api/v2/_operations/_operation_id/_registration/operation.py
  bc_obps/registration/api/v2/_operations/operation_id.py
  bc_obps/registration/schema/v2/operation.py
  bc_obps/service/document_service_v2.py
  bc_obps/service/operation_service_v2.py
  bciers/apps/registration/app/components/operations/registration/OperationInformationForm.tsx
  bciers/libs/components/src/form/widgets/readOnly/ReadOnlyFileWidget.tsx
Due: eslint, mypy

chore: parse artifacts
  .github/workflows/zap-owasp.yaml
Due: none

chore: main action
  .github/workflows/main.yaml
  .github/workflows/zap-owasp.yaml
Due: none

chore: jq args
  .github/workflows/main.yaml
  .github/workflows/zap-owasp.yaml
Due: none

chore: wait
  .github/workflows/zap-owasp.yaml
Due: none

zap-owasp.yaml changes
  .github/workflows/main.yaml
  .github/workflows/zap-owasp.yaml
  bciers/docker-compose-bciers-apps.yaml
Due: none

chore: log
  .github/workflows/zap-owasp.yaml
Due: none

chore: update unit field names
  bc_obps/reporting/migrations/0008_prod_data.py
  bc_obps/reporting/migrations/0009_general_stationary_combustion_data.py
  bc_obps/reporting/migrations/0010_combustion_for_line_tracing_data.py
  bc_obps/reporting/migrations/0011_mobile_combustion_data.py
  bc_obps/reporting/migrations/0012_gsc_other_than_non_compression.py
  bc_obps/reporting/migrations/0013_refinery_fuel_gas_data.py
  bc_obps/reporting/migrations/0015_gsc_non_compression_non_processing.py
  bc_obps/reporting/migrations/0061_electricity_generation.py
Due: mypy

chore: make put endpoint work
  bc_obps/registration/api/v2/_operations/_operation_id/_registration/operation.py
  bc_obps/registration/schema/v2/operation.py
  bc_obps/service/document_service_v2.py
  bciers/apps/registration/app/components/operations/registration/OperationInformationForm.tsx
Due: eslint, mypy

chore: precommit
  bc_obps/common/signals.py
  bc_obps/compliance/api/compliance_summary.py
  bc_obps/compliance/apps.py
  bc_obps/compliance/fixtures/README.md
  bc_obps/compliance/migrations/0002_seed_compliance_periods.py
  bc_obps/compliance/models/compliance_obligation.py
  bc_obps/compliance/models/compliance_period.py
  bc_obps/compliance/models/compliance_summary.py
  bc_obps/compliance/service/compliance_dashboard_service.py
  bc_obps/compliance/service/compliance_obligation_service.py
  bc_obps/compliance/service/compliance_period_service.py
  bc_obps/compliance/service/compliance_summary_service.py
  bc_obps/compliance/signals.py
  bc_obps/compliance/tests/api/test_compliance_summary.py
  bc_obps/compliance/tests/service/test_compliance_summary_service.py
  bc_obps/compliance/tests/utils/__init__.py
  bc_obps/compliance/tests/utils/baker_recipes.py
  bc_obps/events/README.md
  bc_obps/events/admin.py
  bc_obps/events/apps.py
  bc_obps/events/models.py
  bc_obps/events/signals.py
  bc_obps/events/tests.py
  bc_obps/events/views.py
  bc_obps/reporting/service/report_submission_service.py
  bciers/apps/compliance/src/app/components/compliance-summaries/ComplianceSummaries.tsx
  bciers/apps/compliance/src/app/components/compliance-summaries/fetchComplianceSummariesPageData.ts
Due: eslint, mypy

chore: update fuel units CH4 N2O
  bc_obps/reporting/migrations/0008_prod_data.py
  bc_obps/reporting/migrations/0009_general_stationary_combustion_data.py
  bc_obps/reporting/migrations/0010_combustion_for_line_tracing_data.py
  bc_obps/reporting/migrations/0011_mobile_combustion_data.py
  bc_obps/reporting/migrations/0012_gsc_other_than_non_compression.py
  bc_obps/reporting/migrations/0013_refinery_fuel_gas_data.py
  bc_obps/reporting/migrations/0015_gsc_non_compression_non_processing.py
  bc_obps/reporting/migrations/0061_electricity_generation.py
Due: mypy

chore: enhance success message with detailed reporting requirements
  bciers/apps/registration/app/components/operations/registration/Success.tsx
Due: eslint

chore: link href formatting tweaks
  bciers/apps/administration/app/components/contacts/ContactsPage.tsx
  bciers/apps/registration/app/components/transfers/TransfersDataGridPage.tsx
Due: eslint

chore: update submission messages and improve layout in success component
  bciers/apps/registration/app/components/operations/registration/Success.tsx
  bciers/apps/registration/tests/components/operations/registration/RegistrationSubmissionForm.test.tsx
Due: eslint

chore: refactor report event link to use a constant from utils
  bciers/apps/administration/app/components/transfers/ExternalTransferPage.tsx
  bciers/libs/utils/src/urls.ts
Due: eslint

chore: make pre-commit happy
  bciers/apps/administration/app/components/transfers/ExternalTransferPage.tsx
  bciers/apps/registration/app/components/operations/registration/Success.tsx
  bciers/apps/registration/tests/components/operations/registration/RegistrationSubmissionForm.test.tsx
  bciers/libs/utils/src/urls.ts
Due: eslint

chore: release v1.23.0
  CHANGELOG.md
  bc_obps/common/migrations/0036_V1_23_0.py
  bc_obps/registration/migrations/0079_V1_23_0.py
  package.json
Due: mypy
