Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy

eslint:
  name: ESLint
  language: system
  entry: ./.bin/pre-commit-lint.sh

mypy:
  name: Mypy
  language: system
  entry: ./.bin/pre-commit-mypy.sh

test: move missing rep test from page to form
  bciers/apps/administration/app/components/operations/types.ts
  bciers/apps/administration/tests/components/operations/OperationInformationForm.test.tsx
  bciers/apps/administration/tests/components/operations/OperationInformationPage.test.tsx
Due: eslint

feat: consider both payments and adjustments when determining final penalty accrual end date
  bc_obps/compliance/service/penalty_calculation_service.py
  bc_obps/compliance/tests/service/test_penalty_calculation_service.py
Due: mypy

chore: release v4.1.0
  CHANGELOG.md
  bc_obps/common/migrations/0087_V4_1_0.py
  bc_obps/compliance/migrations/0007_V4_1_0.py
  bc_obps/registration/migrations/0141_V4_1_0.py
  bc_obps/reporting/migrations/0134_V4_1_0.py
  bc_obps/rls/migrations/0032_V4_1_0.py
  bc_obps/task_scheduler/migrations/0004_V4_1_0.py
  package.json
Due: mypy

docs: update docs
  docs/devops/release.md
Due: none

chore: only release migration-test charts
  .github/workflows/release-charts.yaml
Due: none

test: pytests for decreased credit handler
  bc_obps/compliance/tests/service/test_supplementary_version_service.py
Due: mypy

feat: DecreasedCreditHandler can handle all statuses except approved
  bc_obps/compliance/service/supplementary_version_service.py
Due: mypy

fix: drop vestigial param
  dags/bc_obps_test_migrations.py
Due: mypy

fix: incorrect secret path for credentials
  helm/migration-test/cas-obps-postgres-migration-test/templates/postgres-cluster.yaml
Due: none

fix: inccorect chart repository
  dags/bc_obps_test_migrations.py
Due: mypy

fix: user airflow SA
  helm/migration-test/cas-obps-backend-migration-test/templates/cronJobs/test-backend-migrations.yaml
  helm/migration-test/cas-obps-backend-migration-test/templates/cronJobs/wait-for-backend.yaml
  helm/migration-test/cas-obps-postgres-migration-test/templates/cronJobs/test-postgres-migrations.yaml
  helm/migration-test/cas-obps-postgres-migration-test/templates/cronJobs/wait-for-postgres-restore.yaml
Due: none

fix: acocmodate airflow 2 and 3 providers
  dags/bc_obps_test_migrations.py
Due: mypy

chore: bump versions
  .github/workflows/release-charts.yaml
  helm/migration-test/cas-obps-backend-migration-test/Chart.yaml
  helm/migration-test/cas-obps-postgres-migration-test/Chart.yaml
Due: none

Update index.yaml
  index.yaml
Due: none

chore: update DecreasedObligationHandler
  bc_obps/compliance/service/supplementary_version_service.py
  bc_obps/compliance/tests/service/test_supplementary_version_service.py
Due: mypy

chore: in progress. Added function to get_all_reports_for_operator to ReportDataAccessService
  bc_obps/service/data_access_service/report_service.py
Due: mypy

chore: added filter on reports to only fetch reports submitted by correct operator, but new operator still sees duplicated operations and can't create a new report
  bc_obps/reporting/service/reporting_dashboard_service.py
Due: mypy

chore: fixed duplication error
  bc_obps/reporting/service/reporting_dashboard_service.py
Due: mypy

chore: rough draft of modal with error when new operator tries to create report for operation that already has one from old operator
  bciers/apps/reporting/src/app/components/operations/cells/ActionCell.tsx
Due: eslint

chore: refactored some pytests and get_all_previously_owned_operations_for_operator. Need to investigate failing tests
  bc_obps/reporting/service/reporting_dashboard_service.py
  bc_obps/reporting/tests/service/test_reporting_dashboard_service.py
  bc_obps/service/data_access_service/operation_service.py
Due: mypy

chore: updated error message in modal and removed unnecessary button
  bciers/apps/reporting/src/app/components/operations/cells/ActionCell.tsx
Due: eslint

chore: partially fixed failing python tests. But still have failures
  bc_obps/reporting/tests/service/test_reporting_dashboard_service.py
  bc_obps/service/data_access_service/operation_service.py
Due: mypy

chore: removed breakpoint. All pytests passing locally
  bc_obps/reporting/service/reporting_dashboard_service.py
  bc_obps/reporting/tests/service/test_reporting_dashboard_service.py
Due: mypy

chore: partially fixed failing python tests. But still have failures
  bc_obps/reporting/tests/service/test_reporting_dashboard_service.py
Due: mypy

chore: trying to make mypy happy but thats an impossible task
  bc_obps/reporting/service/reporting_dashboard_service.py
Due: mypy

chore: achieved desired behaviour in-app
  bc_obps/reporting/service/reporting_dashboard_service.py
Due: mypy

chore: coalesced some things in this PR with recently-merged Previous Years Reports PR
  bc_obps/reporting/service/reporting_dashboard_service.py
  bc_obps/service/data_access_service/operation_service.py
Due: mypy

chore: cleaned up some code and fixed failing unit test
  bc_obps/reporting/service/reporting_dashboard_service.py
Due: mypy

chore: fixed 2 failing pytests (due to poor conflict resolution). One more still failing due to changed code; new pytests still needed
  bc_obps/reporting/tests/service/test_reporting_dashboard_service.py
Due: mypy

chore: reverting previous change that still didn't make mypy happy
  bc_obps/reporting/service/reporting_dashboard_service.py
Due: mypy

chore: fixed some mypy complaints
  bc_obps/reporting/service/reporting_dashboard_service.py
Due: mypy

chore: linting changes and making mypy happy
  bc_obps/reporting/service/reporting_dashboard_service.py
  bc_obps/service/data_access_service/operation_service.py
Due: mypy

chore: fixed issues in test setup that were causing test_report_retrieval_after_transfer to fail
  bc_obps/registration/tests/utils/baker_recipes.py
  bc_obps/reporting/tests/service/test_reporting_dashboard_service.py
  bc_obps/service/data_access_service/operation_service.py
Due: mypy

chore: fixed filtering error (unneeded filter by operator id). Also reorganized one API file
  bc_obps/reporting/api/report_operation.py
  bc_obps/reporting/service/reporting_dashboard_service.py
Due: mypy

chore: fixed my confusion between report_id and report version ids
  bc_obps/reporting/tests/service/test_reporting_dashboard_service.py
Due: mypy

chore: remove modal
  bciers/apps/reporting/src/app/components/operations/cells/ActionCell.tsx
Due: eslint

chore: services to fetch operations owned in the current reporting year
  bc_obps/reporting/service/reporting_dashboard_service.py
  bc_obps/service/data_access_service/operation_designated_operator_timeline_service.py
  bc_obps/service/data_access_service/operation_service.py
Due: mypy

test: pytest services to retrieve operations for current reporting year
  bc_obps/reporting/tests/api/test_reporting_dashboard_endpoints.py
  bc_obps/reporting/tests/service/test_reporting_dashboard_service.py
  bc_obps/service/tests/data_access_service/test_data_access_operation_designated_operator_timeline.py
Due: mypy

Path conditions:
  eslint: any of: \.(j|t)sx?$
  mypy: any of: \.py$
