Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3 # Use the sha or tag you want to point at
    hooks:
      - id: prettier
        name: Prettier
        stages: [commit]

  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        language: system
        files: \.(j|t)sx?$
        entry: ./.bin/pre-commit-lint.sh
      - id: mypy
        name: Mypy
        language: system
        types: [python]
        entry: ./.bin/pre-commit-mypy.sh

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-vcs-permalinks
      - id: check-yaml
        exclude: (^helm/.*/templates/)
      - id: end-of-file-fixer
        exclude: (^erd_diagrams/)
      - id: trailing-whitespace
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        types: [python]
        args: ["--config", "bc_obps/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.2
    hooks:
      - id: ruff
        args: ["bc_obps/", "--fix"]

  - repo: https://github.com/python-poetry/poetry
    rev: 1.6.1
    hooks:
      - id: poetry-check
        args: ["-C", "./bc_obps"]
      - id: poetry-lock
        args: ["-C", "./bc_obps", "--check"] # --check to ensure lock file is up to date without updating it

  - repo: https://github.com/PyCQA/bandit
    rev: "1.7.5"
    hooks:
      - id: bandit
        args: ["-c", "bc_obps/bandit.yaml"]

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.2.5
    hooks:
      - id: gitleaks

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.16.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]

chore: add airflow-worker from airflow namespace to role binding
  Makefile
  helm/cas-bciers/templates/serviceAccount/airflow-job-status.yaml
  helm/cas-bciers/values.yaml
Due: none

fix: get the first ec record to handle cases with no existing records
  bc_obps/compliance/service/supplementary_version_service.py
Due: mypy

chore: added requested changes and more fixes
  bc_obps/reporting/service/report_review_changes_service.py
  bciers/apps/reporting/src/app/components/changeReview/components/ActivityRenderer.tsx
  bciers/apps/reporting/src/app/components/changeReview/templates/EmissionAllocationChangeView.tsx
  bciers/apps/reporting/src/app/components/changeReview/templates/ReviewChanges.tsx
  bciers/apps/reporting/src/app/components/changeReview/templates/facilityReportParser.ts
  bciers/apps/reporting/src/app/components/changeReview/utils/sourceTypeUtils.ts
Due: eslint, mypy

chore: added changes
  bciers/apps/reporting/src/app/components/changeReview/templates/ActivityDataChangeView.tsx
  bciers/apps/reporting/src/app/components/changeReview/utils/utils.ts
  nx.json
Due: eslint

chore: fix last failing test
  bc_obps/compliance/tests/models/test_compliance_obligation.py
Due: mypy

chore: added reporting year on dashboard
  bciers/apps/dashboard/app/dashboard/page.tsx
  bciers/apps/dashboard/tests/routes/dashboard/page.test.tsx
  bciers/apps/reporting/src/app/components/operations/ReportsBasePage.tsx
  bciers/apps/reporting/src/app/utils/getReportingYear.ts
  bciers/apps/reporting/src/tests/components/operations/ReportsBasePage.test.tsx
  bciers/libs/components/src/reporting/ReportingYearHeader.test.tsx
  bciers/libs/components/src/reporting/ReportingYearHeader.tsx
Due: eslint

chore: replace ORM update and delete methods with raw SQL queries in compliance test files
  bc_obps/compliance/tests/models/test_compliance_earned_credit.py
  bc_obps/compliance/tests/models/test_compliance_obligation.py
  bc_obps/compliance/tests/models/test_compliance_report.py
  bc_obps/compliance/tests/models/test_compliance_report_version.py
  bc_obps/compliance/tests/models/test_elicensing_adjustment.py
  bc_obps/compliance/tests/models/test_elicensing_client_operator.py
  bc_obps/compliance/tests/models/test_elicensing_invoice.py
  bc_obps/compliance/tests/models/test_elicensing_line_item.py
  bc_obps/compliance/tests/models/test_elicensing_payment.py
Due: mypy

chore: fix sonar qube errors
  bciers/apps/reporting/src/app/components/changeReview/templates/facilityReportParser.ts
  bciers/apps/reporting/src/app/components/changeReview/utils/sourceTypeUtils.ts
Due: eslint

fix: bypass rls during invoice refresh process
  bc_obps/compliance/service/elicensing/elicensing_data_refresh_service.py
  bc_obps/rls/utils/manager.py
Due: mypy

chore: update role grants for industry user to only allow SELECT operation
  bc_obps/compliance/models/rls_configs/elicensing_adjustment.py
  bc_obps/compliance/models/rls_configs/elicensing_invoice.py
  bc_obps/compliance/models/rls_configs/elicensing_line_item.py
  bc_obps/compliance/models/rls_configs/elicensing_payment.py
Due: mypy

test: mock RLS bypass in elicensing data refresh tests
  bc_obps/compliance/tests/service/elicensing/test_elicensing_data_refresh_service.py
Due: mypy

test: add unit test for bypass_rls context manager
  bc_obps/rls/tests/utils/test_manager.py
Due: mypy

docs: update hotfix document
  docs/devops/hotfix.md
Due: none

chore: bump google-auth package version
  bc_obps/poetry.lock
Due: none

chore: update package dependencies in `poetry.lock` file and resolve brotli CVE
  bc_obps/poetry.lock
  bc_obps/pyproject.toml
Due: none

chore: make mypy happy
  bc_obps/registration/utils.py
  bc_obps/service/form_builder_service.py
  bc_obps/service/report_version_service.py
Due: mypy

chore: force nx-affected condition to always return true so we can run e2e tests
  .github/workflows/main.yaml
Due: none

chore: revert previous commit
  .github/workflows/main.yaml
Due: none

fix: update obligation management link visibility based on penalty status
  bciers/apps/compliance/src/app/components/compliance-summaries/cells/ActionCell.tsx
  bciers/apps/compliance/src/tests/components/compliance-summaries/cells/ActionCell.test.tsx
Due: eslint

chore: Remove Plan to make payment line on payment download instructions page
  bc_obps/compliance/templates/payment_instructions.html
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/download-payment-instructions/PaymentInstructionsDownloadSections.tsx
Due: eslint

chore: add manual handling for crv edge cases
  bc_obps/compliance/migrations/0011_compliancereportversion_requires_manual_handling.py
  bc_obps/compliance/models/compliance_report_version.py
  bc_obps/compliance/schema/compliance_report_version.py
  bc_obps/compliance/service/compliance_dashboard_service.py
  bc_obps/compliance/tests/models/test_compliance_report_version.py
  bciers/apps/compliance/src/app/components/compliance-summaries/ComplianceSummariesDataGrid.tsx
  bciers/apps/compliance/src/app/components/compliance-summaries/cells/ActionCell.tsx
  bciers/apps/compliance/src/app/types.ts
  bciers/apps/compliance/src/middlewares/withRuleHasComplianceRouteAccessBCeID.test.ts
  bciers/apps/compliance/src/middlewares/withRuleHasComplianceRouteAccessBCeID.ts
  bciers/apps/compliance/src/tests/components/compliance-summaries/ComplianceSummariesDataGrid.test.tsx
  bciers/libs/components/src/datagrid/DataGrid.tsx
Due: eslint, mypy

chore: update tests
  bc_obps/compliance/dataclass.py
  bc_obps/compliance/models/compliance_report_version.py
  bc_obps/compliance/schema/compliance_report_version.py
  bc_obps/compliance/service/compliance_dashboard_service.py
  bc_obps/compliance/service/supplementary_version_service.py
  bc_obps/compliance/tests/service/test_supplementary_version_service.py
  bciers/apps/compliance/src/middlewares/withRuleHasComplianceRouteAccessBCeID.ts
  bciers/apps/compliance/src/tests/components/compliance-summaries/ComplianceSummariesDataGrid.test.tsx
Due: eslint, mypy

chore: cleanup
  bciers/apps/compliance/src/app/components/compliance-summaries/cells/ActionCell.tsx
  bciers/apps/compliance/src/tests/components/compliance-summaries/cells/ActionCell.test.tsx
Due: eslint

chore: send credit requested email only when external users request it
  bc_obps/compliance/service/earned_credits_service.py
Due: mypy

fix: add cc_ghg_regulator parameter to _send_email_or_raise function for email notifications
  bc_obps/compliance/emails.py
Due: mypy

test: enhance email notification tests for compliance earned credits service
  bc_obps/compliance/tests/service/test_compliance_earned_credits_service.py
  bc_obps/compliance/tests/test_emails.py
Due: mypy

refactor: update email CC logic to conditionally include GHG regulator based on recipients
  bc_obps/service/email/email_service.py
Due: mypy

test: update email service tests to validate CC logic based on environment and recipient status
  bc_obps/common/tests/test_email_service.py
Due: mypy

chore: add field_display_title to reporting_field
  bc_obps/reporting/migrations/0138_reportingfield_field_display_title.py
  bc_obps/reporting/models/reporting_field.py
  bc_obps/reporting/tests/models/test_reporting_field.py
Due: mypy

chore: form builder to use field_display_title
  bc_obps/service/form_builder_service.py
Due: mypy

feat: add emission allocation validation on submit
  bc_obps/reporting/service/report_validation/validators/__init__.py
  bc_obps/reporting/service/report_validation/validators/report_emission_allocation_validator.py
Due: mypy

test: add allocation validation to validators test
  bc_obps/reporting/tests/service/report_validation/test_report_validation_service.py
Due: mypy

test: emission allocation validation tests
  bc_obps/reporting/service/report_validation/validators/report_emission_allocation_validator.py
  bc_obps/reporting/tests/service/report_validation/validators/test_report_emission_allocation_validator.py
Due: mypy

chore: remove todo comment. todone
  bc_obps/reporting/service/report_emission_allocation_service.py
Due: mypy

chore: do not validate allocations when methodology is N/A
  bc_obps/reporting/service/report_validation/validators/report_emission_allocation_validator.py
Due: mypy

chore: update mismatch error for readability
  bc_obps/reporting/service/report_validation/validators/report_emission_allocation_validator.py
  bc_obps/reporting/tests/service/report_validation/validators/test_report_emission_allocation_validator.py
  bciers/apps/reporting/src/app/utils/reportValidationMessages.ts
Due: eslint, mypy

chore: fixed field width
  bciers/apps/reporting/src/app/components/changeReview/ChangeReviewForm.tsx
  bciers/apps/reporting/src/app/components/changeReview/templates/ReasonForChange.tsx
  bciers/apps/reporting/src/app/components/changeReview/templates/ReviewChanges.tsx
  bciers/apps/reporting/src/app/components/finalReview/templates/FieldDisplay.tsx
  bciers/apps/reporting/src/app/components/finalReview/templates/SectionReview.tsx
Due: eslint

chore: removed log
  bciers/apps/reporting/src/app/components/changeReview/ChangeReviewForm.tsx
Due: eslint

chore: add supplementary_declined flag to compliance earned credit data model for EC request deleted alert due to sup report created
  bc_obps/compliance/migrations/0009_complianceearnedcredit_supplementary_declined_and_more.py
  bc_obps/compliance/models/compliance_earned_credit.py
  bc_obps/compliance/schema/compliance_earned_credits.py
  bc_obps/compliance/service/supplementary_version_service.py
  bc_obps/compliance/tests/api/_compliance_report_versions/_compliance_report_version_id/test_earned_credits.py
  bc_obps/compliance/tests/models/test_compliance_earned_credit.py
Due: mypy
