Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, pylint

eslint:
  name: ESLint
  language: system
  entry: ./.bin/pre-commit-lint.sh

pylint:
  name: pylint
  entry: bash -c "cd bc_obps && poetry run pylint --rcfile=.pylintrc *.py"
  language: system
  require_serial: true

chore: add data test id and fix aria label names
  client/app/components/button/RequestChanges.tsx
  client/app/components/modal/Modal.tsx
  client/app/components/routes/operations/form/Operation.tsx
Due: eslint

test: cas_admin tests operations tile
  client/e2e/poms/dashboard.ts
  client/e2e/poms/operations.ts
  client/e2e/workflows/idir/cas_admin.spec.ts
Due: eslint

chore: add a mock file for e2e testing purposes
  bc_obps/registration/fixtures/mock/mock_file.pdf
  bc_obps/registration/schema/operation.py
  bc_obps/registration/tests/test_utils.py
Due: pylint

chore: check if industry user fails CI too
  client/e2e/workflows/bceidbusiness/industry_user_admin.spec.ts
Due: eslint

test: add e2e test helper util
  client/e2e/utils/helpers.ts
Due: eslint

refactor: add more generic functions to pom and more refactor
  client/e2e/poms/operations.ts
  client/e2e/utils/enums.ts
  client/e2e/utils/helpers.ts
  client/e2e/workflows/idir/cas_admin.spec.ts
Due: eslint

chore: update fixtures based on previous pull request and update tests
  bc_obps/registration/fixtures/mock/user_operator.json
  client/e2e/workflows/idir/cas_admin.spec.ts
Due: eslint

chore: spec work
  bc_obps/registration/middleware/current_user_middleware.py
Due: pylint

test: just checking for visibility of statuses not their order
  client/e2e/poms/operations.ts
  client/e2e/poms/operators.ts
  client/e2e/workflows/idir/cas_admin.spec.ts
Due: eslint

test: add operators and operations workflow e2e tests for cas_admin
  client/e2e/poms/dashboard.ts
  client/e2e/poms/operations.ts
  client/e2e/poms/operators.ts
  client/e2e/utils/enums.ts
  client/e2e/utils/helpers.ts
  client/e2e/workflows/idir/cas_admin.spec.ts
Due: eslint

chore: using correct data model to get the status
  bc_obps/registration/api/user_operator.py
Due: pylint

chore: add more fixtures for e2e testing purposes
  bc_obps/registration/fixtures/mock/operator.json
  bc_obps/registration/fixtures/mock/user.json
  bc_obps/registration/fixtures/mock/user_operator.json
Due: none

chore: update fixtures and tests
  bc_obps/registration/fixtures/mock/user_operator.json
  client/e2e/workflows/idir/cas_admin.spec.ts
Due: eslint

chore: resolve mock file when env is develop
  bc_obps/registration/schema/operation.py
Due: pylint

chore: add `API` request to set up test data before running tests
  client/e2e/workflows/idir/cas_admin.spec.ts
Due: eslint

chore: fix user fixture file
  bc_obps/registration/fixtures/mock/user.json
Due: none

chore: revert previous commit
  client/e2e/utils/enums.ts
  client/e2e/utils/queries.ts
Due: eslint

chore: just to keep a log of useful utils
  client/e2e/utils/enums.ts
  client/e2e/utils/queries.ts
Due: eslint

chore: rename and fix truncate table command
  bc_obps/Makefile
  bc_obps/registration/management/commands/truncate_all_tables.py
Due: pylint

chore: use built-in django command and add fixture ordering
  bc_obps/Makefile
Due: none

chore: temp fix for sonar cloud issue
  bc_obps/registration/management/commands/truncate_dev_data_tables.py
Due: pylint

chore: move test setup endpoint to a dedicated folder
  bc_obps/registration/api/__init__.py
  bc_obps/registration/api/api_base.py
  bc_obps/registration/api/e2e_test_setup.py
  bc_obps/registration/management/commands/load_fixtures.py
Due: pylint

chore: bring back fade component and and wait to resolve failing test
  client/app/components/routes/operations/form/Operation.tsx
  client/e2e/workflows/idir/cas_admin.spec.ts
Due: eslint

chore: suppress all sonar cloud warning on a specific file temp
  bc_obps/registration/management/commands/truncate_dev_data_tables.py
Due: pylint

chore: add workflow query param to test setup endpoint
  bc_obps/Makefile
  bc_obps/registration/api/api_base.py
  bc_obps/registration/management/commands/load_fixtures.py
  client/e2e/workflows/idir/cas_admin.spec.ts
Due: eslint, pylint

chore: remove problematic fade component for e2e tests
  client/app/components/routes/operations/form/Operation.tsx
Due: eslint

chore: truncate tables to avoid dependency conflicts
  client/e2e/pages/onboarding/home/page.spec.ts
Due: eslint

test: add helper function to setup e2e test env
  client/e2e/utils/helpers.ts
  client/e2e/workflows/idir/cas_admin.spec.ts
Due: eslint

chore: spec work
  client/e2e/workflows/idir/cas_admin.spec.ts
Due: eslint

chore: add timeout to fix flaky test
  client/e2e/workflows/idir/cas_admin.spec.ts
Due: eslint

chore: refactor truncate command to bypass sonar cloud issues
  bc_obps/registration/management/commands/truncate_dev_data_tables.py
Due: pylint

chore: more refactor to make sonar cloud happy
  bc_obps/registration/management/commands/truncate_dev_data_tables.py
Due: pylint

chore: spec work
  client/app/components/routes/operations/form/Operation.tsx
  client/e2e/poms/operations.ts
  client/e2e/utils/enums.ts
  client/e2e/workflows/idir/cas_admin.spec.ts
Due: eslint

chore: move the flaky assertion down to give it a bit more time
  client/e2e/workflows/idir/cas_admin.spec.ts
Due: eslint

chore: more spec work
  client/e2e/workflows/idir/cas_admin.spec.ts
Due: eslint

chore: again spec work
  client/app/components/routes/operations/form/Operation.tsx
  client/e2e/utils/enums.ts
  client/e2e/workflows/idir/cas_admin.spec.ts
Due: eslint

chore: yet spec work
  client/e2e/poms/operations.ts
  client/e2e/workflows/idir/cas_admin.spec.ts
Due: eslint

chore: and more spec work
  client/app/components/routes/operations/form/Operation.tsx
Due: eslint

Path conditions:
  eslint: any of: \.(j|t)sx?$
  pylint: any of: \.py$
