Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy

eslint:
  name: ESLint
  language: system
  entry: ./.bin/pre-commit-lint.sh

mypy:
  name: Mypy
  language: system
  entry: ./.bin/pre-commit-mypy.sh

chore: in progress. Confused
  bciers/apps/administration/app/components/operations/OperationInformationForm.tsx
Due: eslint

chore: in progress
  bciers/apps/administration/app/components/operations/OperationInformationForm.tsx
  bciers/apps/registration/app/components/operations/registration/OperationInformationForm.tsx
Due: eslint

chore:added filtering only registered operations
  bc_obps/reporting/service/reporting_dashboard_service.py
  bc_obps/reporting/tests/service/test_reporting_dashboard_service.py
Due: mypy

chore: remove documents and contacts m2m relationships
  bc_obps/registration/migrations/0070_remove_historicaloperation_documents_document_and_more.py
  bc_obps/registration/models/__init__.py
  bc_obps/registration/models/contact.py
  bc_obps/registration/models/document.py
  bc_obps/registration/models/operation.py
  bc_obps/registration/models/operator.py
  bc_obps/registration/models/user.py
  bc_obps/registration/tests/models/test_contact.py
  bc_obps/registration/tests/models/test_document.py
  bc_obps/registration/tests/models/test_operation.py
  bc_obps/registration/tests/models/test_operator.py
  bc_obps/registration/tests/models/test_user.py
Due: mypy

chore: update v2 fixtures
  bc_obps/common/management/commands/load_fixtures.py
  bc_obps/registration/fixtures/mock/contact.json
  bc_obps/registration/fixtures/mock/operation.json
  bc_obps/registration/fixtures/mock/operator.json
Due: mypy

chore: update schemas, services, endpoints
  bc_obps/registration/api/v2/contacts.py
  bc_obps/registration/schema/v1/user_operator.py
  bc_obps/registration/schema/v2/contact.py
  bc_obps/service/contact_service_v2.py
  bc_obps/service/data_access_service/contact_service_v2.py
  bc_obps/service/data_access_service/document_service_v2.py
  bc_obps/service/document_service_v2.py
  bc_obps/service/operation_service_v2.py
  bc_obps/service/user_operator_service.py
Due: mypy

test: pytests
  bc_obps/registration/tests/endpoints/v1/_contacts/test_contact_id.py
  bc_obps/registration/tests/endpoints/v1/_operations/test_operation_id.py
  bc_obps/registration/tests/endpoints/v2/_contacts/test_contact_id.py
  bc_obps/registration/tests/endpoints/v2/_operations/_operation_id/_registration/test_new_entrant_application.py
  bc_obps/registration/tests/endpoints/v2/_user_operators/_user_operator_id/test_user_operator_update_status.py
  bc_obps/registration/tests/endpoints/v2/test_contacts.py
  bc_obps/registration/tests/utils/baker_recipes.py
  bc_obps/registration/tests/utils/bakers.py
  bc_obps/registration/tests/utils/helpers.py
  bc_obps/service/tests/test_contact_service.py
  bc_obps/service/tests/test_contact_service_v2.py
  bc_obps/service/tests/test_document_service_v2.py
  bc_obps/service/tests/test_facility_service.py
  bc_obps/service/tests/test_operation_service_v2.py
Due: mypy

chore: update v1 and test fixtures
  bc_obps/common/management/commands/load_test_data.py
  bc_obps/registration/fixtures/mock/v1/operation.json
  bc_obps/registration/fixtures/mock/v1/operator.json
  bc_obps/registration/fixtures/test/contact.json
  bc_obps/registration/fixtures/test/operation_lfo.json
  bc_obps/registration/fixtures/test/operation_sfo.json
  bc_obps/registration/fixtures/test/operator.json
Due: mypy

chore: apply suggestions from code review
  bc_obps/registration/fixtures/mock/contact.json
  bc_obps/registration/models/document.py
  bc_obps/registration/tests/endpoints/v2/_user_operators/_user_operator_id/test_user_operator_update_status.py
  bc_obps/registration/tests/utils/baker_recipes.py
  bc_obps/service/data_access_service/document_service.py
  bc_obps/service/document_service_v2.py
  bc_obps/service/tests/test_document_service_v2.py
  bc_obps/service/user_operator_service.py
  bciers/apps/administration/app/components/contacts/ContactsDataGrid.tsx
Due: eslint, mypy

chore: update contacts grid
  bciers/apps/administration/app/components/contacts/ContactsDataGrid.tsx
  bciers/apps/administration/app/components/contacts/types.ts
  bciers/apps/administration/app/components/datagrid/models/contacts/contactColumns.ts
  bciers/apps/administration/app/components/datagrid/models/contacts/contactGroupColumns.ts
  bciers/apps/administration/tests/components/contacts/ContactsDataGrid.test.tsx
Due: eslint

chore: post-rebase updates
  bc_obps/registration/migrations/0071_remove_historicaloperation_documents_document_and_more.py
Due: mypy

fix: Disable scrolling behavior on global form number inputs
  bciers/libs/styles/src/globals.css
Due: none

chore: Add migration to add missing CEMS methodology in reporting GSC activities
  bc_obps/reporting/migrations/0044_alter_gcs_add_CEMS.py
Due: mypy

chore: Add fuelDescription field to GSC excluding and GSC non-compression forms
  bc_obps/reporting/json_schemas/2024/gsc_excluding_line_tracing/with_useful_energy.json
  bc_obps/reporting/json_schemas/2024/gsc_excluding_line_tracing/without_useful_energy.json
  bc_obps/reporting/json_schemas/2024/gsc_solely_for_line_tracing/with_useful_energy.json
  bc_obps/reporting/json_schemas/2024/gsc_solely_for_line_tracing/without_useful_energy.json
  bciers/apps/reporting/src/app/components/activities/uiSchemas/gscUiSchema.ts
Due: eslint

chore: edit reporting migration just added for rebase
  bc_obps/reporting/migrations/0045_alter_gcs_add_CEMS.py
Due: mypy

feat: Calculate annual fuel amount in Mobile Equipment activity
  bc_obps/reporting/json_schemas/2024/fuel_combustion_mobile/combustion_by_equipment.json
  bc_obps/reporting/migrations/0046_alter_gcs_add_CEMS.py
  bciers/apps/reporting/src/app/components/activities/ActivityForm.tsx
  bciers/apps/reporting/src/app/components/activities/uiSchemas/gscUiSchema.ts
  bciers/libs/utils/src/customReportingActivityFormCalculations.test.ts
  bciers/libs/utils/src/customReportingActivityFormCalculations.ts
Due: eslint, mypy

chore: edit calculateMobileAnnualAmount for better sonarcloud reliability rating
  bciers/libs/utils/src/customReportingActivityFormCalculations.ts
Due: eslint

test: Update tests for the CEMS methodology option
  bc_obps/reporting/tests/models/program_configuration_tests/test_gsc_excluding_line_tracing_2024.py
  bc_obps/reporting/tests/models/program_configuration_tests/test_gsc_non_compression_non_processing_2024.py
  bc_obps/reporting/tests/models/program_configuration_tests/test_gsc_other_than_non_compression_2024.py
  bc_obps/reporting/tests/models/program_configuration_tests/test_gsc_solely_for_line_tracing_2024.py
Due: mypy

chore: rename migrations
  bc_obps/common/migrations/0012_update_dashboard_data.py
  bc_obps/common/migrations/0016_update_dashboard_data.py
  bc_obps/common/migrations/0017_update_dashboard_data.py
  bc_obps/common/migrations/0020_update_dashboard_data.py
  bc_obps/common/migrations/0022_update_dashboard_data.py
  bciers/apps/compliance/project.json
Due: mypy

chore: update fixtures
  bc_obps/common/fixtures/dashboard/compliance/external.json
Due: none

chore: rebase on latest
  bc_obps/common/migrations/0033_update_dashboard_data.py
Due: mypy

chore: update compliance fixture to load only in dev/test envs
  bc_obps/common/fixtures/dashboard/bciers/dev/external.json
  bc_obps/common/fixtures/dashboard/bciers/dev/internal.json
  bc_obps/common/fixtures/dashboard/bciers/prod/external.json
  bc_obps/common/fixtures/dashboard/bciers/prod/internal.json
  bc_obps/common/migrations/0010_dashboarddata.py
  bc_obps/common/migrations/0012_update_dashboard_data.py
  bc_obps/common/migrations/0016_update_dashboard_data.py
  bc_obps/common/migrations/0017_update_dashboard_data.py
  bc_obps/common/migrations/0020_update_dashboard_data.py
  bc_obps/common/migrations/0022_update_dashboard_data.py
  bc_obps/common/migrations/0032_update_dashboard_data.py
  bc_obps/common/utils.py
Due: mypy

chore: pre-commit chnages
  .github/workflows/main.yaml
  bc_obps/common/fixtures/dashboard/bciers/prod/external.json
  bc_obps/common/utils.py
  bciers/apps/dashboard/next.config.js
  bciers/libs/components/src/navigation/Tiles.test.tsx
  docs/developer-environment-setup.md
Due: eslint, mypy

chore: json schemas
  bc_obps/reporting/json_schemas/2024/ng_non_compression/activity.json
  bc_obps/reporting/json_schemas/2024/ng_non_compression/ng_pneumatic_high_bleed_device_venting.json
Due: none

Path conditions:
  eslint: any of: \.(j|t)sx?$
  mypy: any of: \.py$
