Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, mypy

prettier:
  name: Prettier
  language: system
  entry: ./.bin/pre-commit-format.sh

eslint:
  name: ESLint
  language: system
  entry: ./.bin/pre-commit-lint.sh

mypy:
  name: Mypy
  language: system
  entry: ./.bin/pre-commit-mypy.sh

chore: add conditional enablement for PodDisruptionBudget templates
  helm/cas-bciers/templates/administration/pdb.yaml
  helm/cas-bciers/templates/backend/pdb.yaml
  helm/cas-bciers/templates/compliance/pdb.yaml
  helm/cas-bciers/templates/dashboard/pdb.yaml
  helm/cas-bciers/templates/registration/pdb.yaml
  helm/cas-bciers/templates/reporting/pdb.yaml
  helm/cas-bciers/values.yaml
Due: none

chore: enable PodDisruptionBudget in prod configuration
  helm/cas-bciers/values-prod.yaml
Due: none

refactor: remove redundant `to_snake` and `to_camel` definitions and use `alias_generators` directly in schema classes
  bc_obps/reporting/models/report_non_attributable_emissions.py
  bc_obps/reporting/schema/facility_report.py
  bc_obps/reporting/schema/report_additional_data.py
  bc_obps/reporting/schema/report_operation.py
  bc_obps/reporting/schema/report_person_responsible.py
Due: mypy

fix: highlight required fields on non-attributable emissions form and clean up schema
  bc_obps/reporting/api/report_non_attributable_emissions.py
  bc_obps/reporting/schema/report_non_attributable_emissions.py
  bc_obps/reporting/service/report_non_attributable_service.py
  bciers/apps/reporting/src/app/components/reportInformation/nonAttributableEmissions/NonAttributableEmissionsForm.tsx
  bciers/apps/reporting/src/app/components/reportInformation/nonAttributableEmissions/NonAttributableEmissionsPage.tsx
  bciers/apps/reporting/src/data/jsonSchema/nonAttributableEmissions/nonAttributableEmissions.ts
Due: prettier, eslint, mypy

chore: refine error handling for array field validation in customTransformErrors
  bciers/libs/utils/src/customTransformErrors.ts
Due: prettier, eslint

test: enhance test coverage for non-attributable emissions form and service logic
  bc_obps/reporting/tests/endpoints/test_report_non_attributable_emissions_endpoint.py
  bc_obps/reporting/tests/service/test_report_non_attributable_service.py
  bciers/apps/reporting/src/tests/components/reportInformation/nonAttributableEmissions/NonAttributableEmissionsForm.test.tsx
  bciers/libs/utils/src/customTransformErrors.test.ts
Due: prettier, eslint, mypy

test: fix failing tests
  bc_obps/reporting/tests/endpoints/test_report_non_attributable_emissions_endpoint.py
  bciers/apps/reporting/src/tests/components/reportInformation/nonAttributableEmissions/NonAttributableEmissionsForm.test.tsx
Due: prettier, eslint, mypy

chore: remove redundant `required` prop from CheckboxGroupWidget component
  bciers/libs/components/src/form/widgets/CheckboxGroupWidget.tsx
Due: prettier, eslint

chore: enforce `gas_type` as a required field
  bc_obps/reporting/schema/report_non_attributable_emissions.py
  bc_obps/reporting/tests/endpoints/test_report_non_attributable_emissions_endpoint.py
  bciers/apps/reporting/src/data/jsonSchema/nonAttributableEmissions/nonAttributableEmissions.ts
  bciers/apps/reporting/src/tests/components/reportInformation/nonAttributableEmissions/NonAttributableEmissionsForm.test.tsx
Due: prettier, eslint, mypy

chore: add topologyKey value to the anti-affinity yaml
  helm/cas-bciers/templates/administration/deployment.yaml
  helm/cas-bciers/templates/backend/deployment.yaml
  helm/cas-bciers/templates/compliance/deployment.yaml
  helm/cas-bciers/templates/dashboard/deployment.yaml
  helm/cas-bciers/templates/registration/deployment.yaml
  helm/cas-bciers/templates/reporting/deployment.yaml
Due: none

chore: happo spec work
  bciers/happo-base.config.js
Due: prettier, eslint

chore: enable optional all-browser Happo tests in workflows
  .github/workflows/main.yaml
  .github/workflows/test-nx-project-e2e.yaml
  bciers/happo-base.config.js
Due: prettier, eslint

chore: make pre-commit happy
  bciers/happo-base.config.js
Due: prettier, eslint

chore: extend all-browser Happo tests to include 'release' branches in workflows
  .github/workflows/main.yaml
Due: none

chore(e2e): pin report version `updated_at` timestamp for deterministic screenshot diffs
  bc_obps/compliance/api/e2e_integration_stub/scenarios/submit_report.py
Due: mypy

chore(happo): excluding app version in the footer from happo diffs
  bciers/happo-base.config.js
  bciers/libs/components/src/layout/AppVersion.tsx
Due: prettier, eslint

chore: update upper bounds for Diesel and Natural Gas fuel amount ranges
  bc_obps/reporting/migrations/0189_update_diesel_and_natural_gas_fuel_amount_ranges.py
Due: mypy

test: update existing tests
  bc_obps/reporting/tests/service/report_validation/validators/test_report_data_by_fuel_type_validator.py
Due: mypy

chore: fix migration post-rebase
  bc_obps/reporting/migrations/0190_update_diesel_and_natural_gas_fuel_amount_ranges.py
Due: mypy

refactor: add direct NX lint target for projects using inferred
  bciers/apps/administration-e2e/project.json
  bciers/apps/registration-e2e/project.json
  bciers/libs/hooks/project.json
  bciers/libs/styles/project.json
Due: prettier

refactor: return early to reduce nesting
  bciers/apps/dashboard/proxies/withAuthorizationDashboard.ts
Due: prettier, eslint

refactor: reduce cognitive complexity of function
  bciers/apps/reporting/src/app/components/attachments/AttachmentsForm.tsx
Due: prettier, eslint

refactor: reduce cognitive complexity of function with helpers
  bciers/apps/reporting/src/app/components/changeReview/templates/EmissionAllocationChangeView.tsx
Due: prettier, eslint

refactor: reduce nesting to lower cognitive complexity in function
  bciers/apps/dashboard/auth/auth.config.ts
Due: prettier, eslint

refactor: update path of JWT augmentation
  bciers/apps/dashboard/auth/auth.config.ts
  bciers/apps/dashboard/proxies/withTokenRefresh.ts
Due: prettier, eslint

chore: update annual fuel amount field label within e2e test suite
  bciers/apps/reporting-e2e/poms/facility-report.ts
Due: prettier, eslint

fix: annual fuel amount total displays properly for the first fuel
  bciers/apps/reporting/src/app/components/activities/uiSchemas/fuelCombustionMobileUiSchema.ts
  bciers/libs/components/src/form/fields/FuelAmountFieldTemplate.test.tsx
  bciers/libs/components/src/form/fields/FuelAmountFieldTemplate.tsx
Due: prettier, eslint

chore: ensure fuel amounts clear when fuel type is removed
  bciers/apps/reporting/src/app/components/activities/ActivityForm.tsx
  bciers/libs/utils/src/customReportingActivityFormCalculations.test.ts
  bciers/libs/utils/src/customReportingActivityFormCalculations.ts
Due: prettier, eslint

chore: exclude utils tests from sonar scanning
  .sonarcloud.properties
Due: none

test: verify fuel unit label is displayed
  bciers/apps/reporting-e2e/poms/facility-report.ts
Due: prettier, eslint

fix: exclude report_product_id on review changes page and add product_id to schema to deal with supp report creating false diffs
  bc_obps/reporting/api/report_review_changes.py
  bc_obps/reporting/schema/report_product_emission_allocation.py
  bc_obps/reporting/service/report_emission_allocation_service.py
Due: mypy

test: update tests related to new product_id in ReportProductEmissionAllocationData dataclass
  bc_obps/reporting/tests/api/test_report_emission_allocation_api.py
Due: mypy

chore: add regulated product presence validator
  bc_obps/reporting/service/report_validation/report_validation_error.py
  bc_obps/reporting/service/report_validation/validators/__init__.py
  bc_obps/reporting/service/report_validation/validators/report_regulated_product_presence.py
  bc_obps/reporting/tests/service/report_validation/test_report_validation_service.py
  bc_obps/reporting/tests/service/report_validation/validators/test_report_regulated_product_presence.py
  bc_obps/reporting/tests/service/test_report_emission_allocation_service.py
  bciers/apps/reporting/src/app/components/operations/personResponsible/PersonResponsibleForm.tsx
  bciers/apps/reporting/src/app/components/shared/validation/config.ts
  bciers/apps/reporting/src/app/components/shared/validation/types.ts
  bciers/apps/reporting/src/tests/components/shared/validation/config.test.ts
Due: prettier, eslint, mypy

chore: add ignore trigger to migration
  bc_obps/reporting/migrations/0189_reportoperation_naics_code.py
Due: mypy

chore: make naics populate method idempotent
  bc_obps/reporting/migrations/0189_reportoperation_naics_code.py
Due: mypy

chore: reduce review change noise and add reporting field display titles
  bc_obps/reporting/schema/report_final_review.py
  bc_obps/reporting/service/review_changes_service/report_review_changes_service.py
  bciers/apps/reporting/src/app/components/changeReview/constants/types.ts
  bciers/apps/reporting/src/app/components/changeReview/utils/activityRenderUtils.tsx
  bciers/apps/reporting/src/app/components/changeReview/utils/activityViewHelpers.tsx
Due: prettier, eslint, mypy

chore: update report pdf filename during print events
  bciers/apps/reporting/src/app/components/finalReview/FacilityReportFinalReview.tsx
  bciers/apps/reporting/src/app/components/finalReview/FacilityReportFinalReviewContent.tsx
Due: prettier, eslint

feat: rename facility report download file name
  bciers/apps/reporting/src/app/components/finalReview/FacilityReportFinalReview.tsx
  bciers/apps/reporting/src/app/components/finalReview/FacilityReportFinalReviewContent.tsx
  bciers/apps/reporting/src/tests/components/finalReview/FacilityReportFinalReview.test.tsx
  bciers/apps/reporting/src/tests/components/finalReview/FacilityReportFinalReviewContent.test.tsx
Due: prettier, eslint

test: update facility report title tests for print event
  bciers/apps/reporting/src/app/components/finalReview/FacilityReportFinalReviewContent.tsx
  bciers/apps/reporting/src/tests/components/finalReview/FacilityReportFinalReviewContent.test.tsx
Due: prettier, eslint

chore: add report version to reporting models missing it
  bc_obps/reporting/models/report_new_entrant_emission.py
  bc_obps/reporting/models/report_new_entrant_production.py
  bc_obps/reporting/models/report_raw_activity_data.py
Due: mypy

Path conditions:
  prettier: any of: \.(j|t)sx?$|\.json$|\.md$|\.css$|\.scss$, but not: (\.next/|node_modules/|dist/|build/|coverage/|\.nx/cache/)
  eslint: any of: \.(j|t)sx?$, but not: (\.next/|node_modules/|dist/|build/|coverage/|\.nx/cache/|tests/performance/)
  mypy: any of: \.py$
