Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, mypy

prettier:
  name: Prettier
  language: system
  entry: ./.bin/pre-commit-format.sh

eslint:
  name: ESLint
  language: system
  entry: ./.bin/pre-commit-lint.sh

mypy:
  name: Mypy
  language: system
  entry: ./.bin/pre-commit-mypy.sh

chore: update renovate configs
  renovate.json5
Due: none

chore: update renovate config tag
  renovate.json5
Due: none

chore: fix invalid renovate configs
  renovate.json5
Due: none

chore: updating permissions for report history endpoint
  bc_obps/reporting/api_v2/_reports/_report_id/history.py
  bciers/apps/reporting/src/app/idir/cas_admin/reports/report-history/[report_id]/page.tsx
  bciers/apps/reporting/src/app/idir/cas_analyst/reports/report-history/[report_id]/page.tsx
  bciers/apps/reporting/src/app/idir/cas_director/reports/report-history/[report_id]/page.tsx
Due: prettier, eslint, mypy

chore: fixing filtering after version numbers
  bc_obps/reporting/api_v2/_reports/_report_id/history.py
  bc_obps/reporting/api_v2/response_builder.py
  bc_obps/reporting/service/report_history_dashboard_service.py
  bc_obps/reporting/tests/api_v2/reports/test_history_endpoints.py
  bc_obps/reporting/tests/service/test_report_history_dashboard_service.py
Due: mypy

chore: api permissions
  bc_obps/reporting/tests/api_v2/reports/test_history_endpoints.py
Due: mypy

chore: internal users can see submitted reports
  bciers/apps/reporting/src/app/idir/cas_admin/reports/[version_id]/submitted/facility/[facility_id]/page.tsx
  bciers/apps/reporting/src/app/idir/cas_admin/reports/[version_id]/submitted/page.tsx
  bciers/apps/reporting/src/app/idir/cas_analyst/reports/[version_id]/submitted/facility/[facility_id]/page.tsx
  bciers/apps/reporting/src/app/idir/cas_analyst/reports/[version_id]/submitted/page.tsx
  bciers/apps/reporting/src/app/idir/cas_director/reports/[version_id]/submitted/facility/[facility_id]/page.tsx
  bciers/apps/reporting/src/app/idir/cas_director/reports/[version_id]/submitted/page.tsx
Due: prettier, eslint

chore: use named django value
  bc_obps/reporting/service/report_history_dashboard_service.py
Due: mypy

chore: update pgtrigger for analyst info by depending on analyst suggestion change instead of comment
  bc_obps/compliance/migrations/0036_remove_complianceearnedcredit_populate_analyst_submission_info_and_more.py
  bc_obps/compliance/models/compliance_earned_credit.py
  bc_obps/compliance/tests/models/test_compliance_earned_credit.py
Due: mypy

chore: fix migration after rebase
  bc_obps/compliance/migrations/0037_remove_complianceearnedcredit_populate_analyst_submission_info_and_more.py
Due: mypy

chore: update migration after rebase
  bc_obps/compliance/migrations/0038_remove_complianceearnedcredit_populate_analyst_submission_info_and_more.py
Due: mypy

chore: release v5.6.0
  CHANGELOG.md
  bc_obps/common/migrations/0118_V5_6_0.py
  bc_obps/compliance/migrations/0039_V5_6_0.py
  bc_obps/registration/migrations/0168_V5_6_0.py
  bc_obps/reporting/migrations/0170_V5_6_0.py
  bc_obps/rls/migrations/0052_V5_6_0.py
  bc_obps/task_scheduler/migrations/0024_V5_6_0.py
  helm/cas-bciers/Chart.yaml
  package.json
Due: prettier, mypy

chore: remove redundant e2e test for earned credit workflow
  bciers/apps/compliance-e2e/tests/workflows/request-issuance/earned-credits.spec.ts
Due: prettier, eslint

chore: add rangeStrategy to renovate config
  renovate.json5
Due: none

chore: add tests
  bciers/apps/reporting/src/app/components/reportInformation/facilities/FacilitiesDataGrid.tsx
  bciers/libs/hooks/src/autoSave/useAutosaveGrid.test.tsx
  bciers/libs/hooks/src/autoSave/useAutosaveGrid.ts
  bciers/libs/hooks/src/autoSave/useOptimisticGrid.ts
  bciers/libs/hooks/src/index.ts
  bciers/libs/hooks/tsconfig.json
  bciers/libs/hooks/vitest.config.mts
Due: prettier, eslint

chore: update FacilitiesDataGrid for autosave
  bciers/apps/reporting/src/app/components/reportInformation/facilities/FacilitiesDataGrid.tsx
  bciers/apps/reporting/src/tests/components/reportInformation/facilities/FacilitiesDataGrid.test.tsx
  bciers/apps/reporting/src/tests/components/reportInformation/facilities/FacilitiesPage.test.tsx
  bciers/apps/reporting/src/tests/components/reportInformation/nonAttributableEmissions/NonAttributableEmissionsForm.test.tsx
  bciers/apps/reporting/vitest.config.mts
  bciers/libs/hooks/README.md
  bciers/libs/hooks/project.json
  bciers/libs/hooks/src/autoSave/useOptimisticGrid.ts
  bciers/libs/hooks/src/index.ts
  bciers/libs/hooks/tsconfig.json
  bciers/libs/hooks/tsconfig.lib.json
  bciers/tsconfig.base.json
Due: prettier, eslint

chore: release v0.2.2 of PG migration test chart
  helm/migration-test/cas-obps-postgres-migration-test/Chart.yaml
Due: none

chore: correct assignment operator to comparison
  bciers/apps/reporting/src/app/components/products/ProductionDataPage.tsx
Due: prettier, eslint

chore: remove unused field from from response type
  bciers/libs/actions/src/api/getProductionData.ts
Due: prettier, eslint

test: missing product error
  bciers/apps/reporting/src/tests/components/products/ProductionDataForm.test.tsx
  bciers/apps/reporting/src/tests/components/products/ProductionDataPage.test.tsx
Due: prettier, eslint

feat: add "Requires manual handling" status to ComplianceReportVersion
  bc_obps/compliance/migrations/0038_alter_compliancereportversion_status.py
  bc_obps/compliance/models/compliance_report_version.py
  bc_obps/compliance/service/compliance_dashboard_service.py
  bc_obps/compliance/service/supplementary_version_service.py
  bciers/libs/utils/src/enums.ts
Due: prettier, eslint, mypy

test: add backend tests
  bc_obps/compliance/tests/integration/test_manual_handling_supplementary.py
  bc_obps/compliance/tests/service/test_supplementary_version_service.py
Due: mypy

chore: fix formatting
  bc_obps/compliance/migrations/0038_alter_compliancereportversion_status.py
Due: mypy

chore: fix migration post-rebase
  bc_obps/compliance/migrations/0038_alter_compliancereportversion_status.py
Due: mypy

chore: add optional fields to the distribution schema to bridge between elicensing API v7 & v8
  bc_obps/compliance/service/elicensing/schema.py
Due: mypy

chore: update migration file
  bc_obps/compliance/migrations/0040_alter_compliancereportversion_status.py
Due: mypy

chore: apply code review suggestions and refactor test
  bc_obps/compliance/service/supplementary_version_service.py
  bc_obps/compliance/tests/service/test_compliance_dashboard_service.py
  bc_obps/compliance/tests/utils/compliance_test_helper.py
Due: mypy

Path conditions:
  prettier: any of: \.(j|t)sx?$|\.json$|\.md$|\.css$|\.scss$, but not: (\.next/|node_modules/|dist/|build/|coverage/|\.nx/cache/)
  eslint: any of: \.(j|t)sx?$, but not: (\.next/|node_modules/|dist/|build/|coverage/|\.nx/cache/|tests/performance/)
  mypy: any of: \.py$
