Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3 # Use the sha or tag you want to point at
    hooks:
      - id: prettier
        name: Prettier
        stages: [commit]
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        language: system
        files: \.(j|t)sx?$
        entry: ./.bin/pre-commit-lint.sh

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-vcs-permalinks
      - id: check-yaml
        exclude: (^helm/.*/templates/)
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: debug-statements
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: bash -c "cd bc_obps && poetry run pylint --rcfile=.pylintrc *.py"
        language: system
        types: [python]
        require_serial: true

  - repo: https://github.com/python-poetry/poetry
    rev: 1.6.1
    hooks:
      - id: poetry-check
        args: ["-C", "./bc_obps"]
      - id: poetry-lock
        args: ["-C", "./bc_obps", "--check"] # --check to ensure lock file is up to date without updating it

  - repo: https://github.com/PyCQA/bandit
    rev: "1.7.5"
    hooks:
      - id: bandit
        args: ["-c", "bc_obps/bandit.yaml"]

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.2.5
    hooks:
      - id: gitleaks

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v8.0.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]

chore: cleanup
  bciers/apps/registration/tests/helpers/form.ts
Due: eslint

chore: apply suggestions from code review
  bciers/apps/registration/tests/components/form/widgets/EmailWidget.test.tsx
  bciers/apps/registration/tests/components/form/widgets/MultiSelectWidget.test.tsx
Due: eslint

chore: gridception
  bciers/apps/registration/app/components/datagrid/DataGrid.tsx
  bciers/apps/registration/app/components/datagrid/Pagination.tsx
  bciers/apps/registration/app/components/datagrid/cells/OperationsActionCell.tsx
  bciers/apps/registration/app/components/datagrid/cells/StatusStyleColumnCell.tsx
  bciers/apps/registration/app/components/datagrid/models/operationGroupColumns.ts
  bciers/apps/registration/app/components/operations/OperationDataGrid.tsx
  bciers/apps/registration/app/components/operations/Operations.tsx
  bciers/package.json
  bciers/yarn.lock
Due: eslint

chore: add make target to run mypy
  bc_obps/Makefile
Due: none

chore: integrate mypy static type checker
  bc_obps/mypy.ini
  bc_obps/poetry.lock
  bc_obps/pyproject.toml
Due: none

chore: remove unused endpoint and tests
  bc_obps/registration/api/v1/users.py
  bc_obps/registration/tests/endpoints/v1/test_user_endpoints.py
Due: pylint

chore: first round of adding type hints
  bc_obps/bc_obps/api.py
  bc_obps/registration/api/utils/current_user_utils.py
  bc_obps/registration/api/v1/__init__.py
  bc_obps/registration/api/v1/_operations/_operation_id/update_status.py
  bc_obps/registration/api/v1/_operations/operation_id.py
  bc_obps/registration/api/v1/business_structures.py
  bc_obps/registration/api/v1/e2e_test_setup.py
  bc_obps/registration/api/v1/naics_codes.py
  bc_obps/registration/api/v1/operations.py
  bc_obps/registration/api/v1/operator/operator_access_declined.py
  bc_obps/registration/api/v1/operator/operator_has_admin.py
  bc_obps/registration/api/v1/operators.py
  bc_obps/registration/api/v1/regulated_products.py
  bc_obps/registration/api/v1/reporting_activities.py
  bc_obps/registration/api/v1/select_operator/request_access.py
  bc_obps/registration/api/v1/select_operator/request_admin_access.py
  bc_obps/registration/api/v1/user/user_profile.py
  bc_obps/registration/api/v1/user_operator/is_approved_admin_user_operator.py
  bc_obps/registration/api/v1/user_operator/operator.py
  bc_obps/registration/api/v1/user_operator/update_status.py
  bc_obps/registration/api/v1/user_operator/user_operator_id.py
  bc_obps/registration/api/v1/user_operator/user_operator_initial_requests.py
  bc_obps/registration/api/v2/sample.py
  bc_obps/registration/emails.py
  bc_obps/registration/models.py
  bc_obps/registration/schema/v1/operation.py
  bc_obps/registration/schema/v1/user_operator.py
  bc_obps/registration/tests/endpoints/v1/user_operator/test_authorization.py
  bc_obps/registration/utils.py
  bc_obps/service/data_access_service/business_structure_service.py
  bc_obps/service/data_access_service/naics_code_service.py
  bc_obps/service/data_access_service/operation_service.py
  bc_obps/service/data_access_service/operator_service.py
  bc_obps/service/data_access_service/regulated_product_service.py
  bc_obps/service/data_access_service/reporting_activity_service.py
  bc_obps/service/data_access_service/user_service.py
  bc_obps/service/document_service.py
  bc_obps/service/operation_service.py
  bc_obps/service/operator_service.py
  bc_obps/service/user_operator_service.py
Due: pylint

chore: add types for requests package
  bc_obps/poetry.lock
  bc_obps/pyproject.toml
Due: none

chore: resolve issues after rebase
  bc_obps/service/operation_service.py
Due: pylint

chore: update e2e tests to mitigate flakey screens
  bciers/apps/registration/e2e/poms/operations.ts
  bciers/apps/registration/e2e/poms/operator.ts
  bciers/apps/registration/e2e/poms/operators.ts
  bciers/apps/registration/e2e/utils/helpers.ts
  bciers/apps/registration/e2e/workflows/bceidbusiness/industry_user_admin.spec.ts
  bciers/apps/registration/e2e/workflows/idir/cas_admin.spec.ts
  bciers/apps/registration/e2e/workflows/idir/cas_analyst.spec.ts
Due: eslint

refactor: reduce test code duplication
  bciers/apps/registration/e2e/poms/operations.ts
  bciers/apps/registration/e2e/poms/operators.ts
Due: eslint

fix: cas_admin e2e test
  bciers/apps/registration/e2e/workflows/idir/cas_admin.spec.ts
Due: eslint

test: adjust e2e flakey fixes
  bciers/apps/registration/e2e/poms/operator.ts
  bciers/apps/registration/e2e/utils/helpers.ts
  bciers/apps/registration/e2e/workflows/idir/cas_admin.spec.ts
Due: eslint

chore: remove experimental mypy config
  bc_obps/mypy.ini
Due: none

chore: add mypy `CI` check
  .bin/pre-commit-mypy.sh
  .pre-commit-config.yaml
Due: none

docs: add mypy docs
  docs/mypy.md
Due: none

chore: test naics code diff
  bciers/apps/registration/e2e/workflows/bceidbusiness/industry_user_admin.spec.ts
Due: eslint

chore: WIP demo code for API service
  bc_obps/bc_obps/api.py
  bc_obps/reporting/api/__init__.py
  bc_obps/reporting/api/api_base.py
  bc_obps/reporting/api/config.py
  bc_obps/reporting/jsonSchema/gsc.json
  bc_obps/reporting/models/configuration_element.py
  bc_obps/reporting/models/reportingGasType.py
  bc_obps/reporting/schema/__init__.py
  bc_obps/reporting/schema/config.py
  bc_obps/service/report_config_service.py
Due: pylint

chore: add wait for element to stabalize
  bciers/apps/registration/e2e/utils/helpers.ts
  bciers/apps/registration/e2e/workflows/idir/cas_admin.spec.ts
Due: eslint

chore: use nx-run as e2e test executor
  .github/workflows/nx.yaml
  .github/workflows/test.yaml
  bciers/apps/registration/playwright.config.ts
  bciers/apps/registration/project.json
  bciers/nx.json
Due: eslint

chore: demo split matrix
  .github/workflows/nx.yaml
Due: none

chore: map configs to field(s)
  bc_obps/reporting/jsonSchema/gsc.json
  bc_obps/reporting/migrations/0005_reportingfield_configelementreportingfield.py
  bc_obps/reporting/migrations/0006_sample_configuration_data.py
  bc_obps/reporting/migrations/data/config_field_data.py
  bc_obps/reporting/migrations/data/element_config_intersection_data.py
  bc_obps/reporting/models/__init__.py
  bc_obps/reporting/models/config_element_reporting_field.py
  bc_obps/reporting/models/reporting_field.py
  bc_obps/service/report_config_service.py
Due: pylint

chore: use django dsn key instead of nextjs dsn key
  bc_obps/bc_obps/settings.py
Due: pylint

chore: use django dsn key instead of nextjs dsn key (#1669)
  bc_obps/bc_obps/settings.py
Due: pylint
