Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy

eslint:
  name: ESLint
  language: system
  entry: ./.bin/pre-commit-lint.sh

mypy:
  name: Mypy
  language: system
  entry: ./.bin/pre-commit-mypy.sh

refactor: change complianceSummaryId and complianceReportVersionId types from number to string
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/review-compliance-summary/fetchComplianceSummaryReviewPageData.ts
  bciers/apps/compliance/src/app/utils/getComplianceSummary.tsx
Due: eslint

chore: update lodash import to use specific package path
  bciers/apps/compliance/src/app/widgets/BccrHoldingAcountWidget.tsx
Due: eslint

Add debugging statements in FE for page routing (#3395)
  bciers/apps/reporting/src/app/components/changeReview/ChangeReviewPage.tsx
  bciers/apps/reporting/src/app/components/finalReview/FinalReviewPage.tsx
  bciers/apps/reporting/src/app/components/taskList/navigationInformation.ts
  bciers/apps/reporting/src/middlewares/withRuleHasReportRouteAccess.ts
Due: eslint

chore: added console log statements for debugging
  bciers/apps/reporting/src/app/components/taskList/navigationInformation.ts
Due: eslint

chore: added console log statements for debugging (#3399)
  bciers/apps/reporting/src/app/components/taskList/navigationInformation.ts
Due: eslint

chore: add fixtures for compliance pre-req records
  bc_obps/registration/fixtures/mock/bc_greenhouse_gas_id.json
  bc_obps/registration/fixtures/mock/bc_obps_regulated_operation.json
  bc_obps/registration/fixtures/mock/facility.json
  bc_obps/registration/fixtures/mock/facility_designated_operation_timeline.json
  bc_obps/registration/fixtures/mock/operation.json
  bc_obps/reporting/fixtures/mock/facility_report.json
  bc_obps/reporting/fixtures/mock/report.json
  bc_obps/reporting/fixtures/mock/report_activity.json
  bc_obps/reporting/fixtures/mock/report_additional_data.json
  bc_obps/reporting/fixtures/mock/report_attachment.json
  bc_obps/reporting/fixtures/mock/report_emission.json
  bc_obps/reporting/fixtures/mock/report_emission_allocation.json
  bc_obps/reporting/fixtures/mock/report_fuel.json
  bc_obps/reporting/fixtures/mock/report_methodology.json
  bc_obps/reporting/fixtures/mock/report_person_responsible.json
  bc_obps/reporting/fixtures/mock/report_product.json
  bc_obps/reporting/fixtures/mock/report_product_emission_allocation.json
  bc_obps/reporting/fixtures/mock/report_raw_activity_data.json
  bc_obps/reporting/fixtures/mock/report_source_type.json
  bc_obps/reporting/fixtures/mock/report_unit.json
  bc_obps/reporting/fixtures/mock/report_verification.json
  bc_obps/reporting/management/commands/load_reporting_fixtures.py
Due: mypy

chore: add compliance earned credits model
  bc_obps/compliance/enums.py
  bc_obps/compliance/migrations/0004_compliance_earned_credits.py
  bc_obps/compliance/models/__init__.py
  bc_obps/compliance/models/compliance_earned_credits.py
  bc_obps/compliance/models/rls_configs/compliance_earned_credits.py
Due: mypy

test: add test for earned credits model
  bc_obps/compliance/tests/models/test_compliance_earned_credits.py
Due: mypy

chore: migrations are dependent on reporting
  bc_obps/compliance/migrations/0001_initial.py
  bc_obps/compliance/migrations/0004_compliance_earned_credits.py
Due: mypy

chore: add basic get api for earned credits
  bc_obps/compliance/api/_compliance_report_version/_compliance_report_version_id/earned_credits.py
  bc_obps/compliance/api/_compliance_report_version/_compliance_report_version_id/issuance.py
  bc_obps/compliance/service/earned_credits_service.py
Due: mypy

test: update broken tests
  bc_obps/compliance/models/compliance_earned_credits.py
  bc_obps/registration/tests/models/test_user.py
  bc_obps/reporting/tests/models/test_report_version.py
  bc_obps/service/tests/test_report_version_service.py
Due: mypy

chore: update earned credits model with comments & bccr name
  bc_obps/compliance/migrations/0005_compliance_earned_credits.py
  bc_obps/compliance/models/compliance_earned_credits.py
Due: mypy

test: update model test
  bc_obps/compliance/tests/models/test_compliance_earned_credits.py
Due: mypy

chore: fix migrations after rebase
  bc_obps/compliance/migrations/0005_compliance_earned_credits.py
Due: mypy

chore: update model null=True values
  bc_obps/compliance/migrations/0005_compliance_earned_credits.py
  bc_obps/compliance/models/compliance_earned_credits.py
Due: mypy

chore: fix migrations
  bc_obps/compliance/migrations/0005_compliance_earned_credits.py
Due: mypy

chore: earned credits record is created when a compliance summary has credited emissions
  bc_obps/compliance/service/compliance_report_version_service.py
  bc_obps/compliance/service/earned_credits_service.py
Due: mypy

test: add baker recipe for earned credits
  bc_obps/compliance/tests/utils/baker_recipes.py
Due: mypy

test: add test for earned credits service
  bc_obps/compliance/tests/service/test_compliance_earned_credits_service.py
Due: mypy

test: add tests for earned credit record creation
  bc_obps/compliance/tests/service/test_compliance_earned_credits_service.py
  bc_obps/compliance/tests/service/test_compliance_report_version_service.py
Due: mypy

chore: cleanup
  bc_obps/compliance/api/_compliance_report_version/_compliance_report_version_id/earned_credits.py
  bc_obps/compliance/service/compliance_dashboard_service.py
Due: mypy

test: remove unused test fixture
  bc_obps/compliance/tests/service/test_compliance_report_version_service.py
Due: mypy

chore: fix api permissions
  bc_obps/compliance/api/_compliance_report_version/_compliance_report_version_id/earned_credits.py
  bc_obps/compliance/api/_compliance_report_version/compliance_report_version_id.py
Due: mypy

test: update endpoint permissions test
  bc_obps/common/tests/endpoints/auth/constants.py
Due: mypy

chore: Added default page for activity not implemented
  bc_obps/service/form_builder_service.py
  bc_obps/service/tests/test_form_builder_service.py
  bciers/apps/reporting/src/app/components/activities/ActivityForm.tsx
  bciers/apps/reporting/src/app/components/activities/uiSchemas/custom.tsx
  bciers/apps/reporting/src/app/components/activities/uiSchemas/fallbackUiSchema.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/schemaMaps.tsx
  bciers/apps/reporting/src/tests/components/activities/ActivityForm.test.tsx
Due: eslint, mypy

chore: removed console statements and fixed test
  bc_obps/reporting/tests/api/test_build_form_schema.py
  bciers/apps/reporting/src/app/components/activities/ActivityForm.tsx
Due: eslint, mypy

chore: fixed compliance data bug for zero production
  bc_obps/reporting/service/compliance_service.py
  bc_obps/reporting/tests/service/test_compliance_service/infrastructure.py
  bc_obps/reporting/tests/service/test_compliance_service/test_compliance_service_class.py
Due: mypy

chore: update compliance summaries data structure and improve column headers
  bc_obps/compliance/schema/compliance_report_version.py
  bciers/apps/compliance/src/app/components/compliance-summaries/ComplianceSummariesPage.tsx
  bciers/apps/compliance/src/app/components/compliance-summaries/fetchComplianceSummariesPageData.ts
  bciers/apps/compliance/src/app/components/datagrid/models/compliance-summaries/complianceSummaryColumns.tsx
  bciers/apps/compliance/src/app/components/datagrid/models/compliance-summaries/complianceSummaryGroupColumns.tsx
  bciers/libs/components/src/navigation/complianceSummaryTaskList/ComplianceSummaryTaskList.tsx
Due: eslint, mypy

chore: simplify outstanding balance calculation in ComplianceReportVersionService
  bc_obps/compliance/service/compliance_report_version_service.py
Due: mypy

chore: add s to compliance report version endpoints
  bc_obps/compliance/api/__init__.py
  bc_obps/compliance/api/_compliance_report_versions/_compliance_report_version_id/earned_credits.py
  bc_obps/compliance/api/_compliance_report_versions/_compliance_report_version_id/payments.py
  bc_obps/compliance/api/_compliance_report_versions/compliance_report_version_id.py
Due: mypy

chore: register ComplianceReportVersion and ReportComplianceSummary in django admin
  bc_obps/compliance/admin.py
  bc_obps/reporting/admin.py
Due: mypy

chore: delete demo tasklist component
  bciers/apps/reporting/src/app/demo/page.tsx
Due: eslint

chore: update compliance report version schema with new fields and aliases
  bc_obps/compliance/schema/compliance_report_version.py
Due: mypy

chore: remove unnecessary initial data checks in ComplianceSummaries component
  bciers/apps/compliance/src/app/components/compliance-summaries/ComplianceSummaries.tsx
Due: eslint

chore: remove redundant init file
  bc_obps/compliance/schema/__init__.py
Due: mypy

chore: update import path for getRequestIssuanceData
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/request-issuance-of-earned-credits/RequestIssuanceOfEarnedCreditsPage.tsx
Due: eslint

chore: optimize path segment transformation logic in Bread component
  bciers/libs/components/src/navigation/Bread.tsx
Due: eslint

chore: add "use client" directive to PageTaskListItem and SectionTaskListItem components
  bciers/libs/components/src/navigation/reportingTaskList/items/PageTaskListItem.tsx
  bciers/libs/components/src/navigation/reportingTaskList/items/SectionTaskListItem.tsx
Due: eslint

chore: revert changes
  bciers/libs/components/src/navigation/reportingTaskList/items/SectionTaskListItem.tsx
Due: eslint

chore: refactor RequestIssuanceReview components to keep its own props
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/review-compliance-summary/RequestIssuanceReviewComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/review-compliance-summary/RequestIssuanceReviewContent.tsx
Due: eslint

Path conditions:
  eslint: any of: \.(j|t)sx?$
  mypy: any of: \.py$
