Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        language: system
        files: \.(j|t)sx?$|\.json$|\.md$|\.css$|\.scss$
        exclude: (\.next/|node_modules/|dist/|build/|coverage/|\.nx/cache/)
        entry: ./.bin/pre-commit-format.sh
      - id: eslint
        name: ESLint
        language: system
        files: \.(j|t)sx?$
        exclude: (\.next/|node_modules/|dist/|build/|coverage/|\.nx/cache/|tests/performance/)
        entry: ./.bin/pre-commit-lint.sh
      - id: mypy
        name: Mypy
        language: system
        types: [python]
        entry: ./.bin/pre-commit-mypy.sh

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-vcs-permalinks
      - id: check-yaml
        exclude: (^helm/.*/templates/)
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
      - id: black
        types: [python]
        args: ["--config", "bc_obps/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.6
    hooks:
      - id: ruff
        args: ["bc_obps/", "--fix"]

  - repo: https://github.com/python-poetry/poetry
    rev: 2.2.1
    hooks:
      - id: poetry-check
        args: ["-C", "./bc_obps"]
      - id: poetry-lock
        args: ["-C", "./bc_obps"]

  - repo: https://github.com/PyCQA/bandit
    rev: "1.9.2"
    hooks:
      - id: bandit
        additional_dependencies: [pbr]
        args: ["-c", "bc_obps/bandit.yaml"]

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.29.1
    hooks:
      - id: gitleaks

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.23.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]

chore: set up basic page structure & action function
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/internal/calculate-accruing-penalty/InternalCalculatePenaltyComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/internal/calculate-accruing-penalty/InternalCalculatePenaltyPage.tsx
  bciers/apps/compliance/src/app/components/taskLists/internal/reviewObligationPenaltyTaskList.ts
  bciers/apps/compliance/src/app/idir/cas_analyst/compliance-administration/compliance-summaries/[compliance_report_version_id]/(manage-obligation)/calculate-accruing-penalty/page.tsx
  bciers/apps/compliance/src/app/utils/getPenaltyAccrualCalculationData.ts
Due: prettier, eslint

chore: set up basic page structure & action function
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/internal/calculate-accruing-penalty/InternalCalculatePenaltyComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/internal/calculate-accruing-penalty/InternalCalculatePenaltyPage.tsx
  bciers/apps/compliance/src/app/components/taskLists/internal/reviewObligationPenaltyTaskList.ts
  bciers/apps/compliance/src/app/utils/getPenaltyAccrualCalculationData.ts
Due: prettier, eslint

chore: add corepack to action
  .github/workflows/release-docs.yaml
Due: none

In progress. Table extraction works on 1 PDF
  bc_obps/parse_vs.ipynb
  bc_obps/reporting/service/parse_verification_statement_service.py
Due: mypy

chore: refine action steps
  .github/workflows/release-docs.yaml
Due: none

chore: add daily penalty accrual table
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/internal/calculate-accruing-penalty/InternalCalculatePenaltyComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/internal/calculate-accruing-penalty/PenaltyAccrualTable.tsx
Due: prettier, eslint

chore: format penalty amount for currency
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/internal/calculate-accruing-penalty/InternalCalculatePenaltyComponent.tsx
Due: prettier, eslint

style: clean up frontend comment code and format date/version id
  bciers/apps/reporting/src/app/components/comments/commentBoxCar.tsx
  bciers/apps/reporting/src/app/components/comments/commentSeat.tsx
Due: prettier, eslint

chore: add jupyter and pdfplumber packages
  bc_obps/poetry.lock
  bc_obps/pyproject.toml
Due: none

Update .gitignore
  .gitignore
Due: none

fix: build assets not loaded by github action
  .github/workflows/release-docs.yaml
Due: none

chore: tweaks to FE
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/internal/calculate-accruing-penalty/PenaltyAccrualTable.tsx
  bciers/apps/compliance/src/app/components/taskLists/internal/reviewObligationPenaltyTaskList.ts
Due: prettier, eslint

chore: prettier
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/internal/calculate-accruing-penalty/PenaltyAccrualTable.tsx
Due: prettier, eslint

chore: update API path & remove hardcoded ID in FE call
  bc_obps/compliance/api/__init__.py
  bc_obps/compliance/api/_compliance_report_versions/_compliance_report_version_id/_obligation/calculate_penalty.py
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/internal/calculate-accruing-penalty/InternalCalculatePenaltyComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/internal/calculate-accruing-penalty/InternalCalculatePenaltyPage.tsx
  bciers/apps/compliance/src/app/utils/getPenaltyAccrualCalculationData.ts
Due: prettier, eslint, mypy

chore: prettier
  bc_obps/compliance/api/__init__.py
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/internal/calculate-accruing-penalty/InternalCalculatePenaltyComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/internal/calculate-accruing-penalty/InternalCalculatePenaltyPage.tsx
Due: prettier, eslint, mypy

chore: re-add auth to API route
  bc_obps/compliance/api/_compliance_report_versions/_compliance_report_version_id/_obligation/calculate_penalty.py
Due: mypy

chore: fix accidental deletion
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/internal/calculate-accruing-penalty/InternalCalculatePenaltyComponent.tsx
Due: prettier, eslint

chore: remove logging
  bciers/apps/compliance/src/app/utils/getPenaltyAccrualCalculationData.ts
Due: prettier, eslint

chore: update get api to fetch comments by report_id
  bc_obps/reporting/api/comments.py
Due: mypy

chore: update schema for name resolver
  bc_obps/reporting/api/comments.py
  bc_obps/reporting/schema/comment.py
Due: mypy

wip posting api
  bc_obps/reporting/api/comments.py
  bc_obps/reporting/schema/comment.py
  bciers/apps/reporting/src/app/components/annualReport/AnnualReportPage.tsx
  bciers/apps/reporting/src/app/components/comments/commentPacificRailway.tsx
  bciers/apps/reporting/src/app/components/finalReview/FacilityReportFinalReview.tsx
  bciers/apps/reporting/src/app/components/submitted/SubmittedPage.tsx
  bciers/apps/reporting/src/app/utils/addComment.ts
  bciers/apps/reporting/src/app/utils/createThread.ts
Due: prettier, eslint, mypy

feat: thread title and report section selector
  bc_obps/reporting/api/comments.py
  bciers/apps/reporting/src/app/components/annualReport/AnnualReportPage.tsx
  bciers/apps/reporting/src/app/components/comments/commentPacificRailway.tsx
  bciers/apps/reporting/src/app/components/comments/types.tsx
  bciers/apps/reporting/src/app/utils/createThread.ts
Due: prettier, eslint, mypy

chore: integrate comment submission to front end
  bciers/apps/reporting/src/app/components/comments/commentBoxCar.tsx
  bciers/apps/reporting/src/app/components/comments/commentPacificRailway.tsx
Due: prettier, eslint

chore: enhance schemas and comment components to support user names
  bc_obps/reporting/api/comments.py
  bc_obps/reporting/schema/comment.py
  bciers/apps/reporting/src/app/components/comments/commentBoxCar.tsx
  bciers/apps/reporting/src/app/components/comments/commentSeat.tsx
  bciers/apps/reporting/src/app/components/comments/types.tsx
Due: prettier, eslint, mypy

chore: comment api returns full objects to support live updates in ui
  bc_obps/reporting/api/comments.py
  bciers/apps/reporting/src/app/components/comments/commentBoxCar.tsx
  bciers/apps/reporting/src/app/components/comments/commentPacificRailway.tsx
  bciers/apps/reporting/src/app/utils/addComment.ts
  bciers/apps/reporting/src/app/utils/createThread.ts
Due: prettier, eslint, mypy

chore: add default for report section selector
  bciers/apps/reporting/src/app/components/comments/commentPacificRailway.tsx
Due: prettier, eslint

chore: add report version to boxcar
  bciers/apps/reporting/src/app/components/comments/commentBoxCar.tsx
  bciers/apps/reporting/src/app/components/comments/commentPacificRailway.tsx
Due: prettier, eslint

added lm-studio chat with report attachments. Lots of vibe coding
  bc_obps/poetry.lock
  bc_obps/pyproject.toml
  bc_obps/reporting/api/__init__.py
  bc_obps/reporting/api/llm_chat.py
  bc_obps/reporting/service/llm_service.py
  bciers/apps/reporting/src/app/api/llm-chat/route.ts
  bciers/apps/reporting/src/app/components/submitted/ReportForm.tsx
  bciers/apps/reporting/src/app/components/submitted/SubmittedVerificationStatementSection.tsx
  bciers/apps/reporting/src/app/idir/cas_admin/reports/[version_id]/annual-report/page.tsx
  bciers/apps/reporting/src/app/idir/cas_analyst/reports/[version_id]/annual-report/page.tsx
  bciers/apps/reporting/src/app/idir/cas_director/reports/[version_id]/annual-report/page.tsx
  bciers/apps/reporting/src/app/idir/cas_view_only/reports/[version_id]/annual-report/page.tsx
  bciers/apps/reporting/src/app/utils/postLlmChat.ts
  bciers/apps/reporting/src/tests/appUtils/postLlmChat.test.ts
  bciers/apps/reporting/src/tests/components/submitted/ReportForm.test.tsx
  bciers/apps/reporting/src/tests/components/submitted/SubmittedVerificationStatementSection.test.tsx
Due: prettier, eslint, mypy

chore: refactor model names and make report version not a foreign key
  bc_obps/reporting/api/comments.py
  bc_obps/reporting/enums/enums.py
  bc_obps/reporting/migrations/0200_reportcommentthread_reportcomment_and_more.py
  bc_obps/reporting/models/__init__.py
  bc_obps/reporting/models/report_comment.py
  bc_obps/reporting/models/report_comment_bodyofthesnake.py
  bc_obps/reporting/models/report_comment_thread.py
  bc_obps/reporting/models/rls_configs/report_comment.py
  bc_obps/reporting/models/rls_configs/report_comment_thread.py
  bc_obps/reporting/schema/comment.py
  bciers/apps/reporting/src/app/components/comments/commentBoxCar.tsx
  bciers/apps/reporting/src/app/components/comments/commentPacificRailway.tsx
  bciers/apps/reporting/src/app/components/comments/types.tsx
Due: prettier, eslint, mypy

chore: allow facility id in create comment thread
  bc_obps/reporting/api/comments.py
  bciers/apps/reporting/src/app/components/comments/commentPacificRailway.tsx
  bciers/apps/reporting/src/app/components/finalReview/FacilityReportFinalReview.tsx
  bciers/apps/reporting/src/app/utils/addComment.ts
  bciers/apps/reporting/src/app/utils/createThread.ts
Due: prettier, eslint, mypy

chore: display facility name on comment threads
  bc_obps/reporting/api/comments.py
  bc_obps/reporting/schema/comment.py
  bciers/apps/reporting/src/app/components/comments/commentBoxCar.tsx
  bciers/apps/reporting/src/app/components/comments/types.tsx
Due: prettier, eslint, mypy

chore: update report sections enums
  bciers/apps/reporting/src/app/components/comments/commentPacificRailway.tsx
  bciers/libs/utils/src/enums.ts
Due: prettier, eslint

style: bring author to new line in comments
  bciers/apps/reporting/src/app/components/comments/commentBoxCar.tsx
Due: prettier, eslint

chore: allow user to click resolve thread button to resolve thread
  bc_obps/reporting/api/comments.py
  bc_obps/reporting/schema/comment.py
  bciers/apps/reporting/src/app/components/comments/commentBoxCar.tsx
Due: prettier, eslint, mypy

feat: report events now appear in threads
  bc_obps/reporting/api/comments.py
  bc_obps/reporting/schema/comment.py
  bc_obps/reporting/service/report_comment_service.py
  bciers/apps/reporting/src/app/components/comments/commentBoxCar.tsx
  bciers/apps/reporting/src/app/components/comments/commentPacificRailway.tsx
  bciers/apps/reporting/src/app/components/comments/eventSeat.tsx
  bciers/apps/reporting/src/app/components/comments/types.tsx
Due: prettier, eslint, mypy

fix: user_names properly propogating from comments api
  bc_obps/reporting/api/comments.py
  bc_obps/reporting/schema/comment.py
Due: mypy

chore: differentiate resolved threads visually
  bciers/apps/reporting/src/app/components/comments/commentBoxCar.tsx
  bciers/apps/reporting/src/app/components/comments/types.tsx
Due: prettier, eslint

chore: include missed checkTicket.ts file
  bciers/apps/reporting/src/app/utils/checkTicket.ts
Due: prettier, eslint

So. Much. Vibe. Coding. But it is working
  bc_obps/poetry.lock
  bc_obps/pyproject.toml
  bc_obps/registration/enums/enums.py
  bc_obps/registration/migrations/0185_historicalpdfdocumentcontents_pdfdocumentcontents_and_more.py
  bc_obps/registration/models/__init__.py
  bc_obps/registration/models/pdf_document_contents.py
  bc_obps/registration/models/rls_configs/pdf_document_contents.py
  bc_obps/reporting/api/llm_chat.py
  bc_obps/reporting/service/llm_service.py
  bc_obps/reporting/service/pdf_document_contents_service.py
  bciers/apps/reporting/src/app/components/submitted/SubmittedVerificationStatementSection.tsx
  bciers/apps/reporting/src/app/idir/cas_admin/reports/[version_id]/annual-report/page.tsx
  bciers/apps/reporting/src/app/idir/cas_analyst/reports/[version_id]/annual-report/page.tsx
  bciers/apps/reporting/src/app/idir/cas_director/reports/[version_id]/annual-report/page.tsx
  bciers/apps/reporting/src/app/idir/cas_view_only/reports/[version_id]/annual-report/page.tsx
Due: prettier, eslint, mypy

fix: disable broken JSON schema validator
  bc_obps/reporting/service/report_validation/validators/__init__.py
Due: mypy
