Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3 # Use the sha or tag you want to point at
    hooks:
      - id: prettier
        name: Prettier
        stages: [commit]
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        language: system
        files: \.(j|t)sx?$
        entry: ./.bin/pre-commit-lint.sh

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-vcs-permalinks
      - id: check-yaml
        exclude: (^helm/.*/templates/)
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: debug-statements
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: bash -c "cd bc_obps && poetry run pylint --rcfile=.pylintrc *.py"
        language: system
        types: [python]
        require_serial: true

  - repo: https://github.com/python-poetry/poetry
    rev: 1.6.1
    hooks:
      - id: poetry-check
        args: ["-C", "./bc_obps"]
      - id: poetry-lock
        args: ["-C", "./bc_obps", "--check"] # --check to ensure lock file is up to date without updating it

  - repo: https://github.com/PyCQA/bandit
    rev: "1.7.5"
    hooks:
      - id: bandit
        args: ["-c", "bc_obps/bandit.yaml"]

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.2.5
    hooks:
      - id: gitleaks

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v8.0.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]

fix: rebase error
  bc_obps/registration/schema/operation.py
Due: pylint

feat: make address field optional
  bc_obps/registration/migrations/0003_alter_businessstructure_table_comment_and_more.py
  bc_obps/registration/models.py
Due: pylint

fix: rename point of contact field
  bc_obps/registration/api/operation.py
  bc_obps/registration/tests/endpoints/test_operations_endpoints.py
  bc_obps/registration/tests/utils/helpers.py
Due: pylint

fix: don't save address when creating operations contact
  bc_obps/registration/api/operation.py
  bc_obps/registration/schema/operation.py
Due: pylint

fix: document api error
  bc_obps/registration/api/operation.py
Due: pylint

test: update operation api tests for save_contact query param
  bc_obps/registration/tests/endpoints/test_operations_endpoints.py
Due: pylint

chore: remove unused operations fields
  bc_obps/registration/schema/contact.py
  client/app/utils/jsonSchema/operations.ts
Due: eslint, pylint

feat: operations api add save_contact query param
  bc_obps/registration/api/operation.py
  client/app/components/form/OperationsForm.tsx
Due: eslint, pylint

feat: bcghg id readonly
  client/app/utils/jsonSchema/operations.ts
Due: eslint

chore: operation schema cleanup
  bc_obps/registration/fixtures/mock/user.json
  client/app/utils/jsonSchema/operations.ts
Due: eslint

chore: clean up operations ui schema
  client/app/utils/jsonSchema/operations.ts
Due: eslint

chore: setup sentry for backend
  bc_obps/.env.example
  bc_obps/bc_obps/settings.py
  bc_obps/poetry.lock
  bc_obps/pyproject.toml
Due: pylint

chore: sentry configuration for prod environment
  client/sentry.client.config.ts
  client/sentry.edge.config.ts
  client/sentry.server.config.ts
  helm/cas-registration/templates/backend/deployment.yaml
  helm/cas-registration/templates/frontend/deployment.yaml
Due: eslint

chore: setup sentry for frontend
  client/.env.example
  client/.gitignore
  client/app/(authenticated)/error.tsx
  client/app/(onboarding)/error.tsx
  client/app/global-error.tsx
  client/app/utils/actions.ts
  client/next.config.js
  client/package.json
  client/sentry.client.config.ts
  client/sentry.edge.config.ts
  client/sentry.server.config.ts
  client/yarn.lock
Due: eslint

chore: remove unused sentry environment variables
  client/.env.example
Due: none

chore: add ssl route/url
  helm/cas-registration/templates/frontend/route.yaml
  helm/cas-registration/values-dev.yaml
Due: none

chore: update route.yaml to use SSL in production
  helm/cas-registration/templates/frontend/route.yaml
  helm/cas-registration/values-prod.yaml
Due: none

chore: fix Sentry image tag
  helm/cas-registration/templates/backend/deployment.yaml
  helm/cas-registration/templates/frontend/deployment.yaml
Due: none

chore: undo change to dev route host
  helm/cas-registration/values-dev.yaml
Due: none

debug: logger details
  client/app/api/auth/[...nextauth]/route.ts
Due: eslint

debug: more logs & secret
  client/app/api/auth/[...nextauth]/route.ts
  client/e2e/pages/onboarding/home/page.spec.ts
Due: eslint

debug: NEXTAUTH_URL & secret
  .github/workflows/test.yaml
  client/app/api/auth/[...nextauth]/route.ts
Due: eslint

debug: KC login url
  client/app/api/auth/[...nextauth]/route.ts
Due: eslint

debug: FE env
  client/app/api/auth/[...nextauth]/route.ts
Due: eslint

debug: FE env
  .github/workflows/test.yaml
Due: none

debug: yaml
  .github/workflows/test.yaml
  client/app/api/auth/[...nextauth]/route.ts
  client/e2e/pages/onboarding/home/page.spec.ts
Due: eslint
