Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3 # Use the sha or tag you want to point at
    hooks:
      - id: prettier
        name: Prettier
        stages: [commit]

  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        language: system
        files: \.(j|t)sx?$
        entry: ./.bin/pre-commit-lint.sh
      - id: mypy
        name: Mypy
        language: system
        types: [python]
        entry: ./.bin/pre-commit-mypy.sh

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-vcs-permalinks
      - id: check-yaml
        exclude: (^helm/.*/templates/)
      - id: end-of-file-fixer
        exclude: (^erd_diagrams/)
      - id: trailing-whitespace
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        types: [python]
        args: ["--config", "bc_obps/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.2
    hooks:
      - id: ruff
        args: ["bc_obps/", "--fix"]

  - repo: https://github.com/python-poetry/poetry
    rev: 1.6.1
    hooks:
      - id: poetry-check
        args: ["-C", "./bc_obps"]
      - id: poetry-lock
        args: ["-C", "./bc_obps", "--check"] # --check to ensure lock file is up to date without updating it

  - repo: https://github.com/PyCQA/bandit
    rev: "1.7.5"
    hooks:
      - id: bandit
        args: ["-c", "bc_obps/bandit.yaml"]

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.2.5
    hooks:
      - id: gitleaks

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.16.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]

chore: internal user annual report SFO and LFO
  bc_obps/common/tests/endpoints/auth/constants.py
  bc_obps/reporting/api/facility_report.py
  bc_obps/reporting/api/report_final_review.py
  bc_obps/reporting/api/reports.py
  bciers/apps/reporting/src/app/components/annualReport/AnnualReportPage.tsx
  bciers/apps/reporting/src/app/components/finalReview/FacilityReportFinalReview.tsx
  bciers/apps/reporting/src/app/components/finalReview/FinalReviewFacilityGrid.tsx
  bciers/apps/reporting/src/app/components/finalReview/templates/FinalReviewReportSections.tsx
  bciers/apps/reporting/src/app/components/operations/cells/ViewReportCell.tsx
  bciers/apps/reporting/src/app/components/submitted/ReportForm.tsx
  bciers/apps/reporting/src/app/idir/cas_analyst/reports/[version_id]/annual-report/facility/[facility-id]/page.tsx
  bciers/apps/reporting/src/app/idir/cas_analyst/reports/[version_id]/annual-report/page.tsx
  bciers/apps/reporting/src/app/idir/cas_director/reports/[version_id]/annual-report/facility/[facility_id]/page.tsx
  bciers/apps/reporting/src/app/idir/cas_director/reports/[version_id]/annual-report/page.tsx
  bciers/apps/reporting/src/tests/components/dataGrid/model/annualReports/annualReportsColumns.test.tsx
  bciers/apps/reporting/src/tests/components/dataGrid/model/pastReports/internalPastReportsColumns.test.tsx
  bciers/apps/reporting/src/tests/components/submitted/ReportForm.test.tsx
Due: eslint, mypy

chore: fix the test and rebased
  bc_obps/reporting/tests/api/test_facility_report_api.py
  bc_obps/reporting/tests/api/test_reports.py
  bciers/apps/reporting/src/app/components/finalReview/FacilityReportFinalReview.tsx
Due: eslint, mypy

fix: update issuance status permissions to include CAS_ANALYST role and modify declined message
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/internal/track-status-of-issuance/InternalTrackStatusOfIssuanceComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/track-status-of-issuance/IssuanceStatusDeclinedNote.tsx
  bciers/apps/compliance/src/app/data/jsonSchema/requestIssuance/internal/internalTrackStatusOfIssuanceSchema.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/internal/track-status-of-issuance/InternalTrackStatusOfIssuanceComponent.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/track-status-of-issuance/IssuanceStatusDeclinedNote.test.tsx
Due: eslint

chore: add period to declined note and enhance issuance status visibility tests
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/track-status-of-issuance/IssuanceStatusDeclinedNote.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/internal/track-status-of-issuance/InternalTrackStatusOfIssuanceComponent.test.tsx
Due: eslint

feat: Emission Allocation form: alert note for missing product
  bc_obps/reporting/api/production_data.py
  bc_obps/reporting/service/report_emission_allocation_service.py
  bc_obps/reporting/service/report_product_service.py
  bc_obps/reporting/tests/service/test_report_emission_allocation_service.py
  bc_obps/reporting/tests/service/test_report_product_service.py
  bciers/apps/reporting/src/app/components/facility/FacilityEmissionAllocationForm.tsx
  bciers/apps/reporting/src/app/components/facility/FacilityEmissionAllocationPage.tsx
  bciers/apps/reporting/src/data/jsonSchema/facility/MissingProductAlertFieldTemplate.tsx
  bciers/apps/reporting/src/data/jsonSchema/facility/facilityEmissionAllocation.tsx
Due: eslint, mypy

test: testing services
  bc_obps/reporting/api/production_data.py
  bc_obps/reporting/tests/service/test_report_emission_allocation_service.py
Due: mypy

chore: typing return type for api request
  bciers/apps/reporting/src/app/utils/getEmissionAllocations.ts
Due: eslint

chore: adding field to api
  bc_obps/reporting/schema/report_emission_allocation.py
  bc_obps/reporting/tests/api/test_report_emission_allocation_api.py
Due: mypy

chore: fixed review changes bug for lfo
  bc_obps/reporting/api/report_final_review.py
  bc_obps/reporting/api/report_review_changes.py
  bc_obps/reporting/schema/report_final_review.py
  bc_obps/reporting/service/report_review_changes_service.py
  bc_obps/service/report_version_service.py
Due: mypy

chore: reverting small change
  bciers/apps/reporting/src/app/components/facility/FacilityEmissionAllocationPage.tsx
Due: eslint

chore: testing alert
  bc_obps/reporting/tests/service/test_report_product_service.py
  bciers/apps/reporting/src/app/components/facility/FacilityEmissionAllocationForm.tsx
  bciers/apps/reporting/src/app/components/facility/FacilityEmissionAllocationPage.tsx
  bciers/apps/reporting/src/tests/components/facility/FacilityEmissionAllocationForm.test.tsx
  bciers/apps/reporting/src/tests/data/jsonSchema/facility/MissingProductAlertFieldTemplate.test.tsx
Due: eslint, mypy

chore: update wording on production data page
  bciers/apps/reporting/src/data/jsonSchema/productionData.tsx
  bciers/apps/reporting/src/tests/components/products/ProductionDataPage.test.tsx
Due: eslint

chore: add superceded status to compliance report version statuses
  bc_obps/compliance/migrations/0030_compliancereportversion_superceded_status.py
  bc_obps/compliance/models/compliance_report_version.py
Due: mypy

chore: add sentry to test namespace
  bc_obps/bc_obps/settings.py
  bciers/libs/sentryConfig/src/sentry.ts
  helm/cas-bciers/templates/backend/deployment.yaml
  helm/cas-bciers/templates/common/frontend-env-configmap.yaml
Due: eslint, mypy

chore: remove trivy container scanner
  .github/workflows/main.yaml
  .github/workflows/trivy-container.yaml
Due: none

chore: exit early if the supercede handler can be run
  bc_obps/compliance/service/supplementary_version_service.py
Due: mypy

chore: tweak function logic
  bc_obps/compliance/service/supplementary_version_service.py
Due: mypy

chore: update logic in other affected services
  bc_obps/compliance/service/compliance_dashboard_service.py
  bc_obps/compliance/service/compliance_report_version_service.py
Due: mypy

feat: supercede compliance versions with no binding actions
  bc_obps/compliance/service/supplementary_version_service.py
Due: mypy

chore: fix incorrect status assignment
  bc_obps/compliance/service/supplementary_version_service.py
Due: mypy

chore: protect .get calls where no version will exist
  bc_obps/compliance/service/compliance_report_version_service.py
Due: mypy

test: fix broken tests part 1
  bc_obps/compliance/tests/service/test_compliance_dashboard_service.py
  bc_obps/compliance/tests/utils/baker_recipes.py
Due: mypy

test: fix broken tests part 2
  bc_obps/compliance/tests/service/test_supplementary_version_service.py
Due: mypy

chore: fix some superceded logic in compliance report service
  bc_obps/compliance/service/compliance_report_version_service.py
  bc_obps/compliance/service/supplementary_version_service.py
Due: mypy

test: fix broken tests part 3
  bc_obps/compliance/tests/service/test_compliance_report_version_service.py
Due: mypy

chore: rebase migration fixes
  bc_obps/compliance/migrations/0031_compliancereportversion_superceded_status.py
  bc_obps/compliance/service/compliance_report_version_service.py
Due: mypy

chore: rebase fixes
  bc_obps/compliance/tests/service/test_supplementary_version_service.py
Due: mypy

test: fix broken tests part 4
  bc_obps/compliance/tests/service/test_compliance_dashboard_service.py
Due: mypy

chore: fix migrations after rebase
  bc_obps/compliance/migrations/0032_compliancereportversion_superceded_status.py
Due: mypy

test: add tests for supercede handler
  bc_obps/compliance/service/supplementary_version_service.py
  bc_obps/compliance/tests/service/test_supplementary_version_service.py
Due: mypy

chore: only supercede if all version ancestors have been superceded (history is clean)
  bc_obps/compliance/service/supplementary_version_service.py
Due: mypy

chore: flatten list of status before comparison in can_handle
  bc_obps/compliance/service/supplementary_version_service.py
Due: mypy

chore: update RLS grant/policy to allow deleting objects when version is superceded
  bc_obps/compliance/models/rls_configs/compliance_earned_credit.py
  bc_obps/compliance/models/rls_configs/compliance_obligation.py
Due: mypy

test: add test for exclusion of unclean history in supercede can_handle() logic
  bc_obps/compliance/tests/service/test_supplementary_version_service.py
Due: mypy

chore: cleanup from PR review
  bc_obps/compliance/service/compliance_report_version_service.py
  bc_obps/compliance/service/supplementary_version_service.py
  bc_obps/compliance/tests/service/test_compliance_dashboard_service.py
Due: mypy

chore: PR cleanup
  bc_obps/compliance/service/supplementary_version_service.py
Due: mypy

test: update RLS tests to include delete functions
  bc_obps/compliance/tests/models/test_compliance_earned_credit.py
  bc_obps/compliance/tests/models/test_compliance_obligation.py
Due: mypy

chore: squash compliance migrations
  bc_obps/compliance/migrations/0001_initial.py
  bc_obps/compliance/migrations/0004_alter_elicensinglink_object_id.py
  bc_obps/compliance/migrations/0004_generate_compliance_reports.py
  bc_obps/compliance/migrations/0005_complianceearnedcredit_and_more.py
  bc_obps/compliance/migrations/0006_elicensing_models.py
  bc_obps/compliance/migrations/0007_delete_elicensinglink.py
  bc_obps/compliance/migrations/0008_additonal_elicensing_line_item_fields.py
  bc_obps/compliance/migrations/0009_alter_complianceearnedcredit_compliance_report_version.py
  bc_obps/compliance/migrations/0010_elicensing_invoice_last_refreshed.py
  bc_obps/compliance/migrations/0011_compliancereport_bccr_subaccount_id.py
  bc_obps/compliance/migrations/0012_alter_compliancereportversion_status.py
  bc_obps/compliance/migrations/0013_complianceearnedcredit_restrict_bccr_trading_name_unless_not_issued.py
  bc_obps/compliance/migrations/0014_compliance_report_version_is_supplementary.py
  bc_obps/compliance/migrations/0015_remove_complianceearnedcredit_restrict_bccr_trading_name_unless_not_issued_and_more.py
  bc_obps/compliance/migrations/0016_elicensingpayment_method_and_receipt_number.py
  bc_obps/compliance/migrations/0017_complianceearnedcredit_bccr_issuance_id_and_more.py
  bc_obps/compliance/migrations/0018_penalty_models.py
  bc_obps/compliance/migrations/0019_alter_elicensingpayment_received_date.py
  bc_obps/compliance/migrations/0020_compliance_penalty_fkey_nullable_and_status.py
  bc_obps/compliance/migrations/0021_elicensingadjustment_supplementary_compliance_report_version.py
  bc_obps/compliance/migrations/0022_alter_compliancereportversion_status.py
  bc_obps/compliance/migrations/0023_compliancepenalty_fee_date.py
  bc_obps/compliance/migrations/0024_alter_elicensingadjustment_reason.py
  bc_obps/compliance/migrations/0025_elicensinginterestrate_is_current_rate_and_more.py
  bc_obps/compliance/migrations/0026_compliancereportversion_previous_version.py
  bc_obps/compliance/migrations/0027_alter_elicensingadjustment_adjustment_date_and_more.py
  bc_obps/compliance/migrations/0028_compliancepenalty_penalty_type_and_more.py
  bc_obps/compliance/migrations/0029_alter_compliancechargerate_reporting_year.py
Due: mypy

test: fix test with refresh_from_db()
  bc_obps/compliance/tests/service/test_supplementary_version_service.py
Due: mypy

chore: regenerate migration files using makemigrations command
  bc_obps/compliance/migrations/0001_initial.py
Due: mypy
