Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, pylint

eslint:
  name: ESLint
  language: system
  entry: ./.bin/pre-commit-lint.sh

pylint:
  name: pylint
  entry: bash -c "cd bc_obps && poetry run pylint --rcfile=.pylintrc *.py"
  language: system
  require_serial: true

chore: update email message text
  bciers/apps/registration/app/components/operations/OperationsForm.tsx
  bciers/apps/registration/app/components/userOperators/AccessRequestReceived.tsx
Due: eslint

docs: demo change
  docs/growthbook.md
Due: none

chore: remove duplicate line
  bc_obps/reporting/migrations/0002_sourcetype.py
Due: pylint

chore: add SourceType model and data
  bc_obps/reporting/migrations/0002_sourcetype.py
  bc_obps/reporting/models.py
Due: pylint

chore: erd diagram and prettier
  bc_obps/reporting/migrations/0002_sourcetype.py
  bc_obps/reporting/models.py
  erd_diagrams/erd_reporting.md
Due: pylint

chore: debug happo
  bciers/apps/registration/e2e/poms/operations.ts
Due: eslint

chore: cleanup
  bciers/apps/registration/e2e/utils/helpers.ts
  bciers/apps/registration/e2e/workflows/bceidbusiness/industry_user.spec.ts
  bciers/apps/registration/e2e/workflows/bceidbusiness/industry_user_admin.spec.ts
  bciers/apps/registration/e2e/workflows/idir/cas_admin.spec.ts
Due: eslint

Chore: updated requests package manually because dependabot didnt work
  bc_obps/poetry.lock
Due: none

Chore: updated requests package manually because dependabot didnt work (#1679)
  bc_obps/poetry.lock
Due: none

chore: debug happo
  bciers/apps/registration/e2e/poms/operators.ts
  bciers/apps/registration/e2e/workflows/idir/cas_admin.spec.ts
Due: eslint

chore: debug happo
  bciers/apps/registration/e2e/poms/operators.ts
  bciers/apps/registration/e2e/utils/enums.ts
  bciers/apps/registration/e2e/workflows/idir/cas_admin.spec.ts
Due: eslint

chore: operator 5 instead of 3
  bciers/apps/registration/e2e/workflows/idir/cas_admin.spec.ts
Due: eslint

chore: try to fix hover
  bciers/apps/registration/e2e/workflows/bceidbusiness/industry_user_admin.spec.ts
  bciers/apps/registration/e2e/workflows/idir/cas_admin.spec.ts
  bciers/apps/registration/e2e/workflows/idir/cas_analyst.spec.ts
Due: eslint

chore: debug ci
  bciers/apps/registration/e2e/poms/operations.ts
  bciers/apps/registration/e2e/workflows/idir/cas_admin.spec.ts
Due: eslint

chore: try to fix accordion
  bciers/apps/registration/e2e/workflows/idir/cas_admin.spec.ts
  bciers/apps/registration/e2e/workflows/idir/cas_analyst.spec.ts
Due: eslint

chore: fix linter
  bc_obps/service/user_profile_service.py
Due: pylint

chore: apply suggestions from code review
  bciers/apps/registration/app/components/userOperators/UserOperatorForm.tsx
  bciers/apps/registration/e2e/workflows/idir/cas_admin.spec.ts
Due: eslint

chore: apply suggestions from code review
  bc_obps/registration/api/v1/_user_operators/_current/access_requests.py
  bc_obps/registration/api/v1/_user_operators/_current/is_current_user_approved_admin.py
  bc_obps/registration/api/v1/_user_operators/current.py
Due: pylint

chore: apply suggestions from code review
  bc_obps/registration/tests/endpoints/v1/_operators/_operator_id/test_access_declined_endpoints.py
Due: pylint

Path conditions:
  eslint: any of: \.(j|t)sx?$
  pylint: any of: \.py$
