Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, mypy

prettier:
  name: Prettier
  language: system
  entry: ./.bin/pre-commit-format.sh

eslint:
  name: ESLint
  language: system
  entry: ./.bin/pre-commit-lint.sh

mypy:
  name: Mypy
  language: system
  entry: ./.bin/pre-commit-mypy.sh

chore: add 2025 reports to fixtures
  bc_obps/reporting/fixtures/mock/report.json
Due: prettier

chore: simplify booleans
  bciers/apps/reporting-e2e/tests/workflows/LFO/view-report.spec.ts
  bciers/apps/reporting-e2e/tests/workflows/SFO/view-report.spec.ts
  bciers/apps/reporting-e2e/utils/helpers.ts
Due: prettier, eslint

chore: move report_product_id false positive filter to the backend
  bc_obps/reporting/service/review_changes_service/report_review_changes_service.py
  bciers/apps/reporting/src/app/components/changeReview/templates/EmissionAllocationChangeView.tsx
Due: prettier, eslint, mypy

fix: undo pr 4616, remove report_product_id from noisy diff keys, and filter false positives from allocation of emissions categorized changes
  bc_obps/reporting/api/report_review_changes.py
  bc_obps/reporting/schema/report_product_emission_allocation.py
  bc_obps/reporting/service/report_emission_allocation_service.py
  bc_obps/reporting/service/review_changes_service/report_review_changes_service.py
  bc_obps/reporting/tests/api/test_report_emission_allocation_api.py
  bciers/apps/reporting/src/app/components/changeReview/templates/EmissionAllocationChangeView.tsx
Due: prettier, eslint, mypy

chore: resolve false-positive product diffs via safe normalization
  bc_obps/reporting/service/review_changes_service/report_review_changes_service.py
  bc_obps/reporting/tests/service/review_changes_service/test_review_changes_service.py
Due: mypy

test: add test_review_changes_service
  bc_obps/reporting/tests/service/review_changes_service/test_review_changes_service.py
Due: mypy

Update bc_obps/common/exceptions.py
  bc_obps/common/exceptions.py
Due: mypy

chore: standardize user-facing API errors as validation responses
  bc_obps/common/exceptions.py
  bc_obps/reporting/api/report_activity.py
  bc_obps/reporting/api/submit.py
  bc_obps/reporting/api_v2/forms/report_validation_data.py
  bc_obps/reporting/api_v2/utils/build_user_error_response.py
  bc_obps/reporting/api_v2/utils/validation_error_serializer.py
  bc_obps/service/error_service/custom_codes_4xx.py
  bciers/apps/reporting/src/app/components/activities/ActivityForm.tsx
  bciers/apps/reporting/src/app/components/signOff/SignOffForm.tsx
  bciers/apps/reporting/src/app/components/signOff/types.ts
  bciers/libs/actions/src/actions.ts
Due: prettier, eslint, mypy

refactor: move validation responses to top-level errors schema
  bc_obps/common/exceptions.py
  bc_obps/common/response/user_error_response_builder.py
  bc_obps/common/schema/User_error_schema.py
  bc_obps/reporting/api/report_activity.py
  bc_obps/reporting/api/submit.py
  bc_obps/reporting/api_v2/__init__.py
  bc_obps/reporting/api_v2/response_builder.py
  bc_obps/reporting/api_v2/utils/build_user_error_response.py
  bc_obps/reporting/api_v2/utils/validation_error_serializer.py
  bc_obps/reporting/api_v2/validation/report_validation_data.py
  bc_obps/reporting/api_v2/validation/validation_schema.py
  bc_obps/reporting/service/report_validation/report_validation_error.py
  bc_obps/reporting/tests/api_v2/validation/test_report_validation_data.py
  bciers/apps/reporting/src/app/components/signOff/SignOffForm.tsx
  bciers/apps/reporting/src/app/components/validation/ValidationPage.tsx
  bciers/apps/reporting/src/app/utils/reportValidationForm/getReportValidationData.ts
Due: prettier, eslint, mypy

chore: add Shon's normalized products suggestion and tests
  bc_obps/reporting/service/review_changes_service/report_review_changes_service.py
  bc_obps/reporting/tests/service/review_changes_service/test_review_changes_service.py
Due: mypy

chore: update tests
  .tool-versions
  bc_obps/reporting/api_v2/response_builder.py
  bc_obps/reporting/tests/api/test_submit_api.py
  bc_obps/reporting/tests/api_v2/validation/test_report_validation_data.py
  bciers/apps/reporting/src/tests/components/signOff/SignOffForm.test.tsx
  bciers/apps/reporting/src/tests/components/validation/ValidationPage.test.tsx
Due: prettier, eslint, mypy

chore: validator skeleton
  bc_obps/reporting/service/report_validation/validators/reporting_configuration_validator.py
Due: mypy

chore: wip
  bc_obps/reporting/service/report_validation/validators/reporting_configuration_validator.py
Due: mypy

chore: working validator
  bc_obps/reporting/service/report_validation/validators/reporting_configuration_validator.py
Due: mypy

chore: wip
  bc_obps/common/exceptions.py
  bc_obps/reporting/service/report_validation/validators/reporting_configuration_validator.py
Due: mypy

chore: raise error
  bc_obps/reporting/service/report_validation/validators/reporting_configuration_validator.py
Due: mypy

chore: validator checks the allowed methodology fields
  bc_obps/reporting/service/report_validation/validators/reporting_configuration_validator.py
Due: mypy

test: adding plugin to the list
  bc_obps/reporting/tests/service/report_validation/test_report_validation_service.py
Due: mypy

test: testing the validator
  bc_obps/reporting/service/report_validation/validators/__init__.py
  bc_obps/reporting/service/report_validation/validators/reporting_configuration_validator.py
  bc_obps/reporting/tests/service/report_validation/validators/test_reporting_configuration_validator.py
  bc_obps/reporting/tests/utils/baker_recipes.py
Due: mypy

chore: trigger github issue creation/update if nightly fails
  .github/workflows/nightly.yaml
Due: none

chore: add team mention in nightly failure issue
  .github/workflows/nightly.yaml
Due: none

chore: release v5.12.0
  CHANGELOG.md
  bc_obps/common/migrations/0125_V5_12_0.py
  bc_obps/compliance/migrations/0047_V5_12_0.py
  bc_obps/registration/migrations/0177_V5_12_0.py
  bc_obps/reporting/migrations/0192_V5_12_0.py
  bc_obps/rls/migrations/0058_V5_12_0.py
  bc_obps/task_scheduler/migrations/0030_V5_12_0.py
  helm/cas-bciers/Chart.yaml
  helm/migration-test/cas-obps-backend-migration-test/Chart.yaml
  package.json
Due: prettier, mypy

fix: make annualFuelAmount required on the front-end forms (to match backend requirements)
  bc_obps/reporting/json_schemas/2024/fuel_combustion_mobile/combustion_by_equipment.json
  bc_obps/reporting/migrations/0188_update_sourcetype_required_quarterly_fuel_amounts.py
  bc_obps/service/form_builder_service.py
Due: prettier, mypy

chore: added unit tests
  bc_obps/reporting/migrations/0188_update_sourcetype_required_quarterly_fuel_amounts.py
  bc_obps/service/form_builder_service.py
  bc_obps/service/tests/test_form_builder_service.py
  bciers/libs/components/src/form/fields/FuelAmountFieldTemplate.test.tsx
Due: prettier, eslint, mypy

chore: updated reporting e2e test spec with new annual fuel amount label (asterisk added)
  bciers/apps/reporting-e2e/poms/facility-report.ts
Due: prettier, eslint

chore: _helper.py functions completed but not yet tested
  bc_obps/reporting/migrations/_helpers.py
Due: mypy

docs: added instructions for manual db backup
  docs/devops/manual_db_backup.md
Due: prettier

chore: _helper.py function for reporting migrations in progress. Activity schemas loaded, source_type schemas not
  bc_obps/reporting/migrations/_helpers.py
Due: mypy

chore: deleted unneeded migration file
  bc_obps/reporting/migrations/0188_update_sourcetype_required_quarterly_fuel_amounts.py
Due: mypy

chore: refactored _helpers.py; updated SOME json schemas
  bc_obps/reporting/json_schemas/2024/aluminum_production/anode_consumption_acbgcc.json
  bc_obps/reporting/json_schemas/2024/aluminum_production/anode_effects.json
  bc_obps/reporting/json_schemas/2024/aluminum_production/cover_gas_from_electrolysis.json
  bc_obps/reporting/json_schemas/2024/carbonates_use/carbonates_use.json
  bc_obps/reporting/json_schemas/2024/cement_production/calcination_of_lssso.json
  bc_obps/reporting/json_schemas/2024/coal_storage/1_stored_coal_piles.json
  bc_obps/reporting/json_schemas/2024/electricity_generation/1_fuel_combustion_electricity_gen.json
  bc_obps/reporting/json_schemas/2024/electricity_generation/2_acid_gas_scrubbers_reagents.json
  bc_obps/reporting/json_schemas/2024/electricity_generation/3_cooling_units.json
  bc_obps/reporting/json_schemas/2024/electricity_generation/4_geothermal_geyser_steam_fluids.json
  bc_obps/reporting/json_schemas/2024/electricity_generation/5_electrical_equipment_install_maint_decom.json
  bc_obps/reporting/json_schemas/2024/electricity_transmission/installation_maint_operation_electrical_equipment.json
  bc_obps/reporting/json_schemas/2024/fuel_combustion_mobile/combustion_by_equipment.json
  bc_obps/reporting/json_schemas/2024/gsc_excluding_line_tracing/with_useful_energy.json
  bc_obps/reporting/json_schemas/2025/pulp_and_paper_production/pulp_and_paper_production.json
  bc_obps/reporting/migrations/_helpers.py
Due: prettier, mypy

chore: fixed create_or_update to update_or_create; added test_helpers file
  bc_obps/reporting/migrations/_helpers.py
  bc_obps/reporting/tests/migration/test_helpers.py
Due: mypy

chore: added new migration to reload json schemas
  bc_obps/reporting/migrations/0192_reload_json_schemas_updated_required_fields.py
Due: mypy

chore: RJSF schema updates in progress
  bc_obps/reporting/json_schemas/2024/electricity_generation/1_fuel_combustion_electricity_gen.json
  bc_obps/reporting/json_schemas/2024/gsc_excluding_line_tracing/with_useful_energy.json
  bc_obps/reporting/json_schemas/2024/gsc_excluding_line_tracing/without_useful_energy.json
  bc_obps/reporting/json_schemas/2024/gsc_non_compression_non_combustion/field_gas_process_vent_gas_at_lfo.json
  bc_obps/reporting/json_schemas/2024/gsc_non_compression_non_combustion/with_useful_energy.json
  bc_obps/reporting/json_schemas/2024/gsc_non_compression_non_combustion/without_useful_energy.json
  bc_obps/reporting/json_schemas/2024/gsc_other_than_non_compression/field_gas_process_vent_gas_at_lfo.json
  bc_obps/reporting/json_schemas/2024/gsc_other_than_non_compression/with_useful_energy.json
  bc_obps/reporting/json_schemas/2024/gsc_other_than_non_compression/without_useful_energy.json
  bc_obps/reporting/json_schemas/2024/gsc_solely_for_line_tracing/with_useful_energy.json
  bc_obps/reporting/json_schemas/2024/hydrogen_production/steam_reformation_or_gasification.json
  bc_obps/reporting/json_schemas/2024/industrial_water_processing/oil_water_separators.json
  bc_obps/reporting/json_schemas/2024/industrial_water_processing/wastewater_processing_using_anaerobic.json
  bc_obps/reporting/json_schemas/2024/lead_production/1_reducing agents.json
  bc_obps/reporting/json_schemas/2024/lime_manufacturing/1_calcination_of_carbonate.json
  bc_obps/reporting/json_schemas/2024/lng_activities/10_centrifugal_compressor_venting.json
  bc_obps/reporting/json_schemas/2024/lng_activities/11_reciprocating_compressor_venting.json
  bc_obps/reporting/json_schemas/2024/lng_activities/12_equipment_leaks_detected_using_leak_detection.json
  bc_obps/reporting/json_schemas/2024/lng_activities/13_population_count_sources.json
  bc_obps/reporting/json_schemas/2024/lng_activities/14_transmission_storage_tanks.json
  bc_obps/reporting/json_schemas/2024/lng_activities/15_enhanced_oil_recovery_injection_pump_blowdowns.json
  bc_obps/reporting/json_schemas/2024/lng_activities/16_produced_water_dissolved_carbon_dioxide_methane.json
  bc_obps/reporting/json_schemas/2024/lng_activities/17_enhanced_oil_recovery_produced_hydrocarbon_liquids.json
  bc_obps/reporting/json_schemas/2024/lng_activities/18_other_venting_sources.json
  bc_obps/reporting/json_schemas/2024/lng_activities/19_other_fugitive_sources.json
  bc_obps/reporting/json_schemas/2024/lng_activities/1_ng_pneumatic_high_bleed_device_venting.json
  bc_obps/reporting/json_schemas/2024/lng_activities/20_third_party_line_hits_with_release_of_gas.json
  bc_obps/reporting/json_schemas/2024/lng_activities/2_ng_pneumatic_pump_venting.json
  bc_obps/reporting/json_schemas/2024/lng_activities/3_ng_pneumatic_low_bleed_device_venting.json
  bc_obps/reporting/json_schemas/2024/lng_activities/4_ng_pneumatic_intermittent_device_venting.json
  bc_obps/reporting/json_schemas/2024/lng_activities/5_acid_gas_removal_venting_or_incineration.json
  bc_obps/reporting/json_schemas/2024/lng_activities/6_dehydrator_venting.json
  bc_obps/reporting/json_schemas/2024/lng_activities/7_blowdown_venting.json
  bc_obps/reporting/json_schemas/2024/lng_activities/8_releases_from_tanks_used_for_storage.json
  bc_obps/reporting/json_schemas/2024/lng_activities/9_flare_stacks.json
Due: prettier

chore: updated rest of json schemas; deleted some of the bad logic in form_builder_service
  bc_obps/reporting/json_schemas/2024/open_pit_coal_mining/coal_exposed_during_mining.json
  bc_obps/reporting/json_schemas/2024/petroleum_refining/10_uncontrolled_blowdown_systems.json
  bc_obps/reporting/json_schemas/2024/petroleum_refining/11_loading_operations.json
  bc_obps/reporting/json_schemas/2024/petroleum_refining/12_delayed_coking_units.json
  bc_obps/reporting/json_schemas/2024/petroleum_refining/13_coke_calcining.json
  bc_obps/reporting/json_schemas/2024/petroleum_refining/1_catalyst_regeneration.json
  bc_obps/reporting/json_schemas/2024/petroleum_refining/2_process_vents.json
  bc_obps/reporting/json_schemas/2024/petroleum_refining/3_asphalt_production.json
  bc_obps/reporting/json_schemas/2024/petroleum_refining/4_sulphur_recovery.json
  bc_obps/reporting/json_schemas/2024/petroleum_refining/5_flares.json
  bc_obps/reporting/json_schemas/2024/petroleum_refining/6_above_ground_storage_tanks.json
  bc_obps/reporting/json_schemas/2024/petroleum_refining/7_oil_water_separators.json
  bc_obps/reporting/json_schemas/2024/petroleum_refining/8_equipment_leaks_at_refineries.json
  bc_obps/reporting/json_schemas/2024/petroleum_refining/9_wastewater_processing.json
  bc_obps/reporting/json_schemas/2024/pulp_and_paper_production/pulp_and_paper_production.json
  bc_obps/reporting/json_schemas/2024/refinery_fuel_gas/combustion_of_refinery_gas.json
  bc_obps/reporting/json_schemas/2024/storage_of_petroleum_products/above_ground_storage_tanks.json
  bc_obps/reporting/json_schemas/2024/zinc_production/1_reducing agents.json
  bc_obps/service/form_builder_service.py
Due: prettier, mypy

chore: added error message that appears in UI when required fuelName is empty
  bc_obps/reporting/service/report_activity_save_service.py
  bc_obps/reporting/tests/migration/test_helpers.py
  bc_obps/reporting/tests/service/test_report_activity_save_service/test_save_report_fuel.py
  bciers/apps/reporting/src/app/components/activities/ActivityForm.tsx
  bciers/libs/utils/src/activityFormValidators.test.ts
  bciers/libs/utils/src/activityFormValidators.ts
Due: prettier, eslint, mypy

Path conditions:
  prettier: any of: \.(j|t)sx?$|\.json$|\.md$|\.css$|\.scss$, but not: (\.next/|node_modules/|dist/|build/|coverage/|\.nx/cache/)
  eslint: any of: \.(j|t)sx?$, but not: (\.next/|node_modules/|dist/|build/|coverage/|\.nx/cache/|tests/performance/)
  mypy: any of: \.py$
