Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3 # Use the sha or tag you want to point at
    hooks:
      - id: prettier
        name: Prettier
        stages: [commit]
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        language: system
        files: \.(j|t)sx?$
        entry: ./.bin/pre-commit-lint.sh

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-vcs-permalinks
      - id: check-yaml
        exclude: (^helm/.*/templates/)
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: debug-statements
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: bash -c "cd bc_obps && poetry run pylint --rcfile=.pylintrc *.py"
        language: system
        types: [python]
        require_serial: true

  - repo: https://github.com/python-poetry/poetry
    rev: 1.6.1
    hooks:
      - id: poetry-check
        args: ["-C", "./bc_obps"]
      - id: poetry-lock
        args: ["-C", "./bc_obps", "--check"] # --check to ensure lock file is up to date without updating it

  - repo: https://github.com/PyCQA/bandit
    rev: "1.7.5"
    hooks:
      - id: bandit
        args: ["-c", "bc_obps/bandit.yaml"]

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.2.5
    hooks:
      - id: gitleaks

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v8.0.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]

chore: update mock data
  bc_obps/registration/fixtures/mock/address.json
  bc_obps/registration/fixtures/mock/contact.json
  bc_obps/registration/fixtures/mock/operator.json
  bc_obps/registration/fixtures/mock/user.json
Due: none

chore: chore: refactor endpoints and ninja schemas
  bc_obps/registration/api/operation.py
  bc_obps/registration/api/user_operator.py
  bc_obps/registration/schema/address.py
  bc_obps/registration/schema/contact.py
  bc_obps/registration/schema/multiple_operator.py
  bc_obps/registration/schema/user.py
  bc_obps/registration/schema/user_operator.py
  bc_obps/registration/tests/endpoints/test_operator_endpoints.py
Due: pylint

chore: tweaks to fixtures and db related name
  bc_obps/registration/fixtures/mock/operator.json
  bc_obps/registration/migrations/0001_initial.py
  bc_obps/registration/models.py
Due: pylint

chore: cleanup
  bc_obps/registration/api/operation.py
  bc_obps/registration/schema/contact.py
Due: pylint

chore: combine `UserOut` and `UserProfileOut` schemas
  bc_obps/registration/api/user.py
  bc_obps/registration/schema/user.py
Due: pylint

chore: update address model comments and table name
  bc_obps/registration/migrations/0001_initial.py
  bc_obps/registration/models.py
Due: pylint

chore: spec work refactoring OperationsForm
  client/app/components/form/OperationsForm.tsx
Due: eslint

chore: update `AddressSchema` model_fields
  bc_obps/registration/schema/address.py
Due: pylint

chore: add `Address` and `BcObpsRegulatedOperation` model admins
  bc_obps/registration/admin.py
Due: pylint

chore: refactor `formData` to only include email and phone number
  client/app/components/routes/select-operator/form/UserOperator.tsx
Due: eslint

chore: update phone numbers format
  bc_obps/registration/fixtures/mock/contact.json
Due: none

chore: refactor and clean up code and app roles
  bc_obps/registration/api/business_structure.py
  bc_obps/registration/api/naics.py
  bc_obps/registration/api/operation.py
  bc_obps/registration/api/operator.py
  bc_obps/registration/api/regulated_products.py
  bc_obps/registration/api/reporting_activities.py
  bc_obps/registration/api/user.py
  bc_obps/registration/api/user_operator.py
  bc_obps/registration/models.py
  bc_obps/registration/schema/contact.py
  bc_obps/registration/schema/user.py
  bc_obps/registration/tests/endpoints/test_operations_endpoints.py
  bc_obps/registration/tests/endpoints/test_useroperator_endpoints.py
  bc_obps/registration/utils.py
Due: pylint

chore: make address field nullable in `UserAndContactCommonInfo` model
  bc_obps/registration/models.py
Due: pylint

chore: update migration file
  bc_obps/registration/migrations/0001_initial.py
Due: pylint

chore: add static methods to access app roles
  bc_obps/registration/models.py
Due: pylint

chore: methods for retrieving senior officer and verifying user as so
  bc_obps/registration/models.py
Due: pylint

chore: update contacts in operator.json
  bc_obps/registration/fixtures/mock/operator.json
Due: none

chore: audit fields constant to exclude from schemas
  bc_obps/registration/utils.py
Due: pylint

chore: remove unused uischema field
  client/app/utils/jsonSchema/operations.ts
Due: eslint

chore: use existing data field
  client/app/components/routes/access-requests/form/UserOperatorReview.tsx
Due: eslint

chore: use func wrapper to protect routes
  bc_obps/registration/api/business_structure.py
  bc_obps/registration/api/naics.py
  bc_obps/registration/api/operation.py
  bc_obps/registration/api/operator.py
  bc_obps/registration/api/regulated_products.py
  bc_obps/registration/api/reporting_activities.py
  bc_obps/registration/api/user.py
  bc_obps/registration/api/user_operator.py
  bc_obps/registration/decorators.py
Due: pylint

chore: remove "app_role" field since we are overriding it
  bc_obps/registration/schema/user.py
Due: pylint
