Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, pylint

eslint:
  name: ESLint
  language: system
  entry: ./.bin/pre-commit-lint.sh

pylint:
  name: pylint
  entry: bash -c "cd bc_obps && poetry run pylint --rcfile=.pylintrc *.py"
  language: system
  require_serial: true

chore: add nx build to github action builds
  .github/workflows/test.yaml
Due: none

chore: add policy for rep-frontend network
  helm/cas-registration/templates/NetworkPolicy/rep-frontend-allow-from-openshift-ingress.yaml
Due: none

fix: force nx to build each time
  .github/workflows/test.yaml
Due: none

fix: shorten service name
  helm/cas-registration/terraform/main.tf
Due: none

refactor: replace release name vars with helper
  helm/cas-registration/templates/NetworkPolicy/backend-allow-from-openshift-ingress.yaml
  helm/cas-registration/templates/NetworkPolicy/backendPostgresIngress.yaml
  helm/cas-registration/templates/NetworkPolicy/frontend-allow-from-openshift-ingress.yaml
  helm/cas-registration/templates/NetworkPolicy/intraRelease.yaml
  helm/cas-registration/templates/NetworkPolicy/postgresBackendIngress.yaml
  helm/cas-registration/templates/_helpers.tpl
  helm/cas-registration/templates/backend/route.yaml
  helm/cas-registration/templates/backend/secret.yaml
  helm/cas-registration/templates/backend/service.yaml
  helm/cas-registration/values-giraffe.yaml
  helm/cas-registration/values.yaml
Due: none

chore: add temporary action execution on push for testing
  .github/workflows/test.yaml
Due: none

chore: replace lts image with set version
  bciers/apps/reporting/Dockerfile
Due: none

chore: add reporting frontend as path on existing route
  helm/cas-registration/templates/reporting/rep-route.yaml
  helm/cas-registration/values-giraffe.yaml
  helm/cas-registration/values.yaml
Due: none

fix: remove testing branch from workflow
  .github/workflows/test.yaml
Due: none

refactor: move all reporting charts to same folder
  helm/cas-registration/templates/reporting/rep-frontend-allow-from-openshift-ingress.yaml
Due: none

docs: add preliminary Nx Build docs
  docs/nx-build.md
Due: none

refactor: rename charts within subdirectory
  helm/cas-registration/templates/reporting/deployment.yaml
  helm/cas-registration/templates/reporting/route.yaml
  helm/cas-registration/templates/reporting/service.yaml
Due: none

chore: make browser instance based on the available browser type
  client/e2e/utils/helpers.ts
Due: eslint

chore: e2e test parallel runs
  client/e2e/pages/authenticated/dashboard/page.spec.ts
  client/e2e/pages/authenticated/dashboard/profile/page.spec.ts
  client/e2e/pages/authenticated/routes/page.spec.ts
  client/e2e/pages/onboarding/home/page.spec.ts
  client/e2e/workflows/bceidbusiness/industry_user.spec.ts
  client/e2e/workflows/bceidbusiness/industry_user_admin.spec.ts
  client/e2e/workflows/bceidbusiness/new_user.spec.ts
  client/e2e/workflows/idir/cas_admin.spec.ts
  client/e2e/workflows/idir/cas_analyst.spec.ts
  client/e2e/workflows/idir/cas_pending.spec.ts
Due: eslint

chore: update sentry configs to only send 10 percent of transactions
  bc_obps/.env.example
  bc_obps/bc_obps/settings.py
  client/.env.example
  client/sentry.client.config.ts
  client/sentry.edge.config.ts
  client/sentry.server.config.ts
Due: eslint, pylint

chore: capture `API` errors and network issues in sentry
  client/app/utils/actions.ts
Due: eslint

chore: add sentry environment variable to be and fe deployments
  helm/cas-registration/templates/backend/deployment.yaml
  helm/cas-registration/templates/frontend/deployment.yaml
  helm/cas-registration/values-prod.yaml
Due: none

chore: apply code review suggestion
  bc_obps/.env.example
  client/.env.example
Due: none

chore: bump django-ninja version
  bc_obps/poetry.lock
  bc_obps/pyproject.toml
Due: none

chore: remove from_orm
  bc_obps/registration/api/operation.py
  bc_obps/registration/api/operator.py
  bc_obps/registration/api/user_operator.py
  bc_obps/registration/schema/operator.py
Due: pylint

chore: django-ninja updates after bump
  bc_obps/registration/schema/operation.py
  bc_obps/registration/schema/parent_operator.py
  bc_obps/registration/schema/user_operator.py
Due: pylint

chore: spec work
  bc_obps/registration/api/operation.py
  bc_obps/registration/schema/operation.py
  bc_obps/registration/tests/endpoints/test_operations_endpoints.py
  bc_obps/registration/tests/endpoints/test_useroperator_endpoints.py
Due: pylint

test: update test error messages
  bc_obps/registration/tests/endpoints/test_operator_endpoints.py
Due: pylint

chore: fix parent operator schema
  bc_obps/registration/schema/operator.py
  bc_obps/registration/schema/parent_operator.py
Due: pylint

chore: spec work
  bc_obps/registration/api/naics.py
  bc_obps/registration/schema/naics.py
Due: pylint

chore: update validators to field_validator
  bc_obps/registration/schema/operation.py
  bc_obps/registration/schema/parent_operator.py
  bc_obps/registration/schema/user_operator.py
Due: pylint

chore: spec work
  bc_obps/registration/api/operation.py
  bc_obps/registration/api/utils/parent_operator_utils.py
  bc_obps/registration/schema/operation.py
  bc_obps/registration/tests/endpoints/test_operations_endpoints.py
  bc_obps/registration/tests/test_utils.py
Due: pylint

chore: replace old keywords (config, model_fields and model_exclude)
  bc_obps/registration/api/business_structure.py
  bc_obps/registration/api/operation.py
  bc_obps/registration/api/regulated_products.py
  bc_obps/registration/api/reporting_activities.py
  bc_obps/registration/api/user.py
  bc_obps/registration/schema/address.py
  bc_obps/registration/schema/business_structure.py
  bc_obps/registration/schema/contact.py
  bc_obps/registration/schema/multiple_operator.py
  bc_obps/registration/schema/operation.py
  bc_obps/registration/schema/operator.py
  bc_obps/registration/schema/parent_operator.py
  bc_obps/registration/schema/regulated_products.py
  bc_obps/registration/schema/reporting_activities.py
  bc_obps/registration/schema/user.py
  bc_obps/registration/schema/user_operator.py
  docs/developer-guide.md
Due: pylint

chore: not passing the operator data based on the user role
  bc_obps/registration/api/operation.py
  bc_obps/registration/schema/operation.py
  bc_obps/registration/tests/endpoints/test_operations_endpoints.py
Due: pylint

chore: spec work
  bc_obps/registration/api/utils/parent_operator_utils.py
  bc_obps/registration/schema/operation.py
  bc_obps/registration/tests/test_utils.py
Due: pylint

chore: replace deprecated `json` with `model_dump_json`
  bc_obps/registration/tests/endpoints/test_operations_endpoints.py
  bc_obps/registration/tests/endpoints/test_user_endpoints.py
  bc_obps/registration/tests/endpoints/test_useroperator_endpoints.py
Due: pylint

chore: debug backend tests
  bc_obps/registration/schema/operation.py
Due: pylint

chore: create try/catch decorator
  bc_obps/registration/decorators.py
Due: pylint

chore: create handle_exception service
  bc_obps/registration/service/handle_exception.py
Due: pylint

chore: refactor user_operator endpoint
  bc_obps/registration/api/__init__.py
  bc_obps/registration/api/select_operator/request_access.py
  bc_obps/registration/api/select_operator/request_admin_access.py
  bc_obps/registration/api/select_operator/user_operator/update_status.py
  bc_obps/registration/api/select_operator/user_operator/user_operator_id.py
  bc_obps/registration/api/user_operator.py
  bc_obps/registration/api/user_operator/is_approved_admin_user_operator.py
  bc_obps/registration/api/user_operator/operator.py
  bc_obps/registration/api/user_operator/operator_access_declined.py
  bc_obps/registration/api/user_operator/operator_has_admin.py
  bc_obps/registration/api/user_operator/user_operator_from_user.py
  bc_obps/registration/api/user_operator/user_operator_id.py
  bc_obps/registration/api/user_operator/user_operator_initial_requests.py
  bc_obps/registration/api/user_operator/user_operator_list_from_user.py
  bc_obps/registration/api/user_operator/user_operator_operator.py
  bc_obps/registration/service/select_operator/RequestAccessService.py
  bc_obps/registration/service/select_operator/RequestAdminAccessService.py
  bc_obps/registration/service/select_operator/user_operator/GetUserOperatorService.py
  bc_obps/registration/service/select_operator/user_operator/UpdateStatus.py
  bc_obps/registration/service/user_operator/GetUserOperatorAccessDeclinedService.py
  bc_obps/registration/service/user_operator/GetUserOperatorAdminExistsService.py
  bc_obps/registration/service/user_operator/GetUserOperatorIdService.py
  bc_obps/registration/service/user_operator/GetUserOperatorListFromUserService.py
  bc_obps/registration/service/user_operator/GetUserOperatorOperatorService.py
  bc_obps/registration/service/user_operator/IsApprovedAdminUserOperatorService.py
  bc_obps/registration/service/user_operator/ListUserOperatorsService.py
  bc_obps/registration/service/user_operator/OperatorService.py
  bc_obps/registration/service/user_operator/UserOperatorFromUserService.py
  bc_obps/registration/tests/endpoints/test_useroperator_endpoints.py
Due: pylint

chore: apply suggestions from code review
  bc_obps/registration/api/select_operator/request_access.py
  bc_obps/registration/api/select_operator/request_admin_access.py
  bc_obps/registration/api/select_operator/user_operator/update_status.py
  bc_obps/registration/api/select_operator/user_operator/user_operator_id.py
  bc_obps/registration/api/user_operator/is_approved_admin_user_operator.py
  bc_obps/registration/api/user_operator/operator.py
  bc_obps/registration/api/user_operator/operator_access_declined.py
  bc_obps/registration/api/user_operator/operator_has_admin.py
  bc_obps/registration/api/user_operator/user_operator_from_user.py
  bc_obps/registration/api/user_operator/user_operator_id.py
  bc_obps/registration/api/user_operator/user_operator_initial_requests.py
  bc_obps/registration/api/user_operator/user_operator_list_from_user.py
  bc_obps/registration/api/user_operator/user_operator_operator.py
  bc_obps/registration/decorators.py
  bc_obps/registration/service/handle_exception.py
Due: pylint

Path conditions:
  eslint: any of: \.(j|t)sx?$
  pylint: any of: \.py$
