Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, pylint

eslint:
  name: ESLint
  language: system
  entry: ./.bin/pre-commit-lint.sh

pylint:
  name: pylint
  entry: bash -c "cd bc_obps && poetry run pylint --rcfile=.pylintrc *.py"
  language: system
  require_serial: true

test: add new tests and refactor existing fixtures
  bc_obps/registration/tests/test_models.py
Due: pylint

🧹 cleanup: role routes and spelling
  client/app/(authenticated)/bceid/industry_user/dashboard/operations/create/page.tsx
  client/app/(authenticated)/bceid/industry_user/dashboard/select-operator/page.tsx
  client/app/(authenticated)/bceid/industry_user_admin/dashboard/select-operator/page.tsx
  client/app/(authenticated)/idir/cas_admin/dashboard/operations/create/page.tsx
  client/app/(authenticated)/idir/cas_admin/dashboard/select-operator/(request-access)/confirm/[id]/page.tsx
  client/app/(authenticated)/idir/cas_admin/dashboard/select-operator/(request-access)/received/[id]/page.tsx
  client/app/(authenticated)/idir/cas_admin/dashboard/select-operator/page.tsx
  client/app/(authenticated)/idir/cas_analyst/dashboard/operations/create/page.tsx
  client/app/(authenticated)/idir/cas_analyst/dashboard/select-operator/(request-access)/confirm/[id]/page.tsx
  client/app/(authenticated)/idir/cas_analyst/dashboard/select-operator/(request-access)/received/[id]/page.tsx
  client/app/(authenticated)/idir/cas_analyst/dashboard/select-operator/page.tsx
  client/app/data/dashboard/cas_admin.json
  client/app/data/dashboard/cas_analyst.json
  client/app/data/dashboard/industry_user.json
Due: eslint

🧹 cleanup: role routes
  client/app/(authenticated)/bceid/industry_user/dashboard/operations/[operation]/page.tsx
  client/app/(authenticated)/bceid/industry_user/dashboard/operations/page.tsx
Due: eslint

Chore: deleted commented out code
  client/app/utils/jsonSchema/operations.ts
Due: eslint

chore: fix typo
  bc_obps/registration/migrations/0001_initial.py
  bc_obps/registration/models.py
Due: pylint

chore: add business role table, and fix typos and related names
  bc_obps/registration/models.py
Due: pylint

chore: update migration file
  bc_obps/registration/migrations/0001_initial.py
Due: pylint

chore: update user_operator file after adding business role table
  bc_obps/registration/api/user_operator.py
Due: pylint

chore: update contact roles in fixtures
  bc_obps/registration/fixtures/contact.json
Due: none

test: add business role model tests
  bc_obps/registration/tests/test_models.py
Due: pylint

chore: fix pre-commit
  bc_obps/registration/migrations/0001_initial.py
Due: pylint

feat: set max page width and center header and footer
  client/app/components/layout/Header.tsx
Due: eslint

refactor: add form base component and default rjsf theme
  client/app/components/form/OperationsForm.tsx
Due: eslint

fix: adjust main div padding
  client/app/(onboarding)/home/page.tsx
Due: eslint

fix: breadcrumbs hidden due to navidation updates
  client/app/(onboarding)/home/page.tsx
  client/app/components/layout/Header.tsx
Due: eslint

feat: create multi step button component
  client/app/components/form/MultiStepButtons.tsx
  client/app/components/form/OperationsForm.tsx
Due: eslint

chore: cleanup operations
  client/app/(authenticated)/dashboard/operations/create/[formSection]/page.tsx
  client/app/(authenticated)/dashboard/operations/page.tsx
Due: eslint

fix: pass form section titles to multistep header
  client/app/components/form/MultiStepFormBase.tsx
Due: eslint

fix: add multistep support to operations edit
  client/app/(authenticated)/dashboard/operations/[operation]/[formSection]/page.tsx
  client/app/components/datagrid/DataGrid.tsx
  client/app/components/form/OperationsForm.tsx
Due: eslint

feat: add multistep header
  client/app/components/form/MultiStepHeader.tsx
  client/app/components/form/OperationsForm.tsx
  client/app/styles/colors.ts
  client/app/utils/jsonSchema/operations.ts
  client/tailwind.config.js
Due: eslint

refactor: create multistep form base for reusable form pagination
  client/app/components/form/MultiStepButtons.tsx
  client/app/components/form/MultiStepFormBase.tsx
  client/app/components/form/OperationsForm.tsx
Due: eslint

refactor: destructure props in operations form
  client/app/components/form/OperationsForm.tsx
  client/app/components/routes/operations/form/Operation.tsx
  client/app/utils/jsonSchema/operations.ts
Due: eslint

Path conditions:
  eslint: any of: \.(j|t)sx?$
  pylint: any of: \.py$
