Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3 # Use the sha or tag you want to point at
    hooks:
      - id: prettier
        name: Prettier
        stages: [commit]

  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        language: system
        files: \.(j|t)sx?$
        entry: ./.bin/pre-commit-lint.sh
      - id: mypy
        name: Mypy
        language: system
        types: [python]
        entry: ./.bin/pre-commit-mypy.sh

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-vcs-permalinks
      - id: check-yaml
        exclude: (^helm/.*/templates/)
      - id: end-of-file-fixer
        exclude: (^erd_diagrams/)
      - id: trailing-whitespace
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        types: [python]
        args: ["--config", "bc_obps/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.2
    hooks:
      - id: ruff
        args: ["bc_obps/", "--fix"]

  - repo: https://github.com/python-poetry/poetry
    rev: 1.6.1
    hooks:
      - id: poetry-check
        args: ["-C", "./bc_obps"]
      - id: poetry-lock
        args: ["-C", "./bc_obps", "--check"] # --check to ensure lock file is up to date without updating it

  - repo: https://github.com/PyCQA/bandit
    rev: "1.7.5"
    hooks:
      - id: bandit
        args: ["-c", "bc_obps/bandit.yaml"]

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.2.5
    hooks:
      - id: gitleaks

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.16.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]

chore: update wording in InternalIssuanceStatusDeclinedNote
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/internal/track-status-of-issuance/InternalIssuanceStatusDeclinedNote.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/internal/track-status-of-issuance/InternalIssuanceStatusDeclinedNote.test.tsx
Due: eslint

chore: add ownership check to bccr account lookup
  bc_obps/compliance/api/_bccr/_accounts/_account_id/_compliance_report_versions/_compliance_report_version_id/account_id.py
  bc_obps/compliance/dataclass.py
  bc_obps/compliance/service/bc_carbon_registry/account_service.py
  bc_obps/compliance/service/bc_carbon_registry/apply_compliance_units_service.py
  bc_obps/compliance/service/bc_carbon_registry/schema.py
  bc_obps/compliance/tests/api/_bccr/_accounts/test_account_id.py
  bc_obps/compliance/tests/service/bc_carbon_registry/test_apply_compliance_units_service.py
  bc_obps/compliance/tests/service/bc_carbon_registry/test_bc_carbon_registry_api_client.py
  bc_obps/compliance/tests/service/bc_carbon_registry/test_bc_carbon_registry_service.py
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/apply-compliance-units/ApplyComplianceUnitsComponent.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/apply-compliance-units/ApplyComplianceUnitsComponent.test.tsx
Due: eslint, mypy

chore: refactor dashboard api for more use
  bc_obps/reporting/api/reporting_dashboard.py
  bc_obps/reporting/schema/dashboard.py
  bc_obps/reporting/service/reporting_dashboard_service.py
  bc_obps/reporting/tests/api/test_reporting_dashboard_endpoints.py
  bc_obps/reporting/tests/service/test_reporting_dashboard_service.py
  bciers/apps/reporting/src/app/components/operations/fetchAnnualReportsPageData.tsx
Due: eslint, mypy

feat: internal current reports grid
  bciers/apps/reporting/src/app/components/datagrid/models/annualReports/annualReportsColumns.tsx
  bciers/apps/reporting/src/app/components/datagrid/models/annualReports/annualReportsGroupColumns.ts
  bciers/apps/reporting/src/app/components/operations/ReportsBasePage.tsx
  bciers/apps/reporting/src/app/components/operations/annualReports.tsx
  bciers/apps/reporting/src/app/components/operations/annualReportsDataGrid.tsx
  bciers/apps/reporting/src/app/components/operations/annualReportsPage.tsx
  bciers/apps/reporting/src/app/components/operations/cells/ViewReportCell.tsx
  bciers/apps/reporting/src/app/components/operations/cells/ViewReportHistoryCell.tsx
  bciers/apps/reporting/src/app/components/operations/types.ts
  bciers/apps/reporting/src/app/idir/cas_admin/reports/[version_id]/page.tsx
  bciers/apps/reporting/src/app/idir/cas_admin/reports/current-reports/page.tsx
  bciers/apps/reporting/src/app/idir/cas_admin/reports/report-history/[report_id]/page.tsx
  bciers/apps/reporting/src/app/idir/cas_analyst/reports/[version_id]/page.tsx
  bciers/apps/reporting/src/app/idir/cas_analyst/reports/current-reports/page.tsx
  bciers/apps/reporting/src/app/idir/cas_analyst/reports/report-history/[report_id]/page.tsx
  bciers/apps/reporting/src/app/idir/cas_director/reports/[version_id]/page.tsx
  bciers/apps/reporting/src/app/idir/cas_director/reports/current-reports/page.tsx
  bciers/apps/reporting/src/app/idir/cas_director/reports/report-history/[report_id]/page.tsx
Due: eslint

chore: update authorization roles for report history
  bc_obps/common/tests/endpoints/auth/constants.py
  bc_obps/reporting/api/report_history.py
Due: mypy

chore: update get_reports description
  bc_obps/reporting/api/reporting_dashboard.py
  bc_obps/reporting/service/reporting_dashboard_service.py
Due: mypy

chore: rename dashboard report endpoint
  bc_obps/common/tests/endpoints/auth/constants.py
  bc_obps/reporting/api/reporting_dashboard.py
  bc_obps/reporting/tests/api/test_reporting_dashboard_endpoints.py
Due: mypy

chore: add internal report-history placeholder
  bciers/apps/reporting/src/app/idir/cas_admin/reports/past-reports/page.tsx
  bciers/apps/reporting/src/app/idir/cas_analyst/reports/past-reports/page.tsx
  bciers/apps/reporting/src/app/idir/cas_director/reports/past-reports/page.tsx
Due: eslint

chore: update tab titles
  bciers/apps/reporting/src/app/components/operations/ReportsBasePage.tsx
Due: eslint

chore: reports period filtering argument
  bc_obps/reporting/api/reporting_dashboard.py
  bc_obps/reporting/schema/dashboard.py
  bc_obps/reporting/service/reporting_dashboard_service.py
  bc_obps/reporting/tests/service/test_reporting_dashboard_service.py
  bciers/apps/reporting/src/app/components/operations/fetchAnnualReportsPageData.tsx
  bciers/apps/reporting/src/app/components/operations/fetchPastReportsPageData.tsx
Due: eslint, mypy

chore: refactor internal reports pages layouts
  bciers/apps/reporting/src/app/components/attachments/attachmentsList/AttachmentsListPage.tsx
  bciers/apps/reporting/src/app/components/operations/ReportsBasePage.tsx
  bciers/apps/reporting/src/app/components/operations/annualReportsPage.tsx
Due: eslint

chore: refactor reports pages to use ReportsBasePage
  bciers/apps/reporting/src/app/idir/cas_admin/reports/attachments/page.tsx
  bciers/apps/reporting/src/app/idir/cas_admin/reports/past-reports/page.tsx
  bciers/apps/reporting/src/app/idir/cas_admin/reports/previous-years/page.tsx
  bciers/apps/reporting/src/app/idir/cas_admin/reports/report-history/[report_id]/page.tsx
  bciers/apps/reporting/src/app/idir/cas_analyst/reports/attachments/page.tsx
  bciers/apps/reporting/src/app/idir/cas_analyst/reports/past-reports/page.tsx
  bciers/apps/reporting/src/app/idir/cas_analyst/reports/previous-years/page.tsx
  bciers/apps/reporting/src/app/idir/cas_analyst/reports/report-history/[report_id]/page.tsx
  bciers/apps/reporting/src/app/idir/cas_director/reports/attachments/page.tsx
  bciers/apps/reporting/src/app/idir/cas_director/reports/past-reports/page.tsx
  bciers/apps/reporting/src/app/idir/cas_director/reports/previous-years/page.tsx
  bciers/apps/reporting/src/app/idir/cas_director/reports/report-history/[report_id]/page.tsx
Due: eslint

chore: refactor params to update defaults and add descriptions
  dags/bc_obps_test_migrations.py
Due: mypy

fix: helm fails due to non-writable directory
  dags/bc_obps_test_migrations.py
Due: mypy

chore: add release workflow for helm charts
  .github/workflows/release-charts.yaml
Due: none

docs: update release process to specify airflow-test
  docs/devops/release.md
Due: none

chore: more docs
  docs/2024_code_review.md
Due: none

test: more rep dashboard service tests
  bc_obps/reporting/service/reporting_dashboard_service.py
  bc_obps/reporting/tests/api/test_reporting_dashboard_endpoints.py
  bc_obps/reporting/tests/service/test_reporting_dashboard_service.py
Due: mypy

chore: remove reporting fields from compliance rjsf schemas
  bciers/apps/compliance/src/app/data/jsonSchema/manageObligation/complianceSummaryReviewSchema.tsx
  bciers/apps/compliance/src/app/data/jsonSchema/manageObligation/internal/InternalComplianceSummaryReviewSchema.tsx
  bciers/apps/compliance/src/app/data/jsonSchema/metObligation/complianceSummaryReviewSchema.tsx
  bciers/apps/compliance/src/app/data/jsonSchema/noObligation/complianceSummaryReviewSchema.tsx
  bciers/apps/compliance/src/app/data/jsonSchema/requestIssuance/complianceSummaryReviewSchema.tsx
Due: eslint

chore: remove reporting data from get_compliance_report_version
  bc_obps/compliance/schema/compliance_report_version.py
  bc_obps/compliance/service/compliance_dashboard_service.py
  bc_obps/compliance/service/compliance_report_version_service.py
  bc_obps/compliance/tests/service/test_compliance_report_version_service.py
Due: mypy

chore: remove reporting data from get_earned_credit_data_by_report_version
  bc_obps/compliance/schema/compliance_earned_credits.py
Due: mypy

test: update tests after removing reporting data from compliance
  bc_obps/compliance/tests/api/_compliance_report_versions/test_compliance_report_version_id.py
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/internal/review-compliance-summary/InternalComplianceSummaryReviewComponent.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/review-compliance-summary/ComplianceSummaryReviewComponent.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/no-obligation/review-summary/ComplianceSummaryReviewComponent.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/review-compliance-summary/ComplianceSummaryReviewComponent.test.tsx
Due: eslint, mypy

chore: remove reporting data from get_earned_credit_data_by_report_version
  bc_obps/compliance/service/compliance_report_version_service.py
Due: mypy

refactor: unify report row types across components
  bciers/apps/reporting/src/app/components/datagrid/models/annualReports/annualReportsColumns.tsx
  bciers/apps/reporting/src/app/components/operations/PastReports.tsx
  bciers/apps/reporting/src/app/components/operations/PastReportsDataGrid.tsx
  bciers/apps/reporting/src/app/components/operations/annualReports.tsx
  bciers/apps/reporting/src/app/components/operations/annualReportsDataGrid.tsx
  bciers/apps/reporting/src/app/components/operations/types.ts
Due: eslint

test: annual reports columns test
  bciers/apps/reporting/src/tests/components/dataGrid/model/annualReports/annualReportsColumns.test.tsx
Due: eslint

chore: use operation name from reporting (not admin) in compliance
  bc_obps/compliance/api/_compliance_report_versions/_compliance_report_version_id/operation.py
  bc_obps/compliance/schema/compliance_report_version.py
  bc_obps/compliance/service/compliance_invoice_service.py
  bc_obps/compliance/service/compliance_report_version_service.py
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/apply-compliance-units/ApplyComplianceUnitsComponent.tsx
  bciers/apps/compliance/src/app/utils/getOperationByComplianceReportVersionId.ts
  bciers/apps/compliance/src/app/utils/getReportOperationByComplianceReportVersionId.ts
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/apply-compliance-units/ApplyComplianceUnitsComponent.test.tsx
Due: eslint, mypy

test: pytests for operation name in compliance
  bc_obps/compliance/tests/api/_compliance_report_versions/_compliance_report_version_id/test_operation.py
  bc_obps/compliance/tests/service/test_compliance_invoice_service.py
  bc_obps/compliance/tests/service/test_compliance_report_version_service.py
Due: mypy

chore: cleanup
  bc_obps/compliance/tests/service/test_compliance_invoice_service.py
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/apply-compliance-units/ApplyComplianceUnitsComponent.tsx
Due: eslint, mypy

chore: update next to 14.2.32
  package.json
  yarn.lock
Due: none

chore: align report aliases in compliance_report_version schema
  bc_obps/compliance/schema/compliance_report_version.py
  bc_obps/compliance/service/compliance_dashboard_service.py
  bc_obps/compliance/service/compliance_report_version_service.py
  bc_obps/compliance/tests/api/_compliance_report_versions/test_compliance_report_version_id.py
  bc_obps/compliance/tests/api/test_compliance_report_versions.py
  bc_obps/compliance/tests/service/test_compliance_dashboard_service.py
Due: mypy

chore: test fixtures
  bc_obps/reporting/fixtures/test/report.json
  bc_obps/reporting/fixtures/test/reporting_year.json
Due: none

chore: reporting fixtures for test data
  bc_obps/common/management/commands/custom_migrate.py
  bc_obps/reporting/fixtures/test/report.json
  bc_obps/reporting/management/commands/load_reporting_fixtures.py
  bc_obps/reporting/management/commands/load_reporting_test_data.py
  bc_obps/reporting/management/commands/utils.py
Due: mypy

chore: remove fixed height and margin from compliance units component layout
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/apply-compliance-units/ApplyComplianceUnitsComponent.tsx
Due: eslint

chore: adjust layout heights and spacing in compliance obligation components
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/apply-compliance-units/ApplyComplianceUnitsComponent.tsx
  bciers/apps/compliance/src/app/components/layout/ManageObligationLayout.tsx
Due: eslint

chore: internal declined note is conditional
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/internal/track-status-of-issuance/InternalIssuanceStatusDeclinedNote.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/internal/track-status-of-issuance/InternalTrackStatusOfIssuanceComponent.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/internal/track-status-of-issuance/InternalIssuanceStatusDeclinedNote.test.tsx
Due: eslint
