Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, mypy

prettier:
  name: Prettier
  language: system
  entry: ./.bin/pre-commit-format.sh

eslint:
  name: ESLint
  language: system
  entry: ./.bin/pre-commit-lint.sh

mypy:
  name: Mypy
  language: system
  entry: ./.bin/pre-commit-mypy.sh

chore: update poetry.lock
  bc_obps/poetry.lock
Due: none

chore: add helper text to complianceUnitsGrid explaining inherited units in the grid
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/review-compliance-summary/ComplianceSummaryReviewComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/review-compliance-summary/ComplianceUnitsGrid.tsx
Due: prettier, eslint

chore: pre-commit
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/review-compliance-summary/ComplianceSummaryReviewComponent.tsx
Due: prettier, eslint

chore: pre-commit
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/review-compliance-summary/ComplianceUnitsGrid.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/review-compliance-summary/ComplianceUnitsGrid.test.tsx
Due: prettier, eslint

test: add test for the inherited unit helper text
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/review-compliance-summary/ComplianceUnitsGrid.test.tsx
Due: prettier, eslint

chore: remove custom save as they were unused
  bc_obps/reporting/models/activity_json_schema.py
  bc_obps/reporting/models/activity_source_type_json_schema.py
  bc_obps/reporting/models/configuration_element.py
Due: mypy

chore: added regulated_name to backend activity schemas
  bc_obps/registration/schema/activities.py
  bc_obps/reporting/schema/report_operation.py
  bc_obps/reporting/tests/api/test_report_operation_api.py
  bc_obps/service/activity_service.py
  bc_obps/service/tests/test_activity_service.py
Due: mypy

feat: create multiselectwidgetwithtooltip
  bciers/libs/components/src/form/theme/readOnlyTheme.ts
  bciers/libs/components/src/form/widgets/MultiSelectWidget.tsx
  bciers/libs/components/src/form/widgets/MultiSelectWidgetWithTooltip.tsx
  bciers/libs/components/src/form/widgets/index.ts
Due: prettier, eslint

feat: add regulated_name tooltips to activity selectors
  bciers/apps/administration/app/data/jsonSchema/operationInformation/administrationRegistrationInformation.ts
  bciers/apps/registration/app/data/jsonSchema/operationInformation/registrationPurpose.ts
  bciers/apps/reporting/src/data/jsonSchema/operations.tsx
Due: prettier, eslint

chore: update types
  bciers/apps/reporting/src/app/components/facility/FacilityReviewPage.tsx
  bciers/apps/reporting/src/app/components/operations/types.ts
  bciers/apps/reporting/src/app/utils/getAllActivities.ts
  bciers/apps/reporting/src/app/utils/getReportOperationData.ts
  bciers/apps/reporting/src/data/jsonSchema/operations.tsx
Due: prettier, eslint

chore: improve tooltip handling and style
  bciers/libs/components/src/form/widgets/MultiSelectWidgetWithTooltip.test.tsx
  bciers/libs/components/src/form/widgets/MultiSelectWidgetWithTooltip.tsx
Due: prettier, eslint

chore: update widget to allow autocomplete
  bciers/libs/components/src/form/widgets/MultiSelectWidgetWithTooltip.tsx
Due: prettier, eslint

chore: replace widget with tooltip version in tests
  bciers/libs/components/src/form/widgets/MultiSelectWidgetWithTooltip.test.tsx
  bciers/libs/components/src/form/widgets/MultiSelectWidgetWithTooltip.tsx
  bciers/libs/components/src/form/widgets/OperationRepresentativeWidget.tsx
  bciers/libs/components/src/form/widgets/readOnly/ReadOnlyMultiSelectWidget.test.tsx
  bciers/libs/components/src/form/widgets/readOnly/ReadOnlyMultiSelectWidget.tsx
Due: prettier, eslint

chore: replace existing widget with tooltip version in schemas
  bciers/apps/administration/app/data/jsonSchema/operationInformation/administrationRegistrationInformation.ts
  bciers/apps/registration/app/data/jsonSchema/operationInformation/registrationPurpose.ts
  bciers/apps/registration/app/data/jsonSchema/transfer/transfer.ts
  bciers/apps/registration/app/data/jsonSchema/transfer/transferDetail.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/aluminumUiSchema.ts
  bciers/apps/reporting/src/data/jsonSchema/additionalReportingData/additionalReportingData.ts
  bciers/apps/reporting/src/data/jsonSchema/operations.tsx
  bciers/apps/reporting/src/data/jsonSchema/verification/verification.tsx
  bciers/libs/components/src/form/widgets/MultiSelectWidget.test.tsx
Due: prettier, eslint

test: added tests for widget
  bciers/libs/components/src/form/widgets/MultiSelectWidgetWithTooltip.test.tsx
Due: prettier, eslint

chore: revert changes to save override
  bc_obps/reporting/models/activity_json_schema.py
  bc_obps/reporting/models/activity_source_type_json_schema.py
  bc_obps/reporting/models/configuration_element.py
Due: mypy

chore: delete multiselectwidget
  bciers/libs/components/src/form/widgets/MultiSelectWidget.test.tsx
  bciers/libs/components/src/form/widgets/MultiSelectWidget.tsx
  bciers/libs/components/src/form/widgets/index.ts
Due: prettier, eslint

chore: fix broken tests
  bciers/apps/administration/tests/components/operations/OperationInformationForm.test.tsx
  bciers/apps/registration/tests/components/operations/registration/OperationInformationForm.test.tsx
Due: prettier, eslint

test: fix broken
  bciers/apps/reporting/src/data/jsonSchema/operations.tsx
  bciers/apps/reporting/src/tests/components/operations/OperationReviewForm.test.tsx
Due: prettier, eslint

chore: fix more any types
  bciers/apps/reporting/src/app/components/operations/OperationReviewForm.tsx
Due: prettier, eslint

chore: force drop down icon to appear
  bciers/libs/components/src/form/widgets/MultiSelectWidgetWithTooltip.tsx
Due: prettier, eslint

chore: revert alteration to test
  bciers/apps/registration/tests/components/operations/registration/OperationInformationForm.test.tsx
Due: prettier, eslint

chore: pulp and paper activity
  bc_obps/reporting/json_schemas/2025/pulp_and_paper_production/activity.json
  bc_obps/reporting/json_schemas/2025/pulp_and_paper_production/pulp_and_paper_production.json
  bc_obps/reporting/migrations/0153_create_2025_configuration.py
  bc_obps/reporting/migrations/0154_update_configuration_elements_for_2025.py
  bc_obps/reporting/migrations/0155_update_activity_schemas_for_2025.py
  bc_obps/reporting/migrations/0156_pulp_and_paper_biogenic_emissions_2025.py
  bc_obps/reporting/migrations/0157_pulp_and_paper_2025_configuration_elements.py
  bc_obps/reporting/tests/migration/test_0150_update_activity_json_schema_titles.py
  bc_obps/reporting/tests/service/test_report_activity_save_service/infrastructure.py
  bc_obps/reporting/tests/service/test_report_activity_save_service/test_report_activity_save_service_with_real_data.py
  bc_obps/service/form_builder_service.py
  bciers/apps/reporting/src/app/components/activities/ActivityForm.tsx
  bciers/apps/reporting/src/app/components/activities/ActivityPage.tsx
  bciers/apps/reporting/src/app/components/activities/uiSchemas/2025/pulpAndPaperUiSchema.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/schemaMaps.tsx
  bciers/apps/reporting/src/app/utils/constants.ts
  bciers/apps/reporting/src/tests/components/activities/ActivityForm.test.tsx
  bciers/libs/components/src/form/fields/GreyBoxWithLinkFieldTemplate.test.tsx
  bciers/libs/components/src/form/fields/GreyBoxWithLinkFieldTemplate.tsx
  bciers/libs/components/src/form/fields/index.ts
  bciers/libs/components/src/form/widgets/TextWidget.tsx
  bciers/libs/utils/src/activityFormValidators.test.ts
  bciers/libs/utils/src/activityFormValidators.ts
  bciers/libs/utils/src/customReportingActivityFormCalculations.test.ts
  bciers/libs/utils/src/customReportingActivityFormCalculations.ts
  bciers/libs/utils/src/customTransformErrors.ts
Due: prettier, eslint, mypy

chore: added requested changes
  bc_obps/reporting/json_schemas/2025/pulp_and_paper_production/activity.json
  bc_obps/reporting/migrations/0154_create_2025_configuration.py
  bc_obps/reporting/migrations/0155_update_configuration_elements_for_2025.py
  bc_obps/reporting/migrations/0156_update_activity_schemas_for_2025.py
  bc_obps/reporting/migrations/0157_pulp_and_paper_2025_configuration_elements.py
  bc_obps/reporting/migrations/0157_pulp_and_paper_biogenic_emissions_2025.py
  bciers/apps/reporting/src/app/components/activities/ActivityForm.tsx
  bciers/apps/reporting/src/app/components/activities/uiSchemas/2025/pulpAndPaperUiSchema.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/schemaMaps.tsx
  bciers/apps/reporting/src/app/utils/constants.ts
  bciers/apps/reporting/src/app/utils/numberUtils.ts
  bciers/apps/reporting/src/tests/components/activities/ActivityForm.test.tsx
  bciers/libs/components/src/form/fields/BiogenicEmissionsSplitFieldTemplate.test.tsx
  bciers/libs/components/src/form/fields/BiogenicEmissionsSplitFieldTemplate.tsx
  bciers/libs/components/src/form/fields/GreyBoxWithLinkFieldTemplate.test.tsx
  bciers/libs/components/src/form/fields/GreyBoxWithLinkFieldTemplate.tsx
  bciers/libs/components/src/form/fields/index.ts
  bciers/libs/utils/src/activityFormValidators.test.ts
  bciers/libs/utils/src/activityFormValidators.ts
  bciers/libs/utils/src/customReportingActivityFormCalculations.test.ts
  bciers/libs/utils/src/customReportingActivityFormCalculations.ts
  bciers/libs/utils/src/customTransformErrors.ts
Due: prettier, eslint, mypy

chore: add e2e start supplementary report
  bciers/apps/compliance-e2e/poms/compliance-setup.ts
  bciers/apps/compliance-e2e/tests/workflows/manage-obligation/report-compliance-obligation.spec.ts
  bciers/apps/compliance-e2e/tests/workflows/manage-obligation/report-compliance/obligation.spec.ts
  bciers/apps/compliance-e2e/tests/workflows/manage-obligation/report-compliance/supplementary/decrease.spec.ts
  bciers/apps/compliance-e2e/tests/workflows/no-obligation/report-compliance/no-obligation-no-earned-credits.spec.ts
  bciers/apps/compliance-e2e/tests/workflows/request-issuance/report-compliance/earned-credits.spec.ts
  bciers/apps/compliance-e2e/utils/enums.ts
  bciers/apps/reporting-e2e/poms/current-reports.ts
  bciers/apps/reporting-e2e/poms/report-setup.ts
  bciers/apps/reporting-e2e/utils/constants.ts
  bciers/apps/reporting-e2e/utils/enums.ts
  bciers/libs/e2e/src/utils/helpers.ts
Due: prettier, eslint

chore: update e2eStubEndpoint
  bc_obps/compliance/api/e2e_integration_stub/scenarios/submit_report.py
  bciers/apps/compliance-e2e/poms/compliance-summaries.ts
  bciers/apps/compliance-e2e/poms/manage-obligation/review-compliance-obligation.ts
  bciers/apps/compliance-e2e/tests/workflows/manage-obligation/report-compliance/obligation.spec.ts
  bciers/apps/compliance-e2e/tests/workflows/manage-obligation/report-compliance/supplementary/decrease.spec.ts
  bciers/apps/compliance-e2e/tests/workflows/manage-obligation/supplementary/decrease.spec.ts
  bciers/apps/compliance-e2e/utils/constants.ts
  bciers/apps/reporting-e2e/poms/current-reports.ts
  bciers/apps/reporting-e2e/poms/report-setup.ts
  bciers/apps/reporting-e2e/utils/constants.ts
  bciers/apps/reporting-e2e/utils/enums.ts
  bciers/libs/e2e/src/utils/constants.ts
  bciers/libs/e2e/src/utils/helpers.ts
Due: prettier, eslint, mypy

chore: add e2e prime reporting_year\report_open_date
  bciers/apps/compliance-e2e/tests/workflows/manage-obligation/supplementary/supplementary-report.spec.ts
  bciers/apps/reporting-e2e/poms/current-reports.ts
  bciers/apps/reporting-e2e/poms/report-setup.ts
  bciers/apps/reporting-e2e/utils/constants.ts
  bciers/apps/reporting-e2e/utils/enums.ts
  bciers/libs/e2e/src/utils/constants.ts
  bciers/libs/e2e/src/utils/helpers.ts
Due: prettier, eslint

chore: add pdf-parse package
  bciers/apps/compliance-e2e/poms/manage-obligation/obligation-invoice.ts
  bciers/apps/compliance-e2e/poms/manage-obligation/review-compliance-obligation.ts
  bciers/apps/compliance-e2e/tests/workflows/manage-obligation/supplementary/decrease.spec.ts
  bciers/apps/compliance-e2e/utils/constants.ts
  bciers/libs/e2e/src/utils/helpers.ts
  bciers/package.json
Due: prettier, eslint

chore: pin higher version of tar
  bciers/package.json
  bciers/yarn.lock
Due: prettier

chore: e2e add supplementary obligation decrease
  bciers/apps/compliance-e2e/poms/compliance-setup.ts
  bciers/apps/compliance-e2e/poms/compliance-summaries.ts
  bciers/apps/compliance-e2e/poms/manage-obligation/review-compliance-obligation.ts
  bciers/apps/compliance-e2e/tests/workflows/manage-obligation/report-compliance-obligation.spec.ts
  bciers/apps/compliance-e2e/tests/workflows/manage-obligation/report-compliance/obligation.spec.ts
  bciers/apps/compliance-e2e/tests/workflows/manage-obligation/supplementary/decrease.spec.ts
  bciers/apps/compliance-e2e/tests/workflows/no-obligation/report-compliance/no-obligation-no-earned-credits.spec.ts
  bciers/apps/compliance-e2e/tests/workflows/request-issuance/report-compliance/earned-credits.spec.ts
  bciers/apps/compliance-e2e/utils/constants.ts
  bciers/apps/compliance-e2e/utils/enums.ts
  bciers/apps/reporting-e2e/poms/current-reports.ts
  bciers/apps/reporting-e2e/poms/report-setup.ts
  bciers/apps/reporting-e2e/utils/constants.ts
  bciers/apps/reporting-e2e/utils/enums.ts
Due: prettier, eslint

chore: add pdf-parse package
  bciers/package.json
  bciers/yarn.lock
Due: prettier

chore: refactor emission allocation verification methods
  bciers/apps/reporting/src/app/components/facility/FacilityEmissionAllocationForm.tsx
  bciers/apps/reporting/src/app/components/facility/facilityEmissionAllocation/types.ts
  bciers/apps/reporting/src/app/components/facility/facilityEmissionAllocation/validateEmissions.ts
  bciers/apps/reporting/src/app/components/facility/facilityEmissionAllocation/validateMethodology.ts
  bciers/apps/reporting/src/app/components/facility/facilityEmissionAllocation/validatePulpAndPaper.ts
Due: prettier, eslint

chore: cleanup
  bciers/package.json
  bciers/yarn.lock
Due: prettier

test: update tests for new functionality in process_obligation_integration
  bc_obps/compliance/tests/service/elicensing/test_elicensing_obligation_service.py
Due: mypy

chore: add invoice_number field to compliance_obligation model
  bc_obps/compliance/migrations/0028_complianceobligation_add_invoice_number_and_populate.py
  bc_obps/compliance/models/compliance_obligation.py
Due: mypy

Path conditions:
  prettier: any of: \.(j|t)sx?$|\.json$|\.md$|\.css$|\.scss$, but not: (\.next/|node_modules/|dist/|build/|coverage/|\.nx/cache/)
  eslint: any of: \.(j|t)sx?$, but not: (\.next/|node_modules/|dist/|build/|coverage/|\.nx/cache/|tests/performance/)
  mypy: any of: \.py$
