Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, pylint

eslint:
  name: ESLint
  language: system
  entry: ./.bin/pre-commit-lint.sh

pylint:
  name: pylint
  entry: pylint
  language: system
  require_serial: true
  args:
  - --source-roots=./bc_obps
  - --recursive=y

chore: use server action to force refresh
  client/app/components/Form/operationsForm.tsx
  client/app/operations/[operation]/page.tsx
  client/app/operations/create/page.tsx
  client/app/operations/page.tsx
  client/app/utils/forceRefresh.ts
  client/next.config.js
Due: eslint

docs: explain server vs client components and caching
  docs/server-vs-client-rendering.md
Due: none

chore: cleanup
  bc_obps/registration/api.py
Due: pylint

chore: create loading component
  client/app/components/loading.tsx
Due: eslint

chore: set up schemas
  bc_obps/registration/api.py
  client/app/components/Form/operationsForm.tsx
  client/app/operations/[operation]/page.tsx
  client/app/operations/create/page.tsx
  client/jsonSchema/operations.ts
Due: eslint, pylint

chore: cleanup and refactor
  client/app/components/Form/operationsForm.tsx
  client/app/operations/[operation]/page.tsx
  client/app/operations/create/page.tsx
  client/app/operations/page.tsx
Due: eslint

chore: fix ts errors
  client/app/operations/create/page.tsx
  client/app/operations/page.tsx
  client/package.json
Due: eslint

chore: try to add decimal type
  bc_obps/registration/api.py
Due: pylint

chore: remove button toolkit
  client/package.json
  client/yarn.lock
Due: none

chore: try to typecast operation form data
  client/app/components/Form/operationsForm.tsx
  client/app/operations/[operation]/page.tsx
  client/app/operations/page.tsx
Due: eslint

chore: rename operations grid
  client/app/components/DataGrid/OperationsGrid.tsx
  client/app/operations/page.tsx
Due: eslint

chore: fix yarn lock
  client/yarn.lock
Due: none

chore: fix type
  client/app/components/Form/operationsForm.tsx
Due: eslint

style: proper button colours
  client/app/components/DataGrid/OperationsGrid.tsx
  client/app/components/Form/operationsForm.tsx
  client/app/operations/page.tsx
Due: eslint

style: style with mui theme
  client/app/components/DataGrid/OperationsGrid.tsx
  client/app/components/Form/operationsForm.tsx
  client/app/layout.tsx
  client/app/operations/page.tsx
  client/package.json
  client/theme/EmotionCache.tsx
  client/theme/ThemeRegistry.tsx
  client/yarn.lock
Due: eslint

chore: post-rebase cleanup
  client/app/layout.tsx
  client/package.json
  client/redux/features/django/index.ts
  client/redux/features/django/slice.ts
  client/redux/features/operations/index.ts
  client/redux/features/operations/operationsSlice.ts
  client/redux/features/operations/types.ts
  client/yarn.lock
Due: eslint

chore: fix conflicts
  client/app/layout.tsx
  client/package.json
Due: eslint

chore: fix type errors
  client/app/components/Form/operationsForm.tsx
  client/app/page.tsx
  client/theme/ThemeRegistry.tsx
Due: eslint

style: add colours folder
  client/app/colors/colors.ts
Due: eslint

Path conditions:
  eslint: any of: \.(j|t)sx?$
  pylint: any of: \.py$
