Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3 # Use the sha or tag you want to point at
    hooks:
      - id: prettier
        name: Prettier
        stages: [commit]

  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        language: system
        files: \.(j|t)sx?$
        entry: ./.bin/pre-commit-lint.sh
      - id: mypy
        name: Mypy
        language: system
        types: [python]
        entry: ./.bin/pre-commit-mypy.sh

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-vcs-permalinks
      - id: check-yaml
        exclude: (^helm/.*/templates/)
      - id: end-of-file-fixer
        exclude: (^erd_diagrams/)
      - id: trailing-whitespace
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        types: [python]
        args: ["--config", "bc_obps/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.2
    hooks:
      - id: ruff
        args: ["bc_obps/", "--fix"]

  - repo: https://github.com/python-poetry/poetry
    rev: 1.6.1
    hooks:
      - id: poetry-check
        args: ["-C", "./bc_obps"]
      - id: poetry-lock
        args: ["-C", "./bc_obps", "--check"] # --check to ensure lock file is up to date without updating it

  - repo: https://github.com/PyCQA/bandit
    rev: "1.7.5"
    hooks:
      - id: bandit
        args: ["-c", "bc_obps/bandit.yaml"]

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.2.5
    hooks:
      - id: gitleaks

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.16.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]

chore: remove try catch
  bc_obps/compliance/service/elicensing/obligation_elicensing_service.py
Due: mypy

chore: check
  bc_obps/compliance/api/__init__.py
  bc_obps/compliance/api/_summaries/_summary_id/payments.py
  bc_obps/compliance/api/summaries.py
  bc_obps/compliance/schema/payments.py
  bc_obps/compliance/service/compliance_dashboard_service.py
  bc_obps/compliance/service/elicensing/elicensing_api_client.py
  bc_obps/compliance/service/elicensing/obligation_elicensing_service.py
  bc_obps/compliance/service/elicensing/schema.py
  bciers/apps/compliance/src/app/components/compliance-summary/compliance-summary-review/ComplianceSummaryReviewComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/review-compliance-summary/fetchComplianceSummaryReviewPageData.ts
Due: eslint, mypy

chore: add adjustments
  bc_obps/compliance/service/compliance_dashboard_service.py
  bc_obps/compliance/service/elicensing/obligation_elicensing_service.py
  bc_obps/compliance/service/elicensing/schema.py
Due: mypy

chore: refactor query invoice
  bc_obps/compliance/service/elicensing/elicensing_api_client.py
Due: mypy

chore: fix lint
  bc_obps/compliance/service/compliance_dashboard_service.py
  bc_obps/compliance/service/elicensing/obligation_elicensing_service.py
  bc_obps/compliance/service/elicensing/schema.py
Due: mypy

chore: fix merge conflicts
  bc_obps/compliance/api/summaries.py
  bc_obps/compliance/service/elicensing/obligation_elicensing_service.py
  bciers/apps/compliance/src/app/components/compliance-summary/compliance-summary-review/ComplianceSummaryReviewComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/compliance-summary-review/ComplianceSummaryReviewPage.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/review-compliance-summary/ComplianceObligation.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/review-compliance-summary/ComplianceSummaryReviewComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/review-compliance-summary/ComplianceSummaryReviewPage.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/review-compliance-summary/fetchComplianceSummaryReviewPageData.ts
  bciers/apps/compliance/src/app/components/datagrid/models/manetary-payments/monetaryPaymentsColumns.tsx
Due: eslint, mypy

chore: add more tests
  bc_obps/compliance/tests/service/test_compliance_dashboard_service.py
Due: mypy

chore: add more tests
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/review-compliance-summary/MonetaryPaymentsAlertNote.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/review-compliance-summary/MonetaryPaymentsGrid.test.tsx
Due: eslint

chore: add more tests
  bc_obps/service/tests/compliance/elicensing/test_obligation_elicensing_service.py
Due: mypy

chore: fix something
  bc_obps/bc_obps/api.py
  bc_obps/compliance/api/_summaries/_summary_id/payments.py
  bc_obps/compliance/service/compliance_dashboard_service.py
  bc_obps/reporting/migrations/0093_reportsignoff_acknowledgement_of_errors.py
Due: mypy

chore: fix something else
  bc_obps/bc_obps/api.py
  bc_obps/compliance/api/summaries.py
  bc_obps/reporting/tests/api/test_electricity_import_endpoint.py
Due: mypy

chore: fix tests
  bc_obps/compliance/tests/service/test_compliance_dashboard_service.py
  bc_obps/service/tests/compliance/elicensing/test_obligation_elicensing_service.py
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/review-compliance-summary/ComplianceSummaryReviewComponent.tsx
Due: eslint, mypy

chore: fix pre-commit
  bc_obps/compliance/service/compliance_dashboard_service.py
  bc_obps/reporting/tests/service/test_electricity_import_data_service.py
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/review-compliance-summary/MonetaryPaymentsAlertNote.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/review-compliance-summary/MonetaryPaymentsGrid.test.tsx
  bciers/apps/reporting/src/tests/components/eio/ElectricityInformationForm.test.tsx
Due: eslint, mypy

chore: not use schemas in services
  bc_obps/compliance/service/compliance_dashboard_service.py
  bc_obps/compliance/tests/service/test_compliance_dashboard_service.py
Due: mypy

chore: pytestmark
  bc_obps/service/tests/compliance/elicensing/test_obligation_elicensing_service.py
Due: mypy

chore: fix pytests
  bc_obps/common/tests/endpoints/auth/constants.py
  bc_obps/compliance/tests/service/elicensing/test_elicensing_api_client.py
Due: mypy

chore: fix tests
  bc_obps/compliance/api/_summaries/_summary_id/payments.py
  bc_obps/compliance/migrations/0008_alter_elicensinglink_object_id.py
  bc_obps/compliance/migrations/0009_convert_elicensing_link_object_id_to_char.py
  bc_obps/compliance/models/elicensing_link.py
  bc_obps/compliance/service/compliance_dashboard_service.py
  bc_obps/compliance/service/elicensing/elicensing_link_service.py
  bc_obps/compliance/service/elicensing/obligation_elicensing_service.py
  bc_obps/compliance/tests/service/elicensing/test_elicensing_link_service.py
  bc_obps/compliance/tests/test_elicensing_link.py
  bc_obps/service/tests/compliance/elicensing/test_obligation_elicensing_service.py
Due: mypy

chore: fix tests
  bc_obps/compliance/tests/service/elicensing/test_elicensing_link_service.py
  bc_obps/compliance/tests/utils/baker_recipes.py
Due: mypy

chore: fix tests
  bc_obps/compliance/tests/service/test_compliance_dashboard_service.py
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/review-compliance-summary/MonetaryPaymentsGrid.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/review-compliance-summary/MonetaryPaymentsGrid.test.tsx
Due: eslint, mypy

chore: fix tests
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/review-compliance-summary/MonetaryPaymentsGrid.test.tsx
Due: eslint

chore: pre-commit
  bc_obps/reporting/migrations/0098_reportelectricityimportdata_and_more.py
Due: mypy

chore: fix migrations
  bc_obps/compliance/migrations/0008_alter_elicensinglink_object_id.py
  bc_obps/compliance/migrations/0009_alter_elicensinglink_object_id.py
Due: mypy

chore: send correct email template to confirm registration
  bc_obps/registration/emails.py
  bc_obps/registration/enums/enums.py
  bc_obps/service/operation_service.py
Due: mypy

chore: cleanup old email functions
  bc_obps/common/tests/test_email_service.py
  bc_obps/service/email/email_service.py
Due: mypy

test: update email pytests
  bc_obps/registration/tests/test_emails.py
  bc_obps/service/tests/test_operation_service.py
Due: mypy

docs: update docs for sending emails locally
  docs/backend/data-models.md
Due: none

chore: uncomment RLS setup
  bc_obps/rls/utils/manager.py
  bc_obps/rls/utils/policy.py
Due: mypy

chore: spec work on operation policy
  bc_obps/registration/models/rls_configs/operation.py
  bc_obps/rls/utils/helpers.py
  bc_obps/rls/utils/manager.py
  bc_obps/rls/utils/policy.py
Due: mypy

chore: spec work on operation policy
  bc_obps/rls/utils/policy.py
Due: mypy

chore: spec work on operation policy
  bc_obps/rls/utils/helpers.py
Due: mypy

chore: fixed eio sign off statement
  bciers/apps/reporting/src/data/jsonSchema/signOff/signOff.ts
Due: eslint

wip
  bc_obps/reporting/models/rls_configs/facility_report.py
  bc_obps/reporting/models/rls_configs/report.py
  bc_obps/reporting/models/rls_configs/report_verification.py
  bc_obps/reporting/models/rls_configs/report_verification_visit.py
  bc_obps/reporting/models/rls_configs/report_version.py
  bc_obps/rls/utils/helpers.py
  bc_obps/rls/utils/manager.py
  bc_obps/rls/utils/policy.py
Due: mypy

fix: added forward-only prod data migration to remove old contacts associated with operations that have been transferred
  bc_obps/registration/migrations/0112_prod_fix_contacts_post_transfer.py
Due: mypy

chore: removed print statements; improved description for script
  bc_obps/registration/migrations/0112_prod_fix_contacts_post_transfer.py
Due: mypy

fix: added forward-only prod data migration to remove old contacts as… (#3344)
  bc_obps/registration/migrations/0112_prod_fix_contacts_post_transfer.py
Due: mypy
