Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3 # Use the sha or tag you want to point at
    hooks:
      - id: prettier
        name: Prettier
        stages: [commit]
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        language: system
        files: \.(j|t)sx?$
        entry: ./.bin/pre-commit-lint.sh

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-vcs-permalinks
      - id: check-yaml
        exclude: (^helm/.*/templates/)
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: debug-statements
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: bash -c "cd bc_obps && poetry run pylint --rcfile=.pylintrc *.py"
        language: system
        types: [python]
        require_serial: true

  - repo: https://github.com/python-poetry/poetry
    rev: 1.6.1
    hooks:
      - id: poetry-check
        args: ["-C", "./bc_obps"]
      - id: poetry-lock
        args: ["-C", "./bc_obps", "--check"] # --check to ensure lock file is up to date without updating it

  - repo: https://github.com/PyCQA/bandit
    rev: "1.7.5"
    hooks:
      - id: bandit
        args: ["-c", "bc_obps/bandit.yaml"]

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.2.5
    hooks:
      - id: gitleaks

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v8.0.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]

chore: update test helper
  bc_obps/registration/tests/utils/helpers.py
Due: pylint

chore: refactor create_or_update_multiple_operators function
  bc_obps/registration/api/operation.py
Due: pylint

chore: refactor user_operator endpoints
  bc_obps/registration/api/user_operator.py
Due: pylint

chore: update and refactor operation endpoints
  bc_obps/registration/api/operation.py
Due: pylint

chore: refactor user access checks in operation API
  bc_obps/registration/api/operation.py
Due: pylint

test: using the same operator when updating an operation
  bc_obps/registration/tests/endpoints/test_operations_endpoints.py
Due: pylint

chore: remove unused verified_at and verified_by fields
  client/app/components/form/OperationsForm.tsx
  client/app/components/routes/operations/types.ts
  client/app/utils/jsonSchema/operations.ts
  client/tests/components/form/OperationsForm.test.tsx
  client/tests/routes/operations/Operations.test.tsx
Due: eslint

feat: disable user operator multistep form if status is pending
  client/app/components/form/UserOperatorMultiStepForm.tsx
Due: eslint

refactor: operation form disabled logic
  client/app/components/form/OperationsForm.tsx
  client/app/components/form/UserOperatorMultiStepForm.tsx
Due: eslint

fix: status enum import
  client/app/components/form/UserOperatorMultiStepForm.tsx
Due: eslint

chore: spec work
  bc_obps/bc_obps/settings.py
  bc_obps/registration/api/naics.py
  bc_obps/registration/middleware/file_upload_middleware.py
  client/app/(authenticated)/idir/cas_admin/brianna/page.tsx
Due: eslint, pylint

chore: spec work
  client/app/(authenticated)/idir/cas_admin/brianna/page.tsx
Due: eslint

chore: add is_new column to operator table
  bc_obps/registration/migrations/0001_initial.py
  bc_obps/registration/models.py
Due: pylint

chore: update fixtures
  bc_obps/registration/fixtures/mock/operator.json
  bc_obps/registration/fixtures/mock/userOperator.json
Due: none

chore: create endpoints and schemas
  bc_obps/registration/api/operator.py
  bc_obps/registration/schema/operator.py
  bc_obps/registration/schema/user_operator.py
Due: pylint

test: test operators put endpoint
  bc_obps/registration/tests/endpoints/test_operator_endpoints.py
Due: pylint

feat: cas users can approve/deny operator and users separately
  client/app/components/form/UserOperatorMultiStepForm.tsx
  client/app/components/form/formDataTypes.ts
  client/app/components/routes/access-requests/form/UserOperatorReview.tsx
Due: eslint

test: update model tests
  bc_obps/registration/fixtures/mock/operator.json
  bc_obps/registration/fixtures/mock/userOperator.json
  bc_obps/registration/tests/test_models.py
Due: pylint

chore: apply changes from code review and rebase
  bc_obps/registration/api/operator.py
  bc_obps/registration/fixtures/mock/operator.json
  bc_obps/registration/fixtures/mock/user.json
  bc_obps/registration/schema/user_operator.py
  bc_obps/registration/tests/endpoints/test_operator_endpoints.py
  client/app/components/button/Review.tsx
  client/app/components/form/UserOperatorMultiStepForm.tsx
  client/app/components/form/formDataTypes.ts
  client/app/components/routes/access-requests/form/UserOperatorReview.tsx
  client/app/utils/enums.ts
Due: eslint, pylint

chore: apply changes from code review and rebase
  bc_obps/registration/api/user_operator.py
Due: pylint

style: fix pre-commit
  bc_obps/registration/tests/test_models.py
Due: pylint

chore: fix TS error
  client/app/components/form/UserOperatorMultiStepForm.tsx
Due: eslint

chore: apply suggestions from code review
  bc_obps/registration/api/user_operator.py
  bc_obps/registration/migrations/0001_initial.py
  bc_obps/registration/models.py
Due: pylint

fix: select operator pending status check
  client/app/components/routes/select-operator/Page.tsx
Due: eslint

chore: spec work
  bc_obps/registration/api/naics.py
  bc_obps/registration/fixtures/mock/user.json
  bc_obps/registration/tests/endpoints/test_useroperator_endpoints.py
  client/app/(authenticated)/idir/cas_admin/brianna/page.tsx
Due: eslint, pylint

fix: useSession missing props
  client/app/components/auth/SessionProvider.tsx
  client/app/components/button/RequestAccessButton.tsx
  client/app/layout.tsx
  client/e2e/.env.local.example
  client/e2e/auth/authentication.spec.ts
Due: eslint

chore: spec work on putting file back into rjsf
  bc_obps/registration/api/naics.py
  client/app/(authenticated)/idir/cas_admin/brianna/formcomponent.tsx
  client/app/(authenticated)/idir/cas_admin/brianna/page.tsx
Due: eslint, pylint

chore: spec work on putting file back into rjsf
  bc_obps/registration/api/naics.py
Due: pylint

Fix: fixed logout bug by chaining logout urls; updated client/.env.example
  client/.env.example
  client/app/api/auth/logout/route.ts
Due: eslint

chore: add initcontainer to deployment to roll back in dev
  helm/cas-registration/templates/backend/deployment.yaml
Due: none

chore: increase backend memory limit
  helm/cas-registration/values.yaml
Due: none

feat: add request change component
  client/app/components/button/RequestChanges.tsx
  client/app/components/button/Review.tsx
Due: eslint

feat: add change request status
  bc_obps/registration/models.py
Due: pylint
