Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3 # Use the sha or tag you want to point at
    hooks:
      - id: prettier
        name: Prettier
        stages: [commit]

  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        language: system
        files: \.(j|t)sx?$
        entry: ./.bin/pre-commit-lint.sh
      - id: mypy
        name: Mypy
        language: system
        types: [python]
        entry: ./.bin/pre-commit-mypy.sh

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-vcs-permalinks
      - id: check-yaml
        exclude: (^helm/.*/templates/)
      - id: end-of-file-fixer
        exclude: (^erd_diagrams/)
      - id: trailing-whitespace
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        types: [python]
        args: ["--config", "bc_obps/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.2
    hooks:
      - id: ruff
        args: ["bc_obps/", "--fix"]

  - repo: https://github.com/python-poetry/poetry
    rev: 1.6.1
    hooks:
      - id: poetry-check
        args: ["-C", "./bc_obps"]
      - id: poetry-lock
        args: ["-C", "./bc_obps", "--check"] # --check to ensure lock file is up to date without updating it

  - repo: https://github.com/PyCQA/bandit
    rev: "1.7.5"
    hooks:
      - id: bandit
        args: ["-c", "bc_obps/bandit.yaml"]

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.2.5
    hooks:
      - id: gitleaks

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.16.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]

chore: refactor review_change to ReportVersion
  bc_obps/common/tests/endpoints/auth/constants.py
  bc_obps/reporting/api/__init__.py
  bc_obps/reporting/api/report_change.py
  bc_obps/reporting/enums/enums.py
  bc_obps/reporting/migrations/0102_reportchange_and_more.py
  bc_obps/reporting/migrations/0102_reportversion_reason_for_change.py
  bc_obps/reporting/models/__init__.py
  bc_obps/reporting/models/report_change.py
  bc_obps/reporting/models/report_version.py
  bc_obps/reporting/models/rls_configs/report_change.py
  bc_obps/reporting/schema/report_change.py
  bc_obps/reporting/schema/report_version.py
  bc_obps/reporting/service/report_change_service.py
  bc_obps/reporting/service/report_validation/validators/supplementary_report_change.py
  bc_obps/reporting/tests/api/test_report_change_api.py
  bc_obps/reporting/tests/models/test_report_change.py
  bc_obps/reporting/tests/models/test_report_version.py
  bc_obps/reporting/tests/service/test_report_change_service.py
  bc_obps/reporting/tests/utils/baker_recipes.py
Due: mypy

Update bc_obps/reporting/service/report_change_service.py
  bc_obps/reporting/service/report_change_service.py
Due: mypy

chore: add report change to final review
  bc_obps/common/tests/endpoints/auth/constants.py
  bc_obps/registration/tests/models/test_user.py
  bc_obps/reporting/api/__init__.py
  bc_obps/reporting/api/report_change.py
  bc_obps/reporting/enums/enums.py
  bc_obps/reporting/migrations/0102_reportchange_and_more.py
  bc_obps/reporting/models/__init__.py
  bc_obps/reporting/models/report_change.py
  bc_obps/reporting/models/rls_configs/report_change.py
  bc_obps/reporting/schema/report_change.py
  bc_obps/reporting/service/report_change_service.py
  bc_obps/reporting/tests/api/test_report_change_api.py
  bc_obps/reporting/tests/models/test_report_change.py
  bc_obps/reporting/tests/models/test_report_version.py
  bc_obps/reporting/tests/service/test_report_change_service.py
  bc_obps/reporting/tests/utils/baker_recipes.py
Due: mypy

chore: refactor review_change to ReportVersion
  bc_obps/common/tests/endpoints/auth/constants.py
  bc_obps/registration/tests/models/test_user.py
  bc_obps/reporting/api/__init__.py
  bc_obps/reporting/api/report_change.py
  bc_obps/reporting/api/reports.py
  bc_obps/reporting/enums/enums.py
  bc_obps/reporting/migrations/0102_reportchange_and_more.py
  bc_obps/reporting/migrations/0103_reportversion_reason_for_change.py
  bc_obps/reporting/models/__init__.py
  bc_obps/reporting/models/report_change.py
  bc_obps/reporting/models/report_version.py
  bc_obps/reporting/models/rls_configs/report_change.py
  bc_obps/reporting/schema/report_change.py
  bc_obps/reporting/schema/report_version.py
  bc_obps/reporting/service/report_validation/validators/__init__.py
  bc_obps/reporting/service/report_validation/validators/supplementary_report_change.py
  bc_obps/reporting/service/report_validation/validators/supplementary_report_version_change.py
  bc_obps/reporting/tests/api/test_report_change_api.py
  bc_obps/reporting/tests/api/test_report_version_endpoint.py
  bc_obps/reporting/tests/models/test_report_change.py
  bc_obps/reporting/tests/models/test_report_version.py
  bc_obps/reporting/tests/service/report_validation/test_report_validation_service.py
  bc_obps/reporting/tests/service/report_validation/validators/test_supplementary_report_change.py
  bc_obps/reporting/tests/service/report_validation/validators/test_supplementary_report_version_change.py
  bc_obps/reporting/tests/service/test_report_change_service.py
  bc_obps/reporting/tests/utils/baker_recipes.py
  bc_obps/service/report_version_service.py
  bc_obps/service/tests/test_report_version_service.py
  bciers/apps/reporting/src/app/components/changeReview/ChangeReviewForm.tsx
  bciers/apps/reporting/src/app/components/changeReview/ChangeReviewPage.tsx
  bciers/apps/reporting/src/app/components/finalReview/reviewDataFactory/changeReviewFactoryItem.ts
  bciers/apps/reporting/src/app/utils/getReportChange.ts
  bciers/apps/reporting/src/data/jsonSchema/changeReview/changeReview.ts
  bciers/apps/reporting/src/data/jsonSchema/changeReview/complianceNote.tsx
  bciers/apps/reporting/src/middlewares/constants.ts
  bciers/apps/reporting/src/middlewares/withRuleHasReportRouteAccess.ts
  bciers/apps/reporting/src/tests/components/changeReview/ChangeReviewPage.test.tsx
Due: eslint, mypy

chore: give cas_analyst delete permission on operation_contacts
  bc_obps/registration/models/rls_configs/operation.py
Due: mypy

chore: handle contacts when transferring
  bc_obps/service/transfer_event_service.py
Due: mypy

test: pytest for handling contacts in transfers
  bc_obps/service/tests/test_transfer_event_service.py
Due: mypy

chore: add compliance_earned_credit model
  bc_obps/compliance/enums.py
  bc_obps/compliance/migrations/0004_compliance_earned_credit.py
  bc_obps/compliance/models/__init__.py
  bc_obps/compliance/models/compliance_earned_credit.py
  bc_obps/compliance/models/rls_configs/compliance_earned_credit.py
Due: mypy

chore: update grant permissions
  bc_obps/compliance/migrations/0004_compliance_earned_credit.py
  bc_obps/compliance/models/rls_configs/compliance_earned_credit.py
Due: mypy

test: add model test for new earned credit model
  bc_obps/compliance/migrations/0004_compliance_earned_credit.py
  bc_obps/compliance/models/compliance_earned_credit.py
  bc_obps/compliance/tests/models/test_compliance_earned_credit.py
Due: mypy

chore: spec work
  bciers/libs/components/src/auth/SessionTimeoutHandler.tsx
Due: eslint

chore: update migration
  bc_obps/reporting/api/reports.py
  bc_obps/reporting/migrations/0104_reportversion_reason_for_change.py
  bc_obps/reporting/models/report_version.py
  bc_obps/reporting/schema/report_version.py
  bciers/apps/reporting/src/app/components/operations/cells/ActionCell.tsx
  bciers/apps/reporting/src/middlewares/constants.ts
  bciers/apps/reporting/src/middlewares/withRuleHasReportRouteAccess.test.ts
  bciers/apps/reporting/src/middlewares/withRuleHasReportRouteAccess.ts
  bciers/libs/components/src/form/widgets/TextAreaWidget.test.tsx
  bciers/libs/components/src/form/widgets/TextAreaWidget.tsx
Due: eslint, mypy

chore: install broadcast-channel
  bciers/package.json
  bciers/yarn.lock
Due: none

chore: add compliance earned credits model
  bc_obps/compliance/enums.py
  bc_obps/compliance/migrations/0004_compliance_earned_credits.py
  bc_obps/compliance/models/__init__.py
  bc_obps/compliance/models/compliance_earned_credits.py
  bc_obps/compliance/models/rls_configs/compliance_earned_credits.py
Due: mypy

chore: not working broadcast
  bciers/libs/components/src/auth/SessionTimeoutHandler.tsx
Due: eslint

chore: adding api endpoint
  bc_obps/reporting/api/report_attachments.py
  bc_obps/reporting/schema/report_attachment.py
  bciers/apps/reporting/src/app/components/attachments/AttachmentsListPage.tsx
  bciers/apps/reporting/src/app/idir/cas_admin/reports/page.tsx
  bciers/apps/reporting/src/app/idir/cas_director/reports/page.tsx
  bciers/apps/reporting/src/app/utils/getAttachmentsList.ts
Due: eslint, mypy

chore: API endpoint to serve all attachments, paginated
  bc_obps/reporting/api/report_attachments.py
  bc_obps/reporting/schema/report_attachment.py
Due: mypy

feat: internal page to list all attachments
  bciers/apps/reporting/src/app/components/attachments/AttachmentsListGrid.tsx
  bciers/apps/reporting/src/app/components/attachments/AttachmentsListPage.tsx
  bciers/apps/reporting/src/app/utils/getAttachmentsList.ts
  bciers/libs/components/src/nextPageFactory/defaultPageFactory.tsx
Due: eslint

chore: download and open in new tab
  bciers/apps/reporting/src/app/components/attachments/AttachmentElement.tsx
  bciers/apps/reporting/src/app/components/attachments/AttachmentsListGrid.tsx
  bciers/apps/reporting/src/app/components/attachments/AttachmentsListPage.tsx
  bciers/apps/reporting/src/app/components/attachments/attachmentsList/AttachmentsListGrid.tsx
  bciers/apps/reporting/src/app/components/attachments/attachmentsList/AttachmentsListPage.tsx
  bciers/apps/reporting/src/app/components/attachments/attachmentsList/columns.tsx
  bciers/apps/reporting/src/app/components/attachments/download.ts
  bciers/apps/reporting/src/app/idir/cas_admin/reports/attachments/page.tsx
  bciers/apps/reporting/src/app/idir/cas_analyst/reports/attachments/page.tsx
  bciers/apps/reporting/src/app/idir/cas_director/reports/attachments/page.tsx
Due: eslint

chore: adding attachments link to internal dashboards
  bc_obps/common/fixtures/dashboard/bciers/dev/internal.json
  bc_obps/common/fixtures/dashboard/bciers/prod/internal.json
  bc_obps/common/fixtures/dashboard/reporting/internal.json
Due: none

chore: filtering and ordering and paginating
  bc_obps/reporting/api/report_attachments.py
  bc_obps/reporting/schema/report_attachment.py
Due: mypy

chore: migration to push dashboard data
  bc_obps/common/migrations/0055_update_dashboard_data.py
Due: mypy

chore: api permissions
  bc_obps/common/tests/endpoints/auth/constants.py
  bc_obps/reporting/api/permissions.py
  bc_obps/reporting/api/report_attachments.py
Due: mypy

test: frontend
  bciers/apps/reporting/src/app/components/attachments/attachmentsList/columns.tsx
  bciers/apps/reporting/src/app/components/attachments/download.ts
  bciers/apps/reporting/src/tests/components/attachments/attachmentsList/AttachmentListGrid.test.tsx
  bciers/apps/reporting/src/tests/components/attachments/attachmentsList/AttachmentListPage.test.tsx
Due: eslint

chore: test api
  bc_obps/reporting/schema/report_attachment.py
  bc_obps/reporting/tests/api/test_report_attachment_internal_endpoint.py
Due: mypy

test: testing api endpoint
  bc_obps/reporting/schema/report_attachment.py
  bc_obps/reporting/tests/api/test_report_attachment_internal_endpoint.py
  bciers/apps/reporting/src/app/components/attachments/attachmentsList/AttachmentsListGrid.tsx
  bciers/apps/reporting/src/app/components/attachments/attachmentsList/AttachmentsListPage.tsx
Due: eslint, mypy

chore: missing href from anchor tag
  bciers/apps/reporting/src/app/components/attachments/attachmentsList/columns.tsx
Due: eslint

chore: spec work on broadcasting
  bciers/libs/components/src/auth/SessionTimeoutHandler.tsx
Due: eslint

chore: apparently we do not need broadcast channel?
  bciers/libs/components/src/auth/SessionTimeoutHandler.tsx
Due: eslint

chore: i think it works?
  bciers/libs/components/src/auth/SessionTimeoutHandler.tsx
Due: eslint

fix: Allow zeroes for numberfields
  bciers/libs/components/src/form/widgets/TextWidget.tsx
Due: eslint

chore: remove return if undefined val line in numberfield
  bciers/libs/components/src/form/widgets/TextWidget.tsx
Due: eslint

chore: make style of numberfield widget consistent
  bciers/libs/components/src/form/widgets/TextWidget.tsx
Due: eslint

fix: automatic display of 4 decimal places
  bciers/libs/components/src/form/widgets/TextWidget.tsx
Due: eslint
