Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy

eslint:
  name: ESLint
  language: system
  entry: ./.bin/pre-commit-lint.sh

mypy:
  name: Mypy
  language: system
  entry: ./.bin/pre-commit-mypy.sh

chore: fixed context
  bciers/apps/reporting/src/app/components/finalReview/reviewDataFactory/activityFactoryItem.ts
Due: eslint

test: pytests for industry_user
  bc_obps/registration/models/rls_configs/address.py
  bc_obps/registration/models/rls_configs/bc_greenhouse_gas_id.py
  bc_obps/registration/tests/models/test_operation.py
  bc_obps/rls/tests/helpers.py
  bc_obps/rls/utils/helpers.py
Due: mypy

chore: fixed get report operation data api
  bc_obps/common/tests/endpoints/auth/constants.py
  bc_obps/reporting/api/__init__.py
  bc_obps/reporting/api/report_operation.py
  bc_obps/reporting/api/reports.py
  bc_obps/reporting/schema/report_operation.py
  bc_obps/reporting/service/report_operation_service.py
  bc_obps/reporting/tests/api/test_report_operation_api.py
  bc_obps/reporting/tests/api/test_reports.py
  bc_obps/reporting/tests/service/test_report_operation_service.py
  bc_obps/service/facility_report_service.py
  bc_obps/service/report_service.py
  bc_obps/service/tests/test_report_service.py
  bciers/apps/reporting/src/app/components/finalReview/reviewDataFactory/operationReviewFactoryItem.ts
  bciers/apps/reporting/src/app/components/operations/OperationReviewForm.tsx
  bciers/apps/reporting/src/app/components/operations/OperationReviewPage.tsx
  bciers/apps/reporting/src/app/components/operations/getOperationSchemaParameters.ts
  bciers/apps/reporting/src/app/utils/getReportOperationData.ts
  bciers/apps/reporting/src/tests/components/operations/OperationReviewPage.test.tsx
Due: eslint, mypy

chore: fixed the nitpik issues
  bc_obps/reporting/api/report_operation.py
  bc_obps/reporting/schema/report_operation.py
  bciers/apps/reporting/src/app/utils/getUpdatedReportOperationDetails.ts
Due: eslint, mypy

chore: added requested changes
  bc_obps/common/tests/endpoints/auth/constants.py
  bc_obps/reporting/api/report_operation.py
  bc_obps/reporting/schema/report_operation.py
  bc_obps/reporting/service/report_operation_service.py
  bc_obps/reporting/tests/api/test_report_operation_api.py
  bc_obps/reporting/tests/service/test_report_operation_service.py
  bciers/apps/reporting/src/app/components/finalReview/reviewDataFactory/operationReviewFactoryItem.ts
  bciers/apps/reporting/src/app/components/operations/OperationReviewForm.tsx
  bciers/apps/reporting/src/app/components/operations/OperationReviewPage.tsx
  bciers/apps/reporting/src/app/utils/getReportOperationData.ts
  bciers/apps/reporting/src/app/utils/getUpdatedReportOperationDetails.ts
  bciers/apps/reporting/src/tests/components/operations/OperationReviewPage.test.tsx
Due: eslint, mypy

chore: spec work
  bc_obps/registration/models/rls_configs/contact.py
  bc_obps/registration/tests/models/test_contact.py
  bc_obps/rls/tests/helpers.py
Due: mypy

add review earned credits request
  bc_obps/compliance/migrations/0004_issuancerequest_and_more.py
  bc_obps/compliance/models/compliance_report_version.py
  bc_obps/compliance/models/issuance_request.py
  bc_obps/compliance/models/rls_configs/issuance_request.py
  bc_obps/compliance/tests/api/test_compliance_summary_issuance.py
  bciers/apps/compliance/src/app/bceidbusiness/industry_user_admin/compliance-summaries/[compliance_summary_id]/request-issuance/track-status-of-issuance/page.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/track-status-of-issuance/IssuanceStatusApprovedNote.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/track-status-of-issuance/IssuanceStatusAwaitingNote.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/track-status-of-issuance/StatusOfIssuance.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/track-status-of-issuance/TrackStatusOfIssuanceComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/track-status-of-issuance/TrackStatusOfIssuanceContent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/track-status-of-issuance/TrackStatusOfIssuancePage.tsx
  bciers/apps/compliance/src/app/idir/cas_admin/compliance-summaries/[compliance_summary_id]/request-issuance/review-compliance-summary/page.tsx
  bciers/apps/compliance/src/app/idir/cas_admin/compliance-summaries/page.tsx
  bciers/apps/compliance/src/app/idir/cas_analyst/compliance-summaries/[compliance_summary_id]/request-issuance/review-compliance-summary/page.tsx
  bciers/apps/compliance/src/app/idir/cas_analyst/compliance-summaries/page.tsx
  bciers/apps/compliance/src/app/idir/cas_director/compliance-summaries/[compliance_summary_id]/request-issuance/review-compliance-summary/page.tsx
  bciers/apps/compliance/src/app/idir/cas_director/compliance-summaries/page.tsx
  bciers/apps/compliance/src/app/idir/cas_view_only/compliance-summaries/[compliance_summary_id]/request-issuance/review-compliance-summary/page.tsx
  bciers/apps/compliance/src/app/idir/cas_view_only/compliance-summaries/page.tsx
  bciers/apps/compliance/src/app/utils/getComplianceUnitsApplyData.tsx
  bciers/apps/compliance/src/app/utils/getRequestIssuanceComplianceSummaryData.tsx
  bciers/apps/compliance/src/app/utils/getRequestIssuanceTrackStatusData.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/track-status-of-issuance/IssuanceStatusApprovedNote.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/track-status-of-issuance/IssuanceStatusAwaitingNote.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/track-status-of-issuance/StatusOfIssuance.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/track-status-of-issuance/TrackStatusOfIssuanceComponent.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/track-status-of-issuance/TrackStatusOfIssuanceContent.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/track-status-of-issuance/TrackStatusOfIssuancePage.test.tsx
  bciers/apps/compliance/src/tests/utils/complianceSummaryReviewTestUtils.ts
  bciers/apps/compliance/src/tests/utils/issuanceStatusNoteTestUtils.ts
  bciers/apps/registration/app/components/operations/registration/Success.tsx
  bciers/apps/registration/app/components/transfers/TransferSuccess.tsx
  bciers/apps/reporting/src/app/components/reportInformation/endOfFacility/FacilityPageEnd.tsx
  bciers/apps/reporting/src/app/components/submission/SubmissionSuccess.tsx
  bciers/libs/components/src/form/MultiStepBase.test.tsx
  bciers/libs/components/src/icons/Check.tsx
  bciers/libs/components/src/icons/TimeIcon.tsx
Due: eslint, mypy

chore: fix build
  bciers/apps/compliance/src/app/utils/getComplianceSummary.tsx
  bciers/apps/compliance/src/app/utils/getComplianceUnitsApplyData.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/track-status-of-issuance/IssuanceStatusApprovedNote.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/track-status-of-issuance/IssuanceStatusAwaitingNote.test.tsx
  bciers/apps/compliance/src/tests/utils/issuanceStatusNoteTestUtils.ts
Due: eslint

chore: fix migration dependencies
  bc_obps/compliance/migrations/0004_issuancerequest_and_more.py
Due: mypy

chore: implement static schema for BCCR account form
  bciers/apps/administration/tests/components/operations/OperationInformationForm.test.tsx
  bciers/apps/compliance/src/app/bceidbusiness/industry_user_admin/compliance-summaries/[compliance_summary_id]/(request-issuance)/review-compliance-summary/page.tsx
  bciers/apps/compliance/src/app/bceidbusiness/industry_user_admin/compliance-summaries/[compliance_summary_id]/(request-issuance)/track-status-of-issuance/page.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/internal-review-compliance-summary/InternalComplianceSummaryReviewPage.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/internal-review-compliance-summary/InternalRequestIssuanceReviewComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/internal-review-compliance-summary/InternalRequestIssuanceReviewContent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/track-status-of-issuance/TrackStatusOfIssuanceComponent.tsx
  bciers/apps/compliance/src/app/components/taskLists/internal/2_internalRequestIssuanceSchema.ts
  bciers/apps/compliance/src/app/idir/cas_admin/compliance-summaries/[compliance_summary_id]/(request-issuance)/review-compliance-summary/page.tsx
  bciers/apps/compliance/src/app/idir/cas_admin/compliance-summaries/[compliance_summary_id]/request-issuance/review-compliance-summary/page.tsx
  bciers/apps/compliance/src/app/idir/cas_admin/compliance-summaries/page.tsx
  bciers/apps/compliance/src/app/idir/cas_analyst/compliance-summaries/[compliance_summary_id]/(request-issuance)/review-compliance-summary/page.tsx
  bciers/apps/compliance/src/app/idir/cas_analyst/compliance-summaries/[compliance_summary_id]/request-issuance/review-compliance-summary/page.tsx
  bciers/apps/compliance/src/app/idir/cas_analyst/compliance-summaries/page.tsx
  bciers/apps/compliance/src/app/idir/cas_director/compliance-summaries/[compliance_summary_id]/(request-issuance)/review-compliance-summary/page.tsx
  bciers/apps/compliance/src/app/idir/cas_director/compliance-summaries/[compliance_summary_id]/request-issuance/review-compliance-summary/page.tsx
  bciers/apps/compliance/src/app/idir/cas_director/compliance-summaries/page.tsx
  bciers/apps/compliance/src/app/idir/cas_view_only/compliance-summaries/[compliance_summary_id]/(request-issuance)/review-compliance-summary/page.tsx
  bciers/apps/compliance/src/app/idir/cas_view_only/compliance-summaries/[compliance_summary_id]/request-issuance/review-compliance-summary/page.tsx
  bciers/apps/compliance/src/app/idir/cas_view_only/compliance-summaries/page.tsx
  bciers/apps/compliance/src/app/widgets/BCCRHoldingAccountWidget.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/track-status-of-issuance/TrackStatusOfIssuanceComponent.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/track-status-of-issuance/TrackStatusOfIssuancePage.test.tsx
  bciers/libs/components/src/form/FormBase.test.tsx
  bciers/libs/components/src/form/MultiStepBase.test.tsx
Due: eslint

chore: fix build
  bciers/apps/administration/tests/components/operations/OperationInformationForm.test.tsx
  bciers/libs/components/src/form/FormBase.test.tsx
Due: eslint

chore: change to use forms
  bc_obps/compliance/api/_compliance_report_versions/_compliance_report_version_id/earned_credits.py
  bc_obps/compliance/migrations/0004_issuancerequest_and_more.py
  bc_obps/compliance/models/compliance_report_version.py
  bc_obps/compliance/models/issuance_request.py
  bc_obps/compliance/models/rls_configs/issuance_request.py
  bc_obps/compliance/schema/earned_credits.py
  bc_obps/compliance/service/earned_credits_service.py
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/internal-review-compliance-summary/InternalComplianceSummaryReviewComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/internal-review-compliance-summary/InternalComplianceSummaryReviewPage.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/internal-review-compliance-summary/InternalRequestIssuanceReviewComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/internal-review-compliance-summary/InternalRequestIssuanceReviewContent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/track-status-of-issuance/StatusOfIssuance.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/track-status-of-issuance/TrackStatusOfIssuanceComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/track-status-of-issuance/TrackStatusOfIssuanceContent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/track-status-of-issuance/TrackStatusOfIssuancePage.tsx
  bciers/apps/compliance/src/app/components/taskLists/internal/2_internalRequestIssuanceSchema.ts
  bciers/apps/compliance/src/app/data/jsonSchema/helpers.ts
  bciers/apps/compliance/src/app/data/jsonSchema/requestIssuance/internalComplianceSummaryReviewSchema.tsx
  bciers/apps/compliance/src/app/data/jsonSchema/requestIssuance/trackStatusOfIssuanceSchema.tsx
  bciers/apps/compliance/src/app/idir/cas_admin/compliance-summaries/[compliance_summary_id]/(request-issuance)/request-issuance-review-summary/page.tsx
  bciers/apps/compliance/src/app/idir/cas_analyst/compliance-summaries/[compliance_summary_id]/(request-issuance)/request-issuance-review-summary/page.tsx
  bciers/apps/compliance/src/app/idir/cas_director/compliance-summaries/[compliance_summary_id]/(request-issuance)/request-issuance-review-summary/page.tsx
  bciers/apps/compliance/src/app/idir/cas_view_only/compliance-summaries/[compliance_summary_id]/(request-issuance)/request-issuance-review-summary/page.tsx
  bciers/apps/compliance/src/app/utils/getInternalComplianceSummaryReviewData.tsx
  bciers/apps/compliance/src/app/utils/getRequestIssuanceComplianceSummaryData.tsx
  bciers/apps/compliance/src/app/utils/getRequestIssuanceTrackStatusData.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/track-status-of-issuance/StatusOfIssuance.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/track-status-of-issuance/TrackStatusOfIssuanceComponent.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/track-status-of-issuance/TrackStatusOfIssuanceContent.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/track-status-of-issuance/TrackStatusOfIssuancePage.test.tsx
Due: eslint, mypy

chore: fix build
  bc_obps/common/tests/endpoints/auth/constants.py
Due: mypy

chore: fix build
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/track-status-of-issuance/TrackStatusOfIssuanceComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/track-status-of-issuance/TrackStatusOfIssuancePage.tsx
  bciers/apps/compliance/src/app/idir/cas_admin/compliance-summaries/page.tsx
  bciers/apps/compliance/src/app/utils/getInternalComplianceSummaryReviewData.tsx
  bciers/apps/compliance/src/app/widgets/BCCRHoldingAccountWidget.tsx
Due: eslint

chore: update component test
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/track-status-of-issuance/TrackStatusOfIssuancePage.test.tsx
Due: eslint

chore: apply suggestions from code review
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/internal-review-compliance-summary/InternalComplianceSummaryReviewComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/internal-review-compliance-summary/InternalComplianceSummaryReviewPage.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/track-status-of-issuance/TrackStatusOfIssuanceComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/track-status-of-issuance/TrackStatusOfIssuancePage.tsx
  bciers/apps/compliance/src/app/components/taskLists/internal/2_internalRequestIssuanceSchema.ts
  bciers/apps/compliance/src/app/data/jsonSchema/requestIssuance/internalComplianceSummaryReviewSchema.tsx
  bciers/apps/compliance/src/app/data/jsonSchema/requestIssuance/trackStatusOfIssuanceSchema.tsx
  bciers/apps/compliance/src/app/idir/cas_admin/compliance-summaries/[compliance_summary_id]/(request-issuance)/request-issuance-review-summary/page.tsx
  bciers/apps/compliance/src/app/idir/cas_admin/compliance-summaries/page.tsx
  bciers/apps/compliance/src/app/idir/cas_analyst/compliance-summaries/[compliance_summary_id]/(request-issuance)/request-issuance-review-summary/page.tsx
  bciers/apps/compliance/src/app/idir/cas_analyst/compliance-summaries/page.tsx
  bciers/apps/compliance/src/app/idir/cas_director/compliance-summaries/[compliance_summary_id]/(request-issuance)/request-issuance-review-summary/page.tsx
  bciers/apps/compliance/src/app/idir/cas_director/compliance-summaries/page.tsx
  bciers/apps/compliance/src/app/idir/cas_view_only/compliance-summaries/[compliance_summary_id]/(request-issuance)/request-issuance-review-summary/page.tsx
  bciers/apps/compliance/src/app/idir/cas_view_only/compliance-summaries/page.tsx
  bciers/apps/compliance/src/app/utils/getRequestIssuanceComplianceSummaryData.tsx
  bciers/apps/compliance/src/app/utils/getRequestIssuanceTrackStatusData.tsx
Due: eslint

feat: add B.C. Carbon Registry links in issuance status components
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/track-status-of-issuance/IssuanceStatusApprovedNote.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/track-status-of-issuance/IssuanceStatusAwaitingNote.tsx
Due: eslint

chore: address pr comments
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/internal-review-compliance-summary/InternalComplianceSummaryReviewComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/internal-review-compliance-summary/InternalComplianceSummaryReviewPage.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/review-compliance-summary/ComplianceSummaryReviewComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/review-compliance-summary/ComplianceSummaryReviewPage.tsx
  bciers/apps/compliance/src/app/data/jsonSchema/requestIssuance/complianceSummaryReviewSchema.tsx
  bciers/apps/compliance/src/app/data/jsonSchema/requestIssuance/internalComplianceSummaryReviewSchema.tsx
  bciers/apps/compliance/src/app/idir/cas_admin/compliance-summaries/[compliance_summary_id]/(request-issuance)/request-issuance-review-summary/page.tsx
  bciers/apps/compliance/src/app/idir/cas_analyst/compliance-summaries/[compliance_summary_id]/(request-issuance)/request-issuance-review-summary/page.tsx
  bciers/apps/compliance/src/app/idir/cas_director/compliance-summaries/[compliance_summary_id]/(request-issuance)/request-issuance-review-summary/page.tsx
  bciers/apps/compliance/src/app/idir/cas_view_only/compliance-summaries/[compliance_summary_id]/(request-issuance)/request-issuance-review-summary/page.tsx
  bciers/apps/compliance/src/app/utils/getRequestIssuanceComplianceSummaryData.tsx
Due: eslint

chore: resolve conflicts
  bc_obps/compliance/api/_compliance_report_versions/_compliance_report_version_id/earned_credits.py
  bc_obps/compliance/schema/compliance_earned_credits.py
  bc_obps/compliance/schema/earned_credits.py
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/review-compliance-summary/ComplianceSummaryReviewComponent.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/review-compliance-summary/ComplianceSummaryReviewPage.test.tsx
Due: eslint, mypy

chore: fix build
  bc_obps/common/tests/endpoints/auth/constants.py
  bc_obps/compliance/api/_compliance_report_versions/_compliance_report_version_id/earned_credits.py
  bc_obps/compliance/schema/compliance_earned_credits.py
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/review-compliance-summary/ComplianceSummaryReviewPage.tsx
Due: eslint, mypy

chore: refactor and fix according to the pull request comments
  bc_obps/compliance/schema/compliance_earned_credits.py
  bc_obps/compliance/tests/api/test_compliance_summary_issuance.py
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/review-compliance-summary/ComplianceSummaryReviewComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/review-compliance-summary/ComplianceSummaryReviewPage.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/track-status-of-issuance/IssuanceStatusApprovedNote.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/track-status-of-issuance/IssuanceStatusAwaitingNote.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/track-status-of-issuance/TrackStatusOfIssuanceComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/track-status-of-issuance/TrackStatusOfIssuancePage.tsx
  bciers/apps/compliance/src/app/components/taskLists/2_requestIssuanceTaskList.ts
  bciers/apps/compliance/src/app/components/taskLists/internal/2_internalRequestIssuanceSchema.ts
  bciers/apps/compliance/src/app/data/jsonSchema/helpers.ts
  bciers/apps/compliance/src/app/data/jsonSchema/requestIssuance/complianceSummaryReviewSchema.tsx
  bciers/apps/compliance/src/app/data/jsonSchema/requestIssuance/trackStatusOfIssuanceSchema.tsx
  bciers/apps/compliance/src/app/types.ts
  bciers/apps/compliance/src/app/utils/getRequestIssuanceTrackStatusData.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/review-compliance-summary/ComplianceSummaryReviewComponent.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/review-compliance-summary/ComplianceSummaryReviewPage.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/track-status-of-issuance/IssuanceStatusApprovedNote.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/track-status-of-issuance/IssuanceStatusAwaitingNote.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/track-status-of-issuance/TrackStatusOfIssuancePage.test.tsx
  bciers/apps/compliance/src/tests/components/taskLists/2_requestIssuanceTasklist.test.ts
  bciers/apps/compliance/src/tests/utils/complianceSummaryReviewTestUtils.ts
Due: eslint, mypy

fix: default activities for facilities added on review page
  bc_obps/reporting/service/report_facilities_service.py
Due: mypy

Path conditions:
  eslint: any of: \.(j|t)sx?$
  mypy: any of: \.py$
