Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        language: system
        files: \.(j|t)sx?$|\.json$|\.md$|\.css$|\.scss$
        exclude: (\.next/|node_modules/|dist/|build/|coverage/|\.nx/cache/)
        entry: ./.bin/pre-commit-format.sh
      - id: eslint
        name: ESLint
        language: system
        files: \.(j|t)sx?$
        exclude: (\.next/|node_modules/|dist/|build/|coverage/|\.nx/cache/|tests/performance/)
        entry: ./.bin/pre-commit-lint.sh
      - id: mypy
        name: Mypy
        language: system
        types: [python]
        entry: ./.bin/pre-commit-mypy.sh

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-vcs-permalinks
      - id: check-yaml
        exclude: (^helm/.*/templates/)
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
      - id: black
        types: [python]
        args: ["--config", "bc_obps/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.6
    hooks:
      - id: ruff
        args: ["bc_obps/", "--fix"]

  - repo: https://github.com/python-poetry/poetry
    rev: 2.2.1
    hooks:
      - id: poetry-check
        args: ["-C", "./bc_obps"]
      - id: poetry-lock
        args: ["-C", "./bc_obps"]

  - repo: https://github.com/PyCQA/bandit
    rev: "1.9.2"
    hooks:
      - id: bandit
        additional_dependencies: [pbr]
        args: ["-c", "bc_obps/bandit.yaml"]

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.29.1
    hooks:
      - id: gitleaks

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.23.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]

chore: decouple reportcontact service from schema with dataclass
  bc_obps/reporting/api/report_person_responsible.py
  bc_obps/reporting/dataclass.py
  bc_obps/reporting/migrations/0186_reportpersonresponsible_contact.py
  bc_obps/reporting/schema/report_person_responsible.py
  bc_obps/reporting/service/report_person_responsible.py
  bciers/apps/reporting/src/app/components/operations/personResponsible/PersonResponsibleForm.tsx
  bciers/apps/reporting/src/app/components/operations/personResponsible/createPersonResponsibleSchema.ts
  bciers/apps/reporting/src/data/jsonSchema/personResponsible.ts
  bciers/apps/reporting/src/tests/components/operations/personResponsible/PersonResponsibleForm.test.tsx
  bciers/apps/reporting/src/tests/components/operations/personResponsible/PersonResponsiblePage.test.tsx
Due: prettier, eslint, mypy

chore: update terraform to v1.14.8
  .tool-versions
Due: none

chore: remove terraform from .tool-versions, no longer used in this repo
  .tool-versions
Due: none

chore: add style tag before screenshot to reduce flake in search cell
  bciers/libs/e2e/src/utils/helpers.ts
Due: prettier, eslint

chore: sort methodologies chronologically in review changes page
  bciers/apps/reporting/src/app/components/changeReview/utils/activityViewHelpers.tsx
  bciers/apps/reporting/src/app/components/shared/activityRenderUtils.ts
Due: prettier, eslint

refactor: factor out function to reduce nesting
  bciers/apps/reporting/src/app/components/changeReview/templates/ProductionDataChangeView.tsx
Due: prettier, eslint

refactor: factor out nested conditionals to reduce cognitive complexity
  bciers/libs/actions/src/actions.ts
Due: prettier, eslint

refactor: factor out nested conditionals to reduce cognitive complexity
  bciers/libs/components/src/form/fields/FuelAmountFieldTemplate.tsx
Due: prettier, eslint

refactor: factor out nested conditionals to reduce complexity
  bciers/libs/utils/src/customTransformErrors.ts
Due: prettier, eslint

refactor: factor out repeated string literal into constant
  dags/bc_obps_test_migrations.py
Due: mypy

refactor: factor out repeated string literal into constant
  data_import/obps_swrs_import_fdw.sql
Due: none

refactor: dollar-quote multiline string
  data_import/obps_swrs_import_fdw.sql
Due: none

refactor: decrease function nesting for maintainability
  bciers/apps/reporting/src/app/components/facility/FacilityEmissionAllocationForm.tsx
Due: prettier, eslint

refactor: factor out functions to reduce complexity
  bciers/apps/reporting/src/app/components/taskList/navigationInformation.ts
Due: prettier, eslint

refactor: define constant in place of repeated string literal
  bciers/apps/reporting/tests/performance/setup/populate_test_data_for_load_testing.sql
Due: none

refactor: factor conditionals down into lookup matrix
  bciers/apps/reporting/src/app/components/taskList/reportingFlows.ts
Due: prettier, eslint

refactor: factor out function to reduce nesting
  bciers/libs/utils/src/activityFormValidators.ts
Due: prettier, eslint

refactor: specify disabled rules and drop blanket eslint-ignore
  bciers/apps/reporting/tests/performance/backend-load-test.js
  bciers/apps/reporting/tests/performance/scenarios/backend/facilities.js
  bciers/apps/reporting/tests/performance/scenarios/backend/facility.js
  bciers/apps/reporting/tests/performance/scenarios/backend/index.js
  bciers/apps/reporting/tests/performance/scenarios/backend/report.js
  bciers/apps/reporting/tests/performance/setup/helpers.js
  bciers/libs/e2e/src/utils/happo-skip.js
Due: prettier, eslint

refactor: use set for simple existence check
  bciers/apps/reporting/src/app/components/taskList/reportingFlows.ts
Due: prettier, eslint

fix: short circuit the ProductionDataForm to allow LFO facilities to bypass without a regulated product
  bciers/apps/reporting/src/app/components/products/ProductionDataForm.tsx
Due: prettier, eslint

test: renamed test
  bciers/apps/reporting/src/tests/components/products/ProductionDataForm.test.tsx
Due: prettier, eslint

chore: modify short-circuit
  bciers/apps/reporting/src/app/components/products/ProductionDataForm.tsx
Due: prettier, eslint

test: update / add tests for ProductionDataForm
  bciers/apps/reporting/src/tests/components/products/ProductionDataForm.test.tsx
Due: prettier, eslint

chore: add ValidationTags.ON_SUBMIT to required field validators
  bc_obps/reporting/dataclass.py
  bc_obps/reporting/management/commands/utils/__init__.py
  bc_obps/reporting/management/commands/utils/report_activity_data.py
  bc_obps/reporting/management/commands/utils/report_additional_data.py
  bc_obps/reporting/management/commands/utils/report_contact.py
  bc_obps/reporting/management/commands/utils/report_emission_allocation.py
  bc_obps/reporting/management/commands/utils/report_facility_report.py
  bc_obps/reporting/management/commands/utils/report_person_responsible.py
  bc_obps/reporting/management/commands/utils/report_production_data.py
  bc_obps/reporting/management/commands/utils/report_submission.py
  bc_obps/reporting/service/report_validation/validators/activity_data_coverage_validator.py
  bc_obps/reporting/service/report_validation/validators/report_activity_json_validation.py
  bc_obps/reporting/service/report_validation/validators/required_fields/required_fields_report_additional_data.py
  bc_obps/reporting/service/report_validation/validators/required_fields/required_fields_report_electricity_import_data.py
  bc_obps/reporting/service/report_validation/validators/required_fields/required_fields_report_emission_allocation.py
  bc_obps/reporting/service/report_validation/validators/required_fields/required_fields_report_new_entrant_information.py
  bc_obps/reporting/service/report_validation/validators/required_fields/required_fields_report_non_attributable_emissions.py
  bc_obps/reporting/service/report_validation/validators/required_fields/required_fields_report_production_data.py
  bc_obps/reporting/service/report_validation/validators/required_fields/required_fields_report_review_facilities.py
  bc_obps/reporting/service/report_validation/validators/required_fields/required_fields_report_review_facility_information.py
Due: mypy

chore: update report submission setup using service-based helpers
  bc_obps/reporting/dataclass.py
  bc_obps/reporting/management/commands/utils/__init__.py
  bc_obps/reporting/management/commands/utils/report_attachments.py
  bc_obps/reporting/management/commands/utils/report_contact.py
  bc_obps/reporting/management/commands/utils/report_submission.py
  bc_obps/reporting/management/commands/utils/report_verification.py
Due: mypy

chore: add report-* util helpers for report submission
  bc_obps/reporting/dataclass.py
  bc_obps/reporting/management/commands/utils/__init__.py
  bc_obps/reporting/management/commands/utils/report_activity_data.py
  bc_obps/reporting/management/commands/utils/report_contact.py
  bc_obps/reporting/management/commands/utils/report_submission.py
  bc_obps/reporting/service/report_validation/validators/required_fields/required_fields_report_activity_data.py
  bc_obps/reporting/service/report_validation/validators/required_fields/required_fields_report_operation_information.py
  bc_obps/reporting/service/report_validation/validators/required_fields/required_fields_report_person_responsible.py
Due: mypy

chore: update report attachments endpoint auth scope
  bc_obps/common/tests/endpoints/auth/constants.py
  bc_obps/reporting/api/report_attachments.py
  bc_obps/reporting/tests/api/test_report_attachment_api.py
Due: mypy

chore: correct CSRF bypass logic for non-production environments
  bc_obps/bc_obps/settings.py
Due: mypy

chore: remove dependency from migration script
  bc_obps/reporting/migrations/0181_update_activity_field_units.py
Due: mypy

chore: update CSRF bypass logic for development and test environments
  bc_obps/bc_obps/settings.py
Due: mypy

refactor: replace class method with common promise-returning helper
  bciers/apps/administration-e2e/poms/contacts.ts
  bciers/apps/administration-e2e/tests/workflows/contacts.spec.ts
Due: prettier, eslint

refactor: remove unexpected await of non-promise
  bciers/apps/administration-e2e/poms/contacts.ts
Due: prettier, eslint

refactor: make helper method async/await thenable
  bciers/libs/e2e/src/utils/helpers.ts
Due: prettier, eslint

refactor: replace class method with common promise-returning helper
  bciers/apps/administration-e2e/poms/users-access-request.ts
  bciers/apps/administration-e2e/tests/workflows/users-and-access-requests.spec.ts
Due: prettier, eslint

refactor: replace class method with common promise-returning helper
  bciers/apps/administration-e2e/poms/operator.ts
  bciers/apps/administration-e2e/tests/workflows/select-operator.spec.ts
Due: prettier, eslint

refactor: replace class method with common promise-returning helper
  bciers/apps/administration-e2e/poms/dashboard.ts
  bciers/apps/dashboard-e2e/poms/dashboard.ts
  bciers/apps/dashboard-e2e/tests/external/dashboard.spec.ts
  bciers/apps/dashboard-e2e/tests/internal/dashboard.spec.ts
Due: prettier, eslint

refactor: replace class method with common promise-returning helper
  bciers/apps/administration-e2e/poms/dashboard.ts
Due: prettier, eslint

refactor: remove await on non-promise function call
  bciers/apps/administration/tests/components/facilities/FacilityForm.test.tsx
Due: prettier, eslint

refactor: factor out nested conditionals to reduce cognitive complexity
  bciers/apps/compliance/src/app/components/compliance-summaries/cells/ActionCell.tsx
Due: prettier, eslint

chore: quiet warnings in pre-commit
  .bin/pre-commit-lint.sh
Due: none
