Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, mypy

prettier:
  name: Prettier
  language: system
  entry: ./.bin/pre-commit-format.sh

eslint:
  name: ESLint
  language: system
  entry: ./.bin/pre-commit-lint.sh

mypy:
  name: Mypy
  language: system
  entry: ./.bin/pre-commit-mypy.sh

chore: remove unused naics code service
  bc_obps/reporting/service/naics_code.py
Due: mypy

test: validate regulatory values from report NAICS code
  bc_obps/reporting/tests/service/test_compliance_service/test_regulatory_values.py
Due: mypy

chore: update tests to use NAICS codes from report operation
  bc_obps/reporting/tests/api_v2/forms/test_form_response_builder.py
  bc_obps/reporting/tests/api_v2/forms/test_report_compliance_summary_data_endpoint.py
  bc_obps/reporting/tests/api_v2/forms/test_report_production_form_data_endpoints.py
  bc_obps/reporting/tests/api_v2/forms/test_report_validation_data.py
  bc_obps/reporting/tests/endpoints/test_final_review_endpoint.py
  bc_obps/reporting/tests/service/test_compliance_service/infrastructure.py
  bc_obps/reporting/tests/service/test_compliance_service/test_industrial_process.py
  bc_obps/reporting/tests/service/test_compliance_service/test_regulatory_values.py
Due: mypy

chore: throw value error if missing naics when computing emissions
  bc_obps/reporting/service/compliance_service/industrial_process.py
Due: mypy

test: correct naics regulatory value to fetch from code
  bc_obps/reporting/tests/service/test_compliance_service/test_regulatory_values.py
Due: mypy

chore: add naics code to test setup"
  bc_obps/reporting/tests/api_v2/forms/test_report_production_form_data_endpoints.py
  bc_obps/reporting/tests/api_v2/forms/test_report_validation_data.py
Due: mypy

chore: fix mock related response
  bc_obps/reporting/tests/api_v2/forms/test_form_response_builder.py
Due: mypy

feat: o&g NP NC emission allocation validator
  bc_obps/reporting/api_v2/response_builder.py
  bc_obps/reporting/service/report_validation/report_validation_error.py
  bc_obps/reporting/service/report_validation/validators/report_emission_allocation_o&g_np_nc_warning.py
Due: mypy

chore: new message config for the frontend
  bciers/apps/reporting/src/app/components/shared/validation/ReportValidationSummary.tsx
  bciers/apps/reporting/src/app/components/shared/validation/config.ts
  bciers/apps/reporting/src/app/components/shared/validation/types.ts
  bciers/apps/reporting/src/tests/components/shared/validation/config.test.ts
Due: prettier, eslint

chore: validator assesses each emission category
  bc_obps/reporting/service/report_validation/report_validation_error.py
  bc_obps/reporting/service/report_validation/validators/__init__.py
  bc_obps/reporting/service/report_validation/validators/report_emission_allocation_o&g_np_nc_warning.py
  bc_obps/reporting/service/report_validation/validators/report_emission_allocation_other_excluded_category.py
  bc_obps/reporting/tests/service/report_validation/validators/test_report_allocation_other_excluded_category.py
  bciers/apps/reporting/src/app/components/shared/validation/ReportValidationSummary.tsx
Due: prettier, eslint, mypy

chore: remove FOG from the validation
  bc_obps/reporting/service/report_validation/validators/report_emission_allocation_other_excluded_category.py
  bc_obps/reporting/tests/service/report_validation/validators/test_report_allocation_other_excluded_category.py
Due: mypy

test: complete tests for backend validator:
  bc_obps/reporting/service/report_validation/validators/report_emission_allocation_other_excluded_category.py
  bc_obps/reporting/tests/service/report_validation/validators/test_report_allocation_other_excluded_category.py
Due: mypy

test: validator order
  bc_obps/reporting/tests/service/report_validation/test_report_validation_service.py
Due: mypy

chore: message shortened
  bciers/apps/reporting/src/app/components/shared/validation/config.ts
  bciers/apps/reporting/src/tests/components/shared/validation/config.test.ts
Due: prettier, eslint

chore: fix formatting in validation message and test case
  bciers/apps/reporting/src/app/components/shared/validation/config.ts
  bciers/apps/reporting/src/tests/components/shared/validation/config.test.ts
Due: prettier, eslint

chore: update raw activity report version when cloning for supplemental
  bc_obps/reporting/service/report_supplementary_version_service/report_supplementary_cloning.py
  bc_obps/reporting/tests/service/test_report_supplementary_service/test_report_supplementary_cloning.py
Due: mypy

chore: updated poetry.lock
  bc_obps/poetry.lock
Due: none

chore: removed terraform from .tool-versions
  .tool-versions
Due: none

chore: 2023 fixtures are duplicated as current reporting year objects
  bc_obps/reporting/fixtures/mock/report.json
  bc_obps/reporting/management/commands/load_reporting_fixtures.py
Due: prettier, mypy

chore: e2e functions for viewing report details
  bciers/apps/reporting-e2e/poms/current-reports.ts
  bciers/apps/reporting-e2e/utils/constants.ts
  bciers/apps/reporting-e2e/utils/enums.ts
Due: prettier, eslint

chore: update string to common constant
  bciers/apps/reporting-e2e/tests/workflows/LFO/submit-report.spec.ts
Due: prettier, eslint

chore: improve report details verifiers
  bciers/apps/reporting-e2e/poms/current-reports.ts
Due: prettier, eslint

chore: update assertFieldVisibility to not fail with multiple matches
  bciers/libs/e2e/src/utils/helpers.ts
Due: prettier, eslint

chore: lfo test now uses lfo operation
  bciers/apps/reporting-e2e/tests/workflows/LFO/view-report.spec.ts
Due: prettier, eslint

test: e2e tests for viewing submitted report
  bciers/apps/reporting-e2e/tests/workflows/LFO/view-report.spec.ts
Due: prettier, eslint

chore: verify facility report for LFO submitted view
  bciers/apps/reporting-e2e/poms/current-reports.ts
  bciers/apps/reporting-e2e/tests/workflows/LFO/view-report.spec.ts
  bciers/apps/reporting-e2e/utils/enums.ts
Due: prettier, eslint

chore: revert year changes in fixtures and update loading duplicates
  bc_obps/reporting/fixtures/mock/report.json
  bc_obps/reporting/management/commands/load_reporting_fixtures.py
Due: prettier, mypy

chore: update logic in click view details methods
  bciers/apps/reporting-e2e/poms/current-reports.ts
  bciers/apps/reporting-e2e/tests/workflows/LFO/view-report.spec.ts
Due: prettier, eslint

chore: update bools to const flags
  bciers/apps/reporting-e2e/tests/workflows/LFO/view-report.spec.ts
  bciers/apps/reporting-e2e/tests/workflows/SFO/view-report.spec.ts
Due: prettier, eslint

chore: update string to enum
  bciers/apps/reporting-e2e/tests/workflows/SFO/submit-report.spec.ts
Due: prettier, eslint

chore: sfo view report e2e test
  bciers/apps/reporting-e2e/tests/workflows/SFO/view-report.spec.ts
Due: prettier, eslint

chore: reoroder functions for better maintenance
  bc_obps/reporting/management/commands/load_reporting_fixtures.py
Due: mypy

chore: refactor load fixtures changes to be more compartmentalized
  bc_obps/reporting/management/commands/load_reporting_fixtures.py
  bc_obps/reporting/management/commands/utils/reporting_year.py
Due: mypy

chore: remove duplicate duplicate check
  bc_obps/reporting/management/commands/load_reporting_fixtures.py
Due: mypy

chore: implement submitted and annual report POMs
  bciers/apps/reporting-e2e/poms/annual-report.ts
  bciers/apps/reporting-e2e/poms/current-reports.ts
  bciers/apps/reporting-e2e/poms/submitted.ts
  bciers/apps/reporting-e2e/tests/workflows/LFO/view-report.spec.ts
  bciers/apps/reporting-e2e/tests/workflows/SFO/view-report.spec.ts
  bciers/apps/reporting-e2e/utils/helpers.ts
Due: prettier, eslint

chore: remove unused route
  bciers/apps/reporting-e2e/poms/current-reports.ts
Due: prettier, eslint

chore: enhance clickButton with lookups
  bciers/apps/reporting-e2e/poms/current-reports.ts
  bciers/apps/reporting-e2e/poms/submitted.ts
  bciers/libs/e2e/src/utils/helpers.ts
Due: prettier, eslint

chore: cleanup commented code
  bciers/apps/reporting-e2e/poms/submitted.ts
Due: prettier, eslint

chore: add helper comment for local testing
  bciers/apps/reporting-e2e/poms/submitted.ts
Due: prettier, eslint

chore: revert programatically adding fixtures
  bc_obps/reporting/management/commands/load_reporting_fixtures.py
Due: mypy

Path conditions:
  prettier: any of: \.(j|t)sx?$|\.json$|\.md$|\.css$|\.scss$, but not: (\.next/|node_modules/|dist/|build/|coverage/|\.nx/cache/)
  eslint: any of: \.(j|t)sx?$, but not: (\.next/|node_modules/|dist/|build/|coverage/|\.nx/cache/|tests/performance/)
  mypy: any of: \.py$
