Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3 # Use the sha or tag you want to point at
    hooks:
      - id: prettier
        name: Prettier
        stages: [commit]

  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        language: system
        files: \.(j|t)sx?$
        entry: ./.bin/pre-commit-lint.sh
      - id: mypy
        name: Mypy
        language: system
        types: [python]
        entry: ./.bin/pre-commit-mypy.sh

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-vcs-permalinks
      - id: check-yaml
        exclude: (^helm/.*/templates/)
      - id: end-of-file-fixer
        exclude: (^erd_diagrams/)
      - id: trailing-whitespace
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        types: [python]
        args: ["--config", "bc_obps/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.2
    hooks:
      - id: ruff
        args: ["bc_obps/", "--fix"]

  - repo: https://github.com/python-poetry/poetry
    rev: 1.6.1
    hooks:
      - id: poetry-check
        args: ["-C", "./bc_obps"]
      - id: poetry-lock
        args: ["-C", "./bc_obps", "--check"] # --check to ensure lock file is up to date without updating it

  - repo: https://github.com/PyCQA/bandit
    rev: "1.7.5"
    hooks:
      - id: bandit
        args: ["-c", "bc_obps/bandit.yaml"]

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.2.5
    hooks:
      - id: gitleaks

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.16.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]

chore: refactor fetchFormEnums
  bciers/apps/administration/tests/components/facilities/Facilities.test.tsx
  bciers/apps/administration/tests/components/facilities/FacilitiesPage.test.tsx
  bciers/apps/administration/tests/components/facilities/FacilityPage.test.tsx
  bciers/apps/administration/tests/components/facilities/mocks.ts
  bciers/apps/administration/tests/components/operations/OperationDataGridPage.test.tsx
  bciers/apps/administration/tests/components/operations/OperationInformationForm.test.tsx
  bciers/apps/administration/tests/components/operations/OperationInformationPage.test.tsx
  bciers/apps/administration/tests/components/operations/mocks.ts
  bciers/apps/administration/tests/components/operators/OperatorForm.test.tsx
  bciers/apps/administration/tests/components/operators/OperatorPage.test.tsx
  bciers/apps/administration/tests/components/userOperators/UserOperator.test.tsx
  bciers/apps/administration/tests/components/userOperators/UserOperatorReviewForm.test.tsx
  bciers/apps/administration/vitest.config.mts
  bciers/apps/registration/tests/components/operations/OperationRegistrationPage.test.tsx
  bciers/apps/registration/tests/components/operations/registration/FacilityInformationPage.test.tsx
  bciers/apps/registration/tests/components/operations/registration/OperationInformationForm.test.tsx
  bciers/apps/registration/tests/components/operations/registration/OperationInformationPage.test.tsx
  bciers/apps/registration/tests/components/transfers/TransferDetailForm.test.tsx
  bciers/apps/registration/tests/components/transfers/TransferForm.test.tsx
  bciers/apps/registration/tests/components/transfers/TransfersDataGridPage.test.tsx
  bciers/libs/testConfig/src/global.tsx
  bciers/libs/testConfig/src/helpers/fetchFormEnums.ts
  bciers/libs/testConfig/src/mocks.ts
Due: eslint

chore: apply suggestions from code review
  bciers/libs/testConfig/src/helpers/fetchFormEnums.ts
Due: eslint

chore: test if happo fails
  docs/backend/optimization.md
Due: none

chore: created basic ConfirmChangeOfRegistrationPurposeModal reuseable component
  bciers/apps/registration/app/components/operations/registration/ConfirmChangeOfRegistrationPurposeModal.tsx
Due: eslint

chore: industry users will receive warning when changing registration purpose in registration workflow
  bciers/apps/administration/app/data/jsonSchema/operationInformation/administrationOperationInformation.ts
  bciers/apps/administration/app/data/jsonSchema/operationInformation/administrationRegistrationInformation.ts
  bciers/apps/registration/app/components/operations/registration/ConfirmChangeOfRegistrationPurposeModal.tsx
  bciers/apps/registration/app/components/operations/registration/OperationInformationForm.tsx
Due: eslint

chore: in progress - vitests
  bciers/apps/administration/tests/components/operations/OperationInformationPage.test.tsx
Due: eslint

chore: in progress
  bciers/apps/administration/app/components/operations/OperationInformationForm.tsx
  bciers/apps/registration/app/components/operations/registration/OperationInformationForm.tsx
Due: eslint

chore: in progress. Confused
  bciers/apps/administration/app/components/operations/OperationInformationForm.tsx
Due: eslint

chore: refactored registration section of operation details page to use RJSF dependencies
  bciers/apps/administration/app/data/jsonSchema/operationInformation/administrationOperationInformation.ts
  bciers/apps/administration/app/data/jsonSchema/operationInformation/administrationRegistrationInformation.ts
  bciers/apps/administration/app/data/jsonSchema/operationInformation/operationInformation.ts
Due: eslint

chore: in progress
  bciers/apps/administration/app/components/operations/OperationInformationForm.tsx
Due: eslint

chore: re-introduced Confirmation modal when changing reg purpose - but activities field is missing from reg workflow. To be fixed
  bciers/apps/administration/app/components/operations/OperationInformationForm.tsx
Due: eslint

chore: fixed RegistrationPurposeHelpText. I think all features complete
  bciers/apps/registration/app/components/operations/registration/OperationInformationForm.tsx
  bciers/apps/registration/app/data/jsonSchema/operationInformation/registrationPurpose.ts
Due: eslint

chore: added activities back in; now RP preface isn't showing up
  bciers/apps/registration/app/components/operations/registration/enums.ts
  bciers/apps/registration/app/data/jsonSchema/operationInformation/registrationPurpose.ts
Due: eslint

chore: in progress - vitests erratic
  bciers/apps/registration/tests/components/operations/registration/OperationInformationForm.test.tsx
  bciers/package.json
  bciers/yarn.lock
Due: eslint

chore: fixed rebase conflicts
  bciers/apps/administration/app/data/jsonSchema/operationInformation/operationInformation.ts
  bciers/apps/registration/app/components/operations/registration/OperationInformationForm.tsx
Due: eslint

chore: fixed vitests in admin/OperationInformationForm
  bciers/apps/administration/tests/components/operations/OperationInformationForm.test.tsx
Due: eslint

chore: debugging vitests - in progress. Registration tests failing
  bciers/apps/administration/app/data/jsonSchema/operationInformation/operationInformation.ts
  bciers/apps/administration/tests/components/operations/OperationInformationForm.test.tsx
  bciers/apps/registration/app/data/jsonSchema/operationInformation/registrationPurpose.ts
  bciers/apps/registration/tests/components/operations/registration/NewOperationRepresentativeForm.test.tsx
  bciers/apps/registration/tests/components/operations/registration/OperationInformationPage.test.tsx
Due: eslint

test: refactor fetchFormEnums
  bciers/apps/registration/app/components/operations/registration/OperationInformationForm.tsx
  bciers/apps/registration/tests/components/operations/registration/FacilityInformationPage.test.tsx
  bciers/apps/registration/tests/components/operations/registration/OperationInformationForm.test.tsx
  bciers/libs/testConfig/src/helpers/fetchFormEnums.ts
Due: eslint

chore: fix prettier
  bciers/apps/administration/app/data/jsonSchema/operationInformation/administrationOperationInformation.ts
  bciers/apps/administration/app/data/jsonSchema/operationInformation/administrationRegistrationInformation.ts
Due: eslint

chore: fixed report version id
  bciers/apps/reporting/src/app/components/datagrid/models/operations/operationColumns.tsx
Due: eslint

chore: add missing m2m fields to historical records
  bc_obps/registration/migrations/0077_historicalfacility_well_authorization_numbers_and_more.py
  bc_obps/registration/models/facility.py
  bc_obps/registration/models/operation.py
Due: mypy

chore: update methodology
  bc_obps/reporting/migrations/0008_prod_data.py
  bc_obps/reporting/migrations/0009_general_stationary_combustion_data.py
  bc_obps/reporting/migrations/0010_combustion_for_line_tracing_data.py
  bc_obps/reporting/migrations/0011_mobile_combustion_data.py
  bc_obps/reporting/migrations/0012_gsc_other_than_non_compression.py
  bc_obps/reporting/migrations/0013_refinery_fuel_gas_data.py
  bc_obps/reporting/migrations/0014_carbonates_use.py
  bc_obps/reporting/migrations/0015_gsc_non_compression_non_processing.py
  bc_obps/reporting/migrations/0017_hydrogen_production.py
  bc_obps/reporting/migrations/0018_pulp_and_paper_production.py
  bc_obps/reporting/migrations/0024_open_pit_coal_mining.py
  bc_obps/reporting/migrations/0027_storage_of_petroleum_products.py
  bc_obps/reporting/migrations/0036_aluminum_or_alumina_production_data.py
  bc_obps/reporting/migrations/0051_natural_gas_non_compression_configuration.py
  bc_obps/reporting/migrations/0053_natural_gas_other_than_non_compression_configuration.py
  bc_obps/reporting/migrations/0055_liquefied_natural_gas.py
  bc_obps/reporting/migrations/0059_og_extraction_non_compression_non_processing.py
  bc_obps/reporting/tests/models/program_configuration_tests/test_alumina_production_2024.py
  bc_obps/reporting/tests/models/program_configuration_tests/test_carbonates_use_2024.py
  bc_obps/reporting/tests/models/program_configuration_tests/test_fuel_combustion_mobile_2024.py
  bc_obps/reporting/tests/models/program_configuration_tests/test_gsc_excluding_line_tracing_2024.py
  bc_obps/reporting/tests/models/program_configuration_tests/test_gsc_non_compression_non_processing_2024.py
  bc_obps/reporting/tests/models/program_configuration_tests/test_gsc_other_than_non_compression_2024.py
  bc_obps/reporting/tests/models/program_configuration_tests/test_gsc_solely_for_line_tracing_2024.py
  bc_obps/reporting/tests/models/program_configuration_tests/test_hydrogen_production_2024.py
  bc_obps/reporting/tests/models/program_configuration_tests/test_lng.py
  bc_obps/reporting/tests/models/program_configuration_tests/test_ng_non_compression_2024.py
  bc_obps/reporting/tests/models/program_configuration_tests/test_ng_other_than_non_compression_2024.py
  bc_obps/reporting/tests/models/program_configuration_tests/test_og_extraction_ncnp_2024.py
  bc_obps/reporting/tests/models/program_configuration_tests/test_open_pit_coal_mining.py
  bc_obps/reporting/tests/models/program_configuration_tests/test_pulp_and_paper_production_2024.py
  bc_obps/reporting/tests/models/program_configuration_tests/test_refinery_fuel_gas_2024.py
  bc_obps/reporting/tests/models/program_configuration_tests/test_storage_of_petroleum_products_2024.py
  bc_obps/reporting/tests/models/test_methodology.py
  bc_obps/reporting/tests/service/test_report_activity_save_service/data.py
  bciers/apps/reporting/src/app/components/activities/uiSchemas/hydrogenProduction.ts
Due: eslint, mypy

feat: add compliance summary layout
  bc_obps/common/fixtures/dashboard/compliance/external.json
  bciers/apps/compliance/app/bceidbusiness/industry_user_admin/compliance-summaries/page.tsx
  bciers/apps/compliance/app/bceidbusiness/industry_user_admin/payment-summaries/page.tsx
  docs/developer-environment-setup-linux-os.md
Due: eslint

chore: fixed the tasklist prop
  bciers/apps/reporting/src/app/components/additionalInformation/additionalReportingData/AdditionalReportingDataForm.tsx
  bciers/apps/reporting/src/app/components/additionalInformation/additionalReportingData/AdditionalReportingDataPage.tsx
  bciers/apps/reporting/src/tests/components/additionalInformation/AdditionalReportingData.test.tsx
Due: eslint

chore: cleanup code
  bciers/apps/reporting/src/app/components/additionalInformation/operationEmissionSummary/OperationEmissionSummaryPage.tsx
Due: eslint

chore: fixed the tasklist for additional Information
  bciers/apps/reporting/src/app/components/additionalInformation/additionalReportingData/AdditionalReportingDataForm.tsx
  bciers/apps/reporting/src/app/components/additionalInformation/additionalReportingData/AdditionalReportingDataPage.tsx
  bciers/apps/reporting/src/app/components/additionalInformation/newEntrantInformation/NewEntrantInformationPage.tsx
  bciers/apps/reporting/src/app/components/additionalInformation/operationEmissionSummary/OperationEmissionSummaryPage.tsx
  bciers/apps/reporting/src/app/components/taskList/3_additionalInformation.ts
  bciers/apps/reporting/src/tests/components/additionalInformation/AdditionalReportingData.test.tsx
Due: eslint

chore: add additional fixtures
  bc_obps/registration/fixtures/test/operation_lfo.json
  bc_obps/registration/fixtures/test/operation_sfo.json
  bc_obps/registration/fixtures/test/user.json
  bc_obps/registration/fixtures/test/user_operator.json
Due: none

chore: use custom_migrate to load dev/test data
  bc_obps/common/management/commands/custom_migrate.py
Due: mypy

chore: remove deprecated load data jobs
  helm/cas-bciers/templates/backend/job/load-dev-data.yaml
  helm/cas-registration/templates/backend/job/load-dev-data.yaml
  helm/cas-registration/templates/backend/job/restore-test-users.yaml
Due: none
