Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, pylint

eslint:
  name: ESLint
  language: system
  entry: ./.bin/pre-commit-lint.sh

pylint:
  name: pylint
  entry: bash -c "cd bc_obps && poetry run pylint --rcfile=.pylintrc *.py"
  language: system
  require_serial: true

chore: add layout
  bciers/apps/registration/app/api/auth/[...nextauth]/route.ts
  bciers/apps/registration/app/api/auth/token/route.ts
  bciers/apps/registration/app/api/hello/route.ts
  bciers/apps/registration/app/layout.tsx
  bciers/apps/registration/app/page.module.css
  bciers/apps/registration/app/page.tsx
  bciers/apps/registration/public/.gitkeep
  bciers/apps/registration/public/favicon.ico
  bciers/apps/registration/public/img/BCID_CleanBC_rev_tagline_colour.svg
  bciers/apps/registration/public/img/favicon.ico
  bciers/apps/registration1/app/layout.tsx
  bciers/libs/shared/styles/src/lib/globals.css
Due: eslint

docs: cleanup registration part 2 frontend doc
  docs/registration_part_2/frontend-development.md
Due: none

chore: add playwright cache check back in
  .github/workflows/test.yaml
  bciers/.vscode/extensions.json
Due: none

chore: fix test directory
  bciers/apps/registration/tests/add-tests-here.test.ts
Due: eslint

chore: add postcss config to registration part 2
  bciers/apps/registration/postcss.config.js
Due: eslint

chore: increase flakey test timeout
  .github/workflows/test.yaml
  bciers/apps/registration1/e2e/poms/users.ts
  bciers/apps/registration1/e2e/utils/helpers.ts
Due: eslint

Update test.yaml
  .github/workflows/test.yaml
Due: none

chore: fix happo flake
  bciers/apps/registration/e2e/utils/enums.ts
  bciers/apps/registration/e2e/utils/helpers.ts
  bciers/apps/registration/e2e/workflows/bceidbusiness/industry_user.spec.ts
  bciers/apps/registration/e2e/workflows/bceidbusiness/industry_user_admin.spec.ts
  bciers/apps/registration/e2e/workflows/idir/cas_admin.spec.ts
  bciers/apps/registration/e2e/workflows/idir/cas_analyst.spec.ts
  docs/developer-guide.md
Due: eslint

docs: add instructions for dealing with flakiness
  docs/developer-guide.md
Due: none

chore: add e2e folder to sonarcloud ignore
  .sonarcloud.properties
Due: none

chore: fix flake
  bciers/apps/registration/e2e/workflows/idir/cas_admin.spec.ts
Due: eslint

chore: complete the cut off comment
  bc_obps/registration/utils.py
Due: pylint

chore: fix some endpoint refs after endpoint renaming
  bc_obps/registration/tests/endpoints/v1/_user_operators/test_authorization.py
  bciers/apps/registration/tests/performance/scenarios/backend/user_operator.js
  docs/backend/api-design.md
Due: eslint, pylint

chore: move to the common app
  bc_obps/common/constants.py
  bc_obps/common/models.py
  bc_obps/registration/constants.py
  bc_obps/registration/models.py
  bc_obps/registration/schema/v1/contact.py
  bc_obps/registration/schema/v1/multiple_operator.py
  bc_obps/registration/schema/v1/operator.py
  bc_obps/registration/schema/v1/user_operator.py
  bc_obps/registration/tests/endpoints/v1/test_operators_endpoints.py
  bc_obps/reporting/models/report.py
Due: pylint

chore: remove endpoints suffix and rename identical test files
  bc_obps/registration/tests/endpoints/v1/_operations/_operation_id/test_operation_update_status.py
  bc_obps/registration/tests/endpoints/v1/_operations/test_operation_id.py
  bc_obps/registration/tests/endpoints/v1/_operators/_operator_id/test_access_declined.py
  bc_obps/registration/tests/endpoints/v1/_operators/_operator_id/test_has_admin.py
  bc_obps/registration/tests/endpoints/v1/_user_operators/_user_operator_id/test_user_operator_update_status.py
  bc_obps/registration/tests/endpoints/v1/test_business_structure.py
  bc_obps/registration/tests/endpoints/v1/test_naicscode.py
  bc_obps/registration/tests/endpoints/v1/test_operations.py
  bc_obps/registration/tests/endpoints/v1/test_operators.py
  bc_obps/registration/tests/endpoints/v1/test_regulated_products.py
  bc_obps/registration/tests/endpoints/v1/test_reporting_activities.py
  bc_obps/registration/tests/endpoints/v1/test_user_operators.py
  bc_obps/registration/tests/endpoints/v1/user/test_user_app_role.py
  bc_obps/registration/tests/endpoints/v1/user/test_user_profile.py
Due: pylint

docs: refine and modularize docs
  docs/backend/api-design.md
  docs/backend/data-models.md
  docs/backend/entity-relationship-diagram.md
  docs/backend/misc.md
  docs/backend/mypy.md
  docs/backend/optimization.md
  docs/backend/test.md
  docs/ci.md
  docs/devops/helm-secrets-cas-pipeline.md
  docs/devops/release.md
  docs/devops/state-and-container-setup.md
  docs/frontend/css-theme-guide.md
  docs/frontend/developer-guide.md
  docs/frontend/growthbook.md
  docs/frontend/nx-monorepo.md
  docs/frontend/rjsf-forms.md
  docs/frontend/server-vs-client-rendering.md
  docs/model-change-history.md
Due: none

docs: add more docs about mypy
  bc_obps/Makefile
  docs/mypy.md
Due: none

chore: remove `url_name`
  bc_obps/registration/api/v1/_operations/_operation_id/update_status.py
  bc_obps/registration/api/v1/_operations/operation_id.py
  bc_obps/registration/api/v1/_operators/_operator_id/access_declined.py
  bc_obps/registration/api/v1/_operators/_operator_id/has_admin.py
  bc_obps/registration/api/v1/_operators/_operator_id/request_access.py
  bc_obps/registration/api/v1/_operators/_operator_id/request_admin_access.py
  bc_obps/registration/api/v1/_user_operators/_current/access_requests.py
  bc_obps/registration/api/v1/_user_operators/_current/is_current_user_approved_admin.py
  bc_obps/registration/api/v1/_user_operators/_user_operator_id/update_status.py
  bc_obps/registration/api/v1/_user_operators/current.py
  bc_obps/registration/api/v1/_user_operators/pending.py
  bc_obps/registration/api/v1/_user_operators/user_operator_id.py
  bc_obps/registration/api/v1/business_structures.py
  bc_obps/registration/api/v1/naics_codes.py
  bc_obps/registration/api/v1/operations.py
  bc_obps/registration/api/v1/operators.py
  bc_obps/registration/api/v1/regulated_products.py
  bc_obps/registration/api/v1/reporting_activities.py
  bc_obps/registration/api/v1/user/user_app_role.py
  bc_obps/registration/api/v1/user/user_profile.py
  bc_obps/registration/api/v1/user_operators.py
  bc_obps/registration/api/v1/users.py
  bc_obps/registration/api/v2/sample.py
Due: pylint

chore: add swagger configs
  bc_obps/bc_obps/api.py
Due: pylint

chore: remove redundant texts
  bc_obps/service/data_access_service/regulated_product_service.py
Due: pylint

test: update tests after removing url names
  bc_obps/registration/tests/endpoints/v1/_operators/_operator_id/test_access_declined.py
  bc_obps/registration/tests/endpoints/v1/_user_operators/test_authorization.py
  bc_obps/registration/tests/endpoints/v1/_user_operators/test_user_operator_id.py
Due: pylint

docs: add docs on how we create a new api endpoint
  docs/backend/api-design.md
Due: none

docs: add description for all endpoints
  bc_obps/registration/api/v1/_operations/_operation_id/update_status.py
  bc_obps/registration/api/v1/_operations/operation_id.py
  bc_obps/registration/api/v1/_operators/_operator_id/access_declined.py
  bc_obps/registration/api/v1/_operators/_operator_id/has_admin.py
  bc_obps/registration/api/v1/_operators/_operator_id/request_access.py
  bc_obps/registration/api/v1/_operators/_operator_id/request_admin_access.py
  bc_obps/registration/api/v1/_user_operators/_current/access_requests.py
  bc_obps/registration/api/v1/_user_operators/_current/is_current_user_approved_admin.py
  bc_obps/registration/api/v1/_user_operators/_user_operator_id/update_status.py
  bc_obps/registration/api/v1/_user_operators/current.py
  bc_obps/registration/api/v1/_user_operators/pending.py
  bc_obps/registration/api/v1/_user_operators/user_operator_id.py
  bc_obps/registration/api/v1/business_structures.py
  bc_obps/registration/api/v1/e2e_test_setup.py
  bc_obps/registration/api/v1/naics_codes.py
  bc_obps/registration/api/v1/operations.py
  bc_obps/registration/api/v1/operators.py
  bc_obps/registration/api/v1/regulated_products.py
  bc_obps/registration/api/v1/reporting_activities.py
  bc_obps/registration/api/v1/user/user_app_role.py
  bc_obps/registration/api/v1/user/user_profile.py
  bc_obps/registration/api/v1/user_operators.py
  bc_obps/registration/api/v1/users.py
Due: pylint

chore: make erd diagrams happy
  erd_diagrams/erd_registration.md
Due: none

Path conditions:
  eslint: any of: \.(j|t)sx?$
  pylint: any of: \.py$
