Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3 # Use the sha or tag you want to point at
    hooks:
      - id: prettier
        name: Prettier
        stages: [commit]
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        language: system
        files: \.(j|t)sx?$
        entry: ./.bin/pre-commit-lint.sh

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-vcs-permalinks
      - id: check-yaml
        exclude: (^helm/.*/templates/)
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: debug-statements
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: bash -c "cd bc_obps && poetry run pylint --rcfile=.pylintrc *.py"
        language: system
        types: [python]
        require_serial: true

  - repo: https://github.com/python-poetry/poetry
    rev: 1.6.1
    hooks:
      - id: poetry-check
        args: ["-C", "./bc_obps"]
      - id: poetry-lock
        args: ["-C", "./bc_obps", "--check"] # --check to ensure lock file is up to date without updating it

  - repo: https://github.com/PyCQA/bandit
    rev: "1.7.5"
    hooks:
      - id: bandit
        args: ["-c", "bc_obps/bandit.yaml"]

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.2.5
    hooks:
      - id: gitleaks

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v8.0.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]

chore: fix typo
  data_import/docs.md
Due: none

chore: add on conflict statements for idempotence
  data_import/obps_import_swrs_data_from_fdw.sql
Due: none

chore: populate addresses
  data_import/obps_import_swrs_data_from_fdw.sql
  data_import/obps_swrs_import_fdw.sql
Due: none

chore: import to erc tables (debugging complete)
  data_import/import-job-template.yaml
  data_import/obps_import_swrs_data_from_fdw.sql
  data_import/obps_swrs_import_fdw.sql
Due: none

docs: update documentation
  data_import/docs.md
Due: none

docs: update documentation
  data_import/docs.md
  data_import/import-job-template.yaml
Due: none

chore: normalize SFO LFO to fully written out names
  data_import/obps_import_swrs_data_from_fdw.sql
Due: none

chore: update status in fdw after change of status name
  data_import/obps_import_swrs_data_from_fdw.sql
Due: none

chore: fix sonarcloud issues
  data_import/import-job-template.yaml
Due: none

chore: make prettier happy
  data_import/docs.md
  data_import/import-job-template.yaml
Due: none

fix: add physical_street_address field to `OperatorOut` schema
  bc_obps/registration/schema/operator.py
  bc_obps/registration/tests/endpoints/test_operator_endpoints.py
Due: pylint

chore: generating django superuser using env variables
  bc_obps/.env.example
  bc_obps/Makefile
  bc_obps/registration/management/commands/create_superuser.py
Due: pylint

debug: e2e env KEYCLOAK_LOGIN_URL
  .github/workflows/test.yaml
Due: none

prettier
  client/Dockerfile
  client/app/api/auth/[...nextauth]/route.ts
  client/e2e/pages/onboarding/home/page.spec.ts
  client/e2e/setup/global.ts
Due: eslint

debug: en var test.yaml
  .github/workflows/test.yaml
  client/app/api/auth/[...nextauth]/route.ts
  client/e2e/.env.local.example
  client/e2e/pages/onboarding/home/page.spec.ts
  client/e2e/pages/onboarding/login/page.spec.ts
  client/e2e/setup/global.ts
  client/e2e/utils/enums.ts
  client/e2e/utils/helpers.ts
  client/e2e/utils/pool.ts
  docs/developer-guide.md
Due: eslint

chore: add env to local-app-run
  .github/actions/local-app-run/action.yml
  .github/workflows/test.yaml
Due: none

chore: env vars start frontend
  .github/actions/local-app-run/action.yml
Due: none

chore: env var secrets
  .github/actions/local-app-run/action.yml
Due: none

Chore: approved Operations remain Approved after PUT request made
  bc_obps/registration/api/operation.py
Due: pylint

Chore: updates to unit tests in progress...
  bc_obps/registration/api/operation.py
  bc_obps/registration/tests/endpoints/test_operations_endpoints.py
Due: pylint

Chore: just debugging
  bc_obps/registration/api/operation.py
  bc_obps/registration/tests/endpoints/test_operations_endpoints.py
Due: pylint
