Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3 # Use the sha or tag you want to point at
    hooks:
      - id: prettier
        name: Prettier
        stages: [commit]

  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        language: system
        files: \.(j|t)sx?$
        entry: ./.bin/pre-commit-lint.sh
      - id: mypy
        name: Mypy
        language: system
        types: [python]
        entry: ./.bin/pre-commit-mypy.sh

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-vcs-permalinks
      - id: check-yaml
        exclude: (^helm/.*/templates/)
      - id: end-of-file-fixer
        exclude: (^erd_diagrams/)
      - id: trailing-whitespace
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        types: [python]
        args: ["--config", "bc_obps/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.2
    hooks:
      - id: ruff
        args: ["bc_obps/", "--fix"]

  - repo: https://github.com/python-poetry/poetry
    rev: 1.6.1
    hooks:
      - id: poetry-check
        args: ["-C", "./bc_obps"]
      - id: poetry-lock
        args: ["-C", "./bc_obps", "--check"] # --check to ensure lock file is up to date without updating it

  - repo: https://github.com/PyCQA/bandit
    rev: "1.7.5"
    hooks:
      - id: bandit
        args: ["-c", "bc_obps/bandit.yaml"]

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.2.5
    hooks:
      - id: gitleaks

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.16.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]

chore: added operator legal name as required
  bciers/apps/reporting/src/data/jsonSchema/operations.ts
Due: eslint

chore: fixed some issues
  bc_obps/reporting/schema/report_operation.py
  bciers/apps/reporting/src/app/components/operations/OperationReviewForm.tsx
  bciers/apps/reporting/src/app/components/operations/OperationReviewPage.tsx
Due: eslint, mypy

chore: fixed errors
  bciers/apps/reporting/src/app/components/finalReview/reviewDataFactory/operationReviewFactoryItem.ts
  bciers/apps/reporting/src/data/jsonSchema/operations.ts
Due: eslint

chore: fixed test
  bciers/apps/reporting/src/tests/components/operations/OperationReviewForm.test.tsx
Due: eslint

chore: refactored operation review
  bc_obps/reporting/schema/report_operation.py
  bciers/apps/reporting/src/app/components/operations/OperationReviewForm.tsx
  bciers/apps/reporting/src/app/components/operations/OperationReviewPage.tsx
  bciers/apps/reporting/src/data/jsonSchema/operations.ts
  bciers/apps/reporting/src/data/jsonSchema/operations.tsx
  bciers/apps/reporting/src/data/jsonSchema/reviewOperationInformationText.tsx
  bciers/apps/reporting/src/tests/components/operations/OperationReviewForm.test.tsx
  bciers/libs/components/src/form/fields/InlineFieldTemplate.tsx
Due: eslint, mypy

chore: fixed operation review factory items
  bciers/apps/reporting/src/app/components/finalReview/reviewDataFactory/operationReviewFactoryItem.ts
Due: eslint

chore: fixed tests
  bc_obps/service/tests/test_report_service.py
Due: mypy

chore: added suggested changes
  bc_obps/service/report_service.py
  bc_obps/service/report_version_service.py
  bciers/apps/reporting/src/app/bceidbusiness/industry_user_admin/reports/[version_id]/review-operation-information/page.tsx
  bciers/apps/reporting/src/app/components/operations/OperationReviewForm.tsx
  bciers/apps/reporting/src/app/components/operations/OperationReviewPage.tsx
  bciers/apps/reporting/src/app/components/operations/cells/ActionCell.tsx
  bciers/apps/reporting/src/app/components/operations/personResponsible/PersonResponsibleForm.tsx
  bciers/apps/reporting/src/app/components/taskList/1_operationInformation.ts
  bciers/apps/reporting/src/data/jsonSchema/operations.tsx
  bciers/apps/reporting/src/middlewares/withRulesAppliedReport.test.ts
  bciers/apps/reporting/src/middlewares/withRulesAppliedReport.ts
  bciers/apps/reporting/src/tests/components/dataGrid/model/operations/operationColumns.test.tsx
  bciers/apps/reporting/src/tests/components/operations/OperationReviewForm.test.tsx
  bciers/libs/components/src/navigation/Bread.test.tsx
  docs/reporting/url-patterns.md
Due: eslint, mypy

chore: added suggested changes
  bciers/apps/reporting/src/tests/components/operations/OperationReviewForm.test.tsx
Due: eslint

chore: fetch data directly from api
  bc_obps/reporting/api/reports.py
  bc_obps/reporting/schema/report_operation.py
  bc_obps/service/report_service.py
  bciers/apps/reporting/src/app/components/operations/OperationReviewForm.tsx
  bciers/apps/reporting/src/app/components/operations/OperationReviewPage.tsx
Due: eslint, mypy

chore: added error message if change report type api fails
  bciers/apps/reporting/src/app/bceidbusiness/industry_user/reports/[version_id]/review-operation-information/page.tsx
  bciers/apps/reporting/src/app/components/operations/OperationReviewForm.tsx
Due: eslint

chore: fixed test
  bc_obps/reporting/tests/api/test_report_version_endpoint.py
  bciers/libs/components/src/navigation/Bread.test.tsx
Due: eslint, mypy

chore:fixed tests
  bciers/apps/reporting/src/app/components/operations/OperationReviewForm.tsx
  bciers/apps/reporting/src/tests/components/operations/OperationReviewForm.test.tsx
Due: eslint

chore: set api error null
  bciers/apps/reporting/src/app/components/operations/OperationReviewForm.tsx
Due: eslint

chore: fixed afer rebase
  bciers/apps/reporting/src/app/utils/constants.ts
  bciers/apps/reporting/src/data/jsonSchema/operations.tsx
  bciers/apps/reporting/src/tests/components/operations/OperationReviewForm.test.tsx
Due: eslint

chore: fixed issues
  bciers/apps/reporting/src/app/components/finalReview/reviewDataFactory/operationReviewFactoryItem.ts
  bciers/apps/reporting/src/app/components/operations/OperationReviewPage.tsx
Due: eslint

chore: fixed issue
  bciers/apps/reporting/src/app/components/finalReview/reviewDataFactory/operationReviewFactoryItem.ts
Due: eslint

chore: fix typos and improve rendering in OperationRepresentativeWidget
  bciers/libs/components/src/form/widgets/OperationRepresentativeWidget.tsx
  bciers/libs/components/src/form/widgets/readOnly/OperationRepresentativeWidget.test.tsx
Due: eslint

fix: existing contact options conditional handling in operation representative schema
  bciers/apps/registration/app/data/jsonSchema/operationRegistration/operationRepresentative.ts
Due: eslint

chore: remove leftover and complete the comment
  bciers/apps/registration/app/data/jsonSchema/operationRegistration/operationRepresentative.ts
Due: eslint
