Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, pylint

eslint:
  name: ESLint
  language: system
  entry: ./.bin/pre-commit-lint.sh

pylint:
  name: pylint
  entry: bash -c "cd bc_obps && poetry run pylint --rcfile=.pylintrc *.py"
  language: system
  require_serial: true

chore: add `API` request to set up test data before running tests
  client/e2e/workflows/idir/cas_admin.spec.ts
Due: eslint

chore: temp fix for sonar cloud issue
  bc_obps/registration/management/commands/truncate_dev_data_tables.py
Due: pylint

chore: add workflow query param to test setup endpoint
  bc_obps/Makefile
  bc_obps/registration/api/api_base.py
  bc_obps/registration/management/commands/load_fixtures.py
  client/e2e/workflows/idir/cas_admin.spec.ts
Due: eslint, pylint

chore: resolve mock file when env is develop
  bc_obps/registration/schema/operation.py
Due: pylint

chore: remove problematic fade component for e2e tests
  client/app/components/routes/operations/form/Operation.tsx
Due: eslint

chore: move test setup endpoint to a dedicated folder
  bc_obps/registration/api/__init__.py
  bc_obps/registration/api/api_base.py
  bc_obps/registration/api/e2e_test_setup.py
  bc_obps/registration/management/commands/load_fixtures.py
Due: pylint

chore: bring back fade component and and wait to resolve failing test
  client/app/components/routes/operations/form/Operation.tsx
  client/e2e/workflows/idir/cas_admin.spec.ts
Due: eslint

chore: suppress all sonar cloud warning on a specific file temp
  bc_obps/registration/management/commands/truncate_dev_data_tables.py
Due: pylint

test: add helper function to setup e2e test env
  client/e2e/utils/helpers.ts
  client/e2e/workflows/idir/cas_admin.spec.ts
Due: eslint

chore: add timeout to fix flaky test
  client/e2e/workflows/idir/cas_admin.spec.ts
Due: eslint

chore: truncate tables to avoid dependency conflicts
  client/e2e/pages/onboarding/home/page.spec.ts
Due: eslint

chore: more refactor to make sonar cloud happy
  bc_obps/registration/management/commands/truncate_dev_data_tables.py
Due: pylint

chore: refactor truncate command to bypass sonar cloud issues
  bc_obps/registration/management/commands/truncate_dev_data_tables.py
Due: pylint

chore: more spec work
  client/e2e/workflows/idir/cas_admin.spec.ts
Due: eslint

chore: spec work
  client/e2e/workflows/idir/cas_admin.spec.ts
Due: eslint

chore: and more spec work
  client/app/components/routes/operations/form/Operation.tsx
Due: eslint

chore: again spec work
  client/app/components/routes/operations/form/Operation.tsx
  client/e2e/utils/enums.ts
  client/e2e/workflows/idir/cas_admin.spec.ts
Due: eslint

chore: yet spec work
  client/e2e/poms/operations.ts
  client/e2e/workflows/idir/cas_admin.spec.ts
Due: eslint

chore: move the flaky assertion down to give it a bit more time
  client/e2e/workflows/idir/cas_admin.spec.ts
Due: eslint

chore: spec work
  client/app/components/routes/operations/form/Operation.tsx
  client/e2e/poms/operations.ts
  client/e2e/utils/enums.ts
  client/e2e/workflows/idir/cas_admin.spec.ts
Due: eslint

chore: spec work
  client/app/components/routes/operations/form/Operation.tsx
Due: eslint

chore: fix fixtures after rebasing
  bc_obps/registration/fixtures/mock/user_operator.json
Due: none

chore: remove spec works
  client/e2e/workflows/idir/cas_admin.spec.ts
Due: eslint

chore: remove spec work
  client/app/components/routes/operations/form/Operation.tsx
Due: eslint

chore: clear all caches when running e2e tests
  bc_obps/registration/api/e2e_test_setup.py
Due: pylint

chore: commenting out the problematic code
  client/e2e/workflows/idir/cas_admin.spec.ts
Due: eslint

chore: revert spec work
  bc_obps/registration/middleware/current_user_middleware.py
Due: pylint

chore: remove tmate session
  .github/workflows/test.yaml
  client/e2e/workflows/idir/cas_admin.spec.ts
Due: eslint

chore: remove unused helper function
  client/e2e/utils/helpers.ts
Due: eslint

chore: revert spec works
  client/e2e/workflows/idir/cas_admin.spec.ts
Due: eslint

chore: and spec work
  client/e2e/workflows/idir/cas_admin.spec.ts
Due: eslint

chore: add more existing operator to our fixture
  bc_obps/registration/fixtures/mock/operator.json
Due: none

chore: update fixtures
  bc_obps/registration/fixtures/mock/operator.json
  bc_obps/registration/fixtures/mock/user_operator.json
Due: none

chore: revert the code after resolving rebase conflict
  .github/workflows/test.yaml
Due: none

chore: make browser instance based on the available browser type
  client/e2e/utils/helpers.ts
Due: eslint

Path conditions:
  eslint: any of: \.(j|t)sx?$
  pylint: any of: \.py$
