Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3 # Use the sha or tag you want to point at
    hooks:
      - id: prettier
        name: Prettier
        stages: [commit]
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        language: system
        files: \.(j|t)sx?$
        entry: ./.bin/pre-commit-lint.sh

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-vcs-permalinks
      - id: check-yaml
        exclude: (^helm/.*/templates/)
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: debug-statements
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: bash -c "cd bc_obps && poetry run pylint --rcfile=.pylintrc *.py"
        language: system
        types: [python]
        require_serial: true

  - repo: https://github.com/python-poetry/poetry
    rev: 1.6.1
    hooks:
      - id: poetry-check
        args: ["-C", "./bc_obps"]
      - id: poetry-lock
        args: ["-C", "./bc_obps", "--check"] # --check to ensure lock file is up to date without updating it

  - repo: https://github.com/PyCQA/bandit
    rev: "1.7.5"
    hooks:
      - id: bandit
        args: ["-c", "bc_obps/bandit.yaml"]

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.2.5
    hooks:
      - id: gitleaks

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v8.0.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]

feat: test logged-in, logout, login
  client/e2e/pages/onboarding/home/page.spec.ts
Due: eslint

chore: spec work
  .github/workflows/test.yaml
Due: none

chore: add environment variables for playwright tests
  .github/workflows/test.yaml
Due: none

chore: spec work
  .github/actions/local-app-run/action.yml
  .github/workflows/test.yaml
Due: none

chore: add database configuration to test.yaml
  .github/workflows/test.yaml
Due: none

debug: e2e test isolation to IO
  client/e2e/utils/enums.ts
Due: eslint

chore: revert spec work changes
  .github/actions/local-app-run/action.yml
Due: none

debug: playwright revert
  client/playwright.config.ts
Due: eslint

debug: globalsetup
  client/e2e/pages/authenticated/dashboard/page.spec.ts
  client/e2e/pages/authenticated/dashboard/profile/page.spec.ts
  client/e2e/pages/onboarding/home/page.spec.ts
  client/e2e/setup/global.ts
  client/e2e/utils/enums.ts
  client/e2e/utils/helpers.ts
Due: eslint

debug: playwright.config
  client/e2e/workflows/bceidbusiness/industry_user.spec.ts
  client/e2e/workflows/bceidbusiness/industry_user_admin.spec.ts
  client/e2e/workflows/bceidbusiness/new_user.spec.ts
  client/e2e/workflows/idir/cas_admin.spec.ts
  client/e2e/workflows/idir/cas_analyst.spec.ts
  client/e2e/workflows/idir/cas_pending.spec.ts
  client/playwright.config.ts
Due: eslint

debug: no auth setup
  client/e2e/pages/onboarding/home/page.spec.ts
Due: eslint

debug: test login
  client/e2e/setup/global.ts
  client/e2e/utils/helpers.ts
  client/playwright.config.ts
Due: eslint

debug: gbd
  client/e2e/pages/onboarding/home/page.spec.ts
Due: eslint

debug: baseurl
  .github/workflows/test.yaml
Due: none

debug: fix yaml file
  .github/workflows/test.yaml
  client/e2e/pages/onboarding/home/page.spec.ts
Due: eslint

debug: logging
  client/e2e/pages/onboarding/home/page.spec.ts
  client/playwright.config.ts
Due: eslint

debug: trim test.yaml
  .github/workflows/test.yaml
Due: none

debug: full test.yaml
  .github/workflows/test.yaml
Due: none

chore: release vv0.1.1-beta-4
  CHANGELOG.md
  package.json
Due: none

debug: logging
  client/e2e/pages/onboarding/home/page.spec.ts
Due: eslint

debug: more logs
  client/app/components/navigation/Login.tsx
  client/e2e/pages/onboarding/home/page.spec.ts
Due: eslint

debug: extend wait
  client/e2e/pages/onboarding/home/page.spec.ts
Due: eslint

debug: trace
  .github/workflows/test.yaml
Due: none

chore: create get_statutory_declaration function
  bc_obps/registration/models.py
Due: pylint

chore: create file transformation helpers
  bc_obps/registration/utils.py
Due: pylint

chore: update operation json schema
  client/app/utils/jsonSchema/operations.ts
Due: eslint

chore: update operation endpoint
  bc_obps/registration/api/operation.py
  bc_obps/registration/schema/operation.py
Due: pylint

chore: cleanup documents
  bc_obps/registration/api/operation.py
  bc_obps/registration/schema/operation.py
  bc_obps/registration/tests/endpoints/test_operations_endpoints.py
  bc_obps/registration/tests/utils/helpers.py
  client/app/components/form/OperationsForm.tsx
  client/app/components/routes/operations/types.ts
  client/app/components/routes/select-operator/form/types.ts
  client/app/utils/jsonSchema/operations.ts
  client/tests/components/form/OperationsForm.test.tsx
Due: eslint, pylint

test: test file uploads
  bc_obps/registration/tests/endpoints/test_operations_endpoints.py
  bc_obps/registration/tests/test_utils.py
  bc_obps/registration/tests/utils/helpers.py
Due: pylint

chore: add preview to FileWidget
  client/app/components/form/widgets/FileWidget.tsx
Due: eslint

chore: set file size limit to 20mb
  bc_obps/bc_obps/settings.py
Due: pylint

chore: set file size limit to 20mb
  bc_obps/bc_obps/settings.py
  client/app/components/form/widgets/FileWidget.tsx
  client/next.config.js
Due: eslint, pylint
