Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3 # Use the sha or tag you want to point at
    hooks:
      - id: prettier
        name: Prettier
        stages: [commit]

  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        language: system
        files: \.(j|t)sx?$
        entry: ./.bin/pre-commit-lint.sh
      - id: mypy
        name: Mypy
        language: system
        types: [python]
        entry: ./.bin/pre-commit-mypy.sh

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-vcs-permalinks
      - id: check-yaml
        exclude: (^helm/.*/templates/)
      - id: end-of-file-fixer
        exclude: (^erd_diagrams/)
      - id: trailing-whitespace
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        types: [python]
        args: ["--config", "bc_obps/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.2
    hooks:
      - id: ruff
        args: ["bc_obps/", "--fix"]

  - repo: https://github.com/python-poetry/poetry
    rev: 1.6.1
    hooks:
      - id: poetry-check
        args: ["-C", "./bc_obps"]
      - id: poetry-lock
        args: ["-C", "./bc_obps", "--check"] # --check to ensure lock file is up to date without updating it

  - repo: https://github.com/PyCQA/bandit
    rev: "1.7.5"
    hooks:
      - id: bandit
        args: ["-c", "bc_obps/bandit.yaml"]

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.2.5
    hooks:
      - id: gitleaks

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.16.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]

chore: separated banner out into separate CSR component - everything now functions as desired
  bciers/apps/administration/app/components/facilities/FacilitiesDataGrid.tsx
  bciers/apps/administration/app/components/facilities/FacilityPage.tsx
  bciers/apps/administration/app/components/facilities/FacilityPageBanner.tsx
  bciers/libs/components/src/datagrid/cells/ActionCellFactory.tsx
Due: eslint

chore: fixed failing vitests
  bciers/apps/administration/app/components/facilities/FacilityPageBanner.tsx
Due: eslint

chore: implemented Tooltip for actions button
  bciers/apps/administration/app/components/facilities/FacilitiesDataGrid.tsx
  bciers/apps/administration/app/components/facilities/FacilityPage.tsx
  bciers/apps/registration/app/components/operations/registration/FacilityInformationForm.tsx
  bciers/libs/components/src/datagrid/cells/ActionCellFactory.tsx
Due: eslint

chore: trying to fix docker build issue in ActionCellFactory
  bciers/libs/components/src/datagrid/cells/ActionCellFactory.tsx
Due: eslint

chore: made operationName param in FacilitiesDataGrid optional
  bciers/apps/administration/app/components/facilities/FacilitiesDataGrid.tsx
  bciers/apps/administration/app/components/facilities/FacilityPage.tsx
Due: eslint

chore: added unit tests for FacilityPageBanner component
  bciers/apps/administration/tests/components/facilities/FacilityPageBanner.test.tsx
Due: eslint

chore: fix tooltip not showing up
  bciers/libs/components/src/datagrid/cells/ActionCellFactory.tsx
Due: eslint

chore: added more vitests to FacilitiesDataGrid in relation to action cells
  bciers/apps/administration/tests/components/facilities/FacilitiesDataGrid.test.tsx
  bciers/libs/components/src/datagrid/cells/ActionCellFactory.tsx
Due: eslint

chore: enhance action cell tests and facilitypagebanner component
  bciers/apps/administration/tests/components/facilities/FacilitiesDataGrid.test.tsx
  bciers/apps/administration/tests/components/facilities/FacilityPageBanner.test.tsx
Due: eslint

tests: testing validator logic
  bc_obps/reporting/service/report_submission_service.py
  bc_obps/reporting/service/report_validation/report_validation_error.py
  bc_obps/reporting/service/report_validation/report_validation_service.py
  bc_obps/reporting/service/report_validation/validators/mandatory_verification_statement.py
  bc_obps/reporting/tests/service/report_validation/test_report_validation_service.py
  bc_obps/reporting/tests/service/report_validation/validators/test_mandatory_verification_statement_validator.py
  bc_obps/reporting/tests/service/test_report_submission_service.py
Due: mypy

docs: documenting the plugin architecture
  bc_obps/reporting/service/report_validation/report_validation_error.py
  bc_obps/reporting/service/report_validation/report_validation_result.py
  bc_obps/reporting/service/report_validation/report_validation_service.py
  bc_obps/reporting/service/report_validation/validators/__init__.py
  bc_obps/reporting/service/report_validation/validators/example_validator.py
  bc_obps/reporting/service/report_validation/validators/mandatory_verification_statement.py
  bc_obps/reporting/service/report_validation/validators/new_validator.py
  bc_obps/reporting/service/report_validation/validators/test_validator.py
  docs/reporting/report-validation.md
Due: mypy

chore: test validators
  bc_obps/reporting/service/report_submission_service.py
  bc_obps/reporting/service/report_validation/report_validation_result.py
  bc_obps/reporting/service/report_validation/report_validation_service.py
  bc_obps/reporting/service/report_validation/validators/__init__.py
  bc_obps/reporting/service/report_validation/validators/mandatory_verification_statement.py
  bc_obps/reporting/service/report_validation/validators/new_validator.py
  bc_obps/reporting/tests/service/report_validation/test_report_validation_service.py
Due: mypy

chore: structure for validation service
  bc_obps/reporting/service/report_validation/report_validation_service.py
  bc_obps/reporting/service/report_validation/validators/__init__.py
  bc_obps/reporting/service/report_validation/validators/test_validator.py
Due: mypy

refactor: simplify report sign-off data structure by using dataclasses
  bc_obps/reporting/api/submit.py
  bc_obps/reporting/service/report_sign_off_service.py
  bc_obps/reporting/tests/service/test_report_sign_off_service.py
  bc_obps/reporting/tests/service/test_report_submission_service.py
Due: mypy

docs: class documentation
  bc_obps/reporting/service/report_submission_service.py
  bc_obps/reporting/service/report_validation/report_validation_error.py
  bc_obps/reporting/service/report_validation/report_validation_service.py
  bc_obps/reporting/service/report_validation/validators/mandatory_verification_statement.py
Due: mypy

chore: remove reg1 config files
  bciers/apps/registration1/.eslintrc.json
  bciers/apps/registration1/.gitignore
  bciers/apps/registration1/.happo.js
  bciers/apps/registration1/Dockerfile
  bciers/apps/registration1/README.md
  bciers/apps/registration1/index.d.ts
  bciers/apps/registration1/middleware.ts
  bciers/apps/registration1/next.config.js
  bciers/apps/registration1/playwright.config.ts
  bciers/apps/registration1/postcss.config.js
  bciers/apps/registration1/project.json
  bciers/apps/registration1/sentry.client.config.ts
  bciers/apps/registration1/sentry.edge.config.ts
  bciers/apps/registration1/sentry.server.config.ts
  bciers/apps/registration1/tailwind.config.js
  bciers/apps/registration1/tsconfig.json
  bciers/apps/registration1/vitest.config.mjs
Due: eslint

chore: remove reg1 middleware
  bciers/apps/registration1/middlewares/stackMiddlewares.tsx
  bciers/apps/registration1/middlewares/types.tsx
  bciers/apps/registration1/middlewares/withAuthorization.tsx
Due: eslint

chore: remove reg e2e tests
  bciers/apps/registration1/e2e/.env.local.example
  bciers/apps/registration1/e2e/assets/test.pdf
  bciers/apps/registration1/e2e/pages/authenticated/dashboard/page.spec.ts
  bciers/apps/registration1/e2e/pages/authenticated/dashboard/profile/page.spec.ts
  bciers/apps/registration1/e2e/pages/authenticated/routes/page.spec.ts
  bciers/apps/registration1/e2e/pages/onboarding/home/page.spec.ts
  bciers/apps/registration1/e2e/poms/dashboard.ts
  bciers/apps/registration1/e2e/poms/home.ts
  bciers/apps/registration1/e2e/poms/operation.ts
  bciers/apps/registration1/e2e/poms/operations.ts
  bciers/apps/registration1/e2e/poms/operator.ts
  bciers/apps/registration1/e2e/poms/operators.ts
  bciers/apps/registration1/e2e/poms/profile.ts
  bciers/apps/registration1/e2e/poms/users.ts
  bciers/apps/registration1/e2e/utils/constants.ts
  bciers/apps/registration1/e2e/utils/enums.ts
  bciers/apps/registration1/e2e/utils/helpers.ts
  bciers/apps/registration1/e2e/utils/pool.ts
  bciers/apps/registration1/e2e/utils/queries.ts
  bciers/apps/registration1/e2e/workflows/bceidbusiness/industry_user.spec.ts
  bciers/apps/registration1/e2e/workflows/bceidbusiness/industry_user_admin.spec.ts
  bciers/apps/registration1/e2e/workflows/bceidbusiness/new_user.spec.ts
  bciers/apps/registration1/e2e/workflows/idir/cas_admin.spec.ts
  bciers/apps/registration1/e2e/workflows/idir/cas_analyst.spec.ts
  bciers/apps/registration1/e2e/workflows/idir/cas_pending.spec.ts
Due: eslint

chore: remove reg1 utils and json schemas
  bciers/apps/registration1/app/global-error.tsx
  bciers/apps/registration1/app/globals.css
  bciers/apps/registration1/app/layout.tsx
  bciers/apps/registration1/app/loading.tsx
  bciers/apps/registration1/app/not-found.tsx
  bciers/apps/registration1/app/utils/jsonSchema/operations.ts
  bciers/apps/registration1/app/utils/jsonSchema/selectOperator.ts
  bciers/apps/registration1/app/utils/jsonSchema/user.ts
  bciers/apps/registration1/app/utils/jsonSchema/userOperator.ts
  bciers/apps/registration1/app/utils/users/adminUserOperators.ts
Due: eslint

chore: remove reg1 auth folder
  bciers/apps/registration1/app/auth/error/page.tsx
Due: eslint

chore: move next-auth type definition file to reporting
  bciers/apps/reporting/src/app/types/next-auth.d.ts
Due: eslint

chore: remove reg1 routes
  bciers/apps/registration1/app/api/auth/[...nextauth]/route.ts
  bciers/apps/registration1/app/api/auth/token/route.ts
Due: eslint

chore: move form helper function to libs folder
  bciers/libs/components/src/form/widgets/CheckboxWidget.test.tsx
  bciers/libs/components/src/form/widgets/ComboBox.test.tsx
  bciers/libs/components/src/form/widgets/DateWidget.test.tsx
  bciers/libs/components/src/form/widgets/EmailWidget.test.tsx
  bciers/libs/components/src/form/widgets/FileWidget.test.tsx
  bciers/libs/components/src/form/widgets/MultiSelectWidget.test.tsx
  bciers/libs/components/src/form/widgets/OperatorSearchWidget.test.tsx
  bciers/libs/components/src/form/widgets/PhoneWidget.test.tsx
  bciers/libs/components/src/form/widgets/PostalCodeWidget.test.tsx
  bciers/libs/components/src/form/widgets/RadioWidget.test.tsx
  bciers/libs/components/src/form/widgets/SelectWidget.test.tsx
  bciers/libs/components/src/form/widgets/TextAreaWidget.test.tsx
  bciers/libs/components/src/form/widgets/TextWidget.test.tsx
  bciers/libs/components/src/form/widgets/URLWidget.test.tsx
  bciers/libs/testConfig/src/helpers/form.ts
Due: eslint

chore: remove reg1 json data
  bciers/apps/registration1/app/data/dashboard/bceid/my_operator.json
  bciers/apps/registration1/app/data/dashboard/bceid/operations.json
  bciers/apps/registration1/app/data/dashboard/bceid/select_operator.json
  bciers/apps/registration1/app/data/dashboard/bceid/users.json
  bciers/apps/registration1/app/data/dashboard/idir/operations.json
  bciers/apps/registration1/app/data/dashboard/idir/operators.json
  bciers/apps/registration1/app/data/dashboard/idir/users.json
  bciers/apps/registration1/app/data/dashboard/report_a_problem.json
  bciers/apps/registration1/app/data/home/events.json
  bciers/apps/registration1/app/data/home/features.json
  bciers/apps/registration1/app/data/layout/footer.json
Due: none

chore: remove reg1 public folder and redundant test
  bciers/apps/registration1/public/img/BCID_CleanBC_rev_tagline_colour.svg
  bciers/apps/registration1/public/img/favicon.ico
  bciers/apps/registration1/tests/components/datagrid/DataGrid.test.tsx
  bciers/apps/registration1/tests/components/form/SubmitButton.test.tsx
Due: eslint

chore: remove reg1 pages
  bciers/apps/registration1/app/(authenticated)/bceidbusiness/industry_user/dashboard/operations/[operation]/[formSection]/page.tsx
  bciers/apps/registration1/app/(authenticated)/bceidbusiness/industry_user/dashboard/operations/page.tsx
  bciers/apps/registration1/app/(authenticated)/bceidbusiness/industry_user/dashboard/select-operator/(request-access)/confirm/[id]/page.tsx
  bciers/apps/registration1/app/(authenticated)/bceidbusiness/industry_user/dashboard/select-operator/(request-access)/received/[step]/[id]/page.tsx
  bciers/apps/registration1/app/(authenticated)/bceidbusiness/industry_user/dashboard/select-operator/(request-access)/user-operator/[id]/[formSection]/page.tsx
  bciers/apps/registration1/app/(authenticated)/bceidbusiness/industry_user/dashboard/select-operator/page.tsx
  bciers/apps/registration1/app/(authenticated)/bceidbusiness/industry_user_admin/dashboard/operations/[operation]/[formSection]/page.tsx
  bciers/apps/registration1/app/(authenticated)/bceidbusiness/industry_user_admin/dashboard/operations/page.tsx
  bciers/apps/registration1/app/(authenticated)/bceidbusiness/industry_user_admin/dashboard/select-operator/(request-access)/confirm/[id]/page.tsx
  bciers/apps/registration1/app/(authenticated)/bceidbusiness/industry_user_admin/dashboard/select-operator/(request-access)/received/[step]/[id]/page.tsx
  bciers/apps/registration1/app/(authenticated)/bceidbusiness/industry_user_admin/dashboard/select-operator/(request-access)/user-operator/[id]/[formSection]/page.tsx
  bciers/apps/registration1/app/(authenticated)/bceidbusiness/industry_user_admin/dashboard/select-operator/page.tsx
  bciers/apps/registration1/app/(authenticated)/bceidbusiness/industry_user_admin/dashboard/users/page.tsx
  bciers/apps/registration1/app/(authenticated)/dashboard/page.tsx
  bciers/apps/registration1/app/(authenticated)/dashboard/profile/page.tsx
  bciers/apps/registration1/app/(authenticated)/error.tsx
  bciers/apps/registration1/app/(authenticated)/idir/cas_admin/dashboard/operations/[operation]/page.tsx
  bciers/apps/registration1/app/(authenticated)/idir/cas_admin/dashboard/operations/page.tsx
  bciers/apps/registration1/app/(authenticated)/idir/cas_admin/dashboard/operators/page.tsx
  bciers/apps/registration1/app/(authenticated)/idir/cas_admin/dashboard/operators/user-operator/[id]/[formSection]/page.tsx
  bciers/apps/registration1/app/(authenticated)/idir/cas_admin/dashboard/users/page.tsx
  bciers/apps/registration1/app/(authenticated)/idir/cas_analyst/dashboard/operations/[operation]/page.tsx
  bciers/apps/registration1/app/(authenticated)/idir/cas_analyst/dashboard/operations/page.tsx
  bciers/apps/registration1/app/(authenticated)/idir/cas_analyst/dashboard/operators/page.tsx
  bciers/apps/registration1/app/(authenticated)/idir/cas_analyst/dashboard/operators/user-operator/[id]/[formSection]/page.tsx
  bciers/apps/registration1/app/(authenticated)/layout.tsx
  bciers/apps/registration1/app/(onboarding)/error.tsx
  bciers/apps/registration1/app/(onboarding)/home/page.tsx
  bciers/apps/registration1/app/(onboarding)/layout.tsx
Due: eslint

test: enhance contact update tests for address validation scenarios
  bc_obps/registration/tests/endpoints/_contacts/test_contact_id.py
  bc_obps/service/tests/test_contact_service.py
Due: mypy

chore: implement review suggestions
  bc_obps/registration/tests/endpoints/_contacts/test_contact_id.py
  bc_obps/service/contact_service.py
  bc_obps/service/tests/test_contact_service.py
Due: mypy

chore: fix migrations post-rebase
  bc_obps/registration/migrations/0098_address_protect_fields_empty_update_and_more.py
Due: mypy

chore: improve error handling and response messages for validation errors
  bc_obps/bc_obps/api.py
  bc_obps/registration/tests/endpoints/_facilities/test_facility_id.py
  bc_obps/registration/tests/endpoints/_operators/_operator_id/test_request_admin_access.py
  bc_obps/registration/tests/endpoints/test_user_operators.py
  bc_obps/registration/utils.py
  bc_obps/reporting/tests/api/test_facility_report_api.py
Due: mypy

chore: fix migration after rebase
  bc_obps/registration/migrations/0095_address_protect_fields_empty_update_and_more.py
Due: mypy

chore: update filename
  bc_obps/registration/migrations/0098_address_protect_fields_empty_update_and_more.py
Due: mypy
