Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, mypy

prettier:
  name: Prettier
  language: system
  entry: ./.bin/pre-commit-format.sh

eslint:
  name: ESLint
  language: system
  entry: ./.bin/pre-commit-lint.sh

mypy:
  name: Mypy
  language: system
  entry: ./.bin/pre-commit-mypy.sh

chore: fix failing E2E
  bciers/apps/registration-e2e/poms/transfer.ts
  bciers/apps/registration-e2e/utils/enums.ts
Due: prettier, eslint

chore: resolve pre-commit
  bciers/apps/registration-e2e/poms/transfer.ts
  bciers/apps/registration-e2e/tests/workflows/cas_analyst/transfer-facility.spec.ts
  bciers/apps/registration-e2e/tests/workflows/cas_analyst/transfer-operation.spec.ts
  bciers/apps/registration-e2e/tests/workflows/cas_director/transfer-facility.spec.ts
  bciers/apps/registration-e2e/tests/workflows/cas_director/transfer-operation.spec.ts
  bciers/apps/registration-e2e/utils/enums.ts
Due: prettier, eslint

chore: fix failing test
  bciers/apps/registration-e2e/poms/transfer.ts
  bciers/apps/registration-e2e/tests/workflows/cas_analyst/transfer-facility.spec.ts
  bciers/apps/registration-e2e/tests/workflows/cas_analyst/transfer-operation.spec.ts
  bciers/apps/registration-e2e/tests/workflows/cas_director/transfer-facility.spec.ts
  bciers/apps/registration-e2e/tests/workflows/cas_director/transfer-operation.spec.ts
Due: prettier, eslint

chore: fix duplicate codes
  bciers/apps/registration-e2e/poms/transfer.ts
  bciers/apps/registration-e2e/tests/workflows/cas_analyst/transfer-facility.spec.ts
  bciers/apps/registration-e2e/tests/workflows/cas_analyst/transfer-operation.spec.ts
  bciers/apps/registration-e2e/tests/workflows/cas_director/transfer-facility.spec.ts
  bciers/apps/registration-e2e/tests/workflows/cas_director/transfer-operation.spec.ts
  bciers/apps/registration-e2e/utils/transfer-facility-helpers.ts
  bciers/apps/registration-e2e/utils/transfer-operation-helpers.ts
Due: prettier, eslint

chore: cleanup
  bciers/apps/registration-e2e/poms/transfer.ts
  bciers/apps/registration-e2e/tests/workflows/cas_analyst/transfer-facility.spec.ts
  bciers/apps/registration-e2e/tests/workflows/cas_analyst/transfer-operation.spec.ts
  bciers/apps/registration-e2e/tests/workflows/cas_director/transfer-facility.spec.ts
  bciers/apps/registration-e2e/tests/workflows/cas_director/transfer-operation.spec.ts
Due: prettier, eslint

chore: remove submission date stabilizer
  bciers/apps/registration-e2e/poms/transfer.ts
  bciers/apps/registration-e2e/utils/transfer-facility-helpers.ts
  bciers/apps/registration-e2e/utils/transfer-operation-helpers.ts
Due: prettier, eslint

chore: fixed submitted time
  bciers/apps/registration-e2e/poms/transfer.ts
  bciers/apps/registration-e2e/utils/enums.ts
  bciers/apps/registration-e2e/utils/transfer-facility-helpers.ts
  bciers/apps/registration-e2e/utils/transfer-operation-helpers.ts
Due: prettier, eslint

chore: fix blank screenshot
  bciers/apps/registration-e2e/utils/transfer-operation-helpers.ts
Due: prettier, eslint

chore: make submission date fixed
  bc_obps/common/management/commands/load_fixtures.py
Due: mypy

chore: changes based on code review
  bciers/apps/registration-e2e/tests/workflows/cas_analyst/transfer-facility.spec.ts
  bciers/apps/registration-e2e/tests/workflows/cas_analyst/transfer-operation.spec.ts
  bciers/apps/registration-e2e/tests/workflows/cas_director/transfer-facility.spec.ts
  bciers/apps/registration-e2e/tests/workflows/cas_director/transfer-operation.spec.ts
  bciers/apps/registration-e2e/tests/workflows/transfer-facility.spec.ts
  bciers/apps/registration-e2e/tests/workflows/transfer-operation.spec.ts
Due: prettier, eslint

chore: fix sonarcloud
  bciers/apps/registration-e2e/tests/transfer-facility.spec.ts
  bciers/apps/registration-e2e/tests/transfer-operation.spec.ts
  bciers/apps/registration-e2e/utils/transfer-facility-helpers.ts
  bciers/apps/registration-e2e/utils/transfer-operation-helpers.ts
Due: prettier, eslint

chore: simplify codes, fix directory
  bciers/apps/registration-e2e/tests/transfer-facility.spec.ts
  bciers/apps/registration-e2e/tests/transfer-operation.spec.ts
  bciers/apps/registration-e2e/tests/workflows/transfer-facility.spec.ts
  bciers/apps/registration-e2e/tests/workflows/transfer-operation.spec.ts
  bciers/apps/registration-e2e/utils/transfer-facility-helpers.ts
  bciers/apps/registration-e2e/utils/transfer-operation-helpers.ts
Due: prettier, eslint

chore: update
  bc_obps/common/management/commands/load_fixtures.py
Due: mypy

chore: update validation error key to replaced one in test
  bc_obps/reporting/tests/service/report_validation/validators/test_report_activity_json_validator.py
Due: mypy

style: change validateUnevalutedProperties to snake case
  bc_obps/reporting/service/report_validation/validators/report_activity_json_validation.py
Due: mypy

fix: disable adding unevaluatedPropeties if activity alumina + tests
  bc_obps/reporting/service/report_validation/validators/report_activity_json_validation.py
  bc_obps/reporting/tests/service/report_validation/validators/test_report_activity_json_validator.py
Due: mypy

fix: make compliance summaries action column consistent
  bciers/apps/compliance/src/app/components/compliance-summaries/cells/ActionCell.tsx
  bciers/apps/compliance/src/tests/components/compliance-summaries/ComplianceSummariesDataGrid.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summaries/cells/ActionCell.test.tsx
Due: prettier, eslint

chore(deps): bump tar from 7.5.11 to 7.5.16 to resolve node-tar csv
  bciers/package.json
  bciers/yarn.lock
Due: prettier

chore: release v5.14.0
  CHANGELOG.md
  bc_obps/common/migrations/0129_V5_14_0.py
  bc_obps/compliance/migrations/0050_V5_14_0.py
  bc_obps/registration/migrations/0183_V5_14_0.py
  bc_obps/reporting/migrations/0198_V5_14_0.py
  bc_obps/rls/migrations/0061_V5_14_0.py
  bc_obps/task_scheduler/migrations/0033_V5_14_0.py
  helm/cas-bciers/Chart.yaml
  helm/migration-test/cas-obps-backend-migration-test/Chart.yaml
  package.json
Due: prettier, mypy

chore: fix changelog typo
  CHANGELOG.md
Due: prettier

chore: update compliance table comments
  bc_obps/compliance/migrations/0050_alter_compliancechargerate_rate_and_more.py
  bc_obps/compliance/models/compliance_charge_rate.py
  bc_obps/compliance/models/compliance_earned_credit.py
  bc_obps/compliance/models/compliance_obligation.py
  bc_obps/compliance/models/compliance_penalty.py
  bc_obps/compliance/models/compliance_penalty_accrual.py
  bc_obps/compliance/models/compliance_penalty_rate.py
  bc_obps/compliance/models/compliance_period.py
  bc_obps/compliance/models/compliance_report.py
  bc_obps/compliance/models/compliance_report_version.py
  bc_obps/compliance/models/compliance_report_version_manual_handling.py
  bc_obps/compliance/models/elicensing_adjustment.py
  bc_obps/compliance/models/elicensing_client_operator.py
  bc_obps/compliance/models/elicensing_interest_rate.py
  bc_obps/compliance/models/elicensing_invoice.py
  bc_obps/compliance/models/elicensing_line_item.py
  bc_obps/compliance/models/elicensing_payment.py
Due: mypy

chore: edit db_comments with dylan's suggestions
  bc_obps/compliance/migrations/0050_alter_compliancereportversionmanualhandling_table_comment_and_more.py
  bc_obps/compliance/models/compliance_charge_rate.py
  bc_obps/compliance/models/compliance_earned_credit.py
  bc_obps/compliance/models/compliance_obligation.py
  bc_obps/compliance/models/compliance_penalty.py
  bc_obps/compliance/models/compliance_penalty_rate.py
  bc_obps/compliance/models/compliance_period.py
  bc_obps/compliance/models/compliance_report_version.py
  bc_obps/compliance/models/compliance_report_version_manual_handling.py
  bc_obps/compliance/models/elicensing_adjustment.py
Due: mypy

chore: update migration after rebase
  bc_obps/compliance/migrations/0051_alter_compliancereportversionmanualhandling_table_comment_and_more.py
Due: mypy

feat: filter get_regulated_products by year w/ today as default
  bc_obps/reporting/service/report_operation_service.py
  bc_obps/service/data_access_service/regulated_product_service.py
Due: mypy

test: remove unused get_regulated_products_by_id() function
  bc_obps/common/tests/endpoints/auth/constants.py
  bc_obps/reporting/api/__init__.py
  bc_obps/reporting/api/reports.py
  bc_obps/reporting/tests/endpoints/test_create_reports_endpoint.py
  bc_obps/service/report_service.py
Due: mypy

test: update and add tests to get valid regulated products
  bc_obps/registration/tests/endpoints/test_regulated_products.py
  bc_obps/reporting/tests/service/test_report_operation_service.py
Due: mypy

style: rename get_regulated_products to get_valid_regulated_products
  bc_obps/registration/api/regulated_products.py
  bc_obps/reporting/service/report_operation_service.py
  bc_obps/service/data_access_service/regulated_product_service.py
Due: mypy

chore: more progress for e2e SFO supplementary
  bc_obps/reporting/fixtures/mock/report_activity.json
  bc_obps/reporting/fixtures/mock/report_emission.json
  bc_obps/reporting/fixtures/mock/report_fuel.json
  bc_obps/reporting/fixtures/mock/report_methodology.json
  bc_obps/reporting/fixtures/mock/report_person_responsible.json
  bc_obps/reporting/fixtures/mock/report_raw_activity_data.json
  bc_obps/reporting/fixtures/mock/report_source_type.json
  bc_obps/reporting/fixtures/mock/report_unit.json
  bc_obps/reporting/management/commands/load_reporting_fixtures.py
  bc_obps/reporting/management/commands/utils/report_person_responsible.py
  bciers/apps/reporting-e2e/poms/current-report.ts
  bciers/apps/reporting-e2e/poms/current-reports.ts
  bciers/apps/reporting-e2e/poms/report-operation.ts
  bciers/apps/reporting-e2e/tests/workflows/SFO/submit-report.spec.ts
  bciers/apps/reporting-e2e/utils/enums.ts
  bciers/apps/reporting-e2e/utils/helpers.ts
Due: prettier, eslint, mypy

chore: e2e for SFO in progress. Review Changes page title styling causing failure
  bciers/apps/reporting-e2e/tests/workflows/SFO/submit-report.spec.ts
Due: prettier, eslint

test: update tests
  bc_obps/compliance/tests/service/bc_carbon_registry/test_bc_carbon_registry_api_client.py
Due: mypy

feat: support fetching and merging BCO and BCE units with vintage filtering
  bc_obps/compliance/service/bc_carbon_registry/bc_carbon_registry_api_client.py
  bc_obps/compliance/service/bc_carbon_registry/schema.py
Due: mypy

chore: apply code review suggestions
  bc_obps/compliance/service/bc_carbon_registry/bc_carbon_registry_api_client.py
  bc_obps/compliance/tests/service/bc_carbon_registry/test_bc_carbon_registry_api_client.py
Due: mypy

chore: ensure title is present in emissions uischemas
  bciers/apps/reporting/src/app/components/activities/uiSchemas/coalStorageUiSchema.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/common.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/hydrogenProduction.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/industrialWastewaterProcessingUiSchema.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/leadProductionUiSchema.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/limeManufacturingUiSchema.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/zincProductionUiSchema.ts
Due: prettier, eslint

fix: inline validation on empty facility form
  bciers/apps/administration/app/components/contacts/types.ts
  bciers/apps/administration/app/components/facilities/FacilityForm.tsx
  bciers/apps/administration/app/components/facilities/FacilityPage.tsx
  bciers/apps/administration/app/components/facilities/types.ts
  bciers/apps/administration/app/components/operations/types.ts
  bciers/libs/components/src/form/SingleStepTaskListForm.test.tsx
  bciers/libs/components/src/form/SingleStepTaskListForm.tsx
Due: prettier, eslint

chore: apply code review suggestions
  bciers/apps/administration/app/components/facilities/FacilityPage.tsx
  bciers/apps/administration/tests/components/facilities/FacilityPage.test.tsx
Due: prettier, eslint

chore: fix renovate config issue
  renovate.json5
Due: none

ci: add Renovate config validation step
  prek.toml
Due: none

chore: apply code review comments
  bc_obps/compliance/service/automated_process/compliance_handlers.py
  bc_obps/compliance/tests/service/automated_process/test_compliance_handlers.py
Due: mypy

chore: ignore unpaid interest when deciding if an obligation is met
  bc_obps/compliance/service/automated_process/compliance_handlers.py
  bc_obps/compliance/tests/integration/test_penalty.py
  bc_obps/compliance/tests/service/automated_process/test_compliance_handlers.py
Due: mypy

Path conditions:
  prettier: any of: \.(j|t)sx?$|\.json$|\.md$|\.css$|\.scss$, but not: (\.next/|node_modules/|dist/|build/|coverage/|\.nx/cache/)
  eslint: any of: \.(j|t)sx?$, but not: (\.next/|node_modules/|dist/|build/|coverage/|\.nx/cache/|tests/performance/)
  mypy: any of: \.py$
