Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy

eslint:
  name: ESLint
  language: system
  entry: ./.bin/pre-commit-lint.sh

mypy:
  name: Mypy
  language: system
  entry: ./.bin/pre-commit-mypy.sh

chore: release v4.7.1
  CHANGELOG.md
  bc_obps/common/migrations/0103_V4_7_1.py
  bc_obps/compliance/migrations/0023_V4_7_1.py
  bc_obps/registration/migrations/0153_V4_7_1.py
  bc_obps/reporting/migrations/0147_V4_7_1.py
  bc_obps/rls/migrations/0040_V4_7_1.py
  bc_obps/task_scheduler/migrations/0012_V4_7_1.py
  package.json
Due: mypy

chore: update pre-commit config to exclude additional directories from ESLint
  .pre-commit-config.yaml
Due: none

chore: add `onRequestError` hook for Next.js 16 error handling across apps
  bciers/apps/administration/instrumentation.ts
  bciers/apps/compliance/src/instrumentation.ts
  bciers/apps/dashboard/instrumentation.ts
  bciers/apps/registration/instrumentation.ts
  bciers/apps/reporting/src/instrumentation.ts
  bciers/libs/sentryConfig/src/sentry.ts
Due: eslint

chore: clean up redundant `.gitignore` entries and remove unused `next-env.d.ts` files across apps
  bciers/.gitignore
  bciers/apps/administration/next-env.d.ts
  bciers/apps/compliance/next-env.d.ts
  bciers/apps/dashboard/.gitignore
  bciers/apps/registration/next-env.d.ts
  bciers/apps/registration1/next-env.d.ts
  bciers/apps/reporting/next-env.d.ts
Due: eslint

chore: add "@swc-node/register" and "@swc/core" dependencies - needed for faster NX
  bciers/package.json
  bciers/yarn.lock
Due: none

chore: migrate `@bciers/styles` to ECMAScript modules and clean up TypeScript references
  bciers/libs/styles/package.json
  bciers/libs/styles/src/colors.js
  bciers/libs/styles/src/colors.ts
  bciers/libs/styles/src/index.js
  bciers/libs/styles/src/index.ts
  bciers/tailwind-workspace-preset.js
  bciers/tsconfig.base.json
Due: eslint

chore: remove unused code
  bciers/libs/testConfig/src/helpers/fillMandatoryFields.ts
Due: eslint

chore: add type assertions to fix the build
  bciers/libs/components/src/form/fields/CollapsibleDefinitionFieldTemplate.tsx
Due: eslint

chore: add type assertions to fix the build
  bciers/libs/components/src/form/fields/PlacesAssignedFieldTemplate.tsx
Due: eslint

chore: remove eslint exclusion from `yarn npm audit` command in test workflow
  .github/workflows/test-code.yaml
Due: none

chore: use "node:path" instead of "path" across the codebase
  bciers/apps/administration/vitest.config.mts
  bciers/apps/compliance/vitest.config.mts
  bciers/apps/dashboard/vitest.config.mts
  bciers/apps/registration/vitest.config.mts
  bciers/libs/e2e/src/utils/helpers.ts
Due: eslint

chore: fix test suite naming
  bciers/apps/dashboard-e2e/tests/internal/dashboard.spec.ts
Due: eslint

chore: add type assertions to fix the build
  bciers/libs/components/src/form/fields/ArrayFieldTemplate.tsx
  bciers/libs/components/src/form/fields/InlineArrayFieldTemplate.tsx
  bciers/libs/components/src/form/fields/NestedArrayFieldTemplate.tsx
  bciers/libs/components/src/form/fields/readonly/ReadOnlyArrayFieldTemplate.tsx
Due: eslint

chore: update the element signature after version bump - fix the build
  bciers/apps/reporting/src/app/components/datagrid/models/dashboard/dashboardColumns.tsx
Due: eslint

feat: migrate ESLint to v9
  bciers/.eslintignore
  bciers/apps/administration-e2e/.eslintrc.json
  bciers/apps/administration/.eslintrc.json
  bciers/apps/compliance-e2e/.eslintrc.json
  bciers/apps/compliance/.eslintrc.json
  bciers/apps/dashboard-e2e/.eslintrc.json
  bciers/apps/dashboard/.eslintrc.json
  bciers/apps/registration-e2e/.eslintrc.json
  bciers/apps/registration/.eslintrc.json
  bciers/apps/reporting-e2e/.eslintrc.json
  bciers/apps/reporting/.eslintrc.json
  bciers/eslint.config.js
  bciers/libs/actions/.eslintrc.json
  bciers/libs/components/.eslintrc.json
  bciers/libs/e2e/.eslintrc.json
  bciers/libs/middlewares/.eslintrc.json
  bciers/libs/testConfig/.eslintrc.json
  bciers/libs/types/.eslintrc.json
Due: eslint

chore: fixing eslint errors
  bciers/.env.example
  bciers/apps/reporting/src/app/components/activities/ActivityForm.tsx
  bciers/libs/components/src/form/widgets/MultiSelectWidget.tsx
  bciers/libs/components/src/form/widgets/OperatorSearchWidget.tsx
  bciers/libs/components/src/layout/HelpDrawer.tsx
  bciers/libs/components/src/nextPageFactory/defaultPageFactory.tsx
  bciers/libs/e2e/src/utils/pool.ts
  bciers/libs/testConfig/src/helpers/mockUseSession.ts
  bciers/libs/utils/src/setCustomValidateErrors.ts
  bciers/libs/utils/src/transformToNumberOrUndefined.ts
  bciers/package.json
  bciers/yarn.lock
Due: eslint

chore: more eslint
  bciers/apps/reporting/src/app/components/operations/cells/ActionCell.tsx
  bciers/apps/reporting/src/app/components/operations/personResponsible/PersonResponsibleForm.tsx
  bciers/apps/reporting/src/data/jsonSchema/facility/MissingProductAlertFieldTemplate.tsx
Due: eslint

chore: updating mui 5 to support react 19
  bciers/package.json
  bciers/yarn.lock
Due: none

chore: fixing more eslint
  bciers/libs/actions/src/api/fetchOperationsPageData.ts
  bciers/libs/components/src/auth/SessionTimeoutHandler.test.tsx
  bciers/libs/components/src/error/ErrorBoundary.tsx
Due: eslint

chore: fix failing tests after updating dependencies
  bciers/apps/reporting/src/tests/components/activities/ActivityInit.test.tsx
  bciers/apps/reporting/src/tests/components/attachments/AttachmentPage.test.tsx
  bciers/apps/reporting/src/tests/components/attachments/AttachmentsForm.test.tsx
  bciers/apps/reporting/src/tests/components/attachments/attachmentsList/AttachmentListPage.test.tsx
  bciers/apps/reporting/src/tests/components/complianceSummary/ComplianceSummaryPage.test.tsx
  bciers/apps/reporting/src/tests/components/eio/ElectricityInformationPage.test.tsx
  bciers/apps/reporting/src/tests/components/verification/VerificationPage.test.tsx
  bciers/libs/components/src/auth/SessionTimeoutHandler.test.tsx
  bciers/libs/components/src/form/widgets/DateWidget.test.tsx
  bciers/libs/components/src/form/widgets/FileWidget.test.tsx
Due: eslint

chore: eslint
  bciers/apps/compliance/src/app/widgets/ApplyComplianceUnitsWidget.tsx
  bciers/apps/compliance/src/proxies/constants.ts
  bciers/apps/registration/app/components/operations/registration/NewEntrantOperationForm.tsx
  bciers/apps/registration/app/components/operations/registration/OperationInformationPage.tsx
  bciers/apps/registration/app/components/operations/registration/OperationRepresentativePage.tsx
  bciers/apps/registration/app/components/operations/registration/OptedInOperationForm.tsx
  bciers/apps/registration/app/components/operations/registration/types.ts
  bciers/apps/registration/app/components/transfers/TransferDetailForm.tsx
  bciers/apps/registration/app/components/transfers/TransferForm.tsx
  bciers/apps/registration/app/components/transfers/TransferPage.tsx
  bciers/apps/registration/app/components/transfers/fetchTransferEventsPageData.ts
  bciers/libs/components/src/form/NavigationForm.tsx
  bciers/libs/utils/src/useKey.ts
Due: eslint

refactor: use defaultPageFactory for routes - Admin Operations
  bciers/apps/administration/app/bceidbusiness/industry_user/operations/page.tsx
  bciers/apps/administration/app/bceidbusiness/industry_user_admin/operations/page.tsx
  bciers/apps/administration/app/idir/cas_admin/operations/page.tsx
  bciers/apps/administration/app/idir/cas_analyst/operations/page.tsx
  bciers/apps/administration/app/idir/cas_director/operations/page.tsx
  bciers/apps/administration/app/idir/cas_view_only/operations/page.tsx
Due: eslint

chore: replace "vite-tsconfig-paths" with "nx-tsconfig-paths" and clean up unused dependencies
  bciers/apps/administration/vitest.config.mts
  bciers/apps/compliance/vitest.config.mts
  bciers/apps/dashboard/vitest.config.mts
  bciers/apps/registration/vitest.config.mts
  bciers/apps/reporting/vitest.config.mts
  bciers/libs/components/vitest.config.mts
  bciers/libs/utils/vitest.config.mts
  bciers/package.json
  bciers/yarn.lock
Due: none

chore: add Vitest type references and configure aliases across all apps
  bciers/apps/administration/vitest.config.mts
  bciers/apps/compliance/vitest.config.mts
  bciers/apps/dashboard/vitest.config.mts
  bciers/apps/registration/vitest.config.mts
  bciers/apps/reporting/vitest.config.mts
Due: none

chore: make prettier happy
  bciers/libs/styles/package.json
Due: none

refactor: use defaultPageFactory for routes - Admin Contacts
  bciers/apps/administration/app/bceidbusiness/industry_user/contacts/page.tsx
  bciers/apps/administration/app/bceidbusiness/industry_user_admin/contacts/page.tsx
  bciers/apps/administration/app/components/contacts/ContactsPage.tsx
  bciers/apps/administration/app/idir/cas_admin/contacts/page.tsx
  bciers/apps/administration/app/idir/cas_analyst/contacts/page.tsx
  bciers/apps/administration/app/idir/cas_director/contacts/page.tsx
  bciers/apps/administration/app/idir/cas_view_only/contacts/page.tsx
  bciers/libs/components/src/nextPageFactory/defaultPageFactory.tsx
Due: eslint

chore: fix remaining vitest tests
  bciers/apps/administration/tests/components/contacts/mocks.ts
  bciers/apps/registration/tests/components/operations/registration/NewEntrantOperationForm.test.tsx
  bciers/apps/registration/tests/components/operations/registration/NewOperationRepresentativeForm.test.tsx
  bciers/apps/registration/tests/components/operations/registration/OperationInformationForm.test.tsx
  bciers/apps/registration/tests/components/transfers/TransferForm.test.tsx
  bciers/libs/testConfig/src/global.tsx
  bciers/libs/testConfig/src/mocks.ts
Due: eslint

chore: eslint
  bciers/apps/registration/tests/components/operations/registration/FacilityLfoForm.test.tsx
  bciers/apps/registration/tests/components/transfers/TransferDetailForm.test.tsx
  bciers/apps/reporting/src/app/components/attachments/AttachmentElement.tsx
  bciers/apps/reporting/src/app/components/attachments/AttachmentsForm.tsx
  bciers/apps/reporting/src/app/components/attachments/attachmentsList/columns.tsx
  bciers/apps/reporting/src/app/components/changeReview/templates/AdditionalReportingData.tsx
  bciers/apps/reporting/src/app/components/changeReview/templates/EmissionAllocationChangeView.tsx
  bciers/apps/reporting/src/app/components/changeReview/templates/EmissionSummaryChangeView.tsx
  bciers/apps/reporting/src/app/components/changeReview/templates/FacilityReportChanges.tsx
  bciers/apps/reporting/src/app/components/changeReview/templates/ReasonForChange.tsx
  bciers/apps/reporting/src/app/components/changeReview/templates/facilityReportParser.ts
  bciers/apps/reporting/src/app/components/facility/FacilityEmissionAllocationForm.tsx
Due: eslint

chore: refactor operator information page
  bciers/apps/registration/app/components/operations/registration/OperationInformationForm.tsx
  bciers/libs/types/src/dictionary.ts
Due: eslint

chore: removing unnecessary effect in activity page, key is used
  bciers/apps/reporting/src/app/components/activities/ActivityForm.tsx
  bciers/libs/types/src/dictionary.ts
Due: eslint

chore: form theme is static
  bciers/libs/components/src/form/FormBase.tsx
  bciers/libs/components/src/form/NavigationForm.tsx
Due: eslint

chore: increase test timeout to pass slow CI
  bciers/apps/registration/tests/components/operations/registration/NewOperationRepresentativeForm.test.tsx
Due: eslint

chore: standardize route component naming -Admin Transfers
  bciers/apps/administration/app/bceidbusiness/industry_user/transfers/page.tsx
  bciers/apps/administration/app/bceidbusiness/industry_user_admin/transfers/page.tsx
  bciers/apps/administration/app/components/transfers/ExternalTransferLanding.tsx
Due: eslint

chore: refactor tsconfig types and add node to types array
  bciers/libs/components/tsconfig.json
  bciers/libs/e2e/tsconfig.json
  bciers/libs/utils/tsconfig.json
  bciers/tsconfig.base.json
Due: none

chore: run yarn dedupe
  bciers/yarn.lock
Due: none

chore: fixing next link being a client component now
  bciers/libs/components/src/form/components/ReportingStepButtons.tsx
  bciers/libs/components/src/form/fields/GasTypeCasNumberFieldTemplate.tsx
  bciers/libs/components/src/form/widgets/ComboBox.tsx
  bciers/libs/components/src/tabs/Tabs.tsx
  bciers/libs/styles/src/colors.d.ts
  bciers/libs/styles/src/index.js
  bciers/libs/styles/tsconfig.json
Due: eslint

Path conditions:
  eslint: any of: \.(j|t)sx?$
  mypy: any of: \.py$
