Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, pylint

eslint:
  name: ESLint
  language: system
  entry: ./.bin/pre-commit-lint.sh

pylint:
  name: pylint
  entry: bash -c "cd bc_obps && poetry run pylint --rcfile=.pylintrc *.py"
  language: system
  require_serial: true

refactor: move vitest setup config to shared lib
  bciers/apps/reporting/vitest.config.mts
  bciers/libs/shared/components/vitest.config.mts
  bciers/libs/shared/testConfig/.eslintrc.json
  bciers/libs/shared/testConfig/README.md
  bciers/libs/shared/testConfig/project.json
  bciers/libs/shared/testConfig/src/index.ts
  bciers/libs/shared/testConfig/src/setup/SessionProviderMock.tsx
  bciers/libs/shared/testConfig/src/setup/global.ts
  bciers/libs/shared/testConfig/src/setup/mocks.ts
  bciers/libs/shared/testConfig/src/setup/types.ts
  bciers/libs/shared/testConfig/tsconfig.json
Due: eslint

docs: add other testing commands into nx docs
  docs/nx-monorepo.md
Due: none

chore: add nx tests to github workflows
  .github/workflows/test.yaml
Due: none

chore: add comments on modules copied into monorepo
  client/tests/setup/global.tsx
  client/tests/setup/mocks.ts
  client/tests/setup/types.ts
  client/vitest.config.mjs
Due: eslint

chore: install packages
  client/package.json
  client/yarn.lock
Due: none

docs: add documentation on how to use a growthbook feature flag
  docs/growthbook.md
Due: none

chore: add PublicEnvScript to layout.tsx for client env fetching
  client/app/layout.tsx
Due: eslint

chore: add environment specific client keys to helm deployment
  helm/cas-registration/templates/frontend/deployment.yaml
  helm/cas-registration/values-dev.yaml
  helm/cas-registration/values-prod.yaml
  helm/cas-registration/values-test.yaml
Due: none

chore: make prettier happy
  docs/growthbook.md
Due: none

chore: update example env
  client/.env.example
Due: none

docs: update docs with some gotchas
  docs/growthbook.md
Due: none

refactor: import vitest types globally
  bciers/apps/reporting/tsconfig.json
  bciers/apps/reporting/tsconfig.spec.json
  bciers/libs/shared/testConfig/tsconfig.json
  bciers/tsconfig.base.json
Due: none

feat: e2e workflow cas_analyst
  bc_obps/registration/management/commands/load_fixtures.py
  client/e2e/workflows/idir/cas_analyst.spec.ts
Due: eslint, pylint

chore: case UserRole.CAS_ANALYST
  client/e2e/poms/operations.ts
  client/e2e/poms/operators.ts
Due: eslint

fix: test failing due to missing prop/child
  bciers/libs/shared/components/src/lib/layout/Main.spec.tsx
  bciers/libs/shared/components/src/lib/sample/Sample.spec.tsx
Due: eslint

modify: constants
  client/e2e/utils/constants.ts
Due: eslint

debug: yaml report trigger
  .github/workflows/test.yaml
  client/e2e/poms/operations.ts
Due: eslint

test: yaml trigger success
  client/e2e/poms/operations.ts
  client/e2e/workflows/idir/cas_admin.spec.ts
  client/e2e/workflows/idir/cas_analyst.spec.ts
Due: eslint

chore: add mailhog dependency to chart
  helm/cas-registration/Chart.yaml
Due: none

chore: add KNP & route yaml files for mailhog
  helm/cas-registration/templates/mailhog/mailhog-ingress.yaml
  helm/cas-registration/templates/mailhog/mailhog-route.yaml
Due: none

chore: add mailhog values to values yaml files
  helm/cas-registration/values-dev.yaml
  helm/cas-registration/values-test.yaml
  helm/cas-registration/values.yaml
Due: none

test: run mailhog during e2e tests
  .github/workflows/test.yaml
Due: none

chore: update gitignore
  .gitignore
Due: none

chore: update chart.lock file
  helm/cas-registration/Chart.lock
Due: none

chore: fix workflow yaml
  .github/workflows/test.yaml
Due: none

Path conditions:
  eslint: any of: \.(j|t)sx?$
  pylint: any of: \.py$
