Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3 # Use the sha or tag you want to point at
    hooks:
      - id: prettier
        name: Prettier
        stages: [commit]

  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        language: system
        files: \.(j|t)sx?$
        entry: ./.bin/pre-commit-lint.sh
      - id: mypy
        name: Mypy
        language: system
        types: [python]
        entry: ./.bin/pre-commit-mypy.sh

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-vcs-permalinks
      - id: check-yaml
        exclude: (^helm/.*/templates/)
      - id: end-of-file-fixer
        exclude: (^erd_diagrams/)
      - id: trailing-whitespace
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        types: [python]
        args: ["--config", "bc_obps/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.2
    hooks:
      - id: ruff
        args: ["bc_obps/", "--fix"]

  - repo: https://github.com/python-poetry/poetry
    rev: 1.6.1
    hooks:
      - id: poetry-check
        args: ["-C", "./bc_obps"]
      - id: poetry-lock
        args: ["-C", "./bc_obps", "--check"] # --check to ensure lock file is up to date without updating it

  - repo: https://github.com/PyCQA/bandit
    rev: "1.7.5"
    hooks:
      - id: bandit
        args: ["-c", "bc_obps/bandit.yaml"]

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.2.5
    hooks:
      - id: gitleaks

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.16.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]

chore: update model metadata for clarity
  bc_obps/compliance/migrations/0015_add_metadata_context_to_elicensing_invoice_model.py
  bc_obps/compliance/models/elicensing_invoice.py
Due: mypy

chore: post-rebase fix
  bc_obps/compliance/schema/elicensing_invoice.py
Due: mypy

test: small test fixes
  bc_obps/compliance/tests/test_emails.py
  bciers/apps/compliance/src/tests/components/compliance-summaries/ComplianceSummariesDataGrid.test.tsx
Due: eslint, mypy

chore: prevent negative penalty accrual edge case
  bc_obps/compliance/service/penalty_calculation_service.py
Due: mypy

chore: betterstack poc
  bc_obps/bc_obps/settings.py
  bc_obps/common/api/__init__.py
  bc_obps/common/api/test_sentry.py
  bc_obps/service/error_service/handle_exception.py
  bciers/apps/dashboard/app/api/test-sentry/route.ts
  bciers/apps/dashboard/app/test-sentry/page.tsx
  bciers/libs/actions/src/actions.ts
  bciers/libs/components/src/error/ErrorBoundary.tsx
  bciers/libs/components/src/layout/RootLayout.tsx
  bciers/libs/sentryConfig/src/SentryUserContext.tsx
  bciers/libs/sentryConfig/src/sentry.ts
Due: eslint, mypy

chore: raygun poc
  bc_obps/bc_obps/settings.py
  bc_obps/common/api/router.py
  bc_obps/common/api/test_errors.py
  bc_obps/poetry.lock
  bc_obps/pyproject.toml
  bc_obps/service/error_service/handle_exception.py
  bciers/apps/reporting/raygun.server.config.ts
  bciers/apps/reporting/src/app/api/test-errors/route.ts
  bciers/apps/reporting/src/app/test-errors/page.tsx
  bciers/libs/actions/src/actions.ts
  bciers/libs/components/src/error/ErrorBoundary.tsx
  bciers/libs/components/src/layout/RaygunScript.tsx
  bciers/libs/components/src/layout/RootLayout.tsx
  bciers/libs/sentryConfig/src/raygun.ts
  bciers/next.config.base.js
  bciers/package.json
  bciers/raygun.ts
  bciers/yarn.lock
Due: eslint, mypy

chore: add missing formatting 'f'
  bc_obps/compliance/service/elicensing_invoice_service.py
Due: mypy

chore: add insert and update RLS policy tests for compliance penalty
  bc_obps/compliance/tests/models/test_compliance_penalty.py
Due: mypy

chore: revert penalty handling logic changes
  bc_obps/compliance/models/compliance_penalty.py
  bc_obps/compliance/models/rls_configs/compliance_penalty.py
  bc_obps/compliance/service/automated_process/compliance_handlers.py
  bc_obps/compliance/service/compliance_obligation_service.py
  bc_obps/compliance/service/penalty_calculation_service.py
  bc_obps/compliance/tests/models/test_compliance_penalty.py
  bc_obps/compliance/tests/service/test_compliance_obligation_service.py
  bc_obps/compliance/tests/service/test_penalty_calculation_service.py
Due: mypy

chore: remove ACCRUING/DUE/NONE penalty statuses and map Not Paid to Due in UI
  bc_obps/compliance/migrations/0015_compliancepenalty_status_and_more.py
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/automatic-overdue-penalty/review-penalty-summary/PenaltySummaryReviewComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/automatic-overdue-penalty/review-penalty-summary/PenaltySummaryReviewPage.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/ggeapar-interest/review-interest-summary/InterestSummaryReviewComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/ggeapar-interest/review-interest-summary/InterestSummaryReviewPage.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/internal/review-compliance-summary/InternalComplianceSummaryReviewComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/internal/review-interest-summary/InternalInterestSummaryReviewComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/internal/review-penalty-summary/InternalPenaltySummaryReviewComponent.tsx
  bciers/apps/compliance/src/app/components/taskLists/1_manageObligationTaskList.ts
  bciers/apps/compliance/src/app/components/taskLists/internal/reviewObligationPenaltyTaskList.ts
  bciers/apps/compliance/src/middlewares/withRuleHasComplianceRouteAccessBCeID.test.ts
  bciers/apps/compliance/src/middlewares/withRuleHasComplianceRouteAccessBCeID.ts
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/automatic-overdue-penalty/review-penalty-summary/PenaltySummaryReviewComponent.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/ggeapar-interest/review-interest-summary/InterestSummaryReviewComponent.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/internal/review-interest-summary/InternalInterestSummaryReviewComponent.test.tsx
  bciers/apps/compliance/src/tests/components/taskLists/1_manageObligationTaskList.test.ts
  bciers/apps/compliance/src/tests/components/taskLists/internal/reviewObligationPenaltyTaskList.test.ts
  bciers/libs/utils/src/enums.ts
Due: eslint, mypy

chore: add GGEAPAR interest download payment instruction page and fix comments
  bc_obps/compliance/enums.py
  bc_obps/compliance/migrations/0015_compliancepenalty_status_and_more.py
  bc_obps/compliance/models/compliance_penalty.py
  bc_obps/compliance/service/elicensing/elicensing_data_refresh_service.py
  bc_obps/compliance/tests/service/test_compliance_obligation_service.py
  bciers/apps/compliance/src/app/bceidbusiness/industry_user/compliance-administration/compliance-summaries/[compliance_report_version_id]/(manage-obligation)/(ggeapar-interest)/download-interest-payment-instructions/page.tsx
  bciers/apps/compliance/src/app/bceidbusiness/industry_user_admin/compliance-administration/compliance-summaries/[compliance_report_version_id]/(manage-obligation)/(ggeapar-interest)/download-interest-payment-instructions/page.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/ggeapar-interest/download-interest-payment-instructions/InterestPaymentInstructionsDownloadPage.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/ggeapar-interest/review-interest-summary/InterestSummaryReviewComponent.tsx
  bciers/apps/compliance/src/app/components/taskLists/1_manageObligationTaskList.ts
  bciers/apps/compliance/src/app/components/taskLists/ggeaparInterestTaskList.ts
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/ggeapar-interest/download-interest-payment-instructions/InterestPaymentInstructionsDownloadPage.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/ggeapar-interest/review-interest-summary/InterestSummaryReviewComponent.test.tsx
  bciers/apps/compliance/src/tests/components/taskLists/1_manageObligationTaskList.test.ts
  bciers/apps/compliance/src/tests/components/taskLists/ggeaparInterestTaskList.test.ts
  bciers/libs/utils/src/enums.ts
Due: eslint, mypy

chore: add GGEAPAR interest pay interest and prack payment page
  bc_obps/compliance/api/_compliance_report_versions/_compliance_report_version_id/penalty.py
  bc_obps/compliance/service/compliance_dashboard_service.py
  bc_obps/compliance/service/payment_instructions_service.py
  bc_obps/compliance/service/penalty_summary_service.py
  bc_obps/compliance/tests/api/_compliance_report_versions/_compliance_report_version_id/test_penalty.py
  bciers/apps/compliance/src/app/bceidbusiness/industry_user/compliance-administration/compliance-summaries/[compliance_report_version_id]/(manage-obligation)/(ggeapar-interest)/pay-interest-penalty-track-payments/page.tsx
  bciers/apps/compliance/src/app/bceidbusiness/industry_user_admin/compliance-administration/compliance-summaries/[compliance_report_version_id]/(manage-obligation)/(ggeapar-interest)/pay-interest-penalty-track-payments/page.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/automatic-overdue-penalty/review-penalty-summary/PenaltySummaryReviewComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/automatic-overdue-penalty/review-penalty-summary/PenaltySummaryReviewPage.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/ggeapar-interest/pay-interest-penalty-track-payments/InterestPaymentStatusNote.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/ggeapar-interest/pay-interest-penalty-track-payments/InterestPenaltyTrackPaymentsComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/ggeapar-interest/pay-interest-penalty-track-payments/InterestPenaltyTrackPaymentsPayPage.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/pay-obligation-track-payments/ObligationTrackPaymentsComponent.tsx
  bciers/apps/compliance/src/app/components/taskLists/1_manageObligationTaskList.ts
  bciers/apps/compliance/src/app/components/taskLists/ggeaparInterestTaskList.ts
  bciers/apps/compliance/src/app/data/jsonSchema/manageObligation/ggeapar-interest/pay-interest-penalty-track-payments/payInterestPenaltyTrackPaymentsSchema.tsx
  bciers/apps/compliance/src/app/utils/getLateSubmissionPenaltySummary.ts
  bciers/apps/compliance/src/app/utils/getPenalty.ts
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/ggeapar-interest/pay-interest-penalty-track-payments/InterestPenaltyTrackPaymentsComponent.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/ggeapar-interest/pay-interest-penalty-track-payments/InterestPenaltyTrackPaymentsPayPage.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/pay-obligation-track-payments/ObligationTrackPaymentsComponent.test.tsx
  bciers/apps/compliance/src/tests/components/taskLists/ggeaparInterestTaskList.test.ts
Due: eslint, mypy

chore: add has_overdue_penalty resolver and implement PDF invoice generation flow for late submission penalty
  bc_obps/common/tests/endpoints/auth/constants.py
  bc_obps/compliance/api/__init__.py
  bc_obps/compliance/api/_compliance_report_versions/_compliance_report_version_id/_late_submission_penalty/invoice/pdf.py
  bc_obps/compliance/migrations/0016_compliancepenalty_status_and_more.py
  bc_obps/compliance/schema/compliance_report_version.py
  bc_obps/compliance/service/elicensing_invoice_service.py
  bc_obps/compliance/tests/api/_compliance_report_versions/_compliance_report_version_id/late_submission_penalty/test_lsp_invoice.py
  bc_obps/compliance/tests/api/_compliance_report_versions/_compliance_report_version_id/test_penalty.py
  bc_obps/compliance/tests/service/test_elicensing_invoice_service.py
  bciers/apps/compliance/src/app/api/invoice/[id]/[invoiceType]/route.ts
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/apply-compliance-units/ApplyComplianceUnitsPage.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/automatic-overdue-penalty/download-payment-penalty-instructions/PenaltyPaymentInstructionsDownloadPage.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/automatic-overdue-penalty/pay-penalty-track-payments/PenaltyTrackPaymentsPayPage.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/automatic-overdue-penalty/review-penalty-summary/PenaltySummaryReviewComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/automatic-overdue-penalty/review-penalty-summary/PenaltySummaryReviewPage.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/download-payment-instructions/PaymentInstructionsDownloadPage.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/ggeapar-interest/download-interest-payment-instructions/InterestPaymentInstructionsDownloadPage.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/ggeapar-interest/pay-interest-penalty-track-payments/InterestPenaltyTrackPaymentsPayPage.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/ggeapar-interest/review-interest-summary/InterestSummaryReviewComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/ggeapar-interest/review-interest-summary/InterestSummaryReviewPage.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/pay-obligation-track-payments/ObligationTrackPaymentsPayPage.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/review-compliance-summary/ComplianceSummaryReviewPage.tsx
  bciers/apps/compliance/src/app/components/taskLists/1_manageObligationTaskList.ts
  bciers/apps/compliance/src/app/types.ts
  bciers/apps/compliance/src/app/utils/generateInvoice.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/automatic-overdue-penalty/pay-penalty-track-payments/PenaltyTrackPaymentsPayPage.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/automatic-overdue-penalty/review-penalty-summary/PenaltySummaryReviewComponent.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/ggeapar-interest/download-interest-payment-instructions/InterestPaymentInstructionsDownloadPage.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/ggeapar-interest/pay-interest-penalty-track-payments/InterestPenaltyTrackPaymentsComponent.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/ggeapar-interest/pay-interest-penalty-track-payments/InterestPenaltyTrackPaymentsPayPage.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/ggeapar-interest/review-interest-summary/InterestSummaryReviewPage.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/pay-obligation-track-payments/ObligationTrackPaymentsPayPage.test.tsx
  bciers/apps/compliance/src/tests/components/taskLists/1_manageObligationTaskList.test.ts
Due: eslint, mypy

chore: release v4.5.0
  CHANGELOG.md
  bc_obps/common/migrations/0098_V4_5_0.py
  bc_obps/compliance/migrations/0017_V4_5_0.py
  bc_obps/registration/migrations/0146_V4_5_0.py
  bc_obps/reporting/migrations/0140_V4_5_0.py
  bc_obps/rls/migrations/0036_V4_5_0.py
  bc_obps/task_scheduler/migrations/0008_V4_5_0.py
  package.json
Due: mypy

test: always see reporting tile and links
  bciers/apps/dashboard/tests/routes/dashboard/page.test.tsx
Due: eslint

chore: remove registered operation middleware
  bc_obps/common/fixtures/dashboard/bciers/external.json
  bc_obps/common/migrations/0098_update_dashboard_data.py
  bc_obps/common/tests/endpoints/auth/constants.py
  bc_obps/reporting/api/__init__.py
  bc_obps/reporting/api/validate_user_reporting_access.py
  bc_obps/reporting/tests/api/test_validate_user_reporting_access_api.py
  bciers/apps/dashboard-e2e/tests/external/dashboard.spec.ts
  bciers/apps/reporting/src/middleware.ts
  bciers/apps/reporting/src/middlewares/withRuleHasRegisteredOperation.test.ts
  bciers/apps/reporting/src/middlewares/withRuleHasRegisteredOperation.ts
Due: eslint, mypy

chore: updating playwright and glob 10 to non-vulnerable versions
  bciers/package.json
  bciers/yarn.lock
Due: none

chore: cleaning up a few more
  bciers/yarn.lock
Due: none

chore: reporting tile behind same condition as reg
  bc_obps/common/fixtures/dashboard/bciers/external.json
  bc_obps/common/migrations/0099_update_dashboard_data.py
  bciers/apps/dashboard-e2e/tests/external/dashboard.spec.ts
Due: eslint, mypy

chore: fix duplicate happo screenshot name
  bciers/apps/administration-e2e/tests/workflows/change-registration-purpose.spec.ts
Due: eslint

chore: update pre-commit configuration and dependencies
  .pre-commit-config.yaml
  .prettierignore
  bc_obps/poetry.lock
  bc_obps/pyproject.toml
  bciers/.prettierignore
Due: none

chore: update pre-commit script to improve logging
  .bin/pre-commit-format.sh
  bciers/apps/administration-e2e/tests/workflows/change-registration-purpose.spec.ts
Due: eslint

chore: dynamically cache Playwright binaries based on version
  .github/workflows/test-nx-project-e2e.yaml
Due: none

chore(deps): update @playwright/test to version 1.56.1
  bciers/package.json
  bciers/yarn.lock
Due: none

chore: remove dotenv initialization from e2e test files - leftover
  bciers/apps/administration-e2e/poms/contacts.ts
  bciers/apps/administration-e2e/poms/dashboard.ts
  bciers/apps/administration-e2e/poms/operation.ts
  bciers/apps/dashboard-e2e/poms/dashboard.ts
  bciers/apps/registration-e2e/poms/registration.ts
  bciers/libs/e2e/src/utils/queries.ts
  bciers/libs/e2e/src/utils/test-nx-app-landing-page.ts
Due: eslint

chore: apply copilot suggestions
  bciers/libs/e2e/src/setupTest.ts
  bciers/libs/e2e/src/utils/test-nx-app-landing-page.ts
Due: eslint

chore: bump playwright related packages and update code
  bciers/apps/administration-e2e/tests/workflows/change-registration-purpose.spec.ts
  bciers/apps/administration-e2e/tests/workflows/contacts.spec.ts
  bciers/apps/administration-e2e/tests/workflows/issue-boro-bcghg-id.spec.ts
  bciers/apps/administration-e2e/tests/workflows/select-operator.spec.ts
  bciers/apps/administration-e2e/tests/workflows/users-and-access-requests.spec.ts
  bciers/apps/dashboard-e2e/tests/external/dashboard.spec.ts
  bciers/apps/dashboard-e2e/tests/internal/dashboard.spec.ts
  bciers/apps/registration-e2e/tests/register-an-operation.spec.ts
  bciers/libs/e2e/src/setupBeforeAll.ts
  bciers/libs/e2e/src/setupBeforeEach.ts
  bciers/libs/e2e/src/utils/helpers.ts
  bciers/libs/e2e/src/utils/test-nx-app-landing-page.ts
  bciers/package.json
  bciers/yarn.lock
Due: eslint

chore: refactor link visibility checks in internal dashboard e2e tests
  bciers/apps/dashboard-e2e/tests/internal/dashboard.spec.ts
Due: eslint

chore: skip Happo screenshots if not enabled in e2e tests
  bciers/libs/e2e/src/utils/helpers.ts
Due: eslint

chore: improve Happo screenshot stability checks in e2e helpers
  bciers/libs/e2e/src/utils/helpers.ts
Due: eslint

chore: refactor e2e test setup to centralize logic in `setupTest`
  bciers/libs/e2e/src/setupBeforeAll.ts
  bciers/libs/e2e/src/setupBeforeEach.ts
  bciers/libs/e2e/src/setupTest.ts
Due: eslint

chore: fix e2e report script commands in package.json
  bciers/package.json
Due: none

chore: remove redundant grid stabilization - duplicate
  bciers/apps/administration-e2e/tests/workflows/change-registration-purpose.spec.ts
Due: eslint

chore: remove duplicate button click
  bciers/apps/registration-e2e/tests/register-an-operation.spec.ts
Due: eslint

chore: comment out unused Happo screenshot for debugging purposes
  bciers/apps/administration-e2e/tests/workflows/users-and-access-requests.spec.ts
Due: eslint

chore: attempt to fix the detached frame issue
  bciers/apps/administration-e2e/poms/operator.ts
  bciers/libs/e2e/src/utils/helpers.ts
Due: eslint

chore: simplify and streamline Happo screenshot preparation in e2e helpers
  bciers/libs/e2e/src/utils/helpers.ts
Due: eslint
