Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy

eslint:
  name: ESLint
  language: system
  entry: ./.bin/pre-commit-lint.sh

mypy:
  name: Mypy
  language: system
  entry: ./.bin/pre-commit-mypy.sh

chore: refactor all ancestors superceded check into function
  bc_obps/compliance/service/supplementary_version_service.py
Due: mypy

chore: fix migration post-rebase
  bc_obps/compliance/migrations/0001_initial.py
  bc_obps/compliance/migrations/0032_compliancereportversion_superceded_status.py
Due: mypy

refactor: update seeding of compliance charge rates
  bc_obps/compliance/migrations/0003_seed_compliance_charge_rates.py
Due: mypy

chore: fix migration post-rebase
  bc_obps/compliance/migrations/0001_initial.py
  bc_obps/compliance/migrations/0031_alter_elicensingadjustment_comment_and_more.py
Due: mypy

chore: fix test
  bc_obps/compliance/tests/migration/test_generate_compliance_reports.py
Due: mypy

chore: migration to create requested earned credits email
  bc_obps/common/migrations/0083_notice_of_credits_requested_notification_email_template.py
Due: mypy

feat: services to send emails when earned credits are requested
  bc_obps/compliance/emails.py
  bc_obps/compliance/service/earned_credits_service.py
  bc_obps/compliance/tasks.py
Due: mypy

chore: migration to create the requested credits email template
  bc_obps/common/migrations/0083_notice_of_credits_requested_notification_email_template.py
Due: mypy

chore: spec work
  bc_obps/compliance/emails.py
  bc_obps/registration/fixtures/mock/user.json
Due: mypy

test: pytests for requested credits emails
  bc_obps/compliance/tests/service/test_compliance_earned_credits_service.py
  bc_obps/compliance/tests/test_emails.py
Due: mypy

chore: reset mock data
  bc_obps/registration/fixtures/mock/user.json
Due: none

chore: fix migrations after rebase
  bc_obps/common/migrations/0084_notice_of_credits_requested_notification_email_template.py
Due: mypy

test: pytests for requested credits emails
  bc_obps/compliance/tests/test_emails.py
Due: mypy

chore: remove unused migration file from task_scheduler
  bc_obps/task_scheduler/migrations/0002_V3_16_0.py
Due: mypy

chore: prepare compliance for prod
  bc_obps/bc_obps/settings.py
  helm/cas-bciers/templates/cronJobs/process-tasks.yaml
Due: mypy

chore: include task_scheduler migration dependency in initial migration file
  bc_obps/compliance/migrations/0001_initial.py
Due: mypy

chore: remove unused BCiers and compliance dashboard fixture files and references
  bc_obps/common/fixtures/dashboard/bciers/dev/external.json
  bc_obps/common/fixtures/dashboard/bciers/external.json
  bc_obps/common/fixtures/dashboard/bciers/internal.json
  bc_obps/common/fixtures/dashboard/bciers/prod/internal.json
  bc_obps/common/fixtures/dashboard/compliance/external.json
  bc_obps/common/fixtures/dashboard/compliance/internal.json
  bc_obps/common/migrations/0010_dashboarddata.py
  bc_obps/common/migrations/0012_update_dashboard_data.py
  bc_obps/common/migrations/0016_update_dashboard_data.py
  bc_obps/common/migrations/0017_update_dashboard_data.py
  bc_obps/common/migrations/0020_update_dashboard_data.py
  bc_obps/common/migrations/0022_update_dashboard_data.py
Due: mypy

chore: simplify fixture handling and always include compliance router
  bc_obps/bc_obps/api.py
  bc_obps/common/utils.py
Due: mypy

chore: make pre-commit happy
  bc_obps/bc_obps/settings.py
  helm/cas-bciers/templates/cronJobs/process-tasks.yaml
Due: mypy

chore: fix migration dependencies in previous migrations - just for local
  bc_obps/registration/migrations/0111_add_non_regulated_naics_codes.py
  bc_obps/reporting/migrations/0038_product_emission_intensity_with_data.py
Due: mypy

chore: skip URL check for compliance tile in dashboard e2e test
  bciers/apps/dashboard-e2e/tests/external/dashboard.spec.ts
Due: eslint

chore: update workflows to use sparse checkout and adjust fetch depth
  .github/workflows/build-administration.yaml
  .github/workflows/build-backend.yaml
  .github/workflows/build-compliance.yaml
  .github/workflows/build-dashboard.yaml
  .github/workflows/build-registration.yaml
  .github/workflows/build-reporting.yaml
Due: none

fix: update declined issuance note to include appeal information and registry links
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/track-status-of-issuance/IssuanceStatusDeclinedNote.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/track-status-of-issuance/IssuanceStatusDeclinedNote.test.tsx
Due: eslint

feat: add iconColor prop to AlertNote component for direct color control
  bciers/apps/compliance/src/app/data/jsonSchema/requestIssuance/internal/InternalDirectorReviewAwaitingNote.tsx
  bciers/libs/components/src/form/components/AlertNote.test.tsx
  bciers/libs/components/src/form/components/AlertNote.tsx
  bciers/libs/components/src/form/fields/AlertFieldTemplateFactory.tsx
Due: eslint

chore: change default Alert icon color on Director Review page
  bciers/apps/compliance/src/app/data/jsonSchema/requestIssuance/internal/InternalDirectorReviewAwaitingNote.tsx
Due: eslint

chore: prevent email notifications for earned credits under threshold
  bc_obps/compliance/emails.py
  bc_obps/compliance/service/compliance_report_version_service.py
  bc_obps/compliance/service/earned_credits_service.py
  bc_obps/compliance/tests/service/test_compliance_earned_credits_service.py
  bc_obps/compliance/tests/test_emails.py
Due: mypy

chore: revert the wording tweak
  bc_obps/common/fixtures/dashboard/bciers/external.json
Due: none

feat: use compliance report version id for signal consumer
  bc_obps/compliance/signals/consumers.py
  bc_obps/compliance/tests/signals/test_consumers.py
Due: mypy

chore: make pre-commit happy
  bc_obps/compliance/signals/consumers.py
Due: mypy

chore: update adjustment model
  bc_obps/compliance/service/supplementary_version_service.py
Due: mypy

chore: fix test post-rebase
  bc_obps/compliance/tests/signals/test_consumers.py
Due: mypy

chore: update tests
  bc_obps/compliance/migrations/0031_alter_elicensingadjustment_comment_and_more.py
  bc_obps/compliance/models/elicensing_adjustment.py
  bc_obps/compliance/service/compliance_adjustment_service.py
  bc_obps/compliance/service/earned_credits_service.py
  bc_obps/compliance/service/supplementary_version_service.py
  bc_obps/compliance/tests/service/test_supplementary_version_service.py
Due: mypy

Path conditions:
  eslint: any of: \.(j|t)sx?$
  mypy: any of: \.py$
