Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3 # Use the sha or tag you want to point at
    hooks:
      - id: prettier
        name: Prettier
        stages: [commit]

  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        language: system
        files: \.(j|t)sx?$
        entry: ./.bin/pre-commit-lint.sh
      - id: mypy
        name: Mypy
        language: system
        types: [python]
        entry: ./.bin/pre-commit-mypy.sh

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-vcs-permalinks
      - id: check-yaml
        exclude: (^helm/.*/templates/)
      - id: end-of-file-fixer
        exclude: (^erd_diagrams/)
      - id: trailing-whitespace
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        types: [python]
        args: ["--config", "bc_obps/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.2
    hooks:
      - id: ruff
        args: ["bc_obps/", "--fix"]

  - repo: https://github.com/python-poetry/poetry
    rev: 1.6.1
    hooks:
      - id: poetry-check
        args: ["-C", "./bc_obps"]
      - id: poetry-lock
        args: ["-C", "./bc_obps", "--check"] # --check to ensure lock file is up to date without updating it

  - repo: https://github.com/PyCQA/bandit
    rev: "1.7.5"
    hooks:
      - id: bandit
        args: ["-c", "bc_obps/bandit.yaml"]

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.2.5
    hooks:
      - id: gitleaks

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.16.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]

chore: update import paths for automated process service
  bc_obps/compliance/tasks.py
  bc_obps/compliance/tests/service/test_automated_process_service.py
Due: mypy

test: add tests for the service
  bc_obps/compliance/tests/service/automated_process/test_automated_process_service.py
  bc_obps/compliance/tests/service/automated_process/test_compliance_handlers.py
  bc_obps/compliance/tests/service/test_automated_process_service.py
Due: mypy

feat: implement automated process for refreshing obligation invoices and handling compliance updates
  bc_obps/compliance/service/automated_process/automated_process_service.py
  bc_obps/compliance/service/automated_process/compliance_handlers.py
  bc_obps/compliance/service/automated_process_service.py
Due: mypy

chore: update logging level to INFO for production environments
  bc_obps/bc_obps/settings.py
Due: mypy

chore: use operator mailing instead of physical address on invoices
  bc_obps/compliance/service/compliance_invoice_service.py
Due: mypy

chore: make all address fixtures unique
  bc_obps/registration/fixtures/mock/address.json
Due: none

chore: added filter on reports to only fetch reports submitted by correct operator, but new operator still sees duplicated operations and can't create a new report
  bc_obps/reporting/service/reporting_dashboard_service.py
Due: mypy

chore: in progress. Added function to get_all_reports_for_operator to ReportDataAccessService
  bc_obps/service/data_access_service/report_service.py
Due: mypy

chore: updated error message in modal and removed unnecessary button
  bciers/apps/reporting/src/app/components/operations/cells/ActionCell.tsx
Due: eslint

chore: fixed duplication error
  bc_obps/reporting/service/reporting_dashboard_service.py
Due: mypy

chore: refactored some pytests and get_all_previously_owned_operations_for_operator. Need to investigate failing tests
  bc_obps/reporting/service/reporting_dashboard_service.py
  bc_obps/reporting/tests/service/test_reporting_dashboard_service.py
  bc_obps/service/data_access_service/operation_service.py
Due: mypy

chore: rough draft of modal with error when new operator tries to create report for operation that already has one from old operator
  bciers/apps/reporting/src/app/components/operations/cells/ActionCell.tsx
Due: eslint

chore: coalesced some things in this PR with recently-merged Previous Years Reports PR
  bc_obps/reporting/service/reporting_dashboard_service.py
  bc_obps/service/data_access_service/operation_service.py
Due: mypy

chore: saving progress before performing rebase. No noteworthy changes in this commit
  bc_obps/reporting/service/reporting_dashboard_service.py
Due: mypy

chore: partially fixed failing python tests. But still have failures
  bc_obps/reporting/tests/service/test_reporting_dashboard_service.py
Due: mypy

chore: partially fixed failing python tests. But still have failures
  bc_obps/reporting/tests/service/test_reporting_dashboard_service.py
  bc_obps/service/data_access_service/operation_service.py
Due: mypy

chore: removed breakpoint. All pytests passing locally
  bc_obps/reporting/service/reporting_dashboard_service.py
  bc_obps/reporting/tests/service/test_reporting_dashboard_service.py
Due: mypy

chore: trying to make mypy happy but thats an impossible task
  bc_obps/reporting/service/reporting_dashboard_service.py
Due: mypy

chore: cleaned up some code and fixed failing unit test
  bc_obps/reporting/service/reporting_dashboard_service.py
Due: mypy

chore: fixed 2 failing pytests (due to poor conflict resolution). One more still failing due to changed code; new pytests still needed
  bc_obps/reporting/tests/service/test_reporting_dashboard_service.py
Due: mypy

chore: achieved desired behaviour in-app
  bc_obps/reporting/service/reporting_dashboard_service.py
Due: mypy

chore: reverting previous change that still didn't make mypy happy
  bc_obps/reporting/service/reporting_dashboard_service.py
Due: mypy

feat: implement dynamic breadcrumb titles with BreadcrumbContext provider
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/internal/review-compliance-summary/InternalComplianceSummaryReviewComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/review-compliance-summary/ComplianceSummaryReviewComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/no-obligation/review-summary/ComplianceSummaryReviewComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/no-obligation/review-summary/ComplianceSummaryReviewPage.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/review-compliance-summary/ComplianceSummaryReviewComponent.tsx
  bciers/apps/compliance/src/app/components/taskLists/1_manageObligationTaskList.ts
  bciers/apps/compliance/src/app/components/taskLists/requestIssuanceTaskList.ts
  bciers/apps/compliance/src/app/data/jsonSchema/manageObligation/complianceSummaryReviewSchema.tsx
  bciers/apps/compliance/src/app/data/jsonSchema/noObligation/complianceSummaryReviewSchema.tsx
  bciers/apps/compliance/src/app/data/jsonSchema/requestIssuance/complianceSummaryReviewSchema.tsx
  bciers/libs/components/src/index.ts
  bciers/libs/components/src/layout/RootLayout.tsx
  bciers/libs/components/src/navigation/Bread.tsx
  bciers/libs/components/src/navigation/BreadcrumbContext.tsx
Due: eslint

feat: implement dynamic breadcrumb titles with BreadcrumbContext provider
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/internal/review-compliance-summary/InternalComplianceSummaryReviewComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/review-compliance-summary/ComplianceSummaryReviewComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/no-obligation/review-summary/ComplianceSummaryReviewComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/no-obligation/review-summary/ComplianceSummaryReviewPage.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/review-compliance-summary/ComplianceSummaryReviewComponent.tsx
  bciers/apps/compliance/src/app/components/taskLists/1_manageObligationTaskList.ts
  bciers/apps/compliance/src/app/components/taskLists/requestIssuanceTaskList.ts
  bciers/apps/compliance/src/app/data/jsonSchema/manageObligation/complianceSummaryReviewSchema.tsx
  bciers/apps/compliance/src/app/data/jsonSchema/noObligation/complianceSummaryReviewSchema.tsx
  bciers/apps/compliance/src/app/data/jsonSchema/requestIssuance/complianceSummaryReviewSchema.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/internal/review-compliance-summary/InternalComplianceSummaryReviewComponent.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/review-compliance-summary/ComplianceSummaryReviewComponent.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/no-obligation/review-summary/ComplianceSummaryReviewComponent.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/review-compliance-summary/ComplianceSummaryReviewComponent.test.tsx
  bciers/apps/compliance/src/tests/components/taskLists/1_manageObligationTaskList.test.ts
  bciers/apps/compliance/src/tests/components/taskLists/requestIssuanceTaskList.test.ts
  bciers/libs/components/src/index.ts
  bciers/libs/components/src/layout/RootLayout.tsx
  bciers/libs/components/src/navigation/Bread.tsx
  bciers/libs/components/src/navigation/BreadcrumbContext.tsx
Due: eslint

Revert "feat: implement dynamic breadcrumb titles with BreadcrumbContext provider"
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/internal/review-compliance-summary/InternalComplianceSummaryReviewComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/review-compliance-summary/ComplianceSummaryReviewComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/no-obligation/review-summary/ComplianceSummaryReviewComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/no-obligation/review-summary/ComplianceSummaryReviewPage.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/review-compliance-summary/ComplianceSummaryReviewComponent.tsx
  bciers/apps/compliance/src/app/components/taskLists/1_manageObligationTaskList.ts
  bciers/apps/compliance/src/app/components/taskLists/requestIssuanceTaskList.ts
  bciers/apps/compliance/src/app/data/jsonSchema/manageObligation/complianceSummaryReviewSchema.tsx
  bciers/apps/compliance/src/app/data/jsonSchema/noObligation/complianceSummaryReviewSchema.tsx
  bciers/apps/compliance/src/app/data/jsonSchema/requestIssuance/complianceSummaryReviewSchema.tsx
  bciers/libs/components/src/index.ts
  bciers/libs/components/src/layout/RootLayout.tsx
  bciers/libs/components/src/navigation/Bread.tsx
  bciers/libs/components/src/navigation/BreadcrumbContext.tsx
Due: eslint

chore: fix test
  bciers/libs/components/src/navigation/Bread.test.tsx
Due: eslint

chore: rename manage-obligation-review-summary to review-compliance-obligation-report and remove breadcrumb context
  bciers/apps/compliance/src/app/bceidbusiness/industry_user/compliance-summaries/[compliance_report_version_id]/(manage-obligation)/review-compliance-obligation-report/page.tsx
  bciers/apps/compliance/src/app/bceidbusiness/industry_user_admin/compliance-summaries/[compliance_report_version_id]/(manage-obligation)/review-compliance-obligation-report/page.tsx
  bciers/apps/compliance/src/app/components/compliance-summaries/cells/ActionCell.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/apply-compliance-units/ApplyComplianceUnitsComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/download-payment-instructions/PaymentInstructionsDownloadComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/internal/review-compliance-summary/InternalComplianceSummaryReviewComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/review-compliance-summary/ComplianceSummaryReviewComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/no-obligation/review-summary/ComplianceSummaryReviewComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/review-compliance-summary/ComplianceSummaryReviewComponent.tsx
  bciers/apps/compliance/src/app/components/taskLists/1_manageObligationTaskList.ts
  bciers/apps/compliance/src/app/idir/cas_admin/compliance-summaries/[compliance_report_version_id]/(manage-obligation)/review-compliance-obligation-report/page.tsx
  bciers/apps/compliance/src/app/idir/cas_analyst/compliance-summaries/[compliance_report_version_id]/(manage-obligation)/review-compliance-obligation-report/page.tsx
  bciers/apps/compliance/src/app/idir/cas_director/compliance-summaries/[compliance_report_version_id]/(manage-obligation)/review-compliance-obligation-report/page.tsx
  bciers/apps/compliance/src/app/idir/cas_view_only/compliance-summaries/[compliance_report_version_id]/(manage-obligation)/review-compliance-obligation-report/page.tsx
  bciers/apps/compliance/src/tests/components/compliance-summaries/ComplianceSummariesDataGrid.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summaries/cells/ActionCell.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/apply-compliance-units/ApplyComplianceUnitsComponent.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/download-payment-instructions/PaymentInstructionsDowloadComponent.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/internal/review-compliance-summary/InternalComplianceSummaryReviewComponent.test.tsx
  bciers/apps/compliance/src/tests/components/taskLists/1_manageObligationTaskList.test.ts
  bciers/libs/components/src/index.ts
  bciers/libs/components/src/layout/RootLayout.tsx
  bciers/libs/components/src/navigation/Bread.test.tsx
  bciers/libs/components/src/navigation/Bread.tsx
  bciers/libs/components/src/navigation/BreadcrumbContext.tsx
Due: eslint

chore: report, reporting year and compliance period fixtures for 2023
  bc_obps/compliance/fixtures/production/compliance_periods.json
  bc_obps/reporting/fixtures/mock/report.json
  bc_obps/reporting/fixtures/mock/reporting_year.json
Due: none

chore: adding more fixtureS
  bc_obps/common/management/commands/custom_migrate.py
  bc_obps/compliance/fixtures/mock/compliance_periods.json
  bc_obps/compliance/fixtures/production/compliance_periods.json
  bc_obps/compliance/management/commands/load_compliance_fixtures.py
  bc_obps/reporting/fixtures/mock/report.json
  bc_obps/reporting/management/commands/load_reporting_fixtures.py
Due: mypy

chore: removing some compliance testing items
  bc_obps/common/management/commands/custom_migrate.py
  bc_obps/compliance/fixtures/mock/compliance_periods.json
  bc_obps/compliance/management/commands/load_compliance_fixtures.py
  bc_obps/reporting/management/commands/load_reporting_fixtures.py
Due: mypy

chore: compliance ignores report submissions before 2024
  bc_obps/compliance/signals/consumers.py
  bc_obps/reporting/management/commands/load_reporting_fixtures.py
Due: mypy

chore: reporting year fixtures
  bc_obps/reporting/fixtures/mock/report.json
  bc_obps/reporting/fixtures/mock/reporting_year.json
Due: none

chore: release v3.17.0
  CHANGELOG.md
  bc_obps/common/migrations/0074_V3_17_0.py
  bc_obps/registration/migrations/0134_V3_17_0.py
  bc_obps/reporting/migrations/0128_V3_17_0.py
  bc_obps/rls/migrations/0026_V3_17_0.py
  package.json
Due: mypy

fix: jinja template in dag can't directly use python var
  dags/bc_obps_test_migrations.py
Due: mypy

chore: release v3.17.1
  CHANGELOG.md
  bc_obps/common/migrations/0074_V3_17_1.py
  bc_obps/registration/migrations/0134_V3_17_1.py
  bc_obps/reporting/migrations/0128_V3_17_1.py
  bc_obps/rls/migrations/0026_V3_17_1.py
  package.json
Due: mypy

Deploying to gh-pages from @ bcgov/cas-registration@57af531b2a1dabbd3509cdac2cbc8a5484ba8ba9 🚀
  schemaspy/common/columns.html
  schemaspy/common/index.html
  schemaspy/common/info-html.txt
  schemaspy/common/tables/retry_task.html
  schemaspy/common/tables/scheduled_task.html
  schemaspy/erc/columns.html
  schemaspy/erc/index.html
  schemaspy/erc/info-html.txt
  schemaspy/erc_history/columns.html
  schemaspy/erc_history/index.html
  schemaspy/erc_history/info-html.txt
  schemaspy/index.html
Due: none

chore: endpoint to fetch tasklist data for mananaging obligations
  bc_obps/compliance/api/__init__.py
  bc_obps/compliance/api/_compliance_report_versions/_compliance_report_version_id/obligation_tasklist.py
  bc_obps/compliance/schema/obligation_tasklist.py
  bciers/apps/compliance/src/app/utils/getObligationTasklistData.ts
Due: eslint, mypy

chore: remove met obligation routes (will use manage obligation ones instead)
  bciers/apps/compliance/src/app/bceidbusiness/industry_user/compliance-summaries/[compliance_report_version_id]/(met-obligation)/review-obligation-summary/page.tsx
  bciers/apps/compliance/src/app/bceidbusiness/industry_user_admin/compliance-summaries/[compliance_report_version_id]/(met-obligation)/review-obligation-summary/page.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/met-obligation/review-compliance-summary/ComplianceSummaryReviewComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/met-obligation/review-compliance-summary/ComplianceSummaryReviewPage.tsx
Due: eslint

test: pytests for obligation tasklist endpoint
  bc_obps/common/tests/endpoints/auth/constants.py
  bc_obps/compliance/schema/obligation_tasklist.py
  bc_obps/compliance/tests/api/_compliance_report_versions/_compliance_report_version_id/test_obligation_tasklist.py
Due: mypy

chore: update middleware to allow access when status is obligation fully met
  bciers/apps/compliance/src/middlewares/withRuleHasComplianceRouteAccessBCeID.ts
Due: eslint
