Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, mypy

prettier:
  name: Prettier
  language: system
  entry: ./.bin/pre-commit-format.sh

eslint:
  name: ESLint
  language: system
  entry: ./.bin/pre-commit-lint.sh

mypy:
  name: Mypy
  language: system
  entry: ./.bin/pre-commit-mypy.sh

chore: apply code review suggestions and refactor test
  bc_obps/compliance/service/supplementary_version_service.py
  bc_obps/compliance/tests/service/test_compliance_dashboard_service.py
  bc_obps/compliance/tests/utils/compliance_test_helper.py
Due: mypy

chore: remove blanket atomic transaction from parent compliance handlers call
  bc_obps/compliance/service/automated_process/automated_process_service.py
  bc_obps/compliance/service/automated_process/compliance_handlers.py
Due: mypy

chore: refactor penalty_calculation_service part 1 - no-verify
  bc_obps/compliance/service/penalty_calculation_service.py
Due: mypy

test: refactor penalty service tests part 1 - no verify
  bc_obps/compliance/tests/service/test_penalty_calculation_service.py
Due: mypy

chore: add invoice_number field to CompliancePenalty model
  bc_obps/compliance/migrations/0032_compliancepenalty_invoice_number.py
  bc_obps/compliance/models/compliance_penalty.py
Due: mypy

chore: fix migrations after rebase
  bc_obps/compliance/migrations/0038_compliancepenalty_invoice_number.py
Due: mypy

chore: refactor calculate_late_submission_pealty()
  bc_obps/compliance/service/automated_process/compliance_handlers.py
  bc_obps/compliance/service/penalty_calculation_service.py
Due: mypy

test: add test for idempotent penalty creation function
  bc_obps/compliance/tests/service/test_penalty_calculation_service.py
Due: mypy

test: refactor penalty_calculation_service tests
  bc_obps/compliance/tests/service/test_penalty_calculation_service.py
Due: mypy

test: update model test
  bc_obps/compliance/tests/models/test_compliance_penalty.py
Due: mypy

test: update/rewrite compliance_handlers() tests
  bc_obps/compliance/service/automated_process/compliance_handlers.py
  bc_obps/compliance/tests/service/automated_process/test_compliance_handlers.py
Due: mypy

test: update test_penalty integration tests
  bc_obps/compliance/tests/integration/test_penalty.py
  bc_obps/compliance/tests/integration/utils.py
Due: mypy

chore: turn the create_penalty() call in ObligationPaidHandler into a retryable function
  bc_obps/compliance/service/automated_process/compliance_handlers.py
  bc_obps/compliance/service/penalty_calculation_service.py
  bc_obps/compliance/tasks.py
Due: mypy

chore: fix migrations post rebase
  bc_obps/compliance/migrations/0040_compliancepenalty_invoice_number.py
Due: mypy

test: refactor tests to handle retryable function update
  bc_obps/compliance/tests/service/automated_process/test_compliance_handlers.py
  bc_obps/compliance/tests/service/test_penalty_calculation_service.py
Due: mypy

docs: update function documentation in penalty_calculation_service
  bc_obps/compliance/service/penalty_calculation_service.py
Due: mypy

chore: PR cleanup
  bc_obps/compliance/migrations/0041_compliancepenalty_invoice_number.py
  bc_obps/compliance/service/automated_process/compliance_handlers.py
  bc_obps/compliance/service/penalty_calculation_service.py
  bc_obps/compliance/tests/service/automated_process/test_compliance_handlers.py
Due: mypy

chore: update complianceData to use reporting form data endpoint
  bc_obps/common/tests/endpoints/auth/constants.py
  bc_obps/reporting/api/__init__.py
  bc_obps/reporting/api/compliance_data.py
  bc_obps/reporting/api_v2/__init__.py
  bc_obps/reporting/api_v2/forms/form_response_builder.py
  bc_obps/reporting/api_v2/forms/form_schema.py
  bc_obps/reporting/api_v2/forms/report_compliance_summary_data.py
  bc_obps/reporting/tests/api/test_compliance_data_api.py
  bciers/apps/reporting/src/app/components/complianceSummary/ComplianceSummaryForm.tsx
  bciers/apps/reporting/src/app/components/complianceSummary/ComplianceSummaryPage.tsx
  bciers/apps/reporting/src/app/components/products/ProductionDataPage.tsx
  bciers/apps/reporting/src/app/types.ts
  bciers/apps/reporting/src/app/utils/getComplianceData.ts
  bciers/apps/reporting/src/data/jsonSchema/2025/complianceSummary.ts
  bciers/apps/reporting/src/data/jsonSchema/complianceSummary.ts
  bciers/libs/utils/src/isOperationOptedOut.test.ts
  bciers/libs/utils/src/isOperationOptedOut.ts
Due: prettier, eslint, mypy

chore: update builder tests
  .tool-versions
  bc_obps/reporting/api_v2/forms/form_response_builder.py
  bc_obps/reporting/api_v2/forms/form_schema.py
  bc_obps/reporting/api_v2/forms/report_compliance_summary_data.py
  bc_obps/reporting/tests/api_v2/forms/test_form_response_builder.py
  bc_obps/reporting/tests/api_v2/forms/test_report_production_form_data_endpoints.py
  bc_obps/reporting/utils.py
  bciers/apps/reporting/src/app/components/complianceSummary/ComplianceSummaryPage.tsx
  bciers/apps/reporting/src/app/components/products/ProductionDataPage.tsx
  bciers/apps/reporting/src/app/types.ts
  bciers/apps/reporting/src/app/utils/getComplianceData.ts
  bciers/apps/reporting/src/app/utils/typesApiV2.ts
  bciers/libs/utils/src/isOperationOptedOut.test.ts
  bciers/libs/utils/src/isOperationOptedOut.ts
Due: prettier, eslint, mypy

chore: update complianceSummaryFields with isOptedOut prop
  .tool-versions
  bc_obps/reporting/api_v2/forms/report_compliance_summary_data.py
  bc_obps/reporting/schema/report_final_review.py
  bciers/apps/reporting/src/app/components/complianceSummary/ComplianceSummaryForm.tsx
  bciers/apps/reporting/src/app/components/complianceSummary/types.ts
  bciers/apps/reporting/src/app/components/finalReview/finalReviewFields.ts
  bciers/apps/reporting/src/app/components/finalReview/reportTypes.ts
  bciers/apps/reporting/src/app/components/finalReview/templates/FinalReviewReportSections.tsx
  bciers/apps/reporting/src/app/utils/getComplianceData.ts
Due: prettier, eslint, mypy

chore: add is_operation_opted_out to get_production_form_data
  bc_obps/reporting/api_v2/forms/report_compliance_summary_data.py
  bc_obps/reporting/api_v2/forms/report_production_data.py
  bc_obps/reporting/schema/compliance_data.py
  bc_obps/reporting/schema/report_product.py
  bciers/apps/reporting/src/app/components/complianceSummary/ComplianceSummaryPage.tsx
  bciers/apps/reporting/src/app/components/complianceSummary/types.ts
  bciers/apps/reporting/src/app/components/products/ProductionDataForm.tsx
  bciers/apps/reporting/src/app/components/products/ProductionDataPage.tsx
  bciers/apps/reporting/src/app/components/products/types.ts
  bciers/apps/reporting/src/app/utils/getComplianceData.ts
  bciers/apps/reporting/src/app/utils/getProductionData.ts
  bciers/apps/reporting/src/app/utils/postProductionData.ts
  bciers/apps/reporting/src/tests/components/products/ProductionDataForm.test.tsx
  bciers/libs/actions/src/api/getProductionData.ts
  bciers/libs/actions/src/api/index.ts
Due: prettier, eslint, mypy

chore: update endpoint tests
  bc_obps/reporting/tests/api_v2/forms/test_report_production_form_data_endpoints.py
  bc_obps/reporting/tests/schema/test_compliance_data_schema.py
  bciers/apps/reporting/src/app/utils/getComplianceData.ts
  bciers/apps/reporting/src/app/utils/getProductionData.ts
Due: prettier, eslint, mypy

chore: update vitests
  bc_obps/reporting/tests/api_v2/forms/test_report_production_form_data_endpoints.py
  bciers/apps/reporting/src/tests/components/complianceSummary/ComplianceSummaryPage.test.tsx
  bciers/apps/reporting/src/tests/components/products/ProductionDataForm.test.tsx
  bciers/apps/reporting/src/tests/components/products/ProductionDataPage.test.tsx
Due: prettier, eslint, mypy

chore: updates to CI after creating individual happo keys per proejct
  .github/workflows/main.yaml
  .github/workflows/test-nx-project-e2e.yaml
Due: none

chore: wip
  bciers/apps/reporting/src/app/components/finalReview/FinalReviewForm.tsx
  bciers/apps/reporting/src/app/components/finalReview/templates/FinalReviewReportSections.tsx
  bciers/apps/reporting/src/app/components/submitted/ReportForm.tsx
  bciers/libs/components/src/downloadPDFButton/DownloadPdfButton.tsx
Due: prettier, eslint

chore: custom download button components:
  bciers/apps/reporting/src/app/components/finalReview/FinalReviewForm.tsx
  bciers/apps/reporting/src/app/components/finalReview/templates/FinalReviewReportSections.tsx
  bciers/apps/reporting/src/app/components/finalReview/templates/PdfDownloadButtons.tsx
  bciers/apps/reporting/src/app/components/finalReview/templates/SectionReview.tsx
  bciers/apps/reporting/src/app/components/submitted/ReportForm.tsx
  bciers/libs/components/src/downloadPDFButton/DownloadPdfButton.tsx
Due: prettier, eslint

chore: fields types
  bciers/apps/reporting/src/app/components/finalReview/templates/FinalReviewReportSections.tsx
Due: prettier, eslint

test: report form test
  bciers/apps/reporting/src/tests/components/submitted/ReportForm.test.tsx
Due: prettier, eslint

chore: print improvements:
  bciers/apps/reporting/src/app/components/finalReview/FacilityReportFinalReview.tsx
  bciers/apps/reporting/src/app/components/finalReview/FinalReviewForm.tsx
  bciers/apps/reporting/src/app/components/finalReview/templates/FinalReviewReportSections.tsx
  bciers/apps/reporting/src/app/components/finalReview/templates/PdfDownloadButtons.tsx
  bciers/apps/reporting/src/app/components/finalReview/templates/ReportDownloadPdfButton.tsx
  bciers/apps/reporting/src/app/components/submitted/ReportForm.tsx
  bciers/libs/components/src/downloadPDFButton/DownloadPdfButton.tsx
  bciers/libs/components/src/layout/Footer.tsx
Due: prettier, eslint

chore: gh secrets are not readable from within a job's with context
  .github/workflows/main.yaml
Due: none

chore: add test endpoint get_compliance_summary_form_data
  bc_obps/reporting/api_v2/forms/report_compliance_summary_data.py
  bc_obps/reporting/api_v2/forms/report_production_data.py
  bc_obps/reporting/schema/report_final_review.py
  bc_obps/reporting/service/compliance_service/compliance_service.py
  bc_obps/reporting/tests/api_v2/forms/test_report_compliance_summary_data_endpoint.py
  bc_obps/reporting/tests/api_v2/forms/test_report_production_form_data_endpoints.py
  bc_obps/reporting/tests/schema/test_compliance_data_schema.py
  bc_obps/reporting/tests/utils/test_is_operation_opted_out.py
  bc_obps/reporting/utils.py
Due: mypy

chore: add vitests
  bciers/apps/reporting/src/app/components/finalReview/finalReviewFields.ts
  bciers/apps/reporting/src/data/jsonSchema/2025/complianceSummary.ts
  bciers/apps/reporting/src/tests/components/complianceSummary/ComplianceSummaryForm.test.tsx
  bciers/apps/reporting/src/tests/components/finalReview/templates/FinalReviewReportSections.test.tsx
Due: prettier, eslint

chore: separate happo api credentials
  .github/workflows/test-nx-project-e2e.yaml
  bciers/.env.example
  bciers/apps/administration-e2e/happo.config.mts
  bciers/apps/compliance-e2e/happo.config.mts
  bciers/apps/dashboard-e2e/happo.config.mts
  bciers/apps/registration-e2e/happo.config.mts
  bciers/apps/reporting-e2e/happo.config.mts
  bciers/happo-base.config.js
  bciers/happo.config.mts
  bciers/libs/e2e/src/setupTest.ts
  bciers/libs/e2e/src/utils/happo-skip.js
  bciers/libs/e2e/src/utils/test-nx-app-landing-page.ts
Due: prettier, eslint

chore: make sonarqube happy
  bciers/apps/administration-e2e/happo.config.mts
  bciers/apps/administration-e2e/tsconfig.json
  bciers/apps/compliance-e2e/happo.config.mts
  bciers/apps/compliance-e2e/tsconfig.json
  bciers/apps/dashboard-e2e/happo.config.mts
  bciers/apps/dashboard-e2e/tsconfig.json
  bciers/apps/registration-e2e/happo.config.mts
  bciers/apps/registration-e2e/tsconfig.json
  bciers/apps/reporting-e2e/happo.config.mts
  bciers/apps/reporting-e2e/tsconfig.json
  bciers/happo.config.mts
  bciers/libs/e2e/src/utils/happo-skip.js
Due: prettier, eslint

chore: fix fuel name spelling error
  bc_obps/reporting/migrations/0171_fix_municipal_solid_waste_fuel_name.py
  bc_obps/reporting/tests/models/test_fuel_type.py
Due: mypy

chore: update lifecycle badge to active
  README.md
Due: prettier

chore: temporarily drop conflicting policies in migration altering ComplianceReportVersion.status
  bc_obps/compliance/migrations/0040_alter_compliancereportversion_status.py
Due: mypy

chore: add if exists clause to drop policy statement
  bc_obps/compliance/migrations/0040_alter_compliancereportversion_status.py
Due: mypy

refactor: deduplicate repeated strings
  bc_obps/compliance/service/elicensing/elicensing_api_client.py
Due: mypy

Path conditions:
  prettier: any of: \.(j|t)sx?$|\.json$|\.md$|\.css$|\.scss$, but not: (\.next/|node_modules/|dist/|build/|coverage/|\.nx/cache/)
  eslint: any of: \.(j|t)sx?$, but not: (\.next/|node_modules/|dist/|build/|coverage/|\.nx/cache/|tests/performance/)
  mypy: any of: \.py$
