Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy

eslint:
  name: ESLint
  language: system
  entry: ./.bin/pre-commit-lint.sh

mypy:
  name: Mypy
  language: system
  entry: ./.bin/pre-commit-mypy.sh

chore: fix ordering of seed data migrations
  bc_obps/compliance/migrations/0003_seed_compliance_charge_rates.py
  bc_obps/compliance/migrations/0008_remove_compliancechargerate_set_created_audit_columns_and_more.py
Due: mypy

chore: squashing mypy errors part 1
  bc_obps/compliance/models/compliance_report_version.py
  bc_obps/compliance/service/compliance_obligation_service.py
  bc_obps/compliance/service/compliance_report_version_service.py
  bc_obps/compliance/signals.py
Due: mypy

chore: spec work on operation policy
  bc_obps/rls/utils/policy.py
Due: mypy

chore: improve user profile handling and error management in ProfilePage and user_profile
  bc_obps/registration/api/user/user_profile.py
  bciers/apps/administration/app/components/profile/ProfilePage.tsx
Due: eslint, mypy

chore: handle non-existent users gracefully in user_is_archived endpoint
  bc_obps/registration/api/user/user_is_archived.py
Due: mypy

chore: simplify endpoint validation logic in getUUIDFromEndpoint function and remove leftovers
  bciers/libs/utils/src/getUUIDFromEndpoint.ts
Due: eslint

chore: update parameter name in action handler documentation
  bciers/libs/actions/src/actions.ts
Due: eslint

chore: remove tests pointing at v1
  bciers/libs/utils/src/getUUIDFromEndpoint.test.ts
Due: eslint

chore: not using the schema in service
  bc_obps/service/data_access_service/user_service.py
Due: mypy

chore: remove unused get_user_profile method from user_service
  bc_obps/service/data_access_service/user_service.py
Due: mypy

chore: update get_user_role to handle unknown users and return no role
  bc_obps/registration/api/user/user_app_role.py
Due: mypy

chore: implement copilot suggestions
  bciers/libs/utils/src/getUUIDFromEndpoint.test.ts
Due: eslint

chore: send correct email template to confirm registration
  bc_obps/registration/emails.py
  bc_obps/registration/enums/enums.py
  bc_obps/service/operation_service.py
Due: mypy

chore: cleanup old email functions
  bc_obps/service/email/email_service.py
Due: mypy

test: update email pytests
  bc_obps/registration/tests/test_emails.py
  bc_obps/service/tests/test_operation_service.py
Due: mypy

chore: squashing mypy errors part 2
  bc_obps/compliance/api/_compliance_report_version/_compliance_report_summary_id/issuance.py
  bc_obps/compliance/api/_compliance_report_version/compliance_report_version_id.py
  bc_obps/compliance/api/_summaries/_summary_id/issuance.py
  bc_obps/compliance/api/_summaries/summary_id.py
  bc_obps/compliance/api/compliance_report_version.py
  bc_obps/compliance/migrations/0001_initial.py
  bc_obps/compliance/models/compliance_obligation.py
  bc_obps/compliance/schema/compliance_report_version.py
  bc_obps/compliance/service/compliance_dashboard_service.py
  bc_obps/compliance/service/compliance_obligation_service.py
  bc_obps/compliance/service/elicensing/obligation_elicensing_service.py
Due: mypy

chore: squashing mypy errors part 3
  bc_obps/compliance/api/__init__.py
  bc_obps/compliance/api/_compliance_report_version/compliance_report_version_id.py
  bc_obps/compliance/api/compliance_report_version.py
Due: mypy

chore: reset migrations
  bc_obps/compliance/api/_compliance_report_version/compliance_report_version_id.py
  bc_obps/compliance/migrations/0001_initial.py
  bc_obps/compliance/schema/compliance_obligation.py
Due: mypy

docs: update docs for sending emails locally
  docs/backend/data-models.md
Due: none

chore: cleanup old email functions
  bc_obps/common/tests/test_email_service.py
Due: mypy

chore: adding api endpoint
  bc_obps/reporting/api/report_attachments.py
  bc_obps/reporting/schema/report_attachment.py
  bciers/apps/reporting/src/app/components/attachments/AttachmentsListPage.tsx
  bciers/apps/reporting/src/app/idir/cas_admin/reports/page.tsx
  bciers/apps/reporting/src/app/idir/cas_director/reports/page.tsx
  bciers/apps/reporting/src/app/utils/getAttachmentsList.ts
Due: eslint, mypy

refactor: replace generic exceptions with UserError for better user feedback
  bc_obps/common/exceptions.py
  bc_obps/registration/api/_operations/_operation_id/_registration/submission.py
  bc_obps/service/application_access_service.py
  bc_obps/service/contact_service.py
  bc_obps/service/data_access_service/operator_service.py
  bc_obps/service/facility_service.py
  bc_obps/service/operation_service.py
  bc_obps/service/operator_service.py
  bc_obps/service/report_service.py
  bc_obps/service/transfer_event_service.py
  bc_obps/service/user_service.py
Due: mypy

refactor: enhance global exception handling with structured responses and Sentry integration
  bc_obps/service/error_service/handle_exception.py
Due: mypy

test: add unit tests for ExceptionHandler and error handling logic
  bc_obps/service/tests/test_handle_exception.py
Due: mypy

chore: added tests, fixed signal and pages
  bc_obps/reporting/migrations/0093_reportsignoff_acknowledgement_of_errors.py
  bc_obps/reporting/migrations/0098_reportelectricityimportdata_and_more.py
  bc_obps/reporting/tests/api/test_electricity_import_endpoint.py
  bc_obps/reporting/tests/service/test_electricity_import_data_service.py
  bc_obps/service/tests/compliance/elicensing/test_obligation_elicensing_service.py
  bciers/apps/reporting/src/tests/components/eio/ElectricityInformationForm.test.tsx
Due: eslint, mypy

chore: check
  bc_obps/compliance/api/summaries.py
  bc_obps/compliance/schema/payments.py
  bc_obps/compliance/service/compliance_dashboard_service.py
  bc_obps/compliance/service/elicensing/elicensing_api_client.py
  bc_obps/compliance/service/elicensing/obligation_elicensing_service.py
  bciers/apps/compliance/src/app/components/compliance-summary/compliance-summary-review/ComplianceSummaryReviewComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/compliance-summary-review/ComplianceSummaryReviewPage.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/review-compliance-summary/ComplianceSummaryReviewContent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/review-compliance-summary/MonetaryPaymentsAlertNote.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/review-compliance-summary/MonetaryPaymentsGrid.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/review-compliance-summary/fetchComplianceSummaryReviewPageData.ts
  bciers/apps/compliance/src/app/types/payments.ts
  bciers/apps/compliance/src/app/utils/getComplianceSummaryPayments.ts
Due: eslint, mypy

chore: refactor
  bc_obps/compliance/schema/payments.py
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/review-compliance-summary/MonetaryPaymentsAlertNote.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/review-compliance-summary/fetchComplianceSummaryReviewPageData.ts
Due: eslint, mypy

chore: remove mock data
  bc_obps/compliance/service/elicensing/elicensing_api_client.py
  bc_obps/compliance/service/elicensing/obligation_elicensing_service.py
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/review-compliance-summary/ComplianceObligation.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/review-compliance-summary/OutstandingComplianceObligation.tsx
  bciers/apps/compliance/src/app/components/datagrid/models/manetary-payments/monetaryPaymentsColumns.tsx
  bciers/apps/compliance/src/app/utils/formatting.ts
Due: eslint, mypy

chore: move dataclasses to separate file
  bc_obps/compliance/service/elicensing/elicensing_api_client.py
  bc_obps/compliance/service/elicensing/schema.py
Due: mypy

chore: use receipt number
  bc_obps/compliance/schema/payments.py
  bc_obps/compliance/service/elicensing/elicensing_api_client.py
  bc_obps/compliance/service/elicensing/obligation_elicensing_service.py
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/review-compliance-summary/MonetaryPaymentsGrid.tsx
  bciers/apps/compliance/src/app/components/datagrid/models/manetary-payments/monetaryPaymentsColumns.tsx
  bciers/apps/compliance/src/app/components/datagrid/models/manetary-payments/monetaryPaymentsGroupColumns.tsx
  bciers/apps/compliance/src/app/types/payments.ts
Due: eslint, mypy

Path conditions:
  eslint: any of: \.(j|t)sx?$
  mypy: any of: \.py$
