Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        language: system
        files: \.(j|t)sx?$|\.json$|\.md$|\.css$|\.scss$
        exclude: (\.next/|node_modules/|dist/|build/|coverage/|\.nx/cache/)
        entry: ./.bin/pre-commit-format.sh
      - id: eslint
        name: ESLint
        language: system
        files: \.(j|t)sx?$
        exclude: (\.next/|node_modules/|dist/|build/|coverage/|\.nx/cache/|tests/performance/)
        entry: ./.bin/pre-commit-lint.sh
      - id: mypy
        name: Mypy
        language: system
        types: [python]
        entry: ./.bin/pre-commit-mypy.sh

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-vcs-permalinks
      - id: check-yaml
        exclude: (^helm/.*/templates/)
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
      - id: black
        types: [python]
        args: ["--config", "bc_obps/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.6
    hooks:
      - id: ruff
        args: ["bc_obps/", "--fix"]

  - repo: https://github.com/python-poetry/poetry
    rev: 2.2.1
    hooks:
      - id: poetry-check
        args: ["-C", "./bc_obps"]
      - id: poetry-lock
        args: ["-C", "./bc_obps"]

  - repo: https://github.com/PyCQA/bandit
    rev: "1.9.2"
    hooks:
      - id: bandit
        additional_dependencies: [pbr]
        args: ["-c", "bc_obps/bandit.yaml"]

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.29.1
    hooks:
      - id: gitleaks

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.23.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]

chore: deleted old code from test file
  bc_obps/service/tests/test_form_builder_service.py
Due: mypy

chore: removed all logic regarding required fields in form_builder_service; updated/deleted associated tests
  bc_obps/service/form_builder_service.py
  bc_obps/service/tests/test_form_builder_service.py
Due: mypy

chore: added error message that appears in UI when required fuelName is empty
  bc_obps/reporting/service/report_activity_save_service.py
  bc_obps/reporting/tests/migration/test_helpers.py
  bc_obps/reporting/tests/service/test_report_activity_save_service/test_save_report_fuel.py
  bciers/apps/reporting/src/app/components/activities/ActivityForm.tsx
  bciers/libs/utils/src/activityFormValidators.test.ts
  bciers/libs/utils/src/activityFormValidators.ts
Due: prettier, eslint, mypy

chore: updated failing test in test_helpers.py post-refactor
  bc_obps/reporting/tests/migration/test_helpers.py
Due: mypy

chore: updated e2e spec for facility-report (changed Annual Fuel Amount label)
  bciers/apps/reporting-e2e/poms/facility-report.ts
Due: prettier, eslint

chore: upped migration version post-rebase
  bc_obps/reporting/migrations/0193_reload_json_schemas_updated_required_fields.py
Due: mypy

chore: changes based on PR review feedback
  bc_obps/reporting/json_schemas/2024/lng_activities/10_centrifugal_compressor_venting.json
  bc_obps/reporting/migrations/0192_reload_json_schemas_updated_required_fields.py
  bc_obps/reporting/tests/migration/test_helpers.py
Due: prettier, mypy

chore: make annualFuelAmount required in mobile fuel combustion schema; expand test in test_helpers
  bc_obps/reporting/json_schemas/2024/fuel_combustion_mobile/combustion_by_equipment.json
  bc_obps/reporting/tests/migration/test_helpers.py
Due: prettier, mypy

chore: update poetry to latest
  bc_obps/.tool-versions
Due: none

chore: add minimum age to package managers
  .yarnrc.yml
  bc_obps/poetry.toml
  bciers/.yarnrc.yml
Due: none

chore: added validation to report_activity_save_service.save_fuel to ensure that annualFuelAmount attribute exists in fuel_data
  bc_obps/reporting/service/report_activity_save_service.py
  bc_obps/reporting/tests/service/test_report_activity_save_service/data.py
  bc_obps/reporting/tests/service/test_report_activity_save_service/test_report_activity_save_service_with_real_data.py
  bc_obps/reporting/tests/service/test_report_activity_save_service/test_save_report_fuel.py
Due: mypy

chore: match renovate's min age to managers
  renovate.json5
Due: none

docs: add directions to temporarily bypass package age delay
  docs/backend/misc.md
  docs/frontend/developer-guide.md
Due: prettier

chore: apply NestedArrayFieldItemTemplate in all ui schemas that need it
  bciers/apps/reporting/src/app/components/activities/ActivityPage.tsx
  bciers/apps/reporting/src/app/components/activities/uiSchemas/2025/pulpAndPaperUiSchema.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/aluminumUiSchema.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/carbonatesUseUiSchema.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/cementProductionUISchema.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/coalStorageUiSchema.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/electricityGenerationUiSchema.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/fuelCombustionMobileUiSchema.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/gscNonCompressionNonProcessingUiSchema.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/gscOtherThanNonCompression.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/hydrogenProduction.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/industrialWastewaterProcessingUiSchema.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/leadProductionUiSchema.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/limeManufacturingUiSchema.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/lngActivities.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/ngNonCompressionUiSchema.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/ngOtherThanNonCompressionUiSchema.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/ogExtractionNonCompressionUiSchema.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/ogExtractionOtherThanNcNpUiSchema.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/openPitCoalMining.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/petroleumRefiningUiSchema.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/pulpAndPaperUiSchema.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/refineryFuelGasUiSchema.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/storageOfPetroleumProductsUiSchema.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/zincProductionUiSchema.ts
  bciers/apps/reporting/src/data/jsonSchema/nonAttributableEmissions/nonAttributableEmissions.ts
  bciers/libs/components/src/form/fields/NestedArrayFieldTemplate.test.tsx
Due: prettier, eslint

chore: update imports of NestedArrayTemplate to use non-default import
  bciers/apps/reporting/src/app/components/activities/customFields/FuelFieldComponent.tsx
  bciers/apps/reporting/src/app/components/activities/uiSchemas/2025/pulpAndPaperUiSchema.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/aluminumUiSchema.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/carbonatesUseUiSchema.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/cementProductionUISchema.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/coalStorageUiSchema.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/common.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/electricityGenerationUiSchema.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/fuelCombustionMobileUiSchema.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/gscNonCompressionNonProcessingUiSchema.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/gscOtherThanNonCompression.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/hydrogenProduction.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/industrialWastewaterProcessingUiSchema.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/leadProductionUiSchema.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/limeManufacturingUiSchema.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/lngActivities.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/ngNonCompressionUiSchema.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/ngOtherThanNonCompressionUiSchema.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/ogExtractionNonCompressionUiSchema.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/ogExtractionOtherThanNcNpUiSchema.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/openPitCoalMining.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/petroleumRefiningUiSchema.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/pulpAndPaperUiSchema.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/refineryFuelGasUiSchema.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/storageOfPetroleumProductsUiSchema.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/zincProductionUiSchema.ts
  bciers/apps/reporting/src/data/jsonSchema/nonAttributableEmissions/nonAttributableEmissions.ts
Due: prettier, eslint

chore: remove methodology Units fields from schema & show units inline
  bc_obps/service/form_builder_service.py
  bciers/libs/components/src/form/fields/InlineFieldTemplate.tsx
Due: prettier, eslint, mypy

chore: update NestedArrayFieldTemplate to rjsf 6 pattern
  bciers/libs/components/src/form/fields/FuelAmountFieldTemplate.tsx
  bciers/libs/components/src/form/fields/GasTypeCasNumberFieldTemplate.tsx
  bciers/libs/components/src/form/fields/NestedArrayFieldTemplate.test.tsx
  bciers/libs/components/src/form/fields/NestedArrayFieldTemplate.tsx
Due: prettier, eslint

chore: ArrayFieldTemplate fixed & Production Data page displays properly
  bciers/apps/administration/app/data/jsonSchema/operator.ts
  bciers/apps/registration/app/data/jsonSchema/operationRegistration/operationRepresentative.ts
  bciers/apps/reporting/src/data/jsonSchema/2024/complianceSummary.ts
  bciers/apps/reporting/src/data/jsonSchema/2024/productionData.tsx
  bciers/apps/reporting/src/data/jsonSchema/2025/complianceSummary.ts
  bciers/apps/reporting/src/data/jsonSchema/2025/productionData.tsx
  bciers/apps/reporting/src/data/jsonSchema/complianceSummary.ts
  bciers/apps/reporting/src/data/jsonSchema/facility/facilityEmissionAllocation.tsx
  bciers/apps/reporting/src/data/jsonSchema/newEntrantInformation/newEntrantInformation.tsx
  bciers/apps/reporting/src/data/jsonSchema/productionData.tsx
  bciers/libs/components/src/form/fields/ArrayFieldTemplate.tsx
  bciers/libs/components/src/form/fields/ArrayFieldTemplate_OLD.tsx
  bciers/libs/components/src/form/fields/index.ts
  bciers/libs/components/src/form/theme/defaultTheme.ts
Due: prettier, eslint

chore: allow spread of item.children in custom tempalates
  bciers/libs/components/src/form/fields/InlineArrayFieldTemplate.tsx
  bciers/libs/components/src/form/fields/readonly/ReadOnlyArrayFieldTemplate.tsx
Due: prettier, eslint

chore: another ...item.children fix
  bciers/libs/components/src/form/fields/InlineArrayFieldTemplate.tsx
  bciers/libs/components/src/form/fields/readonly/ReadOnlyArrayFieldTemplate.tsx
Due: prettier, eslint

chore: allow spread of children prop in custom templates
  bciers/libs/components/src/form/fields/ArrayFieldTemplate.tsx
  bciers/libs/components/src/form/fields/ArrayFieldTemplate_OLD.tsx
  bciers/libs/components/src/form/fields/NestedArrayFieldTemplate.tsx
Due: prettier, eslint

chore: retrieve formcontext from registry
  bciers/apps/reporting/src/app/components/activities/ActivityPage.tsx
  bciers/apps/reporting/src/data/jsonSchema/facility/facilityEmissionAllocation.tsx
  bciers/libs/components/src/form/fields/AlertFieldTemplateFactory.tsx
  bciers/libs/components/src/form/fields/GroupedObjectFieldTemplateWrapper.tsx
  bciers/libs/components/src/form/fields/PlacesAssignedFieldTemplate.tsx
Due: prettier, eslint

chore: remove unnecessary InlineArrayFieldTemplate & merge with ArrayFieldTemplate
  bciers/apps/administration/app/data/jsonSchema/facilitiesLfo.ts
  bciers/libs/components/src/form/fields/ArrayFieldTemplate.tsx
  bciers/libs/components/src/form/fields/InlineArrayFieldTemplate.tsx
  bciers/libs/components/src/form/fields/index.ts
  bciers/libs/components/src/form/widgets/BoroIdWidget.tsx
Due: prettier, eslint

chore: fix newEntrantInformation uischema
  bciers/apps/reporting/src/data/jsonSchema/newEntrantInformation/newEntrantInformation.tsx
Due: prettier, eslint

chore: fix more build errors
  bciers/libs/components/src/form/widgets/BcghgIdWidget.tsx
  bciers/libs/components/src/form/widgets/BoroIdWidget.tsx
  bciers/libs/components/src/form/widgets/CheckboxGroupWidget.tsx
  bciers/libs/components/src/form/widgets/CheckboxWidget.tsx
  bciers/libs/components/src/form/widgets/CheckboxWidgetLeft.tsx
  bciers/libs/components/src/form/widgets/ComboBox.tsx
  bciers/libs/components/src/form/widgets/DateWidget.tsx
  bciers/libs/components/src/form/widgets/EmailWidget.tsx
  bciers/libs/components/src/form/widgets/MultiSelectWidgetWithTooltip.tsx
  bciers/libs/components/src/form/widgets/OperationRepresentativeWidget.tsx
  bciers/libs/components/src/form/widgets/OperatorSearchWidget.tsx
  bciers/libs/components/src/form/widgets/OptedOutOperationWidget.tsx
  bciers/libs/components/src/form/widgets/PhoneWidget.tsx
  bciers/libs/components/src/form/widgets/PostalCodeWidget.tsx
  bciers/libs/components/src/form/widgets/SelectWidget.tsx
  bciers/libs/components/src/form/widgets/TextWidget.tsx
  bciers/libs/components/src/form/widgets/ToggleWidget.tsx
  bciers/libs/components/src/form/widgets/URLWidget.tsx
  bciers/libs/components/src/form/widgets/readOnly/ReadOnlyBooleanWidget.tsx
  bciers/libs/components/src/form/widgets/readOnly/ReadOnlyComboBoxWidget.tsx
  bciers/libs/components/src/form/widgets/readOnly/ReadOnlyDateWidget.tsx
  bciers/libs/components/src/form/widgets/readOnly/ReadOnlyFileWidget.tsx
  bciers/libs/components/src/form/widgets/readOnly/ReadOnlyMultiSelectWidget.tsx
  bciers/libs/components/src/form/widgets/readOnly/ReadOnlyRadioWidget.tsx
  bciers/libs/components/src/form/widgets/readOnly/ReadOnlyWidget.tsx
Due: prettier, eslint

chore: fix build errors
  bciers/libs/components/src/form/fields/PlacesAssignedFieldTemplate.tsx
Due: prettier, eslint

chore: update emissionAllocation ui schema with array field templates
  bciers/apps/reporting/src/data/jsonSchema/facility/facilityEmissionAllocation.tsx
  bciers/libs/components/src/form/fields/ArrayFieldTemplate.tsx
Due: prettier, eslint

chore: prettier
  bciers/apps/administration/app/data/jsonSchema/facilitiesLfo.ts
Due: prettier, eslint

chore: remove ReadOnlyArrayFieldTemplate & merge with ArrayFieldTemlate
  bciers/libs/components/src/form/fields/ArrayFieldTemplate.tsx
  bciers/libs/components/src/form/fields/readonly/ReadOnlyArrayFieldTemplate.test.tsx
  bciers/libs/components/src/form/fields/readonly/ReadOnlyArrayFieldTemplate.tsx
  bciers/libs/components/src/form/theme/readOnlyTheme.ts
Due: prettier, eslint

chore: refactor PlacesAssignedFieldTemplate for rjsf v6
  bciers/apps/administration/app/data/jsonSchema/contact.ts
  bciers/libs/components/src/form/fields/PlacesAssignedFieldTemplate.tsx
  bciers/libs/components/src/form/fields/index.ts
Due: prettier, eslint

chore: fix eslint error
  bciers/libs/e2e/src/utils/helpers.ts
Due: prettier, eslint

chore: fix formContext in widget
  bciers/libs/components/src/form/widgets/BcghgIdWidget.tsx
Due: prettier, eslint

chore: array items use parentUiSchema
  bciers/libs/components/src/form/fields/ArrayFieldTemplate.tsx
  bciers/libs/components/src/form/fields/NestedArrayFieldTemplate.tsx
  bciers/libs/components/src/form/widgets/OperationRepresentativeWidget.tsx
Due: prettier, eslint

test: update tests
  bciers/libs/components/src/form/fields/FuelAmountFieldTemplate.test.tsx
  bciers/libs/components/src/form/fields/PlacesAssignedFieldTemplate.test.tsx
Due: prettier, eslint

test: fix pythontest
  bc_obps/reporting/tests/service/report_validation/validators/test_report_activity_json_validator.py
Due: mypy

chore: fix more registry/formContext issues
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/apply-compliance-units/ApplyComplianceUnitsSuccessAlertNote.tsx
  bciers/apps/compliance/src/app/widgets/ApplyComplianceUnitsWidget.tsx
Due: prettier, eslint

test: fix some tests
  bciers/apps/registration/tests/components/operations/registration/FacilityLfoForm.test.tsx
  bciers/apps/registration/tests/components/operations/registration/NewLfoFacilityInformationForm.test.tsx
  bciers/apps/registration/tests/components/operations/registration/NewOperationRepresentativeForm.test.tsx
Due: prettier, eslint

chore: re-update rjsf packages after rebase
  bciers/package.json
  bciers/yarn.lock
Due: prettier

test: e2e eslint fix
  bciers/libs/e2e/src/utils/helpers.ts
Due: prettier, eslint
