Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3 # Use the sha or tag you want to point at
    hooks:
      - id: prettier
        name: Prettier
        stages: [commit]
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        language: system
        files: \.(j|t)sx?$
        entry: ./.bin/pre-commit-lint.sh

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-vcs-permalinks
      - id: check-yaml
        exclude: (^helm/.*/templates/)
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: debug-statements
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: bash -c "cd bc_obps && poetry run pylint --rcfile=.pylintrc *.py"
        language: system
        types: [python]
        require_serial: true

  - repo: https://github.com/python-poetry/poetry
    rev: 1.6.1
    hooks:
      - id: poetry-check
        args: ["-C", "./bc_obps"]
      - id: poetry-lock
        args: ["-C", "./bc_obps", "--check"] # --check to ensure lock file is up to date without updating it

  - repo: https://github.com/PyCQA/bandit
    rev: "1.7.5"
    hooks:
      - id: bandit
        args: ["-c", "bc_obps/bandit.yaml"]

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.2.5
    hooks:
      - id: gitleaks

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v8.0.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]

chore: remove redundant texts
  bc_obps/service/data_access_service/regulated_product_service.py
Due: pylint

chore: make pre-commit happy
  erd_diagrams/erd_registration.md
Due: none

docs: make docs first page a bit prettier
  docs/README.md
Due: none

chore: implement pr review suggestions
  bc_obps/registration/api/v1/_user_operators/_current/access_requests.py
  bc_obps/registration/api/v1/_user_operators/_current/is_current_user_approved_admin.py
  bc_obps/registration/api/v1/_user_operators/pending.py
  bc_obps/registration/api/v1/_user_operators/user_operator_id.py
  bc_obps/registration/api/v1/operators.py
  bc_obps/registration/api/v1/user_operators.py
  docs/backend/api-design.md
  docs/backend/data-models.md
  docs/backend/misc.md
  docs/backend/optimization.md
  docs/backend/test.md
Due: pylint

chore: minor tweaks to docs
  docs/frontend/developer-guide.md
Due: none

chore: fix components test
  bciers/libs/shared/components/src/lib/form/FormBase.tsx
Due: eslint

chore: move form components to shared project
  bciers/apps/registration1/app/components/operations/OperationReviewForm.tsx
  bciers/apps/registration1/app/components/operations/OperationsForm.tsx
  bciers/apps/registration1/app/components/userOperators/UserOperatorForm.tsx
  bciers/apps/registration1/app/components/userOperators/UserOperatorReviewForm.tsx
  bciers/libs/shared/components/src/lib/form/MultiStepAccordion.tsx
  bciers/libs/shared/components/src/lib/form/MultiStepFormBase.test.tsx
  bciers/libs/shared/components/src/lib/form/MultiStepFormBase.tsx
  bciers/libs/shared/components/src/lib/form/components/MultiStepButtons.test.tsx
  bciers/libs/shared/components/src/lib/form/components/MultiStepButtons.tsx
  bciers/libs/shared/components/src/lib/form/components/MultiStepHeader.test.tsx
  bciers/libs/shared/components/src/lib/form/components/MultiStepHeader.tsx
  bciers/libs/shared/components/src/lib/form/index.ts
Due: eslint

chore: fix prettier single quote issue
  bciers/.prettierrc
  bciers/apps/registration/.happo.js
  bciers/apps/registration/app/api/hello/route.ts
  bciers/apps/registration/app/layout.tsx
  bciers/apps/registration/app/page.tsx
  bciers/apps/registration/index.d.ts
  bciers/apps/registration/next.config.js
  bciers/apps/registration/playwright.config.ts
  bciers/apps/registration/tailwind.config.js
  bciers/apps/registration/vitest.config.mts
  bciers/apps/registration1/vitest.config.mjs
Due: eslint

chore: update playwright browser cache in github
  .github/workflows/test.yaml
  bciers/.gitignore
Due: none

chore: add registration part 2 app configs
  bciers/.prettierrc
  bciers/.vscode/extensions.json
  bciers/apps/registration/.eslintrc.json
  bciers/apps/registration/.happo.js
  bciers/apps/registration/app/api/hello/route.ts
  bciers/apps/registration/app/global.css
  bciers/apps/registration/app/layout.tsx
  bciers/apps/registration/app/page.module.css
  bciers/apps/registration/app/page.tsx
  bciers/apps/registration/index.d.ts
  bciers/apps/registration/next-env.d.ts
  bciers/apps/registration/next.config.js
  bciers/apps/registration/playwright.config.ts
  bciers/apps/registration/project.json
  bciers/apps/registration/public/.gitkeep
  bciers/apps/registration/public/favicon.ico
  bciers/apps/registration/tailwind.config.js
  bciers/apps/registration/tsconfig.json
  bciers/apps/registration/vitest.config.mts
  bciers/package.json
Due: eslint

chore: move more reg1 components to shared lib
  bciers/apps/registration1/app/(authenticated)/dashboard/page.tsx
  bciers/apps/registration1/app/(authenticated)/layout.tsx
  bciers/apps/registration1/app/(onboarding)/layout.tsx
  bciers/apps/registration1/app/components/button/Review.tsx
  bciers/apps/registration1/app/components/datagrid/DataGrid.tsx
  bciers/apps/registration1/app/components/layout/Main.tsx
  bciers/apps/registration1/app/layout.tsx
  bciers/apps/registration1/app/not-found.tsx
  bciers/apps/registration1/tsconfig.json
  bciers/libs/shared/components/src/lib/accordion/Accordion.tsx
  bciers/libs/shared/components/src/lib/form/MultiStepAccordion.tsx
  bciers/libs/shared/components/src/lib/icons/Inbox.tsx
  bciers/libs/shared/components/src/lib/icons/Layers.tsx
  bciers/libs/shared/components/src/lib/icons/Notification.tsx
  bciers/libs/shared/components/src/lib/icons/SortIcon.tsx
  bciers/libs/shared/components/src/lib/icons/Users.tsx
  bciers/libs/shared/components/src/lib/icons/Wrench.tsx
  bciers/libs/shared/components/src/lib/icons/index.ts
  bciers/libs/shared/components/src/lib/layout/Footer.tsx
  bciers/libs/shared/components/src/lib/layout/Header.tsx
  bciers/libs/shared/components/src/lib/layout/Main.spec.tsx
  bciers/libs/shared/components/src/lib/layout/Main.tsx
  bciers/libs/shared/components/src/lib/modal/Modal.tsx
  bciers/libs/shared/components/src/lib/navigation/Bread.tsx
  bciers/libs/shared/components/src/lib/navigation/Profile.tsx
  bciers/libs/shared/components/src/lib/navigation/Tiles.tsx
  bciers/libs/shared/components/src/lib/navigation/types.ts
Due: eslint

chore: add sonarcloud duplication exclusion for registration part 2
  .sonarcloud.properties
Due: none

chore: use shared colors file
  bciers/apps/registration1/app/components/routes/select-operator/Page.tsx
  bciers/apps/registration1/app/components/userOperators/ConfirmSelectedOperator.tsx
  bciers/apps/registration1/app/components/userOperators/ConfirmSelectedOperatorForm.tsx
  bciers/apps/registration1/app/styles/colors.ts
  bciers/apps/registration1/app/utils/jsonSchema/operations.ts
  bciers/apps/registration1/app/utils/jsonSchema/operators.ts
  bciers/apps/registration1/app/utils/jsonSchema/selectOperator.ts
  bciers/apps/registration1/app/utils/jsonSchema/user.ts
  bciers/apps/registration1/app/utils/jsonSchema/userOperator.ts
  bciers/libs/shared/components/src/lib/accordion/Accordion.tsx
  bciers/libs/shared/components/src/lib/datagrid/styles.ts
  bciers/libs/shared/components/src/lib/form/fields/ArrayFieldTemplate.tsx
  bciers/libs/shared/components/src/lib/form/fields/FieldTemplate.tsx
  bciers/libs/shared/components/src/lib/form/fields/FieldTemplateWithSubmitButton.tsx
  bciers/libs/shared/components/src/lib/form/fields/GroupTitleFieldTemplate.tsx
  bciers/libs/shared/components/src/lib/form/fields/GroupedObjectFieldTemplateWrapper.tsx
  bciers/libs/shared/components/src/lib/form/fields/InlineFieldTemplate.tsx
  bciers/libs/shared/components/src/lib/form/fields/TitleFieldTemplate.tsx
  bciers/libs/shared/components/src/lib/form/fields/TitleOnlyFieldTemplate.tsx
  bciers/libs/shared/components/src/lib/form/fields/index.ts
  bciers/libs/shared/components/src/lib/form/theme/defaultTheme.ts
  bciers/libs/shared/components/src/lib/form/widgets/ComboBox.tsx
  bciers/libs/shared/components/src/lib/form/widgets/MultiSelectWidget.tsx
  bciers/libs/shared/components/src/lib/form/widgets/OperatorSearchWidget.tsx
  bciers/libs/shared/components/src/lib/form/widgets/PhoneWidget.tsx
  bciers/libs/shared/components/src/lib/form/widgets/PostalCodeWidget.tsx
  bciers/libs/shared/components/src/lib/form/widgets/SelectWidget.tsx
  bciers/libs/shared/components/src/lib/form/widgets/TextWidget.tsx
Due: eslint

chore: add layout
  bciers/apps/registration/app/api/auth/[...nextauth]/route.ts
  bciers/apps/registration/app/api/auth/token/route.ts
  bciers/apps/registration/app/api/hello/route.ts
  bciers/apps/registration/app/layout.tsx
  bciers/apps/registration/app/page.module.css
  bciers/apps/registration/app/page.tsx
  bciers/apps/registration/public/.gitkeep
  bciers/apps/registration/public/favicon.ico
  bciers/apps/registration/public/img/BCID_CleanBC_rev_tagline_colour.svg
  bciers/apps/registration/public/img/favicon.ico
  bciers/apps/registration1/app/layout.tsx
  bciers/libs/shared/styles/src/lib/globals.css
Due: eslint

docs: add registration part 2 frontend development doc
  docs/registration_part_2/frontend-development.md
Due: none

chore: fix registration part 2 error
  bciers/apps/registration/next.config.js
  bciers/apps/registration/tsconfig.json
Due: eslint

chore: fix reporting import error
  bciers/apps/reporting/src/app/(authenticated)/authenticated/page.tsx
  bciers/apps/reporting/src/app/page.tsx
  bciers/apps/reporting/tsconfig.json
Due: eslint

chore: add placeholder test for reg part 2
  bciers/apps/registration/add-tests-here.test.ts
Due: eslint

docs: cleanup registration part 2 frontend doc
  docs/registration_part_2/frontend-development.md
Due: none
