Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy

eslint:
  name: ESLint
  language: system
  entry: ./.bin/pre-commit-lint.sh

mypy:
  name: Mypy
  language: system
  entry: ./.bin/pre-commit-mypy.sh

chore: add wait-for-pg and run pg-cronjob to dag
  dags/bc_obps_test_migrations.py
Due: mypy

chore: add service accounts for k8s providers
  dags/bc_obps_test_migrations.py
Due: mypy

chore: add dag step to uninstall pods on success
  dags/bc_obps_test_migrations.py
Due: mypy

chore: install react-number-format
  package.json
  yarn.lock
Due: none

chore: correct typo
  dags/bc_obps_test_migrations.py
Due: mypy

chore: correct jq usage
  dags/bc_obps_test_migrations.py
Due: mypy

chore: update operation timeline fixtures for compliance
  bc_obps/registration/fixtures/mock/operation_designated_operator_timeline.json
Due: none

chore: update field types in complianceSummary rjsf schema
  bciers/apps/reporting/src/data/jsonSchema/complianceSummary.ts
Due: eslint

chore: spec work
  bciers/apps/reporting/src/app/components/complianceSummary/ComplianceSummaryForm.tsx
  bciers/apps/reporting/src/data/jsonSchema/facility/facilityEmissionAllocation.tsx
  bciers/libs/components/src/form/widgets/TextWidget.tsx
  bciers/libs/components/src/form/widgets/readOnly/ReadOnlyWidget.tsx
  bciers/libs/utils/src/customTransformErrors.ts
Due: eslint

chore: update values based on sonar recs
  helm/migration-test/cas-obps-backend-migration-test/templates/backend/deployment.yaml
Due: none

chore: add backend image tag param
  dags/bc_obps_test_migrations.py
Due: mypy

chore: update wording on error boundary
  bciers/libs/components/src/error/ErrorBoundary.tsx
Due: eslint

chore: update default in handle_exception
  bc_obps/service/error_service/handle_exception.py
Due: mypy

chore: add suspense so errors behave more consistently in local
  bciers/apps/administration/app/bceidbusiness/industry_user/my-operator/page.tsx
  bciers/apps/administration/app/bceidbusiness/industry_user_admin/my-operator/page.tsx
Due: eslint

test: update pytests
  bc_obps/reporting/tests/api/test_report_attachment_api.py
  bc_obps/service/tests/test_handle_exception.py
Due: mypy

test: vitests for ErrorBoundary
  bciers/libs/components/src/error/ErrorBoundary.test.tsx
  bciers/libs/components/src/error/ErrorPage.test.tsx
  bciers/libs/testConfig/src/global.tsx
  bciers/libs/testConfig/src/mocks.ts
  bciers/libs/utils/src/actions.test.ts
Due: eslint

test: update message in assertions in pytest
  bc_obps/service/tests/test_handle_exception.py
Due: mypy

chore: add fkey from obligation to invoice
  bc_obps/compliance/migrations/0007_obligation_invoice_fkey.py
  bc_obps/compliance/models/compliance_obligation.py
  bc_obps/compliance/models/elicensing_invoice.py
Due: mypy

chore: add custom manager to elicensing_client_operator model
  bc_obps/compliance/models/elicensing_client_operator.py
Due: mypy

chore: remove manager from model
  bc_obps/compliance/models/elicensing_client_operator.py
  bc_obps/compliance/service/elicensing/obligation_elicensing_service.py
  bc_obps/compliance/service/elicensing/operator_elicensing_service.py
Due: mypy

chore: use UUID field for guid columns
  bc_obps/compliance/migrations/0006_elicensing_models.py
  bc_obps/compliance/migrations/0007_obligation_invoice_fkey.py
  bc_obps/compliance/models/elicensing_adjustment.py
  bc_obps/compliance/models/elicensing_client_operator.py
  bc_obps/compliance/models/elicensing_line_item.py
Due: mypy

test: update operator elicensing service test
  bc_obps/compliance/tests/service/elicensing/test_operator_elicensing_service.py
Due: mypy

chore: add a service to refresh elicensing data by invoice
  bc_obps/compliance/service/elicensing/elicensing_api_client.py
  bc_obps/compliance/service/elicensing/elicensing_data_refresh_service.py
Due: mypy

chore: remove adjustment guid
  bc_obps/compliance/migrations/0006_elicensing_models.py
  bc_obps/compliance/models/elicensing_adjustment.py
Due: mypy

chore: update obligation_elicensing_service to use new refresh function
  bc_obps/compliance/service/elicensing/elicensing_api_client.py
  bc_obps/compliance/service/elicensing/obligation_elicensing_service.py
Due: mypy

test: add test for refresh service
  bc_obps/compliance/tests/models/test_elicensing_adjustment.py
  bc_obps/compliance/tests/service/elicensing/test_elicensing_data_refresh_service.py
Due: mypy

chore: data formatting in refresh service
  bc_obps/compliance/service/elicensing/elicensing_data_refresh_service.py
Due: mypy

test: update obligation_elicensing_service tests
  bc_obps/compliance/tests/service/elicensing/test_obligation_elicensing_service.py
Due: mypy

test: update refresh test
  bc_obps/compliance/tests/service/elicensing/test_elicensing_data_refresh_service.py
Due: mypy

chore: tweak schema to match API response
  bc_obps/compliance/service/elicensing/obligation_elicensing_service.py
  bc_obps/compliance/service/elicensing/schema.py
Due: mypy

chore: use refresh wrapper to return payments to manage obligation page
  bc_obps/compliance/api/_compliance_report_versions/_compliance_report_version_id/payments.py
  bc_obps/compliance/schema/payments.py
  bc_obps/compliance/service/compliance_dashboard_service.py
  bc_obps/compliance/service/elicensing/elicensing_data_refresh_service.py
Due: mypy

chore: remove dashboard_payments API route, service & test
  bc_obps/compliance/api/__init__.py
  bc_obps/compliance/api/payments.py
  bc_obps/compliance/service/compliance_dashboard_service.py
Due: mypy

chore: move payments api route to match design structure
  bc_obps/compliance/api/__init__.py
  bc_obps/compliance/api/_compliance_report_versions/_compliance_report_version_id/_obligation/payments.py
  bc_obps/compliance/schema/payments.py
  bc_obps/compliance/service/elicensing/elicensing_data_refresh_service.py
Due: mypy

chore: prepare frontend to remove hardcoding
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/review-compliance-summary/ComplianceSummaryReviewPage.tsx
  bciers/apps/compliance/src/app/utils/getComplianceSummaryPayments.ts
Due: eslint

docs: add refresh on request documentation for compliance & elicensing data
  docs/compliance/refresh_elicensing_data.md
Due: none

test: update some broken tests
  bc_obps/common/tests/endpoints/auth/constants.py
  bc_obps/compliance/tests/api/_compliance_report_versions/_compliance_report_version_id/test_payments.py
  bc_obps/compliance/tests/models/test_elicensing_invoice.py
Due: mypy

chore: add helm chart to deploy db and restore backup
  helm/migration-test/cas-obps-postgres-migration-test/.helmignore
  helm/migration-test/cas-obps-postgres-migration-test/Chart.yaml
  helm/migration-test/cas-obps-postgres-migration-test/templates/_helpers.tpl
  helm/migration-test/cas-obps-postgres-migration-test/templates/gcs-secret.yaml
  helm/migration-test/cas-obps-postgres-migration-test/templates/pgbackrest-config.yaml
  helm/migration-test/cas-obps-postgres-migration-test/templates/postgres-cluster.yaml
  helm/migration-test/cas-obps-postgres-migration-test/values.yaml
Due: none

chore: add job to check if DB has been restored
  helm/migration-test/cas-obps-postgres-migration-test/templates/cronjob.yaml
  helm/migration-test/cas-obps-postgres-migration-test/templates/networkPolicy.yaml
Due: none

Path conditions:
  eslint: any of: \.(j|t)sx?$
  mypy: any of: \.py$
