Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy

eslint:
  name: ESLint
  language: system
  entry: ./.bin/pre-commit-lint.sh

mypy:
  name: Mypy
  language: system
  entry: ./.bin/pre-commit-mypy.sh

chore: electricity transmission json schemas
  bc_obps/reporting/json_schemas/2024/electricity_transmission/activity.json
  bc_obps/reporting/json_schemas/2024/electricity_transmission/installation_maint_operation_electrical_equipment.json
Due: none

chore: electricity transmission uischema
  bciers/apps/reporting/src/app/components/activities/uiSchemas/electricityTransmissionUiSchema.ts
  bciers/apps/reporting/src/app/components/activities/uiSchemas/schemaMaps.tsx
Due: eslint

test: update gas type test
  bc_obps/reporting/tests/models/test_gas_type.py
Due: mypy

chore: remove unnecessary sourceTypes box in uiSchema
  bciers/apps/reporting/src/app/components/activities/uiSchemas/electricityTransmissionUiSchema.ts
Due: eslint

chore: add run-forever logic to document status checker
  bc_obps/registration/management/commands/check_document_file_status.py
Due: mypy

chore: ensure migrations complete before starting document scanner
  bc_obps/registration/management/commands/check_document_file_status.py
Due: mypy

chore: update final review note
  bciers/apps/reporting/src/app/components/finalReview/FinalReviewForm.tsx
  bciers/apps/reporting/src/tests/components/finalReview/FinalReviewForm.test.tsx
Due: eslint

fix: triggers on more operations for report_versions
  bc_obps/reporting/migrations/0108_remove_facilityreport_immutable_report_version_and_more.py
  bc_obps/reporting/models/report_version.py
  bc_obps/reporting/models/triggers.py
Due: mypy

test: pytests for report_version triggers
  bc_obps/reporting/models/triggers.py
  bc_obps/reporting/tests/models/test_report_version.py
  bc_obps/reporting/tests/models/test_triggers.py
Due: mypy

chore: update migrations after rebase
  bc_obps/reporting/migrations/0108_remove_facilityreport_immutable_report_version_and_more.py
  bc_obps/reporting/migrations/0109_remove_facilityreport_immutable_report_version_and_more.py
Due: mypy

chore: trigger doesn't rely on the id of the record anymore
  bc_obps/reporting/migrations/0109_remove_facilityreport_immutable_report_version_and_more.py
  bc_obps/reporting/models/triggers.py
  bc_obps/reporting/tests/models/test_triggers.py
  bc_obps/reporting/tests/utils/immutable_report_version.py
Due: mypy

test: fixing delete case for one-to-one relationships
  bc_obps/reporting/tests/utils/immutable_report_version.py
Due: mypy

test: report history failing test
  bc_obps/reporting/tests/api/test_report_history_endpoint.py
Due: mypy

test: fix the test_clone... pytests
  bc_obps/reporting/tests/service/test_report_supplementary_version_service.py
Due: mypy

test: fix report_attachment_internal_endpoint test
  bc_obps/reporting/tests/api/test_report_attachment_internal_endpoint.py
Due: mypy

chore: migration
  bc_obps/reporting/migrations/0109_remove_facilityreport_immutable_report_version_and_more.py
  bc_obps/reporting/migrations/0110_remove_facilityreport_immutable_report_version_and_more.py
Due: mypy

chore: replace cronjob template with deployment for doc status check
  helm/cas-bciers/templates/backend/check-file-status-deployment.yaml
  helm/cas-bciers/templates/cronJobs/check-file-status-pvc.yaml
  helm/cas-bciers/templates/cronJobs/check-file-status.yaml
Due: none

chore: release v3.5.0
  CHANGELOG.md
  bc_obps/common/migrations/0059_V3_5_0.py
  bc_obps/registration/migrations/0118_V3_5_0.py
  bc_obps/reporting/migrations/0111_V3_5_0.py
  bc_obps/rls/migrations/0013_V3_5_0.py
  package.json
Due: mypy

refactor: replace Paper in AlertNote for improved styling
  bciers/libs/components/src/form/components/AlertNote.tsx
Due: eslint

refactor: replace Paper in AlertNote for improved styling
  bciers/apps/compliance/src/app/components/compliance-summaries/ComplianceSummariesPage.tsx
Due: eslint

test: add unit tests for ComplianceNavigationPage component
  bciers/apps/compliance/src/tests/components/compliance-navigation/ComplianceNavigationPage.test.tsx
Due: eslint

test: add unit tests for ComplianceSummariesPage component
  bciers/apps/compliance/src/tests/components/compliance-summaries/ComplianceSummariesPage.test.tsx
Due: eslint

refactor: remove unused taskListElements prop from ComplianceUnitsApplyComponent
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/apply-compliance-units/ComplianceUnitsApplyComponent.tsx
Due: eslint

refactor: simplify ComplianceStepButtons component by removing unused props and updating styles
  bciers/apps/compliance/src/app/components/ComplianceStepButtons.tsx
Due: eslint

refactor: remove hardcoded operationName from compliance units data
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/apply-compliance-units/ComplianceUnitsApplyPage.tsx
Due: eslint

refactor: update PaymentInstructionsDownloadPage and ObligationTrackPaymentsPayPage to use paragraph tags for better formatting
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/download-payment-instructions/PaymentInstructionsDownloadPage.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/pay-obligation-track-payments/ObligationTrackPaymentsPayPage.tsx
Due: eslint

refactor: rename compliance_status column to status
  bciers/apps/compliance/src/app/components/datagrid/models/compliance-summaries/complianceSummaryGroupColumns.tsx
Due: eslint

Path conditions:
  eslint: any of: \.(j|t)sx?$
  mypy: any of: \.py$
