Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, pylint

.pre-commit-config.yaml:

# exclude: >
#   (?x)^(
#       test\.tsx\.snap$
#   )$
# repos:
#   - repo: local
#     hooks:
#       - id: prettier
#         name: Prettier
#         language: script
#         entry: ./.bin/pre-commit-format.sh
#         stages: [commit]
#   - repo: local
#     hooks:
#       - id: eslint
#         name: ESLint
#         language: system
#         files: \.(j|t)sx?$
#         entry: ./.bin/pre-commit-lint.sh
#   - repo: https://github.com/pre-commit/pre-commit-hooks
#     rev: v2.3.0
#     hooks:
#       - id: check-added-large-files
#       - id: check-case-conflict
#       - id: check-executables-have-shebangs
#       - id: check-json
#       - id: check-vcs-permalinks
#       - id: check-yaml
#         exclude: (^chart/.*/templates/|^database_backup_test/.*/templates/)
#       - id: end-of-file-fixer
#         exclude: current_version\.txt
#       - id: trailing-whitespace
#         exclude: .*/__snapshots__/.*|app/schema/.*

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3 # Use the sha or tag you want to point at
    hooks:
      - id: prettier
  # - repo: local
  #     hooks:
  #       - id: prettier
  #         name: Prettier
  #         language: script
  #         entry: ./.bin/pre-commit-format.sh
  #         stages: [commit]
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        language: system
        files: \.(j|t)sx?$
        entry: ./.bin/pre-commit-lint.sh

  # - repo: https://github.com/pre-commit/mirrors-eslint
  #   rev: v8.48.0 # Use the sha / tag you want to point at
  #   hooks:
  #     - id: eslint

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: debug-statements
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        # entry: ./.bin/pre-commit-pylint.sh
        language: system
        types: [python]
        require_serial: true
        args: ["--source-roots=./bc_obps", "--recursive=y"]

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        name: isort (python)

  - repo: https://github.com/python-poetry/poetry
    rev: 1.6.1
    hooks:
      - id: poetry-check
        args: ["-C", "./bc_obps"]
      - id: poetry-lock
        args: ["-C", "./bc_obps"]

  - repo: https://github.com/PyCQA/bandit
    rev: "1.7.5"
    hooks:
      - id: bandit
        args: ["-r", "."]

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.2.5
    hooks:
      - id: gitleaks

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.17.0
    hooks:
      - id: gitlint

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v8.0.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]

chore: debug backend test CI issue
  .github/workflows/test.yaml
Due: none

chore: remove commented out test
  .github/workflows/test.yaml
Due: none

chore: add error to the the context of http response
  bc_obps/registration/api.py
Due: pylint

chore: remove redundant code
  bc_obps/bc_obps/api.py
  bc_obps/registration/api.py
Due: pylint

chore: bring back print statement
  bc_obps/bc_obps/api.py
Due: pylint

chore: debug e2e test CI issue
  .github/workflows/test.yaml
  bc_obps/bc_obps/settings.py
Due: pylint

chore: debug backend/e2e test CI issues
  .github/actions/local-app-run/action.yml
  .github/workflows/test.yaml
  bc_obps/bc_obps/settings.py
Due: pylint

chore: remove verbosity from pytest command
  .github/workflows/test.yaml
Due: none

chore: move pytest-cov to dev dependencies
  bc_obps/poetry.lock
  bc_obps/pyproject.toml
Due: none

✨ Formik multistep form
  client/app/(onboarding)/signin/internal/page.tsx
  client/app/components/form/Stepper.tsx
  client/app/components/form/fields/Input.tsx
  client/app/components/navigation/Login.tsx
  client/jest.config.mjs
  client/middlewares/withAuthorization.tsx
  client/package.json
  client/yarn.lock
  package.json
  yarn.lock
Due: eslint

feat: bump nextjs version and dependencies
  client/package.json
  client/yarn.lock
Due: none

chore: remove experimental prefixes
  client/app/components/form/SubmitButton.tsx
  client/next.config.js
Due: eslint

chore: bump nodejs version to work with nextjs version
  client/.tool-versions
Due: none

chore: separate viewport and metadata objects
  client/app/layout.tsx
Due: eslint

chore: chore: debug e2e CI
  .github/workflows/test.yaml
  client/app/components/routes/operations/form/Operation.tsx
  client/e2e/operations.spec.ts
Due: eslint

chore: debug e2e CI
  .github/workflows/test.yaml
Due: none

chore: chore: debug e2e CI
  client/app/components/routes/operations/form/Operation.tsx
  client/app/utils/api.ts
Due: eslint

chore: chore: debug e2e CI
  .github/workflows/test.yaml
Due: none

chore: chore: debug e2e CI
  client/e2e/operations.spec.ts
Due: eslint

troubleshoot access to process.env in api.js
  client/next.config.js
Due: eslint

revert for v14
  client/next.config.js
Due: eslint

chore: remove debugging related codes
  .github/workflows/test.yaml
  client/app/utils/api.ts
Due: eslint

chore: debug e2e
  .github/actions/local-app-run/action.yml
  client/.env.example
Due: none

Chore: Updated list of needs for backend-tests action
  .github/workflows/test.yaml
Due: none

chore: init helm chart
  helm/cas-registration/.helmignore
  helm/cas-registration/Chart.yaml
  helm/cas-registration/templates/NOTES.txt
  helm/cas-registration/templates/_helpers.tpl
  helm/cas-registration/templates/deployment.yaml
  helm/cas-registration/templates/hpa.yaml
  helm/cas-registration/templates/ingress.yaml
  helm/cas-registration/templates/service.yaml
  helm/cas-registration/templates/serviceaccount.yaml
  helm/cas-registration/templates/tests/test-connection.yaml
  helm/cas-registration/values.yaml
Due: none

chore: add backend templates
  helm/cas-registration/templates/backend/deployment.yaml
  helm/cas-registration/templates/backend/hpa.yaml
  helm/cas-registration/templates/backend/job/load-dev-data.yaml
  helm/cas-registration/templates/backend/route.yaml
  helm/cas-registration/templates/backend/secret.yaml
  helm/cas-registration/templates/backend/service.yaml
Due: none

chore: add postgres templates
  helm/cas-registration/templates/postgres/NetworkPolicy.yaml
  helm/cas-registration/templates/postgres/PostgresCluster.yaml
  helm/cas-registration/templates/postgres/pgbackrest-config.yaml
Due: none

chore: add common templates, update makefile & add shipit.yml
  Makefile
  helm/cas-registration/templates/NOTES.txt
  helm/cas-registration/templates/NetworkPolicy/backend-allow-from-openshift-ingress.yaml
  helm/cas-registration/templates/NetworkPolicy/intraRelease.yaml
  helm/cas-registration/templates/_helpers.tpl
  helm/cas-registration/templates/deployment.yaml
  helm/cas-registration/templates/hpa.yaml
  helm/cas-registration/templates/ingress.yaml
  helm/cas-registration/templates/service.yaml
  helm/cas-registration/templates/serviceaccount.yaml
  helm/cas-registration/templates/tests/test-connection.yaml
  helm/cas-registration/values-dev.yaml
  helm/cas-registration/values-prod.yaml
  helm/cas-registration/values-test.yaml
  helm/cas-registration/values.yaml
  shipit.yml
Due: none
