Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy

eslint:
  name: ESLint
  language: system
  entry: ./.bin/pre-commit-lint.sh

mypy:
  name: Mypy
  language: system
  entry: ./.bin/pre-commit-mypy.sh

chore: make timestamps uniform
  bciers/apps/reporting/src/app/components/signOff/Success.tsx
Due: eslint

docs: documentation on the steps to apply a hotfix
  docs/devops/hotfix.md
Due: none

feat: add validation for report activity data before saving
  bc_obps/reporting/service/report_activity_save_service.py
  bc_obps/reporting/service/report_activity_validation_service.py
  bc_obps/reporting/tests/service/test_report_activity_validation_service.py
Due: mypy

chore: change error message
  bc_obps/reporting/service/report_activity_save_service.py
Due: mypy

feat: supplementary report version
  bc_obps/reporting/api/__init__.py
  bc_obps/reporting/api/report_version.py
  bc_obps/reporting/api/reports.py
Due: mypy

chore: add filtering to operations api
  bc_obps/reporting/api/operations.py
  bc_obps/reporting/api/report_version.py
  bc_obps/reporting/schema/operation.py
  bc_obps/reporting/service/reporting_dashboard_service.py
  bc_obps/reporting/tests/service/test_reporting_dashboard_service.py
  bciers/apps/reporting/src/app/bceidbusiness/industry_user/reports/page.tsx
  bciers/apps/reporting/src/app/bceidbusiness/industry_user_admin/reports/page.tsx
  bciers/apps/reporting/src/app/components/datagrid/models/operations/operationColumns.tsx
  bciers/apps/reporting/src/app/components/operations/OperationDataGrid.tsx
  bciers/apps/reporting/src/app/components/operations/Operations.tsx
  bciers/apps/reporting/src/app/components/operations/cells/MoreActions.tsx
  bciers/apps/reporting/src/app/components/operations/cells/MoreActionsCell.tsx
  bciers/apps/reporting/src/app/components/operations/cells/StatusCell.tsx
  bciers/apps/reporting/src/app/utils/postSupplementaryReportVersion.ts
Due: eslint, mypy

chore: supplementary report version api
  bc_obps/common/tests/endpoints/auth/constants.py
  bc_obps/reporting/api/report_version.py
  bc_obps/reporting/service/report_version_service.py
  bc_obps/reporting/tests/api/test_report_version_endpoint.py
  bc_obps/reporting/tests/service/test_report_version_service.py
  bc_obps/service/report_service.py
Due: mypy

chore: supplementary report version service
  bc_obps/common/tests/endpoints/auth/constants.py
  bc_obps/reporting/api/__init__.py
  bc_obps/reporting/api/operations.py
  bc_obps/reporting/api/report_supplementary_version.py
  bc_obps/reporting/api/report_version.py
  bc_obps/reporting/api/reports.py
  bc_obps/reporting/models/report_version.py
  bc_obps/reporting/service/report_submission_service.py
  bc_obps/reporting/service/report_supplementary_version_service.py
  bc_obps/reporting/service/report_version_service.py
  bc_obps/reporting/service/reporting_dashboard_service.py
  bc_obps/reporting/tests/api/test_report_supplementary_version_api.py
  bc_obps/reporting/tests/api/test_report_verification_api.py
  bc_obps/reporting/tests/api/test_report_version_endpoint.py
  bc_obps/reporting/tests/service/test_report_supplementary_version_service.py
  bc_obps/reporting/tests/service/test_reporting_dashboard_service.py
  bc_obps/service/report_service.py
  bc_obps/service/tests/test_report_version_service.py
  bciers/apps/reporting/src/app/components/operations/cells/MoreActionsCell.tsx
  bciers/apps/reporting/src/app/utils/postSupplementaryReportVersion.ts
Due: eslint, mypy

chore: add tests
  bc_obps/reporting/migrations/0075_remove_reportversion_immutable_report_version_and_more.py
  bc_obps/reporting/models/report_version.py
  bc_obps/reporting/service/report_submission_service.py
  bc_obps/reporting/service/report_supplementary_version_service.py
  bc_obps/reporting/tests/api/test_report_supplementary_version_api.py
  bc_obps/reporting/tests/models/test_report_version.py
  bc_obps/reporting/tests/service/test_report_submission_service.py
  bc_obps/reporting/tests/service/test_report_supplementary_version_service.py
Due: mypy

chore: create elicensing client when report is created
  .vscode/launch.json
  bc_obps/bc_obps/api.py
  bc_obps/compliance/enums.py
  bc_obps/compliance/migrations/0004_elicensinglink_and_more.py
  bc_obps/compliance/models/__init__.py
  bc_obps/compliance/models/elicensing_link.py
  bc_obps/compliance/models/rls_configs/elicensing_link.py
  bc_obps/compliance/signals.py
  bc_obps/compliance/tests/test_elicensing_link.py
  bc_obps/registration/api/_user_operators/_current/operator.py
  bc_obps/registration/api/user_operators.py
  bc_obps/registration/migrations/0047_remove_old_activity_records.py
  bc_obps/registration/tests/models/test_user.py
  bc_obps/rls/tests/utils/test_manager.py
  bc_obps/service/compliance_obligation_service.py
  bc_obps/service/elicensing_api_client.py
  bc_obps/service/elicensing_link_service.py
  bc_obps/service/elicensing_service.py
  bc_obps/service/operator_elicensing_service.py
  bc_obps/service/tests/test_compliance_obligation_service.py
  bc_obps/service/tests/test_elicensing_service.py
  bc_obps/service/user_profile_service.py
  bc_obps/tests/service/test_elicensing_api_client.py
  bc_obps/tests/service/test_elicensing_link_service.py
  bc_obps/tests/service/test_operator_elicensing_service.py
  docker-compose.yaml
Due: mypy

test: add backend tests
  bc_obps/common/tests/endpoints/auth/constants.py
  bc_obps/service/tests/test_user_operator_service.py
Due: mypy

chore: update user_operator data model rls
  bc_obps/registration/models/rls_configs/user_operator.py
Due: mypy

feat: add delete user operator endpoint and service method
  bc_obps/registration/api/_user_operators/user_operator_id.py
  bc_obps/service/user_operator_service.py
Due: mypy

refactor: remove unused methods for senior officer verification in user_operator model
  bc_obps/registration/models/user_operator.py
Due: mypy

refactor: update getOperatorConfirmationInfo to return Operator type
  bciers/apps/administration/app/components/operators/getOperatorConfirmationInfo.ts
Due: eslint

refactor: update user operator model to use Operator instead of UserOperator
  bc_obps/registration/api/_user_operators/current.py
Due: mypy

chore: add UserOperator interface
  bciers/apps/administration/app/components/userOperators/types.ts
Due: eslint

test: add frontend tests
  bciers/apps/administration/tests/components/userOperators/CancelAccessRequest.test.tsx
  bciers/apps/administration/tests/components/userOperators/SelectOperatorReceivedPage.test.tsx
  bciers/apps/administration/tests/components/userOperators/constants.ts
  bciers/apps/administration/tests/components/userOperators/mocks.ts
Due: eslint

chore: make pre-commit happy
  bciers/apps/administration/tests/components/userOperators/CancelAccessRequest.test.tsx
Due: eslint

refactor: update getOperatorHasAdmin function to include return type
  bciers/apps/administration/app/components/operators/getOperatorHasAdmin.ts
Due: eslint

refactor: add isValidLink function to filter invalid crumb links
  bciers/libs/components/src/navigation/Bread.tsx
Due: eslint

chore: make pre-commit happy
  bciers/apps/administration/app/components/buttons/CancelAccessRequest.tsx
Due: eslint

chore: add cancel access request functionality and related components
  bciers/apps/administration/app/components/buttons/CancelAccessRequest.tsx
  bciers/apps/administration/app/components/userOperators/SelectOperatorReceivedPage.tsx
  bciers/apps/administration/app/components/userOperators/cancelAccessRequest.ts
  bciers/apps/administration/app/components/userOperators/getCurrentUserOperator.ts
Due: eslint

test: add additional test cases for breadcrumb generation
  bciers/libs/components/src/navigation/Bread.test.tsx
Due: eslint

refactor: update cancel access request logic to handle error conditions correctly
  bciers/apps/administration/app/components/buttons/CancelAccessRequest.tsx
  bciers/apps/administration/tests/components/userOperators/CancelAccessRequest.test.tsx
Due: eslint

chore: add extra check to make sure user access to the operator
  bc_obps/registration/api/_user_operators/_current/has_registered_operation.py
Due: mypy

chore: add method to check user access to operator
  bc_obps/service/data_access_service/user_service.py
Due: mypy

refactor: use optional chaining for links and tiles mapping
  bciers/libs/components/src/navigation/Tile.tsx
  bciers/libs/components/src/navigation/Tiles.tsx
Due: eslint

chore: implement code review suggestion
  bc_obps/service/tests/test_user_operator_service.py
Due: mypy

refactor: use constant for operation status in filter query
  bc_obps/service/data_access_service/operation_service.py
Due: mypy

chore: make pre-commit happy
  bc_obps/registration/api/_user_operators/current.py
  bc_obps/registration/schema/operator.py
  bciers/libs/components/src/navigation/Tile.tsx
  bciers/libs/components/src/navigation/Tiles.tsx
Due: eslint, mypy

chore: remove redundant endpoint
  bc_obps/registration/api/_user_operators/pending.py
Due: mypy

chore: replace pending user-operator endpoint with current
  bc_obps/common/tests/endpoints/auth/constants.py
  bc_obps/registration/api/__init__.py
  bc_obps/registration/api/_user_operators/current.py
  bc_obps/registration/schema/operator.py
  bc_obps/registration/schema/user_operator.py
  bciers/apps/administration/app/components/userOperators/getCurrentUserOperator.ts
  bciers/apps/administration/middlewares/withRulesAppliedAdmin.ts
  bciers/apps/registration/middlewares/withRulesAppliedReg.ts
Due: eslint, mypy

chore: update tests to reflect changes in response structure and remove obsolete test case
  bc_obps/registration/tests/endpoints/_user_operators/test_current.py
  bciers/apps/administration/middlewares/withRulesAppliedAdmin.test.ts
Due: eslint, mypy

chore: fix migration after rebase
  bc_obps/registration/migrations/0095_address_protect_fields_empty_update_and_more.py
Due: mypy

test: enhance contact update tests for address validation scenarios
  bc_obps/registration/tests/endpoints/_contacts/test_contact_id.py
  bc_obps/service/tests/test_contact_service.py
Due: mypy

chore: add validation for address fields when updating Operation Representatives
  bc_obps/service/contact_service.py
Due: mypy

chore: add triggers to prevent NULL address updates for Operation Representatives
  bc_obps/registration/migrations/0095_address_protect_fields_empty_update_and_more.py
  bc_obps/registration/models/address.py
  bc_obps/registration/models/contact.py
  bc_obps/registration/tests/models/test_address.py
  bc_obps/registration/tests/models/test_contact.py
Due: mypy

chore: fix conditional check for cancel access request response
  bciers/apps/administration/app/components/buttons/CancelAccessRequest.tsx
Due: eslint

Path conditions:
  eslint: any of: \.(j|t)sx?$
  mypy: any of: \.py$
