Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, pylint

eslint:
  name: ESLint
  language: system
  entry: ./.bin/pre-commit-lint.sh

pylint:
  name: pylint
  entry: bash -c "cd bc_obps && poetry run pylint --rcfile=.pylintrc *.py"
  language: system
  require_serial: true

fix: assign verrified_by by ID rather than object
  bc_obps/registration/api/user_operator.py
Due: pylint

fix: test failing due to api change
  bc_obps/registration/tests/test_02_endpoints.py
Due: pylint

refactor: change hardcoded strings to use enum
  client/app/(authenticated)/bceidbusiness/industry_user_admin/dashboard/users/page.tsx
  client/app/components/datagrid/ChangeUserOperatorStatusColumnCell.tsx
  client/app/components/datagrid/userPageHelpers.tsx
  client/app/types/types.ts
Due: eslint

refactor: update to accomodate changes due to rebase
  bc_obps/registration/api/user_operator.py
  client/app/(authenticated)/bceidbusiness/industry_user_admin/dashboard/users/page.tsx
  client/app/utils/actions.ts
Due: eslint, pylint

fix: update interface for DataGrid where context isn't required
  client/app/(authenticated)/bceidbusiness/industry_user_admin/dashboard/users/page.tsx
  client/app/components/datagrid/DataGrid.tsx
Due: eslint

fix: remove redundant breaks
  client/app/(authenticated)/bceidbusiness/industry_user_admin/dashboard/users/page.tsx
Due: eslint

fix: remove redundant function and use getToken()
  client/app/(authenticated)/bceidbusiness/industry_user_admin/dashboard/users/page.tsx
  client/app/utils/actions.ts
Due: eslint

refactor: dry code per @shon-button's recommendations
  client/app/(authenticated)/bceidbusiness/industry_user_admin/dashboard/users/page.tsx
  client/app/utils/users/adminUserOperators.ts
Due: eslint

chore: spec work
  client/app/components/form/UserOperatorForm.tsx
  client/app/components/form/UserOperatorMultiStepForm.tsx
  client/app/components/routes/select-operator/form/UserOperator.tsx
Due: eslint

fix: change string to enum in test
  bc_obps/registration/tests/test_02_endpoints.py
Due: pylint

chore: create helper function for transforming error messages
  client/app/utils/customTransformErrors.ts
Due: eslint

chore: add custom error messages
  client/app/components/form/FormBase.tsx
Due: eslint

chore: enforce postal code formatting in operations json schema
  client/app/utils/jsonSchema/operations.ts
Due: eslint

chore: apply suggestions from code review
  client/app/components/form/FormBase.tsx
  client/app/utils/customTransformErrors.ts
Due: eslint

chore: add schema directory to coverage ignore list
  bc_obps/.coveragerc
Due: none

test: add tax_exemption_id field and validation tests
  bc_obps/registration/tests/test_01_models.py
  bc_obps/registration/tests/test_02_endpoints.py
Due: pylint

chore: generate tax exemption id on operation status update
  bc_obps/registration/api/operation.py
  bc_obps/registration/schema/operation.py
Due: pylint

chore: add migration file
  bc_obps/registration/migrations/0003_historicaloperation_tax_exemption_id_and_more.py
Due: pylint

chore: add history tracking for `MultipleOperator` model
  bc_obps/registration/models.py
Due: pylint

feat: add tax exemption id field and generator
  bc_obps/registration/models.py
Due: pylint

chore: fix migration file
  bc_obps/registration/migrations/0002_historicaloperation_tax_exemption_id_and_more.py
Due: pylint

chore: update migration file
  bc_obps/registration/migrations/0001_initial.py
  bc_obps/registration/migrations/0002_historicaloperation_tax_exemption_id_and_more.py
Due: pylint

refactor: refactor `OperationReview` component
  client/app/components/routes/operations/form/OperationReview.tsx
Due: eslint

chore: add exemption `ID` and registration rejection status
  client/app/components/routes/operations/form/Operation.tsx
Due: eslint

chore: fix extra space issue in `Review` button component
  client/app/components/button/Review.tsx
Due: eslint

fix: code review updates
  bc_obps/registration/models.py
  bc_obps/registration/tests/test_02_endpoints.py
Due: pylint

chore: comments and notes on blocked work
  client/app/components/form/UserOperatorMultiStepForm.tsx
  client/app/components/routes/select-operator/form/UserOperator.tsx
Due: eslint

fix: enums architecture
  bc_obps/registration/api/user.py
  bc_obps/registration/enums/enums.py
  bc_obps/registration/models.py
  bc_obps/registration/tests/test_02_endpoints.py
Due: pylint

😍 chore: pretty happy
  bc_obps/registration/api/user.py
  bc_obps/registration/enums/enums.py
  bc_obps/registration/models.py
  bc_obps/registration/tests/test_02_endpoints.py
Due: pylint

Path conditions:
  eslint: any of: \.(j|t)sx?$
  pylint: any of: \.py$
