Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3 # Use the sha or tag you want to point at
    hooks:
      - id: prettier
        name: Prettier
        stages: [commit]
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        language: system
        files: \.(j|t)sx?$
        entry: ./.bin/pre-commit-lint.sh

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-vcs-permalinks
      - id: check-yaml
        exclude: (^helm/.*/templates/)
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: debug-statements
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: bash -c "cd bc_obps && poetry run pylint --rcfile=.pylintrc *.py"
        language: system
        types: [python]
        require_serial: true

  - repo: https://github.com/python-poetry/poetry
    rev: 1.6.1
    hooks:
      - id: poetry-check
        args: ["-C", "./bc_obps"]
      - id: poetry-lock
        args: ["-C", "./bc_obps", "--check"] # --check to ensure lock file is up to date without updating it

  - repo: https://github.com/PyCQA/bandit
    rev: "1.7.5"
    hooks:
      - id: bandit
        args: ["-c", "bc_obps/bandit.yaml"]

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.2.5
    hooks:
      - id: gitleaks

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v8.0.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]

chore: tweak error handling
  bc_obps/registration/api/operator.py
Due: pylint

chore: fix user_guid reference
  bc_obps/registration/utils.py
Due: pylint

chore: add correct typing instead of any
  client/app/components/form/ConfirmSelectedOperatorForm.tsx
Due: eslint

test: tests for retrieving operators by cra number
  bc_obps/registration/tests/test_endpoints.py
Due: pylint

chore: fix `user_operator.py` imports and optimize code
  bc_obps/registration/api/user_operator.py
Due: pylint

chore: add check for user's eligibility to request access
  bc_obps/registration/api/operator.py
Due: pylint

chore: update senior officer design and wording
  client/app/utils/jsonSchema/userOperator.ts
Due: eslint

test: fix existing tests
  bc_obps/registration/tests/test_endpoints.py
Due: pylint

chore: fix business structure issue
  bc_obps/registration/schema/multiple_operator.py
  bc_obps/registration/schema/operation.py
Due: pylint

feat: New User Form & Endpoints
  bc_obps/registration/api/user.py
  bc_obps/registration/schema/user.py
  bc_obps/registration/tests/test_endpoints.py
  client/app/(authenticated)/dashboard/profile/page.tsx
  client/app/api/auth/[...nextauth]/route.ts
  client/app/api/auth/token/route.ts
  client/app/components/form/formDataTypes.ts
  client/app/components/loading/SkeletonSpinner.tsx
  client/app/components/navigation/Profile.tsx
  client/app/components/routes/profile/User.tsx
  client/app/components/routes/profile/form/UserForm.tsx
  client/app/loading.tsx
  client/app/utils/actions.ts
  client/app/utils/jsonSchema/user.ts
  client/e2e/.env.local.example
  client/e2e/auth/auth-setup.ts
  client/e2e/auth/authentication.spec.ts
  client/middlewares/withAuthorization.tsx
Due: eslint, pylint

chore: FE build
  client/app/components/form/SubmitButton.tsx
Due: eslint

chore: update after rebase
  client/app/components/form/SubmitButton.tsx
Due: eslint

chore: make prettier happy
  bc_obps/registration/tests/test_endpoints.py
Due: pylint

feat: style multiple operators form section
  client/app/utils/jsonSchema/operations.ts
Due: eslint

feat: add multiple operators schema
  client/app/utils/jsonSchema/operations.ts
Due: eslint

refactor: update array field template for new add design
  client/app/components/form/defaultTheme.ts
  client/app/styles/rjsf/ArrayFieldTemplate.tsx
Due: eslint

feat: save multiple operators array data
  bc_obps/registration/api/operation.py
  bc_obps/registration/models.py
  bc_obps/registration/schema.py
  client/app/utils/jsonSchema/operations.ts
Due: eslint, pylint

Chore: Template for new Django model and schema
  bc_obps/registration/models.py
  bc_obps/registration/schema.py
Due: pylint

feat: add multiple_operator model and schema
  bc_obps/registration/models.py
  bc_obps/registration/schema.py
Due: pylint

fix: percentage ownership column max
  bc_obps/registration/migrations/0001_initial.py
  bc_obps/registration/models.py
Due: pylint

feat: add operations form business type widget
  client/app/utils/jsonSchema/operations.ts
Due: eslint

refactor: move save multiple operators api code to reusable function
  bc_obps/registration/api/operation.py
Due: pylint

feat: add required fields to multiple operators form
  client/app/styles/rjsf/ArrayFieldTemplate.tsx
  client/app/utils/jsonSchema/operations.ts
Due: eslint
