Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, mypy

prettier:
  name: Prettier
  language: system
  entry: ./.bin/pre-commit-format.sh

eslint:
  name: ESLint
  language: system
  entry: ./.bin/pre-commit-lint.sh

mypy:
  name: Mypy
  language: system
  entry: ./.bin/pre-commit-mypy.sh

test(e2e): add Happo screenshots to SFO e2e test
  bciers/apps/reporting-e2e/tests/workflows/SFO/submit-report.spec.ts
Due: prettier, eslint

chore: refactor allocation of emissions
  bciers/apps/reporting-e2e/poms/allocation-of-emissions.ts
  bciers/apps/reporting-e2e/poms/facility-report.ts
Due: prettier, eslint

chore: revert the change in CheckboxWidgetLeft
  bciers/libs/components/src/form/widgets/CheckboxWidgetLeft.tsx
Due: prettier, eslint

chore: lfo until operation summary
  bciers/apps/reporting-e2e/poms/LFO/facility-grid.ts
  bciers/apps/reporting-e2e/poms/LFO/operation-emissions-summary.ts
  bciers/apps/reporting-e2e/poms/facility-report.ts
  bciers/apps/reporting-e2e/tests/workflows/LFO/submit-report.spec.ts
  bciers/apps/reporting-e2e/utils/constants.ts
Due: prettier, eslint

chore: updating a few things after rebase
  bciers/apps/reporting-e2e/poms/facility-report.ts
  bciers/apps/reporting-e2e/tests/workflows/LFO/submit-report.spec.ts
  bciers/libs/e2e/src/utils/helpers.ts
Due: prettier, eslint

test: happo screenshots
  bciers/apps/reporting-e2e/tests/workflows/LFO/submit-report.spec.ts
Due: prettier, eslint

chore: operation name
  bciers/apps/reporting-e2e/tests/workflows/LFO/submit-report.spec.ts
Due: prettier, eslint

chore: add missing await
  bciers/apps/reporting-e2e/tests/workflows/LFO/submit-report.spec.ts
Due: prettier, eslint

chore: correct description for LFO
  bciers/apps/reporting-e2e/tests/workflows/LFO/submit-report.spec.ts
Due: prettier, eslint

test(e2e): update reporting landing page test to include current reports path
  bciers/apps/reporting-e2e/tests/landing-page.spec.ts
Due: prettier, eslint

chore(e2e): introduce constant for Cement Equivalent input selector
  bciers/apps/reporting-e2e/poms/allocation-of-emissions.ts
Due: prettier, eslint

test(e2e): enhance stability in LFO before taking happo screenshots
  bciers/apps/reporting-e2e/tests/workflows/LFO/submit-report.spec.ts
Due: prettier, eslint

test(e2e): add allocation alerts verification to SFO report flow
  bciers/apps/reporting-e2e/poms/facility-report.ts
  bciers/apps/reporting-e2e/tests/workflows/SFO/submit-report.spec.ts
Due: prettier, eslint

chore(e2e): fix sonarqube issues
  bciers/apps/reporting-e2e/poms/LFO/facility-grid.ts
Due: prettier, eslint

test: excluding duplication from e2e tests
  .sonarcloud.properties
Due: none

chore: make sonarqube happy by using the nullish coalescing
  bciers/apps/reporting-e2e/poms/LFO/facility-grid.ts
Due: prettier, eslint

chore: improve capture emissions validation logic
  bc_obps/reporting/service/report_validation/validators/required_fields/required_fields_report_additional_data.py
  bciers/apps/reporting-e2e/tests/workflows/SFO/submit-report.spec.ts
Due: prettier, eslint, mypy

test(e2e): add report validation step to LFO and SFO workflows
  bciers/apps/reporting-e2e/poms/current-report.ts
  bciers/apps/reporting-e2e/poms/report-validation.ts
  bciers/apps/reporting-e2e/tests/workflows/LFO/submit-report.spec.ts
  bciers/apps/reporting-e2e/tests/workflows/SFO/submit-report.spec.ts
  bciers/apps/reporting-e2e/utils/helpers.ts
Due: prettier, eslint

test: update error assertion for emissions capture validation
  bc_obps/reporting/tests/service/report_validation/validators/required_fields/test_required_fields_report_additional_data.py
Due: mypy

test: fixing lfo grid
  bc_obps/registration/fixtures/mock/operation.json
  bciers/apps/reporting-e2e/poms/LFO/facility-grid.ts
Due: prettier, eslint

chore: make precommit happy
  bc_obps/reporting/tests/service/report_validation/validators/required_fields/test_required_fields_report_additional_data.py
Due: mypy

chore: testing refactor of factility grid button
  bciers/apps/reporting-e2e/poms/LFO/facility-grid.ts
  bciers/apps/reporting/src/app/components/datagrid/models/facilities/getFacilityColumns.tsx
Due: prettier, eslint

chore: missing dependency in callback:
  bciers/apps/reporting/src/app/components/reportInformation/facilities/FacilitiesDataGrid.tsx
Due: prettier, eslint

chore: link
  bciers/apps/reporting-e2e/poms/LFO/facility-grid.ts
Due: prettier, eslint

chore: trying not to await the dom loaded event
  bciers/apps/reporting-e2e/poms/current-reports.ts
Due: prettier, eslint

chore: testing load event
  bciers/apps/reporting-e2e/poms/current-reports.ts
  bciers/libs/e2e/src/utils/helpers.ts
Due: prettier, eslint

chore: more trying
  bciers/apps/reporting-e2e/poms/current-reports.ts
  bciers/apps/reporting-e2e/tests/workflows/LFO/submit-report.spec.ts
  bciers/libs/e2e/src/utils/helpers.ts
Due: prettier, eslint

test(e2e): add form title verification to LFO workflow steps to enhance validation
  bciers/apps/reporting-e2e/poms/LFO/facility-grid.ts
  bciers/apps/reporting-e2e/poms/current-reports.ts
  bciers/apps/reporting-e2e/tests/workflows/LFO/submit-report.spec.ts
Due: prettier, eslint

test(e2e): refactor form title verification in LFO facility grid flow
  bciers/apps/reporting-e2e/poms/LFO/facility-grid.ts
Due: prettier, eslint

fix: remove unevaluated methodology fields in activity raw fixture + re-enable report_validation for e2e tests
  bc_obps/reporting/fixtures/mock/report_raw_activity_data.json
  bc_obps/reporting/service/report_validation/validators/report_activity_json_validation.py
Due: prettier, mypy

chore: fix ReportValidationError positional argument by adding new enum for report_activity_json_validation
  bc_obps/reporting/service/report_validation/report_validation_error.py
  bc_obps/reporting/service/report_validation/validators/report_activity_json_validation.py
Due: mypy

chore: remove fuelunit from test report activity data to match validator
  bc_obps/reporting/fixtures/mock/report_raw_activity_data.json
  bc_obps/reporting/tests/service/report_validation/validators/test_report_activity_json_validator.py
Due: prettier, mypy

refactor: use compliance test helper in compliance testSendNotifications
  bc_obps/compliance/tests/test_emails.py
Due: mypy

feat: add reporting pages to cas-view-only role
  bciers/apps/reporting/src/app/idir/cas_view_only/reports/[version_id]/annual-report/facility/[facility_id]/page.tsx
  bciers/apps/reporting/src/app/idir/cas_view_only/reports/[version_id]/annual-report/page.tsx
  bciers/apps/reporting/src/app/idir/cas_view_only/reports/[version_id]/page.tsx
  bciers/apps/reporting/src/app/idir/cas_view_only/reports/[version_id]/submitted/facility/[facility_id]/page.tsx
  bciers/apps/reporting/src/app/idir/cas_view_only/reports/[version_id]/submitted/page.tsx
  bciers/apps/reporting/src/app/idir/cas_view_only/reports/attachments/page.tsx
  bciers/apps/reporting/src/app/idir/cas_view_only/reports/current-reports/page.tsx
  bciers/apps/reporting/src/app/idir/cas_view_only/reports/previous-years/page.tsx
  bciers/apps/reporting/src/app/idir/cas_view_only/reports/report-history/[report_id]/page.tsx
Due: prettier, eslint

chore: update lock file
  bciers/yarn.lock
Due: none

chore: run yarn dedupe
  bciers/yarn.lock
Due: none

chore: make pre-commit happy
  bciers/apps/administration/app/components/userOperators/types.ts
  bciers/apps/administration/app/components/users/types.ts
  bciers/apps/administration/tests/components/facilities/FacilitiesPage.test.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/internal/review-credits-issuance-request/InternalReviewCreditsIssuanceRequestComponent.tsx
  bciers/apps/compliance/src/app/types.ts
  bciers/apps/registration/app/components/operations/registration/NewLfoFacilityForm.tsx
  bciers/apps/registration/app/components/operations/registration/NewOperationRepresentativeForm.tsx
  bciers/libs/components/src/form/NavigationForm.tsx
  bciers/libs/testConfig/src/global.tsx
Due: prettier, eslint

chore: upgrade @playwright/test to 1.59.1 and update related workflows
  .github/workflows/test-nx-project-e2e.yaml
  bciers/package.json
  bciers/yarn.lock
Due: prettier

chore: fix duplicate key issue in MultiSelectWidgetWithTooltip
  bciers/libs/components/src/form/widgets/MultiSelectWidgetWithTooltip.tsx
Due: prettier, eslint

refactor: Move data-fetching logic to server components and replace hardcoded origin strings with `ReportingOrigin` enum
  bciers/apps/reporting/src/app/components/annualReport/AnnualReportPage.tsx
  bciers/apps/reporting/src/app/components/attachments/AttachmentsForm.tsx
  bciers/apps/reporting/src/app/components/finalReview/FacilityReportFinalReview.tsx
  bciers/apps/reporting/src/app/components/finalReview/FinalReviewFacilityGrid.tsx
  bciers/apps/reporting/src/app/components/finalReview/FinalReviewForm.tsx
  bciers/apps/reporting/src/app/components/finalReview/templates/FinalReviewReportSections.tsx
  bciers/apps/reporting/src/app/components/submitted/ReportForm.tsx
  bciers/apps/reporting/src/app/components/submitted/SubmittedPage.tsx
Due: prettier, eslint

Path conditions:
  prettier: any of: \.(j|t)sx?$|\.json$|\.md$|\.css$|\.scss$, but not: (\.next/|node_modules/|dist/|build/|coverage/|\.nx/cache/)
  eslint: any of: \.(j|t)sx?$, but not: (\.next/|node_modules/|dist/|build/|coverage/|\.nx/cache/|tests/performance/)
  mypy: any of: \.py$
