Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3 # Use the sha or tag you want to point at
    hooks:
      - id: prettier
        name: Prettier
        stages: [commit]
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        language: system
        files: \.(j|t)sx?$
        entry: ./.bin/pre-commit-lint.sh

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-vcs-permalinks
      - id: check-yaml
        exclude: (^helm/.*/templates/)
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: debug-statements
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: bash -c "cd bc_obps && poetry run pylint --rcfile=.pylintrc *.py"
        language: system
        types: [python]
        require_serial: true

  - repo: https://github.com/python-poetry/poetry
    rev: 1.6.1
    hooks:
      - id: poetry-check
        args: ["-C", "./bc_obps"]
      - id: poetry-lock
        args: ["-C", "./bc_obps", "--check"] # --check to ensure lock file is up to date without updating it

  - repo: https://github.com/PyCQA/bandit
    rev: "1.7.5"
    hooks:
      - id: bandit
        args: ["-c", "bc_obps/bandit.yaml"]

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.2.5
    hooks:
      - id: gitleaks

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v8.0.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]

Chore: added CHES env vars to test.yaml
  .github/workflows/test.yaml
Due: none

Chore: deleted leftover merge line
  bc_obps/common_utils/tests/test_email_service.py
  helm/cas-registration/templates/backend/deployment.yaml
Due: pylint

chore: remove redundant ches secrets
  .github/workflows/test.yaml
Due: none

Email_Service (#1253)
  .github/actions/local-app-run/action.yml
  .github/workflows/test.yaml
  bc_obps/.env.example
  bc_obps/bc_obps/settings.py
  bc_obps/common_utils/email/__init__.py
  bc_obps/common_utils/email/email_service.py
  bc_obps/common_utils/tests/test_email_service.py
  bc_obps/poetry.lock
  bc_obps/pyproject.toml
  helm/cas-registration/templates/backend/deployment.yaml
Due: pylint

chore: refactor regulated product endpoints
  bc_obps/registration/api/regulated_products.py
  bc_obps/service/data_access_service/regulated_product_service.py
Due: pylint

chore: refactor business structure endpoint
  bc_obps/registration/api/__init__.py
  bc_obps/registration/api/business_structure.py
  bc_obps/registration/api/business_structures.py
  bc_obps/service/data_access_service/business_structure_service.py
Due: pylint

chore: refactor naics codes
  bc_obps/registration/api/naics_codes.py
  bc_obps/service/data_access_service/naics_code_service.py
Due: pylint

chore: refactor reporting activities endpoint
  bc_obps/registration/api/reporting_activities.py
  bc_obps/service/data_access_service/reporting_activity_service.py
Due: pylint

chore: fix sonarcloud
  bc_obps/service/data_access_service/business_structure_service.py
  bc_obps/service/data_access_service/naics_code_service.py
  bc_obps/service/data_access_service/regulated_product_service.py
  bc_obps/service/data_access_service/reporting_activity_service.py
Due: pylint

chore: add typing
  bc_obps/service/data_access_service/business_structure_service.py
  bc_obps/service/data_access_service/naics_code_service.py
  bc_obps/service/data_access_service/regulated_product_service.py
  bc_obps/service/data_access_service/reporting_activity_service.py
Due: pylint

test: refactor user endpoint tests
  bc_obps/registration/tests/endpoints/test_user_app_role_endpoints.py
  bc_obps/registration/tests/endpoints/test_user_endpoints.py
  bc_obps/registration/tests/endpoints/test_user_profile_endpoints.py
Due: pylint

chore: create user service and refactor
  bc_obps/registration/api/user/user_app_role.py
  bc_obps/registration/api/user/user_profile.py
  bc_obps/service/data_access_service/user_service.py
  bc_obps/service/user_service.py
Due: pylint

chore: create user service and refactor
  bc_obps/registration/api/user/user_app_role.py
  bc_obps/registration/api/users.py
Due: pylint

chore: add typing
  bc_obps/service/data_access_service/user_service.py
  bc_obps/service/user_service.py
Due: pylint

chore: renaming and add typing
  bc_obps/registration/api/user/user_app_role.py
  bc_obps/registration/api/user/user_profile.py
  bc_obps/registration/api/users.py
  bc_obps/registration/tests/endpoints/test_user_app_role_endpoints.py
  bc_obps/registration/tests/endpoints/test_user_endpoints.py
  bc_obps/service/application_access_service.py
  bc_obps/service/data_access_service/user_service.py
  bc_obps/service/user_operator_service.py
  bc_obps/service/user_profile_service.py
Due: pylint

chore: renaming and add typing
  docs/developer-guide.md
Due: none

Revert "chore: migration to make addresses required"
  bc_obps/registration/migrations/0012_alter_facility_address_alter_operation_address.py
Due: pylint

chore: update mock data
  bc_obps/registration/fixtures/mock/operation.json
Due: none

chore: add facility fixture
  bc_obps/registration/fixtures/mock/facility.json
  bc_obps/registration/management/commands/load_fixtures.py
Due: pylint

test: facility model test
  bc_obps/registration/tests/test_models.py
Due: pylint

chore: fix happo-finalize yarn cache issue
  .github/workflows/test.yaml
Due: none

chore: debug CI
  bc_obps/registration/api/user/user_profile.py
Due: pylint

chore: debug e2e
  bc_obps/registration/api/user/user_app_role.py
Due: pylint

chore: debug e2e
  bc_obps/registration/api/user/user_app_role.py
  bc_obps/registration/api/user/user_profile.py
Due: pylint

chore: debugging
  bc_obps/registration/api/user/user_profile.py
Due: pylint

chore: add yarn install step to yarn cache action
  .github/actions/dev-env-setup/action.yml
  .github/actions/yarn-cache/action.yml
Due: none

chore: add landing page accessibility tests
  client/app/components/layout/Header.tsx
  client/e2e/accessibility/industry_user_admin.spec.ts
  client/e2e/accessibility/main.spec.ts
  client/package.json
Due: eslint

feat: add accessibility tests
  client/.eslintrc.js
  client/e2e/accessibility/industry_user_admin.spec.ts
  client/e2e/accessibility/main.spec.ts
  client/e2e/pages/authenticated/dashboard/page.spec.ts
  client/e2e/pages/onboarding/home/page.spec.ts
  client/e2e/poms/dashboard.ts
  client/e2e/poms/home.ts
  client/e2e/poms/operation.ts
  client/e2e/poms/operations.ts
  client/e2e/poms/operator.ts
  client/e2e/poms/operators.ts
  client/e2e/poms/profile.ts
  client/e2e/poms/users.ts
  client/e2e/workflows/bceidbusiness/industry_user.spec.ts
  client/e2e/workflows/bceidbusiness/industry_user_admin.spec.ts
Due: eslint

test: add extra assertions to prevent e2e accessibility error
  client/e2e/workflows/bceidbusiness/industry_user.spec.ts
Due: eslint

chore: fix accessibility issues
  client/app/components/form/OperationsForm.tsx
  client/app/styles/globals.css
  client/app/styles/rjsf/ArrayFieldTemplate.tsx
Due: eslint
