Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, mypy

prettier:
  name: Prettier
  language: system
  entry: ./.bin/pre-commit-format.sh

eslint:
  name: ESLint
  language: system
  entry: ./.bin/pre-commit-lint.sh

mypy:
  name: Mypy
  language: system
  entry: ./.bin/pre-commit-mypy.sh

chore: display penalty type statuses in UI
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/internal/review-compliance-summary/PenaltyCalculatorComponent.tsx
  bciers/apps/compliance/src/app/data/jsonSchema/manageObligation/internal/PenaltyCalculatorSchema.tsx
Due: prettier, eslint

chore: code cleanup in calculate_penalty.py
  bc_obps/compliance/api/_compliance_report_versions/_compliance_report_version_id/_obligation/calculate_penalty.py
Due: mypy

chore: fixed endpoint permission test
  bc_obps/common/tests/endpoints/auth/constants.py
  bc_obps/compliance/api/_compliance_report_versions/_compliance_report_version_id/_obligation/calculate_penalty.py
  bc_obps/compliance/tests/api/_compliance_report_versions/_compliance_report_version_id/_obligation/test_calculate_penalty.py
  bc_obps/compliance/tests/service/test_penalty_calculation_service.py
Due: mypy

chore: fixed failing pytests
  bc_obps/compliance/api/_compliance_report_versions/_compliance_report_version_id/_obligation/calculate_penalty.py
  bc_obps/compliance/service/penalty_calculation_service.py
Due: mypy

chore: e2e for penalty calc still in progress - ggeapar failing
  bciers/apps/compliance-e2e/poms/compliance-summaries.ts
  bciers/apps/compliance-e2e/tests/workflows/manage-obligation/penalty-calculator/penalty-calculator.spec.ts
  bciers/apps/reporting-e2e/poms/current-reports.ts
Due: prettier, eslint

chore: updated e2e test
  bc_obps/compliance/api/_compliance_report_versions/_compliance_report_version_id/_obligation/calculate_penalty.py
  bc_obps/compliance/tests/api/_compliance_report_versions/_compliance_report_version_id/_obligation/test_calculate_penalty.py
  bciers/apps/compliance-e2e/poms/compliance-setup.ts
  bciers/apps/compliance-e2e/tests/workflows/manage-obligation/penalty-calculator/penalty-calculator.spec.ts
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/internal/review-compliance-summary/PenaltyCalculatorComponent.tsx
  bciers/apps/compliance/src/app/utils/getPenaltyAccrualCalculationData.ts
Due: prettier, eslint, mypy

chore: copilot pr review feedback
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/internal/review-compliance-summary/PenaltyTypeButtonGroupWidget.tsx
  bciers/apps/compliance/src/app/components/taskLists/internal/reviewObligationPenaltyTaskList.ts
Due: prettier, eslint

chore: more copilot feedback
  bc_obps/compliance/service/penalty_calculation_service.py
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/internal/review-compliance-summary/PenaltyTypeButtonGroupWidget.tsx
Due: prettier, eslint, mypy

chore: implemented some of requested changes
  bc_obps/common/tests/endpoints/auth/constants.py
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/internal/review-compliance-summary/PenaltySummaryField.tsx
  bciers/apps/compliance/src/app/data/jsonSchema/manageObligation/internal/PenaltyCalculatorSchema.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/internal/review-compliance-summary/PenaltySummaryWidget.test.tsx
Due: prettier, eslint, mypy

chore: refactoring & fixed pytest
  bc_obps/compliance/api/_compliance_report_versions/_compliance_report_version_id/_obligation/calculate_penalty.py
  bc_obps/compliance/service/penalty_calculation_service.py
  bc_obps/compliance/tests/api/_compliance_report_versions/_compliance_report_version_id/_obligation/test_calculate_penalty.py
Due: mypy

chore: refactored logic to penalty calculation service
  bc_obps/compliance/api/_compliance_report_versions/_compliance_report_version_id/_obligation/calculate_penalty.py
  bc_obps/compliance/service/penalty_calculation_service.py
Due: mypy

chore: more refactoring
  bc_obps/compliance/api/_compliance_report_versions/_compliance_report_version_id/_obligation/calculate_penalty.py
  bc_obps/compliance/service/penalty_calculation_service.py
Due: mypy

chore: fixed failing test
  bc_obps/compliance/service/penalty_calculation_service.py
  bc_obps/compliance/tests/api/_compliance_report_versions/_compliance_report_version_id/_obligation/test_calculate_penalty.py
Due: mypy

chore: pr feedback, cleanup
  bc_obps/compliance/api/_compliance_report_versions/_compliance_report_version_id/_obligation/calculate_penalty.py
  bc_obps/compliance/schema/calculated_penalty.py
  bc_obps/compliance/service/penalty_calculation_service.py
  bc_obps/compliance/tests/api/_compliance_report_versions/_compliance_report_version_id/_obligation/test_calculate_penalty.py
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/internal/review-compliance-summary/PenaltyCalculatorComponent.tsx
  bciers/apps/compliance/src/app/utils/getPenaltyAccrualCalculationData.ts
Due: prettier, eslint, mypy

chore: removed PenaltyTypeButtonGroupWidget in favour of radio widget
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/internal/review-compliance-summary/PenaltyTypeButtonGroupWidget.tsx
  bciers/apps/compliance/src/app/data/jsonSchema/manageObligation/internal/PenaltyCalculatorSchema.tsx
  bciers/libs/components/src/form/fields/InlineFieldTemplate.tsx
  bciers/libs/styles/src/globals.css
Due: prettier, eslint

chore: refactored TableWidget to penalty-accrual datagrid
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/internal/review-compliance-summary/PenaltyAccrualDataGrid.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/internal/review-compliance-summary/PenaltyCalculatorComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/internal/review-compliance-summary/types.ts
  bciers/apps/compliance/src/app/components/datagrid/models/penalty-accrual/penaltyAccrualColumns.tsx
  bciers/apps/compliance/src/app/data/jsonSchema/manageObligation/internal/PenaltyCalculatorSchema.tsx
  bciers/apps/compliance/src/app/widgets/TableWidget.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/internal/review-compliance-summary/PenaltyAccrualDataGrid.test.tsx
  bciers/apps/compliance/src/tests/components/widgets/TableWidget.test.tsx
Due: prettier, eslint

chore: added jest tests for penalty calc
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/internal/review-compliance-summary/PenaltyCalculatorComponent.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/internal/review-compliance-summary/PenaltyCalculatorPage.test.tsx
Due: prettier, eslint

chore: removed e2e - to be added to new PR
  bciers/apps/compliance-e2e/poms/compliance-setup.ts
  bciers/apps/compliance-e2e/poms/compliance-summaries.ts
  bciers/apps/compliance-e2e/tests/workflows/manage-obligation/penalty-calculator/penalty-calculator.spec.ts
  bciers/apps/reporting-e2e/poms/current-reports.ts
Due: prettier, eslint

chore: prek all files
  bciers/apps/compliance/src/tests/components/taskLists/internal/reviewObligationPenaltyTaskList.test.ts
Due: prettier, eslint

chore: fixed broken compliance jest tests
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/internal/review-compliance-summary/PenaltySummaryField.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/internal/review-compliance-summary/PenaltyAccrualDataGrid.test.tsx
  bciers/apps/compliance/src/tests/components/taskLists/internal/reviewObligationPenaltyTaskList.test.ts
Due: prettier, eslint

chore: addressed sonarcloud complaints
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/internal/review-compliance-summary/PenaltyAccrualDataGrid.tsx
Due: prettier, eslint

chore: fixed datagrid rendering issue post-refactor
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/internal/review-compliance-summary/PenaltyAccrualDataGrid.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/internal/review-compliance-summary/PenaltyCalculatorComponent.tsx
  bciers/apps/compliance/src/app/utils/getPenaltyAccrualCalculationData.ts
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/internal/review-compliance-summary/PenaltyAccrualDataGrid.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/internal/review-compliance-summary/PenaltyCalculatorComponent.test.tsx
  bciers/libs/components/src/datagrid/DataGrid.test.tsx
  bciers/libs/components/src/datagrid/DataGrid.tsx
Due: prettier, eslint

chore: fixed build error - typing
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/internal/review-compliance-summary/types.ts
Due: prettier, eslint

chore: introduce PenaltyTypeRadioWidget component with unit tests and remove related global CSS styles
  bciers/apps/compliance/src/app/widgets/PenaltyTypeRadioWidget.tsx
  bciers/apps/compliance/src/tests/components/widgets/PenaltyTypeRadioWidget.test.tsx
  bciers/libs/styles/src/globals.css
Due: prettier, eslint

chore: restore DataGrid and InlineFieldTemplate to their shared behaviour
  bciers/libs/components/src/datagrid/DataGrid.test.tsx
  bciers/libs/components/src/datagrid/DataGrid.tsx
  bciers/libs/components/src/form/fields/InlineFieldTemplate.tsx
Due: prettier, eslint

chore: let DateWidget callers choose which action bar buttons to show
  bciers/libs/components/src/form/widgets/DateWidget.tsx
Due: prettier, eslint

refactor: streamline penalty calculation and accrual logic by removing unnecessary normalization and improving type handling
  bc_obps/compliance/api/_compliance_report_versions/_compliance_report_version_id/_obligation/calculate_penalty.py
  bc_obps/compliance/schema/calculated_penalty.py
  bc_obps/compliance/service/penalty_calculation_service.py
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/internal/review-compliance-summary/PenaltyAccrualDataGrid.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/internal/review-compliance-summary/PenaltyCalculatorComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/internal/review-compliance-summary/PenaltyCalculatorPage.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/internal/review-compliance-summary/PenaltySummaryField.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/internal/review-compliance-summary/types.ts
  bciers/apps/compliance/src/app/data/jsonSchema/manageObligation/internal/PenaltyCalculatorSchema.tsx
  bciers/apps/compliance/src/app/types.ts
Due: prettier, eslint, mypy

test: add tests for DateWidget action bar button visibility and defaults
  bciers/libs/components/src/form/widgets/DateWidget.test.tsx
Due: prettier, eslint

test: refactor and add more tests for penalty calculation
  bc_obps/compliance/tests/api/_compliance_report_versions/_compliance_report_version_id/_obligation/test_calculate_penalty.py
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/internal/review-compliance-summary/PenaltyAccrualDataGrid.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/internal/review-compliance-summary/PenaltyCalculatorComponent.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/internal/review-compliance-summary/PenaltyCalculatorPage.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/internal/review-compliance-summary/PenaltySummaryWidget.test.tsx
Due: prettier, eslint, mypy

refactor: simplify getPenaltyAccrualCalculationData by removing redundant normalization logic and improving parameter handling
  bciers/apps/compliance/src/app/utils/getPenaltyAccrualCalculationData.ts
Due: prettier, eslint

fix: restore saved operation type when registration purpose changes from EIO
  bciers/apps/administration/app/components/operations/OperationInformationForm.tsx
Due: prettier, eslint

fix: correct validation messages for oneOf const and opted-in required errors
  bciers/libs/utils/src/customTransformErrors.ts
Due: prettier, eslint

fix: surface a required error on every opted-in operation question
  bciers/apps/administration/app/data/jsonSchema/operationInformation/optedInOperation.ts
  bciers/libs/components/src/form/fields/FieldTemplate.tsx
  bciers/libs/components/src/form/fields/InlineFieldTemplate.tsx
Due: prettier, eslint

test: add regression tests
  bciers/apps/administration/tests/components/operations/OperationInformationForm.test.tsx
  bciers/libs/utils/src/customTransformErrors.test.ts
Due: prettier, eslint

chore: ignore ts for the test
  bciers/apps/administration/tests/components/operations/OperationInformationForm.test.tsx
Due: prettier, eslint

chore: run yarn dedupe
  yarn.lock
Due: none

chore: add currency widget to currencyuiconfig
  bciers/apps/compliance/src/app/data/jsonSchema/helpers.ts
Due: prettier, eslint

chore: remove uioptions that are part of included widget
  bciers/apps/compliance/src/app/data/jsonSchema/helpers.ts
Due: prettier, eslint

chore: update text accessor to include $
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/ggeapar-interest/review-interest-summary/InterestSummaryReviewComponent.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/internal/review-interest-summary/InternalInterestSummaryReviewComponent.test.tsx
Due: prettier, eslint

chore: override url() in SimpleLocal for accessing test media in local
  bc_obps/bc_obps/storage_backends.py
Due: mypy

Path conditions:
  prettier: any of: \.(j|t)sx?$|\.json$|\.md$|\.css$|\.scss$, but not: (\.next/|node_modules/|dist/|build/|coverage/|\.nx/cache/)
  eslint: any of: \.(j|t)sx?$, but not: (\.next/|node_modules/|dist/|build/|coverage/|\.nx/cache/|tests/performance/)
  mypy: any of: \.py$
