Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3 # Use the sha or tag you want to point at
    hooks:
      - id: prettier
        name: Prettier
        stages: [commit]

  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        language: system
        files: \.(j|t)sx?$
        entry: ./.bin/pre-commit-lint.sh
      - id: mypy
        name: Mypy
        language: system
        types: [python]
        entry: ./.bin/pre-commit-mypy.sh

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-vcs-permalinks
      - id: check-yaml
        exclude: (^helm/.*/templates/)
      - id: end-of-file-fixer
        exclude: (^erd_diagrams/)
      - id: trailing-whitespace
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        types: [python]
        args: ["--config", "bc_obps/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.2
    hooks:
      - id: ruff
        args: ["bc_obps/", "--fix"]

  - repo: https://github.com/python-poetry/poetry
    rev: 1.6.1
    hooks:
      - id: poetry-check
        args: ["-C", "./bc_obps"]
      - id: poetry-lock
        args: ["-C", "./bc_obps", "--check"] # --check to ensure lock file is up to date without updating it

  - repo: https://github.com/PyCQA/bandit
    rev: "1.7.5"
    hooks:
      - id: bandit
        args: ["-c", "bc_obps/bandit.yaml"]

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.2.5
    hooks:
      - id: gitleaks

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.16.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]

chore: multiple operators
  bc_obps/registration/tests/models/test_multiple_operator.py
  bc_obps/registration/tests/utils/baker_recipes.py
Due: mypy

chore: e2e test for issuing IDs
  bciers/apps/administration-e2e/poms/operation.ts
  bciers/apps/administration-e2e/tests/workflows/issue-boro-bcghg-id.spec.ts
  bciers/apps/administration-e2e/utils/enums.ts
Due: eslint

chore: e2e test for issuing IDs
  bciers/apps/administration-e2e/poms/operation.ts
  bciers/apps/administration-e2e/tests/workflows/issue-boro-bcghg-id.spec.ts
  bciers/libs/e2e/src/utils/helpers.ts
Due: eslint

chore: opted in-not entirely working
  bc_obps/registration/models/rls_configs/opted_in_operation_detail.py
  bc_obps/registration/tests/models/test_opted_in_operation_detail.py
Due: mypy

chore: parent operator
  bc_obps/registration/models/rls_configs/parent_operator.py
  bc_obps/registration/tests/models/test_opted_in_operation_detail.py
  bc_obps/registration/tests/models/test_parent_operator.py
  bc_obps/registration/tests/utils/baker_recipes.py
Due: mypy

feat: add review and action ec request
  bciers/apps/compliance/src/app/components/ComplianceStepButtons.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/internal-review-by-director/InternalDirectorReviewApprovalNote.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/internal-review-by-director/InternalDirectorReviewChangesNote.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/internal-review-by-director/InternalReviewByDirectorComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/internal-review-by-director/InternalReviewByDirectorPage.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/internal-review-credits-issuance-request/AnnualEmissionsReportButton.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/internal-review-credits-issuance-request/InternalReviewCreditsIssuanceRequestAttachmentElement.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/internal-review-credits-issuance-request/InternalReviewCreditsIssuanceRequestComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/internal-review-credits-issuance-request/InternalReviewCreditsIssuanceRequestPage.tsx
  bciers/apps/compliance/src/app/components/taskLists/internal/2_internalRequestIssuanceSchema.ts
  bciers/apps/compliance/src/app/data/jsonSchema/helpers.ts
  bciers/apps/compliance/src/app/data/jsonSchema/requestIssuance/internalReviewByDirectorSchema.tsx
  bciers/apps/compliance/src/app/data/jsonSchema/requestIssuance/internalReviewCreditsIssuanceRequestSchema.tsx
  bciers/apps/compliance/src/app/idir/cas_analyst/compliance-summaries/[compliance_summary_id]/(request-issuance)/review-by-director/page.tsx
  bciers/apps/compliance/src/app/idir/cas_analyst/compliance-summaries/[compliance_summary_id]/(request-issuance)/review-credits-issuance-request/page.tsx
  bciers/apps/compliance/src/app/utils/getCreditsIssuanceRequestData.tsx
  bciers/apps/compliance/src/app/utils/getDirectorReviewData.tsx
  bciers/apps/compliance/src/app/widgets/DirectorReviewAlertWidget.tsx
  bciers/apps/compliance/src/app/widgets/TwoStateWidget.tsx
Due: eslint

chore: update task list logic and address review comments
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/internal-review-by-director/InternalDirectorReviewApprovalNote.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/internal-review-by-director/InternalDirectorReviewChangesNote.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/internal/review-by-director/InternalReviewByDirectorComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/internal/review-by-director/InternalReviewByDirectorPage.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/internal/review-credits-issuance-request/InternalReviewCreditsIssuanceRequestAttachmentElement.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/internal/review-credits-issuance-request/InternalReviewCreditsIssuanceRequestComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/internal/review-credits-issuance-request/InternalReviewCreditsIssuanceRequestPage.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/request-issuance-of-earned-credits/RequestIssuanceOfEarnedCreditsPage.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/review-compliance-summary/ComplianceSummaryReviewPage.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/track-status-of-issuance/TrackStatusOfIssuancePage.tsx
  bciers/apps/compliance/src/app/components/taskLists/2_requestIssuanceTaskList.ts
  bciers/apps/compliance/src/app/components/taskLists/internal/issuanceRequestTaskList.ts
  bciers/apps/compliance/src/app/components/taskLists/requestIssuanceTaskList.ts
  bciers/apps/compliance/src/app/data/jsonSchema/AnnualEmissionsReportButton.tsx
  bciers/apps/compliance/src/app/data/jsonSchema/DirectorReviewAlertWidget.tsx
  bciers/apps/compliance/src/app/data/jsonSchema/StatusNoteWidget.tsx
  bciers/apps/compliance/src/app/data/jsonSchema/StatusTextWidget.tsx
  bciers/apps/compliance/src/app/data/jsonSchema/TwoStateWidget.tsx
  bciers/apps/compliance/src/app/data/jsonSchema/helpers.ts
  bciers/apps/compliance/src/app/data/jsonSchema/requestIssuance/internal/InternalDirectorReviewApprovalNote.tsx
  bciers/apps/compliance/src/app/data/jsonSchema/requestIssuance/internal/InternalDirectorReviewChangesNote.tsx
  bciers/apps/compliance/src/app/data/jsonSchema/requestIssuance/internal/internalReviewByDirectorSchema.tsx
  bciers/apps/compliance/src/app/data/jsonSchema/requestIssuance/internal/internalReviewCreditsIssuanceRequestSchema.tsx
  bciers/apps/compliance/src/app/data/jsonSchema/requestIssuance/trackStatusOfIssuanceSchema.tsx
  bciers/apps/compliance/src/app/idir/cas_admin/compliance-summaries/[compliance_summary_id]/(request-issuance)/review-by-director/page.tsx
  bciers/apps/compliance/src/app/idir/cas_admin/compliance-summaries/[compliance_summary_id]/(request-issuance)/review-credits-issuance-request/page.tsx
  bciers/apps/compliance/src/app/idir/cas_director/compliance-summaries/[compliance_summary_id]/(request-issuance)/review-by-director/page.tsx
  bciers/apps/compliance/src/app/idir/cas_director/compliance-summaries/[compliance_summary_id]/(request-issuance)/review-credits-issuance-request/page.tsx
  bciers/apps/compliance/src/app/idir/cas_view_only/compliance-summaries/[compliance_summary_id]/(request-issuance)/review-by-director/page.tsx
  bciers/apps/compliance/src/app/idir/cas_view_only/compliance-summaries/[compliance_summary_id]/(request-issuance)/review-credits-issuance-request/page.tsx
  bciers/apps/compliance/src/app/types.ts
  bciers/apps/compliance/src/app/utils/getCreditsIssuanceRequestData.tsx
  bciers/apps/compliance/src/app/utils/getDirectorReviewData.tsx
  bciers/apps/compliance/src/app/utils/getRequestIssuanceTrackStatusData.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/request-issuance-of-earned-credits/RequestIssuanceOfEarnedCreditsPage.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/review-compliance-summary/ComplianceSummaryReviewPage.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/track-status-of-issuance/TrackStatusOfIssuancePage.test.tsx
  bciers/apps/compliance/src/tests/components/taskLists/internal/issuanceRequestTaskList.test.ts
  bciers/apps/compliance/src/tests/components/taskLists/requestIssuanceTaskList.test.ts
  bciers/libs/utils/src/enums.ts
Due: eslint

chore: replace single attachment element with multi-file upload component
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/internal/review-credits-issuance-request/AttachmentsElement.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/internal/review-credits-issuance-request/InternalReviewCreditsIssuanceRequestAttachmentElement.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/internal/review-credits-issuance-request/InternalReviewCreditsIssuanceRequestComponent.tsx
Due: eslint

chore: partner operator
  bc_obps/registration/models/rls_configs/partner_operator.py
  bc_obps/registration/tests/models/test_partner_operator.py
Due: mypy

chore: spec work on user operators-not working
  bc_obps/registration/models/address.py
  bc_obps/registration/models/rls_configs/user_operator.py
  bc_obps/registration/tests/models/test_user_operator.py
Due: mypy

chore: update task list logic and address review comments
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/internal/review-credits-issuance-request/InternalReviewCreditsIssuanceRequestComponent.tsx
Due: eslint

feat: add declined and changes_required issuance statuses
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/track-status-of-issuance/IssuanceStatusApprovedNote.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/track-status-of-issuance/IssuanceStatusAwaitingNote.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/track-status-of-issuance/TrackStatusOfIssuanceComponent.tsx
  bciers/apps/compliance/src/app/data/jsonSchema/StatusNoteWidget.tsx
  bciers/apps/compliance/src/app/data/jsonSchema/StatusTextWidget.tsx
  bciers/apps/compliance/src/app/data/jsonSchema/requestIssuance/CreditIssuanceStatusWidget.tsx
  bciers/apps/compliance/src/app/data/jsonSchema/requestIssuance/trackStatusOfIssuanceSchema.tsx
  bciers/apps/compliance/src/app/types.ts
  bciers/apps/compliance/src/app/utils/getRequestIssuanceTrackStatusData.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/track-status-of-issuance/IssuanceStatusApprovedNote.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/track-status-of-issuance/IssuanceStatusAwaitingNote.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/track-status-of-issuance/TrackStatusOfIssuancePage.test.tsx
  bciers/libs/components/src/icons/Check.tsx
  bciers/libs/utils/src/enums.ts
Due: eslint

chore: spec work on users
  bc_obps/registration/models/rls_configs/user.py
  bc_obps/registration/tests/models/test_user.py
  bc_obps/rls/tests/helpers.py
Due: mypy

chore: spec work
  bc_obps/registration/models/rls_configs/document.py
  bc_obps/registration/tests/models/test_contact.py
  bc_obps/registration/tests/models/test_document.py
  bc_obps/registration/tests/models/test_facility.py
  bc_obps/registration/tests/models/test_operation.py
  bc_obps/registration/tests/models/test_user.py
  bc_obps/rls/tests/helpers.py
Due: mypy

chore: release v3.7.0
  CHANGELOG.md
  bc_obps/common/migrations/0061_V3_7_0.py
  bc_obps/registration/migrations/0121_V3_7_0.py
  bc_obps/reporting/migrations/0113_V3_7_0.py
  bc_obps/rls/migrations/0015_V3_7_0.py
  package.json
Due: mypy

Deploying to gh-pages from @ bcgov/cas-registration@4d8bfb42ec965a37c539d29eaf7a49dc3ffafc46 🚀
  schemaspy/common/columns.html
  schemaspy/common/index.html
  schemaspy/common/info-html.txt
  schemaspy/erc/columns.html
  schemaspy/erc/index.html
  schemaspy/erc/info-html.txt
  schemaspy/erc_history/columns.html
  schemaspy/erc_history/index.html
  schemaspy/erc_history/info-html.txt
  schemaspy/index.html
Due: none

chore: add elicensing_client_operator model
  bc_obps/compliance/enums.py
  bc_obps/compliance/models/elicensing_client_operator.py
  bc_obps/compliance/models/rls_configs/elicensing_client_operator.py
Due: mypy

chore: add elicensing_invoice model
  bc_obps/compliance/enums.py
  bc_obps/compliance/models/__init__.py
  bc_obps/compliance/models/elicensing_invoice.py
  bc_obps/compliance/models/rls_configs/elicensing_invoice.py
Due: mypy

chore: add elicensing_line_item model
  bc_obps/compliance/models/elicensing_line_item.py
  bc_obps/compliance/models/rls_configs/elicensing_line_item.py
Due: mypy

chore: add elicensing_payment model
  bc_obps/compliance/models/__init__.py
  bc_obps/compliance/models/elicensing_payment.py
  bc_obps/compliance/models/rls_configs/elicensing_payment.py
Due: mypy

chore: use our own internal pkeys/fkeys for elicensing models
  bc_obps/compliance/models/elicensing_client_operator.py
  bc_obps/compliance/models/elicensing_invoice.py
  bc_obps/compliance/models/elicensing_line_item.py
  bc_obps/compliance/models/elicensing_payment.py
Due: mypy

chore: add elicensing_adjustment model
  bc_obps/compliance/models/__init__.py
  bc_obps/compliance/models/elicensing_adjustment.py
  bc_obps/compliance/models/rls_configs/elicensing_adjustment.py
Due: mypy

chore: add related_name values to elicensing foreign key fields
  bc_obps/compliance/migrations/0006_elicensing_models.py
  bc_obps/compliance/models/elicensing_adjustment.py
  bc_obps/compliance/models/elicensing_client_operator.py
  bc_obps/compliance/models/elicensing_invoice.py
  bc_obps/compliance/models/elicensing_line_item.py
  bc_obps/compliance/models/elicensing_payment.py
Due: mypy

test: elicensing_client_operator model test
  bc_obps/compliance/tests/models/test_elicensing_client_operator.py
  bc_obps/compliance/tests/utils/baker_recipes.py
Due: mypy

test: elicensing_invoice model test
  bc_obps/compliance/tests/models/test_elicensing_invoice.py
  bc_obps/compliance/tests/utils/baker_recipes.py
Due: mypy

chore: fix pkey for line item model
  bc_obps/compliance/migrations/0006_elicensing_models.py
  bc_obps/compliance/models/elicensing_line_item.py
Due: mypy

test: add line item model test
  bc_obps/compliance/tests/models/test_elicensing_invoice.py
  bc_obps/compliance/tests/models/test_elicensing_line_item.py
  bc_obps/compliance/tests/utils/baker_recipes.py
Due: mypy

chore: remove transitive fkey
  bc_obps/compliance/migrations/0006_elicensing_models.py
  bc_obps/compliance/models/elicensing_adjustment.py
  bc_obps/compliance/models/elicensing_payment.py
Due: mypy
