Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, pylint

eslint:
  name: ESLint
  language: system
  entry: ./.bin/pre-commit-lint.sh

pylint:
  name: pylint
  entry: bash -c "cd bc_obps && poetry run pylint --rcfile=.pylintrc *.py"
  language: system
  require_serial: true

fix: disable user operator editing for cas internal users
  client/app/components/form/UserOperatorMultiStepForm.tsx
Due: eslint

fix: user operator form url
  client/app/components/form/UserOperatorMultiStepForm.tsx
Due: eslint

feat: add user operator put api update routes
  bc_obps/registration/api/user_operator.py
  client/app/components/form/UserOperatorMultiStepForm.tsx
Due: eslint, pylint

refactor: move shared user operator api code into reusable function
  bc_obps/registration/api/user_operator.py
Due: pylint

fix: user operator multistep route for cas internal
  client/app/components/form/UserOperatorMultiStepForm.tsx
Due: eslint

fix: user operator redirect url
  client/app/components/form/MultiStepFormBase.tsx
  client/app/components/routes/select-operator/Page.tsx
Due: eslint

test: add user operator PUT api tests
  bc_obps/registration/api/user_operator.py
  bc_obps/registration/tests/endpoints/test_useroperator_endpoints.py
Due: pylint

chore: remove unused user operator put route
  bc_obps/registration/api/user_operator.py
Due: pylint

fix: redirect to form for pending status on select operator page
  client/app/components/routes/select-operator/Page.tsx
Due: eslint

fix: archive contacts error
  bc_obps/registration/api/user_operator.py
  client/app/components/form/UserOperatorMultiStepForm.tsx
Due: eslint, pylint

fix: rebase error
  bc_obps/registration/api/user_operator.py
Due: pylint

fix: revalidation error
  client/app/components/form/UserOperatorMultiStepForm.tsx
Due: eslint

fix: create senior operator id error
  client/app/components/form/UserOperatorMultiStepForm.tsx
Due: eslint

fix: test dummy data sonarcloud issue
  bc_obps/registration/tests/endpoints/test_useroperator_endpoints.py
Due: pylint

fix: revert user operator form api logic
  client/app/components/form/UserOperatorMultiStepForm.tsx
Due: eslint

refactor: user operator api duplication
  bc_obps/registration/api/user_operator.py
Due: pylint

refactor: update shared user operator api functions from rebase changes
  bc_obps/registration/api/user_operator.py
Due: pylint

refactor: rename vars based on pr suggestions
  client/app/components/form/UserOperatorMultiStepForm.tsx
Due: eslint

fix: user operator typescript error
  client/app/components/routes/select-operator/form/UserOperator.tsx
Due: eslint

Path conditions:
  eslint: any of: \.(j|t)sx?$
  pylint: any of: \.py$
