Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy

eslint:
  name: ESLint
  language: system
  entry: ./.bin/pre-commit-lint.sh

mypy:
  name: Mypy
  language: system
  entry: ./.bin/pre-commit-mypy.sh

chore: improve existing middlewares and add type hinting
  bc_obps/mypy.ini
  bc_obps/registration/middleware/current_user.py
  bc_obps/registration/middleware/current_user_middleware.py
  bc_obps/registration/middleware/kubernetes_health_check.py
Due: mypy

feat: add rls app and middleware to set user guid
  bc_obps/bc_obps/settings.py
  bc_obps/rls/apps.py
  bc_obps/rls/enums.py
  bc_obps/rls/middleware/__init__.py
  bc_obps/rls/middleware/rls.py
  bc_obps/rls/migrations/__init__.py
  bc_obps/rls/tests/__init__.py
Due: mypy

chore: add comment and make pre-commit happy
  bc_obps/registration/tests/middleware/test_current_user.py
  bc_obps/registration/tests/middleware/test_kubernetes_health_check.py
  bc_obps/rls/enums.py
  bc_obps/rls/middleware/rls.py
  bc_obps/rls/tests/test_rls.py
Due: mypy

test: add tests for the middleware
  bc_obps/rls/tests/test_rls.py
Due: mypy

chore: split existing middleware tests
  bc_obps/registration/tests/middleware/test_current_user.py
  bc_obps/registration/tests/middleware/test_kubernetes_health_check.py
  bc_obps/registration/tests/test_middleware.py
Due: mypy

chore: BE work on replacing operation rep
  bc_obps/registration/api/v2/_contacts/contact_id.py
  bc_obps/registration/api/v2/_operations/operation_id.py
  bc_obps/registration/schema/v2/operation.py
  bc_obps/service/contact_service_v2.py
  bc_obps/service/operation_service_v2.py
Due: mypy

test: pytests for removing operation rep
  bc_obps/registration/tests/endpoints/v2/_contacts/test_contact_id.py
  bc_obps/registration/tests/endpoints/v2/_operations/test_operation_id.py
  bc_obps/registration/tests/utils/baker_recipes.py
  bc_obps/service/tests/test_contact_service_v2.py
  bc_obps/service/tests/test_operation_service_v2.py
Due: mypy

chore: update rjsf schemas
  bciers/apps/administration/app/data/jsonSchema/contact.ts
  bciers/apps/administration/app/data/jsonSchema/operationInformation/administrationOperationInformation.ts
  bciers/apps/administration/app/data/jsonSchema/operationInformation/administrationRegistrationInformation.ts
Due: eslint

chore: create PlacesAssignedFieldTemplate
  bciers/libs/components/src/form/fields/PlacesAssignedFieldTemplate.tsx
  bciers/libs/components/src/form/fields/index.ts
Due: eslint

test: vitests for replacing operation rep
  bciers/apps/administration/tests/components/contacts/ContactForm.test.tsx
  bciers/apps/administration/tests/components/operations/OperationInformationForm.test.tsx
  bciers/apps/administration/tests/components/operations/OperationInformationPage.test.tsx
  bciers/apps/administration/tests/components/operations/mocks.ts
  bciers/libs/components/src/form/fields/PlacesAssignedFieldTemplate.test.tsx
Due: eslint

feat: replace operation rep
  bciers/apps/administration/app/components/operations/OperationInformationForm.tsx
Due: eslint

chore: add link to contacts address error
  bciers/apps/administration/app/components/operations/OperationInformationForm.tsx
Due: eslint

chore: update mock data
  bc_obps/registration/fixtures/mock/address.json
  bc_obps/registration/fixtures/mock/contact.json
Due: none

chore: users cannot update unregistered operations
  bc_obps/registration/tests/endpoints/v2/_operations/test_operation_id.py
  bc_obps/service/contact_service_v2.py
  bc_obps/service/operation_service_v2.py
  bc_obps/service/tests/test_contact_service_v2.py
  bc_obps/service/tests/test_operation_service_v2.py
Due: mypy

chore: cleanup
  bc_obps/service/operation_service.py
  bc_obps/service/tests/test_operation_service_v2.py
  bciers/apps/administration/app/components/operations/OperationInformationForm.tsx
  bciers/apps/administration/app/data/jsonSchema/operationInformation/administrationRegistrationInformation.ts
Due: eslint, mypy

chore: update mock data
  bc_obps/registration/fixtures/mock/contact.json
  bc_obps/registration/fixtures/mock/operation.json
  bc_obps/registration/fixtures/mock/operator.json
Due: none

chore: apply suggestions from code review
  bc_obps/registration/api/v2/_contacts/contact_id.py
  bc_obps/registration/schema/v2/contact.py
  bc_obps/registration/schema/v2/operation.py
  bc_obps/service/contact_service_v2.py
  bc_obps/service/operation_service_v2.py
  bc_obps/service/tests/test_contact_service_v2.py
  bc_obps/service/tests/test_operation_service_v2.py
  bciers/apps/administration/app/components/contacts/ContactForm.tsx
  bciers/apps/administration/app/components/operations/OperationInformationForm.tsx
  bciers/apps/administration/app/data/jsonSchema/operationInformation/administrationRegistrationInformation.ts
  bciers/apps/administration/tests/components/contacts/ContactForm.test.tsx
  bciers/apps/administration/tests/components/contacts/ContactPage.test.tsx
  bciers/apps/administration/tests/components/contacts/mocks.ts
  bciers/apps/administration/tests/components/operations/OperationInformationForm.test.tsx
  bciers/apps/administration/tests/components/operations/mocks.ts
  bciers/libs/components/src/form/fields/PlacesAssignedFieldTemplate.test.tsx
  bciers/libs/components/src/form/fields/PlacesAssignedFieldTemplate.tsx
Due: eslint, mypy

chore: apply more suggestions from code review
  bc_obps/registration/schema/v2/operation.py
  bc_obps/service/contact_service_v2.py
  bc_obps/service/tests/test_contact_service_v2.py
Due: mypy

fix: Disable scrolling behavior on global form number inputs
  bciers/libs/styles/src/globals.css
Due: none

chore: Add fuelDescription field to GSC excluding and GSC non-compression forms
  bc_obps/reporting/json_schemas/2024/gsc_excluding_line_tracing/with_useful_energy.json
  bc_obps/reporting/json_schemas/2024/gsc_excluding_line_tracing/without_useful_energy.json
  bc_obps/reporting/json_schemas/2024/gsc_solely_for_line_tracing/with_useful_energy.json
  bc_obps/reporting/json_schemas/2024/gsc_solely_for_line_tracing/without_useful_energy.json
  bciers/apps/reporting/src/app/components/activities/uiSchemas/gscUiSchema.ts
Due: eslint

chore: Add migration to add missing CEMS methodology in reporting GSC activities
  bc_obps/reporting/migrations/0044_alter_gcs_add_CEMS.py
Due: mypy

chore: edit reporting migration just added for rebase
  bc_obps/reporting/migrations/0045_alter_gcs_add_CEMS.py
Due: mypy

feat: Calculate annual fuel amount in Mobile Equipment activity
  bc_obps/reporting/json_schemas/2024/fuel_combustion_mobile/combustion_by_equipment.json
  bc_obps/reporting/migrations/0046_alter_gcs_add_CEMS.py
  bciers/apps/reporting/src/app/components/activities/ActivityForm.tsx
  bciers/apps/reporting/src/app/components/activities/uiSchemas/gscUiSchema.ts
  bciers/libs/utils/src/customReportingActivityFormCalculations.test.ts
  bciers/libs/utils/src/customReportingActivityFormCalculations.ts
Due: eslint, mypy

Path conditions:
  eslint: any of: \.(j|t)sx?$
  mypy: any of: \.py$
