Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3 # Use the sha or tag you want to point at
    hooks:
      - id: prettier
        name: Prettier
        stages: [commit]
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        language: system
        files: \.(j|t)sx?$
        entry: ./.bin/pre-commit-lint.sh

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-vcs-permalinks
      - id: check-yaml
        exclude: (^helm/.*/templates/)
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: debug-statements
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: bash -c "cd bc_obps && poetry run pylint --rcfile=.pylintrc *.py"
        language: system
        types: [python]
        require_serial: true

  - repo: https://github.com/python-poetry/poetry
    rev: 1.6.1
    hooks:
      - id: poetry-check
        args: ["-C", "./bc_obps"]
      - id: poetry-lock
        args: ["-C", "./bc_obps", "--check"] # --check to ensure lock file is up to date without updating it

  - repo: https://github.com/PyCQA/bandit
    rev: "1.7.5"
    hooks:
      - id: bandit
        args: ["-c", "bc_obps/bandit.yaml"]

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.2.5
    hooks:
      - id: gitleaks

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v8.0.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]

fix: backend tests failing due to fixture error
  bc_obps/registration/tests/test_01_models.py
  bc_obps/registration/tests/test_02_endpoints.py
  bc_obps/registration/tests/test_03_middleware.py
  bc_obps/registration/tests/test_04_utils.py
Due: pylint

chore: add tech debt card to todo comment
  bc_obps/registration/schema/operation.py
Due: pylint

fix: duplicate keys in operations ui schema
  client/app/utils/jsonSchema/operations.ts
Due: eslint

refactor: rename operation_number to operation_index
  bc_obps/registration/api/operation.py
  bc_obps/registration/migrations/0001_initial.py
  bc_obps/registration/models.py
  bc_obps/registration/tests/test_models.py
Due: pylint

chore: add missed multiple_operators db_comment
  bc_obps/registration/migrations/0001_initial.py
  bc_obps/registration/models.py
Due: pylint

fix: operation schema circular import error
  bc_obps/registration/schema/multiple_operator.py
  bc_obps/registration/schema/operation.py
Due: pylint

fix: is label rebase issue
  client/app/components/form/widgets/TextWidget.tsx
  client/app/styles/rjsf/FieldTemplate.tsx
  client/app/styles/rjsf/InlineFieldTemplate.tsx
Due: eslint

chore: update migrations
  bc_obps/registration/migrations/0001_initial.py
  bc_obps/registration/migrations/0002_historicalcontact_historicaloperation_and_more.py
Due: pylint

Chore: Changed type of db col for previous_year_attributable_emissions from DecimalField to IntegerField
  bc_obps/registration/fixtures/mock/operation.json
  bc_obps/registration/migrations/0003_alter_historicaloperation_previous_year_attributable_emissions_and_more.py
  bc_obps/registration/models.py
  client/tests/components/form/OperationsForm.test.tsx
  client/tests/routes/operations/Operations.test.tsx
Due: eslint, pylint

chore: fix migration dependency issue
  bc_obps/registration/migrations/0002_alter_historicaloperation_previous_year_attributable_emissions_and_more.py
Due: pylint

feat: add review component confirmation modal
  client/app/components/routes/operations/form/Review.tsx
Due: eslint

fix: combobox and multiselect disabled state
  client/app/components/form/widgets/ComboBox.tsx
  client/app/components/form/widgets/MultiSelectWidget.tsx
Due: eslint

fix: review component success/error alert disappears
  client/app/components/routes/operations/form/Operation.tsx
  client/app/components/routes/operations/form/Review.tsx
Due: eslint

chore: review modal style updates
  client/app/components/routes/operations/form/Review.tsx
Due: eslint

feat: add generic mui modal
  client/app/components/modal/Modal.tsx
Due: eslint

refactor: make review component reusable
  client/app/components/button/Review.tsx
  client/app/components/modal/Modal.tsx
  client/app/components/routes/operations/form/Operation.tsx
  client/app/components/routes/operations/form/OperationReview.tsx
Due: eslint

feat: add dismiss button to review alert
  client/app/components/button/Review.tsx
  client/app/components/modal/Modal.tsx
Due: eslint

feat: fetch business structure data and pass to operations schema
  client/app/components/routes/operations/form/Operation.tsx
  client/app/utils/jsonSchema/operations.ts
Due: eslint

feat: mo_business_structure field is required
  bc_obps/registration/schema.py
  client/app/utils/jsonSchema/operations.ts
Due: eslint, pylint

fix: make multiple_operator business_structure field a foreign key
  bc_obps/registration/migrations/0001_initial.py
  bc_obps/registration/models.py
Due: pylint

fix: multiple_operators_array field null bug
  client/app/components/form/OperationsForm.tsx
Due: eslint

fix: business_structure field is foreign key
  bc_obps/registration/api/operation.py
  bc_obps/registration/schema.py
  bc_obps/registration/schema/multiple_operator.py
  bc_obps/registration/schema/operation.py
Due: pylint
