Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3 # Use the sha or tag you want to point at
    hooks:
      - id: prettier
        name: Prettier
        stages: [commit]
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        language: system
        files: \.(j|t)sx?$
        entry: ./.bin/pre-commit-lint.sh

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-vcs-permalinks
      - id: check-yaml
        exclude: (^helm/.*/templates/)
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: debug-statements
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: bash -c "cd bc_obps && poetry run pylint --rcfile=.pylintrc *.py"
        language: system
        types: [python]
        require_serial: true

  - repo: https://github.com/python-poetry/poetry
    rev: 1.6.1
    hooks:
      - id: poetry-check
        args: ["-C", "./bc_obps"]
      - id: poetry-lock
        args: ["-C", "./bc_obps", "--check"] # --check to ensure lock file is up to date without updating it

  - repo: https://github.com/PyCQA/bandit
    rev: "1.7.5"
    hooks:
      - id: bandit
        args: ["-c", "bc_obps/bandit.yaml"]

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.2.5
    hooks:
      - id: gitleaks

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v8.0.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]

debug: trace on
  client/playwright.config.ts
Due: eslint

debug: yaml for e2e report
  .github/workflows/test.yaml
Due: none

debug: test order
  bc_obps/registration/fixtures/mock/operation.json
  client/e2e/workflows/idir/cas_admin.spec.ts
  client/e2e/workflows/idir/cas_analyst.spec.ts
Due: eslint

debt: no operation approved status check
  client/e2e/workflows/idir/cas_admin.spec.ts
  client/e2e/workflows/idir/cas_analyst.spec.ts
Due: eslint

debug: Operation 4 check
  bc_obps/registration/fixtures/mock/operation.json
Due: none

debug: businessStructures
  client/app/components/routes/operations/form/Operation.tsx
  client/e2e/workflows/idir/cas_admin.spec.ts
  client/e2e/workflows/idir/cas_analyst.spec.ts
Due: eslint

chore: operations approved debt
  client/app/components/routes/operations/form/Operation.tsx
  client/e2e/workflows/idir/cas_admin.spec.ts
  client/e2e/workflows/idir/cas_analyst.spec.ts
Due: eslint

feat: check required field value
  bc_obps/registration/fixtures/mock/operation.json
  client/e2e/poms/operations.ts
  client/e2e/poms/operator.ts
  client/e2e/poms/operators.ts
  client/e2e/utils/helpers.ts
  client/e2e/workflows/idir/cas_admin.spec.ts
  client/e2e/workflows/idir/cas_analyst.spec.ts
Due: eslint

chore: prettier
  bciers/.eslintrc.json
  bciers/apps/reporting/tailwind.config.js
  bciers/jest.preset.js
  bciers/libs/shared/components/tsconfig.json
  bciers/libs/shared/testConfig/src/index.ts
  bciers/libs/shared/testConfig/tsconfig.json
  bciers/nx.json
  bciers/package.json
  client/app/components/routes/operations/form/Operation.tsx
  client/e2e/poms/operations.ts
  client/e2e/poms/operator.ts
  client/e2e/poms/operators.ts
  client/e2e/utils/helpers.ts
  client/e2e/workflows/idir/cas_admin.spec.ts
  client/e2e/workflows/idir/cas_analyst.spec.ts
  docs/nx-monorepo.md
  helm/cas-registration/Chart.lock
Due: eslint

chore: e2e report only on fail
  .github/workflows/test.yaml
Due: none

chore: playwright report on fail
  client/playwright.config.ts
Due: eslint

refactor: move all reporting files into monorepo directory
  client/app/components/routes/operators/OperatorsPage.tsx
  client/e2e/poms/home.ts
  client/e2e/utils/helpers.ts
  client/e2e/workflows/idir/cas_admin.spec.ts
Due: eslint

feat: send new operator and access request email
  bc_obps/common/enums.py
  bc_obps/common/migrations/0004_new_operator_and_admin_access_request_email_templates.py
Due: pylint

chore: replace existing instances of `save_operator`
  bc_obps/service/user_operator_service.py
Due: pylint

chore: wrap `_get_token` in try block
  bc_obps/common/service/email/email_service.py
Due: pylint

test: add test for new operator and admin access email templates
  bc_obps/common/tests/test_common_initial_data.py
Due: pylint

chore: send email for new operator and requesting access as admin
  bc_obps/service/user_operator_service.py
Due: pylint

chore: add docs and type hinting
  bc_obps/service/user_operator_service.py
Due: pylint

refactor: refactor `save_operator` to have single responsibility
  bc_obps/service/user_operator_service.py
Due: pylint

chore: wording tweaks and clean up
  bc_obps/common/service/email/email_service.py
  bc_obps/common/tests/test_email_service.py
  bc_obps/registration/api/operator/operator_has_admin.py
  bc_obps/registration/utils.py
  bc_obps/service/data_access_service/user_operator_service.py
Due: pylint

test: tests for rejecting new operator workflow
  bc_obps/registration/tests/endpoints/test_operator_endpoints.py
Due: pylint

chore: implement suggestions from code review
  bc_obps/service/user_operator_service.py
Due: pylint

chore: fix deprecated `json` from django-ninja
  bc_obps/registration/tests/endpoints/test_operations_endpoints.py
Due: pylint

chore: update test after refactoring `save_operator` function
  bc_obps/registration/tests/test_utils.py
Due: pylint

chore: send email when new operator rejected
  bc_obps/service/operator_service.py
Due: pylint

chore: add docs to `update_operator_status` function
  bc_obps/service/operator_service.py
Due: pylint

chore: update coverage config to not include e2e test setup file
  bc_obps/.coveragerc
Due: none

test: test sending email when creating new operator
  bc_obps/registration/tests/endpoints/user_operator/test_operator.py
Due: pylint

chore: remove duplicate and old assertion
  bc_obps/registration/tests/endpoints/test_user_profile_endpoints.py
Due: pylint
