Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy

eslint:
  name: ESLint
  language: system
  entry: ./.bin/pre-commit-lint.sh

mypy:
  name: Mypy
  language: system
  entry: ./.bin/pre-commit-mypy.sh

chore: in progress. Fixed one issue in backend; added error alert in FE; something else still erroring
  bc_obps/registration/api/_operations/_operation_id/_registration/opted_out_operation.py
  bc_obps/service/data_access_service/opted_out_operation_detail_service.py
  bciers/libs/components/src/form/widgets/OptedOutOperationWidget.tsx
Due: eslint, mypy

chore: in progress. Radio buttons show up but Save button doesn't work yet
  bc_obps/service/operation_service.py
  bciers/apps/administration/app/data/jsonSchema/operationInformation/administrationRegistrationInformation.ts
  bciers/libs/components/src/form/theme/readOnlyTheme.ts
  bciers/libs/components/src/form/widgets/OptedOutOperationWidget.tsx
  bciers/libs/components/src/form/widgets/index.ts
Due: eslint, mypy

chore: in progress
  bc_obps/registration/api/__init__.py
  bciers/apps/administration/app/components/operations/OperationInformationForm.tsx
  bciers/apps/administration/app/data/jsonSchema/operationInformation/administrationRegistrationInformation.ts
  bciers/libs/components/src/form/widgets/OptedOutOperationWidget.tsx
Due: eslint, mypy

chore: updated migration version number
  bc_obps/registration/migrations/0146_opted_out_operation_detail.py
  bc_obps/registration/models/rls_configs/opted_in_operation_detail.py
Due: mypy

chore: in progress (lots of changes). Setting, cancelling, editing the opt out date works. Refactored backend to upsert instead of separate create and update functions. Lots of cleanup still needed
  bc_obps/registration/api/_operations/_operation_id/_registration/opted_out_operation.py
  bc_obps/registration/schema/operation.py
  bc_obps/service/data_access_service/opted_out_operation_detail_service.py
  bc_obps/service/operation_service.py
  bciers/apps/administration/app/components/operations/OperationInformationForm.tsx
  bciers/apps/administration/app/components/operations/types.ts
  bciers/apps/administration/app/data/jsonSchema/operationInformation/administrationOperationInformation.ts
  bciers/apps/administration/app/data/jsonSchema/operationInformation/administrationRegistrationInformation.ts
  bciers/apps/registration/app/components/operations/registration/types.ts
  bciers/libs/components/src/form/widgets/OptedOutOperationWidget.tsx
Due: eslint, mypy

chore: added opted out operation detail to ReportOperation model. Debugging in progress
  bc_obps/registration/migrations/0147_opted_out_operation_detail.py
  bc_obps/reporting/migrations/0141_report_operation_opted_out_detail.py
  bc_obps/reporting/models/report_operation.py
  bc_obps/reporting/schema/report_operation.py
  bc_obps/service/report_service.py
  bc_obps/service/report_version_service.py
  bciers/apps/reporting/src/app/components/products/ProductionDataForm.tsx
  bciers/apps/reporting/src/app/components/products/ProductionDataPage.tsx
  bciers/apps/reporting/src/data/jsonSchema/productionData.tsx
Due: eslint, mypy

chore: upped migration version post-rebase
  bc_obps/reporting/migrations/0141_report_operation_opted_out_detail.py
  bc_obps/reporting/migrations/0142_report_operation_add_opt_out_effective_date.py
  bc_obps/reporting/models/report_operation.py
  bc_obps/reporting/schema/report_operation.py
Due: mypy

chore: got conditional render of production data based on reporting year & opt out status; fixed rebaseing errors
  bciers/apps/reporting/src/app/components/products/ProductionDataForm.tsx
  bciers/apps/reporting/src/app/components/products/ProductionDataPage.tsx
  bciers/apps/reporting/src/data/jsonSchema/2025/productionData.tsx
  bciers/apps/reporting/src/data/jsonSchema/productionData.tsx
Due: eslint

chore: upped migration version post-rebase
  bc_obps/reporting/migrations/0144_report_operation_opted_out_effective_date.py
  bciers/apps/reporting/src/data/jsonSchema/2025/productionData.tsx
Due: eslint, mypy

chore: refactored to create new jsonSchema file for 2025-specific production data
  bc_obps/service/report_version_service.py
  bciers/apps/reporting/src/data/jsonSchema/2025/productionData.tsx
Due: eslint, mypy

chore: replaced effective_date on OptedOut with final_reporting_year per new AC
  bc_obps/registration/migrations/0147_opted_out_operation_detail.py
  bc_obps/registration/models/operation.py
  bc_obps/registration/models/opted_out_operation_detail.py
  bc_obps/registration/schema/operation.py
  bc_obps/reporting/migrations/0144_report_operation_opted_out_final_reporting_year.py
  bc_obps/reporting/models/report_operation.py
  bc_obps/reporting/schema/report_operation.py
  bc_obps/reporting/service/reporting_dashboard_service.py
  bc_obps/service/data_access_service/opted_out_operation_detail_service.py
  bc_obps/service/report_version_service.py
  bc_obps/service/tests/data_access_service/test_data_access_opted_out_operation_detail_service.py
  bciers/apps/registration/app/components/operations/registration/types.ts
  bciers/apps/reporting/src/app/components/products/ProductionDataPage.tsx
  bciers/libs/components/src/form/widgets/OptedOutOperationWidget.tsx
Due: eslint, mypy

chore: add e2e poms for reporting and compliance
  bciers/apps/compliance-e2e/poms/compliance-summaries.ts
  bciers/apps/compliance-e2e/poms/manage-obligation/payment-instructions.ts
  bciers/apps/compliance-e2e/poms/manage-obligation/tasklist.ts
  bciers/apps/compliance-e2e/tests/example.spec.ts
  bciers/apps/compliance-e2e/tests/landing-page.spec.ts
  bciers/apps/compliance-e2e/tests/workflows/manage-obligation/report-compliance-obligation.spec.ts
  bciers/apps/compliance-e2e/utils/constants.ts
  bciers/apps/compliance-e2e/utils/enums.ts
  bciers/apps/reporting-e2e/poms/current-reports.ts
  bciers/apps/reporting-e2e/utils/constants.ts
  bciers/apps/reporting-e2e/utils/enums.ts
  bciers/tsconfig.base.json
Due: eslint

chore: make pre-commit happy
  bc_obps/poetry.lock
Due: none

chore: updated chart version
  helm/cas-bciers/Chart.lock
  helm/cas-bciers/Chart.yaml
Due: none

chore: release v4.6.0
  CHANGELOG.md
  bc_obps/common/migrations/0100_V4_6_0.py
  bc_obps/compliance/migrations/0018_V4_6_0.py
  bc_obps/registration/migrations/0147_V4_6_0.py
  bc_obps/reporting/migrations/0144_V4_6_0.py
  bc_obps/rls/migrations/0037_V4_6_0.py
  bc_obps/task_scheduler/migrations/0009_V4_6_0.py
  package.json
Due: mypy

chore: added requested changes
  bc_obps/reporting/service/report_emission_allocation_service.py
Due: mypy

chore: removed emission allocation product if not applicable methodology
  bc_obps/reporting/service/report_emission_allocation_service.py
  bc_obps/reporting/tests/service/test_report_emission_allocation_service.py
Due: mypy

chore: add workflow to check for backend changes in bc_obps directory
  .github/workflows/check-backend-changes.yaml
  .github/workflows/main.yaml
Due: none

chore: update workflows to conditionally run based on backend changes
  .github/workflows/main.yaml
  .github/workflows/test-backend.yaml
  .github/workflows/test-code.yaml
Due: none

chore: skip check-migrations job if no backend changes
  .github/workflows/test-code.yaml
Due: none

chore: add a change to make sure flag works
  bc_obps/bc_obps/settings.py
Due: mypy

chore: update workflows to check and conditionally run based on frontend changes in bciers directory
  .github/workflows/check-frontend-changes.yaml
  .github/workflows/main.yaml
  .github/workflows/test-code.yaml
Due: none

chore: revert the change to test flag
  bc_obps/bc_obps/settings.py
Due: mypy

chore: modularize Nx affected projects check into reusable workflow and refactor main workflow to use it
  .github/workflows/check-nx-affected.yaml
  .github/workflows/main.yaml
Due: none

chore: update workflows to check for changes in .tool-versions file
  .github/workflows/check-frontend-changes.yaml
Due: none

chore: update workflows to use sparse-checkout for optimized directory fetching
  .github/workflows/build-backend.yaml
  .github/workflows/check-backend-changes.yaml
  .github/workflows/main.yaml
  .github/workflows/schemaspy.yaml
  .github/workflows/test-backend.yaml
  .github/workflows/test-code.yaml
Due: none

chore: include `bc_obps/.tool-versions` in sparse-checkout paths across workflows
  .github/workflows/check-nx-affected.yaml
  .github/workflows/test-code.yaml
Due: none

chore: include `.tool-versions` file in sparse-checkout paths across workflows
  .github/workflows/check-nx-affected.yaml
  .github/workflows/test-backend.yaml
  .github/workflows/test-code.yaml
Due: none

chore: update workflows to include .github directory in sparse-checkout paths
  .github/workflows/check-nx-affected.yaml
  .github/workflows/test-backend.yaml
  .github/workflows/test-code.yaml
Due: none

chore: split dev environment setup into separate actions for frontend and backend, and update workflows accordingly
  .github/actions/dev-env-setup-backend/action.yml
  .github/actions/dev-env-setup-frontend/action.yml
  .github/workflows/check-nx-affected.yaml
  .github/workflows/test-backend.yaml
  .github/workflows/test-code.yaml
  .github/workflows/test-nx-project-e2e.yaml
Due: none

chore: revert the refactor
  .github/workflows/check-nx-affected.yaml
  .github/workflows/main.yaml
Due: none

chore: remove fallback value handling for empty `nx_affected_e2e` output in GitHub workflow
  .github/workflows/check-nx-affected.yaml
Due: none

chore: refine sparse-checkout paths and switch to frontend-specific dev-env setup action
  .github/workflows/main.yaml
Due: none

chore: fix trailing whitespace
  .github/actions/dev-env-setup-backend/action.yml
  .github/actions/dev-env-setup-frontend/action.yml
  .github/workflows/check-frontend-changes.yaml
Due: none

chore: refine Nx affected projects check to suppress stderr and handle empty output
  .github/workflows/check-nx-affected.yaml
Due: none

chore: add intentional CI-breaking changes to verify detection of migration, Python, and Nx test failures
  bc_obps/bc_obps/settings.py
  bc_obps/common/migrations/0085_V4_0_0.py
  bc_obps/compliance/tests/service/test_penalty_calculation_service.py
  bciers/libs/utils/src/environmentDetection.test.ts
  bciers/libs/utils/src/environmentDetection.ts
Due: eslint, mypy

chore: revert intentional changes
  bc_obps/common/migrations/0085_V4_0_0.py
  bc_obps/compliance/tests/service/test_penalty_calculation_service.py
  bciers/libs/utils/src/environmentDetection.test.ts
Due: eslint, mypy

chore: intentional change to make sure CI flags working
  bc_obps/bc_obps/settings.py
  bciers/libs/utils/src/environmentDetection.ts
Due: eslint, mypy

chore: handle empty outputs and ensure consistent setting of Nx affected projects in workflow
  .github/workflows/check-nx-affected.yaml
Due: none

Path conditions:
  eslint: any of: \.(j|t)sx?$
  mypy: any of: \.py$
