Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3 # Use the sha or tag you want to point at
    hooks:
      - id: prettier
        name: Prettier
        stages: [commit]

  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        language: system
        files: \.(j|t)sx?$
        entry: ./.bin/pre-commit-lint.sh
      - id: mypy
        name: Mypy
        language: system
        types: [python]
        entry: ./.bin/pre-commit-mypy.sh

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-vcs-permalinks
      - id: check-yaml
        exclude: (^helm/.*/templates/)
      - id: end-of-file-fixer
        exclude: (^erd_diagrams/)
      - id: trailing-whitespace
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        types: [python]
        args: ["--config", "bc_obps/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.2
    hooks:
      - id: ruff
        args: ["bc_obps/", "--fix"]

  - repo: https://github.com/python-poetry/poetry
    rev: 1.6.1
    hooks:
      - id: poetry-check
        args: ["-C", "./bc_obps"]
      - id: poetry-lock
        args: ["-C", "./bc_obps", "--check"] # --check to ensure lock file is up to date without updating it

  - repo: https://github.com/PyCQA/bandit
    rev: "1.7.5"
    hooks:
      - id: bandit
        args: ["-c", "bc_obps/bandit.yaml"]

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.2.5
    hooks:
      - id: gitleaks

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.16.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]

chore: Most most front end facility type conditionals to form builder backend service for simplification + cleanup
  bc_obps/reporting/api/build_form_schema.py
  bc_obps/service/form_builder_service.py
  bciers/apps/reporting/src/app/components/activities/ActivityForm.tsx
  bciers/apps/reporting/src/app/components/activities/ActivityInit.tsx
  bciers/apps/reporting/src/app/components/finalReview/reviewDataFactory/activityFactoryItem.ts
  bciers/apps/reporting/src/app/components/finalReview/reviewDataFactory/productionDataFactoryItem.ts
  bciers/apps/reporting/src/app/components/products/ProductionDataForm.tsx
  bciers/apps/reporting/src/app/components/products/ProductionDataPage.tsx
  bciers/apps/reporting/src/app/utils/getActivitySchema.ts
  bciers/apps/reporting/src/data/jsonSchema/productionData.tsx
Due: eslint, mypy

chore: remove deselect button added to productionDataForm
  bciers/apps/reporting/src/app/components/products/DeselectAllButton.tsx
  bciers/apps/reporting/src/app/components/products/ProductionDataForm.tsx
Due: eslint

refactor: Refactor report emission allocations/product allocation tables and change how not applicable is added from code review
  bc_obps/registration/tests/models/test_user.py
  bc_obps/reporting/api/build_form_schema.py
  bc_obps/reporting/api/report_emission_allocations.py
  bc_obps/reporting/enums/enums.py
  bc_obps/reporting/models/__init__.py
  bc_obps/reporting/models/report_emission_allocation.py
  bc_obps/reporting/models/report_product_emission_allocation.py
  bc_obps/reporting/models/rls_configs/report_emission_allocation.py
  bc_obps/reporting/schema/report_emission_allocation.py
  bc_obps/reporting/schema/report_product_emission_allocation.py
  bc_obps/reporting/service/compliance_service.py
  bc_obps/reporting/service/report_emission_allocation_service.py
  bc_obps/reporting/service/report_supplementary_version_service.py
  bc_obps/reporting/tests/models/test_report_emission_allocation_no_product.py
  bc_obps/reporting/tests/models/test_report_version.py
  bc_obps/reporting/tests/utils/baker_recipes.py
  bc_obps/service/form_builder_service.py
  bc_obps/service/tests/test_report_version_service.py
  bciers/apps/reporting/src/app/components/finalReview/reviewDataFactory/productionDataFactoryItem.ts
  bciers/apps/reporting/src/app/components/products/ProductionDataPage.tsx
  bciers/apps/reporting/src/data/jsonSchema/productionData.tsx
Due: eslint, mypy

chore: cleanup after rebase
  bc_obps/reporting/api/report_emission_allocations.py
  bc_obps/reporting/migrations/0078_not_applicable_methodology.py
  bc_obps/reporting/migrations/0079_alter_reportproduct_production_methodology_and_more.py
  bciers/apps/reporting/src/app/components/facility/FacilityEmissionAllocationForm.tsx
  bciers/apps/reporting/src/app/components/facility/FacilityEmissionAllocationPage.tsx
  bciers/apps/reporting/src/app/components/finalReview/reviewDataFactory/activityFactoryItem.ts
  bciers/apps/reporting/src/app/components/products/ProductionDataForm.tsx
  bciers/apps/reporting/src/app/components/products/ProductionDataPage.tsx
Due: eslint, mypy

chore: update migrations
  bc_obps/reporting/migrations/0081_not_applicable_methodology.py
  bc_obps/reporting/migrations/0082_reportemissionallocation_and_more.py
Due: mypy

chore: optimize pr from Pierre's review suggestions
  bc_obps/reporting/service/report_supplementary_version_service.py
  bciers/apps/reporting/src/app/components/facility/FacilityEmissionAllocationForm.tsx
  bciers/apps/reporting/src/app/components/finalReview/reviewDataFactory/productionDataFactoryItem.ts
  bciers/apps/reporting/src/app/components/products/ProductionDataForm.tsx
  bciers/apps/reporting/src/app/components/products/ProductionDataPage.tsx
  bciers/apps/reporting/src/data/jsonSchema/facility/facilityEmissionAllocation.tsx
  bciers/apps/reporting/src/data/jsonSchema/productionData.tsx
Due: eslint, mypy

test: Update all ReportProductEmissionAlloc mypy tests / include missing migrations / update supplementary version service
  bc_obps/reporting/migrations/0080_not_applicable_methodology.py
  bc_obps/reporting/migrations/0081_reportemissionallocation_and_more.py
  bc_obps/reporting/models/report_emission_allocation.py
  bc_obps/reporting/models/report_product_emission_allocation.py
  bc_obps/reporting/schema/report_emission_allocation.py
  bc_obps/reporting/service/compliance_service.py
  bc_obps/reporting/service/report_emission_allocation_service.py
  bc_obps/reporting/service/report_supplementary_version_service.py
  bc_obps/reporting/tests/api/test_build_form_schema.py
  bc_obps/reporting/tests/models/test_facility_report.py
  bc_obps/reporting/tests/models/test_report_emission_allocation.py
  bc_obps/reporting/tests/models/test_report_product_emission_allocation.py
  bc_obps/reporting/tests/service/test_compliance_service/infrastructure.py
  bc_obps/reporting/tests/service/test_compliance_service/test_compliance_service_static.py
  bc_obps/reporting/tests/service/test_report_emission_allocation_service.py
  bc_obps/reporting/tests/service/test_report_supplementary_version_service.py
  bc_obps/reporting/tests/utils/baker_recipes.py
  bc_obps/service/facility_report_service.py
  bc_obps/service/tests/test_facility_report_service.py
  bciers/apps/reporting/src/tests/components/facility/FacilityEmissionAllocationForm.test.tsx
  bciers/apps/reporting/src/tests/components/facility/FacilityEmissionAllocationPage.test.tsx
Due: eslint, mypy

chore: update missed test after rebase
  bc_obps/service/tests/test_form_builder_service.py
Due: mypy

chore: add facility_report fk to supplementary service emission allocation copy
  bc_obps/reporting/service/report_supplementary_version_service.py
Due: mypy

added info note for verfication page
  bciers/apps/reporting/src/app/components/verification/VerificationForm.tsx
  bciers/apps/reporting/src/app/components/verification/VerificationPage.tsx
  bciers/apps/reporting/src/data/jsonSchema/verification/supplementaryReportNote.tsx
  bciers/apps/reporting/src/data/jsonSchema/verification/verification.tsx
  bciers/apps/reporting/src/tests/components/verification/VerificationForm.test.tsx
Due: eslint

chore: added check for supplementary report in create schema
  bciers/apps/reporting/src/app/components/verification/VerificationForm.tsx
  bciers/apps/reporting/src/app/components/verification/VerificationPage.tsx
  bciers/apps/reporting/src/app/components/verification/createVerificationSchema.ts
  bciers/apps/reporting/src/app/components/verification/createVerificationUISchema.ts
Due: eslint

chore: fixed test
  bciers/apps/reporting/src/tests/components/verification/VerificationPage.test.tsx
Due: eslint

fix: Fuel annual weighted average carbon content field for methodology Measured CC now has a unit of kg carbon/fuel units
  bc_obps/reporting/migrations/0081_gsc_fuel_annual_weighted_carbon_content_unit.py
Due: mypy

chore: reordering migrations
  bc_obps/reporting/migrations/0083_gsc_fuel_annual_weighted_carbon_content_unit.py
Due: mypy

feat: add unit GWh to electricity generation on additional reporting page
  bciers/apps/reporting/src/data/jsonSchema/additionalReportingData/additionalReportingData.ts
Due: eslint

test: testing the facility report validation
  bc_obps/reporting/service/report_validation/validators/facility_bcghgid_presence.py
  bc_obps/reporting/tests/service/report_validation/validators/test_facility_bcghgid_presence_validator.py
  bc_obps/reporting/tests/service/report_validation/validators/test_operation_boroid_bcghgid_validator.py
  bc_obps/reporting/tests/utils/baker_recipes.py
Due: mypy

feat: adding validators for operation and facility BORO ID and BCGHGID
  bc_obps/reporting/service/report_validation/validators/__init__.py
  bc_obps/reporting/service/report_validation/validators/facility_bcghgid_presence.py
  bc_obps/reporting/service/report_validation/validators/operation_boroid_bcghgid_presence.py
  bc_obps/reporting/tests/service/report_validation/validators/test_operation_boroid_bcghgid_validator.py
Due: mypy

test: adding to the list of tested validators
  bc_obps/reporting/tests/service/report_validation/test_report_validation_service.py
Due: mypy

test: operation report validation
  bc_obps/reporting/service/report_validation/validators/operation_boroid_bcghgid_presence.py
  bc_obps/reporting/tests/service/report_validation/validators/test_facility_bcghgid_presence_validator.py
  bc_obps/reporting/tests/service/report_validation/validators/test_operation_boroid_bcghgid_validator.py
Due: mypy

chore: only some registration purposes need a boro id
  bc_obps/reporting/service/report_submission_service.py
  bc_obps/reporting/service/report_validation/validators/operation_boroid_presence.py
  bc_obps/reporting/tests/service/report_validation/validators/test_operation_boroid_validator.py
Due: mypy
