Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        language: system
        files: \.(j|t)sx?$|\.json$|\.md$|\.css$|\.scss$
        exclude: (\.next/|node_modules/|dist/|build/|coverage/|\.nx/cache/)
        entry: ./.bin/pre-commit-format.sh
      - id: eslint
        name: ESLint
        language: system
        files: \.(j|t)sx?$
        exclude: (\.next/|node_modules/|dist/|build/|coverage/|\.nx/cache/|tests/performance/)
        entry: ./.bin/pre-commit-lint.sh
      - id: mypy
        name: Mypy
        language: system
        types: [python]
        entry: ./.bin/pre-commit-mypy.sh

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-vcs-permalinks
      - id: check-yaml
        exclude: (^helm/.*/templates/)
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
      - id: black
        types: [python]
        args: ["--config", "bc_obps/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.6
    hooks:
      - id: ruff
        args: ["bc_obps/", "--fix"]

  - repo: https://github.com/python-poetry/poetry
    rev: 2.2.1
    hooks:
      - id: poetry-check
        args: ["-C", "./bc_obps"]
      - id: poetry-lock
        args: ["-C", "./bc_obps"]

  - repo: https://github.com/PyCQA/bandit
    rev: "1.9.2"
    hooks:
      - id: bandit
        additional_dependencies: [pbr]
        args: ["-c", "bc_obps/bandit.yaml"]

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.29.1
    hooks:
      - id: gitleaks

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.23.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]

chore: abstracted formData path interpretation into separate function; InlineFieldTemplate can now be used for products and production_data
  bciers/apps/reporting/src/app/components/complianceSummary/ComplianceSummaryForm.tsx
  bciers/apps/reporting/src/app/components/products/ProductionDataForm.tsx
  bciers/apps/reporting/src/app/components/shared/formContextHelpers.ts
  bciers/apps/reporting/src/data/jsonSchema/2024/complianceSummary.ts
  bciers/apps/reporting/src/data/jsonSchema/2024/productionData.tsx
  bciers/apps/reporting/src/data/jsonSchema/2025/productionData.tsx
  bciers/apps/reporting/src/data/jsonSchema/productionData.tsx
  bciers/libs/components/src/form/fields/InlineFieldTemplate.tsx
Due: prettier, eslint

chore: added typing to unitOption to fix build error
  bciers/libs/components/src/form/fields/InlineFieldTemplate.tsx
Due: prettier, eslint

chore: lint fix
  bciers/libs/components/src/form/fields/InlineFieldTemplate.tsx
Due: prettier, eslint

feat: added in-line units for product-related data in ProductionData, ComplianceSummary, and FinalReview pages
  bciers/apps/reporting/src/app/components/finalReview/finalReviewFields.ts
  bciers/apps/reporting/src/app/components/products/ProductionDataForm.tsx
  bciers/apps/reporting/src/data/jsonSchema/2025/complianceSummary.ts
  bciers/apps/reporting/src/data/jsonSchema/2025/productionData.tsx
Due: prettier, eslint

chore: added unit to ComplianceSummaryFormProduct type -> Compliance Summary Page works as expected; fixed linting issues
  bciers/apps/reporting/src/app/components/complianceSummary/types.ts
  bciers/apps/reporting/src/app/components/products/ProductionDataForm.tsx
  bciers/apps/reporting/src/data/jsonSchema/2024/productionData.tsx
Due: prettier, eslint

chore: added new file InlineFieldTemplate.test.tsx
  bciers/libs/components/src/form/fields/InlineFieldTemplate.test.tsx
Due: prettier, eslint

chore: added doc comment to explain resolveUnit() in InlineFieldTemplate
  bciers/libs/components/src/form/fields/InlineFieldTemplate.tsx
Due: prettier, eslint

chore: updated some frontend reporting tests
  bciers/apps/reporting/src/data/jsonSchema/productionData.tsx
  bciers/apps/reporting/src/tests/components/finalReview/finalReviewFields.test.ts
  bciers/apps/reporting/src/tests/components/products/ProductionDataPage.test.tsx
Due: prettier, eslint

chore: fixed sonarqube complaints
  bciers/apps/reporting/src/tests/components/finalReview/FinalReviewForm.test.tsx
  bciers/libs/components/src/form/fields/InlineFieldTemplate.test.tsx
  bciers/libs/components/src/form/fields/InlineFieldTemplate.tsx
Due: prettier, eslint

chore: fixed e2e reporting failure
  bciers/apps/reporting-e2e/poms/production-data.ts
Due: prettier, eslint

chore: removed stray console logger statement
  bciers/apps/reporting/src/app/components/complianceSummary/ComplianceSummaryForm.tsx
Due: prettier, eslint

chore: update required fields in operation validator
  bc_obps/reporting/service/report_validation/validators/required_fields/required_fields_report_operation_information.py
  bc_obps/reporting/tests/service/report_validation/validators/required_fields/test_required_fields_report_operation_information.py
  bciers/apps/reporting/src/app/components/operations/personResponsible/PersonResponsibleForm.tsx
Due: prettier, eslint, mypy

chore: replace nx lint logic with direct ESLint execution to avoid CI job crashes
  .bin/pre-commit-lint.sh
Due: none

chore: add validator for regulated product presence
  bc_obps/reporting/service/report_validation/report_validation_error.py
  bc_obps/reporting/service/report_validation/validators/__init__.py
  bc_obps/reporting/service/report_validation/validators/report_regulated_product_presence.py
  bc_obps/reporting/tests/service/report_validation/validators/test_report_regulated_product_presence.py
  bciers/apps/reporting/src/app/components/shared/validation/config.ts
  bciers/apps/reporting/src/app/components/shared/validation/types.ts
  bciers/apps/reporting/src/tests/components/shared/validation/config.test.ts
Due: prettier, eslint, mypy

chore: updated poetry.lock
  bc_obps/poetry.lock
  bc_obps/pyproject.toml
Due: none

chore: add preload attribute to header logo image for improved performance
  bciers/libs/components/src/layout/Header.tsx
Due: prettier, eslint

chore: enable optional all-browser Happo tests in workflows
  .github/workflows/main.yaml
  .github/workflows/test-nx-project-e2e.yaml
  bciers/happo-base.config.js
Due: prettier, eslint

chore: make pre-commit happy
  bciers/happo-base.config.js
Due: prettier, eslint

chore: happo spec work
  bciers/happo-base.config.js
Due: prettier, eslint

chore: extend all-browser Happo tests to include 'release' branches in workflows
  .github/workflows/main.yaml
Due: none

chore(e2e): pin report version `updated_at` timestamp for deterministic screenshot diffs
  bc_obps/compliance/api/e2e_integration_stub/scenarios/submit_report.py
Due: mypy

chore(happo): excluding app version in the footer from happo diffs
  bciers/happo-base.config.js
  bciers/libs/components/src/layout/AppVersion.tsx
Due: prettier, eslint

fix: validator should not consider regulated_products required for reporting-only operations
  bc_obps/reporting/service/report_validation/validators/required_fields/required_fields_report_operation_information.py
Due: mypy

test: add test for reporting-only required fields validation flow
  bc_obps/reporting/tests/service/report_validation/validators/required_fields/test_required_fields_report_operation_information.py
Due: mypy

fix: remove validator blocking expected LFO facility behaviour
  bc_obps/reporting/service/report_validation/report_validation_error.py
  bc_obps/reporting/service/report_validation/validators/__init__.py
  bc_obps/reporting/service/report_validation/validators/activity_data_coverage_validator.py
  bc_obps/reporting/service/reporting_flow_applicability.py
  bc_obps/reporting/tests/service/report_validation/test_report_validation_service.py
  bc_obps/reporting/tests/service/report_validation/validators/test_activity_data_coverage_validator.py
  bciers/apps/reporting/src/app/components/shared/validation/config.ts
  bciers/apps/reporting/src/app/components/shared/validation/types.ts
  bciers/apps/reporting/src/tests/components/shared/validation/config.test.ts
  docs/errors/validation-error-guide.md
Due: prettier, eslint, mypy

test: update test
  bciers/apps/reporting/src/tests/components/shared/validation/config.test.ts
Due: prettier, eslint

chore: remove ON_SUBMIT tag from required fields validators for now
  bc_obps/reporting/service/report_validation/validators/report_activity_json_validation.py
  bc_obps/reporting/service/report_validation/validators/required_fields/required_fields_report_activity_data.py
  bc_obps/reporting/service/report_validation/validators/required_fields/required_fields_report_additional_data.py
  bc_obps/reporting/service/report_validation/validators/required_fields/required_fields_report_electricity_import_data.py
  bc_obps/reporting/service/report_validation/validators/required_fields/required_fields_report_emission_allocation.py
  bc_obps/reporting/service/report_validation/validators/required_fields/required_fields_report_new_entrant_information.py
  bc_obps/reporting/service/report_validation/validators/required_fields/required_fields_report_non_attributable_emissions.py
  bc_obps/reporting/service/report_validation/validators/required_fields/required_fields_report_operation_information.py
  bc_obps/reporting/service/report_validation/validators/required_fields/required_fields_report_person_responsible.py
  bc_obps/reporting/service/report_validation/validators/required_fields/required_fields_report_production_data.py
  bc_obps/reporting/service/report_validation/validators/required_fields/required_fields_report_review_facilities.py
  bc_obps/reporting/service/report_validation/validators/required_fields/required_fields_report_review_facility_information.py
Due: mypy

chore: handle fetch errors in compliance summary form
  bc_obps/reporting/service/compliance_service/industrial_process.py
  bciers/apps/reporting/src/app/components/complianceSummary/ComplianceSummaryForm.tsx
  bciers/apps/reporting/src/app/components/complianceSummary/ComplianceSummaryPage.tsx
  bciers/apps/reporting/src/app/utils/complianceSummaryForm/getComplianceData.ts
  bciers/apps/reporting/src/data/jsonSchema/complianceSummary.ts
  bciers/libs/components/src/form/components/FormFetchError.tsx
  bciers/libs/utils/src/extractFetchError.ts
Due: prettier, eslint, mypy

chore: release v5.11.0
  CHANGELOG.md
  bc_obps/common/migrations/0124_V5_11_0.py
  bc_obps/compliance/migrations/0046_V5_11_0.py
  bc_obps/registration/migrations/0176_V5_11_0.py
  bc_obps/reporting/migrations/0188_V5_11_0.py
  bc_obps/rls/migrations/0057_V5_11_0.py
  bc_obps/task_scheduler/migrations/0029_V5_11_0.py
  helm/cas-bciers/Chart.yaml
  helm/migration-test/cas-obps-backend-migration-test/Chart.yaml
  package.json
Due: prettier, mypy

chore: add a pod-disruption budget to all bciers deployments
  helm/cas-bciers/templates/administration/pdb.yaml
  helm/cas-bciers/templates/backend/pdb.yaml
  helm/cas-bciers/templates/compliance/pdb.yaml
  helm/cas-bciers/templates/dashboard/pdb.yaml
  helm/cas-bciers/templates/registration/pdb.yaml
  helm/cas-bciers/templates/reporting/pdb.yaml
Due: none

chore: add node anti-affinity rules for bciers deployments
  helm/cas-bciers/templates/administration/deployment.yaml
  helm/cas-bciers/templates/backend/deployment.yaml
  helm/cas-bciers/templates/compliance/deployment.yaml
  helm/cas-bciers/templates/dashboard/deployment.yaml
  helm/cas-bciers/templates/registration/deployment.yaml
  helm/cas-bciers/templates/reporting/deployment.yaml
Due: none

feat: add NAICS code support to report operation table
  bc_obps/reporting/migrations/0188_reportoperation_naics_code.py
  bc_obps/reporting/models/report_operation.py
  bc_obps/reporting/schema/report_final_review.py
  bc_obps/reporting/schema/report_operation.py
  bc_obps/reporting/service/report_operation_service.py
  bc_obps/service/report_version_service.py
  bciers/apps/reporting/src/app/components/finalReview/finalReviewFields.ts
  bciers/apps/reporting/src/app/components/finalReview/reportTypes.ts
  bciers/apps/reporting/src/app/components/operations/types.ts
  bciers/apps/reporting/src/data/jsonSchema/operations.tsx
Due: prettier, eslint, mypy

test: add NAICS code validations and assertions across report operation test cases
  bc_obps/reporting/tests/models/test_report_operation.py
  bc_obps/reporting/tests/service/test_report_operation_service.py
  bc_obps/service/tests/test_report_service.py
  bciers/apps/reporting/src/tests/components/operations/OperationReviewForm.test.tsx
Due: prettier, eslint, mypy

chore: make pre-commit happy
  bc_obps/reporting/migrations/0188_reportoperation_naics_code.py
Due: mypy

chore: fix migration post-release
  bc_obps/reporting/migrations/0189_reportoperation_naics_code.py
Due: mypy

feat: display the display_title of reporting field on final review activity view if one is available
  bc_obps/reporting/schema/report_final_review.py
  bciers/apps/reporting/src/app/components/changeReview/utils/activityRenderUtils.tsx
  bciers/apps/reporting/src/app/components/finalReview/reportTypes.ts
  bciers/apps/reporting/src/app/components/finalReview/templates/ActivityView.tsx
  bciers/apps/reporting/src/app/components/shared/FacilityReportSection.tsx
Due: prettier, eslint, mypy

chore: use display title in review-changes activity + delete unused object renderer
  bc_obps/reporting/api/report_review_changes.py
  bciers/apps/reporting/src/app/components/changeReview/ChangeReviewForm.tsx
  bciers/apps/reporting/src/app/components/changeReview/components/ActivityDiffView.tsx
  bciers/apps/reporting/src/app/components/changeReview/components/ObjectRenderer.tsx
  bciers/apps/reporting/src/app/components/changeReview/components/SimpleActivityDiff.tsx
  bciers/apps/reporting/src/app/components/changeReview/components/SourceTypeDiffView.tsx
  bciers/apps/reporting/src/app/components/changeReview/constants/types.ts
  bciers/apps/reporting/src/app/components/changeReview/templates/ReviewChanges.tsx
  bciers/apps/reporting/src/app/components/changeReview/utils/activityViewHelpers.tsx
  bciers/apps/reporting/src/app/components/finalReview/reportTypes.ts
  bciers/apps/reporting/src/app/components/finalReview/templates/ActivityView.tsx
  bciers/apps/reporting/src/app/components/shared/FacilityReportSection.tsx
Due: prettier, eslint, mypy

chore: fix pdb copy paste issue
  helm/cas-bciers/templates/dashboard/pdb.yaml
Due: none
