Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3 # Use the sha or tag you want to point at
    hooks:
      - id: prettier
        name: Prettier
        stages: [commit]

  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        language: system
        files: \.(j|t)sx?$
        entry: ./.bin/pre-commit-lint.sh
      - id: mypy
        name: Mypy
        language: system
        types: [python]
        entry: ./.bin/pre-commit-mypy.sh

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-vcs-permalinks
      - id: check-yaml
        exclude: (^helm/.*/templates/)
      - id: end-of-file-fixer
        exclude: (^erd_diagrams/)
      - id: trailing-whitespace
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        types: [python]
        args: ["--config", "bc_obps/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.2
    hooks:
      - id: ruff
        args: ["bc_obps/", "--fix"]

  - repo: https://github.com/python-poetry/poetry
    rev: 1.6.1
    hooks:
      - id: poetry-check
        args: ["-C", "./bc_obps"]
      - id: poetry-lock
        args: ["-C", "./bc_obps", "--check"] # --check to ensure lock file is up to date without updating it

  - repo: https://github.com/PyCQA/bandit
    rev: "1.7.5"
    hooks:
      - id: bandit
        args: ["-c", "bc_obps/bandit.yaml"]

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.2.5
    hooks:
      - id: gitleaks

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.16.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]

chore: create migration to add obligation due template
  bc_obps/common/migrations/0088_notice_of_obligation_due_email_template.py
Due: mypy

feat: services to send obligation due email
  bc_obps/compliance/emails.py
  bc_obps/compliance/service/elicensing/elicensing_obligation_service.py
  bc_obps/compliance/tasks.py
Due: mypy

test: pytests for obligation due email
  bc_obps/compliance/tests/service/elicensing/test_elicensing_obligation_service.py
  bc_obps/compliance/tests/test_emails.py
Due: mypy

chore: apply suggestions from code review
  bc_obps/compliance/emails.py
Due: mypy

chore: apply suggestions from code review
  bc_obps/compliance/tests/test_emails.py
Due: mypy

chore: update mock data
  bc_obps/registration/fixtures/mock/operation.json
  bc_obps/registration/fixtures/mock/operator.json
  bc_obps/reporting/management/commands/load_reporting_fixtures.py
Due: mypy

fix: compliance emails use operation and operator name from reporting
  bc_obps/compliance/emails.py
  bc_obps/compliance/service/compliance_obligation_service.py
  bc_obps/compliance/service/compliance_report_version_service.py
Due: mypy

chore: apply suggestions from code review
  bc_obps/reporting/management/commands/load_reporting_fixtures.py
Due: mypy

test: update compliance email pytests
  bc_obps/compliance/tests/service/test_compliance_obligation_service.py
  bc_obps/compliance/tests/service/test_compliance_report_version_service.py
  bc_obps/compliance/tests/test_emails.py
Due: mypy

test: vitest compliance grid and note when bccr account requires changes
  bciers/apps/compliance/src/tests/components/compliance-summaries/cells/ActionCell.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/request-issuance-of-earned-credits/ChangesRequiredAlertNote.test.tsx
Due: eslint

chore: update grid and note when bccr account requires changes
  bciers/apps/compliance/src/app/components/compliance-summaries/cells/ActionCell.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/request-issuance-of-earned-credits/ChangesRequiredAlertNote.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/request-issuance-of-earned-credits/RequestIssuanceOfEarnedCreditsComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/request-issuance-of-earned-credits/RequestIssuanceOfEarnedCreditsPage.tsx
  bciers/apps/compliance/src/app/data/jsonSchema/requestIssuance/requestIssuanceOfEarnedCreditsSchema.tsx
Due: eslint

chore: apply suggestions from code review
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/request-issuance-of-earned-credits/ChangesRequiredAlertNote.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/request-issuance-of-earned-credits/RequestIssuanceOfEarnedCreditsComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/request-issuance-of-earned-credits/RequestIssuanceOfEarnedCreditsPage.tsx
  bciers/apps/compliance/src/app/data/jsonSchema/requestIssuance/requestIssuanceOfEarnedCreditsSchema.tsx
  bciers/apps/compliance/src/app/types.ts
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/request-issuance-of-earned-credits/RequestIssuanceOfEarnedCreditsComponent.test.tsx
Due: eslint

chore: submit earned credits in backend
  bciers/apps/compliance-e2e/poms/compliance.ts
  bciers/apps/compliance-e2e/tests/earned-credits.spec.ts
  bciers/apps/compliance-e2e/utils/enums.ts
  bciers/libs/e2e/src/utils/constants.ts
  bciers/libs/e2e/src/utils/enums.ts
  bciers/libs/e2e/src/utils/helpers.ts
Due: eslint

feat: consider both payments and adjustments when determining final penalty accrual end date
  bc_obps/compliance/service/penalty_calculation_service.py
  bc_obps/compliance/tests/service/test_penalty_calculation_service.py
Due: mypy

chore: simplify final transaction date calculation using filter and max with default
  bc_obps/compliance/service/penalty_calculation_service.py
  bc_obps/compliance/tests/service/test_penalty_calculation_service.py
Due: mypy

feat: update payment instructions UI with clearer language and add CleanBC logo
  bciers/apps/compliance/src/app/components/compliance-summaries/ComplianceSummariesPage.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/download-payment-instructions/PaymentInstructionsDownloadComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/download-payment-instructions/PaymentInstructionsDownloadSections.tsx
  bciers/apps/compliance/src/app/data/jsonSchema/manageObligation/LogoWidget.tsx
  bciers/apps/compliance/src/app/data/jsonSchema/manageObligation/downloadPaymentInstructionsSchema.tsx
  bciers/apps/compliance/src/tests/app/data/jsonSchema/manageObligation/LogoWidget.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summaries/ComplianceSummariesPage.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/download-payment-instructions/PaymentInstructionsDowloadComponent.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/download-payment-instructions/PaymentInstructionsDownloadPage.test.tsx
Due: eslint

chore: add CleanBC logo to payment instructions PDF and update payment instructions wording
  bc_obps/compliance/service/payment_instructions_service.py
  bc_obps/compliance/templates/payment_instructions.html
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/automatic-overdue-penalty/download-payment-penalty-instructions/PenaltyPaymentInstructionsDownloadComponent.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/download-payment-instructions/PaymentInstructionsDownloadComponent.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/download-payment-instructions/PaymentInstructionsDownloadPage.test.tsx
Due: eslint, mypy

chore: move to latest version of dag-trigger
  helm/cas-bciers/Chart.lock
  helm/cas-bciers/Chart.yaml
Due: none

fix: drop vestigial param
  dags/bc_obps_test_migrations.py
Due: mypy

chore: earned credits e2e
  bciers/apps/compliance-e2e/poms/compliance.ts
  bciers/apps/compliance-e2e/tests/earned-credits.spec.ts
  bciers/apps/compliance-e2e/utils/enums.ts
  bciers/libs/e2e/src/utils/helpers.ts
Due: eslint

chore: release v4.2.0
  CHANGELOG.md
  bc_obps/common/migrations/0090_V4_2_0.py
  bc_obps/compliance/migrations/0008_V4_2_0.py
  bc_obps/registration/migrations/0142_V4_2_0.py
  bc_obps/reporting/migrations/0135_V4_2_0.py
  bc_obps/rls/migrations/0033_V4_2_0.py
  bc_obps/task_scheduler/migrations/0005_V4_2_0.py
  package.json
Due: mypy

docs: update release docs
  docs/devops/release.md
Due: none

docs: add more detail to release docs
  docs/devops/release.md
Due: none

docs: update docs
  docs/devops/release.md
Due: none

chore: apply suggestions from code review
  docs/devops/release.md
Due: none

chore: in progress. Added function to get_all_reports_for_operator to ReportDataAccessService
  bc_obps/service/data_access_service/report_service.py
Due: mypy

chore: added filter on reports to only fetch reports submitted by correct operator, but new operator still sees duplicated operations and can't create a new report
  bc_obps/reporting/service/reporting_dashboard_service.py
Due: mypy

chore: fixed duplication error
  bc_obps/reporting/service/reporting_dashboard_service.py
Due: mypy

chore: rough draft of modal with error when new operator tries to create report for operation that already has one from old operator
  bciers/apps/reporting/src/app/components/operations/cells/ActionCell.tsx
Due: eslint

chore: refactored some pytests and get_all_previously_owned_operations_for_operator. Need to investigate failing tests
  bc_obps/reporting/service/reporting_dashboard_service.py
  bc_obps/reporting/tests/service/test_reporting_dashboard_service.py
  bc_obps/service/data_access_service/operation_service.py
Due: mypy

chore: updated error message in modal and removed unnecessary button
  bciers/apps/reporting/src/app/components/operations/cells/ActionCell.tsx
Due: eslint

chore: partially fixed failing python tests. But still have failures
  bc_obps/reporting/tests/service/test_reporting_dashboard_service.py
  bc_obps/service/data_access_service/operation_service.py
Due: mypy

chore: partially fixed failing python tests. But still have failures
  bc_obps/reporting/tests/service/test_reporting_dashboard_service.py
Due: mypy

chore: trying to make mypy happy but thats an impossible task
  bc_obps/reporting/service/reporting_dashboard_service.py
Due: mypy

chore: removed breakpoint. All pytests passing locally
  bc_obps/reporting/service/reporting_dashboard_service.py
  bc_obps/reporting/tests/service/test_reporting_dashboard_service.py
Due: mypy

chore: coalesced some things in this PR with recently-merged Previous Years Reports PR
  bc_obps/reporting/service/reporting_dashboard_service.py
  bc_obps/service/data_access_service/operation_service.py
Due: mypy

chore: achieved desired behaviour in-app
  bc_obps/reporting/service/reporting_dashboard_service.py
Due: mypy
