Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3 # Use the sha or tag you want to point at
    hooks:
      - id: prettier
        name: Prettier
        stages: [commit]
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        language: system
        files: \.(j|t)sx?$
        entry: ./.bin/pre-commit-lint.sh

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-vcs-permalinks
      - id: check-yaml
        exclude: (^helm/.*/templates/)
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: debug-statements
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: bash -c "cd bc_obps && poetry run pylint --rcfile=.pylintrc *.py"
        language: system
        types: [python]
        require_serial: true

  - repo: https://github.com/python-poetry/poetry
    rev: 1.6.1
    hooks:
      - id: poetry-check
        args: ["-C", "./bc_obps"]
      - id: poetry-lock
        args: ["-C", "./bc_obps", "--check"] # --check to ensure lock file is up to date without updating it

  - repo: https://github.com/PyCQA/bandit
    rev: "1.7.5"
    hooks:
      - id: bandit
        args: ["-c", "bc_obps/bandit.yaml"]

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.2.5
    hooks:
      - id: gitleaks

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v8.0.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]

chore: pre-commit linting
  .github/workflows/test.yaml
  docs/developer-environment-setup.md
  docs/nx-monorepo.md
Due: none

chore: ci - e2e add missing dependency
  bciers/package.json
  bciers/yarn.lock
Due: none

chore: ci - e2e replace npm with npx
  .github/workflows/test.yaml
Due: none

chore: add --ignore-scripts to dockerfiles
  bciers/apps/registration/Dockerfile
  bciers/apps/reporting/Dockerfile
Due: none

chore: ci - playwright use npm to install, update cache key
  .github/workflows/test.yaml
Due: none

chore; ci - happo
  .github/workflows/test.yaml
Due: none

chore: ci - e2e artifacts
  .github/workflows/test.yaml
  bciers/package.json
Due: none

chore: ci - happo
  .github/workflows/test.yaml
Due: none

chore: ci - happo use dev env setup action
  .github/workflows/test.yaml
Due: none

chore: ci - define yarn modern version
  .github/actions/dev-env-setup/action.yml
  .github/workflows/test.yaml
Due: none

chore: ci - e2e artifact
  .github/workflows/test.yaml
Due: none

chore: ci update pre-commit cached
  .github/workflows/test.yaml
Due: none

chore: use yarn modern in root
  package.json
Due: none

chore: make prettier happy
  bc_obps/registration/tests/endpoints/test_operations_endpoints.py
Due: pylint

chore: add @testing-library/user-event package
  client/package.json
  client/yarn.lock
Due: none

test: add url widget test
  client/tests/components/form/widgets/TextWidget.test.tsx
  client/tests/components/form/widgets/URLWidget.test.tsx
Due: eslint

chore: fix eslint no extraneous dependencies error
  client/.eslintrc.js
Due: eslint

test: add postal code widget test
  client/tests/components/form/widgets/PostalCodeWidget.test.tsx
  client/tests/components/form/widgets/URLWidget.test.tsx
Due: eslint

test: add text widget test
  client/app/components/form/widgets/TextWidget.tsx
  client/tests/components/form/widgets/TextWidget.test.tsx
Due: eslint

refactor: improve text input validation testing helpers
  client/tests/components/form/widgets/OperatorSearchWidget.test.tsx
  client/tests/components/form/widgets/PhoneWidget.test.tsx
  client/tests/helpers/form.ts
Due: eslint

test: add multiselectwidget test
  client/tests/components/form/widgets/ComboBox.test.tsx
  client/tests/components/form/widgets/MultiSelectWidget.test.tsx
Due: eslint

test: add operator search widget test
  client/app/components/form/widgets/OperatorSearchWidget.tsx
  client/tests/components/form/widgets/OperatorSearchWidget.test.tsx
  client/tests/helpers/form.ts
Due: eslint

chore: add combobox test
  client/tests/components/form/widgets/ComboBox.test.tsx
  client/tests/helpers/form.ts
Due: eslint

chore: add form testing helper
  client/.eslintrc.js
  client/tests/components/form/widgets/EmailWidget.test.tsx
  client/tests/components/form/widgets/PostalCodeWidget.test.tsx
  client/tests/components/form/widgets/TextWidget.test.tsx
  client/tests/components/form/widgets/URLWidget.test.tsx
  client/tests/helpers/form.ts
Due: eslint
