Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3 # Use the sha or tag you want to point at
    hooks:
      - id: prettier
        name: Prettier
        stages: [commit]
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        language: system
        files: \.(j|t)sx?$
        entry: ./.bin/pre-commit-lint.sh

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-vcs-permalinks
      - id: check-yaml
        exclude: (^helm/.*/templates/)
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: debug-statements
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: bash -c "cd bc_obps && poetry run pylint --rcfile=.pylintrc *.py"
        language: system
        types: [python]
        require_serial: true

  - repo: https://github.com/python-poetry/poetry
    rev: 1.6.1
    hooks:
      - id: poetry-check
        args: ["-C", "./bc_obps"]
      - id: poetry-lock
        args: ["-C", "./bc_obps", "--check"] # --check to ensure lock file is up to date without updating it

  - repo: https://github.com/PyCQA/bandit
    rev: "1.7.5"
    hooks:
      - id: bandit
        args: ["-c", "bc_obps/bandit.yaml"]

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.2.5
    hooks:
      - id: gitleaks

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v8.0.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]

chore: apply suggestions from code review
  bc_obps/registration/api/v1/_operators/_operator_id/access_declined.py
Due: pylint

chore: rename is-declined
  bc_obps/registration/api/v1/_operators/_operator_id/access_declined.py
  bciers/apps/registration/app/components/userOperators/ConfirmSelectedOperator.tsx
Due: eslint, pylint

chore: use django dsn key instead of nextjs dsn key (#1669)
  bc_obps/bc_obps/settings.py
Due: pylint

chore: add SourceType model and data
  bc_obps/reporting/migrations/0002_sourcetype.py
  bc_obps/reporting/models.py
Due: pylint

chore: erd diagram and prettier
  bc_obps/reporting/migrations/0002_sourcetype.py
  bc_obps/reporting/models.py
  erd_diagrams/erd_reporting.md
Due: pylint

chore: remove duplicate line
  bc_obps/reporting/migrations/0002_sourcetype.py
Due: pylint

chore: update email message text
  bciers/apps/registration/app/components/operations/OperationsForm.tsx
  bciers/apps/registration/app/components/userOperators/AccessRequestReceived.tsx
Due: eslint

chore: cleanup
  bciers/apps/registration/e2e/utils/helpers.ts
  bciers/apps/registration/e2e/workflows/bceidbusiness/industry_user.spec.ts
  bciers/apps/registration/e2e/workflows/bceidbusiness/industry_user_admin.spec.ts
  bciers/apps/registration/e2e/workflows/idir/cas_admin.spec.ts
Due: eslint

chore: debug happo
  bciers/apps/registration/e2e/poms/operations.ts
Due: eslint

Chore: updated requests package manually because dependabot didnt work (#1679)
  bc_obps/poetry.lock
Due: none

chore: debug happo
  bciers/apps/registration/e2e/poms/operators.ts
  bciers/apps/registration/e2e/workflows/idir/cas_admin.spec.ts
Due: eslint

chore: operator 5 instead of 3
  bciers/apps/registration/e2e/workflows/idir/cas_admin.spec.ts
Due: eslint

chore: debug happo
  bciers/apps/registration/e2e/poms/operators.ts
  bciers/apps/registration/e2e/utils/enums.ts
  bciers/apps/registration/e2e/workflows/idir/cas_admin.spec.ts
Due: eslint

chore: try to fix hover
  bciers/apps/registration/e2e/workflows/bceidbusiness/industry_user_admin.spec.ts
  bciers/apps/registration/e2e/workflows/idir/cas_admin.spec.ts
  bciers/apps/registration/e2e/workflows/idir/cas_analyst.spec.ts
Due: eslint

chore: debug ci
  bciers/apps/registration/e2e/poms/operations.ts
  bciers/apps/registration/e2e/workflows/idir/cas_admin.spec.ts
Due: eslint

chore: try to fix accordion
  bciers/apps/registration/e2e/workflows/idir/cas_admin.spec.ts
  bciers/apps/registration/e2e/workflows/idir/cas_analyst.spec.ts
Due: eslint

chore: complete the cut off comment
  bc_obps/registration/utils.py
Due: pylint

chore: apply suggestions from code review
  bc_obps/registration/api/v1/__init__.py
Due: pylint

chore: apply suggestions from code review
  bc_obps/registration/api/v1/_user_operators/current.py
Due: pylint

chore: apply suggestions from code review
  bc_obps/registration/tests/endpoints/v1/_user_operators/test_current.py
Due: pylint

docs: add more docs about mypy
  bc_obps/Makefile
  docs/mypy.md
Due: none

chore: reorganize users tests
  bc_obps/registration/tests/endpoints/v1/user/test_user_app_role_endpoints.py
  bc_obps/registration/tests/endpoints/v1/user/test_user_profile_endpoints.py
Due: pylint

chore: move to the common app
  bc_obps/common/constants.py
  bc_obps/common/models.py
  bc_obps/registration/constants.py
  bc_obps/registration/models.py
  bc_obps/registration/schema/v1/contact.py
  bc_obps/registration/schema/v1/multiple_operator.py
  bc_obps/registration/schema/v1/operator.py
  bc_obps/registration/schema/v1/user_operator.py
  bc_obps/registration/tests/endpoints/v1/test_operators_endpoints.py
  bc_obps/reporting/models.py
  erd_diagrams/erd_registration.md
Due: pylint

chore: spec work
  bc_obps/registration/api/v1/__init__.py
  bc_obps/registration/api/v1/user/user_profile.py
  bc_obps/registration/api/v1/users.py
  bc_obps/registration/schema/v1/user.py
  bc_obps/registration/tests/endpoints/v1/test_user_operators_endpoints.py
  bciers/apps/registration/app/components/users/UserForm.tsx
Due: eslint, pylint

chore: create frontend form with gastype/methodology from api
  bc_obps/reporting/api/config.py
  bc_obps/service/report_config_service.py
  bciers/apps/reporting/src/app/comp/FormComponent.tsx
  bciers/apps/reporting/src/app/formTest/page.tsx
  bciers/apps/reporting/src/app/routes/formTest/Page.tsx
  bciers/apps/reporting/src/app/utils/actions.ts
  bciers/apps/reporting/src/middlewares/withReportingAuthorization.ts
  bciers/apps/reporting/tsconfig.json
Due: eslint, pylint

refactor: trial tiles v2
  bciers/apps/registration/app/(authenticated)/dashboard/page.tsx
  bciers/apps/registration/app/components/dashboard/RegistrationDashboard.tsx
  bciers/apps/registration/app/components/dashboard/Tile.tsx
  bciers/apps/registration/app/components/dashboard/TileWithLinks.tsx
  bciers/apps/registration/app/components/dashboard/Tiles.tsx
  bciers/apps/registration/app/components/dashboard/types.ts
  bciers/apps/registration/app/data/dashboard/bceid/my_operator.json
  bciers/apps/registration/app/data/dashboard/bceid/operations.json
  bciers/apps/registration/app/data/dashboard/bceid/select_operator.json
  bciers/apps/registration/app/data/dashboard/bceid/users.json
  bciers/apps/registration/app/data/dashboard/idir/operations.json
  bciers/apps/registration/app/data/dashboard/idir/operators.json
  bciers/apps/registration/app/data/dashboard/idir/users.json
  bciers/apps/registration/app/data/dashboard/report_a_problem.json
  bciers/apps/registration/app/data/dashboard_v2/bceid/my_operator.ts
  bciers/apps/registration/app/data/dashboard_v2/bceid/operations.ts
  bciers/apps/registration/app/data/dashboard_v2/bceid/select_operator.ts
  bciers/apps/registration/app/data/dashboard_v2/bceid/users.ts
  bciers/apps/registration/app/data/dashboard_v2/idir/operations.ts
  bciers/apps/registration/app/data/dashboard_v2/idir/operators.ts
  bciers/apps/registration/app/data/dashboard_v2/idir/users.ts
  bciers/apps/registration/app/data/dashboard_v2/shared/report_a_problem.ts
  bciers/apps/registration/app/data/dashboard_v2/shared/shared_links.ts
Due: eslint

chore: update tile styling
  bciers/apps/registration/app/(authenticated)/dashboard/page.tsx
  bciers/apps/registration/app/components/dashboard/Tile.tsx
  bciers/apps/registration/app/data/dashboard_v2/bceid/operations.json
  bciers/apps/registration/app/data/dashboard_v2/bceid/select_operator.json
Due: eslint

refactor: update tiles
  bciers/apps/registration/app/(authenticated)/dashboard/page.tsx
  bciers/apps/registration/app/components/dashboard/Tile.tsx
  bciers/apps/registration/app/data/dashboard_v2/bceid/my_operator.json
  bciers/apps/registration/app/data/dashboard_v2/bceid/operations.json
  bciers/apps/registration/app/data/dashboard_v2/bceid/registration.json
  bciers/apps/registration/app/data/dashboard_v2/bceid/reporting.json
  bciers/apps/registration/app/data/dashboard_v2/bceid/select_operator.json
  bciers/apps/registration/app/data/dashboard_v2/bceid/users.json
  bciers/apps/registration/app/data/dashboard_v2/idir/operations.json
  bciers/apps/registration/app/data/dashboard_v2/idir/operators.json
  bciers/apps/registration/app/data/dashboard_v2/idir/users.json
  bciers/apps/registration/app/data/dashboard_v2/report_a_problem.json
Due: eslint

refactor: more tile v2 refactor
  bciers/apps/registration/app/(authenticated)/dashboard/page.tsx
  bciers/apps/registration/app/components/dashboard/RegistrationDashboard.tsx
  bciers/apps/registration/app/components/dashboard/Tile.tsx
  bciers/apps/registration/app/components/dashboard/Tiles.tsx
  bciers/apps/registration/app/components/dashboard/types.ts
  bciers/apps/registration/app/data/dashboard_v2/bceid/my_operator.ts
  bciers/apps/registration/app/data/dashboard_v2/bceid/operations.ts
  bciers/apps/registration/app/data/dashboard_v2/bceid/select_operator.ts
  bciers/apps/registration/app/data/dashboard_v2/bceid/users.ts
  bciers/apps/registration/app/data/dashboard_v2/idir/operations.ts
  bciers/apps/registration/app/data/dashboard_v2/idir/operators.ts
  bciers/apps/registration/app/data/dashboard_v2/idir/users.ts
  bciers/apps/registration/app/data/dashboard_v2/shared/report_a_problem.ts
Due: eslint

chore: test alternate tile data structure
  bciers/apps/registration/app/(authenticated)/dashboard/page.tsx
  bciers/apps/registration/app/components/dashboard/types.ts
Due: eslint

refactor: use dynamic imports for tiles
  bciers/apps/registration/app/(authenticated)/dashboard/page.tsx
  bciers/apps/registration/app/components/dashboard/RegistrationDashboard.tsx
  bciers/apps/registration/app/components/dashboard/Tile.tsx
  bciers/apps/registration/app/components/dashboard/TileWithLinks.tsx
  bciers/apps/registration/app/components/dashboard/Tiles.tsx
  bciers/apps/registration/app/components/dashboard/types.ts
  bciers/apps/registration/app/data/dashboard/bceid/my_operator.json
  bciers/apps/registration/app/data/dashboard/bceid/operations.json
  bciers/apps/registration/app/data/dashboard/bceid/select_operator.json
  bciers/apps/registration/app/data/dashboard/bceid/users.json
  bciers/apps/registration/app/data/dashboard/idir/operations.json
  bciers/apps/registration/app/data/dashboard/idir/operators.json
  bciers/apps/registration/app/data/dashboard/idir/users.json
  bciers/apps/registration/app/data/dashboard/report_a_problem.json
  bciers/apps/registration/app/data/dashboard_v2/bceid/my_operator.json
  bciers/apps/registration/app/data/dashboard_v2/bceid/my_operator.ts
  bciers/apps/registration/app/data/dashboard_v2/bceid/operations.json
  bciers/apps/registration/app/data/dashboard_v2/bceid/operations.ts
  bciers/apps/registration/app/data/dashboard_v2/bceid/select_operator.json
  bciers/apps/registration/app/data/dashboard_v2/bceid/select_operator.ts
  bciers/apps/registration/app/data/dashboard_v2/bceid/users.json
  bciers/apps/registration/app/data/dashboard_v2/bceid/users.ts
  bciers/apps/registration/app/data/dashboard_v2/idir/operations.json
  bciers/apps/registration/app/data/dashboard_v2/idir/operations.ts
  bciers/apps/registration/app/data/dashboard_v2/idir/operators.json
  bciers/apps/registration/app/data/dashboard_v2/idir/operators.ts
  bciers/apps/registration/app/data/dashboard_v2/idir/users.json
  bciers/apps/registration/app/data/dashboard_v2/idir/users.ts
  bciers/apps/registration/app/data/dashboard_v2/report_a_problem.json
  bciers/apps/registration/app/data/dashboard_v2/shared/report_a_problem.ts
  bciers/apps/registration/app/data/dashboard_v2/shared/shared_links.ts
Due: eslint

chore: add more mock tile data
  bciers/apps/registration/app/(authenticated)/dashboard/page.tsx
  bciers/apps/registration/app/components/dashboard/Tile.tsx
Due: eslint
