Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy

eslint:
  name: ESLint
  language: system
  entry: ./.bin/pre-commit-lint.sh

mypy:
  name: Mypy
  language: system
  entry: ./.bin/pre-commit-mypy.sh

feat: move outstanding balance calculation to BE
  bc_obps/compliance/schema/compliance_summary.py
  bc_obps/service/compliance_dashboard_service.py
  bc_obps/service/compliance_summary_service.py
  bciers/apps/compliance/src/app/components/compliance-summaries/types.ts
Due: eslint, mypy

chore: Reporting load testing
  Makefile
  bciers/apps/reporting/tests/performance/backend-load-test.js
  bciers/apps/reporting/tests/performance/populate_test_data_for_load_testing.sql
  bciers/apps/reporting/tests/performance/scenarios/backend/facilities.js
  bciers/apps/reporting/tests/performance/scenarios/backend/facility.js
  bciers/apps/reporting/tests/performance/scenarios/backend/index.js
  bciers/apps/reporting/tests/performance/scenarios/backend/report.js
  bciers/apps/reporting/tests/performance/setup/constants.js
  bciers/apps/reporting/tests/performance/setup/helpers.js
Due: eslint

chore: added sql
  Makefile
  bciers/apps/reporting/tests/performance/backend-load-test.js
  bciers/apps/reporting/tests/performance/scenarios/backend/index.js
  bciers/apps/reporting/tests/performance/scenarios/backend/report.js
  bciers/apps/reporting/tests/performance/setup/populate_test_data_for_load_testing.sql
Due: eslint

chore: added test for attachment and submit
  bciers/apps/reporting/tests/performance/backend-load-test.js
  bciers/apps/reporting/tests/performance/scenarios/backend/report.js
  bciers/apps/reporting/tests/performance/scenarios/backend/testFile.pdf
Due: eslint

chore: update load testing doc
  docs/load-testing.md
Due: none

chore: bump @sentry/nextjs
  bciers/package.json
  bciers/yarn.lock
Due: none

chore: migration to set reg1 operation statuses
  bc_obps/registration/migrations/0090_migrate_reg1_operation_statuses.py
Due: mypy

chore: migration to set reg1 operation purposes
  bc_obps/registration/migrations/0089_set_purpose_for_existing_operations.py
Due: mypy

test: update operation statuses in pytests
  bc_obps/service/tests/test_operation_service.py
Due: mypy

chore: remove unused operation statuses
  bc_obps/registration/migrations/0091_alter_historicaloperation_status_and_more.py
  bc_obps/registration/models/operation.py
Due: mypy

chore: apply suggestions from code review
  bc_obps/registration/migrations/0089_set_purpose_for_existing_operations.py
  bc_obps/registration/migrations/0090_migrate_reg1_operation_statuses.py
Due: mypy

chore: apply suggestions from code review
  bc_obps/registration/migrations/0089_set_purpose_for_existing_operations.py
Due: mypy

chore:fix fuel name query string
  bciers/apps/reporting/src/app/components/activities/customFields/FuelFieldComponent.tsx
Due: eslint

chore: fixed oil name
  bc_obps/reporting/migrations/0008_prod_data.py
  bc_obps/reporting/tests/models/test_fuel_type.py
Due: mypy

chore: release v1.24.0
  CHANGELOG.md
  bc_obps/common/migrations/0038_V1_24_0.py
  bc_obps/registration/migrations/0092_V1_24_0.py
  package.json
Due: mypy

chore: finesse operation form
  bciers/apps/registration/app/components/operations/registration/OperationInformationForm.tsx
Due: eslint

chore: correctly pull purpose in reg form
  bc_obps/registration/fixtures/mock/operation.json
  bciers/apps/registration/app/components/operations/registration/OperationInformationForm.tsx
Due: eslint

test: update vitests
  bciers/apps/registration/tests/components/operations/registration/OperationInformationForm.test.tsx
Due: eslint

test: remove leftover code in vitest
  bciers/libs/components/src/form/widgets/FileWidget.test.tsx
Due: eslint

fix: resolve multiple operators in ninja schema
  bc_obps/registration/schema/operation.py
Due: mypy

chore: apply suggestions from code review
  bc_obps/registration/schema/operation.py
Due: mypy

Path conditions:
  eslint: any of: \.(j|t)sx?$
  mypy: any of: \.py$
