Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3 # Use the sha or tag you want to point at
    hooks:
      - id: prettier
        name: Prettier
        stages: [commit]

  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        language: system
        files: \.(j|t)sx?$
        entry: ./.bin/pre-commit-lint.sh
      - id: mypy
        name: Mypy
        language: system
        types: [python]
        entry: ./.bin/pre-commit-mypy.sh

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-vcs-permalinks
      - id: check-yaml
        exclude: (^helm/.*/templates/)
      - id: end-of-file-fixer
        exclude: (^erd_diagrams/)
      - id: trailing-whitespace
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        types: [python]
        args: ["--config", "bc_obps/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.2
    hooks:
      - id: ruff
        args: ["bc_obps/", "--fix"]

  - repo: https://github.com/python-poetry/poetry
    rev: 1.6.1
    hooks:
      - id: poetry-check
        args: ["-C", "./bc_obps"]
      - id: poetry-lock
        args: ["-C", "./bc_obps", "--check"] # --check to ensure lock file is up to date without updating it

  - repo: https://github.com/PyCQA/bandit
    rev: "1.7.5"
    hooks:
      - id: bandit
        args: ["-c", "bc_obps/bandit.yaml"]

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.2.5
    hooks:
      - id: gitleaks

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.16.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]

chore: update API endpoint and add new default field
  bc_obps/service/compliance/bc_carbon_registry/bc_carbon_registry_api_client.py
  bc_obps/service/compliance/bc_carbon_registry/schema.py
Due: mypy

chore: Update yarn lock file for base-ui-components
  bciers/yarn.lock
Due: none

chore: apply changes from code review
  bciers/apps/registration/app/components/operations/registration/NewLfoFacilityForm.tsx
  bciers/apps/registration/tests/components/operations/registration/FacilityLfoForm.test.tsx
  bciers/apps/registration/tests/components/operations/registration/FacilitySfoForm.test.tsx
  bciers/apps/registration/tests/components/operations/registration/NewLfoFacilityInformationForm.test.tsx
  bciers/apps/registration/tests/components/operations/registration/utils.ts
Due: eslint

docs: add clarification on sortOptions usage
  bc_obps/service/compliance/bc_carbon_registry/schema.py
Due: mypy

test: add tests for api client and fix minor issues
  bc_obps/service/compliance/bc_carbon_registry/bc_carbon_registry_api_client.py
  bc_obps/service/compliance/bc_carbon_registry/schema.py
  bc_obps/service/tests/compliance/bc_carbon_registry/test_bc_carbon_registry_api_client.py
Due: mypy

chore: cleanup
  bciers/apps/registration/app/components/operations/registration/FacilityLfoForm.tsx
  bciers/apps/registration/app/components/operations/registration/FacilitySfoForm.tsx
  bciers/apps/registration/app/components/operations/registration/NewLfoFacilityForm.tsx
  bciers/apps/registration/tests/components/operations/OperationRegistrationPage.test.tsx
  bciers/apps/registration/tests/components/operations/registration/FacilityInformationForm.test.tsx
  bciers/apps/registration/tests/components/operations/registration/FacilityInformationPage.test.tsx
  bciers/apps/registration/tests/components/operations/registration/NewLfoFacilityInformationForm.test.tsx
  bciers/libs/components/src/form/fields/FieldTemplate.tsx
Due: eslint

chore: add BCCR API configuration to helpers template
  helm/cas-bciers/templates/_helpers.tpl
Due: none

test: update e2e tests
  bciers/apps/registration-e2e/tests/register-an-operation.spec.ts
Due: eslint

test: update e2e test
  bciers/apps/registration-e2e/tests/register-an-operation.spec.ts
Due: eslint

feat: add bccr api client
  bc_obps/.env.example
  bc_obps/bc_obps/settings.py
  bc_obps/service/compliance/bc_carbon_registry/bc_carbon_registry_api_client.py
  bc_obps/service/compliance/bc_carbon_registry/exceptions.py
  bc_obps/service/compliance/bc_carbon_registry/schema.py
  bc_obps/service/tests/compliance/bc_carbon_registry/test_bc_carbon_registry_api_client.py
Due: mypy

update bc_obps/registration/migrations/0110_add_non_regulated_naics_codes.py
  bc_obps/registration/migrations/0110_add_non_regulated_naics_codes.py
Due: mypy

test: add more tests and update existing ones
  bc_obps/service/tests/compliance/bc_carbon_registry/test_bc_carbon_registry_api_client.py
Due: mypy

test: vitests for facility form
  bciers/apps/registration/tests/components/operations/OperationRegistrationPage.test.tsx
  bciers/apps/registration/tests/components/operations/registration/FacilityInformationForm.test.tsx
  bciers/apps/registration/tests/components/operations/registration/FacilityInformationPage.test.tsx
  bciers/apps/registration/tests/components/operations/registration/FacilityLfoForm.test.tsx
  bciers/apps/registration/tests/components/operations/registration/FacilitySfoForm.test.tsx
  bciers/apps/registration/tests/components/operations/registration/NewFacilityInformationForm.test.tsx
Due: eslint

chore: fix facility form heading
  bciers/apps/administration/app/data/jsonSchema/facilitiesLfo.ts
  bciers/apps/registration/app/components/operations/registration/NewFacilityForm.tsx
  bciers/libs/components/src/form/fields/FieldTemplate.tsx
Due: eslint

chore: design updates
  bciers/apps/registration-e2e/poms/registration.ts
  bciers/apps/registration-e2e/tests/register-an-operation.spec.ts
  bciers/apps/registration/app/components/operations/registration/NewLfoFacilityForm.tsx
  bciers/apps/registration/tests/components/operations/registration/FacilityInformationForm.test.tsx
  bciers/apps/registration/tests/components/operations/registration/FacilityInformationPage.test.tsx
  bciers/apps/registration/tests/components/operations/registration/FacilityLfoForm.test.tsx
  bciers/apps/registration/tests/components/operations/registration/NewLfoFacilityInformationForm.test.tsx
Due: eslint

chore: apply suggestions from code review
  bc_obps/registration/migrations/0110_add_non_regulated_naics_codes.py
Due: mypy

test: update tests and cleanup related to number field
  bciers/apps/administration/tests/components/facilities/FacilityForm.test.tsx
  bciers/apps/administration/tests/components/operators/OperatorForm.test.tsx
  bciers/apps/administration/tests/components/userOperators/SelectOperatorForm.test.tsx
  bciers/apps/reporting/src/tests/components/additionalInformation/OperationEmissionSummary.test.tsx
  bciers/apps/reporting/src/tests/components/facility/FacilityEmissionSummaryPage.test.tsx
  bciers/apps/reporting/src/tests/components/products/ProductionDataPage.test.tsx
  bciers/libs/components/src/form/widgets/TextWidget.test.tsx
  bciers/libs/components/src/form/widgets/TextWidget.tsx
Due: eslint

chore: remove registration_number_assigned_by_registrar field
  bc_obps/service/compliance/bc_carbon_registry/bc_carbon_registry_api_client.py
  bc_obps/service/compliance/bc_carbon_registry/schema.py
  bc_obps/service/tests/compliance/bc_carbon_registry/test_bc_carbon_registry_api_client.py
Due: mypy

chore: update schemas
  bc_obps/service/compliance/bc_carbon_registry/bc_carbon_registry_api_client.py
  bc_obps/service/compliance/bc_carbon_registry/schema.py
Due: mypy

chore: Pierre's PR suggestions regarding max num and nits + tests
  bciers/apps/administration-e2e/utils/enums.ts
  bciers/apps/administration/tests/components/facilities/FacilityForm.test.tsx
  bciers/apps/administration/tests/components/userOperators/SelectOperatorForm.test.tsx
  bciers/libs/components/src/form/widgets/TextWidget.test.tsx
  bciers/libs/components/src/form/widgets/TextWidget.tsx
Due: eslint

chore: fix e2e tests and improve testing for textWidget
  bciers/apps/administration-e2e/poms/operator.ts
  bciers/apps/administration-e2e/utils/enums.ts
  bciers/apps/administration/app/data/jsonSchema/selectOperator.ts
  bciers/apps/administration/tests/components/userOperators/SelectOperatorForm.test.tsx
  bciers/libs/components/src/form/widgets/TextWidget.tsx
Due: eslint

chore: migrations to add unregulated NAICS codes
  bc_obps/registration/migrations/0109_historicalnaicscode_is_regulated_and_more.py
  bc_obps/registration/migrations/0110_add_non_regulated_naics_codes.py
  bc_obps/registration/models/naics_code.py
Due: mypy

chore: added eio in final review
  bciers/apps/reporting/src/app/components/finalReview/reviewDataFactory/electricityImportData.ts
  bciers/apps/reporting/src/app/components/finalReview/reviewDataFactory/factory.ts
  bciers/apps/reporting/src/data/jsonSchema/eio.ts
Due: eslint

chore: move bccr service to compliance app service
  bc_obps/compliance/service/bc_carbon_registry/bc_carbon_registry_api_client.py
  bc_obps/compliance/service/bc_carbon_registry/exceptions.py
  bc_obps/compliance/service/bc_carbon_registry/schema.py
  bc_obps/compliance/tests/service/bc_carbon_registry/test_bc_carbon_registry_api_client.py
Due: mypy

chore: fixed eio fields, added acknowledgement for signoff, updated json schema and error mesages
  bc_obps/reporting/api/report_electricity_import_data.py
  bc_obps/reporting/api/submit.py
  bc_obps/reporting/migrations/0097_reportsignoff_acknowledgement_of_certification_and_more.py
  bc_obps/reporting/migrations/0097_reportsignoff_acknowledgement_of_errors.py
  bc_obps/reporting/models/report_sign_off.py
  bc_obps/reporting/schema/report_sign_off.py
  bc_obps/reporting/service/report_sign_off_service.py
  bciers/apps/reporting/src/app/utils/getElectricityImportData.ts
  bciers/apps/reporting/src/data/jsonSchema/eio.ts
  bciers/apps/reporting/src/data/jsonSchema/signOff/signOff.ts
  bciers/libs/utils/src/customTransformErrors.ts
Due: eslint, mypy

chore: field fields and test
  bc_obps/reporting/api/report_electricity_import_data.py
  bc_obps/reporting/migrations/0096_reportsignoff_acknowledgement_of_certification_and_more.py
  bc_obps/reporting/migrations/0097_reportelectricityimportdata_and_more.py
  bc_obps/reporting/models/report_electricity_import_data.py
  bc_obps/reporting/tests/service/test_electricity_import_data_service.py
  bciers/apps/reporting/src/data/jsonSchema/eio.ts
Due: eslint, mypy

chore: fix tests
  bc_obps/reporting/tests/models/test_report_sign_off.py
  bc_obps/reporting/tests/service/test_report_sign_off_service.py
  bc_obps/reporting/tests/service/test_report_submission_service.py
  bciers/libs/utils/src/customTransformErrors.ts
Due: eslint, mypy
