Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy

eslint:
  name: ESLint
  language: system
  entry: ./.bin/pre-commit-lint.sh

mypy:
  name: Mypy
  language: system
  entry: ./.bin/pre-commit-mypy.sh

chore: apply suggestions from code review
  docs/devops/release.md
Due: none

Deploying to gh-pages from @ bcgov/cas-registration@e814f7898a6c2a4fc058fde847fed94c4277e4fd 🚀
  schemaspy/common/index.html
  schemaspy/common/info-html.txt
  schemaspy/erc/index.html
  schemaspy/erc/info-html.txt
  schemaspy/erc_history/index.html
  schemaspy/erc_history/info-html.txt
  schemaspy/index.html
Due: none

chore: added check for activity Id and tests
  bciers/apps/reporting/src/app/components/activities/ActivityInit.tsx
  bciers/apps/reporting/src/tests/components/activities/ActivityInit.test.tsx
Due: eslint

chore: added requested changes
  bciers/apps/reporting/src/app/components/finalReview/finalReviewFields.ts
  bciers/apps/reporting/src/app/components/finalReview/templates/ActivityView.tsx
  bciers/apps/reporting/src/app/components/finalReview/templates/FinalReviewReportSections.tsx
  bciers/apps/reporting/src/app/components/submitted/SubmittedForm.tsx
Due: eslint

chore:updated submitted page and added tests
  bciers/apps/reporting/src/app/components/finalReview/FinalReviewForm.tsx
  bciers/apps/reporting/src/app/components/finalReview/finalReviewFields.ts
  bciers/apps/reporting/src/app/components/finalReview/formCustomization/FinalReviewArrayFieldTemplate.tsx
  bciers/apps/reporting/src/app/components/finalReview/formCustomization/FinalReviewFieldTemplate.tsx
  bciers/apps/reporting/src/app/components/finalReview/formCustomization/FinalReviewFormRenderer.tsx
  bciers/apps/reporting/src/app/components/finalReview/formCustomization/FinalReviewForms.tsx
  bciers/apps/reporting/src/app/components/finalReview/formCustomization/FinalReviewMultiSelectWidget.tsx
  bciers/apps/reporting/src/app/components/finalReview/formCustomization/finalReviewTheme.tsx
  bciers/apps/reporting/src/app/components/finalReview/reviewDataFactory/activityFactoryItem.ts
  bciers/apps/reporting/src/app/components/finalReview/reviewDataFactory/additionalReportingDataFactoryItem.ts
  bciers/apps/reporting/src/app/components/finalReview/reviewDataFactory/allocationOfEmissionsFactoryItem.ts
  bciers/apps/reporting/src/app/components/finalReview/reviewDataFactory/changeReviewFactoryItem.ts
  bciers/apps/reporting/src/app/components/finalReview/reviewDataFactory/complianceSummaryFactoryItem.ts
  bciers/apps/reporting/src/app/components/finalReview/reviewDataFactory/electricityImportDataFactoryItem.ts
  bciers/apps/reporting/src/app/components/finalReview/reviewDataFactory/emissionsSummaryFactoryItem.ts
  bciers/apps/reporting/src/app/components/finalReview/reviewDataFactory/facilityActivitiesFactoryItem.ts
  bciers/apps/reporting/src/app/components/finalReview/reviewDataFactory/factory.ts
  bciers/apps/reporting/src/app/components/finalReview/reviewDataFactory/newEntrantInformationFactoryItem.ts
  bciers/apps/reporting/src/app/components/finalReview/reviewDataFactory/nonAttributableEmissionsFactoryItem.ts
  bciers/apps/reporting/src/app/components/finalReview/reviewDataFactory/operationEmissionSummaryFactoryItem.ts
  bciers/apps/reporting/src/app/components/finalReview/reviewDataFactory/operationReviewFactoryItem.ts
  bciers/apps/reporting/src/app/components/finalReview/reviewDataFactory/personResponsibleFactoryItem.ts
  bciers/apps/reporting/src/app/components/finalReview/reviewDataFactory/productionDataFactoryItem.ts
  bciers/apps/reporting/src/app/components/finalReview/templates/EmissionAllocationView.tsx
  bciers/apps/reporting/src/app/components/finalReview/templates/FinalReviewReportSections.tsx
  bciers/apps/reporting/src/app/components/submitted/SubmittedForm.tsx
  bciers/apps/reporting/src/app/components/submitted/SubmittedPage.tsx
  bciers/apps/reporting/src/tests/components/finalReview/templates/FinalReviewReportSections.test.tsx
  bciers/apps/reporting/src/tests/components/submitted/SubmittedForm.test.tsx
Due: eslint

chore: fixed emission alloaction view
  bciers/apps/reporting/src/app/components/finalReview/templates/EmissionAllocationView.tsx
Due: eslint

chore: add HasComplianceReportVersion type
  bciers/apps/compliance/src/app/types.ts
Due: eslint

chore: change compliance_summary_id to compliance_report_version_id
  bciers/apps/compliance/src/app/api/invoice/[id]/route.ts
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/apply-compliance-units/ApplyComplianceUnitsComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/apply-compliance-units/ApplyComplianceUnitsPage.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/download-payment-instructions/PaymentInstructionsDownloadComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/download-payment-instructions/PaymentInstructionsDownloadPage.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/pay-obligation-track-payments/ObligationTrackPaymentsComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/pay-obligation-track-payments/ObligationTrackPaymentsPayPage.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/review-compliance-summary/ComplianceSummaryReviewComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/review-compliance-summary/ComplianceSummaryReviewPage.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/no-obligation/review-summary/ComplianceSummaryReviewPage.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/internal/review-by-director/InternalReviewByDirectorComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/internal/review-by-director/InternalReviewByDirectorPage.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/internal/review-compliance-summary/ComplianceSummaryReviewPage.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/internal/review-credits-issuance-request/InternalReviewCreditsIssuanceRequestComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/internal/review-credits-issuance-request/InternalReviewCreditsIssuanceRequestPage.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/internal/track-status-of-issuance/InternalTrackStatusOfIssuanceComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/internal/track-status-of-issuance/InternalTrackStatusOfIssuancePage.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/request-issuance-of-earned-credits/RequestIssuanceOfEarnedCreditsComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/request-issuance-of-earned-credits/RequestIssuanceOfEarnedCreditsPage.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/review-compliance-summary/ComplianceSummaryReviewComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/review-compliance-summary/ComplianceSummaryReviewPage.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/track-status-of-issuance/TrackStatusOfIssuanceComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/track-status-of-issuance/TrackStatusOfIssuancePage.tsx
  bciers/apps/compliance/src/app/components/layout/CompliancePageLayout.tsx
  bciers/apps/compliance/src/app/components/taskLists/1_manageObligationTaskList.ts
  bciers/apps/compliance/src/app/components/taskLists/internal/issuanceRequestTaskList.ts
  bciers/apps/compliance/src/app/components/taskLists/requestIssuanceTaskList.ts
  bciers/apps/compliance/src/app/types.ts
  bciers/apps/compliance/src/app/utils/bccrAccountHandlers.ts
  bciers/apps/compliance/src/app/utils/fetchComplianceSummaryReviewPageData.ts
  bciers/apps/compliance/src/app/utils/getComplianceAppliedUnits.ts
  bciers/apps/compliance/src/app/utils/getComplianceSummary.tsx
  bciers/apps/compliance/src/app/utils/getComplianceSummaryPayments.ts
  bciers/apps/compliance/src/app/utils/getInvoiceByComplianceReportVersionId.tsx
  bciers/apps/compliance/src/app/utils/getObligation.ts
  bciers/apps/compliance/src/app/utils/getRequestIssuanceComplianceSummaryData.ts
Due: eslint

test: update props and types in vitests
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/review-compliance-summary/ComplianceSummaryReviewComponent.tsx
  bciers/apps/compliance/src/app/components/layout/CompliancePageHeading.tsx
  bciers/apps/compliance/src/app/utils/getOperationByComplianceReportVersionId.ts
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/apply-compliance-units/ApplyComplianceUnitsComponent.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/apply-compliance-units/ApplyComplianceUnitsPage.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/download-payment-instructions/PaymentInstructionsDownloadPage.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/pay-obligation-track-payments/ObligationTrackPaymentsComponent.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/pay-obligation-track-payments/ObligationTrackPaymentsPayPage.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/review-compliance-summary/ComplianceSummaryReviewComponent.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/manage-obligation/review-compliance-summary/ComplianceSummaryReviewPage.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/no-obligation/review-summary/ComplianceSummaryReviewPage.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/internal/review-by-director/InternalReviewByDirectorComponent.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/internal/review-by-director/InternalReviewByDirectorPage.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/internal/review-compliance-summary/ComplianceSummaryReviewPage.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/internal/review-credits-issuance-request/InternalReviewCreditsIssuanceRequestComponent.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/internal/review-credits-issuance-request/InternalReviewCreditsIssuanceRequestPage.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/internal/track-status-of-issuance/InternalTrackStatusOfIssuanceComponent.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/internal/track-status-of-issuance/InternalTrackStatusOfIssuancePage.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/request-issuance-of-earned-credits/RequestIssuanceOfEarnedCreditsComponent.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/request-issuance-of-earned-credits/RequestIssuanceOfEarnedCreditsPage.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/review-compliance-summary/ComplianceSummaryReviewComponent.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/review-compliance-summary/ComplianceSummaryReviewPage.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/track-status-of-issuance/TrackStatusOfIssuanceComponent.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/track-status-of-issuance/TrackStatusOfIssuancePage.test.tsx
  bciers/apps/compliance/src/tests/components/layout/CompliancePageHeading.test.tsx
  bciers/apps/compliance/src/tests/components/layout/CompliancePageLayout.test.tsx
  bciers/apps/compliance/src/tests/components/taskLists/1_manageObligationTaskList.test.ts
  bciers/apps/compliance/src/tests/components/taskLists/internal/issuanceRequestTaskList.test.ts
  bciers/apps/compliance/src/tests/components/taskLists/requestIssuanceTaskList.test.ts
  bciers/apps/reporting/src/tests/components/complianceSummary/ComplianceSummaryPage.test.tsx
Due: eslint

chore: rename getOperationByComplianceSummaryId endpoint
  bciers/apps/compliance/src/app/components/layout/CompliancePageHeading.tsx
  bciers/apps/compliance/src/app/utils/getOperationByComplianceSummaryId.ts
Due: eslint

chore: fix arg name in payment_instructions_service
  bc_obps/compliance/service/payment_instructions_service.py
Due: mypy

chore: cleanup console logs
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/review-compliance-summary/ComplianceSummaryReviewComponent.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/review-compliance-summary/ComplianceSummaryReviewPage.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/no-obligation/review-summary/ComplianceSummaryReviewPage.tsx
  bciers/apps/compliance/src/app/components/layout/CompliancePageHeading.tsx
  bciers/apps/compliance/src/app/utils/fetchComplianceSummaryReviewPageData.ts
  bciers/apps/compliance/src/app/utils/getComplianceSummary.tsx
Due: eslint

chore: add receipt_number and method to refresh_data_by_invoice
  bciers/apps/compliance/src/app/components/compliance-summary/manage-obligation/review-compliance-summary/MonetaryPaymentsGrid.tsx
  bciers/apps/compliance/src/app/components/payment-summaries/PaymentSummariesDataGrid.tsx
Due: eslint

chore: update types
  bciers/apps/compliance/src/app/types.ts
Due: eslint

chore: populate issued_by and issued_at only when approved
  bc_obps/compliance/migrations/0015_remove_complianceearnedcredit_restrict_bccr_trading_name_unless_not_issued_and_more.py
  bc_obps/compliance/models/compliance_earned_credit.py
  bc_obps/compliance/tests/models/test_compliance_earned_credit.py
  bc_obps/compliance/tests/service/test_compliance_earned_credits_service.py
Due: mypy

chore: remove unused InvoiceGetResponse schema
  bc_obps/compliance/service/elicensing/schema.py
Due: mypy

chore: remove search cells from compliance summaries datagrid - will be handled in a different ticket
  bciers/apps/compliance/src/app/components/compliance-summaries/ComplianceSummariesDataGrid.tsx
  bciers/apps/compliance/src/app/components/datagrid/models/compliance-summaries/complianceSummaryGroupColumns.tsx
Due: eslint

chore: use report operation name for populating project name in BCCR
  bc_obps/compliance/service/bc_carbon_registry/project_service.py
  bc_obps/compliance/tests/service/bc_carbon_registry/test_project_service.py
Due: mypy

chore: remove unused import
  bc_obps/compliance/service/elicensing/schema.py
Due: mypy

chore: update penalty status display logic in compliance summary
  bciers/apps/compliance/src/app/components/datagrid/models/compliance-summaries/complianceSummaryColumns.tsx
Due: eslint

feat: enhance earned credits flow with detailed status handling and display logic
  bciers/apps/compliance/src/app/components/compliance-summaries/cells/ActionCell.tsx
  bciers/apps/compliance/src/app/components/datagrid/models/compliance-summaries/complianceSummaryColumns.tsx
  bciers/apps/compliance/src/app/types.ts
  bciers/apps/compliance/src/tests/components/compliance-summaries/ComplianceSummariesDataGrid.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summaries/cells/ActionCell.test.tsx
  bciers/libs/utils/src/enums.ts
Due: eslint

chore: remove invoice_number from compliance summary and update related logic
  bc_obps/compliance/schema/compliance_report_version.py
  bciers/apps/compliance/src/app/components/compliance-summaries/cells/ActionCell.tsx
  bciers/apps/compliance/src/app/components/datagrid/models/compliance-summaries/complianceSummaryColumns.tsx
  bciers/apps/compliance/src/app/types.ts
  bciers/apps/compliance/src/tests/components/compliance-summaries/ComplianceSummariesDataGrid.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summaries/cells/ActionCell.test.tsx
  bciers/libs/utils/src/enums.ts
Due: eslint, mypy

chore: add new compliance status for pending invoice creation
  bc_obps/compliance/migrations/0016_alter_compliancereportversion_status.py
  bc_obps/compliance/models/compliance_report_version.py
Due: mypy

chore: update continue button visibility logic for CAS staff and redirect logic when issuance is not requested
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/internal/review-by-director/InternalReviewByDirectorPage.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/internal/review-credits-issuance-request/InternalReviewCreditsIssuanceRequestPage.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/internal/track-status-of-issuance/InternalTrackStatusOfIssuancePage.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/review-compliance-summary/ComplianceSummaryReviewComponent.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/internal/review-by-director/InternalReviewByDirectorPage.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/internal/review-credits-issuance-request/InternalReviewCreditsIssuanceRequestPage.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/internal/track-status-of-issuance/InternalTrackStatusOfIssuancePage.test.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/review-compliance-summary/ComplianceSummaryReviewComponent.test.tsx
Due: eslint

chore: replace latest instances of compliance summary id
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/internal/review-by-director/InternalReviewByDirectorPage.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/internal/review-credits-issuance-request/InternalReviewCreditsIssuanceRequestPage.tsx
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/internal/track-status-of-issuance/InternalTrackStatusOfIssuancePage.tsx
  bciers/apps/compliance/src/tests/components/compliance-summary/request-issuance/internal/review-by-director/InternalReviewByDirectorPage.test.tsx
Due: eslint

chore: make pre-commit happy
  bciers/apps/compliance/src/app/components/compliance-summary/request-issuance/review-compliance-summary/ComplianceSummaryReviewComponent.tsx
Due: eslint

chore: create NoChangeHandler
  bc_obps/compliance/service/supplementary_version_service.py
Due: mypy

test: pytest for the NoChangeHandler
  bc_obps/compliance/tests/service/test_supplementary_version_service.py
Due: mypy

test: add setup_method to handlers test
  bc_obps/compliance/tests/service/test_supplementary_version_service.py
Due: mypy

chore: replace all datetime.now with timezone.now
  bc_obps/compliance/tests/service/bc_carbon_registry/test_bc_carbon_registry_api_client.py
  bc_obps/registration/tests/models/event/event_base_model_mixin.py
  bc_obps/registration/tests/utils/baker_recipes.py
  bc_obps/service/operation_service.py
  bc_obps/service/tests/test_facility_designated_operation_timeline_service.py
  bc_obps/service/tests/test_operation_designated_operator_timeline_service.py
  bc_obps/service/tests/test_operation_service.py
  bc_obps/service/tests/test_transfer_event_service.py
  bc_obps/service/transfer_event_service.py
  bc_obps/service/user_operator_service.py
Due: mypy

chore: replace america/vancouver timezone with utc
  bc_obps/service/reporting_year_service.py
Due: mypy

docs: add documentation for timezone handling
  docs/README.md
  docs/backend/timezone-handling.md
Due: none

chore: replace datetime.now with timezone.now
  bc_obps/common/tests/test_email_service.py
  bc_obps/compliance/service/compliance_adjustment_service.py
  bc_obps/compliance/service/payment_instructions_service.py
  bc_obps/registration/tests/endpoints/test_transfer_events.py
  bc_obps/registration/tests/models/test_operation.py
  bc_obps/reporting/service/report_sign_off_service.py
  bc_obps/reporting/tests/utils/baker_recipes.py
  bc_obps/service/email/email_service.py
  bc_obps/service/tests/test_user_service.py
  dags/cas_bciers_dags.py
Due: mypy

chore: fix failing tests
  bc_obps/reporting/tests/service/test_reporting_year_service.py
Due: mypy

chore: implement pr review suggestions
  docs/backend/timezone-handling.md
Due: none

chore: added new doc for how to create manual backup of db
  docs/devops/manual_db_backup.md
Due: none

Update docs/devops/manual_db_backup.md
  docs/devops/manual_db_backup.md
Due: none

Path conditions:
  eslint: any of: \.(j|t)sx?$
  mypy: any of: \.py$
