Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy

eslint:
  name: ESLint
  language: system
  entry: ./.bin/pre-commit-lint.sh

mypy:
  name: Mypy
  language: system
  entry: ./.bin/pre-commit-mypy.sh

chore: use correct setting file
  bc_obps/rls/middleware/rls.py
Due: mypy

chore: add rls for contact data model and partially for some other registration data models
  bc_obps/registration/models/app_role.py
  bc_obps/registration/models/business_role.py
  bc_obps/registration/models/business_structure.py
  bc_obps/registration/models/contact.py
  bc_obps/registration/models/document.py
  bc_obps/registration/models/document_type.py
  bc_obps/registration/models/operation.py
  bc_obps/registration/models/operator.py
  bc_obps/rls/rls_configs/registration/address.py
  bc_obps/rls/rls_configs/registration/app_role.py
  bc_obps/rls/rls_configs/registration/business_role.py
  bc_obps/rls/rls_configs/registration/business_structure.py
  bc_obps/rls/rls_configs/registration/contact.py
  bc_obps/rls/rls_configs/registration/document.py
  bc_obps/rls/rls_configs/registration/document_type.py
  bc_obps/rls/rls_configs/registration/operation.py
  bc_obps/rls/rls_configs/registration/operator.py
Due: mypy

chore: add more flag
  bc_obps/rls/tests/utils/test_manager.py
  bc_obps/rls/utils/manager.py
Due: mypy

chore: update recipe path
  bc_obps/common/tests/conftest.py
  bc_obps/registration/tests/conftest.py
  bc_obps/registration/tests/models/test_timestamped_model.py
  bc_obps/reporting/tests/conftest.py
Due: mypy

chore: update conftest to fix tests
  bc_obps/common/tests/conftest.py
  bc_obps/common/tests/utils/helpers.py
  bc_obps/registration/tests/conftest.py
  bc_obps/reporting/tests/conftest.py
  bc_obps/rls/tests/conftest.py
  bc_obps/service/tests/conftest.py
Due: mypy

chore: address pr review suggestions
  bc_obps/bc_obps/settings.py
  bc_obps/registration/models/address.py
  bc_obps/registration/models/app_role.py
  bc_obps/registration/models/business_role.py
  bc_obps/registration/models/business_structure.py
  bc_obps/registration/models/contact.py
  bc_obps/registration/models/document.py
  bc_obps/registration/models/document_type.py
  bc_obps/registration/models/operation.py
  bc_obps/registration/models/operator.py
  bc_obps/registration/models/rls_configs/address.py
  bc_obps/registration/models/rls_configs/app_role.py
  bc_obps/registration/models/rls_configs/business_role.py
  bc_obps/registration/models/rls_configs/business_structure.py
  bc_obps/registration/models/rls_configs/contact.py
  bc_obps/registration/models/rls_configs/document.py
  bc_obps/registration/models/rls_configs/document_type.py
  bc_obps/registration/models/rls_configs/operation.py
  bc_obps/registration/models/rls_configs/operator.py
  bc_obps/rls/rls_configs/registration/contact.py
  bc_obps/rls/utils/helpers.py
Due: mypy

chore: bypass sonar
  bc_obps/rls/tests/test_rls_operations.py
Due: mypy

chore: add enums for schema and data model name
  bc_obps/registration/enums/enums.py
Due: mypy

chore: code cleanup
  bc_obps/registration/models/address.py
  bc_obps/registration/models/app_role.py
  bc_obps/registration/models/business_role.py
  bc_obps/registration/models/business_structure.py
  bc_obps/registration/models/document.py
  bc_obps/registration/models/operator.py
  bc_obps/service/data_access_service/parent_operator_service.py
  bc_obps/service/data_access_service/partner_operator_service.py
  bc_obps/service/operator_service_v2.py
Due: mypy

chore: grant access to public schema for silk profiler
  bc_obps/rls/utils/manager.py
Due: mypy

feat(compliance): initialize compliance API structure
  bc_obps/bc_obps/api.py
  bc_obps/compliance/admin.py
  bc_obps/compliance/api/__init__.py
  bc_obps/compliance/api/health.py
  bc_obps/compliance/api/router.py
  bc_obps/compliance/apps.py
  bc_obps/compliance/migrations/__init__.py
  bc_obps/compliance/schema/__init__.py
Due: mypy

feat(compliance): Add compliance summary models and endpoints
  bc_obps/compliance/api/compliance_summary.py
  bc_obps/compliance/models/__init__.py
  bc_obps/compliance/models/compliance_obligation.py
  bc_obps/compliance/models/compliance_period.py
  bc_obps/compliance/models/compliance_product.py
  bc_obps/compliance/models/compliance_summary.py
  bc_obps/compliance/schema/compliance_summary.py
  bc_obps/compliance/service/compliance_service.py
  bc_obps/compliance/tests/api/test_compliance_summary.py
  bc_obps/compliance/tests/service/test_compliance_service.py
  bc_obps/reporting/service/report_submission_service.py
  bc_obps/reporting/tests/service/test_report_submission_service.py
Due: mypy

fix: Update content text in external.json to use plural form of obligations
  bc_obps/common/fixtures/dashboard/compliance/external.json
Due: none

fix: Wrap items in dropdowns for multiSelectWidget
  bciers/libs/components/src/form/widgets/MultiSelectWidget.tsx
Due: eslint

chore: update allocation methodology options
  bc_obps/reporting/migrations/0039_reportproductemissionallocation_and_more.py
  bc_obps/reporting/models/report_product_emission_allocation.py
  bciers/apps/reporting/src/data/jsonSchema/facility/facilityEmissionAllocation.tsx
Due: eslint, mypy

chore: make allocation errors for zero emissions clearer
  bciers/apps/reporting/src/app/components/facility/calculateEmissionsData.ts
Due: eslint

chore: update text on registration tile
  bc_obps/common/fixtures/dashboard/bciers/dev/external.json
  bc_obps/common/fixtures/dashboard/bciers/prod/external.json
Due: none

chore: update fixtueres so all users are contacts
  bc_obps/registration/fixtures/mock/user.json
Due: none

feat: report version data is protected by trigger when version is submitted
  bc_obps/reporting/models/report_new_entrant.py
  bc_obps/reporting/models/report_new_entrant_production.py
  bc_obps/reporting/models/report_version.py
Due: mypy

chore: function generating an trigger for report version immutability in the related models
  bc_obps/bandit.yaml
  bc_obps/reporting/models/triggers.py
  bc_obps/reporting/utils.py
Due: mypy

chore: moving the get cascading models util to common app
  bc_obps/common/tests/utils/model_inspection.py
  bc_obps/service/tests/test_report_version_service.py
Due: mypy

chore: adding protection trigger to all reporting data models
  bc_obps/reporting/models/facility_report.py
  bc_obps/reporting/models/report_activity.py
  bc_obps/reporting/models/report_additional_data.py
  bc_obps/reporting/models/report_attachment.py
  bc_obps/reporting/models/report_emission.py
  bc_obps/reporting/models/report_fuel.py
  bc_obps/reporting/models/report_methodology.py
  bc_obps/reporting/models/report_new_entrant.py
  bc_obps/reporting/models/report_new_entrant_emission.py
  bc_obps/reporting/models/report_non_attributable_emissions.py
  bc_obps/reporting/models/report_operation.py
  bc_obps/reporting/models/report_operation_representative.py
  bc_obps/reporting/models/report_person_responsible.py
  bc_obps/reporting/models/report_product.py
  bc_obps/reporting/models/report_product_emission_allocation.py
  bc_obps/reporting/models/report_raw_activity_data.py
  bc_obps/reporting/models/report_source_type.py
  bc_obps/reporting/models/report_unit.py
  bc_obps/reporting/models/report_verification.py
  bc_obps/reporting/models/report_verification_visit.py
  bc_obps/reporting/tests/models/test_report_version.py
Due: mypy

chore: test for report activity
  bc_obps/reporting/migrations/0056_facilityreport_immutable_report_version_and_more.py
  bc_obps/reporting/models/triggers.py
  bc_obps/reporting/tests/models/test_report_activity.py
Due: mypy

test: testing the generated trigger
  bc_obps/reporting/models/triggers.py
  bc_obps/reporting/tests/models/test_triggers.py
Due: mypy

test: report facility and attachment
  bc_obps/reporting/migrations/0056_facilityreport_immutable_report_version_and_more.py
  bc_obps/reporting/tests/models/test_facility_report.py
  bc_obps/reporting/tests/models/test_report_attachment.py
  bc_obps/reporting/tests/utils/baker_recipes.py
  bc_obps/reporting/tests/utils/immutable_report_version.py
Due: mypy

chore: testing models for immutabilitiy
  bc_obps/reporting/tests/models/test_facility_report.py
  bc_obps/reporting/tests/models/test_report_activity.py
  bc_obps/reporting/tests/models/test_report_additional_data.py
  bc_obps/reporting/tests/models/test_report_attachment.py
  bc_obps/reporting/tests/models/test_report_emission.py
  bc_obps/reporting/tests/models/test_report_fuel.py
  bc_obps/reporting/tests/models/test_report_methodology.py
  bc_obps/reporting/tests/models/test_report_new_entrant.py
  bc_obps/reporting/tests/models/test_report_new_entrant_production.py
  bc_obps/reporting/tests/models/test_report_non_attributable_emissions.py
  bc_obps/reporting/tests/models/test_report_operation.py
  bc_obps/reporting/tests/models/test_report_operation_representative.py
  bc_obps/reporting/tests/models/test_report_person_responsible.py
  bc_obps/reporting/tests/models/test_report_product.py
  bc_obps/reporting/tests/models/test_report_product_emission_allocation.py
  bc_obps/reporting/tests/models/test_report_raw_activity_data.py
  bc_obps/reporting/tests/models/test_report_source_type.py
  bc_obps/reporting/tests/models/test_report_unit.py
  bc_obps/reporting/tests/models/test_report_verification.py
  bc_obps/reporting/tests/utils/immutable_report_version.py
Due: mypy

chore: tests for model fields
  bc_obps/reporting/tests/models/test_report_additional_data.py
  bc_obps/reporting/tests/models/test_report_person_responsible.py
  bc_obps/reporting/tests/models/test_report_verification.py
Due: mypy

chore: removing pkey on report_version from models
  bc_obps/registration/tests/utils/baker_recipes.py
  bc_obps/reporting/migrations/0056_delete_models_to_change_pkey.py
  bc_obps/reporting/migrations/0057_recreate_models_with_id_as_pkey.py
  bc_obps/reporting/migrations/0058_facilityreport_immutable_report_version_and_more.py
  bc_obps/reporting/models/report_additional_data.py
  bc_obps/reporting/models/report_person_responsible.py
  bc_obps/reporting/models/report_verification.py
  bc_obps/reporting/models/report_verification_visit.py
  bc_obps/reporting/tests/models/test_facility_report.py
  bc_obps/reporting/tests/models/test_report_verification_visit.py
  bc_obps/reporting/tests/models/test_report_version.py
  bc_obps/reporting/tests/utils/immutable_report_version.py
Due: mypy

Path conditions:
  eslint: any of: \.(j|t)sx?$
  mypy: any of: \.py$
