Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        language: system
        files: \.(j|t)sx?$|\.json$|\.md$|\.css$|\.scss$
        exclude: (\.next/|node_modules/|dist/|build/|coverage/|\.nx/cache/)
        entry: ./.bin/pre-commit-format.sh
      - id: eslint
        name: ESLint
        language: system
        files: \.(j|t)sx?$
        exclude: (\.next/|node_modules/|dist/|build/|coverage/|\.nx/cache/|tests/performance/)
        entry: ./.bin/pre-commit-lint.sh
      - id: mypy
        name: Mypy
        language: system
        types: [python]
        entry: ./.bin/pre-commit-mypy.sh

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-vcs-permalinks
      - id: check-yaml
        exclude: (^helm/.*/templates/)
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
      - id: black
        types: [python]
        args: ["--config", "bc_obps/pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.6
    hooks:
      - id: ruff
        args: ["bc_obps/", "--fix"]

  - repo: https://github.com/python-poetry/poetry
    rev: 2.2.1
    hooks:
      - id: poetry-check
        args: ["-C", "./bc_obps"]
      - id: poetry-lock
        args: ["-C", "./bc_obps"]

  - repo: https://github.com/PyCQA/bandit
    rev: "1.9.2"
    hooks:
      - id: bandit
        additional_dependencies: [pbr]
        args: ["-c", "bc_obps/bandit.yaml"]

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.29.1
    hooks:
      - id: gitleaks

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.23.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]

chore: added mocks.ts file for operations component tests; fixed most failing vitests
  bciers/apps/administration/tests/components/operations/OperationInformationForm.test.tsx
  bciers/apps/administration/tests/components/operations/mocks.ts
  bciers/libs/testConfig/src/helpers/fetchFormEnums.ts
  bciers/libs/testConfig/src/mocks.ts
Due: prettier, eslint

chore: changed ToggleWidget background colour to fix accessibility fail
  bciers/libs/components/src/form/widgets/ToggleWidget.tsx
  bciers/libs/styles/src/colors.ts
Due: prettier, eslint

chore: fixed failing vitests for Reporting
  bciers/apps/reporting/src/tests/components/products/ProductionDataPage.test.tsx
Due: prettier, eslint

chore: added tests for new functionality for ToggleWidget; added test for 2025 production data
  bciers/apps/reporting/src/tests/components/products/ProductionDataPage.test.tsx
  bciers/libs/components/src/form/widgets/OptedOutOperationWidget.tsx
  bciers/libs/components/src/form/widgets/ToggleWidget.test.tsx
  bciers/libs/components/src/form/widgets/ToggleWidget.tsx
Due: prettier, eslint

chore: added component tests for OptedOutOperationWidget
  bciers/libs/components/src/form/widgets/OptedOutOperationWidget.test.tsx
Due: prettier, eslint

chore: addressed some sonarcloud smells
  bciers/libs/actions/src/api/getReportingYears.ts
  bciers/libs/components/src/form/widgets/OptedOutOperationWidget.tsx
Due: prettier, eslint

chore: resolved merge conflicts
  bciers/libs/styles/src/colors.js
  bciers/libs/styles/src/colors.ts
Due: prettier, eslint

chore: fixed failing pytests
  bc_obps/common/tests/endpoints/auth/constants.py
  bc_obps/registration/tests/endpoints/_operations/_operation_id/_registration/test_opted_in_operation.py
  bc_obps/registration/tests/models/test_opted_in_operation_detail.py
  bc_obps/registration/tests/models/test_user.py
  bc_obps/reporting/service/reporting_dashboard_service.py
  bc_obps/reporting/tests/models/test_reporting_year.py
  bc_obps/service/tests/data_access_service/test_data_access_opted_out_operation_detail_service.py
Due: mypy

chore: removed OptedOutOperationDetail model; added final_reporting_year to OptedInOperationDetail per PR review feedback
  bc_obps/registration/api/__init__.py
  bc_obps/registration/api/_operations/_operation_id/_registration/opted_out_operation.py
  bc_obps/registration/migrations/0152_opted_out_operation.py
  bc_obps/registration/migrations/0155_opt_out_final_reporting_year.py
  bc_obps/registration/models/opted_in_operation_detail.py
  bc_obps/registration/schema/operation.py
  bc_obps/registration/schema/operation.py.orig
  bc_obps/reporting/migrations/0149_report_operation_final_reporting_year.py
  bc_obps/service/data_access_service/opted_out_operation_detail_service.py
  bc_obps/service/operation_service.py
Due: mypy

chore: added new PUT endpoint for updating final_reporting_year. Part of the work removing OptedOutOperationDetail model per review feedback
  bc_obps/registration/api/_operations/_operation_id/_registration/opted_in_operation.py
  bc_obps/registration/schema/operation.py
  bc_obps/service/data_access_service/opted_in_operation_detail_service.py
  bc_obps/service/operation_service.py
  bc_obps/service/report_version_service.py
Due: mypy

chore: subbed in hex value instead of importing variable from colors.js for now (until major refactor in another PR complete)
  bciers/libs/components/src/form/widgets/ToggleWidget.tsx
Due: prettier, eslint

chore: replaced UserError() with model.DoesNotExist error per review feedback
  bc_obps/service/operation_service.py
Due: mypy

chore: fixed SOME es-lint complaints
  bciers/libs/components/src/form/widgets/OptedOutOperationWidget.test.tsx
  bciers/libs/components/src/form/widgets/OptedOutOperationWidget.tsx
Due: prettier, eslint

chore: fixed eslint errors in ToggleWidget.tsx
  bciers/libs/components/src/form/widgets/ToggleWidget.tsx
Due: prettier, eslint

chore: implemented some changes based on PR feedback; fixed Nx error in TextField (across app)
  bc_obps/registration/schema/operation.py
  bc_obps/service/data_access_service/opted_in_operation_detail_service.py
  bciers/apps/administration/app/components/operations/OperationInformationForm.tsx
  bciers/apps/administration/app/components/operations/types.ts
  bciers/apps/registration/app/components/operations/registration/OptedInOperationForm.tsx
  bciers/apps/registration/app/components/operations/registration/types.ts
  bciers/libs/components/src/form/widgets/OptedOutOperationWidget.tsx
  bciers/libs/components/src/form/widgets/TextWidget.tsx
  bciers/libs/components/src/form/widgets/ToggleWidget.tsx
Due: prettier, eslint, mypy

chore: updated migration versions after release rebase
  bc_obps/registration/migrations/0156_opted_out_final_reporting_year.py
  bc_obps/reporting/migrations/0150_report_operation_final_reporting_year.py
Due: mypy

chore: fixed failing pytest
  bc_obps/reporting/tests/models/test_reporting_year.py
Due: mypy

chore: code cleanup; reverted TextWidget so-called fix so it can be done properly in tech debt ticket; updated OptedOutOperationWidget.test
  bc_obps/registration/enums/enums.py
  bciers/apps/administration/app/components/operations/OperationInformationForm.tsx
  bciers/libs/components/src/form/widgets/OptedOutOperationWidget.test.tsx
  bciers/libs/components/src/form/widgets/TextWidget.tsx
  bciers/libs/components/src/form/widgets/ToggleWidget.test.tsx
Due: prettier, eslint, mypy

chore: fixed mistakes from rebase conflicts
  bc_obps/registration/migrations/0143_historicaloptedoutoperationdetail_and_more.py
  bc_obps/registration/utils.py
Due: mypy

chore: deleted rogue .orig files that snuck in to git
  bc_obps/registration/migrations/0145_historicaloptedoutoperationdetail_and_more.py.orig
  bc_obps/registration/utils.py.orig
Due: none

chore: implemented PR feedback - added final_reporting_year to V2 report_production_data to reduce the number of API calls the frontend has to make on ProductionDataPage
  bc_obps/reporting/api_v2/forms/form_response_builder.py
  bc_obps/reporting/api_v2/forms/report_production_data.py
  bciers/apps/reporting/src/app/components/products/ProductionDataPage.tsx
  bciers/libs/actions/src/api/getProductionData.ts
Due: prettier, eslint, mypy

chore: small changes
  bc_obps/registration/utils.py
  bc_obps/service/report_version_service.py
Due: mypy

chore: frontend fixes and cleanup
  bc_obps/registration/schema/operation.py
  bciers/apps/administration/app/components/operations/types.ts
  bciers/apps/administration/app/data/jsonSchema/operationInformation/administrationRegistrationInformation.ts
  bciers/libs/components/src/form/widgets/OptedOutOperationWidget.test.tsx
  bciers/libs/components/src/form/widgets/OptedOutOperationWidget.tsx
  bciers/libs/components/src/form/widgets/ToggleWidget.tsx
Due: prettier, eslint, mypy

chore: fixed failing vitests for reporting
  bciers/apps/reporting/src/tests/components/products/ProductionDataPage.test.tsx
Due: prettier, eslint

chore: implemented PR feedback - used time machine to mock date in backend test
  bc_obps/reporting/api_v2/forms/form_response_builder.py
  bc_obps/reporting/tests/endpoints/test_reporting_years_endpoints.py
Due: mypy

chore: addressed a sonarcloud smell
  bciers/libs/components/src/form/widgets/OptedOutOperationWidget.tsx
Due: prettier, eslint

chore: add github token to schemaspy deploy action
  .github/workflows/schemaspy.yaml
Due: none

chore: quick change registration to reporting period on landing page
  bciers/apps/dashboard/app/data/home/events.json
Due: prettier

chore: disaster recovery documentation and make target
  Makefile
  docs/disasterRecovery.md
Due: prettier

chore: extracted postgres cluster
  Makefile
  helm/cas-bciers/templates/disaster-recovery/dr-postgres-cluster.yaml
Due: none

chore(deps): run yarn dedupe
  bciers/yarn.lock
Due: none

chore(deps): resolve node-tar vulnerability issue
  bciers/package.json
  bciers/yarn.lock
Due: prettier

chore: added jan_mar production data to ReportProduct model; added logic to determine production_period to use in compliance service; pytests need more work
  bc_obps/reporting/models/report_product.py
  bc_obps/reporting/service/compliance_service.py
  bc_obps/reporting/service/compliance_service_parameters.py
  bc_obps/reporting/tests/models/test_report_product.py
  bc_obps/reporting/tests/service/test_compliance_service/test_resolve_compliance_parameters.py
Due: mypy

chore: move recovery template out of cas-bciers helm directory
  Makefile
  disaster_recovery/dr-postgres-cluster.yaml
Due: none

chore: remove sparse-checkout configuration from schemaspy workflow
  .github/workflows/schemaspy.yaml
Due: none

chore: update e2e workflow not run happo on schedule events
  .github/workflows/test-nx-project-e2e.yaml
Due: none

chore: spec work on nightly schedule
  .github/workflows/nightly.yaml
Due: none

chore: add temporary workflow to test nightly fixes
  .github/workflows/test-nightly-fixes.yaml
Due: none

chore: trigger test workflow on push to verify schemaspy fix
  .github/workflows/test-nightly-fixes.yaml
Due: none
