Repository bcgov/cas-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, pylint

eslint:
  name: ESLint
  language: system
  entry: ./.bin/pre-commit-lint.sh

pylint:
  name: pylint
  entry: bash -c "cd bc_obps && poetry run pylint --rcfile=.pylintrc *.py"
  language: system
  require_serial: true

fix: add user_operator_status to type
  client/app/components/form/formDataTypes.ts
Due: eslint

chore: add user operator form data type
  client/app/components/routes/select-operator/form/UserOperator.tsx
Due: eslint

fix: remove partial types
  client/app/components/form/UserOperatorMultiStepForm.tsx
  client/app/components/routes/access-requests/form/UserOperatorReview.tsx
Due: eslint

chore: remove comment
  client/app/components/routes/access-requests/form/UserOperatorReview.tsx
Due: eslint

Chore: resolved some rebase conflicts and did some cleanup.
  client/app/components/form/UserOperatorForm.tsx
  client/app/components/routes/select-operator/form/UserOperator.tsx
Due: eslint

fix: no user operator id error
  client/app/components/routes/select-operator/form/UserOperator.tsx
Due: eslint

fix: multistep form url
  client/app/components/form/UserOperatorForm.tsx
Due: eslint

chore: separate `UserOperator` form to single and multi step
  client/app/components/routes/select-operator/form/UserOperator.tsx
Due: eslint

Fix: removed another duplicated code block
  client/app/components/form/UserOperatorForm.tsx
Due: eslint

Fix: removed duplicated code block
  client/app/components/datagrid/DataGrid.tsx
Due: eslint

chore: added commenting based on PR review
  client/app/components/datagrid/DataGrid.tsx
Due: eslint

chore: reverting rebase error
  bc_obps/registration/api/user_operator.py
Due: pylint

chore: added precommit spacing fix
  bc_obps/registration/schema/user_operator.py
Due: pylint

chore: debugging
  client/app/components/routes/select-operator/form/UserOperator.tsx
Due: eslint

chore: changed user operator auth logic
  bc_obps/registration/api/user_operator.py
  client/app/components/routes/access-requests/form/UserOperatorReview.tsx
Due: eslint, pylint

chore: fixed typing error
  client/app/components/form/UserOperatorForm.tsx
Due: eslint

chore: fixing more typing errors
  client/app/components/form/UserOperatorForm.tsx
Due: eslint

chore: fixed further typing issues
  client/app/components/routes/access-requests/AccessRequests.tsx
  client/app/components/routes/access-requests/types.ts
Due: eslint

chore: reverting commit error
  bc_obps/registration/api/user_operator.py
  client/app/components/form/MultiStepButtons.tsx
Due: eslint, pylint

chore: added second update user operator status endpoint
  bc_obps/registration/api/user_operator.py
  client/app/components/button/RequestAccessButton.tsx
  client/app/components/routes/access-requests/form/UserOperatorReview.tsx
Due: eslint, pylint

Chore: fixed failing unit tests
  bc_obps/registration/api/user_operator.py
  bc_obps/registration/tests/endpoints/test_useroperator_endpoints.py
Due: pylint

Path conditions:
  eslint: any of: \.(j|t)sx?$
  pylint: any of: \.py$
